{
  "openapi": "3.1.0",
  "info": {
    "title": "network-token-cryptogram",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/network-tokens/cryptograms": {
      "post": {
        "summary": "Generate Network Token Cryptogram",
        "description": "Generates a fresh, single-use network token cryptogram for a vaulted card, so it can be authorized on an external PSP. By default the response also includes the card's current network token (DPAN), which requires PCI certification; with `include_network_token: false` the response is cryptogram-only and does not.",
        "operationId": "generate-network-token-cryptogram",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["vaulted_token", "country"],
                "properties": {
                  "vaulted_token": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The vaulted token of the card, the same identifier used as `payment_method.vaulted_token` in [Create Payment](https://docs.y.uno/reference/create-payment). The card must be an enrolled card of your organization with an active network token.",
                    "examples": ["9b2f4b1c-7f3a-4c2e-9b1a-2b3c4d5e6f70"]
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code where the token will be used. Resolves the network token onboarding (organization + brand + country), with the same semantics as `country` in Create Payment.",
                    "examples": ["US"]
                  },
                  "amount": {
                    "type": "object",
                    "description": "Optional. Forwarded to the scheme; recommended, as some scheme flows bind the amount.",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code.",
                        "examples": ["USD"]
                      },
                      "value": {
                        "type": "number",
                        "description": "Amount value in the given currency.",
                        "examples": [49.99]
                      }
                    }
                  },
                  "include_network_token": {
                    "type": "boolean",
                    "default": true,
                    "description": "Optional. Whether the response includes the PAN-equivalent parts of the network token: `network_token.number` (the DPAN) and `network_token.token_data`. Defaults to `true`, which requires your organization to be a PCI-certified merchant. Send `false` for a cryptogram-only response with no PAN-equivalent data (the `network_token` object keeps `network`, `status`, `par` and `network_token_id`) — available without PCI certification, designed to pair with the [Forward Proxy](https://docs.y.uno/docs/security-and-compliance/pci-proxy/forward-proxy), which resolves the DPAN at forward time via the `network_token_number` expression. A non-PCI organization that sends `true` or omits the field receives `403 NETWORK_TOKEN_RETURN_NOT_ALLOWED`.",
                    "examples": [false]
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "vaulted_token": "9b2f4b1c-7f3a-4c2e-9b1a-2b3c4d5e6f70",
                    "country": "US",
                    "amount": { "currency": "USD", "value": 49.99 }
                  }
                },
                "cryptogram_only": {
                  "summary": "Cryptogram-only (no PCI certification required)",
                  "value": {
                    "vaulted_token": "9b2f4b1c-7f3a-4c2e-9b1a-2b3c4d5e6f70",
                    "country": "US",
                    "amount": { "currency": "USD", "value": 49.99 },
                    "include_network_token": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cryptogram generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "vaulted_token": {
                      "type": "string",
                      "description": "Echo of the request's vaulted token."
                    },
                    "network_token": {
                      "type": "object",
                      "description": "The card's current network token. Same shape returned by the PCI network-token retrieval. **When the request sets `include_network_token: false`, the `number` (DPAN) and `token_data` fields are omitted entirely** — the object keeps `network`, `status`, `par` and `network_token_id`.",
                      "properties": {
                        "network": { "type": "string", "description": "Card network.", "examples": ["VISA"] },
                        "number": {
                          "type": "string",
                          "description": "The current DPAN (device/network PAN). **Always submit this value with the returned `cryptogram`** — never a previously stored DPAN.",
                          "examples": ["4111111111111111"]
                        },
                        "status": { "type": ["string", "null"], "description": "Network token status.", "examples": ["ACTIVE"] },
                        "par": { "type": ["string", "null"], "description": "Payment Account Reference." },
                        "network_token_id": { "type": ["string", "null"], "description": "Network token identifier." },
                        "token_data": {
                          "type": "object",
                          "properties": {
                            "iin": { "type": "string" },
                            "lfd": { "type": "string", "description": "Last four digits of the DPAN." },
                            "expiration_month": { "type": "integer", "examples": [7] },
                            "expiration_year": { "type": "integer", "examples": [2029] }
                          }
                        }
                      }
                    },
                    "cryptogram": {
                      "type": "string",
                      "description": "A fresh, single-use cryptogram from the scheme, generated on every call. Submit it together with `network_token.number` (DPAN) and `eci` to your PSP.",
                      "examples": ["AgAAAAAABk4DWZ4C28yUQAAAAAA="]
                    },
                    "eci": {
                      "type": ["string", "null"],
                      "description": "Electronic Commerce Indicator. May be `null` for some Mastercard DSRP formats.",
                      "examples": ["05"]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Issuance timestamp (UTC)."
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "vaulted_token": "9b2f4b1c-7f3a-4c2e-9b1a-2b3c4d5e6f70",
                      "network_token": {
                        "network": "VISA",
                        "number": "4111111111111111",
                        "status": "ACTIVE",
                        "par": "V0010013022280191",
                        "network_token_id": "DNITHE302344816910968",
                        "token_data": { "iin": "411111", "lfd": "1111", "expiration_month": 7, "expiration_year": 2029 }
                      },
                      "cryptogram": "AgAAAAAABk4DWZ4C28yUQAAAAAA=",
                      "eci": "05",
                      "created_at": "2026-07-16T14:32:10Z"
                    }
                  },
                  "cryptogram_only": {
                    "summary": "Cryptogram-only (include_network_token: false)",
                    "value": {
                      "vaulted_token": "9b2f4b1c-7f3a-4c2e-9b1a-2b3c4d5e6f70",
                      "network_token": {
                        "network": "VISA",
                        "status": "ACTIVE",
                        "par": "V0010013022280191",
                        "network_token_id": "DNITHE302344816910968"
                      },
                      "cryptogram": "AgAAAAAABk4DWZ4C28yUQAAAAAA=",
                      "eci": "05",
                      "created_at": "2026-07-16T14:32:10Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `INVALID_REQUEST`, `INSTRUMENT_NOT_TOKENIZABLE`, `PAYMENT_METHOD_NOT_ENROLLED`, `NETWORK_TOKEN_NOT_FOUND`, `TOKEN_NOT_ACTIVE`, `NETWORK_NOT_SUPPORTED`, or `COUNTRY_NOT_SUPPORTED`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                },
                "examples": {
                  "network_token_not_found": {
                    "value": { "code": "NETWORK_TOKEN_NOT_FOUND", "messages": ["Payment method has no network token."] }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `NETWORK_TOKEN_RETURN_NOT_ALLOWED` (organization is not PCI-certified and the request did not set `include_network_token: false`), `PCI_MERCHANT_REQUIRED` (organization is not a PCI-certified merchant), or `PRODUCT_NOT_ENABLED` (product flag is off for the organization).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                },
                "examples": {
                  "network_token_return_not_allowed": {
                    "value": { "code": "NETWORK_TOKEN_RETURN_NOT_ALLOWED", "messages": ["Returning the network token requires PCI certification. Send include_network_token: false to receive the cryptogram only, or contact your Key Account Manager (KAM)."] }
                  },
                  "pci_merchant_required": {
                    "value": { "code": "PCI_MERCHANT_REQUIRED", "messages": ["This endpoint is only available to PCI-certified merchants."] }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — `PAYMENT_METHOD_NOT_FOUND`. The `vaulted_token` does not exist or does not belong to your organization (identical response, no existence leak).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                },
                "examples": {
                  "payment_method_not_found": {
                    "value": { "code": "PAYMENT_METHOD_NOT_FOUND", "messages": ["Payment method not found."] }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Provider error — `PROVIDER_ERROR`. The card scheme (Visa VTS / Mastercard MDES) could not be reached or returned an error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                },
                "examples": {
                  "provider_error": {
                    "value": { "code": "PROVIDER_ERROR", "messages": ["The network token cryptogram service is temporarily unavailable, please retry."] }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
