{
  "openapi": "3.1.0",
  "info": {
    "title": "customer-api",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    },
    "schemas": {
      "ReassignPaymentMethodInput": {
        "type": "object",
        "required": [
          "customer_id"
        ],
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "The unique identifier of the customer the payment method is reassigned to. The customer must already exist and belong to the same organization as the caller (UUID, 36 chars)."
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the payment method (its `vaulted_token`).",
            "example": "2fd6bf11-2129-4061-9c2a-34e196f89753"
          },
          "account_id": {
            "type": "string",
            "description": "The unique identifier of the account that owns the payment method.",
            "example": "493e9374-510a-4201-9e09-de669d75f256"
          },
          "customer_id": {
            "type": "string",
            "description": "The unique identifier of the customer the payment method now belongs to. Returned by the reassignment response so you can confirm the new owner.",
            "example": "b3f2c1a0-1234-4a5b-9c8d-000000000001"
          },
          "name": {
            "type": "string",
            "description": "The display name of the payment method.",
            "example": "VISA ****1111"
          },
          "description": {
            "type": "string",
            "description": "The description of the payment method.",
            "example": "VISA ****1111"
          },
          "type": {
            "type": "string",
            "description": "The type of the payment method.",
            "example": "CARD"
          },
          "category": {
            "type": "string",
            "description": "The category of the payment method.",
            "example": "CARD"
          },
          "country": {
            "type": "string",
            "description": "The country of the payment method, in ISO 3166-1 alpha-2 format.",
            "example": "US"
          },
          "status": {
            "type": "string",
            "description": "The status of the payment method.",
            "example": "ENROLLED"
          },
          "created_at": {
            "type": "string",
            "description": "The date and time when the payment method was created, in ISO 8601 format.",
            "example": "2024-06-04T12:47:46.992602Z"
          },
          "updated_at": {
            "type": "string",
            "description": "The date and time when the payment method was last updated, in ISO 8601 format.",
            "example": "2024-06-04T12:47:46.992603Z"
          },
          "enrollment": {
            "type": "object",
            "properties": {
              "session": {
                "type": "string",
                "description": "The enrollment session identifier.",
                "example": ""
              },
              "sdk_required_action": {
                "type": "boolean",
                "description": "Whether the SDK requires an additional action to complete enrollment.",
                "example": false
              }
            }
          },
          "provider": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The identifier of the provider that holds the payment method.",
                "example": "YUNO"
              },
              "type": {
                "type": "string",
                "description": "The type of the provider.",
                "example": "YUNO"
              },
              "token": {
                "type": "string",
                "description": "The provider token for the payment method.",
                "example": "a0000000-0000-4000-8000-000000000002"
              }
            }
          }
        }
      },
      "BadRequestError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code.",
            "enum": [
              "BAD_REQUEST"
            ]
          },
          "messages": {
            "type": "array",
            "description": "Human-readable description of the error.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PaymentMethodNotFoundError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code.",
            "enum": [
              "NOT_FOUND"
            ]
          },
          "messages": {
            "type": "array",
            "description": "Human-readable description of the error.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PaymentMethodConflictError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code.",
            "enum": [
              "CONFLICT"
            ]
          },
          "messages": {
            "type": "array",
            "description": "Human-readable description of the error.",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/payment-methods/{payment_method_id}": {
      "patch": {
        "summary": "Reassign a Payment Method to Another Customer",
        "description": "Reassigns an enrolled payment method to a different customer of the same account. The target customer must exist and belong to the same organization. The reassignment fails when the payment method is already assigned to a customer that has data. Returns the updated payment method, with the new owner in the `customer_id` field.",
        "operationId": "reassign-payment-method-api",
        "parameters": [
          {
            "name": "payment_method_id",
            "in": "path",
            "description": "The unique identifier of the `payment_method`. This is the `vaulted_token` received when enrolling a payment method with [Enroll Payment Method](/reference/enroll-payment-method-api) (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-account-code",
            "in": "header",
            "description": "The unique identifier of the account that owns the payment method (UUID, 36 chars).",
            "schema": {
              "type": "string",
              "x-default": "<Your X-account-code>"
            },
            "required": true
          },
          {
            "name": "X-idempotency-key",
            "in": "header",
            "description": "A unique key that makes the request safe to retry. Use the UUID format.",
            "schema": {
              "type": "string",
              "x-default": "<Your X-idempotency-key>"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReassignPaymentMethodInput"
              },
              "example": {
                "customer_id": "b3f2c1a0-1234-4a5b-9c8d-000000000001"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The reassigned payment method, including the new owner in the `customer_id` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod"
                },
                "example": {
                  "id": "2fd6bf11-2129-4061-9c2a-34e196f89753",
                  "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                  "customer_id": "b3f2c1a0-1234-4a5b-9c8d-000000000001",
                  "name": "VISA ****1111",
                  "description": "VISA ****1111",
                  "type": "CARD",
                  "category": "CARD",
                  "country": "US",
                  "status": "ENROLLED",
                  "created_at": "2024-06-04T12:47:46.992602Z",
                  "updated_at": "2024-06-04T12:47:46.992603Z",
                  "enrollment": {
                    "session": "",
                    "sdk_required_action": false
                  },
                  "provider": {
                    "id": "YUNO",
                    "type": "YUNO",
                    "token": "a0000000-0000-4000-8000-000000000002"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid, or the target customer does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                },
                "examples": {
                  "Target customer does not exist": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "target customer does not exist"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The payment method does not exist for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodNotFoundError"
                },
                "examples": {
                  "Payment method not found": {
                    "value": {
                      "code": "NOT_FOUND",
                      "messages": [
                        "payment_method not found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The payment method is already assigned to a customer that has data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodConflictError"
                },
                "examples": {
                  "Already assigned to a customer with data": {
                    "value": {
                      "code": "CONFLICT",
                      "messages": [
                        "payment_method is already assigned to a customer with data"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  }
}
