{
  "openapi": "3.1.0",
  "info": {
    "title": "customer-api-register-payment-method",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your private-secret-key>",
        "name": "private-secret-key"
      },
      "sec2": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Idempotency-Key",
        "x-default": "<Your X-Idempotency-Key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": [],
      "sec2": []
    }
  ],
  "paths": {
    "/payment-methods/account-updater": {
      "post": {
        "summary": "Register stored cards for Account Updater",
        "description": "Register up to 100 stored cards for Card Account Updater in a single request, identified by their payment method id (`vaulted_token`). Validation is synchronous and all-or-nothing: if any id is invalid the whole request is rejected. Registration itself runs asynchronously, so a `200` response confirms the cards were accepted, not that the update completed. Your account must be enabled for Card Account Updater to use this endpoint.",
        "operationId": "register-cards-for-account-updater-api",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "examples": {
                "Register cards": {
                  "value": {
                    "payment_method_ids": [
                      "cbdcc878-ceb4-4dd8-b0f0-49d444855de0",
                      "03c3aae1-ed42-4be6-bc24-de5487f58491"
                    ]
                  }
                }
              },
              "schema": {
                "type": "object",
                "required": [
                  "payment_method_ids"
                ],
                "properties": {
                  "payment_method_ids": {
                    "type": "array",
                    "description": "List of stored payment method ids (`vaulted_token`) to register for Card Account Updater. Between 1 and 100 items; each must be a valid UUID.",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "example": "cbdcc878-ceb4-4dd8-b0f0-49d444855de0"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "accepted": 2
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "integer",
                      "description": "Number of cards accepted for Card Account Updater registration.",
                      "example": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_CREDENTIALS",
                      "messages": [
                        "Invalid credentials"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": {
                      "code": "AUTHORIZATION_REQUIRED",
                      "messages": [
                        "The merchant has no authorization to use this API."
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
