{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Banking Connectivity"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno"
    }
  ],
  "paths": {
    "/v1/banking/accounts": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the Banking Connectivity account (prefixed `acct_`).",
                      "example": "acct_aa0e8400-e29b-41d4-a716-446655440000"
                    },
                    "entity_id": {
                      "type": "string",
                      "description": "The `id` of the entity associated with this account.",
                      "example": "ent_660e8400-e29b-41d4-a716-446655440000"
                    },
                    "onboarding_id": {
                      "type": "string",
                      "description": "The `id` of the onboarding used to create this account.",
                      "example": "onb_990e8400-e29b-41d4-a716-446655440000"
                    },
                    "account_id": {
                      "type": "string",
                      "description": "The merchant's Yuno account identifier.",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "provider": {
                      "type": "object",
                      "description": "Provider-side identifiers for the account.",
                      "properties": {
                        "account_id": {
                          "type": "string",
                          "description": "The provider's internal account identifier.",
                          "example": "col_bank_account_789"
                        }
                      }
                    },
                    "account_type": {
                      "type": "string",
                      "description": "The type of bank account.",
                      "enum": [
                        "CHECKING",
                        "SAVINGS",
                        "INVESTMENT"
                      ],
                      "example": "CHECKING"
                    },
                    "status": {
                      "type": "string",
                      "description": "The current status of the account.",
                      "enum": [
                        "ACTIVE",
                        "PENDING",
                        "INACTIVE"
                      ],
                      "example": "ACTIVE"
                    },
                    "account_number": {
                      "type": "string",
                      "description": "The bank account number.",
                      "example": "1234567890"
                    },
                    "routing_number": {
                      "type": "string",
                      "nullable": true,
                      "description": "The US routing number. Present for US-based accounts.",
                      "example": "123456789"
                    },
                    "iban": {
                      "type": "string",
                      "nullable": true,
                      "description": "The International Bank Account Number. Present for UK and EU accounts.",
                      "example": null
                    },
                    "currency": {
                      "type": "string",
                      "description": "The account currency ([ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)).",
                      "example": "USD"
                    },
                    "balance": {
                      "type": "object",
                      "description": "The current balance information for the account.",
                      "properties": {
                        "available": {
                          "type": "number",
                          "description": "The available balance that can be used for transfers.",
                          "example": 0
                        },
                        "current": {
                          "type": "number",
                          "description": "The current total balance including pending transactions.",
                          "example": 0
                        },
                        "pending": {
                          "type": "number",
                          "description": "The amount currently in pending transactions.",
                          "example": 0
                        }
                      }
                    },
                    "account_details": {
                      "type": "object",
                      "description": "Additional account details and region-specific identifiers.",
                      "properties": {
                        "account_name": {
                          "type": "string",
                          "description": "The display name for the account.",
                          "example": "John Doe - Checking"
                        },
                        "sort_code": {
                          "type": "string",
                          "nullable": true,
                          "description": "The UK sort code. Present for UK-based accounts.",
                          "example": null
                        },
                        "bsb": {
                          "type": "string",
                          "nullable": true,
                          "description": "The Australian BSB number. Present for Australia-based accounts.",
                          "example": null
                        },
                        "swift": {
                          "type": "string",
                          "nullable": true,
                          "description": "The SWIFT/BIC code for international transfers.",
                          "example": null
                        }
                      }
                    },
                    "payment_rails": {
                      "type": "object",
                      "description": "The payment rails supported by this account.",
                      "properties": {
                        "incoming": {
                          "type": "array",
                          "description": "Payment rails available for receiving funds.",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "ACH",
                            "WIRE"
                          ]
                        },
                        "outgoing": {
                          "type": "array",
                          "description": "Payment rails available for sending funds.",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "ACH",
                            "WIRE"
                          ]
                        }
                      }
                    },
                    "supports_book_transfers": {
                      "type": "boolean",
                      "description": "Whether the account supports internal (book) transfers between accounts on the same provider.",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp when the account was created (ISO 8601).",
                      "example": "2026-02-01T10:10:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "The timestamp when the account was last updated (ISO 8601).",
                      "example": "2026-02-01T10:10:00Z"
                    }
                  }
                },
                "examples": {
                  "Created (Account)": {
                    "summary": "Created (Account)",
                    "value": {
                      "id": "acct_aa0e8400-e29b-41d4-a716-446655440000",
                      "entity_id": "ent_660e8400-e29b-41d4-a716-446655440000",
                      "onboarding_id": "onb_990e8400-e29b-41d4-a716-446655440000",
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "provider": {
                        "account_id": "col_bank_account_789"
                      },
                      "account_type": "CHECKING",
                      "status": "ACTIVE",
                      "account_number": "1234567890",
                      "routing_number": "123456789",
                      "iban": null,
                      "currency": "USD",
                      "balance": {
                        "available": 0,
                        "current": 0,
                        "pending": 0
                      },
                      "account_details": {
                        "account_name": "John Doe - Checking",
                        "sort_code": null,
                        "bsb": null,
                        "swift": null
                      },
                      "payment_rails": {
                        "incoming": [
                          "ACH",
                          "WIRE"
                        ],
                        "outgoing": [
                          "ACH",
                          "WIRE"
                        ]
                      },
                      "supports_book_transfers": true,
                      "created_at": "2026-02-01T10:10:00Z",
                      "updated_at": "2026-02-01T10:10:00Z"
                    }
                  }
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Onboarding status must be SUCCEEDED to create an account"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 400,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "messages": [
                        "Onboarding status must be SUCCEEDED to create an account"
                      ],
                      "http_code": 400
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "ONBOARDING_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Onboarding not found"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 404,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Not Found": {
                    "summary": "Not Found",
                    "value": {
                      "code": "ONBOARDING_NOT_FOUND",
                      "messages": [
                        "Onboarding not found"
                      ],
                      "http_code": 404
                    }
                  }
                }
              }
            },
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "x-idempotency-key",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier used in HTTP headers to ensure that a request is processed only once, even if it is retried due to network issues or timeouts. See [authentication](/reference/authentication#idempotency) for details (UUID).",
            "required": true
          }
        ],
        "operationId": "post_v1-banking-connectivity-accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "onboarding_id",
                  "account_type",
                  "currency"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the merchant's Yuno account. Found on the [Yuno dashboard](https://dashboard.y.uno/) (UUID, 36 characters).",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "onboarding_id": {
                    "type": "string",
                    "description": "The `id` of a successful onboarding obtained from [Create Entity Onboarding](/reference/create-entity-onboarding). The onboarding must have `status: SUCCEEDED`.",
                    "example": "onb_990e8400-e29b-41d4-a716-446655440000"
                  },
                  "account_type": {
                    "type": "string",
                    "description": "The type of bank account to create.",
                    "enum": [
                      "CHECKING",
                      "SAVINGS",
                      "INVESTMENT"
                    ],
                    "example": "CHECKING"
                  },
                  "currency": {
                    "type": "string",
                    "description": "The currency for the account ([ISO 4217](https://en.wikipedia.org/wiki/ISO_4217), 3 characters). Supported values depend on the provider region: `USD` (US), `GBP` (UK), `AUD` (Australia), `EUR` (EU).",
                    "example": "USD"
                  }
                }
              },
              "examples": {
                "Create Account": {
                  "summary": "Create Account",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "onboarding_id": "onb_990e8400-e29b-41d4-a716-446655440000",
                    "account_type": "CHECKING",
                    "currency": "USD"
                  }
                }
              }
            }
          }
        },
        "summary": "Create Account (Banking Connectivity)",
        "tags": [
          "Accounts (Banking Connectivity)"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}