{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Communications Campaigns"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "paths": {
    "/campaigns": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                        },
                        "name": {
                          "type": "string",
                          "example": "Declined Payment Recovery - Colombia"
                        },
                        "account_id": {
                          "type": "string",
                          "example": "2404911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "organization_code": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "country": {
                          "type": "string",
                          "example": "CO"
                        },
                        "channel": {
                          "type": "string",
                          "example": "WHATSAPP_MESSAGE"
                        },
                        "schedule": {
                          "type": "object",
                          "properties": {
                            "daily_start_time": {
                              "type": "string",
                              "example": "08:00"
                            },
                            "daily_end_time": {
                              "type": "string",
                              "example": "21:00"
                            },
                            "time_zone": {
                              "type": "string",
                              "example": "America/Bogota"
                            }
                          }
                        },
                        "duration": {
                          "type": "object",
                          "properties": {
                            "start_at": {
                              "type": "string",
                              "example": "2025-07-01T00:00:00Z"
                            },
                            "end_at": {
                              "type": "string",
                              "example": "2026-07-01T00:00:00Z"
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-07-01T12:00:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-07-01T12:00:00Z"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Created": {
                    "summary": "Created",
                    "value": {
                      "data": {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "name": "Declined Payment Recovery - Colombia",
                        "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                        "organization_code": "550e8400-e29b-41d4-a716-446655440000",
                        "country": "CO",
                        "channel": "WHATSAPP_MESSAGE",
                        "schedule": {
                          "daily_start_time": "08:00",
                          "daily_end_time": "21:00",
                          "time_zone": "America/Bogota"
                        },
                        "duration": {
                          "start_at": "2025-07-01T00:00:00Z",
                          "end_at": "2026-07-01T00:00:00Z"
                        },
                        "status": "ACTIVE",
                        "created_at": "2025-07-01T12:00:00Z",
                        "updated_at": "2025-07-01T12:00:00Z"
                      }
                    }
                  }
                }
              }
            },
            "description": "Created"
          }
        },
        "parameters": [],
        "operationId": "post_campaigns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign name for identification."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Your Yuno account ID, found in the [Yuno Dashboard](https://dashboard.y.uno/developers) (UUID)."
                  },
                  "organization_code": {
                    "type": "string",
                    "description": "Your organization identifier (UUID)."
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code (e.g., `CO`, `MX`, `BR`)."
                  },
                  "channel": {
                    "type": "string",
                    "description": "Communication channel.",
                    "enum": [
                      "WHATSAPP_MESSAGE",
                      "PHONE_CALL"
                    ]
                  },
                  "focus": {
                    "type": "string",
                    "description": "Campaign focus descriptor (e.g., `payment_recovery`)."
                  },
                  "schedule": {
                    "type": "object",
                    "properties": {
                      "daily_start_time": {
                        "type": "string",
                        "description": "Start of daily send window in `HH:MM` format."
                      },
                      "daily_end_time": {
                        "type": "string",
                        "description": "End of daily send window in `HH:MM` format."
                      },
                      "time_zone": {
                        "type": "string",
                        "description": "IANA timezone (e.g., `America/Bogota`) or UTC offset (e.g., `-05:00`)"
                      }
                    },
                    "required": [
                      "daily_start_time",
                      "daily_end_time",
                      "time_zone"
                    ],
                    "description": "Scheduling configuration."
                  },
                  "duration": {
                    "type": "object",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "Campaign start date in ISO 8601 format."
                      },
                      "end_at": {
                        "type": "string",
                        "description": "Campaign end date in ISO 8601 format. Must be after `start_at`."
                      }
                    },
                    "required": [
                      "end_at",
                      "start_at"
                    ],
                    "description": "Campaign active period."
                  }
                },
                "required": [
                  "name",
                  "duration",
                  "schedule",
                  "channel",
                  "country",
                  "organization_code",
                  "account_id"
                ]
              },
              "examples": {
                "Basic declined payment recovery": {
                  "summary": "Basic declined payment recovery",
                  "value": {
                    "name": "Mexico Card Recovery",
                    "account_id": "YOUR_ACCOUNT_ID",
                    "organization_code": "YOUR_ORGANIZATION_CODE",
                    "country": "MX",
                    "channel": "WHATSAPP_MESSAGE",
                    "focus": "payment_recovery",
                    "schedule": {
                      "daily_start_time": "09:00",
                      "daily_end_time": "20:00",
                      "time_zone": "America/Mexico_City"
                    },
                    "duration": {
                      "start_at": "2025-08-01T00:00:00Z",
                      "end_at": "2026-08-01T00:00:00Z"
                    }
                  }
                },
                "High-value transaction recovery via phone call": {
                  "summary": "High-value transaction recovery via phone call",
                  "value": {
                    "name": "High Value Recovery - Phone",
                    "account_id": "YOUR_ACCOUNT_ID",
                    "organization_code": "YOUR_ORGANIZATION_CODE",
                    "country": "CO",
                    "channel": "PHONE_CALL",
                    "focus": "payment_recovery",
                    "schedule": {
                      "daily_start_time": "09:00",
                      "daily_end_time": "18:00",
                      "time_zone": "America/Bogota"
                    },
                    "duration": {
                      "start_at": "2025-08-01T00:00:00Z",
                      "end_at": "2026-08-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}