{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Communications Campaigns"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "paths": {
    "/campaigns/{campaign_id}/rules/{rule_id}": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "f1e2d3c4-b5a6-7890-abcd-ef1234567890"
                        },
                        "rule_type": {
                          "type": "string",
                          "example": "PAYMENT_STATUS"
                        },
                        "values": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "DECLINED"
                          ]
                        },
                        "conditional": {
                          "type": "string",
                          "example": "EQUAL"
                        },
                        "metadata_key": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "status": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-07-01T12:05:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-07-01T12:05:00Z"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "data": {
                        "id": "f1e2d3c4-b5a6-7890-abcd-ef1234567890",
                        "rule_type": "PAYMENT_STATUS",
                        "values": [
                          "DECLINED"
                        ],
                        "conditional": "EQUAL",
                        "metadata_key": null,
                        "status": "ACTIVE",
                        "created_at": "2025-07-01T12:05:00Z",
                        "updated_at": "2025-07-01T12:05:00Z"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "campaign_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The campaign identifier (UUID)."
          },
          {
            "in": "path",
            "name": "rule_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The rule identifier (UUID)."
          }
        ],
        "operationId": "get_campaigns-campaign-id-rules-rule-id"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}