{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Communications Campaigns"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "paths": {
    "/campaigns": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                          },
                          "name": {
                            "type": "string",
                            "example": "Declined Payment Recovery - Colombia"
                          },
                          "country": {
                            "type": "string",
                            "example": "CO"
                          },
                          "channel": {
                            "type": "string",
                            "example": "WHATSAPP_MESSAGE"
                          },
                          "status": {
                            "type": "string",
                            "example": "ACTIVE"
                          },
                          "duration": {
                            "type": "object",
                            "properties": {
                              "start_at": {
                                "type": "string",
                                "example": "2025-07-01T00:00:00Z"
                              },
                              "end_at": {
                                "type": "string",
                                "example": "2026-07-01T00:00:00Z"
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2025-07-01T12:00:00Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-07-01T12:00:00Z"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 5
                        },
                        "limit": {
                          "type": "integer",
                          "example": 10
                        },
                        "offset": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "data": [
                        {
                          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "name": "Declined Payment Recovery - Colombia",
                          "country": "CO",
                          "channel": "WHATSAPP_MESSAGE",
                          "status": "ACTIVE",
                          "duration": {
                            "start_at": "2025-07-01T00:00:00Z",
                            "end_at": "2026-07-01T00:00:00Z"
                          },
                          "created_at": "2025-07-01T12:00:00Z",
                          "updated_at": "2025-07-01T12:00:00Z"
                        }
                      ],
                      "meta": {
                        "total": 5,
                        "limit": 10,
                        "offset": 0
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Results per page (1-100)",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Filter by start date (ISO 8601)",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "Filter by end date (ISO 8601)",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "operationId": "get_campaigns"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}