{
  "openapi": "3.1.0",
  "info": {
    "title": "Yuno Payments API",
    "description": "Yuno payment orchestration API for processing payments across Latin America",
    "version": "1.0.0",
    "contact": {
      "name": "Yuno Support",
      "email": "support@y.uno"
    }
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno",
      "description": "Sandbox"
    },
    {
      "url": "https://api.y.uno",
      "description": "Production"
    }
  ],
  "security": [
    {
      "publicApiKey": [],
      "privateSecretKey": [],
      "accountCode": []
    }
  ],
  "paths": {
    "/v1/checkout/sessions": {
      "post": {
        "operationId": "createCheckoutSession",
        "summary": "Create checkout session",
        "description": "Creates a new checkout session to initialize a payment flow. Returns HTTP 200 (not 201).",
        "tags": [
          "Checkout Sessions"
        ],
        "x-ratelimit": {
          "limit": 100,
          "window": "60s"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutSessionRequest"
              },
              "example": {
                "amount": {
                  "currency": "BRL",
                  "value": 150.0
                },
                "country": "BR",
                "merchant_order_id": "order-20260301-001",
                "account_id": "your-account-id",
                "payment_description": "Premium subscription - March 2026",
                "workflow": "SDK_CHECKOUT"
              },
              "examples": {
                "Checkout Session (full data)": {
                  "value": {
                    "account_id": "{{account_id}}",
                    "merchant_order_id": "1717681150",
                    "payment_description": "Test Cards",
                    "country": "CO",
                    "customer_id": "{{customer_id}}",
                    "callback_url": "https://www.example.com",
                    "amount": {
                      "currency": "COP",
                      "value": 8000
                    },
                    "alternative_amount": {
                      "currency": "USD",
                      "value": 2
                    },
                    "metadata": [
                      {
                        "key": "ID",
                        "value": "123456"
                      }
                    ],
                    "recurring_payment": {
                      "description": "Monthly subscription",
                      "management_url": "https://example.com/manage",
                      "billing_agreement": "BA-123",
                      "regular_billing": {
                        "label": "Monthly",
                        "amount": "9.99",
                        "interval_unit": "month",
                        "interval_count": 1
                      },
                      "trial_billing": {
                        "label": "Free trial",
                        "amount": "0.00",
                        "interval_unit": "month",
                        "interval_count": 1
                      }
                    }
                  }
                },
                "Checkout Session (min data)": {
                  "value": {
                    "country": "US",
                    "amount": {
                      "currency": "USD",
                      "value": 100
                    },
                    "alternative_amount": {
                      "currency": "ARS",
                      "value": "140000"
                    },
                    "account_id": "{{account_id}}",
                    "merchant_order_id": "1717681150",
                    "payment_description": "Test Cards",
                    "customer_id": "{{customer_id}}"
                  }
                },
                "Checkout Session (alternative currency omitted)": {
                  "value": {
                    "account_id": "{{account_id}}",
                    "merchant_order_id": "1717681150",
                    "payment_description": "Test Cards",
                    "country": "CO",
                    "customer_id": "{{customer_id}}",
                    "amount": {
                      "currency": "COP",
                      "value": 8000
                    }
                  },
                  "summary": "Checkout Session (alternative currency omitted)"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSession"
                },
                "example": {
                  "checkout_session": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "amount": {
                    "currency": "BRL",
                    "value": 150.0
                  },
                  "country": "BR",
                  "merchant_order_id": "order-20260301-001",
                  "status": "ACTIVE",
                  "created_at": "2026-03-01T14:30:00.000Z",
                  "payment_methods": [
                    {
                      "type": "CARD"
                    },
                    {
                      "type": "PIX"
                    },
                    {
                      "type": "BOLETO"
                    }
                  ]
                },
                "examples": {
                  "Checkout Session (min. data)": {
                    "value": {
                      "merchant_order_id": "1717681150",
                      "checkout_session": "d313047b-4f96-44ef-bbad-caf1d7ba4c2b",
                      "country": "US",
                      "payment_description": "Test Cards",
                      "customer_id": "a577ad8f-08f1-4590-9cf1-e7679b15ee84",
                      "callback_url": "https://www.example.com/callback",
                      "amount": {
                        "currency": "USD",
                        "value": 520
                      },
                      "created_at": "2024-06-06T13:39:10.932297Z",
                      "metadata": null,
                      "workflow": "SDK_CHECKOUT",
                      "installments": {
                        "plan_id": null,
                        "plan": null
                      }
                    }
                  },
                  "Checkout Session (full data)": {
                    "value": {
                      "merchant_order_id": "1717681150",
                      "checkout_session": "c437f4cc-7d66-40e6-a8df-7c3cde1ddca7",
                      "country": "US",
                      "payment_description": "Test Cards",
                      "customer_id": "55006822-7c79-490b-bea1-81798b9afc74",
                      "callback_url": "https://www.example.com/?checkoutSession=c437f4cc-7d66-40e6-a8df-7c3cde1ddca7",
                      "amount": {
                        "currency": "USD",
                        "value": 520
                      },
                      "created_at": "2023-07-20T17:06:17.232130Z",
                      "metadata": [
                        {
                          "key": "ID",
                          "value": "123456"
                        }
                      ],
                      "workflow": "SDK_CHECKOUT",
                      "installments": {
                        "plan_id": null,
                        "plan": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_REQUEST",
                    "message": "amount.currency is required and must be a valid ISO 4217 code"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNAUTHORIZED",
                    "message": "Invalid or missing API key"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/sessions/{checkout_session_id}": {
      "get": {
        "operationId": "getCheckoutSession",
        "summary": "Get checkout session",
        "description": "Retrieves the details of an existing checkout session.",
        "tags": [
          "Checkout Sessions"
        ],
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the checkout session",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSession"
                },
                "examples": {
                  "Result": {
                    "value": {
                      "id": "02caeb08-45c0-4670-9736-5bdee1b311f8",
                      "merchant_order_id": "1752072398",
                      "country": "AR",
                      "payment_description": "Test Cards",
                      "customer_id": "e937e18e-a684-4d7b-a1a1-ab64c10a941d",
                      "callback_url": "https://google.com/?checkoutSession=02caeb08-45c0-4670-9736-5bdee1b311f8",
                      "amount": {
                        "currency": "ARS",
                        "value": 520
                      },
                      "created_at": "2025-07-09T14:46:39.515251Z",
                      "metadata": null,
                      "workflow": "SDK_CHECKOUT",
                      "installments": {
                        "plan_id": null,
                        "plan": null
                      },
                      "used": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Checkout session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCheckoutSession",
        "summary": "Update checkout session",
        "description": "Updates an existing checkout session. You can modify the amount, metadata, or other mutable fields before the session expires or a payment is completed.",
        "tags": [
          "Checkout Sessions"
        ],
        "x-ratelimit": {
          "limit": 100,
          "window": "60s"
        },
        "parameters": [
          {
            "name": "checkout_session_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the checkout session to update",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "object",
                    "description": "Updated payment amount",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code",
                        "example": "BRL"
                      },
                      "value": {
                        "type": "number",
                        "description": "Payment amount",
                        "example": 200.0
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Key-value pairs for storing additional information",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "order_id": "ORD-789",
                      "updated_reason": "price_adjustment"
                    }
                  },
                  "merchant_order_id": {
                    "type": "string",
                    "description": "Updated merchant order reference",
                    "example": "order-updated-456"
                  }
                }
              },
              "example": {
                "amount": {
                  "currency": "BRL",
                  "value": 200.0
                },
                "metadata": {
                  "order_id": "ORD-789"
                }
              },
              "examples": {
                "Update checkout session": {
                  "value": {
                    "country": "BR",
                    "amount": {
                      "currency": "ARS"
                    },
                    "alternative_amount": {
                      "currency": "ARS"
                    },
                    "merchant_order_id": "007",
                    "payment_description": "Payment Test",
                    "account_id": "{{account_id}}"
                  },
                  "summary": "Update checkout session"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSession"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "merchant_order_id": "007",
                      "checkout_session": "c67ce158-6053-4661-a1de-aed5c945b935",
                      "country": "BR",
                      "payment_description": "Payment Test",
                      "callback_url": null,
                      "amount": {
                        "currency": "ARS",
                        "value": 100
                      },
                      "created_at": "2025-11-14T00:43:22.719648Z",
                      "metadata": null,
                      "workflow": "SDK_CHECKOUT",
                      "installments": {
                        "plan_id": null,
                        "plan": null
                      },
                      "used": false
                    },
                    "summary": "Success"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Checkout session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Checkout session cannot be updated (already completed or expired)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create payment",
        "description": "Creates a new payment using a checkout session.",
        "tags": [
          "Payments"
        ],
        "x-ratelimit": {
          "limit": 100,
          "window": "60s"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              },
              "examples": {
                "Example - Placeholders": {
                  "value": {
                    "description": "Test Payment",
                    "account_id": "{{account-code}}",
                    "merchant_order_id": "AA01",
                    "merchant_reference": "Test_AAB",
                    "country": "US",
                    "additional_data": {
                      "airline": {
                        "legs": [
                          {
                            "arrival_airport": "AMS",
                            "base_fare": 200,
                            "base_fare_currency": "USD",
                            "carrier_code": "KL",
                            "departure_airport": "EZE",
                            "departure_airport_timezone": "-03:00",
                            "departure_datetime": "2024-07-03T05:00:00",
                            "arrival_datetime": "2024-08-03T05:00:00",
                            "fare_basis_code": "HL7LNR",
                            "fare_class_code": "FR",
                            "flight_number": "842",
                            "stopover_code": "s"
                          }
                        ],
                        "passengers": [
                          {
                            "country": "US",
                            "date_of_birth": "1984-05-01",
                            "document": {
                              "document_number": "123456789",
                              "document_type": "SSN",
                              "country": "US"
                            },
                            "phone": {
                              "country_code": "1",
                              "number": "5551234567"
                            },
                            "first_name": "John",
                            "last_name": "Doe",
                            "loyalty_number": "123456",
                            "loyalty_tier": "GOLD",
                            "middle_name": "Theodore",
                            "nationality": "US",
                            "type": "s"
                          }
                        ],
                        "pnr": "1P-2UUGJW",
                        "tickets": [
                          {
                            "ticket_number": "123456",
                            "restricted": false,
                            "total_fare_amount": 80,
                            "total_tax_amount": 22,
                            "total_fee_amount": 14,
                            "issue": null,
                            "e_ticket": false
                          }
                        ]
                      },
                      "order": {
                        "fee_amount": 100,
                        "tip_amount": 50,
                        "items": [
                          {
                            "brand": "XYZ",
                            "category": "Clothes",
                            "id": "123AD",
                            "manufacture_part_number": "XYZ123456",
                            "name": "Skirt",
                            "quantity": 1,
                            "sku_code": "8765432109",
                            "unit_amount": 4800
                          }
                        ],
                        "shipping_amount": 50
                      },
                      "seller_details": {
                        "name": "Test_company",
                        "email": "testcompany@example.com",
                        "reference": "AAOO",
                        "website": "www.testcompany.com",
                        "industry": "ELECTRONICS",
                        "merchant_category_code": "TTRR",
                        "country": "US",
                        "document": {
                          "document_number": "123456789",
                          "document_type": "EIN"
                        },
                        "phone": {
                          "country_code": "1",
                          "number": "5551234567"
                        }
                      }
                    },
                    "amount": {
                      "currency": "USD",
                      "value": 5000
                    },
                    "checkout": {
                      "session": "{{checkout_session}}"
                    },
                    "customer_payer": {
                      "id": "{{customer_id}}",
                      "billing_address": {
                        "address_line_1": "123 Main St",
                        "address_line_2": "Apt 502",
                        "city": "New York",
                        "country": "US",
                        "state": "NY",
                        "zip_code": "10001",
                        "neighborhood": "Midtown"
                      },
                      "browser_info": {
                        "accept_header": "true",
                        "color_depth": "24",
                        "javascript_enabled": true,
                        "language": "en-US",
                        "screen_height": "2048",
                        "screen_width": "1152",
                        "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9"
                      },
                      "date_of_birth": "1990-02-28",
                      "device_fingerprints": [
                        {
                          "provider_id": "CLEARSALE",
                          "id": "hi88287gbd8d7d782ge287gbd8d7d78"
                        }
                      ],
                      "document": {
                        "document_type": "SSN",
                        "document_number": "123456789"
                      },
                      "email": "johndoe@example.com",
                      "first_name": "John",
                      "gender": "MALE",
                      "ip_address": "192.168.123.167",
                      "last_name": "Doe",
                      "merchant_customer_id": "example00234",
                      "merchant_customer_created_at": "2014-05-12 13:05:00",
                      "nationality": "US",
                      "phone": {
                        "country_code": "1",
                        "number": "5551234567"
                      },
                      "shipping_address": {
                        "address_line_1": "123 Main St",
                        "address_line_2": "Apt 502",
                        "city": "New York",
                        "country": "US",
                        "state": "NY",
                        "zip_code": "10001",
                        "neighborhood": "Midtown"
                      }
                    },
                    "payment_method": {
                      "token": "{{onetime_token}}"
                    },
                    "metadata": [
                      {
                        "key": "ID",
                        "value": "SD00"
                      }
                    ],
                    "callback_url": "www.example.com"
                  }
                },
                "Bank Transfer with additional fields": {
                  "value": {
                    "account_id": "{{account-code}}",
                    "amount": {
                      "currency": "BRL",
                      "value": 160
                    },
                    "customer_payer": {
                      "id": "{{customer_id}}"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "PIX",
                      "detail": {
                        "bank_transfer": {
                          "code": "PIX2",
                          "branch": "PIX2",
                          "branch_digit": "1234",
                          "country": "BRL",
                          "account": {
                            "number": "646180142000000006",
                            "digit": "123456",
                            "type": "SAVINGS"
                          }
                        }
                      }
                    },
                    "merchant_order_id": "40f93981-7bef-4ca4-a8a5-8978fe16890c",
                    "country": "CO",
                    "description": "test description"
                  }
                },
                "Voucher payment": {
                  "value": {
                    "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                    "description": "dlocal",
                    "country": "BR",
                    "merchant_order_id": "12271562679",
                    "amount": {
                      "value": 26.9,
                      "currency": "BRL"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "capture": true,
                          "verify": false,
                          "card_data": {
                            "number": "5067555612342011",
                            "expiration_month": 9,
                            "expiration_year": 33,
                            "security_code": "123",
                            "holder_name": "MARIANA SORRENTINO"
                          }
                        }
                      }
                    },
                    "additional_data": {
                      "seller_details": {
                        "reference": "53568972000143",
                        "merchant_category_code": "5814"
                      }
                    }
                  }
                },
                "Card - With card details": {
                  "value": {
                    "country": "US",
                    "amount": {
                      "currency": "USD",
                      "value": "20000"
                    },
                    "customer_payer": {
                      "id": "<customer_id>",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com"
                    },
                    "payment_method": {
                      "detail": {
                        "card": {
                          "card_data": {
                            "number": "4111111111111111",
                            "expiration_month": 11,
                            "expiration_year": 28,
                            "security_code": "123",
                            "holder_name": "John Doe"
                          }
                        }
                      },
                      "type": "CARD"
                    },
                    "account_id": "<account_id>",
                    "description": "Payment with card details",
                    "merchant_order_id": "000023",
                    "workflow": "DIRECT"
                  }
                },
                "Card – Capture and cancel": {
                  "value": {
                    "country": "US",
                    "amount": {
                      "currency": "USD",
                      "value": "20000"
                    },
                    "customer_payer": {
                      "merchant_customer_validations": {
                        "account_is_verified": true,
                        "email_is_verified": true,
                        "phone_is_verified": true
                      },
                      "id": "<customer_id>",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "detail": {
                        "card": {
                          "capture": false,
                          "delayed_capture_settings": {
                            "delay": "P20D",
                            "simplified_mode": true
                          },
                          "delayed_cancel_settings": {
                            "delay": "P40D",
                            "simplified_mode": true
                          },
                          "card_data": {
                            "number": "4111111111111111",
                            "expiration_month": 11,
                            "expiration_year": 28,
                            "security_code": "123",
                            "holder_name": "John Doe"
                          },
                          "verify": false
                        }
                      },
                      "type": "CARD"
                    },
                    "account_id": "<account_id>",
                    "description": "Payment with card details",
                    "merchant_order_id": "000023"
                  }
                },
                "Card - With airline data": {
                  "value": {
                    "additional_data": {
                      "airline": {
                        "legs": [
                          {
                            "departure_airport": "LAX",
                            "departure_datetime": "2024-07-03T05:00:00",
                            "departure_airport_timezone": "GMT-08",
                            "arrival_airport": "JFK",
                            "carrier_code": "AA",
                            "flight_number": "AA100",
                            "fare_basis_code": "Y",
                            "fare_class_code": "S",
                            "base_fare": 500,
                            "base_fare_currency": "USD",
                            "stopover_code": "O"
                          }
                        ],
                        "passengers": [
                          {
                            "document": {
                              "document_number": "123456789",
                              "document_type": "PASSPORT",
                              "country": "US"
                            },
                            "first_name": "John",
                            "last_name": "Doe",
                            "middle_name": "Stephen",
                            "type": "A",
                            "date_of_birth": "1998-01-01",
                            "nationality": "US",
                            "loyalty_number": "79250001",
                            "loyalty_tier": "DIAMOND",
                            "email": "john.doe@example.com",
                            "phone": {
                              "country_code": "1",
                              "number": "5551234567"
                            }
                          }
                        ],
                        "tickets": [
                          {
                            "issue": {
                              "carrier_prefix_code": "001",
                              "travel_agent_code": "A12345",
                              "travel_agent_name": "Best Travel Agency",
                              "date": "2023-10-31T01:30:00.000-08:00",
                              "address": "123 Main St",
                              "city": "Los Angeles",
                              "country": "US",
                              "zip_code": "90001"
                            },
                            "ticket_number": "AA123456",
                            "e_ticket": true,
                            "restricted": false,
                            "total_fare_amount": 700,
                            "total_tax_amount": 100,
                            "total_fee_amount": 50
                          }
                        ],
                        "pnr": "DEF456"
                      }
                    },
                    "country": "US",
                    "amount": {
                      "currency": "USD",
                      "value": "2000"
                    },
                    "customer_payer": {
                      "document": {
                        "document_number": "987654321",
                        "document_type": "DRIVER_LICENSE"
                      },
                      "first_name": "John",
                      "last_name": "Doe",
                      "gender": "M",
                      "date_of_birth": "1998-01-01",
                      "email": "johndoe@example.com",
                      "nationality": "US",
                      "ip_address": "192.0.0.1"
                    },
                    "payment_method": {
                      "detail": {
                        "card": {
                          "card_data": {
                            "number": "4111111111111111",
                            "expiration_month": 11,
                            "expiration_year": 28,
                            "security_code": "123",
                            "holder_name": "John Doe"
                          }
                        }
                      },
                      "type": "CARD"
                    },
                    "account_id": "<account_id>",
                    "description": "Flight Booking Payment",
                    "merchant_order_id": "<merchant_order_id>",
                    "merchant_reference": "reference-001",
                    "workflow": "DIRECT"
                  }
                },
                "Card - With 3DS direct": {
                  "value": {
                    "description": "Card payment with 3DS",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000022",
                    "merchant_reference": "29ZVMO",
                    "country": "US",
                    "amount": {
                      "currency": "USD",
                      "value": 100
                    },
                    "customer_payer": {
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com",
                      "ip_address": "192.168.1.1",
                      "document": {
                        "document_type": "PAS",
                        "document_number": "123456789"
                      },
                      "billing_address": {
                        "address_line_1": "1295 Charleston Road",
                        "address_line_2": "",
                        "city": "Mountain View",
                        "country": "US",
                        "zip_code": "94043",
                        "state": "CA"
                      }
                    },
                    "callback_url": "https://www.y.uno",
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "capture": false,
                          "three_d_secure": {
                            "three_d_secure_setup_id": "005219f5-babf-4598-bc52-5dd49c19ba7a"
                          },
                          "card_data": {
                            "number": "4000000000001026",
                            "holder_name": "John Doe",
                            "expiration_month": 1,
                            "expiration_year": 26,
                            "security_code": "123"
                          }
                        }
                      }
                    }
                  }
                },
                "Card - With customer, billing, and shipping details": {
                  "value": {
                    "description": "Card payment with customer, billing and shipping details",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000023",
                    "country": "US",
                    "merchant_reference": "reference-001",
                    "amount": {
                      "currency": "USD",
                      "value": 5000
                    },
                    "customer_payer": {
                      "merchant_customer_id": "1690160581",
                      "first_name": "John",
                      "last_name": "Doe",
                      "gender": "M",
                      "date_of_birth": "1990-02-28",
                      "email": "johndoe@example.com",
                      "nationality": "US",
                      "ip_address": null,
                      "document": {
                        "document_type": "SSN",
                        "document_number": "123-45-6789"
                      },
                      "phone": {
                        "number": "1234567890",
                        "country_code": "1"
                      },
                      "billing_address": {
                        "address_line_1": "123 Main St",
                        "address_line_2": "Apt 502",
                        "country": "US",
                        "state": "CA",
                        "city": "Los Angeles",
                        "zip_code": "90001"
                      },
                      "shipping_address": {
                        "address_line_1": "123 Main St",
                        "address_line_2": "Apt 502",
                        "country": "US",
                        "state": "CA",
                        "city": "Los Angeles",
                        "zip_code": "90001"
                      }
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "card_data": {
                            "number": "4111111111111111",
                            "holder_name": "John Doe",
                            "expiration_month": 10,
                            "expiration_year": 26,
                            "security_code": "456"
                          }
                        }
                      }
                    }
                  }
                },
                "Card - With customer, billing, shipping and order items": {
                  "value": {
                    "description": "Card payment with customer, billing, shipping and order items",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000023",
                    "country": "US",
                    "merchant_reference": "reference-001",
                    "amount": {
                      "currency": "USD",
                      "value": 5000
                    },
                    "additional_data": {
                      "order": {
                        "fee_amount": 0,
                        "items": [
                          {
                            "brand": "XYZ",
                            "category": "Clothes",
                            "id": "123AD",
                            "manufacture_part_number": "XYZ123456",
                            "name": "Skirt",
                            "quantity": 1,
                            "sku_code": "8765432109",
                            "unit_amount": 5000
                          }
                        ],
                        "shipping_amount": 0
                      }
                    },
                    "customer_payer": {
                      "merchant_customer_id": "<customer_id>",
                      "first_name": "John",
                      "last_name": "Doe",
                      "gender": "M",
                      "date_of_birth": "1990-02-28",
                      "email": "johndoe@example.com",
                      "nationality": "US",
                      "ip_address": null,
                      "document": {
                        "document_type": "SSN",
                        "document_number": "123-45-6789"
                      },
                      "phone": {
                        "number": "1234567890",
                        "country_code": "1"
                      },
                      "billing_address": {
                        "address_line_1": "123 Main St",
                        "address_line_2": "Apt 502",
                        "country": "US",
                        "state": "CA",
                        "city": "Los Angeles",
                        "zip_code": "90001"
                      },
                      "shipping_address": {
                        "address_line_1": "123 Main St",
                        "address_line_2": "Apt 502",
                        "country": "US",
                        "state": "CA",
                        "city": "Los Angeles",
                        "zip_code": "90001"
                      }
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "card_data": {
                            "number": "4111111111111111",
                            "holder_name": "John Doe",
                            "expiration_month": 10,
                            "expiration_year": 26,
                            "security_code": "456"
                          }
                        }
                      }
                    }
                  }
                },
                "Card - With installments": {
                  "value": {
                    "description": "Card payment with installments",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000023",
                    "country": "US",
                    "merchant_reference": "reference-001",
                    "amount": {
                      "currency": "USD",
                      "value": 5000
                    },
                    "customer_payer": {
                      "merchant_customer_id": "<customer_id>",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "card_data": {
                            "number": "4111111111111111",
                            "holder_name": "John Doe",
                            "expiration_month": 10,
                            "expiration_year": 26,
                            "security_code": "456"
                          },
                          "installments": 3
                        }
                      }
                    }
                  }
                },
                "Card - With authorization": {
                  "value": {
                    "description": "Card payment with authorization",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000023",
                    "country": "US",
                    "merchant_reference": "reference-001",
                    "amount": {
                      "currency": "USD",
                      "value": 5000
                    },
                    "customer_payer": {
                      "merchant_customer_id": "1690161049",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "card_data": {
                            "number": "4111111111111111",
                            "holder_name": "John Doe",
                            "expiration_month": 10,
                            "expiration_year": 26,
                            "security_code": "456"
                          },
                          "capture": false
                        }
                      }
                    }
                  }
                },
                "Card - With device fingerprint": {
                  "value": {
                    "description": "Card payment with device fingerprint",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000023",
                    "country": "US",
                    "merchant_reference": "reference-001",
                    "amount": {
                      "currency": "USD",
                      "value": 5000
                    },
                    "customer_payer": {
                      "merchant_customer_id": "1690161049",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com",
                      "device_fingerprints": [
                        {
                          "provider_id": "CLEARSALE",
                          "id": "hi88287gbd8d7d782ge287gbd8d7d78"
                        }
                      ]
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "card_data": {
                            "number": "4111111111111111",
                            "holder_name": "John Doe",
                            "expiration_month": 10,
                            "expiration_year": 26,
                            "security_code": "456"
                          }
                        }
                      }
                    }
                  }
                },
                "Card - With vault on success": {
                  "value": {
                    "description": "Card payment with vault on success",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000023",
                    "country": "US",
                    "merchant_reference": "reference-001",
                    "amount": {
                      "currency": "USD",
                      "value": 5000
                    },
                    "customer_payer": {
                      "id": "<customer_id>",
                      "merchant_customer_id": "1690161049",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "vault_on_success": true,
                      "detail": {
                        "card": {
                          "card_data": {
                            "number": "4111111111111111",
                            "holder_name": "John Doe",
                            "expiration_month": 10,
                            "expiration_year": 26,
                            "security_code": "456"
                          }
                        }
                      }
                    }
                  }
                },
                "Card - With vaulted token": {
                  "value": {
                    "description": "Card payment with vaulted token",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000023",
                    "country": "US",
                    "merchant_reference": "reference-001",
                    "amount": {
                      "currency": "USD",
                      "value": 5000
                    },
                    "customer_payer": {
                      "id": "<customer_id>",
                      "merchant_customer_id": "1690161049",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "vaulted_token": "<vaulted_token>"
                    }
                  }
                },
                "Alternative payment method": {
                  "value": {
                    "description": "Payment with alternative method",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000022",
                    "country": "US",
                    "amount": {
                      "currency": "USD",
                      "value": 52000
                    },
                    "customer_payer": {
                      "merchant_customer_id": "12367482",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com"
                    },
                    "payment_method": {
                      "type": "CASH"
                    },
                    "workflow": "REDIRECT",
                    "callback_url": "www.example.com"
                  }
                },
                "Card - With shipping, fee and tip amount": {
                  "value": {
                    "additional_data": {
                      "order": {
                        "fee_amount": 500,
                        "shipping_amount": 100,
                        "tip_amount": 50,
                        "items": [
                          {
                            "id": "123AD",
                            "name": "Skirt",
                            "quantity": 1,
                            "unit_amount": 5000,
                            "category": "Clothes",
                            "brand": "XYZ",
                            "sku_code": "8765432109",
                            "manufacture_part_number": "XYZ123456"
                          }
                        ]
                      },
                      "airline": null,
                      "seller_details": null
                    },
                    "country": "US",
                    "amount": {
                      "currency": "USD",
                      "value": 100
                    },
                    "customer_payer": {
                      "id": "<customer_id>",
                      "first_name": "John",
                      "last_name": "Doe",
                      "email": "johndoe@example.com"
                    },
                    "checkout": {
                      "session": "{{checkout_session}}"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "card_data": {
                            "number": "4111111111111111",
                            "holder_name": "John Doe",
                            "expiration_month": 10,
                            "expiration_year": 26,
                            "security_code": "456"
                          },
                          "verify": false
                        }
                      }
                    },
                    "description": "Test Cards",
                    "account_id": "<account_id>",
                    "merchant_order_id": "0000022",
                    "merchant_reference": "Payment Test 001"
                  }
                },
                "Wallet - Direct": {
                  "value": {
                    "country": "US",
                    "amount": {
                      "currency": "USD",
                      "value": 100
                    },
                    "customer_payer": {
                      "merchant_customer_validations": {
                        "account_is_verified": true,
                        "email_is_verified": true,
                        "phone_is_verified": true
                      }
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "detail": {
                        "card": {
                          "verify": false
                        }
                      },
                      "type": "APPLE_PAY"
                    },
                    "account_id": "",
                    "description": "ApplePaytest",
                    "merchant_order_id": "TEST01"
                  }
                },
                "Split marketplace": {
                  "value": {
                    "description": "Split marketplace payment",
                    "account_id": "<account-code>",
                    "merchant_order_id": "000022",
                    "country": "US",
                    "additional_data": {
                      "order": {
                        "items": [
                          {
                            "brand": "XYZ",
                            "category": "Clothes",
                            "id": "123AD",
                            "manufacture_part_number": "XYZ123456",
                            "name": "Skirt",
                            "quantity": 1,
                            "sku_code": "8765432109",
                            "unit_amount": 5000
                          }
                        ]
                      }
                    },
                    "customer_payer": {
                      "billing_address": {
                        "address_line_1": "123 Main Street",
                        "address_line_2": "Apt 502",
                        "city": "New York",
                        "country": "US",
                        "state": "NY",
                        "zip_code": "10001"
                      },
                      "browser_info": {
                        "accept_header": "string",
                        "color_depth": "string",
                        "javascript_enabled": true,
                        "language": "string",
                        "screen_height": "string",
                        "screen_width": "string",
                        "user_agent": "string"
                      },
                      "date_of_birth": "1990-02-28",
                      "document": {
                        "document_type": "SSN",
                        "document_number": "123-45-6789"
                      },
                      "email": "johndoe@example.com",
                      "first_name": "John",
                      "gender": "M",
                      "id": "<customer_id>",
                      "ip_address": "192.168.123.167",
                      "last_name": "Doe",
                      "merchant_customer_id": "example00234",
                      "nationality": "US",
                      "phone": {
                        "country_code": "1",
                        "number": "5551234567"
                      },
                      "shipping_address": {
                        "address_line_1": "123 Main Street",
                        "address_line_2": "Apt 502",
                        "city": "New York",
                        "country": "US",
                        "state": "NY",
                        "zip_code": "10001"
                      }
                    },
                    "amount": {
                      "currency": "USD",
                      "value": 5000
                    },
                    "split_marketplace": [
                      {
                        "provider_recipient_id": "re_us16nrp0u0tl60k9t1lopi9ld",
                        "merchant_reference": "REF-01",
                        "recipient_type": "MEAL",
                        "type": "PURCHASE",
                        "amount": {
                          "currency": "USD",
                          "value": 4000
                        }
                      },
                      {
                        "provider_recipient_id": "re_us16nu2f10tjv0k9t49fjeora",
                        "recipient_type": "FOOD",
                        "type": "COMMISSION",
                        "amount": {
                          "currency": "USD",
                          "value": 1000
                        }
                      }
                    ],
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "capture": true,
                          "card_data": {
                            "holder_name": "John Doe",
                            "number": "4000000000000010",
                            "expiration_month": 3,
                            "expiration_year": 30,
                            "security_code": "737"
                          }
                        }
                      }
                    }
                  }
                },
                "Card - Create Payment with Subscription": {
                  "value": {
                    "id": "821f9afd-f0cb-4fa9-9330-f173b90b0356",
                    "account_id": "5beead35-0cd5-4e1c-9a13-b8f48f7f8f3a",
                    "description": "Payment with card details",
                    "country": "US",
                    "status": "SUCCEEDED",
                    "sub_status": "APPROVED",
                    "merchant_order_id": "000023",
                    "created_at": "2025-06-18T18:25:01.729174Z",
                    "updated_at": "2025-06-18T18:25:02.066450Z",
                    "amount": {
                      "captured": 0,
                      "currency": "USD",
                      "currency_conversion": null,
                      "refunded": 0,
                      "value": 20000
                    },
                    "checkout": {
                      "session": "",
                      "sdk_action_required": false
                    },
                    "payment_method": {
                      "vaulted_token": "",
                      "type": "CARD",
                      "vault_on_success": false,
                      "token": "",
                      "parent_payment_method_type": null,
                      "payment_method_detail": {
                        "card": {
                          "verify": false,
                          "capture": true,
                          "installments": 1,
                          "installments_plan_id": null,
                          "first_installment_deferral": 0,
                          "installments_type": "MERCHANT",
                          "installment_amount": null,
                          "soft_descriptor": "",
                          "authorization_code": "748912",
                          "retrieval_reference_number": "",
                          "voucher": null,
                          "card_data": {
                            "holder_name": "John Doe",
                            "iin": "41111111",
                            "lfd": "1111",
                            "number_length": 16,
                            "security_code_length": 3,
                            "brand": "VISA",
                            "issuer_name": "CONOTOXIA SP Z O O",
                            "issuer_code": null,
                            "country_code": "PL",
                            "category": "CLASSIC",
                            "type": "DEBIT",
                            "three_d_secure": {
                              "version": null,
                              "electronic_commerce_indicator": null,
                              "cryptogram": null,
                              "transaction_id": null,
                              "directory_server_transaction_id": null,
                              "pares_status": null,
                              "acs_id": null
                            },
                            "fingerprint": "a2ede54f-4b2a-4673-ae2c-c0704338ec7d",
                            "expiration_month": 11,
                            "expiration_year": 28
                          },
                          "stored_credentials": {
                            "reason": null,
                            "usage": null,
                            "subscription_agreement_id": null,
                            "network_transaction_id": null
                          }
                        }
                      }
                    },
                    "customer_payer": {
                      "id": "33a9e979-6558-4694-b00c-3d0844524681",
                      "merchant_customer_id": "1749820178",
                      "first_name": "John",
                      "last_name": "Doe",
                      "gender": "F",
                      "date_of_birth": "1990-02-28",
                      "email": "johndoe@example.com",
                      "nationality": "CO",
                      "ip_address": null,
                      "device_fingerprint": null,
                      "device_fingerprints": [],
                      "browser_info": {
                        "user_agent": "",
                        "accept_header": "",
                        "accept_content": null,
                        "accept_browser": null,
                        "color_depth": "",
                        "screen_height": "",
                        "screen_width": "",
                        "javascript_enabled": null,
                        "java_enabled": null,
                        "browser_time_difference": null,
                        "language": "",
                        "platform": null
                      },
                      "document": {
                        "document_type": "CC",
                        "document_number": "1010268952"
                      },
                      "phone": {
                        "number": "3132450765",
                        "country_code": "57"
                      },
                      "billing_address": {
                        "address_line_1": "Calle 34 # 56 - 78",
                        "address_line_2": "Apartamento 502, Torre I",
                        "country": "CO",
                        "state": "Cundinamarca",
                        "city": "Bogotá",
                        "zip_code": "111111",
                        "neighborhood": null
                      },
                      "shipping_address": {
                        "address_line_1": "Calle 34 # 56 - 78",
                        "address_line_2": "Apartamento 502, Torre I",
                        "country": "CO",
                        "state": "Cundinamarca",
                        "city": "Bogotá",
                        "zip_code": "111111",
                        "neighborhood": null
                      },
                      "merchant_customer_created_at": null
                    },
                    "additional_data": null,
                    "transactions": {
                      "id": "953131e6-94d5-420f-a228-28f67c66b723",
                      "type": "PURCHASE",
                      "status": "SUCCEEDED",
                      "category": "CARD",
                      "amount": 20000,
                      "provider_id": "YUNO_TEST_PAYMENT_GW",
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "CARD",
                        "vault_on_success": false,
                        "token": "",
                        "parent_payment_method_type": null,
                        "detail": {
                          "card": {
                            "verify": false,
                            "capture": true,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": "MERCHANT",
                            "installment_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "748912",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "card_data": {
                              "holder_name": "John Doe",
                              "iin": "41111111",
                              "lfd": "1111",
                              "number_length": 16,
                              "security_code_length": 3,
                              "brand": "VISA",
                              "issuer_name": "CONOTOXIA SP Z O O",
                              "issuer_code": null,
                              "country_code": "PL",
                              "category": "CLASSIC",
                              "type": "DEBIT",
                              "three_d_secure": {
                                "version": null,
                                "electronic_commerce_indicator": null,
                                "cryptogram": null,
                                "transaction_id": null,
                                "directory_server_transaction_id": null,
                                "pares_status": null,
                                "acs_id": null
                              },
                              "fingerprint": "a2ede54f-4b2a-4673-ae2c-c0704338ec7d",
                              "expiration_month": 11,
                              "expiration_year": 28
                            },
                            "stored_credentials": {
                              "reason": null,
                              "usage": null,
                              "subscription_agreement_id": null,
                              "network_transaction_id": null
                            }
                          }
                        }
                      },
                      "response_code": "SUCCEEDED",
                      "response_message": "Transaction successful",
                      "reason": null,
                      "description": "Payment with card details",
                      "merchant_reference": "000023",
                      "provider_data": {
                        "id": "YUNO_TEST_PAYMENT_GW",
                        "transaction_id": "31c00baa-ced9-4477-ac1c-e963c4838dde",
                        "account_id": "",
                        "status": "SUCCEEDED",
                        "sub_status": "",
                        "status_detail": "",
                        "response_message": null,
                        "response_code": null,
                        "raw_response": {
                          "amount": {
                            "currency": "BRL",
                            "value": 2100
                          },
                          "merchantAccount": "YunoPaymentsECOM",
                          "paymentPspReference": "ZKHXKZGXMLBX8N82",
                          "pspReference": "VKJTCWZ9575ZGN82",
                          "reference": "34343434",
                          "status": "received"
                        },
                        "third_party_transaction_id": "",
                        "third_party_account_id": null,
                        "iso8583_response_code": null,
                        "iso8583_response_message": null
                      },
                      "connection_data": {
                        "id": "a2ee2f97-8ba0-4198-a821-3b750bc97872",
                        "name": null
                      },
                      "created_at": "2025-06-18T18:25:01.934784Z",
                      "updated_at": "2025-06-18T18:25:02.018823Z"
                    },
                    "transactions_history": [
                      {
                        "id": "953131e6-94d5-420f-a228-28f67c66b723",
                        "type": "PURCHASE",
                        "status": "SUCCEEDED",
                        "category": "CARD",
                        "amount": 20000,
                        "provider_id": "YUNO_TEST_PAYMENT_GW",
                        "payment_method": {
                          "vaulted_token": "",
                          "type": "CARD",
                          "vault_on_success": false,
                          "token": "",
                          "parent_payment_method_type": null,
                          "detail": {
                            "card": {
                              "verify": false,
                              "capture": true,
                              "installments": 1,
                              "installments_plan_id": null,
                              "first_installment_deferral": 0,
                              "installments_type": "MERCHANT",
                              "installment_amount": null,
                              "soft_descriptor": "",
                              "authorization_code": "748912",
                              "retrieval_reference_number": "",
                              "voucher": null,
                              "card_data": {
                                "holder_name": "John Doe",
                                "iin": "41111111",
                                "lfd": "1111",
                                "number_length": 16,
                                "security_code_length": 3,
                                "brand": "VISA",
                                "issuer_name": "CONOTOXIA SP Z O O",
                                "issuer_code": null,
                                "country_code": "PL",
                                "category": "CLASSIC",
                                "type": "DEBIT",
                                "three_d_secure": {
                                  "version": null,
                                  "electronic_commerce_indicator": null,
                                  "cryptogram": null,
                                  "transaction_id": null,
                                  "directory_server_transaction_id": null,
                                  "pares_status": null,
                                  "acs_id": null
                                },
                                "fingerprint": "a2ede54f-4b2a-4673-ae2c-c0704338ec7d",
                                "expiration_month": 11,
                                "expiration_year": 28
                              },
                              "stored_credentials": {
                                "reason": null,
                                "usage": null,
                                "subscription_agreement_id": null,
                                "network_transaction_id": null
                              }
                            }
                          }
                        },
                        "response_code": "SUCCEEDED",
                        "response_message": "Transaction successful",
                        "reason": null,
                        "description": "Payment with card details",
                        "merchant_reference": "000023",
                        "provider_data": {
                          "id": "YUNO_TEST_PAYMENT_GW",
                          "transaction_id": "31c00baa-ced9-4477-ac1c-e963c4838dde",
                          "account_id": "",
                          "status": "SUCCEEDED",
                          "sub_status": "",
                          "status_detail": "",
                          "response_message": null,
                          "response_code": null,
                          "raw_response": {
                            "amount": {
                              "currency": "BRL",
                              "value": 2100
                            },
                            "merchantAccount": "YunoPaymentsECOM",
                            "paymentPspReference": "ZKHXKZGXMLBX8N82",
                            "pspReference": "VKJTCWZ9575ZGN82",
                            "reference": "34343434",
                            "status": "received"
                          },
                          "third_party_transaction_id": "",
                          "third_party_account_id": null,
                          "iso8583_response_code": null,
                          "iso8583_response_message": null
                        },
                        "connection_data": {
                          "id": "a2ee2f97-8ba0-4198-a821-3b750bc97872",
                          "name": null
                        },
                        "created_at": "2025-06-18T18:25:01.934784Z",
                        "updated_at": "2025-06-18T18:25:02.018823Z"
                      }
                    ],
                    "workflow": "DIRECT",
                    "metadata": [],
                    "fraud_screening": null,
                    "payment_link_id": "",
                    "subscription_code": null,
                    "routing_rules": {
                      "smart_routing": false,
                      "monitors": false,
                      "condition": {
                        "id": 192539,
                        "name": "Card",
                        "description": ""
                      }
                    },
                    "simplified_mode": false,
                    "subscription": {
                      "frequency": {
                        "type": "MONTH",
                        "execution": "YUNO"
                      },
                      "availability": {
                        "start_at": "2025-05-23T20:17:30.277678Z",
                        "finish_at": "2027-05-23T20:17:30.277678Z"
                      },
                      "amount": {
                        "value": 2000,
                        "currency": "BRL",
                        "type": "FIXED"
                      }
                    }
                  }
                },
                "Card - Create Payment for Existing Subscription": {
                  "value": {
                    "id": "821f9afd-f0cb-4fa9-9330-f173b90b0356",
                    "account_id": "5beead35-0cd5-4e1c-9a13-b8f48f7f8f3a",
                    "description": "Payment with card details",
                    "country": "US",
                    "status": "SUCCEEDED",
                    "sub_status": "APPROVED",
                    "merchant_order_id": "000023",
                    "created_at": "2025-06-18T18:25:01.729174Z",
                    "updated_at": "2025-06-18T18:25:02.066450Z",
                    "amount": {
                      "captured": 0,
                      "currency": "USD",
                      "currency_conversion": null,
                      "refunded": 0,
                      "value": 20000
                    },
                    "checkout": {
                      "session": "",
                      "sdk_action_required": false
                    },
                    "payment_method": {
                      "vaulted_token": "",
                      "type": "CARD",
                      "vault_on_success": false,
                      "token": "",
                      "parent_payment_method_type": null,
                      "payment_method_detail": {
                        "card": {
                          "verify": false,
                          "capture": true,
                          "installments": 1,
                          "installments_plan_id": null,
                          "first_installment_deferral": 0,
                          "installments_type": "MERCHANT",
                          "installment_amount": null,
                          "soft_descriptor": "",
                          "authorization_code": "748912",
                          "retrieval_reference_number": "",
                          "voucher": null,
                          "card_data": {
                            "holder_name": "John Doe",
                            "iin": "41111111",
                            "lfd": "1111",
                            "number_length": 16,
                            "security_code_length": 3,
                            "brand": "VISA",
                            "issuer_name": "CONOTOXIA SP Z O O",
                            "issuer_code": null,
                            "country_code": "PL",
                            "category": "CLASSIC",
                            "type": "DEBIT",
                            "three_d_secure": {
                              "version": null,
                              "electronic_commerce_indicator": null,
                              "cryptogram": null,
                              "transaction_id": null,
                              "directory_server_transaction_id": null,
                              "pares_status": null,
                              "acs_id": null
                            },
                            "fingerprint": "a2ede54f-4b2a-4673-ae2c-c0704338ec7d",
                            "expiration_month": 11,
                            "expiration_year": 28
                          },
                          "stored_credentials": {
                            "reason": null,
                            "usage": null,
                            "subscription_agreement_id": null,
                            "network_transaction_id": null
                          }
                        }
                      }
                    },
                    "customer_payer": {
                      "id": "33a9e979-6558-4694-b00c-3d0844524681",
                      "merchant_customer_id": "1749820178",
                      "first_name": "John",
                      "last_name": "Doe",
                      "gender": "F",
                      "date_of_birth": "1990-02-28",
                      "email": "johndoe@example.com",
                      "nationality": "CO",
                      "ip_address": null,
                      "device_fingerprint": null,
                      "device_fingerprints": [],
                      "browser_info": {
                        "user_agent": "",
                        "accept_header": "",
                        "accept_content": null,
                        "accept_browser": null,
                        "color_depth": "",
                        "screen_height": "",
                        "screen_width": "",
                        "javascript_enabled": null,
                        "java_enabled": null,
                        "browser_time_difference": null,
                        "language": "",
                        "platform": null
                      },
                      "document": {
                        "document_type": "CC",
                        "document_number": "1010268952"
                      },
                      "phone": {
                        "number": "3132450765",
                        "country_code": "57"
                      },
                      "billing_address": {
                        "address_line_1": "Calle 34 # 56 - 78",
                        "address_line_2": "Apartamento 502, Torre I",
                        "country": "CO",
                        "state": "Cundinamarca",
                        "city": "Bogotá",
                        "zip_code": "111111",
                        "neighborhood": null
                      },
                      "shipping_address": {
                        "address_line_1": "Calle 34 # 56 - 78",
                        "address_line_2": "Apartamento 502, Torre I",
                        "country": "CO",
                        "state": "Cundinamarca",
                        "city": "Bogotá",
                        "zip_code": "111111",
                        "neighborhood": null
                      },
                      "merchant_customer_created_at": null
                    },
                    "additional_data": null,
                    "transactions": {
                      "id": "953131e6-94d5-420f-a228-28f67c66b723",
                      "type": "PURCHASE",
                      "status": "SUCCEEDED",
                      "category": "CARD",
                      "amount": 20000,
                      "provider_id": "YUNO_TEST_PAYMENT_GW",
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "CARD",
                        "vault_on_success": false,
                        "token": "",
                        "parent_payment_method_type": null,
                        "detail": {
                          "card": {
                            "verify": false,
                            "capture": true,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": "MERCHANT",
                            "installment_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "748912",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "card_data": {
                              "holder_name": "John Doe",
                              "iin": "41111111",
                              "lfd": "1111",
                              "number_length": 16,
                              "security_code_length": 3,
                              "brand": "VISA",
                              "issuer_name": "CONOTOXIA SP Z O O",
                              "issuer_code": null,
                              "country_code": "PL",
                              "category": "CLASSIC",
                              "type": "DEBIT",
                              "three_d_secure": {
                                "version": null,
                                "electronic_commerce_indicator": null,
                                "cryptogram": null,
                                "transaction_id": null,
                                "directory_server_transaction_id": null,
                                "pares_status": null,
                                "acs_id": null
                              },
                              "fingerprint": "a2ede54f-4b2a-4673-ae2c-c0704338ec7d",
                              "expiration_month": 11,
                              "expiration_year": 28
                            },
                            "stored_credentials": {
                              "reason": null,
                              "usage": null,
                              "subscription_agreement_id": null,
                              "network_transaction_id": null
                            }
                          }
                        }
                      },
                      "response_code": "SUCCEEDED",
                      "response_message": "Transaction successful",
                      "reason": null,
                      "description": "Payment with card details",
                      "merchant_reference": "000023",
                      "provider_data": {
                        "id": "YUNO_TEST_PAYMENT_GW",
                        "transaction_id": "31c00baa-ced9-4477-ac1c-e963c4838dde",
                        "account_id": "",
                        "status": "SUCCEEDED",
                        "sub_status": "",
                        "status_detail": "",
                        "response_message": null,
                        "response_code": null,
                        "raw_response": {
                          "amount": {
                            "currency": "BRL",
                            "value": 2100
                          },
                          "merchantAccount": "YunoPaymentsECOM",
                          "paymentPspReference": "ZKHXKZGXMLBX8N82",
                          "pspReference": "VKJTCWZ9575ZGN82",
                          "reference": "34343434",
                          "status": "received"
                        },
                        "third_party_transaction_id": "",
                        "third_party_account_id": null,
                        "iso8583_response_code": null,
                        "iso8583_response_message": null
                      },
                      "connection_data": {
                        "id": "a2ee2f97-8ba0-4198-a821-3b750bc97872",
                        "name": null
                      },
                      "created_at": "2025-06-18T18:25:01.934784Z",
                      "updated_at": "2025-06-18T18:25:02.018823Z"
                    },
                    "transactions_history": [
                      {
                        "id": "953131e6-94d5-420f-a228-28f67c66b723",
                        "type": "PURCHASE",
                        "status": "SUCCEEDED",
                        "category": "CARD",
                        "amount": 20000,
                        "provider_id": "YUNO_TEST_PAYMENT_GW",
                        "payment_method": {
                          "vaulted_token": "",
                          "type": "CARD",
                          "vault_on_success": false,
                          "token": "",
                          "parent_payment_method_type": null,
                          "detail": {
                            "card": {
                              "verify": false,
                              "capture": true,
                              "installments": 1,
                              "installments_plan_id": null,
                              "first_installment_deferral": 0,
                              "installments_type": "MERCHANT",
                              "installment_amount": null,
                              "soft_descriptor": "",
                              "authorization_code": "748912",
                              "retrieval_reference_number": "",
                              "voucher": null,
                              "card_data": {
                                "holder_name": "John Doe",
                                "iin": "41111111",
                                "lfd": "1111",
                                "number_length": 16,
                                "security_code_length": 3,
                                "brand": "VISA",
                                "issuer_name": "CONOTOXIA SP Z O O",
                                "issuer_code": null,
                                "country_code": "PL",
                                "category": "CLASSIC",
                                "type": "DEBIT",
                                "three_d_secure": {
                                  "version": null,
                                  "electronic_commerce_indicator": null,
                                  "cryptogram": null,
                                  "transaction_id": null,
                                  "directory_server_transaction_id": null,
                                  "pares_status": null,
                                  "acs_id": null
                                },
                                "fingerprint": "a2ede54f-4b2a-4673-ae2c-c0704338ec7d",
                                "expiration_month": 11,
                                "expiration_year": 28
                              },
                              "stored_credentials": {
                                "reason": null,
                                "usage": null,
                                "subscription_agreement_id": null,
                                "network_transaction_id": null
                              }
                            }
                          }
                        },
                        "response_code": "SUCCEEDED",
                        "response_message": "Transaction successful",
                        "reason": null,
                        "description": "Payment with card details",
                        "merchant_reference": "000023",
                        "provider_data": {
                          "id": "YUNO_TEST_PAYMENT_GW",
                          "transaction_id": "31c00baa-ced9-4477-ac1c-e963c4838dde",
                          "account_id": "",
                          "status": "SUCCEEDED",
                          "sub_status": "",
                          "status_detail": "",
                          "response_message": null,
                          "response_code": null,
                          "raw_response": {
                            "amount": {
                              "currency": "BRL",
                              "value": 2100
                            },
                            "merchantAccount": "YunoPaymentsECOM",
                            "paymentPspReference": "ZKHXKZGXMLBX8N82",
                            "pspReference": "VKJTCWZ9575ZGN82",
                            "reference": "34343434",
                            "status": "received"
                          },
                          "third_party_transaction_id": "",
                          "third_party_account_id": null,
                          "iso8583_response_code": null,
                          "iso8583_response_message": null
                        },
                        "connection_data": {
                          "id": "a2ee2f97-8ba0-4198-a821-3b750bc97872",
                          "name": null
                        },
                        "created_at": "2025-06-18T18:25:01.934784Z",
                        "updated_at": "2025-06-18T18:25:02.018823Z"
                      }
                    ],
                    "workflow": "DIRECT",
                    "metadata": [],
                    "fraud_screening": null,
                    "payment_link_id": "",
                    "subscription_code": null,
                    "routing_rules": {
                      "smart_routing": false,
                      "monitors": false,
                      "condition": {
                        "id": 192539,
                        "name": "Card",
                        "description": ""
                      }
                    },
                    "simplified_mode": false,
                    "subscription": {
                      "id": "UUID",
                      "billing_date": {
                        "type": "FIXED_DAY",
                        "day": 15
                      }
                    }
                  }
                },
                "Create payment with split": {
                  "value": {
                    "description": "SUCCEDED",
                    "account_id": "{{account-code}}",
                    "merchant_order_id": "1753363203",
                    "country": "US",
                    "workflow": "DIRECT",
                    "amount": {
                      "currency": "USD",
                      "value": 1000
                    },
                    "metadata": [
                      {
                        "key": "PROVIDER",
                        "value": "STRIPE"
                      }
                    ],
                    "payment_method": {
                      "type": "CARD",
                      "vault_on_success": false,
                      "detail": {
                        "card": {
                          "capture": true,
                          "card_data": {
                            "holder_name": "John",
                            "number": "4242424242424242",
                            "expiration_month": 12,
                            "expiration_year": 30,
                            "security_code": "123"
                          },
                          "stored_credentials": {
                            "reason": "SUBSCRIPTION",
                            "usage": "USED",
                            "subscription_agreement_id": "XXXX01"
                          }
                        }
                      }
                    },
                    "split_marketplace": [
                      {
                        "amount": {
                          "currency": "USD",
                          "value": 900
                        },
                        "recipient_id": "c8440141-127b-4dfe-b585-b8622c1db4c9",
                        "recipient_type": "MEAL",
                        "type": "PURCHASE"
                      },
                      {
                        "amount": {
                          "currency": "USD",
                          "value": 100
                        },
                        "recipient_id": "",
                        "type": "COMMISSION"
                      }
                    ],
                    "customer_payer": {
                      "document": {
                        "document_type": "SSN",
                        "document_number": "93095135270"
                      },
                      "email": "test_recipient@y.uno",
                      "first_name": "john",
                      "gender": "M",
                      "ip_address": "192.168.123.167",
                      "last_name": "Doe",
                      "merchant_customer_id": "example00234",
                      "nationality": "US",
                      "phone": {
                        "country_code": "1",
                        "number": "3132450765"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                },
                "examples": {
                  "Payment": {
                    "value": {
                      "id": "6c44ed29-cc51-4479-a5eb-108afdaadd50",
                      "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                      "description": "Card Payment",
                      "country": "US",
                      "status": "SUCCEEDED",
                      "sub_status": "APPROVED",
                      "merchant_order_id": "1744403449",
                      "created_at": "2025-04-11T20:30:49.825637Z",
                      "updated_at": "2025-04-11T20:30:51.953868Z",
                      "amount": {
                        "captured": 0,
                        "currency": "USD",
                        "currency_conversion": null,
                        "refunded": 0,
                        "value": 15000
                      },
                      "checkout": {
                        "session": "7fb7093e-dc67-4c7a-80c5-d25cf5e6ff27",
                        "sdk_action_required": false
                      },
                      "payment_method": {
                        "vaulted_token": "dcc06b32-43ad-4627-aa75-c631eb50c2ac",
                        "type": "CARD",
                        "vault_on_success": true,
                        "token": "8cabcd5c-1b40-4407-b14a-14ab21741865",
                        "parent_payment_method_type": null,
                        "payment_method_detail": {
                          "card": {
                            "verify": false,
                            "capture": true,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": "",
                            "installment_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "835631",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "card_data": {
                              "holder_name": "Fannie Weissnat",
                              "iin": "41961111",
                              "lfd": "0010",
                              "number_length": 16,
                              "security_code_length": 1,
                              "brand": "VISA",
                              "issuer_name": "METABANK",
                              "issuer_code": null,
                              "country_code": "US",
                              "category": "PREPAID RELOADABLE",
                              "type": "DEBIT",
                              "three_d_secure": {
                                "version": null,
                                "electronic_commerce_indicator": null,
                                "cryptogram": null,
                                "transaction_id": null,
                                "directory_server_transaction_id": null,
                                "pares_status": null,
                                "acs_id": null
                              },
                              "fingerprint": "5605f3e4-69e7-4a9f-9646-2ac8c2e33e12",
                              "expiration_month": 3,
                              "expiration_year": 24
                            },
                            "stored_credentials": {
                              "reason": null,
                              "usage": null,
                              "subscription_agreement_id": null,
                              "network_transaction_id": null
                            }
                          }
                        }
                      },
                      "customer_payer": {
                        "id": "94121f98-98f7-4d57-aa5f-228401d35b12",
                        "merchant_customer_id": "1744402154",
                        "first_name": "John",
                        "last_name": "Doe",
                        "gender": "",
[...]
