{
  "openapi": "3.1.0",
  "info": {
    "title": "pci-proxy-manage-destinations",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/pci-proxy/destinations": {
      "get": {
        "summary": "List Destinations",
        "description": "Returns the destinations registered on your account's allowlist. Only hosts on this list can be reached by the [forward proxy](/reference/pci-proxy/invoke-forward-proxy); a request to any other host is rejected with `403 DESTINATION_NOT_ALLOWED`.",
        "operationId": "listPciProxyDestinations",
        "responses": {
          "200": {
            "description": "The destinations registered for your account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "destinations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Destination"
                      }
                    }
                  }
                },
                "example": {
                  "destinations": [
                    {
                      "id": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4",
                      "account_id": null,
                      "hostname": "api.example-processor.com",
                      "status": "ENABLED",
                      "purpose": "Direct acquiring — Processor X",
                      "created_at": "2026-07-09T13:05:36Z",
                      "updated_at": "2026-07-09T13:05:36Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Register Destination",
        "description": "Adds a host to your account's allowlist so the forward proxy can send card data to it. Matching is on the exact hostname, case-insensitive; subdomains and wildcards are not implied. A newly registered host is usable within minutes.",
        "operationId": "registerPciProxyDestination",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DestinationInput"
              },
              "example": {
                "hostname": "api.dlocal.com",
                "purpose": "Direct payins — dLocal",
                "authentication": [
                  {
                    "type": "DLOCAL_HMAC",
                    "x_login": "sak_live_...",
                    "x_trans_key": "...",
                    "secret_key": "..."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The destination was registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                },
                "example": {
                  "id": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4",
                  "account_id": null,
                  "hostname": "api.example-processor.com",
                  "status": "ENABLED",
                  "purpose": "Direct acquiring — Processor X",
                  "created_at": "2026-07-09T13:05:36Z",
                  "updated_at": "2026-07-09T13:05:36Z"
                }
              }
            }
          },
          "400": {
            "description": "The request body could not be parsed, or the `account_id` is not a valid account for your organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Invalid request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "invalid body"
                      ]
                    }
                  },
                  "Invalid account id": {
                    "value": {
                      "code": "INVALID_ACCOUNT_ID",
                      "messages": [
                        "account_id is not a valid account"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "The hostname is already registered on your allowlist (for this account scope).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Destination exists": {
                    "value": {
                      "code": "DESTINATION_EXISTS",
                      "messages": [
                        "destination already registered"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The hostname is not a bare public hostname (a URL, a host with a scheme, port, or path, an IP address, or a wildcard), or the `authentication` block is invalid (unknown `type`, missing required field, duplicate `type`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Invalid hostname": {
                    "value": {
                      "code": "INVALID_HOSTNAME",
                      "messages": [
                        "hostname must be a bare public FQDN with no scheme, port, path, or wildcard"
                      ]
                    }
                  },
                  "Invalid authentication": {
                    "value": {
                      "code": "INVALID_AUTHENTICATION",
                      "messages": [
                        "authentication configuration is invalid"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-proxy/destinations/{id}": {
      "delete": {
        "summary": "Remove Destination",
        "description": "Removes a host from your account's allowlist. This takes effect immediately: the next proxy request to that host is rejected with `403 DESTINATION_NOT_ALLOWED`.",
        "operationId": "removePciProxyDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` (UUID) of the destination to remove, as returned by [List Destinations](/reference/pci-proxy/list-destinations).",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The destination was removed. No response body."
          },
          "400": {
            "description": "The `id` path parameter is not a valid UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Invalid id": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "invalid id"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No destination with that `id` is registered for your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Not found": {
                    "value": {
                      "code": "NOT_FOUND",
                      "messages": [
                        "destination not found"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-proxy/destinations/{id}/enable": {
      "post": {
        "summary": "Enable Destination",
        "description": "Re-enables a disabled destination. Only `ENABLED` destinations are used by the forward path.",
        "operationId": "enablePciProxyDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` (UUID) of the destination to enable.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The destination was enabled; the updated object is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/DestinationNotFound"
          }
        }
      }
    },
    "/pci-proxy/destinations/{id}/disable": {
      "post": {
        "summary": "Disable Destination",
        "description": "Turns a destination off without removing it — the record and its audit history are kept, but the forward path rejects it with `403 DESTINATION_NOT_ALLOWED` until it is enabled again.",
        "operationId": "disablePciProxyDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` (UUID) of the destination to disable.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The destination was disabled; the updated object is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/DestinationNotFound"
          }
        }
      }
    },
    "/pci-proxy/destinations/{id}/authentication": {
      "put": {
        "summary": "Set Destination Authentication",
        "description": "Registers or replaces the authentication the proxy applies when forwarding to this destination. This is a **full replace** — there is no partial update — and also how you rotate keys: send the complete new set. Secrets are write-only; previous secrets cannot be read back. The change is recorded in the append-only audit trail.",
        "operationId": "setPciProxyDestinationAuthentication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` (UUID) of the destination, as returned by [List Destinations](/reference/pci-proxy/list-destinations).",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "authentication"
                ],
                "properties": {
                  "authentication": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AuthenticationMethodInput"
                    }
                  }
                }
              },
              "example": {
                "authentication": [
                  {
                    "type": "DLOCAL_HMAC",
                    "x_login": "sak_live_...",
                    "x_trans_key": "...",
                    "secret_key": "..."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The authentication was set; the updated destination object is returned (non-secret material only).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/DestinationNotFound"
          },
          "422": {
            "$ref": "#/components/responses/InvalidAuthentication"
          }
        }
      },
      "delete": {
        "summary": "Remove Destination Authentication",
        "description": "Removes all authentication configuration from the destination. The destination keeps working as a regular allowlist entry with the headers you supply yourself. The change is recorded in the append-only audit trail.",
        "operationId": "removePciProxyDestinationAuthentication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` (UUID) of the destination, as returned by [List Destinations](/reference/pci-proxy/list-destinations).",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The authentication was removed; the updated destination object is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/DestinationNotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication failed. Missing or invalid API credentials.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DestinationError"
            },
            "examples": {
              "Not authenticated": {
                "value": {
                  "code": "NOT_AUTHENTICATED",
                  "messages": [
                    "not authenticated"
                  ]
                }
              }
            }
          }
        }
      },
      "InvalidId": {
        "description": "The `id` path parameter is not a valid UUID.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DestinationError"
            },
            "examples": {
              "Invalid id": {
                "value": {
                  "code": "INVALID_REQUEST",
                  "messages": [
                    "invalid id"
                  ]
                }
              }
            }
          }
        }
      },
      "DestinationNotFound": {
        "description": "No destination with that `id` is registered for your scope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DestinationError"
            },
            "examples": {
              "Not found": {
                "value": {
                  "code": "NOT_FOUND",
                  "messages": [
                    "destination not found"
                  ]
                }
              }
            }
          }
        }
      },
      "InvalidAuthentication": {
        "description": "The `authentication` block is invalid (unknown `type`, missing required field for the type, duplicate `type`).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DestinationError"
            },
            "examples": {
              "Invalid authentication": {
                "value": {
                  "code": "INVALID_AUTHENTICATION",
                  "messages": [
                    "authentication configuration is invalid"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "DestinationInput": {
        "type": "object",
        "required": [
          "hostname"
        ],
        "properties": {
          "hostname": {
            "type": "string",
            "description": "The bare public hostname to allow, without scheme, port, or path (for example `api.example-processor.com`). Matched exactly, case-insensitive.",
            "example": "api.example-processor.com"
          },
          "purpose": {
            "type": "string",
            "description": "An optional human-readable label describing why this host is allowed. Shown when you list destinations.",
            "example": "Direct acquiring — Processor X"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Optional. Restrict this destination to a single account (a UUID). Omit (or send `null`) to allow the host for the whole organization.",
            "example": null
          },
          "authentication": {
            "type": "array",
            "description": "Optional. Authentication the proxy applies when forwarding to this destination — at most one method per `type`. Secrets are write-only and never returned. An invalid block returns `422 INVALID_AUTHENTICATION`.",
            "items": {
              "$ref": "#/components/schemas/AuthenticationMethodInput"
            }
          }
        }
      },
      "Destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the destination. Use it to remove the destination.",
            "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
          },
          "account_id": {
            "type": "string",
            "nullable": true,
            "description": "The account this destination is scoped to, or `null` when it applies to the whole organization.",
            "example": null
          },
          "hostname": {
            "type": "string",
            "description": "The registered hostname.",
            "example": "api.example-processor.com"
          },
          "status": {
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ],
            "description": "Whether the destination is active. Only ENABLED destinations are used by the forward path.",
            "example": "ENABLED"
          },
          "purpose": {
            "type": "string",
            "description": "The label you provided when registering the destination.",
            "example": "Direct acquiring — Processor X"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the destination was registered.",
            "example": "2026-07-09T13:05:36Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the destination was last changed.",
            "example": "2026-07-09T13:05:36Z"
          },
          "authentication": {
            "type": "array",
            "description": "The destination's configured authentication, non-secret material only. Omitted when the destination has none.",
            "items": {
              "$ref": "#/components/schemas/AuthenticationMethod"
            }
          }
        }
      },
      "DestinationError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code.",
            "enum": [
              "NOT_AUTHENTICATED",
              "AuthenticationFail",
              "INVALID_REQUEST",
              "INVALID_HOSTNAME",
              "INVALID_ACCOUNT_ID",
              "INVALID_AUTHENTICATION",
              "DESTINATION_EXISTS",
              "NOT_FOUND",
              "INTERNAL_ERROR"
            ]
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AuthenticationMethodInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "DLOCAL_HMAC"
            ],
            "description": "The signing profile type. `DLOCAL_HMAC` signs each forwarded request the way dLocal requires: the proxy generates `X-Date`, injects `X-Login` / `X-Trans-Key`, and computes the `Authorization` signature over the resolved request body."
          },
          "x_login": {
            "type": "string",
            "description": "Your dLocal X-Login. Returned in responses.",
            "example": "sak_live_..."
          },
          "x_trans_key": {
            "type": "string",
            "writeOnly": true,
            "description": "Your dLocal X-Trans-Key. Write-only: stored in Yuno's secret store and never returned by any endpoint."
          },
          "secret_key": {
            "type": "string",
            "writeOnly": true,
            "description": "Your dLocal secret key, used to compute the HMAC signature. Write-only: stored in Yuno's secret store and never returned by any endpoint."
          }
        }
      },
      "AuthenticationMethod": {
        "type": "object",
        "description": "A configured authentication method, echoing only non-secret material.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "DLOCAL_HMAC"
            ],
            "example": "DLOCAL_HMAC"
          },
          "x_login": {
            "type": "string",
            "example": "sak_live_..."
          }
        }
      }
    }
  }
}
