{
  "openapi": "3.1.0",
  "info": {
    "title": "pci-proxy-manage-destinations",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/pci-proxy/destinations": {
      "get": {
        "summary": "List Destinations",
        "description": "Returns the destinations registered on your account's allowlist. Only hosts on this list can be reached by the [forward proxy](/reference/pci-proxy/invoke-forward-proxy); a request to any other host is rejected with `403 DESTINATION_NOT_ALLOWED`.",
        "operationId": "listPciProxyDestinations",
        "parameters": [
          {
            "name": "yuno-account-id",
            "in": "header",
            "required": false,
            "description": "Optional account scope. When set, the response contains only that account's destinations plus the organization-wide ones. Omit it to list all of the organization's destinations.",
            "schema": {
              "type": "string",
              "example": "acc_123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The destinations registered for your account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "destinations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Destination"
                      }
                    }
                  }
                },
                "example": {
                  "destinations": [
                    {
                      "id": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4",
                      "account_id": null,
                      "hostname": "api.example-processor.com",
                      "status": "ENABLED",
                      "purpose": "Direct acquiring — Processor X",
                      "created_at": "2026-07-09T13:05:36Z",
                      "updated_at": "2026-07-09T13:05:36Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Register Destination",
        "description": "Adds a host to your account's allowlist so the forward proxy can send card data to it. Matching is on the exact hostname, case-insensitive; subdomains and wildcards are not implied. A newly registered host is usable within minutes.",
        "operationId": "registerPciProxyDestination",
        "parameters": [
          {
            "name": "yuno-account-id",
            "in": "header",
            "required": false,
            "description": "Optional account scope. When set, the new destination is scoped to that account and a differing `account_id` in the body is rejected. Omit it to register at the organization level (honoring the body `account_id`).",
            "schema": {
              "type": "string",
              "example": "acc_123"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DestinationInput"
              },
              "example": {
                "hostname": "api.example-processor.com",
                "purpose": "Direct acquiring — Processor X"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The destination was registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                },
                "example": {
                  "id": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4",
                  "account_id": null,
                  "hostname": "api.example-processor.com",
                  "status": "ENABLED",
                  "purpose": "Direct acquiring — Processor X",
                  "created_at": "2026-07-09T13:05:36Z",
                  "updated_at": "2026-07-09T13:05:36Z"
                }
              }
            }
          },
          "400": {
            "description": "The request body could not be parsed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Invalid request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "invalid body"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "The hostname is already registered on your allowlist (for this account scope).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Destination exists": {
                    "value": {
                      "code": "DESTINATION_EXISTS",
                      "messages": [
                        "destination already registered"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The hostname is not a bare public hostname (a URL, a host with a scheme, port, or path, an IP address, or a wildcard), or the `account_id` is not a UUID or does not match the `yuno-account-id` you are scoped to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Invalid hostname": {
                    "value": {
                      "code": "INVALID_HOSTNAME",
                      "messages": [
                        "hostname must be a bare public FQDN with no scheme, port, path, or wildcard"
                      ]
                    }
                  },
                  "Invalid account code": {
                    "value": {
                      "code": "INVALID_ACCOUNT_CODE",
                      "messages": [
                        "account_id must match your yuno-account-id"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-proxy/destinations/{id}": {
      "delete": {
        "summary": "Remove Destination",
        "description": "Removes a host from your account's allowlist. This takes effect immediately: the next proxy request to that host is rejected with `403 DESTINATION_NOT_ALLOWED`.",
        "operationId": "removePciProxyDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` (UUID) of the destination to remove, as returned by [List Destinations](/reference/pci-proxy/list-destinations).",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
            }
          },
          {
            "name": "yuno-account-id",
            "in": "header",
            "required": false,
            "description": "Optional account scope. When set, only that account's own destinations can be removed (organization-wide entries and other accounts' entries are not visible).",
            "schema": {
              "type": "string",
              "example": "acc_123"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The destination was removed. No response body."
          },
          "400": {
            "description": "The `id` path parameter is not a valid UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Invalid id": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "invalid id"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No destination with that `id` is registered for your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Not found": {
                    "value": {
                      "code": "NOT_FOUND",
                      "messages": [
                        "destination not found"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-proxy/destinations/{id}/enable": {
      "post": {
        "summary": "Enable Destination",
        "description": "Re-enables a disabled destination. Only `ENABLED` destinations are used by the forward path.",
        "operationId": "enablePciProxyDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` (UUID) of the destination to enable.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
            }
          },
          {
            "name": "yuno-account-id",
            "in": "header",
            "required": false,
            "description": "Optional account scope. When set, only that account's own destinations can be changed.",
            "schema": {
              "type": "string",
              "example": "acc_123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The destination was enabled; the updated object is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/DestinationNotFound"
          }
        }
      }
    },
    "/pci-proxy/destinations/{id}/disable": {
      "post": {
        "summary": "Disable Destination",
        "description": "Turns a destination off without removing it — the record and its audit history are kept, but the forward path rejects it with `403 DESTINATION_NOT_ALLOWED` until it is enabled again.",
        "operationId": "disablePciProxyDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` (UUID) of the destination to disable.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
            }
          },
          {
            "name": "yuno-account-id",
            "in": "header",
            "required": false,
            "description": "Optional account scope. When set, only that account's own destinations can be changed.",
            "schema": {
              "type": "string",
              "example": "acc_123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The destination was disabled; the updated object is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidId"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/DestinationNotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication failed. Missing or invalid API credentials.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DestinationError"
            },
            "examples": {
              "Not authenticated": {
                "value": {
                  "code": "NOT_AUTHENTICATED",
                  "messages": [
                    "not authenticated"
                  ]
                }
              }
            }
          }
        }
      },
      "InvalidId": {
        "description": "The `id` path parameter is not a valid UUID.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DestinationError"
            },
            "examples": {
              "Invalid id": {
                "value": {
                  "code": "INVALID_REQUEST",
                  "messages": [
                    "invalid id"
                  ]
                }
              }
            }
          }
        }
      },
      "DestinationNotFound": {
        "description": "No destination with that `id` is registered for your scope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DestinationError"
            },
            "examples": {
              "Not found": {
                "value": {
                  "code": "NOT_FOUND",
                  "messages": [
                    "destination not found"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "DestinationInput": {
        "type": "object",
        "required": [
          "hostname"
        ],
        "properties": {
          "hostname": {
            "type": "string",
            "description": "The bare public hostname to allow, without scheme, port, or path (for example `api.example-processor.com`). Matched exactly, case-insensitive.",
            "example": "api.example-processor.com"
          },
          "purpose": {
            "type": "string",
            "description": "An optional human-readable label describing why this host is allowed. Shown when you list destinations.",
            "example": "Direct acquiring — Processor X"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Optional. Restrict this destination to a single account (a UUID). Omit (or send `null`) to allow the host for the whole organization. If you send a `yuno-account-id` header, this must match it or be omitted.",
            "example": null
          }
        }
      },
      "Destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the destination. Use it to remove the destination.",
            "example": "d7e8f9a0-1234-4b5c-8d6e-7f8091a2b3c4"
          },
          "account_id": {
            "type": "string",
            "nullable": true,
            "description": "The account this destination is scoped to, or `null` when it applies to the whole organization.",
            "example": null
          },
          "hostname": {
            "type": "string",
            "description": "The registered hostname.",
            "example": "api.example-processor.com"
          },
          "status": {
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ],
            "description": "Whether the destination is active. Only ENABLED destinations are used by the forward path.",
            "example": "ENABLED"
          },
          "purpose": {
            "type": "string",
            "description": "The label you provided when registering the destination.",
            "example": "Direct acquiring — Processor X"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the destination was registered.",
            "example": "2026-07-09T13:05:36Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the destination was last changed.",
            "example": "2026-07-09T13:05:36Z"
          }
        }
      },
      "DestinationError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code.",
            "enum": [
              "NOT_AUTHENTICATED",
              "AuthenticationFail",
              "INVALID_REQUEST",
              "INVALID_HOSTNAME",
              "INVALID_ACCOUNT_CODE",
              "DESTINATION_EXISTS",
              "NOT_FOUND",
              "INTERNAL_ERROR"
            ]
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
