{
  "openapi": "3.1.0",
  "info": {
    "title": "pci-proxy-manage-destinations",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/pci-proxy/destinations": {
      "get": {
        "summary": "List Destinations",
        "description": "Returns the destinations registered on your account's allowlist. Only hosts on this list can be reached by the [forward proxy](/reference/pci-proxy/invoke-forward-proxy); a request to any other host is rejected with `403 DESTINATION_NOT_ALLOWED`.",
        "operationId": "listPciProxyDestinations",
        "responses": {
          "200": {
            "description": "The destinations registered for your account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "destinations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Destination"
                      }
                    }
                  }
                },
                "example": {
                  "destinations": [
                    {
                      "id": "dst_5f8c2a1b9e4d",
                      "hostname": "api.example-processor.com",
                      "purpose": "Direct acquiring — Processor X",
                      "created_at": "2026-07-09T13:05:36Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Register Destination",
        "description": "Adds a host to your account's allowlist so the forward proxy can send card data to it. Matching is on the exact hostname, case-insensitive; subdomains and wildcards are not implied. A newly registered host is usable within minutes.",
        "operationId": "registerPciProxyDestination",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DestinationInput"
              },
              "example": {
                "hostname": "api.example-processor.com",
                "purpose": "Direct acquiring — Processor X"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The destination was registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destination"
                },
                "example": {
                  "id": "dst_5f8c2a1b9e4d",
                  "hostname": "api.example-processor.com",
                  "purpose": "Direct acquiring — Processor X",
                  "created_at": "2026-07-09T13:05:36Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "The hostname is already registered on your allowlist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Already registered": {
                    "value": {
                      "code": "DESTINATION_ALREADY_REGISTERED",
                      "messages": [
                        "hostname is already registered on your allowlist"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "The value is not a bare public hostname (a URL, a host with a port or path, an IP address, or a wildcard).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Invalid hostname": {
                    "value": {
                      "code": "INVALID_HOSTNAME",
                      "messages": [
                        "hostname must be a bare public hostname without scheme, port, or path"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-proxy/destinations/{id}": {
      "delete": {
        "summary": "Remove Destination",
        "description": "Removes a host from your account's allowlist. This takes effect immediately: the next proxy request to that host is rejected with `403 DESTINATION_NOT_ALLOWED`.",
        "operationId": "removePciProxyDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The `id` of the destination to remove, as returned by [List Destinations](/reference/pci-proxy/list-destinations).",
            "schema": {
              "type": "string",
              "example": "dst_5f8c2a1b9e4d"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The destination was removed. No response body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No destination with that `id` is registered for your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestinationError"
                },
                "examples": {
                  "Not found": {
                    "value": {
                      "code": "DESTINATION_NOT_FOUND",
                      "messages": [
                        "no destination with that id is registered for your account"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication failed. Missing or invalid API credentials.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DestinationError"
            },
            "examples": {
              "Not authenticated": {
                "value": {
                  "code": "NOT_AUTHENTICATED",
                  "messages": [
                    "not authenticated"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "DestinationInput": {
        "type": "object",
        "required": [
          "hostname"
        ],
        "properties": {
          "hostname": {
            "type": "string",
            "description": "The bare public hostname to allow, without scheme, port, or path (for example `api.example-processor.com`). Matched exactly, case-insensitive.",
            "example": "api.example-processor.com"
          },
          "purpose": {
            "type": "string",
            "description": "An optional human-readable label describing why this host is allowed. Shown when you list destinations.",
            "example": "Direct acquiring — Processor X"
          }
        }
      },
      "Destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the destination. Use it to remove the destination.",
            "example": "dst_5f8c2a1b9e4d"
          },
          "hostname": {
            "type": "string",
            "description": "The registered hostname.",
            "example": "api.example-processor.com"
          },
          "purpose": {
            "type": "string",
            "description": "The label you provided when registering the destination.",
            "example": "Direct acquiring — Processor X"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the destination was registered.",
            "example": "2026-07-09T13:05:36Z"
          }
        }
      },
      "DestinationError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code.",
            "enum": [
              "NOT_AUTHENTICATED",
              "AuthenticationFail",
              "INVALID_HOSTNAME",
              "DESTINATION_ALREADY_REGISTERED",
              "DESTINATION_NOT_FOUND"
            ]
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
