{
  "openapi": "3.1.0",
  "info": {
    "title": "White-label Providers API - Delete Instructions",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY",
        "x-default": "<Your PUBLIC-API-KEY>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY",
        "x-default": "<Your PRIVATE-SECRET-KEY>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/whitelabel/providers/{provider_id}/instructions": {
      "delete": {
        "summary": "Delete a Provider's Instruction Override",
        "operationId": "delete-whitelabel-provider-instructions",
        "description": "Deletes your instruction override for this provider, so it falls back to the Yuno catalogue's wording, name and documentation link in full. Idempotent, and it does not change whether you offer the provider. The provider's logo is stored separately and is left alone — reset that with `DELETE /v1/whitelabel/providers/{provider_id}/logo`.",
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "required": true,
            "description": "Yuno catalogue provider id in UPPER_SNAKE_CASE. Case-insensitive; normalized to upper case.",
            "schema": {
              "type": "string",
              "example": "STRIPE"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Override reset. No content."
          },
          "400": {
            "description": "Invalid provider_id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "provider_id is invalid"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API keys.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHENTICATED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "Not authenticated"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
