{
  "openapi": "3.1.0",
  "info": {
    "title": "Recipients API",
    "version": "1.0.0",
    "description": "API for managing recipients in split payment scenarios. This feature enables merchants to split payments among multiple recipients, which is particularly beneficial for marketplace models where transactions need to be divided among different sellers or stakeholders."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/payments/{payment_id}/transactions/{transaction_id}/split-marketplace/transfer-reversal": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "payment_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The unique identifier of the payment (MAX 64; MIN 36)."
          },
          {
            "in": "path",
            "name": "transaction_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The unique identifier of the transaction (MAX 64; MIN 36)."
          },
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier used in HTTP headers to ensure that a request is processed only once, even if it is retried due to network issues or timeouts."
          }
        ],
        "operationId": "post_payments-payment-id-transactions-transaction-id-split-marketplace-transfer-reversal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "Currency of the transaction. Visit the [country reference](https://docs.y.uno/reference/country-reference) for the full list of supported currencies.",
                        "default": ""
                      },
                      "value": {
                        "type": "number",
                        "description": "The value amount of the transaction.",
                        "default": ""
                      }
                    },
                    "description": "The payment amount (multiple of 0.0001).",
                    "required": [
                      "currency",
                      "value"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "The unique identifier of the transaction (MAX 256; MIN 3).",
                    "default": ""
                  }
                },
                "required": [
                  "amount"
                ]
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}