{
  "openapi": "3.1.0",
  "info": { "title": "Connections API - Create", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/connections": {
      "post": {
        "summary": "Create a Connection",
        "operationId": "create-connection",
        "description": "Creates a connection in ACTIVE status.",
        "parameters": [
          { "name": "X-Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["merchant_connection_id", "provider_id", "flow_type", "payment_methods", "params"],
                "properties": {
                  "merchant_connection_id": { "type": "string", "example": "adyen-us-prod-001" },
                  "provider_id": { "type": "string", "example": "ADYEN" },
                  "flow_type": { "type": "string", "example": "PAYIN" },
                  "payment_methods": { "type": "array", "items": { "type": "string" }, "example": ["CARD", "GOOGLE_PAY"] },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "param_id": { "type": "string" },
                        "value": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connection_id": { "type": "string", "example": "f1a3c4d5-7b8e-4a2c-9d1e-3f4a5b6c7d8e" },
                    "merchant_connection_id": { "type": "string", "example": "stripe-us-prod-001" },
                    "provider_id": { "type": "string", "example": "STRIPE" },
                    "status": { "type": "string", "example": "ACTIVE" },
                    "flow_type": { "type": "string", "example": "PAYIN" },
                    "payment_methods": { "type": "array", "items": { "type": "string" }, "example": ["CARD", "GOOGLE_PAY", "APPLE_PAY"] },
                    "params": { "type": "array", "items": { "type": "object" } },
                    "costs": { "type": "array", "items": { "type": "object" } },
                    "created_at": { "type": "string", "format": "date-time", "example": "2026-05-12T10:24:00Z" },
                    "updated_at": { "type": "string", "format": "date-time", "example": "2026-05-12T10:24:00Z" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "validation_error" },
                    "code": { "type": "string", "example": "MISSING_REQUIRED_PARAM" },
                    "message": { "type": "string", "example": "Required param 'API_KEY' is missing" },
                    "details": { "type": "object" }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "conflict" },
                    "code": { "type": "string", "example": "CONNECTION_MERCHANT_ID_CONFLICT" },
                    "message": { "type": "string", "example": "A connection with this merchant_connection_id already exists" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
