{
  "openapi": "3.1.0",
  "info": { "title": "Connections API - Delete", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" }, { "url": "https://api.eu.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/connections/{connection_id}": {
      "delete": {
        "summary": "Delete a Connection",
        "operationId": "delete-connection",
        "description": "Deletes a connection. The connection moves to DELETED status and stops being available to routing.",
        "parameters": [
          { "name": "connection_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "X-Account-Code", "in": "header", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "204": { "description": "No Content" },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "auth_error" },
                    "code": { "type": "string", "example": "NOT_AUTHENTICATED" },
                    "message": { "type": "string", "example": "Not authenticated" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "not_found" },
                    "code": { "type": "string", "example": "CONNECTION_NOT_FOUND" },
                    "message": { "type": "string", "example": "Connection '...' was not found" }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "conflict" },
                    "code": { "type": "string", "example": "CONNECTION_IN_USE" },
                    "message": { "type": "string", "example": "Connection '...' is still referenced by an active routing rule" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
