{
  "openapi": "3.1.0",
  "info": { "title": "Connections API - Get Provider Catalog", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/connections/catalog/{provider_id}": {
      "get": {
        "summary": "Get Provider Catalog",
        "operationId": "get-provider-catalog",
        "description": "Returns the schema you need to fill in to create a connection for a given provider.",
        "parameters": [
          { "name": "provider_id", "in": "path", "required": true, "schema": { "type": "string", "example": "ADYEN" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment_method_type": { 
                      "type": "array", 
                      "items": { "type": "string" },
                      "example": ["CARD", "GOOGLE_PAY", "IDEAL", "PIX"]
                    },
                    "params": { 
                      "type": "array", 
                      "items": { 
                        "type": "object",
                        "properties": {
                          "param_id": { "type": "string", "example": "merchantAccount" },
                          "field_type": { "type": "string", "enum": ["string", "boolean", "number", "array"], "example": "string" },
                          "description": { "type": "string", "example": "Account Code" },
                          "editable_field": { "type": "boolean", "example": true },
                          "optional": { "type": "boolean", "example": false },
                          "secret": { "type": "boolean", "example": false },
                          "params": { "type": "array", "items": { "type": "object" }, "description": "Nested parameters" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
