{
  "openapi": "3.1.0",
  "info": { "title": "Connections API - Retrieve", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/connections/{connection_id}": {
      "get": {
        "summary": "Retrieve a Connection",
        "operationId": "retrieve-connection",
        "description": "Returns a connection you previously created.",
        "parameters": [
          { "name": "connection_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connection_id": { "type": "string", "example": "f1a3c4d5-7b8e-4a2c-9d1e-3f4a5b6c7d8e" },
                    "merchant_connection_id": { "type": "string", "example": "adyen-us-prod-001" },
                    "provider_id": { "type": "string", "example": "ADYEN" },
                    "status": { "type": "string", "example": "ACTIVE" },
                    "flow_type": { "type": "string", "example": "PAYIN" },
                    "payment_methods": { "type": "array", "items": { "type": "string" }, "example": ["CARD", "GOOGLE_PAY", "IDEAL"] },
                    "params": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "param_id": { "type": "string", "example": "merchantAccount" },
                          "value": { "type": "string", "example": "ACME_LIVE" }
                        }
                      }
                    },
                    "costs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sort_number": { "type": "integer", "example": 1 },
                          "cost_name": { "type": "string", "example": "Transaction Fee" },
                          "currency": { "type": "string", "example": "USD" }
                        }
                      }
                    },
                    "created_at": { "type": "string", "format": "date-time", "example": "2026-05-12T10:24:00Z" },
                    "updated_at": { "type": "string", "format": "date-time", "example": "2026-05-12T10:24:00Z" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
