{
  "openapi": "3.1.0",
  "info": { "title": "Connections API - Update", "version": "1.0.0" },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://api.y.uno/v1",
      "description": "Production (US)"
    },
    {
      "url": "https://api.eu.y.uno/v1",
      "description": "Production (EMEA)"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/connections/{connection_id}": {
      "patch": {
        "summary": "Update a Connection",
        "operationId": "update-connection",
        "description": "Partially updates a connection. Only the fields present in the body are applied.",
        "parameters": [
          { "name": "connection_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["account_id"],
                "properties": {
                  "account_id": { "type": "string", "format": "uuid", "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890" },
                  "merchant_connection_id": { "type": "string", "maxLength": 255, "example": "stripe-us-prod-002" },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "param_id": { "type": "string", "example": "API_KEY" },
                        "value": { "type": "string", "example": "sk_live_..." }
                      }
                    }
                  },
                  "costs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sort_number": { "type": "integer", "example": 1 },
                        "cost_name": { "type": "string", "example": "Transaction Fee" },
                        "currency": { "type": "string", "example": "USD" },
                        "cost_values": {
                          "type": "object",
                          "properties": {
                            "successful": {
                              "type": "object",
                              "properties": {
                                "fixed_fee": { "type": "number", "example": 0.25 },
                                "percentage": { "type": "number", "example": 2.7 }
                              }
                            },
                            "unsuccessful": {
                              "type": "object",
                              "properties": {
                                "fixed_fee": { "type": "number", "example": 0.0 },
                                "percentage": { "type": "number", "example": 0.0 }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connection_id": { "type": "string", "example": "f1a3c4d5-7b8e-4a2c-9d1e-3f4a5b6c7d8e" },
                    "merchant_connection_id": { "type": "string", "example": "stripe-us-prod-002" },
                    "provider_id": { "type": "string", "example": "STRIPE" },
                    "status": { "type": "string", "example": "ACTIVE" },
                    "flow_type": { "type": "string", "example": "PAYIN" },
                    "payment_methods": { "type": "array", "items": { "type": "string" }, "example": ["CARD", "GOOGLE_PAY", "APPLE_PAY"] },
                    "params": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "param_id": { "type": "string", "example": "API_KEY" },
                          "value": { "type": "string", "example": "***" }
                        }
                      }
                    },
                    "costs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sort_number": { "type": "integer", "example": 1 },
                          "cost_name": { "type": "string", "example": "Transaction Fee" },
                          "currency": { "type": "string", "example": "USD" }
                        }
                      }
                    },
                    "created_at": { "type": "string", "format": "date-time", "example": "2026-05-12T10:24:00Z" },
                    "updated_at": { "type": "string", "format": "date-time", "example": "2026-05-12T11:02:17Z" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "validation_error" },
                    "code": { "type": "string", "example": "UNKNOWN_PARAM" },
                    "message": { "type": "string", "example": "Param 'FOO' is not part of the catalog for provider 'STRIPE'" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "auth_error" },
                    "code": { "type": "string", "example": "NOT_AUTHENTICATED" },
                    "message": { "type": "string", "example": "Not authenticated" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "not_found" },
                    "code": { "type": "string", "example": "CONNECTION_NOT_FOUND" },
                    "message": { "type": "string", "example": "Connection '...' was not found" }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "conflict" },
                    "code": { "type": "string", "example": "CONNECTION_MERCHANT_ID_CONFLICT" },
                    "message": { "type": "string", "example": "A connection with merchant_connection_id 'stripe-us-prod-002' already exists in this account" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
