{
  "openapi": "3.1.0",
  "info": {
    "title": "customer-api",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/customers/payment-methods/{payment_method_id}/unenroll": {
      "post": {
        "summary": "Unenroll Payment Method",
        "description": "",
        "operationId": "unenroll-payment-method-checkout",
        "parameters": [
          {
            "name": "payment_method_id",
            "in": "path",
            "description": "The payment method id to unenroll (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"77ee4a02-da3e-4a11-ac15-ba69e1813475\",\n    \"idempotency_key\": null,\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"name\": \"VISA ****1111\",\n    \"description\": \"VISA ****1111\",\n    \"type\": \"CARD\",\n    \"category\": \"CARD\",\n    \"country\": \"US\",\n    \"status\": \"UNENROLLED\",\n    \"created_at\": \"2024-06-06T13:28:57.149530Z\",\n    \"updated_at\": \"2024-06-06T13:31:13.945554Z\",\n    \"enrollment\": {\n        \"session\": \"0685f1d6-11ff-4992-abc3-9eea1842205c\",\n        \"sdk_required_action\": true\n    },\n    \"provider\": {\n        \"id\": \"YUNO\",\n        \"type\": \"YUNO\",\n        \"provider_status\": null\n    },\n    \"verify\": {\n        \"vault_on_success\": false,\n        \"payment\": null\n    },\n    \"preferred\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "77ee4a02-da3e-4a11-ac15-ba69e1813475"
                    },
                    "idempotency_key": {},
                    "account_id": {
                      "type": "string",
                      "example": "493e9374-510a-4201-9e09-de669d75f256"
                    },
                    "name": {
                      "type": "string",
                      "example": "VISA ****1111"
                    },
                    "description": {
                      "type": "string",
                      "example": "VISA ****1111"
                    },
                    "type": {
                      "type": "string",
                      "example": "CARD"
                    },
                    "category": {
                      "type": "string",
                      "example": "CARD"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "status": {
                      "type": "string",
                      "example": "UNENROLLED"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2024-06-06T13:28:57.149530Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2024-06-06T13:31:13.945554Z"
                    },
                    "enrollment": {
                      "type": "object",
                      "properties": {
                        "session": {
                          "type": "string",
                          "example": "0685f1d6-11ff-4992-abc3-9eea1842205c"
                        },
                        "sdk_required_action": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        }
                      }
                    },
                    "provider": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "YUNO"
                        },
                        "type": {
                          "type": "string",
                          "example": "YUNO"
                        },
                        "provider_status": {}
                      }
                    },
                    "verify": {
                      "type": "object",
                      "properties": {
                        "vault_on_success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "payment": {}
                      }
                    },
                    "preferred": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": "{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}