{
  "openapi": "3.1.0",
  "info": {
    "title": "checkout-builder",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "publicApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY",
        "description": "Merchant public API key. Found in Yuno dashboard → Settings → API Keys."
      },
      "privateSecretKey": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY",
        "description": "Merchant private secret key, paired with the public key. Never embed in client-side code."
      },
      "accountCode": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Account-Code",
        "description": "UUID of the merchant account scope for the request. The tenant is resolved only from this header."
      }
    }
  },
  "security": [
    {
      "publicApiKey": [],
      "privateSecretKey": [],
      "accountCode": []
    }
  ],
  "paths": {
    "/checkouts/{checkout_code}": {
      "get": {
        "summary": "Fetch Checkout Configuration",
        "description": "Returns the full custom checkout for the given code — configuration and styling composed in a single response. The checkout identifier is exposed as the top-level `id`.",
        "operationId": "get-checkout-configuration",
        "parameters": [
          {
            "name": "checkout_code",
            "in": "path",
            "description": "The unique identifier of the checkout to retrieve (UUID, 36 chars). Non-UUID values are rejected with 400 before processing.",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The custom checkout, with configuration and styling composed.",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "id": "8005ca91-dcfb-4428-b9f6-49c6e3446474",
                      "name": "Main Checkout",
                      "description": "",
                      "status": "PUBLISHED",
                      "is_default": true,
                      "created_at": "2026-01-01T00:00:00Z",
                      "updated_at": "2026-05-18T13:06:08Z",
                      "config": {
                        "payment_methods": [
                          {
                            "payment_method_type": "CARD",
                            "order_to_show": 1,
                            "is_active": true,
                            "active_enrollment_type": "BOTH",
                            "conditions_to_override": [],
                            "required_fields_to_override": null
                          }
                        ],
                        "general_settings": {
                          "country_documents": [
                            { "country_code": "AR", "documents": ["DNI", "CUIT"] }
                          ]
                        }
                      },
                      "styling": {
                        "styles": {
                          "global": { "accent_color": "#282A30", "font_family": "Inter" }
                        },
                        "settings": {},
                        "flags": { "force_default_styles": false }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "description": "Checkout UUID (the checkout_code).", "example": "8005ca91-dcfb-4428-b9f6-49c6e3446474" },
                    "name": { "type": "string", "description": "Checkout name.", "example": "Main Checkout" },
                    "description": { "type": "string", "description": "Checkout description." },
                    "status": { "type": "string", "description": "Checkout status.", "example": "PUBLISHED" },
                    "is_default": { "type": "boolean", "description": "Whether this is the account's default checkout.", "example": true },
                    "created_at": { "type": "string", "description": "Creation timestamp (ISO 8601)." },
                    "updated_at": { "type": "string", "description": "Last updated timestamp (ISO 8601)." },
                    "config": {
                      "type": "object",
                      "description": "Checkout configuration.",
                      "properties": {
                        "payment_methods": {
                          "type": "array",
                          "description": "Payment methods configured for this checkout. Order is driven by `order_to_show` (lower = first).",
                          "items": { "type": "object" }
                        },
                        "general_settings": {
                          "type": "object",
                          "description": "General checkout settings, including accepted document types per country (`country_documents`)."
                        }
                      }
                    },
                    "styling": {
                      "type": "object",
                      "description": "Checkout styling and SDK settings: `styles`, `settings`, `flags`, `external_fonts`, `payment_link_styles`."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`checkout_code` is not a valid UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "INVALID_PARAMETERS" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated, or the account is not in the beta allowlist.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": { "code": "NOT_AUTHENTICATED", "messages": ["Not authenticated"] }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "NOT_AUTHENTICATED" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The checkout was not found for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  }
}
