{
  "openapi": "3.1.0",
  "info": {
    "title": "checkout-builder",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prod.y.uno/dashboard-bff/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT issued by Yuno's auth provider. Tokens are short-lived — refresh before expiry."
      },
      "accountCode": {
        "type": "apiKey",
        "in": "header",
        "name": "x-account-code",
        "x-default": "<Your account UUID>"
      },
      "environment": {
        "type": "apiKey",
        "in": "header",
        "name": "x-environment",
        "x-default": "live"
      },
      "orgCode": {
        "type": "apiKey",
        "in": "header",
        "name": "x-organization-code",
        "x-default": ""
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "accountCode": [],
      "environment": [],
      "orgCode": []
    }
  ],
  "paths": {
    "/v1/checkouts/{checkout_code}": {
      "get": {
        "summary": "Fetch Checkout Configuration",
        "description": "Returns the full checkout configuration for the given checkout code, including all payment methods, their active state, display order, conditions, and required-field overrides.",
        "operationId": "get-checkout-configuration",
        "parameters": [
          {
            "name": "checkout_code",
            "in": "path",
            "description": "The unique identifier of the checkout to retrieve (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "account_code": "b91b3970-dbf7-4d6a-b34d-96adbf3a0988",
                      "code": "8005ca91-dcfb-4428-b9f6-49c6e3446474",
                      "name": "Default Checkout",
                      "description": "",
                      "is_active": true,
                      "is_archive": false,
                      "organization_code": "org-uuid",
                      "root": true,
                      "created_at": "2026-01-01T00:00:00Z",
                      "updated_at": "2026-05-18T13:06:08Z",
                      "payment_methods": [
                        {
                          "is_active": true,
                          "payment_method_type": "CARD",
                          "order_to_show": 1,
                          "type": "PAYMENT_METHOD",
                          "active_enrollment_type": "BOTH",
                          "conditions_to_override": [],
                          "required_fields_to_override": null
                        }
                      ],
                      "general_settings": {
                        "country_documents": [
                          { "country_code": "AR", "documents": ["DNI", "CUIT"] }
                        ]
                      },
                      "feature_flags": {
                        "custom_required_fields": true,
                        "custom_logo_icon": false
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_code": {
                      "type": "string",
                      "description": "Account UUID.",
                      "example": "b91b3970-dbf7-4d6a-b34d-96adbf3a0988"
                    },
                    "code": {
                      "type": "string",
                      "description": "Checkout UUID.",
                      "example": "8005ca91-dcfb-4428-b9f6-49c6e3446474"
                    },
                    "name": {
                      "type": "string",
                      "description": "Checkout name.",
                      "example": "Default Checkout"
                    },
                    "description": {
                      "type": "string",
                      "description": "Checkout description.",
                      "example": ""
                    },
                    "is_active": {
                      "type": "boolean",
                      "description": "Whether the checkout is active.",
                      "example": true
                    },
                    "is_archive": {
                      "type": "boolean",
                      "description": "Whether the checkout is archived.",
                      "example": false
                    },
                    "organization_code": {
                      "type": "string",
                      "description": "Organization UUID.",
                      "example": "org-uuid"
                    },
                    "root": {
                      "type": "boolean",
                      "description": "Whether this is the root (default) checkout for the account.",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Creation timestamp (ISO 8601).",
                      "example": "2026-01-01T00:00:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "Last updated timestamp (ISO 8601).",
                      "example": "2026-05-18T13:06:08Z"
                    },
                    "payment_methods": {
                      "type": "array",
                      "description": "List of payment methods configured for this checkout.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "is_active": {
                            "type": "boolean",
                            "description": "Whether the method is offered in the checkout.",
                            "example": true
                          },
                          "payment_method_type": {
                            "type": "string",
                            "description": "Payment method type (e.g. CARD, GOOGLE_PAY, APPLE_PAY, PAYPAL).",
                            "example": "CARD"
                          },
                          "order_to_show": {
                            "type": "integer",
                            "description": "Display order. Lower = shown first. This field drives order, not the array position.",
                            "example": 1
                          },
                          "type": {
                            "type": "string",
                            "description": "PAYMENT_METHOD (standard) or ENROLLMENT (tokenization/saved-credentials flow).",
                            "enum": ["PAYMENT_METHOD", "ENROLLMENT"],
                            "example": "PAYMENT_METHOD"
                          },
                          "active_enrollment_type": {
                            "type": "string",
                            "description": "For methods that support both flows (e.g. CARD): BOTH, NONE, ENROLLMENT, or NO_ENROLLMENT. Only applicable when type is PAYMENT_METHOD.",
                            "enum": ["BOTH", "NONE", "ENROLLMENT", "NO_ENROLLMENT"],
                            "example": "BOTH",
                            "nullable": true
                          },
                          "conditions_to_override": {
                            "type": "array",
                            "description": "Condition sets that gate when the method appears. The method is shown if any set matches (sets are OR'd; conditions within a set are AND'd).",
                            "items": {
                              "type": "object"
                            }
                          },
                          "required_fields_to_override": {
                            "type": "object",
                            "description": "Per-field configuration for enrolled and non-enrolled flows.",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "general_settings": {
                      "type": "object",
                      "description": "General checkout settings.",
                      "properties": {
                        "country_documents": {
                          "type": "array",
                          "description": "Accepted document types per country.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "country_code": {
                                "type": "string",
                                "description": "ISO 3166-1 alpha-2 country code.",
                                "example": "AR"
                              },
                              "documents": {
                                "type": "array",
                                "description": "List of accepted document types for this country.",
                                "items": {
                                  "type": "string"
                                },
                                "example": ["DNI", "CUIT"]
                              }
                            }
                          }
                        }
                      }
                    },
                    "feature_flags": {
                      "type": "object",
                      "description": "Feature flags enabled for this checkout.",
                      "properties": {
                        "custom_required_fields": {
                          "type": "boolean",
                          "example": true
                        },
                        "custom_logo_icon": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "code": "INVALID_CREDENTIALS",
                      "messages": ["Invalid credentials"]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "INVALID_CREDENTIALS" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": {
                      "code": "AUTHORIZATION_REQUIRED",
                      "messages": ["The merchant has no authorization to use this API."]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "AUTHORIZATION_REQUIRED" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  }
}
