{
  "openapi": "3.1.0",
  "info": {
    "title": "checkout-builder",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.y.uno/v1"
    },
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "publicApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY",
        "description": "Merchant public API key. Found in Yuno dashboard → Settings → API Keys."
      },
      "privateSecretKey": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY",
        "description": "Merchant private secret key, paired with the public key. Never embed in client-side code."
      },
      "accountCode": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Account-Code",
        "description": "UUID of the merchant account scope for the request. The tenant is resolved only from this header."
      }
    }
  },
  "security": [
    {
      "publicApiKey": [],
      "privateSecretKey": [],
      "accountCode": []
    }
  ],
  "paths": {
    "/checkouts/{checkout_code}": {
      "get": {
        "summary": "Fetch Checkout Configuration",
        "description": "Returns the full custom checkout for the given code: configuration and styling composed in a single response. The checkout identifier is exposed as the top-level `id`.",
        "operationId": "get-checkout-configuration",
        "parameters": [
          {
            "name": "checkout_code",
            "in": "path",
            "description": "The unique identifier of the checkout to retrieve (UUID, 36 chars). Non-UUID values are rejected with 400 before processing.",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The custom checkout, with configuration and styling composed.",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "id": "8005ca91-dcfb-4428-b9f6-49c6e3446474",
                      "name": "Main Checkout",
                      "description": "",
                      "status": "PUBLISHED",
                      "is_default": true,
                      "created_at": "2026-01-01T00:00:00Z",
                      "updated_at": "2026-05-18T13:06:08Z",
                      "config": {
                        "payment_methods": [
                          {
                            "payment_method_type": "CARD",
                            "name": "Card",
                            "description": "Card",
                            "icon": "https://sdk.prod.y.uno/brands/card_logosimbolo.png",
                            "category": "CARD",
                            "short_name": "Card",
                            "hint": "",
                            "order_to_show": 1,
                            "is_active": true,
                            "type": "PAYMENT_METHOD",
                            "has_enrollment": true,
                            "conditions_quantity": 1,
                            "active_enrollment_type": "BOTH"
                          }
                        ],
                        "general_settings": {
                          "country_documents": [
                            { "country_code": "AR", "documents": ["DNI", "CUIT"] }
                          ]
                        },
                        "feature_flags": {
                          "custom_required_fields": true,
                          "custom_logo_icon": true
                        }
                      },
                      "styling": {
                        "styles": {
                          "global": {
                            "accent_color": "#282A30",
                            "primary_background_color": "#FFFFFF",
                            "primary_text_color": "#282A30",
                            "primary_button_text_color": "#FFFFFF",
                            "secondary_background_color": "#ECEFF2",
                            "secondary_text_color": "#84807F",
                            "secondary_button_background_color": "#FFFFFF",
                            "secondary_button_text_color": "#282A30",
                            "font_family": "Inter"
                          },
                          "header": {
                            "logo_border_size": 0,
                            "logo_border_color": "#282A30",
                            "logo_corner_radius": 8,
                            "font_size": 18,
                            "font_weight": 700
                          },
                          "button": {
                            "corner_radius": 8,
                            "border_size": 0,
                            "primary_border_color": "#282A30",
                            "secondary_border_color": "#282A30",
                            "font_size": 18,
                            "font_weight": 400
                          }
                        },
                        "settings": {
                          "sdk_type": { "web": "SEAMLESS", "mobile": "SEAMLESS" },
                          "card": {
                            "save_on_success": true,
                            "visualization_mode": "ONE_STEP",
                            "enable_ocr": false,
                            "credit_card_only_processing": false,
                            "default_network": "DOM"
                          },
                          "web_sdk": { "render_mode": "MODAL", "hide_pay_button": false },
                          "payment_method_list": {
                            "unfolded_display": false,
                            "preselected_payment_method": false,
                            "condensed_checkout_view": false,
                            "edit_payment_method_list": false
                          },
                          "ui": { "dark_mode": false, "show_secure_payment_tag": true },
                          "payment_link": { "show_result_screen": false }
                        },
                        "external_fonts": [
                          {
                            "family_name": "Inter",
                            "files": [
                              { "weight": 400, "url": "https://staging.y.uno/sdk-static-bundles-ms/v1/static/fonts/Inter-Regular.ttf" }
                            ]
                          }
                        ],
                        "payment_link_styles": {
                          "panel": {
                            "left": {
                              "background": { "color": "#ECEFF2" },
                              "logo": "data:image/jpeg;base64,..."
                            }
                          },
                          "checkbox": { "color": "#282A30" },
                          "border": { "color": "#282A30" },
                          "radio_button": { "color": "#282A30" },
                          "button": {
                            "text": { "color": "#876E6E" },
                            "background": { "color": "#282A30" }
                          },
                          "published_at": "2026-05-14T19:34:06Z"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "description": "Checkout UUID (the checkout_code).", "example": "8005ca91-dcfb-4428-b9f6-49c6e3446474" },
                    "name": { "type": "string", "description": "Checkout name.", "example": "Main Checkout" },
                    "description": { "type": "string", "description": "Checkout description." },
                    "status": { "type": "string", "description": "Checkout status.", "example": "PUBLISHED" },
                    "is_default": { "type": "boolean", "description": "Whether this is the account's default checkout.", "example": true },
                    "created_at": { "type": "string", "description": "Creation timestamp (ISO 8601)." },
                    "updated_at": { "type": "string", "description": "Last updated timestamp (ISO 8601)." },
                    "config": {
                      "type": "object",
                      "description": "Checkout configuration.",
                      "properties": {
                        "payment_methods": {
                          "type": "array",
                          "description": "Payment methods configured for this checkout. Order is driven by `order_to_show` (lower = first). Returns the full payment-method catalog available to the account, not only the ones active for this checkout. Filter by `is_active: true` to get only the enabled ones.",
                          "items": { "type": "object" }
                        },
                        "general_settings": {
                          "type": "object",
                          "description": "General checkout settings, including accepted document types per country (`country_documents`)."
                        },
                        "feature_flags": {
                          "type": "object",
                          "description": "Feature toggles for this checkout, including `custom_required_fields` and `custom_logo_icon`."
                        }
                      }
                    },
                    "styling": {
                      "type": "object",
                      "description": "Checkout styling and SDK settings: `styles`, `settings`, `external_fonts`, `payment_link_styles`."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`checkout_code` is not a valid UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "INVALID_PARAMETERS" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated, or the account is not in the beta allowlist.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": { "code": "NOT_AUTHENTICATED", "messages": ["Not authenticated"] }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "NOT_AUTHENTICATED" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The checkout was not found for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  }
}
