{
  "openapi": "3.1.0",
  "info": {
    "title": "checkout-builder",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prod.y.uno/dashboard-bff/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT issued by Yuno's auth provider. Tokens are short-lived — refresh before expiry."
      },
      "accountCode": {
        "type": "apiKey",
        "in": "header",
        "name": "x-account-code",
        "x-default": "<Your account UUID>"
      },
      "environment": {
        "type": "apiKey",
        "in": "header",
        "name": "x-environment",
        "x-default": "live"
      },
      "orgCode": {
        "type": "apiKey",
        "in": "header",
        "name": "x-organization-code",
        "x-default": ""
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "accountCode": [],
      "environment": [],
      "orgCode": []
    }
  ],
  "paths": {
    "/v1/checkouts/payment-methods/{payment_method_type}/required-fields": {
      "get": {
        "summary": "Get Required Fields",
        "description": "Returns the set of configurable required fields for a given payment method and flow type. Use this before building a required_fields_to_override payload to ensure you reference valid field names.",
        "operationId": "get-required-fields",
        "parameters": [
          {
            "name": "payment_method_type",
            "in": "path",
            "description": "The payment method type (e.g. CARD, GOOGLE_PAY, APPLE_PAY).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "type",
            "in": "query",
            "description": "The flow to query: ENROLLMENT for the saved-card flow, or PAYMENT_METHOD for the first-time entry flow.",
            "schema": {
              "type": "string",
              "enum": ["ENROLLMENT", "PAYMENT_METHOD"]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "CARD enrollment fields": {
                    "value": [
                      { "field_name": "security_code", "is_active": true, "current_value": null },
                      { "field_name": "installment",   "is_active": true, "current_value": null },
                      { "field_name": "first_name",    "is_active": true, "current_value": null },
                      { "field_name": "last_name",     "is_active": true, "current_value": null },
                      { "field_name": "document",      "is_active": true, "current_value": null },
                      { "field_name": "email",         "is_active": true, "current_value": null },
                      { "field_name": "phone",         "is_active": true, "current_value": null },
                      { "field_name": "billing_address",  "is_active": true, "current_value": null },
                      { "field_name": "shipping_address", "is_active": true, "current_value": null },
                      { "field_name": "zip_code",      "is_active": false, "current_value": null }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "description": "List of configurable required fields for this payment method and flow.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field_name": {
                        "type": "string",
                        "description": "Field identifier used in required_fields_to_override. Common values for CARD: security_code, installment, first_name, last_name, document, email, phone, billing_address, shipping_address, zip_code.",
                        "example": "security_code"
                      },
                      "is_active": {
                        "type": "boolean",
                        "description": "Default active state for this field.",
                        "example": true
                      },
                      "current_value": {
                        "type": "string",
                        "description": "Default value override. For security_code, FIRST_TIME means CVV is only required on first use.",
                        "nullable": true,
                        "example": null
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": { "code": "INVALID_CREDENTIALS", "messages": ["Invalid credentials"] }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "INVALID_CREDENTIALS" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": { "code": "AUTHORIZATION_REQUIRED", "messages": ["The merchant has no authorization to use this API."] }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "AUTHORIZATION_REQUIRED" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  }
}
