{
  "openapi": "3.1.0",
  "info": {
    "title": "checkout-builder",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.y.uno"
    }
  ],
  "components": {
    "securitySchemes": {
      "publicApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY",
        "description": "Merchant public API key. Found in Yuno dashboard \u2192 Settings \u2192 API Keys."
      },
      "privateSecretKey": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY",
        "description": "Merchant private secret key, paired with the public key. Never embed in client-side code."
      },
      "accountCode": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Account-Code",
        "description": "UUID of the merchant account scope for the request."
      }
    }
  },
  "security": [
    {
      "publicApiKey": [],
      "privateSecretKey": [],
      "accountCode": []
    }
  ],
  "paths": {
    "/v1/checkouts/country-data": {
      "get": {
        "summary": "Get Country Data",
        "description": "Returns supported countries and their accepted document types. Use this to build the general_settings.country_documents array when publishing a checkout configuration.",
        "operationId": "get-country-data",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": [
                      {
                        "country_code": "AR",
                        "documents": [
                          "DNI",
                          "CUIT",
                          "CUIL",
                          "CDI",
                          "LE",
                          "LC",
                          "CI",
                          "PASSPORT",
                          "OTHER"
                        ]
                      },
                      {
                        "country_code": "BR",
                        "documents": [
                          "CPF",
                          "CNPJ"
                        ]
                      },
                      {
                        "country_code": "CO",
                        "documents": [
                          "CC",
                          "NIT",
                          "CE",
                          "PASSPORT",
                          "OTHER"
                        ]
                      },
                      {
                        "country_code": "MX",
                        "documents": [
                          "RFC",
                          "CURP",
                          "IFE",
                          "PASSPORT",
                          "OTHER"
                        ]
                      },
                      {
                        "country_code": "PE",
                        "documents": [
                          "DNI",
                          "RUC",
                          "CE",
                          "PASSPORT",
                          "OTHER"
                        ]
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "description": "List of supported countries with their accepted document types.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "country_code": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code.",
                        "example": "AR"
                      },
                      "documents": {
                        "type": "array",
                        "description": "List of accepted document type identifiers for this country.",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "DNI",
                          "CUIT"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "code": "INVALID_CREDENTIALS",
                      "messages": [
                        "Invalid credentials"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": {
                      "code": "AUTHORIZATION_REQUIRED",
                      "messages": [
                        "The merchant has no authorization to use this API."
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  }
}