{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Banking Connectivity"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "paths": {
    "/banking/entities/{entity_id}": {
      "patch": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the entity (prefixed `ent_`).",
                      "example": "ent_660e8400-e29b-41d4-a716-446655440000"
                    },
                    "account_id": {
                      "type": "string",
                      "description": "The merchant's Yuno account identifier.",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "merchant_entity_id": {
                      "type": "string",
                      "description": "The merchant's own identifier for this entity.",
                      "example": "merchant_user_12345"
                    },
                    "national_entity": {
                      "type": "string",
                      "description": "The type of entity.",
                      "enum": [
                        "INDIVIDUAL",
                        "ENTITY"
                      ],
                      "example": "INDIVIDUAL"
                    },
                    "phone": {
                      "type": "object",
                      "properties": {
                        "country_code": {
                          "type": "string",
                          "example": "+1"
                        },
                        "number": {
                          "type": "string",
                          "example": "2025559999"
                        }
                      }
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "example": "456 Oak Ave"
                        },
                        "address_line_2": {
                          "type": "string",
                          "nullable": true,
                          "example": "Suite 100"
                        },
                        "building_number_1": {
                          "type": "string",
                          "nullable": true,
                          "example": "456"
                        },
                        "building_number_2": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "city": {
                          "type": "string",
                          "example": "San Francisco"
                        },
                        "state": {
                          "type": "string",
                          "example": "CA"
                        },
                        "zip_code": {
                          "type": "string",
                          "example": "94105"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        }
                      }
                    },
                    "entity_detail": {
                      "type": "object",
                      "properties": {
                        "individual": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "first_name": {
                              "type": "string",
                              "example": "John"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "Doe"
                            },
                            "email": {
                              "type": "string",
                              "example": "john.new@example.com"
                            },
                            "date_of_birth": {
                              "type": "string",
                              "example": "1990-01-15"
                            },
                            "gender": {
                              "type": "string",
                              "example": "M"
                            },
                            "country_of_residence": {
                              "type": "string",
                              "example": "US"
                            },
                            "tax_information": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "country": {
                                    "type": "string",
                                    "example": "US"
                                  },
                                  "tax_id_last_4": {
                                    "type": "string",
                                    "example": "6789"
                                  },
                                  "tax_id_type": {
                                    "type": "string",
                                    "example": "SSN"
                                  },
                                  "is_primary": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              }
                            },
                            "document": {
                              "type": "object",
                              "properties": {
                                "document_type": {
                                  "type": "string",
                                  "example": "SSN"
                                },
                                "document_number_last_4": {
                                  "type": "string",
                                  "example": "6789"
                                },
                                "issuing_country": {
                                  "type": "string",
                                  "example": "US"
                                },
                                "issued_at": {
                                  "type": "string",
                                  "example": "2010-01-15"
                                },
                                "expires_at": {
                                  "type": "string",
                                  "nullable": true,
                                  "example": "2030-01-15"
                                }
                              }
                            }
                          }
                        },
                        "entity": {
                          "type": "object",
                          "nullable": true
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp when the entity was created (ISO 8601).",
                      "example": "2026-02-01T10:00:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "The timestamp when the entity was last updated (ISO 8601).",
                      "example": "2026-02-01T12:00:00Z"
                    }
                  }
                },
                "examples": {
                  "OK (Updated Individual)": {
                    "summary": "OK (Updated Individual)",
                    "value": {
                      "id": "ent_660e8400-e29b-41d4-a716-446655440000",
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "merchant_entity_id": "merchant_user_12345",
                      "national_entity": "INDIVIDUAL",
                      "phone": {
                        "country_code": "+1",
                        "number": "2025559999"
                      },
                      "address": {
                        "address_line_1": "456 Oak Ave",
                        "address_line_2": "Suite 100",
                        "building_number_1": "456",
                        "building_number_2": null,
                        "city": "San Francisco",
                        "state": "CA",
                        "zip_code": "94105",
                        "country": "US"
                      },
                      "entity_detail": {
                        "individual": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "email": "john.new@example.com",
                          "date_of_birth": "1990-01-15",
                          "gender": "M",
                          "country_of_residence": "US",
                          "tax_information": [
                            {
                              "country": "US",
                              "tax_id_last_4": "6789",
                              "tax_id_type": "SSN",
                              "is_primary": true
                            }
                          ],
                          "document": {
                            "document_type": "SSN",
                            "document_number_last_4": "6789",
                            "issuing_country": "US",
                            "issued_at": "2010-01-15",
                            "expires_at": "2030-01-15"
                          }
                        },
                        "entity": null
                      },
                      "created_at": "2026-02-01T10:00:00Z",
                      "updated_at": "2026-02-01T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "national_entity type cannot be changed after creation"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 400,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "messages": [
                        "national_entity type cannot be changed after creation"
                      ],
                      "http_code": 400
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "ENTITY_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Entity not found"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 404,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Not Found": {
                    "summary": "Not Found",
                    "value": {
                      "code": "ENTITY_NOT_FOUND",
                      "messages": [
                        "Entity not found"
                      ],
                      "http_code": 404
                    }
                  }
                }
              }
            },
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "entity_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The `id` of the entity obtained from [Create Entity](/reference/create-entity)."
          }
        ],
        "operationId": "patch_v1-banking-connectivity-entities-entity-id",
        "summary": "Update Entity (Banking Connectivity)",
        "tags": [
          "Entities (Banking Connectivity)"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the merchant's Yuno account (UUID, 36 characters).",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "merchant_entity_id": {
                    "type": "string",
                    "description": "The merchant's own identifier for this entity.",
                    "example": "merchant_user_12345"
                  },
                  "phone": {
                    "type": "object",
                    "description": "Updated phone number.",
                    "properties": {
                      "country_code": {
                        "type": "string",
                        "description": "The phone country code.",
                        "example": "+1"
                      },
                      "number": {
                        "type": "string",
                        "description": "The phone number without the country code.",
                        "example": "2025559999"
                      }
                    }
                  },
                  "address": {
                    "type": "object",
                    "description": "Updated address. Only include fields that need to change.",
                    "properties": {
                      "address_line_1": {
                        "type": "string",
                        "description": "The primary street address.",
                        "example": "456 Oak Ave"
                      },
                      "address_line_2": {
                        "type": "string",
                        "nullable": true,
                        "description": "The secondary address line.",
                        "example": "Suite 100"
                      },
                      "building_number_1": {
                        "type": "string",
                        "nullable": true,
                        "description": "The primary building number.",
                        "example": "456"
                      },
                      "building_number_2": {
                        "type": "string",
                        "nullable": true,
                        "description": "The secondary building number.",
                        "example": null
                      },
                      "city": {
                        "type": "string",
                        "description": "The city name.",
                        "example": "San Francisco"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state or province.",
                        "example": "CA"
                      },
                      "zip_code": {
                        "type": "string",
                        "description": "The postal or ZIP code.",
                        "example": "94105"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)).",
                        "example": "US"
                      }
                    }
                  },
                  "entity_detail": {
                    "type": "object",
                    "description": "Updated entity details. Only include fields that need to change.",
                    "properties": {
                      "individual": {
                        "type": "object",
                        "nullable": true,
                        "description": "Updated individual details.",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "Updated email address.",
                            "example": "john.new@example.com"
                          },
                          "country_of_residence": {
                            "type": "string",
                            "description": "Updated country of residence.",
                            "example": "US"
                          }
                        }
                      },
                      "entity": {
                        "type": "object",
                        "nullable": true,
                        "description": "Updated business details.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Updated business name.",
                            "example": "Acme Corp LLC"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Update Individual": {
                  "summary": "Update Individual",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "phone": {
                      "country_code": "+1",
                      "number": "2025559999"
                    },
                    "address": {
                      "address_line_1": "456 Oak Ave",
                      "address_line_2": "Suite 100",
                      "building_number_1": "456",
                      "building_number_2": null,
                      "city": "San Francisco",
                      "state": "CA",
                      "zip_code": "94105",
                      "country": "US"
                    },
                    "entity_detail": {
                      "individual": {
                        "email": "john.new@example.com"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}