{
  "openapi": "3.1.0",
  "info": {
    "title": "promotions",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    },
    {
      "sec0": []
    }
  ],
  "paths": {
    "/promotions/quote": {
      "post": {
        "summary": "Create Promotion Quote",
        "description": "Prices a payment before you create it. Returns a signed quote when a promotion applies, or `204` when nothing applies. Nothing is consumed: the same request returns the same answer while the quote is valid. A quote lives 30 minutes after it is issued, on both credentials. Every condition of the promotion must already be true for a quote to exist. Promotions must be enabled for your organization by Yuno before you can use this endpoint. See [Promotions](/docs/payment-features/promotions#enable-promotions-for-your-organization).",
        "operationId": "create-promotion-quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "country",
                  "payment_method"
                ],
                "oneOf": [
                  {
                    "required": [
                      "amount"
                    ]
                  },
                  {
                    "required": [
                      "checkout_session"
                    ]
                  }
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The account that will create the payment (UUID)."
                  },
                  "amount": {
                    "type": "object",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                      },
                      "value": {
                        "type": "number",
                        "format": "float",
                        "description": "Multiple of 0.0001."
                      }
                    },
                    "description": "The original amount of the payment, before any promotion. It must be the same `amount` you later send on the payment. Secret key only: send this, not `checkout_session`."
                  },
                  "checkout_session": {
                    "type": "string",
                    "description": "Checkout session id. Use it with the public key instead of amount; the amount comes from the session."
                  },
                  "country": {
                    "type": "string",
                    "description": "The country of the payment (MAX 2; MIN 2; [ISO 3166-1](/reference/country-reference))."
                  },
                  "payment_method": {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "description": "The payment method of the payment you are about to create, with the same shape as on [Create Payment](/reference/payments/create-payment). For a card, identify it in ONE of two ways: send `bin`, or send `token` or `vaulted_token`. Never both a BIN and a token.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The payment method type the customer chose, for example `CARD`. See [Payment type list](/reference/payment-type-list)."
                      },
                      "token": {
                        "type": "string",
                        "description": "Cards only. The one-time token of the card from the Yuno SDK. Yuno resolves the BIN and the card type from it, so you send no `bin`."
                      },
                      "vaulted_token": {
                        "type": "string",
                        "description": "Cards only. The vaulted token of a saved card. Yuno resolves the BIN and the card type from it, so you send no `bin`."
                      },
                      "bin": {
                        "type": "string",
                        "description": "Cards only. The first 6 to 8 digits of the card, digits only. You can also send a longer card prefix, up to 19 digits, and Yuno uses its first 8 digits as the BIN. Fewer than 6 digits, more than 19 digits, or anything but digits is rejected with `400 INVALID_PARAMETERS`. The full card number is never required. Send `bin` when your server holds the card number; send a token when it holds a token; never both. Needed for promotions with a `bins` condition (values or ranges) when you send no token."
                      },
                      "card_type": {
                        "type": "string",
                        "enum": [
                          "CREDIT",
                          "DEBIT"
                        ],
                        "description": "Cards only. Send it with `bin` when you know it; needed for promotions with a `card_types` condition. With a token you can leave it out: Yuno resolves it from the card."
                      }
                    }
                  },
                  "code": {
                    "type": "string",
                    "description": "The promotion code the customer typed. Omit it for automatic promotions. Not available yet: codes are coming in a later release."
                  }
                }
              },
              "examples": {
                "Card payment with the BIN": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "amount": {
                      "currency": "USD",
                      "value": 250.0
                    },
                    "country": "AR",
                    "payment_method": {
                      "type": "CARD",
                      "bin": "457896",
                      "card_type": "CREDIT"
                    }
                  }
                },
                "Public key with checkout session": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "checkout_session": "3f0c2b1e-7d5a-4b1c-9e2f-8a6d4c1b0e77",
                    "country": "AR",
                    "payment_method": {
                      "type": "CARD",
                      "bin": "457896",
                      "card_type": "CREDIT"
                    }
                  }
                },
                "Card payment with a vaulted token": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "amount": {
                      "currency": "USD",
                      "value": 250.0
                    },
                    "country": "AR",
                    "payment_method": {
                      "type": "CARD",
                      "vaulted_token": "330953e7-09d8-47cf-a99c-cfb7968f13f9"
                    }
                  }
                },
                "Payment without a card": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "amount": {
                      "currency": "COP",
                      "value": 250000.0
                    },
                    "country": "CO",
                    "payment_method": {
                      "type": "PSE"
                    }
                  }
                },
                "Apple Pay / Google Pay": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "amount": {
                      "currency": "USD",
                      "value": 250.0
                    },
                    "country": "AR",
                    "payment_method": {
                      "type": "APPLE_PAY"
                    }
                  }
                },
                "Payment with a promotion code": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "amount": {
                      "currency": "USD",
                      "value": 250.0
                    },
                    "country": "AR",
                    "payment_method": {
                      "type": "CARD",
                      "bin": "457896",
                      "card_type": "CREDIT"
                    },
                    "code": "WELCOME10"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "A promotion applies": {
                    "summary": "A promotion applies",
                    "value": {
                      "quote_id": "qte_0d91f7ac3b2e",
                      "promotions": [
                        {
                          "id": "b7c1a4f2-6e0d-4a3b-9c55-1f2e7d8a0b31",
                          "name": "10% off with credit cards - Mother's Day",
                          "description": "10% off with your credit card.",
                          "discount": {
                            "type": "PERCENTAGE",
                            "value": 10
                          },
                          "discount_amount": {
                            "currency": "USD",
                            "value": 25.0
                          }
                        }
                      ],
                      "original_amount": {
                        "currency": "USD",
                        "value": 250.0
                      },
                      "discount_amount": {
                        "currency": "USD",
                        "value": 25.0
                      },
                      "charge_amount": {
                        "currency": "USD",
                        "value": 225.0
                      },
                      "expires_at": "2026-10-04T18:41:02Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "quote_id",
                    "promotions",
                    "original_amount",
                    "discount_amount",
                    "charge_amount",
                    "expires_at"
                  ],
                  "properties": {
                    "quote_id": {
                      "type": "string",
                      "description": "Opaque, about 400 characters, up to 500. Send it unchanged on the payment as `quote_id` on an `additional_data.order.discounts` line with `type: YUNO_PROMOTION`. Never parse it."
                    },
                    "promotions": {
                      "type": "array",
                      "minItems": 1,
                      "description": "The promotions that apply. One entry in this release; a later release may return more than one. The outer `discount_amount` is the sum of each entry's `discount_amount`.",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "discount",
                          "discount_amount"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "object",
                            "description": "The promotion's discount definition: `{ type: PERCENTAGE, value }` or `{ type: FIXED, amounts: [...] }`.",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "PERCENTAGE",
                                  "FIXED"
                                ]
                              },
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "amounts": {
                                "type": [
                                  "array",
                                  "null"
                                ],
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number",
                                      "format": "float"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "discount_amount": {
                            "type": "object",
                            "description": "What this promotion saves on the quoted payment.",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number",
                                "format": "float"
                              }
                            }
                          }
                        }
                      }
                    },
                    "original_amount": {
                      "type": "object",
                      "description": "The amount you sent, before the discount.",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "value": {
                          "type": "number",
                          "format": "float"
                        }
                      }
                    },
                    "discount_amount": {
                      "type": "object",
                      "description": "Total discount (sum of `promotions[].discount_amount`). Always positive.",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "value": {
                          "type": "number",
                          "format": "float"
                        }
                      }
                    },
                    "charge_amount": {
                      "type": "object",
                      "description": "What the customer pays: original minus discount.",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "value": {
                          "type": "number",
                          "format": "float"
                        }
                      }
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The quote is valid until this instant: 30 minutes after it was issued."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "BIN too long": {
                    "summary": "BIN too long",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "payment_method.bin must have 6 to 19 digits."
                      ]
                    }
                  },
                  "BIN and token together": {
                    "summary": "BIN and token together",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "Send bin or a token in payment_method, not both."
                      ]
                    }
                  },
                  "amount sent with a public key": {
                    "summary": "amount sent with a public key",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "Send checkout_session, not amount, when calling with the public key."
                      ]
                    }
                  },
                  "account_id or country don't match the session": {
                    "summary": "account_id or country don't match the session",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "account_id and country must match the checkout session."
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_PARAMETERS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No promotion applies to this payment context, or Promotions is not enabled for your organization."
          },
          "404": {
            "description": "404. `code` only: no promotion with that code exists on this account.",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "PROMOTION_NOT_FOUND",
                      "messages": [
                        "No promotion with this code exists on this account."
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "PROMOTION_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422. `code` only: the promotion exists but cannot apply.",
            "content": {
              "application/json": {
                "examples": {
                  "Promotion disabled": {
                    "summary": "Promotion disabled",
                    "value": {
                      "code": "PROMOTION_NOT_APPLICABLE",
                      "messages": [
                        "The promotion is disabled."
                      ]
                    }
                  },
                  "Promotion ended": {
                    "summary": "Promotion ended",
                    "value": {
                      "code": "PROMOTION_NOT_APPLICABLE",
                      "messages": [
                        "The promotion ended."
                      ]
                    }
                  },
                  "Promotion not started": {
                    "summary": "Promotion not started",
                    "value": {
                      "code": "PROMOTION_NOT_APPLICABLE",
                      "messages": [
                        "The promotion has not started yet."
                      ]
                    }
                  },
                  "Conditions don't match": {
                    "summary": "Conditions don't match",
                    "value": {
                      "code": "PROMOTION_NOT_APPLICABLE",
                      "messages": [
                        "The payment context doesn't meet the promotion's conditions."
                      ]
                    }
                  },
                  "Currency doesn't match": {
                    "summary": "Currency doesn't match",
                    "value": {
                      "code": "PROMOTION_NOT_APPLICABLE",
                      "messages": [
                        "The promotion doesn't have a discount for this currency."
                      ]
                    }
                  },
                  "Discount would be zero": {
                    "summary": "Discount would be zero",
                    "value": {
                      "code": "PROMOTION_NOT_APPLICABLE",
                      "messages": [
                        "The discount on this payment would be zero."
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "PROMOTION_NOT_APPLICABLE"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
