{
  "openapi": "3.1.0",
  "info": {
    "title": "promotions",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/promotions": {
      "post": {
        "summary": "Create Promotion",
        "description": "Creates a promotion for an account. Promotions must be enabled for your organization by Yuno before you can use this endpoint. See [Promotions](/docs/payment-features/promotions#enable-promotions-for-your-organization).",
        "operationId": "create-promotion",
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A unique key (UUID) for the request. Sending the same key again within 24 hours returns the original response and stores nothing new."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "name",
                  "schedule",
                  "redemption",
                  "discount"
                ],
                "properties": {
                  "account_id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The account the promotion belongs to (UUID, found in your [Yuno Dashboard](https://dashboard.y.uno/developers)). A promotion never applies to payments of another account."
                  },
                  "name": {
                    "type": "string",
                    "description": "The promotion name (MAX 255; MIN 3). The checkout uses it when it announces the discount."
                  },
                  "description": {
                    "type": "string",
                    "description": "Free text for your team. Never shown to the customer."
                  },
                  "schedule": {
                    "type": "object",
                    "required": [
                      "starts_at"
                    ],
                    "description": "The window in which the promotion runs. UTC.",
                    "properties": {
                      "starts_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the promotion starts (ISO 8601, UTC). Now or in the future."
                      },
                      "ends_at": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "date-time",
                        "description": "When the promotion ends (ISO 8601, UTC). `null` means no end date."
                      }
                    }
                  },
                  "redemption": {
                    "type": "object",
                    "required": [
                      "mode"
                    ],
                    "description": "How the promotion is redeemed.",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "AUTOMATIC"
                        ],
                        "description": "`AUTOMATIC` = applies by itself to every payment that meets the conditions."
                      }
                    }
                  },
                  "discount": {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "description": "What the customer saves.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "PERCENTAGE",
                          "FIXED"
                        ]
                      },
                      "value": {
                        "type": [
                          "number",
                          "null"
                        ],
                        "description": "`PERCENTAGE` only. Greater than 0 and up to 100, with up to two decimals (for example `10.5`)."
                      },
                      "amount": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "description": "`FIXED` only. The promotion applies only to payments in this currency.",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                          },
                          "value": {
                            "type": "number",
                            "format": "float",
                            "description": "Multiple of 0.0001."
                          }
                        }
                      }
                    }
                  },
                  "conditions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "BIN",
                            "BIN_RANGE",
                            "PAYMENT_METHOD",
                            "CARD_TYPE",
                            "COUNTRY",
                            "CURRENCY",
                            "MIN_AMOUNT",
                            "MAX_AMOUNT"
                          ],
                          "description": "The dimension the condition checks."
                        },
                        "values": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "For `BIN` (6 to 8 digits each), `PAYMENT_METHOD`, `CARD_TYPE` (`CREDIT`, `DEBIT`), `COUNTRY` (ISO 3166-1 alpha-2) and `CURRENCY` (ISO 4217). Unknown values return `400`."
                        },
                        "from": {
                          "type": "string",
                          "description": "`BIN_RANGE` only. First BIN of the range (8 digits)."
                        },
                        "to": {
                          "type": "string",
                          "description": "`BIN_RANGE` only. Last BIN of the range (8 digits), inclusive."
                        },
                        "amount": {
                          "type": "object",
                          "required": [
                            "currency",
                            "value"
                          ],
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                            },
                            "value": {
                              "type": "number",
                              "format": "float",
                              "description": "Multiple of 0.0001."
                            }
                          },
                          "description": "`MIN_AMOUNT` and `MAX_AMOUNT` only. Inclusive bound. Holds only when the payment currency is the same."
                        }
                      }
                    },
                    "description": "The conditions a payment must meet. All of them must hold. An empty array means every payment of the account qualifies."
                  }
                }
              },
              "examples": {
                "Percentage, bank cards": {
                  "value": {
                    "account_id": [
                      "493e9374-510a-4201-9e09-de669d75f256"
                    ],
                    "name": "BBVA 10% off - Mother's Day",
                    "description": "Bank deal with BBVA, claimed monthly.",
                    "schedule": {
                      "starts_at": "2026-10-01T03:00:00Z",
                      "ends_at": "2026-11-01T02:59:59Z"
                    },
                    "redemption": {
                      "mode": "AUTOMATIC"
                    },
                    "discount": {
                      "type": "PERCENTAGE",
                      "value": 10
                    },
                    "conditions": [
                      {
                        "type": "BIN",
                        "values": [
                          "457896",
                          "40263412"
                        ]
                      },
                      {
                        "type": "PAYMENT_METHOD",
                        "values": [
                          "CARD"
                        ]
                      },
                      {
                        "type": "CARD_TYPE",
                        "values": [
                          "CREDIT"
                        ]
                      },
                      {
                        "type": "COUNTRY",
                        "values": [
                          "AR"
                        ]
                      },
                      {
                        "type": "CURRENCY",
                        "values": [
                          "ARS"
                        ]
                      },
                      {
                        "type": "MIN_AMOUNT",
                        "amount": {
                          "currency": "ARS",
                          "value": 10000.0
                        }
                      }
                    ]
                  }
                },
                "Fixed amount, no conditions": {
                  "value": {
                    "account_id": [
                      "493e9374-510a-4201-9e09-de669d75f256"
                    ],
                    "name": "USD 5 off this week",
                    "schedule": {
                      "starts_at": "2026-10-01T00:00:00Z",
                      "ends_at": "2026-10-08T00:00:00Z"
                    },
                    "redemption": {
                      "mode": "AUTOMATIC"
                    },
                    "discount": {
                      "type": "FIXED",
                      "amount": {
                        "currency": "USD",
                        "value": 5.0
                      }
                    },
                    "conditions": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "b7c1a4f2-6e0d-4a3b-9c55-1f2e7d8a0b31",
                      "account_id": [
                        "493e9374-510a-4201-9e09-de669d75f256"
                      ],
                      "name": "BBVA 10% off - Mother's Day",
                      "description": "Bank deal with BBVA, claimed monthly.",
                      "schedule": {
                        "starts_at": "2026-10-01T03:00:00Z",
                        "ends_at": "2026-11-01T02:59:59Z"
                      },
                      "redemption": {
                        "mode": "AUTOMATIC",
                        "code": null
                      },
                      "discount": {
                        "type": "PERCENTAGE",
                        "value": 10,
                        "amount": null
                      },
                      "conditions": [
                        {
                          "type": "BIN",
                          "values": [
                            "457896",
                            "40263412"
                          ]
                        },
                        {
                          "type": "PAYMENT_METHOD",
                          "values": [
                            "CARD"
                          ]
                        },
                        {
                          "type": "CARD_TYPE",
                          "values": [
                            "CREDIT"
                          ]
                        },
                        {
                          "type": "COUNTRY",
                          "values": [
                            "AR"
                          ]
                        },
                        {
                          "type": "CURRENCY",
                          "values": [
                            "ARS"
                          ]
                        },
                        {
                          "type": "MIN_AMOUNT",
                          "amount": {
                            "currency": "ARS",
                            "value": 10000.0
                          }
                        }
                      ],
                      "status": "SCHEDULED",
                      "created_at": "2026-09-14T12:04:18Z"
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the promotion (UUID)."
                    },
                    "account_id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The account the promotion belongs to (UUID, found in your [Yuno Dashboard](https://dashboard.y.uno/developers)). A promotion never applies to payments of another account."
                    },
                    "name": {
                      "type": "string",
                      "description": "The promotion name (MAX 255; MIN 3). The checkout uses it when it announces the discount."
                    },
                    "description": {
                      "type": "string",
                      "description": "Free text for your team. Never shown to the customer."
                    },
                    "schedule": {
                      "type": "object",
                      "required": [
                        "starts_at"
                      ],
                      "description": "The window in which the promotion runs. UTC.",
                      "properties": {
                        "starts_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the promotion starts (ISO 8601, UTC). Now or in the future."
                        },
                        "ends_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time",
                          "description": "When the promotion ends (ISO 8601, UTC). `null` means no end date."
                        }
                      }
                    },
                    "redemption": {
                      "type": "object",
                      "required": [
                        "mode"
                      ],
                      "description": "How the promotion is redeemed.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": [
                            "AUTOMATIC"
                          ],
                          "description": "`AUTOMATIC` = applies by itself to every payment that meets the conditions."
                        }
                      }
                    },
                    "discount": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "description": "What the customer saves.",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "PERCENTAGE",
                            "FIXED"
                          ]
                        },
                        "value": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "`PERCENTAGE` only. Greater than 0 and up to 100, with up to two decimals (for example `10.5`)."
                        },
                        "amount": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "`FIXED` only. The promotion applies only to payments in this currency.",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                            },
                            "value": {
                              "type": "number",
                              "format": "float",
                              "description": "Multiple of 0.0001."
                            }
                          }
                        }
                      }
                    },
                    "conditions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "BIN",
                              "BIN_RANGE",
                              "PAYMENT_METHOD",
                              "CARD_TYPE",
                              "COUNTRY",
                              "CURRENCY",
                              "MIN_AMOUNT",
                              "MAX_AMOUNT"
                            ],
                            "description": "The dimension the condition checks."
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "For `BIN` (6 to 8 digits each), `PAYMENT_METHOD`, `CARD_TYPE` (`CREDIT`, `DEBIT`), `COUNTRY` (ISO 3166-1 alpha-2) and `CURRENCY` (ISO 4217). Unknown values return `400`."
                          },
                          "from": {
                            "type": "string",
                            "description": "`BIN_RANGE` only. First BIN of the range (8 digits)."
                          },
                          "to": {
                            "type": "string",
                            "description": "`BIN_RANGE` only. Last BIN of the range (8 digits), inclusive."
                          },
                          "amount": {
                            "type": "object",
                            "required": [
                              "currency",
                              "value"
                            ],
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "Multiple of 0.0001."
                              }
                            },
                            "description": "`MIN_AMOUNT` and `MAX_AMOUNT` only. Inclusive bound. Holds only when the payment currency is the same."
                          }
                        }
                      },
                      "description": "The conditions a payment must meet. All of them must hold. An empty array means every payment of the account qualifies."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SCHEDULED",
                        "ACTIVE",
                        "EXPIRED",
                        "DISABLED"
                      ],
                      "description": "Computed from `schedule` when you read the promotion. `DISABLED` is final."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "discount.value must have at most two decimals."
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
