{
  "openapi": "3.1.0",
  "info": {
    "title": "promotions",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/promotions": {
      "get": {
        "summary": "List Promotions",
        "description": "Returns the promotions of one account, paginated. Promotions must be enabled for your organization by Yuno before you can use this endpoint. See [Promotions](/docs/payment-features/promotions#enable-promotions-for-your-organization).",
        "operationId": "list-promotions",
        "parameters": [
          {
            "in": "query",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The account whose promotions you want to list (UUID)."
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SCHEDULED",
                "ACTIVE",
                "EXPIRED",
                "DISABLED"
              ]
            },
            "description": "Filter by status. The status is computed when you call, so `ACTIVE` returns only the promotions running right now."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "Maximum number of promotions to return. Defaults to 20, maximum 100."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of promotions to skip. Defaults to 0."
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": [
                        {
                          "id": "b7c1a4f2-6e0d-4a3b-9c55-1f2e7d8a0b31",
                          "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                          "name": "10% off with credit cards - Mother's Day",
                          "description": "Card deal, claimed monthly.",
                          "schedule": {
                            "starts_at": "2026-10-01T03:00:00Z",
                            "ends_at": "2026-11-01T02:59:59Z"
                          },
                          "redemption": {
                            "mode": "AUTOMATIC",
                            "code": null
                          },
                          "discount": {
                            "type": "PERCENTAGE",
                            "value": 10,
                            "amounts": null
                          },
                          "conditions": {
                            "bins": {
                              "values": [
                                "457896",
                                "40263412"
                              ],
                              "ranges": [
                                {
                                  "start": "45780000",
                                  "end": "45789999"
                                }
                              ]
                            },
                            "payment_methods": {
                              "values": [
                                "CARD"
                              ]
                            },
                            "card_types": {
                              "values": [
                                "CREDIT"
                              ]
                            },
                            "countries": {
                              "values": [
                                "AR"
                              ]
                            },
                            "amounts": {
                              "values": [
                                {
                                  "currency": "USD",
                                  "min": 100.0,
                                  "max": null
                                }
                              ]
                            }
                          },
                          "status": "ACTIVE",
                          "created_at": "2026-09-14T12:04:18Z"
                        }
                      ],
                      "pagination": {
                        "total": 1,
                        "limit": 20,
                        "offset": 0,
                        "has_more": false
                      }
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the promotion (UUID)."
                          },
                          "account_id": {
                            "type": "string",
                            "description": "The account the promotion belongs to (UUID, found in your [Yuno Dashboard](https://dashboard.y.uno/developers)). One promotion applies to one account. If you run the same campaign on several accounts, create it once per account."
                          },
                          "name": {
                            "type": "string",
                            "description": "The promotion name (MAX 255; MIN 3). The checkout uses it when it announces the discount."
                          },
                          "description": {
                            "type": "string",
                            "description": "Shown with the name on the quote. Optional, up to 1000 characters."
                          },
                          "schedule": {
                            "type": "object",
                            "required": [
                              "starts_at"
                            ],
                            "description": "The window in which the promotion runs. UTC.",
                            "properties": {
                              "starts_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the promotion starts (ISO 8601, UTC). Now or in the future."
                              },
                              "ends_at": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "date-time",
                                "description": "When the promotion ends (ISO 8601, UTC). `null` means no end date."
                              }
                            }
                          },
                          "redemption": {
                            "type": "object",
                            "required": [
                              "mode"
                            ],
                            "description": "How the promotion is redeemed. `code` is required when `mode` is `CODE`.",
                            "properties": {
                              "mode": {
                                "type": "string",
                                "enum": [
                                  "AUTOMATIC",
                                  "CODE"
                                ],
                                "description": "`AUTOMATIC` = applies by itself to every payment that meets the conditions. `CODE` = applies only when the payment's quote carries the promotion `code`. Not available yet: today every promotion is `AUTOMATIC`; codes are coming in a later release."
                              },
                              "code": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "`CODE` only; `null` for an automatic promotion. 3 to 32 characters: `A-Z`, `0-9`, `_` and `-`. Unique per account among the promotions that can still apply; reusable once the earlier promotion with that code is disabled or its schedule has ended."
                              }
                            }
                          },
                          "discount": {
                            "type": "object",
                            "required": [
                              "type"
                            ],
                            "description": "What the customer saves. For `FIXED`, when the promotion also has an `amounts` condition, `discount.amounts` and `conditions.amounts.values` must list the same currencies or the request returns `400`.",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "PERCENTAGE",
                                  "FIXED"
                                ]
                              },
                              "value": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "`PERCENTAGE` only. Greater than 0 and up to 100, with up to two decimals (for example `10.5`). `null` for a fixed discount."
                              },
                              "amounts": {
                                "type": [
                                  "array",
                                  "null"
                                ],
                                "description": "`FIXED` only. One entry per currency, each above zero. A fixed promotion applies only to payments in the currencies it lists, and the discount is capped at the payment amount. `null` for a percentage discount.",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "currency",
                                    "value"
                                  ],
                                  "properties": {
                                    "currency": {
                                      "type": "string",
                                      "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                                    },
                                    "value": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "Multiple of 0.0001. Greater than zero."
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "conditions": {
                            "type": "object",
                            "description": "Conditions a payment must meet. AND across keys, OR inside each key's values list. Omit a key or send `null` for no condition on that dimension; an empty `values` list returns `400`.",
                            "properties": {
                              "bins": {
                                "type": "object",
                                "description": "Card BIN condition. A card matches when its BIN equals a prefix in `values` or falls in a `ranges` entry. At least one of `values` or `ranges` when `bins` is present.",
                                "properties": {
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "BIN prefixes (6 to 8 digits each)."
                                  },
                                  "ranges": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "start",
                                        "end"
                                      ],
                                      "properties": {
                                        "start": {
                                          "type": "string",
                                          "description": "First BIN of the range (8 digits)."
                                        },
                                        "end": {
                                          "type": "string",
                                          "description": "Last BIN of the range (8 digits), inclusive."
                                        }
                                      }
                                    },
                                    "description": "Inclusive BIN ranges (8-digit bounds)."
                                  }
                                }
                              },
                              "payment_methods": {
                                "type": "object",
                                "properties": {
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Payment method types, for example `CARD`. See [Payment type list](/reference/payment-type-list)."
                                  }
                                }
                              },
                              "card_types": {
                                "type": "object",
                                "properties": {
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "CREDIT",
                                        "DEBIT"
                                      ]
                                    },
                                    "description": "Card types. A card whose type is unknown never meets this condition."
                                  }
                                }
                              },
                              "countries": {
                                "type": "object",
                                "properties": {
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Payment countries ([ISO 3166-1](/reference/country-reference))."
                                  }
                                }
                              },
                              "amounts": {
                                "type": "object",
                                "properties": {
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "currency"
                                      ],
                                      "properties": {
                                        "currency": {
                                          "type": "string",
                                          "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                                        },
                                        "min": {
                                          "type": [
                                            "number",
                                            "null"
                                          ],
                                          "format": "float",
                                          "description": "Inclusive minimum in this currency. `null` with `max` also `null` filters by currency only."
                                        },
                                        "max": {
                                          "type": [
                                            "number",
                                            "null"
                                          ],
                                          "format": "float",
                                          "description": "Inclusive maximum in this currency. `null` means no ceiling."
                                        }
                                      }
                                    },
                                    "description": "Amount bounds per currency (`min` and `max` inclusive)."
                                  }
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "SCHEDULED",
                              "ACTIVE",
                              "EXPIRED",
                              "DISABLED"
                            ],
                            "description": "Computed from `schedule` when you read the promotion. `DISABLED` is final."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "disabled_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "When you disabled the promotion (ISO 8601, UTC). `null` while not disabled."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "account_id is required."
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
