{
  "openapi": "3.1.0",
  "info": {
    "title": "promotions",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/promotions/{promotion_id}": {
      "get": {
        "summary": "Retrieve Promotion",
        "description": "Returns one promotion with its current status. Promotions must be enabled for your organization by Yuno before you can use this endpoint. See [Promotions](/docs/payment-features/promotions#enable-promotions-for-your-organization).",
        "operationId": "retrieve-promotion",
        "parameters": [
          {
            "name": "promotion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the promotion."
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "b7c1a4f2-6e0d-4a3b-9c55-1f2e7d8a0b31",
                      "account_id": [
                        "493e9374-510a-4201-9e09-de669d75f256"
                      ],
                      "name": "BBVA 10% off - Mother's Day",
                      "description": "Bank deal with BBVA, claimed monthly.",
                      "schedule": {
                        "starts_at": "2026-10-01T03:00:00Z",
                        "ends_at": "2026-11-01T02:59:59Z"
                      },
                      "redemption": {
                        "mode": "AUTOMATIC",
                        "code": null
                      },
                      "discount": {
                        "type": "PERCENTAGE",
                        "value": 10,
                        "amount": null
                      },
                      "conditions": {
                        "bins": [
                          "457896",
                          "40263412"
                        ],
                        "payment_methods": [
                          "CARD"
                        ],
                        "card_types": [
                          "CREDIT"
                        ],
                        "countries": [
                          "AR"
                        ],
                        "amounts": [
                          {
                            "currency": "ARS",
                            "min": 10000.0,
                            "max": null
                          }
                        ]
                      },
                      "status": "ACTIVE",
                      "created_at": "2026-09-14T12:04:18Z"
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the promotion (UUID)."
                    },
                    "account_id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The account the promotion belongs to (UUID, found in your [Yuno Dashboard](https://dashboard.y.uno/developers)). A promotion never applies to payments of another account."
                    },
                    "name": {
                      "type": "string",
                      "description": "The promotion name (MAX 255; MIN 3). The checkout uses it when it announces the discount."
                    },
                    "description": {
                      "type": "string",
                      "description": "Free text for your team. Never shown to the customer."
                    },
                    "schedule": {
                      "type": "object",
                      "required": [
                        "starts_at"
                      ],
                      "description": "The window in which the promotion runs. UTC.",
                      "properties": {
                        "starts_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the promotion starts (ISO 8601, UTC). Now or in the future."
                        },
                        "ends_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time",
                          "description": "When the promotion ends (ISO 8601, UTC). `null` means no end date."
                        }
                      }
                    },
                    "redemption": {
                      "type": "object",
                      "required": [
                        "mode"
                      ],
                      "description": "How the promotion is redeemed.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": [
                            "AUTOMATIC"
                          ],
                          "description": "`AUTOMATIC` = applies by itself to every payment that meets the conditions."
                        }
                      }
                    },
                    "discount": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "description": "What the customer saves.",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "PERCENTAGE",
                            "FIXED"
                          ]
                        },
                        "value": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "`PERCENTAGE` only. Greater than 0 and up to 100, with up to two decimals (for example `10.5`)."
                        },
                        "amount": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "`FIXED` only. The promotion applies only to payments in this currency.",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                            },
                            "value": {
                              "type": "number",
                              "format": "float",
                              "description": "Multiple of 0.0001."
                            }
                          }
                        }
                      }
                    },
                    "conditions": {
                      "type": "object",
                      "description": "The conditions a payment must meet. Every listed condition must hold. Omit a dimension or send an empty list when it does not apply.",
                      "properties": {
                        "bins": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Card BIN prefixes (6 to 8 digits each)."
                        },
                        "bin_ranges": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "start",
                              "end"
                            ],
                            "properties": {
                              "start": {
                                "type": "string",
                                "description": "First BIN of the range (8 digits)."
                              },
                              "end": {
                                "type": "string",
                                "description": "Last BIN of the range (8 digits), inclusive."
                              }
                            }
                          },
                          "description": "Inclusive BIN ranges."
                        },
                        "payment_methods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Payment method types, for example `CARD`. See [Payment type list](/reference/payment-type-list)."
                        },
                        "card_types": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "CREDIT",
                              "DEBIT"
                            ]
                          },
                          "description": "Card types. A card whose type is unknown never meets this condition."
                        },
                        "countries": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Payment countries ([ISO 3166-1](/reference/country-reference))."
                        },
                        "amounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "currency",
                              "min"
                            ],
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                              },
                              "min": {
                                "type": "number",
                                "format": "float",
                                "description": "Inclusive minimum in this currency."
                              },
                              "max": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "format": "float",
                                "description": "Inclusive maximum in this currency. `null` means no ceiling."
                              }
                            }
                          },
                          "description": "Amount bounds per currency."
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SCHEDULED",
                        "ACTIVE",
                        "EXPIRED",
                        "DISABLED"
                      ],
                      "description": "Computed from `schedule` when you read the promotion. `DISABLED` is final."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "PROMOTION_NOT_FOUND",
                      "messages": [
                        "Promotion not found."
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "PROMOTION_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
