{
  "openapi": "3.1.0",
  "info": {
    "title": "3ds-setup",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/three-d-secure/setups": {
      "post": {
        "summary": "Setup",
        "description": "",
        "operationId": "3ds-setup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on [Yuno's Dashboard](https://dashboard.y.uno/) (MAX 64; MIN 36)."
                  },
                  "card": {
                    "type": "object",
                    "description": "Specifies the card data object.",
                    "required": [
                      "holder_name",
                      "number",
                      "expiration_month",
                      "expiration_year",
                      "security_code"
                    ],
                    "properties": {
                      "holder_name": {
                        "type": "string",
                        "description": "Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants."
                      },
                      "number": {
                        "type": "string",
                        "description": "Card’s number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants."
                      },
                      "expiration_month": {
                        "type": "integer",
                        "description": "Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.",
                        "format": "int32"
                      },
                      "expiration_year": {
                        "type": "integer",
                        "description": "Card’s expiration year - YYYY (MAX 4; MIN 2) - only available for PCI certified merchants.",
                        "format": "int32"
                      },
                      "security_code": {
                        "type": "string",
                        "description": "Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants."
                      }
                    }
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "account_id": "<Your account_id>",
                    "card": {
                      "holder_name": "John Doe",
                      "number": "4456530000000007",
                      "expiration_month": 1,
                      "expiration_year": 26,
                      "security_code": "123"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"three_d_secure_setup_id\": \"005219f5-babf-4598-bc52-5dd49c19ba7a\",\n    \"collect_url\": \"https://centinelapistag.cardinalcommerce.com/V1/Cruise/Collect\",\n    \"token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIyNzA3MjQyZi1iM2Y5LTQ5ODktYjQ5NC01MzY5ODA5Yjc3YmYiLCJpYXQiOjE3MTc3NjU5NDksImlzcyI6IjVkZDgzYmYwMGU0MjNkMTQ5OGRjYmFjYSIsImV4cCI6MTcxNzc2OTU0OSwiT3JnVW5pdElkIjoiNjQwYTM1NjlkODdhMjUwYTQyNTEwOWRjIiwiUmVmZXJlbmNlSWQiOiI0NDhjM2ZmZS01NjZhLTRmYWUtOTE0Zi0wNmVjOGNmZDljMjAifQ.fl0MIgejhhsnbg1E_CcuAQsXU2jcv8lG3-7Td0FIj9k\",\n    \"provider_id\": \"CYBERSOURCE_3DS\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "three_d_secure_setup_id": {
                      "type": "string",
                      "example": "005219f5-babf-4598-bc52-5dd49c19ba7a"
                    },
                    "collect_url": {
                      "type": "string",
                      "example": "https://centinelapistag.cardinalcommerce.com/V1/Cruise/Collect"
                    },
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIyNzA3MjQyZi1iM2Y5LTQ5ODktYjQ5NC01MzY5ODA5Yjc3YmYiLCJpYXQiOjE3MTc3NjU5NDksImlzcyI6IjVkZDgzYmYwMGU0MjNkMTQ5OGRjYmFjYSIsImV4cCI6MTcxNzc2OTU0OSwiT3JnVW5pdElkIjoiNjQwYTM1NjlkODdhMjUwYTQyNTEwOWRjIiwiUmVmZXJlbmNlSWQiOiI0NDhjM2ZmZS01NjZhLTRmYWUtOTE0Zi0wNmVjOGNmZDljMjAifQ.fl0MIgejhhsnbg1E_CcuAQsXU2jcv8lG3-7Td0FIj9k"
                    },
                    "provider_id": {
                      "type": "string",
                      "example": "CYBERSOURCE_3DS"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}