{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Accounts"},"servers":[{"url":"https://api-sandbox.y.uno/v1/accounts"}],"tags":[],"paths":{"/":{"post":{"summary":"New Endpoint","description":"This is your first endpoint! Edit this page to start documenting your API.","operationId":"get_new-endpoint","responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"Create":{"summary":"Create","value":{"id":"6b48a5fc-4d54-49b9-8b7a-7d78fa68761f","name":"TEST_ACCOUNT","principal":false,"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-06-09T11:17:34.893664Z"}}}}}}},"parameters":[{"name":"X-Public-Api-Key","in":"header","required":false,"description":"Merchant’s public API Key.","schema":{"type":"string","default":""}},{"name":"X-Private-Secret-Key","in":"header","required":false,"description":"Merchant’s Private Secret Key.","schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"type":"string","description":"The name of the account in the external merchant (MAX 255; MIN 1)"},"principal":{"type":"boolean","description":"Indicates if the account its the principal for the organization","default":"false"}},"type":"object","required":["name"]}}}}}},"/{id}":{"get":{"description":"","operationId":"get_{id}","responses":{"200":{"description":"","content":{"application/json":{"examples":{"New Example":{"summary":"New Example","value":{"id":"6b48a5fc-4d54-49b9-8b7a-7d78fa68761f","name":"TEST_ACCOUNT","principal":false,"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-06-09T11:17:34.893664Z"}}}}}}},"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the account (MAX 64 ; MIN 36)","schema":{"type":"string","default":""}},{"name":"X-Public-Api-Key","in":"header","required":false,"description":"","schema":{"type":"string","default":""}},{"name":"X-Private-Secret-Key","in":"header","required":false,"description":"","schema":{"type":"string","default":""}}]},"patch":{"description":"","operationId":"patch_{id}","responses":{"200":{"description":"","content":{"application/json":{"examples":{"Update":{"summary":"Update","value":{"id":"6b48a5fc-4d54-49b9-8b7a-7d78fa68761f","name":"TEST_ACCOUNT","principal":false,"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-07-09T11:17:34.893664Z"}}}}}}},"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the account (MAX 64 ; MIN 36)","schema":{"type":"string","default":""}},{"name":"X-Public-Api-Key","in":"header","required":true,"description":"","schema":{"type":"string","default":""}},{"name":"X-Private-Secret-Key","in":"header","required":true,"description":"","schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"type":"string","description":"The name  of the customer in the external merchant (MAX 255; MIN 1)"},"principal":{"type":"boolean","description":"Indicates if the account its the principal for the organization"}},"type":"object"}}}}}},"/{id}/connections":{"post":{"description":"","operationId":"post_{id}connections","responses":{"200":{"description":"","content":{"application/json":{"examples":{"Alelo":{"summary":"Alelo","value":"{\n  \"name\": \"ALELO_TEST\",\n  \"country\": \"BR\",\n  \"provider_data\": {\n    \"id\": \"ALELO\"\n  },\n  \"params\": [\n    {\n      \"id\": \"SUB_MERCHANTS_CHECKBOX\",\n      \"value\": true\n    },\n    {\n      \"id\": \"CNPJ\",\n      \"value\": \"95127446000198\"\n    },\n    {\n      \"id\": \"MCC\",\n      \"value\": \"1234\"\n    }\n  ],\n  \"routing\": {\n    \"create\": true,\n    \"publish\": true,\n  },\n  \"created_at\": \"2025-06-09T11:17:34.893664Z\",\n  \"updated_at\": \"2025-07-09T11:17:34.893664Z\"\n}"},"VR":{"summary":"VR","value":"{\n  \"name\": \"VR_TEST\",\n  \"country\": \"BR\",\n  \"provider_data\": {\n    \"id\": \"VR\"\n  },\n  \"params\": [\n    {\n      \"id\": \"CLIENT_ID\",\n      \"value\": \"faasfsadsadsa\"\n    },\n    {\n      \"id\": \"CLIENT_SECRET\",\n      \"value\": \"sadsadfadsf\"\n    },\n    {\n      \"id\": \"ID_FILIACAO\",\n      \"value\": \"fasdfsada\"\n    }\n  ],\n  \"routing\": {\n    \"create\": true,\n    \"publish\": true,\n  },\n  \"created_at\": \"2025-06-09T11:17:34.893664Z\",\n  \"updated_at\": \"2025-07-09T11:17:34.893664Z\"\n}"},"Edenred":{"summary":"Edenred","value":""},"Edenred 2":{"summary":"Edenred 2","value":"{\n  \"name\": \"EDENRED_TEST\",\n  \"country\": \"BR\",\n  \"provider_data\": {\n    \"id\": \"EDENRED\"\n  },\n  \"params\": [\n    {\n      \"id\": \"CNPJ\",\n      \"value\": \"95127446000198\"\n    }\n  ],\n  \"routing\": {\n    \"create\": true,\n    \"publish\": true,\n  },\n  \"created_at\": \"2025-06-09T11:17:34.893664Z\",\n  \"updated_at\": \"2025-07-09T11:17:34.893664Z\"\n}"},"Pluxee":{"summary":"Pluxee","value":"{\n  \"name\": \"PLUXEE_TEST\",\n  \"country\": \"BR\",\n  \"provider_data\": {\n    \"id\": \"PLUXEE\"\n  },\n  \"params\": [\n    {\n      \"param_id\": \"COUNTRY\",\n      \"value\": \"BR\"\n    },\n    {\n      \"param_id\": \"params_with_test_values\",\n      \"value\": false\n    },\n    {\n      \"param_id\": \"PAYMENT_METHOD\",\n      \"value\": \"CARD\"\n    },\n    {\n      \"param_id\": \"CLIENT_ID\",\n      \"value\": \"10098a6a-71ea-4d8b-8460-98f7ca36fea9\"\n    },\n    {\n      \"param_id\": \"SECRET_KEY\",\n      \"value\": \"sadsafasdfadsff\"\n    },\n    {\n      \"param_id\": \"SUBMERCHANT_SELECT\",\n      \"value\": \"SUBMERCHANT_ON_CONNECTION\"\n    },\n    {\n      \"param_id\": \"MERCHANT_ID\",\n      \"value\": \"200002846\"\n    }\n  ],\n  \"routing\": {\n    \"create\": true,\n    \"publish\": true,\n  },\n  \"created_at\": \"2025-06-09T11:17:34.893664Z\",\n  \"updated_at\": \"2025-07-09T11:17:34.893664Z\"\n}"},"New Example":{"summary":"New Example","value":"{}"}}}}}},"parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true},{"name":"X-Public-Api-Key","in":"header","required":true,"description":"","schema":{"type":"string","default":""}},{"name":"X-Private-Secret-Key","in":"header","required":true,"description":"","schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"type":"string","description":"The name of the connection in the external merchant (MAX 255; MIN 1)"},"country":{"type":"string","description":"The connection's country  (ISO 3166-1 MAX 2; MIN 2). "},"provider_data":{"type":"object","properties":{"id":{"type":"string","description":"Identification of the provider (MAX 255; MIN 3) "}},"description":"Information about the provider. For more information, please refer to the [connections section](https://docs.y.uno/reference/connections#/) in the API reference.","required":["id"]},"params":{"type":"array","items":{"properties":{"id":{"type":"string","description":"ID of the param in the connection (MAX 255; MIN 1)."},"value":{"type":"string","description":"Value of the param (MAX 255; MIN 1)."}},"type":"object","required":["id","value"]},"description":"Parameters required to create the connection. For more information, please refer to the [connections section](https://docs.y.uno/reference/connections#/)  in the API reference."},"routing":{"type":"object","properties":{"create":{"type":"boolean","description":"Indicates if a route needs to be created/updated after the connection creation. False by default. "},"publish":{"type":"string","description":"Indicates if the route previously created needs to be published. False by default."}},"description":"Yuno's routing information"}},"type":"object","required":["name","provider_data","params"]}}}}}},"/{id}/connections/{connection_id}":{"get":{"description":"","operationId":"get_{id}connections{connection_id}","responses":{"200":{"description":""}},"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the account (MAX 64 ; MIN 36)","schema":{"type":"string","default":""}},{"name":"connection_id","in":"path","required":true,"description":"The unique identifier of the connection (MAX 64 ; MIN 36)","schema":{"type":"string","default":""}},{"name":"X-Public-Api-Key","in":"header","required":false,"description":"Merchant’s public API Key.","schema":{"type":"string","default":""}},{"name":"X-Private-Secret-Key","in":"header","required":false,"description":"Merchant’s Private Secret Key.","schema":{"type":"string","default":""}}]},"patch":{"description":"","operationId":"patch_{id}connections{connection_id}","responses":{"200":{"description":""}},"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the account (MAX 64 ; MIN 36)","schema":{"type":"string","default":""}},{"name":"connection_id","in":"path","required":true,"description":"The unique identifier of the connection (MAX 64 ; MIN 36)","schema":{"type":"string","default":""}},{"name":"X-Public-Api-Key","in":"header","required":true,"description":"Merchant’s public API Key.","schema":{"type":"string","default":""}},{"name":"X-Private-Secret-Key","in":"header","required":true,"description":"Merchant’s Private Secret Key.","schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"name":{"type":"string","description":"The name of the connection in the external merchant (MAX 255; MIN 1)"},"country":{"type":"string","description":"The connection's country  (ISO 3166-1 MAX 2; MIN 2)"},"provider_data":{"type":"object","properties":{"id":{"type":"string","description":"Identification of the provider (MAX 255; MIN 3)"}},"description":"Information about the provider of the connection"},"params":{"type":"array","items":{"properties":{"id":{"type":"string","description":"ID of the param in the connection (MAX 255; MIN 1)"},"value":{"type":"string","description":"Value of the param (MAX 255; MIN 1)"}},"type":"object"},"description":"Parameters required to create the connection"}},"type":"object"}}}}}}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"public-api-key"}}}}