{"openapi":"3.0.0","info":{"title":"Accounts","description":"API for managing accounts and connections within the Yuno platform.","version":"1.0.0"},"servers":[{"url":"https://api-sandbox.y.uno/v1/accounts"}],"security":[{"public_api_key":[],"private_secret_key":[]}],"tags":[{"name":"Accounts","description":"Operations related to account management"}],"paths":{"/":{"post":{"summary":"Create Account","description":"Creates a new account for the organization.","operationId":"create-account","tags":["Accounts"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"The name of the account in the external merchant (MAX 255; MIN 1)"},"principal":{"type":"boolean","description":"Indicates if the account is the principal for the organization","default":false}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"Create":{"summary":"Create","value":{"id":"6b48a5fc-4d54-49b9-8b7a-7d78fa68761f","name":"TEST_ACCOUNT","principal":false,"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-06-09T11:17:34.893664Z"}}}}}}}}},"/{id}":{"get":{"summary":"Retrieve Account by ID","description":"Retrieves an account by its unique identifier.","operationId":"get-account-by-id","tags":["Accounts"],"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the account (MAX 64; MIN 36)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"New Example":{"summary":"New Example","value":{"id":"6b48a5fc-4d54-49b9-8b7a-7d78fa68761f","name":"TEST_ACCOUNT","principal":false,"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-06-09T11:17:34.893664Z"}}}}}}}},"patch":{"summary":"Update Account","description":"Updates an existing account.","operationId":"update-account","tags":["Accounts"],"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the account (MAX 64; MIN 36)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the customer in the external merchant (MAX 255; MIN 1)"},"principal":{"type":"boolean","description":"Indicates if the account is the principal for the organization"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"Update":{"summary":"Update","value":{"id":"6b48a5fc-4d54-49b9-8b7a-7d78fa68761f","name":"TEST_ACCOUNT","principal":false,"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-07-09T11:17:34.893664Z"}}}}}}}}},"/{id}/connections":{"post":{"summary":"Create Connection","description":"Creates a new connection for the specified account.","operationId":"create-connection","tags":["Accounts"],"parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true,"description":"The unique identifier of the account (MAX 64; MIN 36)"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","provider_data","params"],"properties":{"name":{"type":"string","description":"The name of the connection in the external merchant (MAX 255; MIN 1)"},"country":{"type":"string","description":"The connection's country (ISO 3166-1 MAX 2; MIN 2)"},"provider_data":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"Identification of the provider (MAX 255; MIN 3)"}},"description":"Information about the provider. For more information, please refer to the [connections section](https://docs.y.uno/reference/connections#/) in the API reference."},"params":{"type":"array","items":{"type":"object","required":["id","value"],"properties":{"id":{"type":"string","description":"ID of the param in the connection (MAX 255; MIN 1)"},"value":{"type":"string","description":"Value of the param (MAX 255; MIN 1)"}}},"description":"Parameters required to create the connection. For more information, please refer to the [connections section](https://docs.y.uno/reference/connections#/) in the API reference."},"routing":{"type":"object","properties":{"create":{"type":"boolean","description":"Indicates if a route needs to be created/updated after the connection creation. False by default."},"publish":{"type":"boolean","description":"Indicates if the route previously created needs to be published. False by default."}},"description":"Yuno's routing information"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"Alelo":{"summary":"Alelo","value":{"name":"ALELO_TEST","country":"BR","provider_data":{"id":"ALELO"},"params":[{"id":"SUB_MERCHANTS_CHECKBOX","value":true},{"id":"CNPJ","value":"95127446000198"},{"id":"MCC","value":"1234"}],"routing":{"create":true,"publish":true},"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-07-09T11:17:34.893664Z"}},"VR":{"summary":"VR","value":{"name":"VR_TEST","country":"BR","provider_data":{"id":"VR"},"params":[{"id":"CLIENT_ID","value":"faasfsadsadsa"},{"id":"CLIENT_SECRET","value":"sadsadfadsf"},{"id":"ID_FILIACAO","value":"fasdfsada"}],"routing":{"create":true,"publish":true},"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-07-09T11:17:34.893664Z"}},"Edenred":{"summary":"Edenred","value":""},"Edenred 2":{"summary":"Edenred 2","value":{"name":"EDENRED_TEST","country":"BR","provider_data":{"id":"EDENRED"},"params":[{"id":"CNPJ","value":"95127446000198"}],"routing":{"create":true,"publish":true},"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-07-09T11:17:34.893664Z"}},"Pluxee":{"summary":"Pluxee","value":{"name":"PLUXEE_TEST","country":"BR","provider_data":{"id":"PLUXEE"},"params":[{"param_id":"COUNTRY","value":"BR"},{"param_id":"params_with_test_values","value":false},{"param_id":"PAYMENT_METHOD","value":"CARD"},{"param_id":"CLIENT_ID","value":"10098a6a-71ea-4d8b-8460-98f7ca36fea9"},{"param_id":"SECRET_KEY","value":"sadsafasdfadsff"},{"param_id":"SUBMERCHANT_SELECT","value":"SUBMERCHANT_ON_CONNECTION"},{"param_id":"MERCHANT_ID","value":"200002846"}],"routing":{"create":true,"publish":true},"created_at":"2025-06-09T11:17:34.893664Z","updated_at":"2025-07-09T11:17:34.893664Z"}},"New Example":{"summary":"New Example","value":{}}}}}}}}},"/{id}/connections/{connection_id}":{"get":{"summary":"Retrieve Connection by ID","description":"Retrieves a connection by its unique identifier.","operationId":"get-connection-by-id","tags":["Accounts"],"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the account (MAX 64; MIN 36)","schema":{"type":"string"}},{"name":"connection_id","in":"path","required":true,"description":"The unique identifier of the connection (MAX 64; MIN 36)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response"}}},"patch":{"summary":"Update Connection","description":"Updates an existing connection.","operationId":"update-connection","tags":["Accounts"],"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the account (MAX 64; MIN 36)","schema":{"type":"string"}},{"name":"connection_id","in":"path","required":true,"description":"The unique identifier of the connection (MAX 64; MIN 36)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the connection in the external merchant (MAX 255; MIN 1)"},"country":{"type":"string","description":"The connection's country (ISO 3166-1 MAX 2; MIN 2)"},"provider_data":{"type":"object","properties":{"id":{"type":"string","description":"Identification of the provider (MAX 255; MIN 3)"}},"description":"Information about the provider of the connection"},"params":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"ID of the param in the connection (MAX 255; MIN 1)"},"value":{"type":"string","description":"Value of the param (MAX 255; MIN 1)"}}},"description":"Parameters required to create the connection"}}}}}},"responses":{"200":{"description":"Successful response"}}}},"/{id}/connections?":{"get":{"description":"","operationId":"get_{id}connections?","responses":{"200":{"description":"","content":{"application/json":{"examples":{"Example":{"summary":"Example","value":"[\n  {\n    \"paging\": {\n      \"total\": 300,\n      \"limit\": 30,\n      \"offset\": 0\n    },\n    \"connections.parameters\": [\n      {\n        \"provider_data\": {\n          \"id\": \"ALELO\"\n        },\n        \"params\": [\n          {\n            \"id\": \"SUB_MERCHANTS_CHECKBOX\",\n            \"type\": \"bool\"\n          },\n          {\n            \"id\": \"CNPJ\",\n            \"type\": \"string\"\n          },\n          {\n            \"id\": \"MCC\",\n            \"type\": \"string\"\n          }\n        ]\n      }\n]"}}}}}},"parameters":[{"name":"id","in":"path","required":true,"description":"The unique identifier of the account (MAX 64 ; MIN 36)","schema":{"type":"string","default":""}},{"name":"X-Public-Api-Key","in":"header","required":false,"description":"Merchant’s public API Key.","schema":{"type":"string","default":""}},{"name":"X-Private-Secret-Key","in":"header","required":false,"description":"Merchant’s Private Secret Key.","schema":{"type":"string","default":""}}]}}},"components":{"securitySchemes":{"public_api_key":{"type":"apiKey","in":"header","name":"public-api-key","description":"Example: `<Your public-api-key>`"},"private_secret_key":{"type":"apiKey","in":"header","name":"private-secret-key","description":"Example: `<Your private-secret-key>`"}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}