{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "BaaS"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno"
    }
  ],
  "tags": [],
  "paths": {
    "/new-endpoint": {
      "get": {
        "summary": "New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "//v1/baas/entities": {
      "post": {
        "description": "",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "ent_770e8400-e29b-41d4-a716-446655440000"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "merchant_entity_id": {
                      "type": "string",
                      "example": "merchant_company_789"
                    },
                    "national_entity": {
                      "type": "string",
                      "example": "ENTITY"
                    },
                    "phone": {
                      "type": "object",
                      "properties": {
                        "country_code": {
                          "type": "string",
                          "example": "+1"
                        },
                        "number": {
                          "type": "string",
                          "example": "4155551234"
                        }
                      }
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "example": "456 Market St"
                        },
                        "address_line_2": {},
                        "building_number_1": {
                          "type": "string",
                          "example": "456"
                        },
                        "building_number_2": {},
                        "city": {
                          "type": "string",
                          "example": "San Francisco"
                        },
                        "state": {
                          "type": "string",
                          "example": "CA"
                        },
                        "zip_code": {
                          "type": "string",
                          "example": "94102"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        }
                      }
                    },
                    "entity_detail": {
                      "type": "object",
                      "properties": {
                        "individual": {},
                        "entity": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Acme Corporation Inc"
                            },
                            "country": {
                              "type": "string",
                              "example": "US"
                            },
                            "tax_information": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "country": {
                                    "type": "string",
                                    "example": "US"
                                  },
                                  "tax_id_last_4": {
                                    "type": "string",
                                    "example": "6789"
                                  },
                                  "tax_id_type": {
                                    "type": "string",
                                    "example": "EIN"
                                  },
                                  "is_primary": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              }
                            },
                            "entity_type": {
                              "type": "string",
                              "example": "CORPORATION"
                            },
                            "beneficial_owners": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "first_name": {
                                    "type": "string",
                                    "example": "Jane"
                                  },
                                  "last_name": {
                                    "type": "string",
                                    "example": "Smith"
                                  },
                                  "email": {
                                    "type": "string",
                                    "example": "jane@acme.com"
                                  },
                                  "date_of_birth": {
                                    "type": "string",
                                    "example": "1985-03-20"
                                  },
                                  "gender": {
                                    "type": "string",
                                    "example": "F"
                                  },
                                  "country_of_residence": {
                                    "type": "string",
                                    "example": "US"
                                  },
                                  "tax_information": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "country": {
                                          "type": "string",
                                          "example": "US"
                                        },
                                        "tax_id_last_4": {
                                          "type": "string",
                                          "example": "4321"
                                        },
                                        "tax_id_type": {
                                          "type": "string",
                                          "example": "SSN"
                                        },
                                        "is_primary": {
                                          "type": "boolean",
                                          "example": true,
                                          "default": true
                                        }
                                      }
                                    }
                                  },
                                  "document": {
                                    "type": "object",
                                    "properties": {
                                      "document_type": {
                                        "type": "string",
                                        "example": "SSN"
                                      },
                                      "document_number_last_4": {
                                        "type": "string",
                                        "example": "4321"
                                      },
                                      "issuing_country": {
                                        "type": "string",
                                        "example": "US"
                                      },
                                      "issued_at": {
                                        "type": "string",
                                        "example": "2005-03-20"
                                      },
                                      "expires_at": {}
                                    }
                                  },
                                  "ownership_percentage": {
                                    "type": "integer",
                                    "example": 100,
                                    "default": 0
                                  },
                                  "title": {
                                    "type": "string",
                                    "example": "CEO"
                                  },
                                  "address": {
                                    "type": "object",
                                    "properties": {
                                      "address_line_1": {
                                        "type": "string",
                                        "example": "789 Oak St"
                                      },
                                      "address_line_2": {},
                                      "building_number_1": {
                                        "type": "string",
                                        "example": "789"
                                      },
                                      "building_number_2": {},
                                      "city": {
                                        "type": "string",
                                        "example": "San Francisco"
                                      },
                                      "state": {
                                        "type": "string",
                                        "example": "CA"
                                      },
                                      "zip_code": {
                                        "type": "string",
                                        "example": "94103"
                                      },
                                      "country": {
                                        "type": "string",
                                        "example": "US"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2026-02-01T10:00:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-02-01T10:00:00Z"
                    }
                  }
                },
                "examples": {
                  "Created (Individual)": {
                    "summary": "Created (Individual)",
                    "value": {
                      "id": "ent_660e8400-e29b-41d4-a716-446655440000",
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "merchant_entity_id": "merchant_user_12345",
                      "national_entity": "INDIVIDUAL",
                      "phone": {
                        "country_code": "+1",
                        "number": "2025551234"
                      },
                      "address": {
                        "address_line_1": "123 Main St",
                        "address_line_2": "Apt 4B",
                        "building_number_1": "123",
                        "building_number_2": null,
                        "city": "San Francisco",
                        "state": "CA",
                        "zip_code": "94102",
                        "country": "US"
                      },
                      "entity_detail": {
                        "individual": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "email": "john@example.com",
                          "date_of_birth": "1990-01-15",
                          "gender": "M",
                          "country_of_residence": "US",
                          "tax_information": [
                            {
                              "country": "US",
                              "tax_id_last_4": "6789",
                              "tax_id_type": "SSN",
                              "is_primary": true
                            }
                          ],
                          "document": {
                            "document_type": "SSN",
                            "document_number_last_4": "6789",
                            "issuing_country": "US",
                            "issued_at": "2010-01-15",
                            "expires_at": "2030-01-15"
                          }
                        },
                        "entity": null
                      },
                      "created_at": "2026-02-01T10:00:00Z",
                      "updated_at": "2026-02-01T10:00:00Z"
                    }
                  },
                  "Created (Entity)": {
                    "summary": "Created (Entity)",
                    "value": {
                      "id": "ent_770e8400-e29b-41d4-a716-446655440000",
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "merchant_entity_id": "merchant_company_789",
                      "national_entity": "ENTITY",
                      "phone": {
                        "country_code": "+1",
                        "number": "4155551234"
                      },
                      "address": {
                        "address_line_1": "456 Market St",
                        "address_line_2": null,
                        "building_number_1": "456",
                        "building_number_2": null,
                        "city": "San Francisco",
                        "state": "CA",
                        "zip_code": "94102",
                        "country": "US"
                      },
                      "entity_detail": {
                        "individual": null,
                        "entity": {
                          "name": "Acme Corporation Inc",
                          "country": "US",
                          "tax_information": [
                            {
                              "country": "US",
                              "tax_id_last_4": "6789",
                              "tax_id_type": "EIN",
                              "is_primary": true
                            }
                          ],
                          "entity_type": "CORPORATION",
                          "beneficial_owners": [
                            {
                              "first_name": "Jane",
                              "last_name": "Smith",
                              "email": "jane@acme.com",
                              "date_of_birth": "1985-03-20",
                              "gender": "F",
                              "country_of_residence": "US",
                              "tax_information": [
                                {
                                  "country": "US",
                                  "tax_id_last_4": "4321",
                                  "tax_id_type": "SSN",
                                  "is_primary": true
                                }
                              ],
                              "document": {
                                "document_type": "SSN",
                                "document_number_last_4": "4321",
                                "issuing_country": "US",
                                "issued_at": "2005-03-20",
                                "expires_at": null
                              },
                              "ownership_percentage": 100,
                              "title": "CEO",
                              "address": {
                                "address_line_1": "789 Oak St",
                                "address_line_2": null,
                                "building_number_1": "789",
                                "building_number_2": null,
                                "city": "San Francisco",
                                "state": "CA",
                                "zip_code": "94103",
                                "country": "US"
                              }
                            }
                          ]
                        }
                      },
                      "created_at": "2026-02-01T10:00:00Z",
                      "updated_at": "2026-02-01T10:00:00Z"
                    }
                  }
                }
              }
            },
            "description": "Created (Individual)"
          }
        },
        "parameters": [],
        "operationId": "post_v1-baas-entities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "Create Individual": {
                  "summary": "Create Individual",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "merchant_entity_id": "merchant_user_12345",
                    "national_entity": "INDIVIDUAL",
                    "phone": {
                      "country_code": "+1",
                      "number": "2025551234"
                    },
                    "address": {
                      "address_line_1": "123 Main St",
                      "address_line_2": "Apt 4B",
                      "building_number_1": "123",
                      "building_number_2": null,
                      "city": "San Francisco",
                      "state": "CA",
                      "zip_code": "94102",
                      "country": "US"
                    },
                    "entity_detail": {
                      "individual": {
                        "first_name": "John",
                        "last_name": "Doe",
                        "email": "john@example.com",
                        "date_of_birth": "1990-01-15",
                        "gender": "M",
                        "country_of_residence": "US",
                        "tax_information": [
                          {
                            "country": "US",
                            "tax_id": "123-45-6789",
                            "tax_id_type": "SSN",
                            "is_primary": true
                          }
                        ],
                        "document": {
                          "document_type": "SSN",
                          "document_number": "123-45-6789",
                          "issuing_country": "US",
                          "issued_at": "2010-01-15",
                          "expires_at": "2030-01-15"
                        }
                      },
                      "entity": null
                    }
                  }
                },
                "Create Entity": {
                  "summary": "Create Entity",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "merchant_entity_id": "merchant_company_789",
                    "national_entity": "ENTITY",
                    "phone": {
                      "country_code": "+1",
                      "number": "4155551234"
                    },
                    "address": {
                      "address_line_1": "456 Market St",
                      "address_line_2": null,
                      "building_number_1": "456",
                      "building_number_2": null,
                      "city": "San Francisco",
                      "state": "CA",
                      "zip_code": "94102",
                      "country": "US"
                    },
                    "entity_detail": {
                      "individual": null,
                      "entity": {
                        "name": "Acme Corporation Inc",
                        "country": "US",
                        "tax_information": [
                          {
                            "country": "US",
                            "tax_id": "12-3456789",
                            "tax_id_type": "EIN",
                            "is_primary": true
                          }
                        ],
                        "entity_type": "CORPORATION",
                        "beneficial_owners": [
                          {
                            "first_name": "Jane",
                            "last_name": "Smith",
                            "email": "jane@acme.com",
                            "date_of_birth": "1985-03-20",
                            "gender": "F",
                            "country_of_residence": "US",
                            "tax_information": [
                              {
                                "country": "US",
                                "tax_id": "987-65-4321",
                                "tax_id_type": "SSN",
                                "is_primary": true
                              }
                            ],
                            "document": {
                              "document_type": "SSN",
                              "document_number": "987-65-4321",
                              "issuing_country": "US",
                              "issued_at": "2005-03-20",
                              "expires_at": null
                            },
                            "ownership_percentage": 100,
                            "title": "CEO",
                            "address": {
                              "address_line_1": "789 Oak St",
                              "address_line_2": null,
                              "building_number_1": "789",
                              "building_number_2": null,
                              "city": "San Francisco",
                              "state": "CA",
                              "zip_code": "94103",
                              "country": "US"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/baas/entities/{entity_id}/onboardings": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "onb_990e8400-e29b-41d4-a716-446655440000"
                    },
                    "entity_id": {
                      "type": "string",
                      "example": "ent_660e8400-e29b-41d4-a716-446655440000"
                    },
                    "yuno_account_id": {
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "provider": {
                      "type": "object",
                      "properties": {
                        "entity_id": {
                          "type": "string",
                          "example": "col_entity_onboarded_123"
                        },
                        "status": {
                          "type": "string",
                          "example": "verification_pending"
                        }
                      }
                    },
                    "onboarding_type": {
                      "type": "string",
                      "example": "ONE_STEP"
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "requirements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2026-02-01T10:00:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-02-01T10:00:00Z"
                    },
                    "expires_at": {
                      "type": "string",
                      "example": "2026-02-08T10:00:00Z"
                    }
                  }
                },
                "examples": {
                  "Created (Entity onboarding)": {
                    "summary": "Created (Entity onboarding)",
                    "value": {
                      "id": "onb_990e8400-e29b-41d4-a716-446655440000",
                      "entity_id": "ent_660e8400-e29b-41d4-a716-446655440000",
                      "yuno_account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "provider": {
                        "entity_id": "col_entity_onboarded_123",
                        "status": "verification_pending"
                      },
                      "onboarding_type": "ONE_STEP",
                      "status": "PENDING",
                      "requirements": [],
                      "created_at": "2026-02-01T10:00:00Z",
                      "updated_at": "2026-02-01T10:00:00Z",
                      "expires_at": "2026-02-08T10:00:00Z"
                    }
                  }
                }
              }
            },
            "description": "Created"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "entity_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "operationId": "post_v1-baas-entities-entity-id-onboardings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "Create entity onboarding": {
                  "summary": "Create entity onboarding",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "yuno_connection_id": "conn_550e8400-e29b-41d4-a716-446655440001",
                    "onboarding_type": "ONE_STEP",
                    "compliance_declaration": {
                      "terms_of_service": {
                        "accepted": true,
                        "version": "1.2.0",
                        "accepted_at": "2026-02-01T10:00:00Z",
                        "accepted_ip": "192.168.1.1"
                      },
                      "privacy_policy": {
                        "accepted": true,
                        "version": "2.1.0",
                        "accepted_at": "2026-02-01T10:00:00Z",
                        "accepted_ip": "192.168.1.1"
                      }
                    },
                    "risk_assessment": {
                      "assessed_at": "2026-02-01T10:00:00Z",
                      "pep_status": {
                        "is_pep": false,
                        "pep_level": null,
                        "position": null,
                        "country": null
                      },
                      "rca_status": {
                        "risk_level": "LOW",
                        "classified_at": "2026-02-01T10:00:00Z",
                        "assessed_by": "Merchant Compliance Team"
                      },
                      "sanctions_screening": {
                        "appears_on_sanctions_list": false,
                        "sanctions_list_name": null,
                        "screened_at": "2026-02-01T09:00:00Z"
                      }
                    },
                    "source_of_funds": {
                      "primary_source": "EMPLOYMENT_SALARY",
                      "secondary_sources": [
                        "INVESTMENTS"
                      ],
                      "description": "Primary income from full-time employment as software engineer, supplemented by stock portfolio dividends",
                      "estimated_annual_income": {
                        "amount": 175000,
                        "currency": "USD"
                      }
                    },
                    "documentation": [
                      {
                        "type": "IDENTITY_DOCUMENT",
                        "identity_document": {
                          "subtype": "DRIVERS_LICENSE",
                          "document_number": "D1234567",
                          "issuing_country": "US",
                          "issuing_state": "CA",
                          "issued_at": "2020-01-15",
                          "expires_at": "2028-01-15",
                          "front_image": {
                            "file_name": "license_front.jpg",
                            "content_type": "image/jpeg",
                            "content": "base64_encoded_content"
                          },
                          "back_image": {
                            "file_name": "license_back.jpg",
                            "content_type": "image/jpeg",
                            "content": "base64_encoded_content"
                          }
                        }
                      },
                      {
                        "type": "PROOF_OF_ADDRESS",
                        "proof_of_address": {
                          "subtype": "UTILITY_BILL",
                          "provider_name": "PG&E",
                          "bill_type": "ELECTRICITY",
                          "issued_at": "2026-01-01",
                          "account_number": "ACC-123456",
                          "verified_address": {
                            "address_line_1": "123 Main St",
                            "city": "San Francisco",
                            "state": "CA",
                            "zip_code": "94102",
                            "country": "US"
                          },
                          "file": {
                            "file_name": "utility_bill.pdf",
                            "content_type": "application/pdf",
                            "content": "base64_encoded_content"
                          }
                        }
                      },
                      {
                        "type": "BANK_STATEMENT",
                        "bank_statement": {
                          "bank_name": "Chase Bank",
                          "account_number_last_4": "1234",
                          "statement_period_start": "2025-12-01",
                          "statement_period_end": "2025-12-31",
                          "file": {
                            "file_name": "bank_statement_dec_2025.pdf",
                            "content_type": "application/pdf",
                            "content": "base64_encoded_content"
                          }
                        }
                      },
                      {
                        "type": "TAX_INFORMATION",
                        "tax_information": {
                          "tax_records": [
                            {
                              "country": "US",
                              "tax_id": "123-45-6789",
                              "tax_id_type": "SSN",
                              "is_primary": true
                            }
                          ],
                          "tax_document_type": "W9",
                          "tax_year": "2025",
                          "issuing_authority": "IRS",
                          "file": {
                            "file_name": "w9_form.pdf",
                            "content_type": "application/pdf",
                            "content": "base64_encoded_content"
                          }
                        }
                      },
                      {
                        "type": "BIOMETRIC_VERIFICATION",
                        "biometric_verification": {
                          "verification_method": "FACIAL_RECOGNITION",
                          "capture_method": "LIVE_CAPTURE",
                          "capture_timestamp": "2026-02-01T10:00:00Z",
                          "liveness_check_passed": true,
                          "confidence_score": 0.98,
                          "verification_provider": "Onfido",
                          "live_image": {
                            "file_name": "live_capture.jpg",
                            "content_type": "image/jpeg",
                            "content": "base64_encoded_content"
                          },
                          "reference_image": {
                            "file_name": "id_photo_reference.jpg",
                            "content_type": "image/jpeg",
                            "content": "base64_encoded_content"
                          }
                        }
                      },
                      {
                        "type": "EMPLOYMENT_INFORMATION",
                        "employment_information": {
                          "status": "EMPLOYED",
                          "employer_name": "Tech Corp Inc",
                          "occupation": "Senior Software Engineer",
                          "industry": "TECHNOLOGY",
                          "started_at": "2020-03-15",
                          "annual_income": {
                            "amount": 150000,
                            "currency": "USD"
                          },
                          "verification_document": {
                            "file_name": "employment_letter.pdf",
                            "content_type": "application/pdf",
                            "content": "base64_encoded_content"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/baas/entities/{entity_id}/onboardings/{onboarding_id}": {
      "patch": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "id": "onb_990e8400-e29b-41d4-a716-446655440000",
                      "entity_id": "ent_660e8400-e29b-41d4-a716-446655440000",
                      "status": "PENDING",
                      "provider_status": "verification_pending",
                      "requirements": [],
                      "updated_at": "2026-02-01T10:05:00Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "onb_990e8400-e29b-41d4-a716-446655440000"
                    },
                    "entity_id": {
                      "type": "string",
                      "example": "ent_660e8400-e29b-41d4-a716-446655440000"
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "provider_status": {
                      "type": "string",
                      "example": "verification_pending"
                    },
                    "requirements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-02-01T10:05:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "entity_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "onboarding_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "operationId": "patch_v1-baas-entities-entity-id-onboardings-onboarding-id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "Update Onboarding": {
                  "summary": "Update Onboarding",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "compliance_declaration": {
                      "terms_of_service": {
                        "accepted": true,
                        "version": "1.2.0",
                        "accepted_at": "2026-02-01T10:05:00Z",
                        "accepted_ip": "192.168.1.1"
                      },
                      "privacy_policy": {
                        "accepted": true,
                        "version": "2.1.0",
                        "accepted_at": "2026-02-01T10:05:00Z",
                        "accepted_ip": "192.168.1.1"
                      }
                    },
                    "risk_assessment": {
                      "assessed_at": "2026-02-01T10:05:00Z",
                      "pep_status": {
                        "is_pep": false,
                        "pep_level": null,
                        "position": null,
                        "country": null
                      },
                      "rca_status": {
                        "risk_level": "LOW",
                        "classified_at": "2026-02-01T10:05:00Z",
                        "assessed_by": "Merchant Compliance Team"
                      },
                      "sanctions_screening": {
                        "appears_on_sanctions_list": false,
                        "sanctions_list_name": null,
                        "screened_at": "2026-02-01T09:00:00Z"
                      }
                    },
                    "source_of_funds": {
                      "primary_source": "EMPLOYMENT_SALARY",
                      "secondary_sources": [
                        "INVESTMENTS"
                      ],
                      "description": "Primary income from full-time employment, supplemented by investment portfolio",
                      "estimated_annual_income": {
                        "amount": 175000,
                        "currency": "USD"
                      }
                    },
                    "documentation": [
                      {
                        "type": "BANK_STATEMENT",
                        "bank_statement": {
                          "bank_name": "Chase Bank",
                          "account_number_last_4": "1234",
                          "statement_period_start": "2025-12-01",
                          "statement_period_end": "2025-12-31",
                          "file": {
                            "file_name": "bank_statement_dec_2025.pdf",
                            "content_type": "application/pdf",
                            "content": "base64_encoded_content"
                          }
                        }
                      },
                      {
                        "type": "IDENTITY_DOCUMENT",
                        "identity_document": {
                          "subtype": "PASSPORT",
                          "document_number": "X12345678",
                          "issuing_country": "US",
                          "issued_at": "2020-01-15",
                          "expires_at": "2030-01-15",
                          "front_image": {
                            "file_name": "passport_front.jpg",
                            "content_type": "image/jpeg",
                            "content": "base64_encoded_content"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/baas/accounts": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [],
        "operationId": "post_v1-baas-accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "Create Account": {
                  "summary": "Create Account",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "onboarding_id": "onb_990e8400-e29b-41d4-a716-446655440000",
                    "account_type": "CHECKING",
                    "currency": "USD"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {}
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}