{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "BaaS"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno"
    }
  ],
  "tags": [],
  "paths": {
    "/new-endpoint": {
      "get": {
        "summary": "New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "//v1/baas/entities": {
      "post": {
        "description": "",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "ent_770e8400-e29b-41d4-a716-446655440000"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "merchant_entity_id": {
                      "type": "string",
                      "example": "merchant_company_789"
                    },
                    "national_entity": {
                      "type": "string",
                      "example": "ENTITY"
                    },
                    "phone": {
                      "type": "object",
                      "properties": {
                        "country_code": {
                          "type": "string",
                          "example": "+1"
                        },
                        "number": {
                          "type": "string",
                          "example": "4155551234"
                        }
                      }
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "example": "456 Market St"
                        },
                        "address_line_2": {},
                        "building_number_1": {
                          "type": "string",
                          "example": "456"
                        },
                        "building_number_2": {},
                        "city": {
                          "type": "string",
                          "example": "San Francisco"
                        },
                        "state": {
                          "type": "string",
                          "example": "CA"
                        },
                        "zip_code": {
                          "type": "string",
                          "example": "94102"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        }
                      }
                    },
                    "entity_detail": {
                      "type": "object",
                      "properties": {
                        "individual": {},
                        "entity": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Acme Corporation Inc"
                            },
                            "country": {
                              "type": "string",
                              "example": "US"
                            },
                            "tax_information": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "country": {
                                    "type": "string",
                                    "example": "US"
                                  },
                                  "tax_id_last_4": {
                                    "type": "string",
                                    "example": "6789"
                                  },
                                  "tax_id_type": {
                                    "type": "string",
                                    "example": "EIN"
                                  },
                                  "is_primary": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              }
                            },
                            "entity_type": {
                              "type": "string",
                              "example": "CORPORATION"
                            },
                            "beneficial_owners": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "first_name": {
                                    "type": "string",
                                    "example": "Jane"
                                  },
                                  "last_name": {
                                    "type": "string",
                                    "example": "Smith"
                                  },
                                  "email": {
                                    "type": "string",
                                    "example": "jane@acme.com"
                                  },
                                  "date_of_birth": {
                                    "type": "string",
                                    "example": "1985-03-20"
                                  },
                                  "gender": {
                                    "type": "string",
                                    "example": "F"
                                  },
                                  "country_of_residence": {
                                    "type": "string",
                                    "example": "US"
                                  },
                                  "tax_information": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "country": {
                                          "type": "string",
                                          "example": "US"
                                        },
                                        "tax_id_last_4": {
                                          "type": "string",
                                          "example": "4321"
                                        },
                                        "tax_id_type": {
                                          "type": "string",
                                          "example": "SSN"
                                        },
                                        "is_primary": {
                                          "type": "boolean",
                                          "example": true,
                                          "default": true
                                        }
                                      }
                                    }
                                  },
                                  "document": {
                                    "type": "object",
                                    "properties": {
                                      "document_type": {
                                        "type": "string",
                                        "example": "SSN"
                                      },
                                      "document_number_last_4": {
                                        "type": "string",
                                        "example": "4321"
                                      },
                                      "issuing_country": {
                                        "type": "string",
                                        "example": "US"
                                      },
                                      "issued_at": {
                                        "type": "string",
                                        "example": "2005-03-20"
                                      },
                                      "expires_at": {}
                                    }
                                  },
                                  "ownership_percentage": {
                                    "type": "integer",
                                    "example": 100,
                                    "default": 0
                                  },
                                  "title": {
                                    "type": "string",
                                    "example": "CEO"
                                  },
                                  "address": {
                                    "type": "object",
                                    "properties": {
                                      "address_line_1": {
                                        "type": "string",
                                        "example": "789 Oak St"
                                      },
                                      "address_line_2": {},
                                      "building_number_1": {
                                        "type": "string",
                                        "example": "789"
                                      },
                                      "building_number_2": {},
                                      "city": {
                                        "type": "string",
                                        "example": "San Francisco"
                                      },
                                      "state": {
                                        "type": "string",
                                        "example": "CA"
                                      },
                                      "zip_code": {
                                        "type": "string",
                                        "example": "94103"
                                      },
                                      "country": {
                                        "type": "string",
                                        "example": "US"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2026-02-01T10:00:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-02-01T10:00:00Z"
                    }
                  }
                },
                "examples": {
                  "Created (Individual)": {
                    "summary": "Created (Individual)",
                    "value": {
                      "id": "ent_660e8400-e29b-41d4-a716-446655440000",
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "merchant_entity_id": "merchant_user_12345",
                      "national_entity": "INDIVIDUAL",
                      "phone": {
                        "country_code": "+1",
                        "number": "2025551234"
                      },
                      "address": {
                        "address_line_1": "123 Main St",
                        "address_line_2": "Apt 4B",
                        "building_number_1": "123",
                        "building_number_2": null,
                        "city": "San Francisco",
                        "state": "CA",
                        "zip_code": "94102",
                        "country": "US"
                      },
                      "entity_detail": {
                        "individual": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "email": "john@example.com",
                          "date_of_birth": "1990-01-15",
                          "gender": "M",
                          "country_of_residence": "US",
                          "tax_information": [
                            {
                              "country": "US",
                              "tax_id_last_4": "6789",
                              "tax_id_type": "SSN",
                              "is_primary": true
                            }
                          ],
                          "document": {
                            "document_type": "SSN",
                            "document_number_last_4": "6789",
                            "issuing_country": "US",
                            "issued_at": "2010-01-15",
                            "expires_at": "2030-01-15"
                          }
                        },
                        "entity": null
                      },
                      "created_at": "2026-02-01T10:00:00Z",
                      "updated_at": "2026-02-01T10:00:00Z"
                    }
                  },
                  "Created (Entity)": {
                    "summary": "Created (Entity)",
                    "value": {
                      "id": "ent_770e8400-e29b-41d4-a716-446655440000",
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "merchant_entity_id": "merchant_company_789",
                      "national_entity": "ENTITY",
                      "phone": {
                        "country_code": "+1",
                        "number": "4155551234"
                      },
                      "address": {
                        "address_line_1": "456 Market St",
                        "address_line_2": null,
                        "building_number_1": "456",
                        "building_number_2": null,
                        "city": "San Francisco",
                        "state": "CA",
                        "zip_code": "94102",
                        "country": "US"
                      },
                      "entity_detail": {
                        "individual": null,
                        "entity": {
                          "name": "Acme Corporation Inc",
                          "country": "US",
                          "tax_information": [
                            {
                              "country": "US",
                              "tax_id_last_4": "6789",
                              "tax_id_type": "EIN",
                              "is_primary": true
                            }
                          ],
                          "entity_type": "CORPORATION",
                          "beneficial_owners": [
                            {
                              "first_name": "Jane",
                              "last_name": "Smith",
                              "email": "jane@acme.com",
                              "date_of_birth": "1985-03-20",
                              "gender": "F",
                              "country_of_residence": "US",
                              "tax_information": [
                                {
                                  "country": "US",
                                  "tax_id_last_4": "4321",
                                  "tax_id_type": "SSN",
                                  "is_primary": true
                                }
                              ],
                              "document": {
                                "document_type": "SSN",
                                "document_number_last_4": "4321",
                                "issuing_country": "US",
                                "issued_at": "2005-03-20",
                                "expires_at": null
                              },
                              "ownership_percentage": 100,
                              "title": "CEO",
                              "address": {
                                "address_line_1": "789 Oak St",
                                "address_line_2": null,
                                "building_number_1": "789",
                                "building_number_2": null,
                                "city": "San Francisco",
                                "state": "CA",
                                "zip_code": "94103",
                                "country": "US"
                              }
                            }
                          ]
                        }
                      },
                      "created_at": "2026-02-01T10:00:00Z",
                      "updated_at": "2026-02-01T10:00:00Z"
                    }
                  }
                }
              }
            },
            "description": "Created (Individual)"
          }
        },
        "parameters": [],
        "operationId": "post_v1-baas-entities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "Create Individual": {
                  "summary": "Create Individual",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "merchant_entity_id": "merchant_user_12345",
                    "national_entity": "INDIVIDUAL",
                    "phone": {
                      "country_code": "+1",
                      "number": "2025551234"
                    },
                    "address": {
                      "address_line_1": "123 Main St",
                      "address_line_2": "Apt 4B",
                      "building_number_1": "123",
                      "building_number_2": null,
                      "city": "San Francisco",
                      "state": "CA",
                      "zip_code": "94102",
                      "country": "US"
                    },
                    "entity_detail": {
                      "individual": {
                        "first_name": "John",
                        "last_name": "Doe",
                        "email": "john@example.com",
                        "date_of_birth": "1990-01-15",
                        "gender": "M",
                        "country_of_residence": "US",
                        "tax_information": [
                          {
                            "country": "US",
                            "tax_id": "123-45-6789",
                            "tax_id_type": "SSN",
                            "is_primary": true
                          }
                        ],
                        "document": {
                          "document_type": "SSN",
                          "document_number": "123-45-6789",
                          "issuing_country": "US",
                          "issued_at": "2010-01-15",
                          "expires_at": "2030-01-15"
                        }
                      },
                      "entity": null
                    }
                  }
                },
                "Create Entity": {
                  "summary": "Create Entity",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "merchant_entity_id": "merchant_company_789",
                    "national_entity": "ENTITY",
                    "phone": {
                      "country_code": "+1",
                      "number": "4155551234"
                    },
                    "address": {
                      "address_line_1": "456 Market St",
                      "address_line_2": null,
                      "building_number_1": "456",
                      "building_number_2": null,
                      "city": "San Francisco",
                      "state": "CA",
                      "zip_code": "94102",
                      "country": "US"
                    },
                    "entity_detail": {
                      "individual": null,
                      "entity": {
                        "name": "Acme Corporation Inc",
                        "country": "US",
                        "tax_information": [
                          {
                            "country": "US",
                            "tax_id": "12-3456789",
                            "tax_id_type": "EIN",
                            "is_primary": true
                          }
                        ],
                        "entity_type": "CORPORATION",
                        "beneficial_owners": [
                          {
                            "first_name": "Jane",
                            "last_name": "Smith",
                            "email": "jane@acme.com",
                            "date_of_birth": "1985-03-20",
                            "gender": "F",
                            "country_of_residence": "US",
                            "tax_information": [
                              {
                                "country": "US",
                                "tax_id": "987-65-4321",
                                "tax_id_type": "SSN",
                                "is_primary": true
                              }
                            ],
                            "document": {
                              "document_type": "SSN",
                              "document_number": "987-65-4321",
                              "issuing_country": "US",
                              "issued_at": "2005-03-20",
                              "expires_at": null
                            },
                            "ownership_percentage": 100,
                            "title": "CEO",
                            "address": {
                              "address_line_1": "789 Oak St",
                              "address_line_2": null,
                              "building_number_1": "789",
                              "building_number_2": null,
                              "city": "San Francisco",
                              "state": "CA",
                              "zip_code": "94103",
                              "country": "US"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {}
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}