{"openapi":"3.1.0","info":{"title":"base-url-without-idempotency","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"public-api-key","x-default":"<Your public-api-key>"},"sec1":{"type":"apiKey","in":"header","name":"private-secret-key","x-default":"<Your private-secret-key>"}}},"security":[{"sec0":[],"sec1":[]}],"paths":{"/customers":{"get":{"summary":"Retrieve Customer by External ID","description":"","operationId":"retrieve-customer-by-external-id","parameters":[{"name":"merchant_customer_id","in":"query","description":"The unique identifier of the customer in the external merchant (MAX 255; MIN 1).","schema":{"type":"string","default":"4321"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"94121f98-98f7-4d57-aa5f-228401d35b12\",\n    \"merchant_customer_id\": \"1744402154\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"gender\": \"F\",\n    \"date_of_birth\": \"1990-02-28\",\n    \"email\": \"john.doe@gmail.com\",\n    \"nationality\": \"CO\",\n    \"country\": \"CO\",\n    \"document\": {\n        \"document_type\": \"CC\",\n        \"document_number\": \"1010268952\"\n    },\n    \"phone\": {\n        \"number\": \"3132450765\",\n        \"country_code\": \"57\"\n    },\n    \"billing_address\": {\n        \"address_line_1\": \"Calle 34 # 56 - 78\",\n        \"address_line_2\": \"Apartamento 502, Torre I\",\n        \"country\": \"CO\",\n        \"state\": \"Cundinamarca\",\n        \"city\": \"Bogotá\",\n        \"zip_code\": \"111111\",\n        \"neighborhood\": \"Test\"\n    },\n    \"shipping_address\": {\n        \"address_line_1\": \"Calle 34 # 56 - 78\",\n        \"address_line_2\": \"Apartamento 502, Torre I\",\n        \"country\": \"CO\",\n        \"state\": \"Cundinamarca\",\n        \"city\": \"Bogotá\",\n        \"zip_code\": \"111111\",\n        \"neighborhood\": \"Test\"\n    },\n    \"metadata\": [\n        {\n            \"key\": \"ID\",\n            \"value\": \"1234\"\n        }\n    ],\n    \"created_at\": \"2025-04-11T20:09:14.927971Z\",\n    \"updated_at\": \"2025-04-11T20:09:14.927972Z\",\n    \"merchant_customer_created_at\": \"2023-08-05T14:43:58.980718Z\"\n}\n"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"94121f98-98f7-4d57-aa5f-228401d35b12"},"merchant_customer_id":{"type":"string","example":"1744402154"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"gender":{"type":"string","example":"F"},"date_of_birth":{"type":"string","example":"1990-02-28"},"email":{"type":"string","example":"john.doe@gmail.com"},"nationality":{"type":"string","example":"CO"},"country":{"type":"string","example":"CO"},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"CC"},"document_number":{"type":"string","example":"1010268952"}}},"phone":{"type":"object","properties":{"number":{"type":"string","example":"3132450765"},"country_code":{"type":"string","example":"57"}}},"billing_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"Calle 34 # 56 - 78"},"address_line_2":{"type":"string","example":"Apartamento 502, Torre I"},"country":{"type":"string","example":"CO"},"state":{"type":"string","example":"Cundinamarca"},"city":{"type":"string","example":"Bogotá"},"zip_code":{"type":"string","example":"111111"},"neighborhood":{"type":"string","example":"Test"}}},"shipping_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"Calle 34 # 56 - 78"},"address_line_2":{"type":"string","example":"Apartamento 502, Torre I"},"country":{"type":"string","example":"CO"},"state":{"type":"string","example":"Cundinamarca"},"city":{"type":"string","example":"Bogotá"},"zip_code":{"type":"string","example":"111111"},"neighborhood":{"type":"string","example":"Test"}}},"metadata":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"ID"},"value":{"type":"string","example":"1234"}}}},"created_at":{"type":"string","example":"2025-04-11T20:09:14.927971Z"},"updated_at":{"type":"string","example":"2025-04-11T20:09:14.927972Z"},"merchant_customer_created_at":{"type":"string","example":"2023-08-05T14:43:58.980718Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Not Found":{"value":"{\n  \"code\": \"CUSTOMER_NOT_FOUND\",\n  \"messages\": [\n    \"Customer not found\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"CUSTOMER_NOT_FOUND"},"messages":{"type":"array","items":{"type":"string","example":"Customer not found"}}}}}}}},"deprecated":false}},"/customer/sessions/{customer_session}/payment-methods":{"get":{"summary":"Retrieve Payment Method by Customer Session","description":"","operationId":"retrieve-payment-method-by-customer-session-checkout","parameters":[{"name":"customer_session","in":"path","description":"The customer session that has been created for the enrollment using the [Create Customer Session](https://docs.y.uno/reference/create-customer-session) endpoint (MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"80a07796-7ad4-457a-b66a-91390d84ff38\",\n  \"idempotency_key\": \"4da7583b-c5fb-41ee-975d-373725b3ab2a\",\n  \"organization_code\": \"e49f8e6b-34d2-4019-ab53-6a421cc73f9d\",\n  \"account_code\": \"d3d38fc9-49ec-4277-9115-bbad5d17d236\",\n  \"customer_session\": \"3194ab17-24d1-427d-a043-854d45ea247f\",\n  \"name\": \"Mercado pago wallet\",\n  \"description\": \"Mercado pago wallet\",\n  \"status\": \"READY_TO_ENROLL\",\n  \"type\": \"MERCADO_PAGO_WALLET\",\n  \"category\": \"WALLET\",\n  \"provider\": {\n    \"type\": \"MERCADO_PAGO\",\n    \"action\": \"REDIRECT_URL\",\n    \"token\": null,\n    \"enrollment_id\": \"f1deff1f6a6b45c19417c231ed9faa2f\",\n    \"provider_status\": null,\n    \"redirect\": {\n      \"init_url\": \"https://www.mercadopago.com.ar/v1/wallet_agreement/f1deff1f6a6b45c19417c231ed9faa2f\",\n      \"success_url\": \"https://www.y.uno/success.html\",\n      \"error_url\": \"https://www.y.uno/success.html\"\n    }\n  },\n  \"created_at\": \"2022-11-21T12:28:44.932603Z\",\n  \"updated_at\": \"2022-11-21T12:28:47.729222Z\"\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"80a07796-7ad4-457a-b66a-91390d84ff38"},"idempotency_key":{"type":"string","example":"4da7583b-c5fb-41ee-975d-373725b3ab2a"},"organization_code":{"type":"string","example":"e49f8e6b-34d2-4019-ab53-6a421cc73f9d"},"account_code":{"type":"string","example":"d3d38fc9-49ec-4277-9115-bbad5d17d236"},"customer_session":{"type":"string","example":"3194ab17-24d1-427d-a043-854d45ea247f"},"name":{"type":"string","example":"Mercado pago wallet"},"description":{"type":"string","example":"Mercado pago wallet"},"status":{"type":"string","example":"READY_TO_ENROLL"},"type":{"type":"string","example":"MERCADO_PAGO_WALLET"},"category":{"type":"string","example":"WALLET"},"provider":{"type":"object","properties":{"type":{"type":"string","example":"MERCADO_PAGO"},"action":{"type":"string","example":"REDIRECT_URL"},"token":{},"enrollment_id":{"type":"string","example":"f1deff1f6a6b45c19417c231ed9faa2f"},"provider_status":{},"redirect":{"type":"object","properties":{"init_url":{"type":"string","example":"https://www.mercadopago.com.ar/v1/wallet_agreement/f1deff1f6a6b45c19417c231ed9faa2f"},"success_url":{"type":"string","example":"https://www.y.uno/success.html"},"error_url":{"type":"string","example":"https://www.y.uno/success.html"}}}}},"created_at":{"type":"string","example":"2022-11-21T12:28:44.932603Z"},"updated_at":{"type":"string","example":"2022-11-21T12:28:47.729222Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"key":"charset","value":"utf-8"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}