{
  "openapi": "3.1.0",
  "info": {
    "title": "base-url-without-idempotency",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "summary": "Retrieve Customer by External ID",
        "description": "",
        "operationId": "retrieve-customer-by-external-id",
        "parameters": [
          {
            "name": "merchant_customer_id",
            "in": "query",
            "description": "The unique identifier of the customer in the external merchant (MAX 255; MIN 1).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "94121f98-98f7-4d57-aa5f-228401d35b12"
                    },
                    "merchant_customer_id": {
                      "type": "string",
                      "example": "1744402154"
                    },
                    "first_name": {
                      "type": "string",
                      "example": "John"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Doe"
                    },
                    "gender": {
                      "type": "string",
                      "example": "F"
                    },
                    "date_of_birth": {
                      "type": "string",
                      "example": "1990-02-28"
                    },
                    "email": {
                      "type": "string",
                      "example": "john.doe@gmail.com"
                    },
                    "nationality": {
                      "type": "string",
                      "example": "CO"
                    },
                    "country": {
                      "type": "string",
                      "example": "CO"
                    },
                    "document": {
                      "type": "object",
                      "properties": {
                        "document_type": {
                          "type": "string",
                          "example": "CC"
                        },
                        "document_number": {
                          "type": "string",
                          "example": "1010268952"
                        }
                      }
                    },
                    "phone": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "string",
                          "example": "3132450765"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "57"
                        }
                      }
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "example": "Calle 34 # 56 - 78"
                        },
                        "address_line_2": {
                          "type": "string",
                          "example": "Apartamento 502, Torre I"
                        },
                        "country": {
                          "type": "string",
                          "example": "CO"
                        },
                        "state": {
                          "type": "string",
                          "example": "Cundinamarca"
                        },
                        "city": {
                          "type": "string",
                          "example": "Bogotá"
                        },
                        "zip_code": {
                          "type": "string",
                          "example": "111111"
                        },
                        "neighborhood": {
                          "type": "string",
                          "example": "Test"
                        }
                      }
                    },
                    "shipping_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "example": "Calle 34 # 56 - 78"
                        },
                        "address_line_2": {
                          "type": "string",
                          "example": "Apartamento 502, Torre I"
                        },
                        "country": {
                          "type": "string",
                          "example": "CO"
                        },
                        "state": {
                          "type": "string",
                          "example": "Cundinamarca"
                        },
                        "city": {
                          "type": "string",
                          "example": "Bogotá"
                        },
                        "zip_code": {
                          "type": "string",
                          "example": "111111"
                        },
                        "neighborhood": {
                          "type": "string",
                          "example": "Test"
                        }
                      }
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "ID"
                          },
                          "value": {
                            "type": "string",
                            "example": "1234"
                          }
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2025-04-11T20:09:14.927971Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2025-04-11T20:09:14.927972Z"
                    },
                    "merchant_customer_created_at": {
                      "type": "string",
                      "example": "2023-08-05T14:43:58.980718Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Customer not found": {
                    "value": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "messages": [
                        "Customer not found."
                      ]
                    },
                    "summary": "Customer not found"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid credentials": {
                    "value": {
                      "code": "INVALID_CREDENTIALS",
                      "messages": [
                        "Invalid Credentials"
                      ]
                    },
                    "summary": "Invalid credentials"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Authorization required": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}",
                    "summary": "Authorization required"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not Found": {
                    "value": {
                      "code": "NOT_FOUND",
                      "messages": [
                        "Not Found"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "CUSTOMER_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Customer not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/customer/sessions/{customer_session}/payment-methods": {}
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}