{"openapi":"3.1.0","info":{"title":"checkout-api","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"public-api-key","x-default":"<Your public-api-key>"},"sec1":{"type":"apiKey","in":"header","name":"private-secret-key","x-default":"<Your private-secret-key>"}}},"security":[{"sec0":[],"sec1":[]}],"paths":{"/checkout/sessions":{"post":{"summary":"Create Checkout Session","description":"","operationId":"create-checkout-session","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["merchant_order_id","payment_description","country","account_id","amount"],"properties":{"customer_id":{"type":"string","description":"The unique identifier of the customer, created using the [Create Customer](https://docs.y.uno/reference/create-customer) endpoint (MAX 64 ; MIN 36)."},"merchant_order_id":{"type":"string","description":"The unique identifier of the customer's order (MAX 255; MIN 3)."},"payment_description":{"type":"string","description":"The description of the payment (MAX 255; MIN 1)."},"callback_url":{"type":"string","description":"The URL where we will redirect your customer after making the purchase. Required for alternative payment methods with redirection. (MAX 526; MIN 3)"},"country":{"type":"string","description":"The customer's country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"account_id":{"type":"string","description":"The unique identifier of the account. You find this information on [Yuno's Dashboard](https://dashboard.y.uno/) (MAX 64; MIN 36)."},"amount":{"type":"object","description":"Specifies the payment amount object, with the value and currency.","required":["currency","value"],"properties":{"currency":{"type":"string","description":"The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]},"value":{"type":"number","description":"The payment amount (multiple of 0.0001).","format":"float"}}},"metadata":{"type":"array","description":"Specifies a list of metadata objects. You can add up to 120 metadata objects.","items":{"properties":{"key":{"type":"string","description":"The metadata key"},"value":{"type":"string","description":"The metadata key value"}},"required":["key","value"],"type":"object"}},"installments":{"type":"object","description":"The object to send the installment plan created in Yuno to show your customers and let them choose from. This optional field is used in case a particular installments plan needs to be used in the session. if not sent, we will display the installment plan created for the account for each scenario, if any.","properties":{"plan_id":{"type":"string","description":"Plan Id of the installment plan created in Yuno"},"plan":{"type":"array","description":"Installments to show the customer in with the checkout_session. This optional struct is used in case a particular installments plan needs to be used in the session and does not have an installments plan created for it. if not sent, we will display the installment plan created for the account for each scenario, if any.","items":{"properties":{"installment":{"type":"integer","description":"The number of monthly installments shoppers can choose","format":"int32"},"rate":{"type":"number","description":"The rate that will be applied to the final amount of the transaction by the payment provider after using installments. Expressed in percentage.","format":"float"}},"required":["installment","rate"],"type":"object"}}}}}},"examples":{"Checkout Session (full data)":{"value":{"account_id":"493e9374-510a-4201-9e09-de669d75f256","merchant_order_id":"1717681150","payment_description":"Test Cards","country":"US","customer_id":"55006822-7c79-490b-bea1-81798b9afc74","callback_url":"https://www.example.com","amount":{"currency":"USD","value":520},"metadata":[{"key":"ID","value":"123456"}]}},"Checkout Session (min data)":{"value":{"account_id":"493e9374-510a-4201-9e09-de669d75f256","merchant_order_id":"1717681150","payment_description":"Test Cards","country":"US","customer_id":"55006822-7c79-490b-bea1-81798b9afc74","amount":{"currency":"USD","value":520}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Checkout Session (min. data)":{"value":"{\n    \"merchant_order_id\": \"1717681150\",\n    \"checkout_session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n    \"country\": \"US\",\n    \"payment_description\": \"Test Cards\",\n    \"customer_id\": \"a577ad8f-08f1-4590-9cf1-e7679b15ee84\",\n    \"callback_url\": \"https://www.example.com/callback\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 520\n    },\n    \"created_at\": \"2024-06-06T13:39:10.932297Z\",\n    \"metadata\": null,\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"installments\": {\n        \"plan_id\": null,\n        \"plan\": null\n    }\n}\n"},"Checkout Session (full data)":{"value":"{\n    \"merchant_order_id\": \"1717681150\",\n    \"checkout_session\": \"c437f4cc-7d66-40e6-a8df-7c3cde1ddca7\",\n    \"country\": \"US\",\n    \"payment_description\": \"Test Cards\",\n    \"customer_id\": \"55006822-7c79-490b-bea1-81798b9afc74\",\n    \"callback_url\": \"https://www.example.com/?checkoutSession=c437f4cc-7d66-40e6-a8df-7c3cde1ddca7\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 520\n    },\n    \"created_at\": \"2023-07-20T17:06:17.232130Z\",\n    \"metadata\": [\n        {\n            \"key\": \"ID\",\n            \"value\": \"123456\"\n        }\n    ],\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"installments\": {\n        \"plan_id\": null,\n        \"plan\": null\n    }\n}\n"}},"schema":{"oneOf":[{"title":"Checkout Session (min. data)","type":"object","properties":{"merchant_order_id":{"type":"string","example":"1717681150"},"checkout_session":{"type":"string","example":"d313047b-4f96-44ef-bbad-caf1d7ba4c2b"},"country":{"type":"string","example":"US"},"payment_description":{"type":"string","example":"Test Cards"},"customer_id":{"type":"string","example":"a577ad8f-08f1-4590-9cf1-e7679b15ee84"},"callback_url":{"type":"string","example":"https://www.example.com/callback"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":520,"default":0}}},"created_at":{"type":"string","example":"2024-06-06T13:39:10.932297Z"},"metadata":{},"workflow":{"type":"string","example":"SDK_CHECKOUT"},"installments":{"type":"object","properties":{"plan_id":{},"plan":{}}}}},{"title":"Checkout Session (full data)","type":"object","properties":{"merchant_order_id":{"type":"string","example":"1717681150"},"checkout_session":{"type":"string","example":"c437f4cc-7d66-40e6-a8df-7c3cde1ddca7"},"country":{"type":"string","example":"US"},"payment_description":{"type":"string","example":"Test Cards"},"customer_id":{"type":"string","example":"55006822-7c79-490b-bea1-81798b9afc74"},"callback_url":{"type":"string","example":"https://www.example.com/?checkoutSession=c437f4cc-7d66-40e6-a8df-7c3cde1ddca7"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":520,"default":0}}},"created_at":{"type":"string","example":"2023-07-20T17:06:17.232130Z"},"metadata":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"ID"},"value":{"type":"string","example":"123456"}}}},"workflow":{"type":"string","example":"SDK_CHECKOUT"},"installments":{"type":"object","properties":{"plan_id":{},"plan":{}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}},"/checkout/sessions?":{"post":{"summary":"Create Checkout Session - Seamless integration","description":"","operationId":"create-checkout-session-seamless","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","payment_description","merchant_order_id","country","amount"],"properties":{"account_id":{"type":"string","description":"The unique identifier of the account. You find this information on [Yuno's Dashboard](https://dashboard.y.uno/) (MAX 64; MIN 36)."},"payment_description":{"type":"string","description":"The description of the payment (MAX 255; MIN 3)."},"merchant_order_id":{"type":"string","description":"The unique identifier of the customer's order (MAX 255; MIN 3)."},"country":{"type":"string","description":"The customer's country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"customer_id":{"type":"string","description":"The unique identifier of the customer, created using the [Create Customer](https://docs.y.uno/reference/create-customer) endpoint (MAX 64 ; MIN 36)."},"customer_payer":{"type":"object","description":"Specifies customer object for payments.","properties":{"merchant_customer_id":{"type":"string","description":"The unique identifier for a customer in the merchant's system, assigned by the merchant (MAX 255; MIN 1)."},"first_name":{"type":"string","description":"The customer's first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The customer's last name (MAX 255; MIN 3)."},"gender":{"type":"string","description":"The customer's gender (MAX 1; MIN 1; (M=Male/F=Female/NA=Not applicable/NK=Not Known))."},"date_of_birth":{"type":"string","description":"The customer's date of birth in the YYYY-MM-DD format (Length: 10).","format":"date"},"email":{"type":"string","description":"The customer's e-mail (MAX 255; MIN 3)."},"nationality":{"type":"string","description":"The customer's nationality (MAX 2; MIN 2; ISO 3166-1)."},"ip_address":{"type":"string","description":"The customer's IP address (MAX 45; MIN 7)."},"device_fingerprints":{"type":"string","description":"The customer's device fingerprints (MAX 4000; MIN 1). In case you are using a DIRECT integration and want to support fraud providers in the payment flow, you can use this object to specify the necessary information. For integrations using Yuno checkout the value is obtained automatically, do not send this field."},"document":{"type":"object","description":"Specifies the customer's document object, including its number and type.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"The customer's document number (min. length: 3 and max. length: 255)."},"document_type":{"type":"string","description":"The customer's document type (min. length: 3 and max. length: 5)."}}},"phone":{"type":"object","description":"Specifies the customer's phone number object.","required":["country_code","number"],"properties":{"country_code":{"type":"string","description":"The country code of the customer's phone (min. length: 2 and max. length: 3)."},"number":{"type":"string","description":"The customer's phone number, without the country code (min. length: 10 and max. length: 20)."}}},"billing_address":{"type":"object","description":"Specifies the customer's billing address object.","required":["address_line_1","address_line_2","city","country","state","zip_code"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (min. length: 3 and max. length: 255)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (imin. length: 3 and max. length: 255)."},"city":{"type":"string","description":"The city considered for the billing address (min. length: 3 and max. length: 255)."},"country":{"type":"string","description":"The country considered for the billing address (min. length / max. length: 2)."},"state":{"type":"string","description":"The state considered for the billing address (min. length: 3 and max. length: 255)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (min. length: 5 and max. length: 10)."}}},"shipping_address":{"type":"object","description":"Specifies the customer's shipping address object.","required":["address_line_1","address_line_2","city","zip_code","state","country"],"properties":{"address_line_1":{"type":"string","description":"The primary shipping address line of the customer (min. length: 3 and max. length: 255)."},"address_line_2":{"type":"string","description":"The secondary shipping address line of the customer (min. length: 3 and max. length: 255)."},"city":{"type":"string","description":"The city considered for the shipping address (min. length: 3 and max. length: 255)."},"zip_code":{"type":"string","description":"The zip code considered for the shipping address (min. length: 5 and max. length: 10)."},"state":{"type":"string","description":"The state considered for the shipping address (min. length: 3 and max. length: 255)."},"country":{"type":"string","description":"The country considered for the shipping address (min. length / max. length: 2)."}}},"browser_info":{"type":"object","description":"Specifies the browser_info object.","properties":{"user_agent":{"type":"string","description":"The user agent value of the customer's browser (MAX 255; MIN 3)."},"accept_header":{"type":"string","description":"The accept header value of the customer's browser."},"color_depth":{"type":"string","description":"The color depth of the customer's browser in bits per pixel. This should be obtained by using the browser's screen.colorDepth property. Accepted values: 1, 4, 8, 15, 16, 24, 30, 32 or 48 bit color depth. (MAX 5; MIN 1)."},"screen_height":{"type":"string","description":"The total height of the customer's device screen in pixels. (MAX 255; MIN 3)."},"screen_width":{"type":"string","description":"The total width of the customer's device screen in pixels. (MAX 255; MIN 3)."},"javascript_enabled":{"type":"boolean","description":"Indicates if Javascript is enabled or not in the device."},"language":{"type":"string","description":"The navigator.language value of the customer's browser (as defined in IETF BCP 47) (MAX 5; MIN 1)."},"accept_browser":{"type":"string","description":"The accept browser value of the customer's browser"},"accept_content":{"type":"string","description":"The accept content value of the customer's browser"},"java_enabled":{"type":"boolean","description":"Indicates if Java is enabled or not in the device"},"browser_time_difference":{"type":"string","description":"Indicates the browner time difference"}}}}},"amount":{"type":"object","description":"Specifies the payment amount object, with the value and currency.","required":["currency","value"],"properties":{"currency":{"type":"string","description":"The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]},"value":{"type":"number","description":"The payment amount (multiple of 0.0001).","format":"float"}}},"workflow":{"type":"string","description":"The CHECKOUT workflow. Indicates whether the integration will use Yuno´s Full/Lite SDK or Seamless","enum":["SDK_CHECKOUT","SDK_SEAMLESS"]},"additional_data":{"type":"object","description":"Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.","properties":{"airline":{"type":"object","description":"Specifies the airline object. Passengers and tickets should have the same order information.","properties":{"pnr":{"type":"string","description":"Passenger name record (MAX 10; MIN 1)."},"legs":{"type":"array","description":"Specifies the legs array of objects."},"passengers":{"type":"array","description":"Specifies the array of objects that represents the passengers associated to the tickets.","items":{"properties":{"country":{"type":"string","description":"Country where the document was issued (MAX 2; MIN 2; ISO 3166-1).","enum":[""]},"date_of_birth":{"type":"string","description":"The passenger's date of birth in the YYYY-MM-DD format (MAX 10; MIN 10)."},"email":{"type":"string","description":"The passenger's email (MAX 255; MIN 3)."},"first_name":{"type":"string","description":"The passenger's first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The passenger's last name (MAX 255; MIN 3)."},"loyalty_number":{"type":"string","description":"Number of passenger loyalty program (MAX 20, MIN 1)."},"loyalty_tier":{"type":"string","description":"Tier of passenger loyalty program (MAX 255; MIN 3).","enum":["1","2","3"]},"middle_name":{"type":"string","description":"The passenger's middle name (MAX 255; MIN 3)."},"nationality":{"type":"string","description":"The passenger's nationality (MAX 2; MIN 2; ISO 3166-1)."},"type":{"type":"string","description":"The type of passenger (MAX 1; MIN 1).","enum":["A","C","I"]},"document":{"type":"object","description":"Specifies the document object for the passenger."}},"type":"object"}},"tickets":{"type":"array","description":"Specifies the array of tickets associated with the passengers.","items":{"properties":{"ticket_number":{"type":"string","description":"Ticket number (MAX 14; MIN 1)."},"e_ticket":{"type":"boolean","description":"Is this an e-ticket?"},"restricted":{"type":"boolean","description":"Indicates if the ticket is refunfable or not."},"total_fare_amount":{"type":"number","description":"Total fare amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_tax_amount":{"type":"number","description":"Total taxes amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_fee_amount":{"type":"number","description":"Total fee amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"issue":{"type":"object","description":"Specifies the issue object."}},"type":"object"}}}},"order":{"type":"object","description":"Specifies the order object.","required":["shipping_amount","fee_amount"],"properties":{"shipping_amount":{"type":"string","description":"The shipping amount of the order."},"fee_amount":{"type":"string","description":"The fee amount of the order."},"items":{"type":"array","description":"Specifies the order items object.","items":{"properties":{"id":{"type":"string","description":"The unique identifier of the item (min. length: 3 and max. length: 255)."},"name":{"type":"string","description":"The name of the item (min. length: 3 and max. length: 255)."},"quantity":{"type":"string","description":"The quantity of the item."},"unit_amount":{"type":"string","description":"The unit amount of the item."},"category":{"type":"string","description":"The category of the item (min. length: 3 and max. length: 255)."},"brand":{"type":"string","description":"The brand of the item (min. length: 3 and max. length: 255)."},"sku_code":{"type":"string","description":"The stock keeping unit (SKU) of the item."},"manufacture_part_number":{"type":"string","description":"The manufacture part number of the item."}},"required":["id","name","quantity","unit_amount","category","brand","sku_code","manufacture_part_number"],"type":"object"}}}},"seller_details":{"type":"object","description":"Specifies the seller's details object.","properties":{"name":{"type":"string","description":"The seller's legal name (MAX 255; MIN 3)."},"email":{"type":"string","description":"The seller's e-mail (MAX 255; MIN 3)."},"reference":{"type":"string","description":"The seller's identification code (MAX 255; MIN 3)."},"website":{"type":"string","description":"The seller's website URL (MAX 255; MIN 3)."},"industry":{"type":"string","description":"The seller's industry (MAX 255; MIN 3).","enum":[""]},"merchant_category_code":{"type":"string","description":"MCC - The merchant category code (MAX 235; MIN 1)."},"country":{"type":"string","description":"The seller's country (MAX 255; MIN 3).","enum":[""]},"document":{"type":"object","description":"Specifies the document object of the seller.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"The customer's document number (min. length: 3 and max. length: 255)."},"document_type":{"type":"string","description":"The customer's document type (min. length: 3 and max. length: 5)."}}},"phone":{"type":"object","description":"Specifies the seller's phone number object.","required":["country_code","number"],"properties":{"country_code":{"type":"string","description":"The country code of the customer's phone (min. length: 2 and max. length: 3)."},"number":{"type":"string","description":"The customer's phone number, without the country code (min. length: 10 and max. length: 20)."}}},"address":{"type":"object","description":"Specifies the seller's address object.","required":["address_line_1","address_line_2","city","country","state","zip_code"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (min. length: 3 and max. length: 255)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (imin. length: 3 and max. length: 255)."},"city":{"type":"string","description":"The city considered for the billing address (min. length: 3 and max. length: 255)."},"country":{"type":"string","description":"The country considered for the billing address (min. length / max. length: 2)."},"state":{"type":"string","description":"The state considered for the billing address (min. length: 3 and max. length: 255)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (min. length: 5 and max. length: 10)."}}}}},"account_funding":{"type":"object","description":"Specifies the account funding structure for transfers and payments.","properties":{"sender":{"type":"object","description":"Specifies the sender's information.","properties":{"national_entity":{"type":"string","description":"National entity type.","enum":["INDIVIDUAL","ENTITY"]},"first_name":{"type":"string","description":"First name (MAX 80)."},"last_name":{"type":"string","description":"Last name (MAX 80)."},"email":{"type":"string","description":"Email (MAX 255; MIN 3)."},"date_of_birth":{"type":"string","description":"Date of birth in the YYYY-MM-DD format (MAX 10; MIN 10)."},"phone":{"type":"object","description":"Specifies the phone object.","required":["country_code","number"],"properties":{"country_code":{"type":"string","description":"The country code of the customer's phone (min. length: 2 and max. length: 3)."},"number":{"type":"string","description":"The customer's phone number, without the country code (min. length: 10 and max. length: 20)."}}},"document":{"type":"object","description":"Specifies the document object.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"The customer's document number (min. length: 3 and max. length: 255)."},"document_type":{"type":"string","description":"The customer's document type (min. length: 3 and max. length: 5)."}}},"address":{"type":"object","description":"Specifies the address object.","required":["address_line_1","address_line_2","city","country","state","zip_code"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (min. length: 3 and max. length: 255)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (imin. length: 3 and max. length: 255)."},"city":{"type":"string","description":"The city considered for the billing address (min. length: 3 and max. length: 255)."},"country":{"type":"string","description":"The country considered for the billing address (min. length / max. length: 2)."},"state":{"type":"string","description":"The state considered for the billing address (min. length: 3 and max. length: 255)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (min. length: 5 and max. length: 10)."}}}}},"recipient":{"type":"object","description":"Specifies the recipient's information.","properties":{"national_entity":{"type":"string","description":"National entity type.","enum":["INDIVIDUAL","ENTITY"]},"first_name":{"type":"string","description":"First name (MAX 80)."},"last_name":{"type":"string","description":"Last name (MAX 80)."},"email":{"type":"string","description":"Email (MAX 255; MIN 3)."},"date_of_birth":{"type":"string","description":"Date of birth in the YYYY-MM-DD format (MAX 10; MIN 10)."},"phone":{"type":"object","description":"Specifies the phone object.","required":["country_code","number"],"properties":{"country_code":{"type":"string","description":"The country code of the customer's phone (min. length: 2 and max. length: 3)."},"number":{"type":"string","description":"The customer's phone number, without the country code (min. length: 10 and max. length: 20)."}}},"document":{"type":"object","description":"Specifies the document object.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"The customer's document number (min. length: 3 and max. length: 255)."},"document_type":{"type":"string","description":"The customer's document type (min. length: 3 and max. length: 5)."}}},"address":{"type":"object","description":"Specifies the address object.","required":["address_line_1","address_line_2","city","country","state","zip_code"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (min. length: 3 and max. length: 255)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (imin. length: 3 and max. length: 255)."},"city":{"type":"string","description":"The city considered for the billing address (min. length: 3 and max. length: 255)."},"country":{"type":"string","description":"The country considered for the billing address (min. length / max. length: 2)."},"state":{"type":"string","description":"The state considered for the billing address (min. length: 3 and max. length: 255)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (min. length: 5 and max. length: 10)."}}}}}}}}},"callback_url":{"type":"string","description":"The URL where we will redirect your customer after making the purchase. Required for alternative payment methods with redirection. (MAX 526; MIN 3)"},"fraud_screening":{"type":"object","description":"Provides information about the fraud scans used for the payment.","properties":{"stand_alone":{"type":"boolean","description":"Optional field to send in the payment indicating if the fraud screening is stand alone, meaning that a payment will not be excecuted after the fraud screening is made. You can use this field while creating your CARD route."}}},"installments":{"type":"object","description":"The object to send the installment plan created in Yuno to show your customers and let them choose from. This optional field is used in case a particular installments plan needs to be used in the session. if not sent, we will display the installment plan created for the account for each scenario, if any.","properties":{"plan_id":{"type":"string","description":"Plan Id of the installment plan created in Yuno"},"plan":{"type":"array","description":"Installments to show the customer in with the checkout_session. This optional struct is used in case a particular installments plan needs to be used in the session and does not have an installments plan created for it. if not sent, we will display the installment plan created for the account for each scenario, if any.","items":{"properties":{"installment":{"type":"integer","description":"The number of monthly installments shoppers can choose","format":"int32"},"rate":{"type":"number","description":"The rate that will be applied to the final amount of the transaction by the payment provider after using installments. Expressed in percentage.","format":"float"}},"required":["installment","rate"],"type":"object"}}}},"metadata":{"type":"array","description":"Specifies a list of metadata objects. You can add up to 50 metadata objects.","items":{"properties":{"key":{"type":"string","description":"The metadata key"},"value":{"type":"string","description":"The metadata key value"}},"required":["key","value"],"type":"object"}}}},"examples":{"Checkout Session ":{"value":{"account_id":"493e9374-510a-4201-9e09-de669d75f256","merchant_order_id":"1717681150","payment_description":"Test Cards","country":"US","customer_id":"55006822-7c79-490b-bea1-81798b9afc74","callback_url":"https://www.example.com","workflow":"SDK_SEAMLESS","amount":{"currency":"USD","value":520},"metadata":[{"key":"ID","value":"123456"}]}},"Checkout Session (additional data)":{"value":{"account_id":"{{account-code}}","merchant_order_id":"{{$randomUUID}}","payment_description":"Test Cards","country":"AR","callback_url":"https://google.com","customer_id":null,"amount":{"currency":"ARS","value":520},"workflow":"SDK_SEAMLESS","additional_data":{"order":{"shipping_amount":12,"fee_amount":111,"tip_amount":"12","taxes":[{"type":"VAT","tax_base":123,"value":1,"percentage":1}],"items":[{"category":"coupons","id":"ASD","name":"rter","quantity":12312,"unit_amount":1,"brand":"ASDA","sku_code":"123123","manufacture_part_number":"SADSADAS"}]},"airline":{"pnr":"SADSDASD","legs":[{"departure_airport":"ASD","departure_datetime":"2024-07-03T05:00:00","arrival_airport":"AMS","departure_airport_timezone":"-03:00","arrival_datetime":"2024-08-03T05:00:00","carrier_code":"KL","flight_number":"842","fare_basis_code":"HL7LNR","fare_class_code":"FR","base_fare":200,"base_fare_currency":"BRL","stopover_code":"s"}],"passengers":[{"document":{"document_number":"351.040.753-97","document_type":"CI","country":"BO"},"phone":{"country_code":"57","number":"3132450765"},"first_name":"John","last_name":"Doe","middle_name":"Theodore","type":"A","date_of_birth":"05-01-1984","nationality":"BR","loyalty_number":"123456","loyalty_tier":"1"}],"tickets":[{"issue":{"carrier_prefix_code":"ASDASD","travel_agent_code":"DSADAS","travel_agent_name":"ASDA","address":"DASDAS","city":"ASDASD","country":"BR"},"ticket_number":"123456","e_ticket":false,"restricted":false,"total_fare_amount":80,"total_tax_amount":22,"total_fee_amount":14}]}},"installments":{"plan":[{"installment":1,"rate":1}]},"fraud_screening":{"stand_alone":false},"metadata":[{"key":"ID","value":"SD00"}]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Checkout Session (min. data)":{"value":"{\n    \"merchant_order_id\": \"1717681150\",\n    \"checkout_session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n    \"country\": \"US\",\n    \"payment_description\": \"Test Cards\",\n    \"customer_id\": \"a577ad8f-08f1-4590-9cf1-e7679b15ee84\",\n    \"callback_url\": \"https://www.example.com/callback\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 520\n    },\n    \"created_at\": \"2024-06-06T13:39:10.932297Z\",\n    \"metadata\": null,\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"installments\": {\n        \"plan_id\": null,\n        \"plan\": null\n    }\n}\n"},"Checkout Session (full data)":{"value":"{\n    \"merchant_order_id\": \"1717681150\",\n    \"checkout_session\": \"c437f4cc-7d66-40e6-a8df-7c3cde1ddca7\",\n    \"country\": \"US\",\n    \"payment_description\": \"Test Cards\",\n    \"customer_id\": \"55006822-7c79-490b-bea1-81798b9afc74\",\n    \"callback_url\": \"https://www.example.com/?checkoutSession=c437f4cc-7d66-40e6-a8df-7c3cde1ddca7\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 520\n    },\n    \"created_at\": \"2023-07-20T17:06:17.232130Z\",\n    \"metadata\": [\n        {\n            \"key\": \"ID\",\n            \"value\": \"123456\"\n        }\n    ],\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"installments\": {\n        \"plan_id\": null,\n        \"plan\": null\n    }\n}\n"}},"schema":{"oneOf":[{"title":"Checkout Session (min. data)","type":"object","properties":{"merchant_order_id":{"type":"string","example":"1717681150"},"checkout_session":{"type":"string","example":"d313047b-4f96-44ef-bbad-caf1d7ba4c2b"},"country":{"type":"string","example":"US"},"payment_description":{"type":"string","example":"Test Cards"},"customer_id":{"type":"string","example":"a577ad8f-08f1-4590-9cf1-e7679b15ee84"},"callback_url":{"type":"string","example":"https://www.example.com/callback"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":520,"default":0}}},"created_at":{"type":"string","example":"2024-06-06T13:39:10.932297Z"},"metadata":{},"workflow":{"type":"string","example":"SDK_CHECKOUT"},"installments":{"type":"object","properties":{"plan_id":{},"plan":{}}}}},{"title":"Checkout Session (full data)","type":"object","properties":{"merchant_order_id":{"type":"string","example":"1717681150"},"checkout_session":{"type":"string","example":"c437f4cc-7d66-40e6-a8df-7c3cde1ddca7"},"country":{"type":"string","example":"US"},"payment_description":{"type":"string","example":"Test Cards"},"customer_id":{"type":"string","example":"55006822-7c79-490b-bea1-81798b9afc74"},"callback_url":{"type":"string","example":"https://www.example.com/?checkoutSession=c437f4cc-7d66-40e6-a8df-7c3cde1ddca7"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":520,"default":0}}},"created_at":{"type":"string","example":"2023-07-20T17:06:17.232130Z"},"metadata":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"ID"},"value":{"type":"string","example":"123456"}}}},"workflow":{"type":"string","example":"SDK_CHECKOUT"},"installments":{"type":"object","properties":{"plan_id":{},"plan":{}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}},"/checkout/sessions/{checkout_session}/payment-methods":{"get":{"summary":"Retrieve Payment Methods for Checkout","description":"","operationId":"retrieve-payment-methods-for-checkout","parameters":[{"name":"checkout_session","in":"path","description":"The unique identifier of the checkout session (MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n    {\n        \"name\": \"VISA ****1111\",\n        \"vaulted_token\": \"de00c1bd-624b-4e7b-ae28-47d86c94b15f\",\n        \"description\": \"VISA ****1111\",\n        \"type\": \"CARD\",\n        \"category\": \"CARD\",\n        \"icon\": \"https://icons.prod.y.uno/visa_logosimbolo.png\",\n        \"last_successfully_used\": false,\n        \"last_successfully_used_at\": \"\",\n        \"checkout\": {\n            \"session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n            \"sdk_required_action\": false,\n            \"conditions\": {\n                \"enabled\": true,\n                \"rules\": null\n            }\n        },\n        \"card_data\": {\n            \"iin\": \"41111111\",\n            \"lfd\": \"1111\",\n            \"expiration_month\": 3,\n            \"expiration_year\": 26,\n            \"number_length\": 16,\n            \"security_code_length\": 3,\n            \"brand\": \"VISA\",\n            \"issuer\": \"JPMORGAN CHASE BANK N A\",\n            \"issuer_code\": null,\n            \"category\": \"CREDIT\",\n            \"type\": \"CREDIT\"\n        },\n        \"preferred\": false\n    },\n    {\n        \"name\": \"Card\",\n        \"vaulted_token\": null,\n        \"description\": \"Card\",\n        \"type\": \"CARD\",\n        \"category\": \"CARD\",\n        \"icon\": \"https://icons.prod.y.uno/card_logosimbolo.png\",\n        \"last_successfully_used\": null,\n        \"last_successfully_used_at\": null,\n        \"checkout\": {\n            \"session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n            \"sdk_required_action\": true,\n            \"conditions\": {\n                \"enabled\": true,\n                \"rules\": null\n            }\n        },\n        \"preferred\": false\n    },\n    {\n        \"name\": \"Bank Transfer\",\n        \"vaulted_token\": null,\n        \"description\": \"Bank Transfer\",\n        \"type\": \"BANK_TRANSFER\",\n        \"category\": \"BANK_TRANSFER\",\n        \"icon\": \"https://icons.prod.y.uno/banktransfer_logosimbolo.png\",\n        \"last_successfully_used\": null,\n        \"last_successfully_used_at\": null,\n        \"checkout\": {\n            \"session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n            \"sdk_required_action\": true,\n            \"conditions\": {\n                \"enabled\": false,\n                \"rules\": [\n                    {\n                        \"condition\": \"INCLUDE\",\n                        \"condition_group_code\": \"2b273309-2c63-4ef8-b5f8-2953abf7ad4a\",\n                        \"condition_name\": \"Country-US\",\n                        \"type\": \"COUNTRY\",\n                        \"values\": {\n                            \"countries\": [\n                                \"US\"\n                            ],\n                            \"currency\": null,\n                            \"max\": null,\n                            \"metadata\": null,\n                            \"min\": null\n                        }\n                    }\n                ]\n            }\n        },\n        \"preferred\": false\n    }\n]\n"}},"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"VISA ****1111"},"vaulted_token":{"type":"string","example":"de00c1bd-624b-4e7b-ae28-47d86c94b15f"},"description":{"type":"string","example":"VISA ****1111"},"type":{"type":"string","example":"CARD"},"category":{"type":"string","example":"CARD"},"icon":{"type":"string","example":"https://icons.prod.y.uno/visa_logosimbolo.png"},"last_successfully_used":{"type":"boolean","example":false,"default":true},"last_successfully_used_at":{"type":"string","example":""},"checkout":{"type":"object","properties":{"session":{"type":"string","example":"d313047b-4f96-44ef-bbad-caf1d7ba4c2b"},"sdk_required_action":{"type":"boolean","example":false,"default":true},"conditions":{"type":"object","properties":{"enabled":{"type":"boolean","example":true,"default":true},"rules":{}}}}},"card_data":{"type":"object","properties":{"iin":{"type":"string","example":"41111111"},"lfd":{"type":"string","example":"1111"},"expiration_month":{"type":"integer","example":3,"default":0},"expiration_year":{"type":"integer","example":26,"default":0},"number_length":{"type":"integer","example":16,"default":0},"security_code_length":{"type":"integer","example":3,"default":0},"brand":{"type":"string","example":"VISA"},"issuer":{"type":"string","example":"JPMORGAN CHASE BANK N A"},"issuer_code":{},"category":{"type":"string","example":"CREDIT"},"type":{"type":"string","example":"CREDIT"}}},"preferred":{"type":"boolean","example":false,"default":true}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Not Found":{"value":"{\n  \"code\": \"CHECKOUT_SESSION_NOT_FOUND\",\n  \"messages\": [\n    \"Checkout session not found or inactive\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"CHECKOUT_SESSION_NOT_FOUND"},"messages":{"type":"array","items":{"type":"string","example":"Checkout session not found or inactive"}}}}}}}},"deprecated":false}},"/checkout/sessions/{checkout_session}/payment-methods/{payment_method_id}/prefer":{"post":{"summary":"Prefer Payment Method","description":"","operationId":"prefer-payment-method","parameters":[{"name":"checkout_session","in":"path","description":"The unique identifier of the checkout session (MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true},{"name":"payment_method_id","in":"path","description":"The unique identifier of the payment method","schema":{"type":"string"},"required":true}],"responses":{"201":{"description":"201","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}},"/checkout/sessions/{checkout_session}/payment-methods/{payment_method_id}/unprefer":{"post":{"summary":"Unprefer Payment Method","description":"","operationId":"unprefer-payment-method","parameters":[{"name":"checkout_session","in":"path","description":"The unique identifier of the checkout session (MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true},{"name":"payment_method_id","in":"path","description":"The unique identifier of the payment method","schema":{"type":"string"},"required":true}],"responses":{"201":{"description":"201","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}},"/{checkout_session}/payment":{"get":{"summary":"Retrieve Payment by Checkout Session","description":"","operationId":"retrieve-payment-by-checkout-session","parameters":[{"name":"checkout_session","in":"path","description":"The unique identifier of the Checkout Session (MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"SAFETYPAY":{"value":"{\n  \"payment\": {\n    \"id\": \"8aecaeb8-383d-4011-bf29-b1cd264b990c\",\n    \"idempotency_key\": \"c746d4fb-fcfa-44ae-97ae-100bfb97e82a\",\n    \"account_code\": \"c2d38fc9-49ec-4277-9115-bbad5d17d236\",\n    \"account_id\": \"c2d38fc9-49ec-4277-9115-bbad5d17d236\",\n    \"description\": \"Test safetypay\",\n    \"country\": \"CO\",\n    \"status\": \"SUCCEEDED\",\n    \"sub_status\": \"APPROVED\",\n    \"merchant_order_id\": \"0000022\",\n    \"created_at\": \"2022-11-17T10:32:50.651331Z\",\n    \"updated_at\": \"2022-11-17T11:28:06.514728Z\",\n    \"amount\": {\n      \"currency\": \"COP\",\n      \"value\": 52,\n      \"refunded\": 0,\n      \"captured\": 0\n    },\n    \"checkout\": {\n      \"session\": \"887bd926-ccc8-4efc-801c-b1b3279c24c8\",\n      \"sdk_action_required\": false\n    },\n    \"customer_payer\": {\n      \"id\": \"8dc0c0f4-8318-4525-ae73-38564b06dd11\",\n      \"merchant_customer_id\": \"example00234\",\n      \"first_name\": \"Pepito\",\n      \"last_name\": \"Perez\",\n      \"gender\": \"MALE\",\n      \"date_of_birth\": \"1990-02-28\",\n      \"email\": \"pepitoperez@y.uno\",\n      \"nationality\": \"CO\",\n      \"ip_address\": \"192.168.123.167\",\n      \"device_fingerprint\": \"hi88287gbd8d7d782ge....\",\n      \"browser_info\": {\n        \"user_agent\": \"string\",\n        \"accept_header\": \"string\",\n        \"color_depth\": \"string\",\n        \"screen_height\": \"11\",\n        \"screen_width\": \"12\",\n        \"javascript_enabled\": false,\n        \"language\": \"string\"\n      },\n      \"document\": {\n        \"document_type\": \"CC\",\n        \"document_number\": \"1032765432\"\n      },\n      \"phone\": {\n        \"number\": \"3132450765\",\n        \"country_code\": \"57\"\n      },\n      \"billing_address\": {\n        \"address_line_1\": \"Calle 34 # 56 - 78\",\n        \"address_line_2\": \"Apartamento 502, Torre I\",\n        \"country\": \"CO\",\n        \"state\": \"Cundinamarca\",\n        \"city\": \"Bogota\",\n        \"zip_code\": \"111111\"\n      },\n      \"shipping_address\": {\n        \"address_line_1\": \"Calle 34 # 56 - 78\",\n        \"address_line_2\": \"Apartamento 502, Torre I\",\n        \"country\": \"CO\",\n        \"state\": \"Cundinamarca\",\n        \"city\": \"Bogota\",\n        \"zip_code\": \"111111\"\n      }\n    },\n    \"additional_data\": {\n      \"airline\": null,\n      \"order\": {\n        \"fee_amount\": 0,\n        \"shipping_amount\": 0,\n        \"items\": [\n          {\n            \"id\": \"123AD\",\n            \"name\": \"Skirt\",\n            \"quantity\": 1,\n            \"unit_amount\": 50,\n            \"category\": \"Clothes\",\n            \"brand\": \"XYZ\",\n            \"sku_code\": \"8765432109\",\n            \"manufacture_part_number\": \"XYZ123456\"\n          }\n        ]\n      },\n      \"seller_details\": {\n        \"name\": \"Teste\",\n        \"website\": \"\",\n        \"email\": \"test@test.com\",\n        \"address\": {\n          \"address_line_1\": \"Calle 34 # 56 - 78\",\n          \"address_line_2\": \"Apartamento 502, Torre I\",\n          \"country\": \"CO\",\n          \"state\": \"Cundinamarca\",\n          \"city\": \"Bogota\",\n          \"zip_code\": \"111111\"\n        },\n        \"reference\": \"qualquer coisa\",\n        \"country\": \"CO\",\n        \"phone\": {\n          \"number\": \"\",\n          \"country_code\": \"\"\n        },\n        \"document\": {\n          \"document_type\": \"CC\",\n          \"document_number\": \"1032765432\"\n        },\n        \"industry\": \"\"\n      }\n    },\n    \"taxes\": null,\n    \"transactions\": [\n      {\n        \"id\": \"9708de53-0b3b-4f0a-a010-467f1aca11ed\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"BANK_TRANSFER\",\n        \"amount\": 52,\n        \"provider_id\": \"SAFETYPAY\",\n        \"payment_method\": {\n          \"vaulted_token\": \"\",\n          \"type\": \"SAFETYPAY\",\n          \"vault_on_success\": false,\n          \"token\": \"0132204a-cd50-471b-8ca9-11a099f3a422\",\n          \"detail\": {\n            \"bank_transfer\": {\n              \"provider_image\": \"\",\n              \"account_type\": null,\n              \"bank_name\": null,\n              \"beneficiary_name\": null,\n              \"bank_account\": null,\n              \"bank_account_2\": null,\n              \"beneficiary_document_type\": null,\n              \"beneficiary_document\": null,\n              \"payment_instruction\": null,\n              \"redirect_url\": \"https://sandbox-gateway.safetypay.com/Express4/Checkout/index?TokenID=59ded3c7-ab99-43aa-a103-24e9dd01f88e&CountryID=COL&ChannelID=ONLINE\"\n            }\n          }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"\",\n        \"reason\": null,\n        \"description\": null,\n        \"merchant_reference\": \"Prueba 002\",\n        \"provider_data\": {\n          \"id\": \"SAFETYPAY\",\n          \"transaction_id\": \"0122321219131431\",\n          \"account_id\": \"\",\n          \"status\": \"102\",\n          \"sub_status\": \"\",\n          \"status_detail\": \"\",\n          \"raw_response\": {\n            \"custom_data\": null,\n            \"digest_check\": \"DF0EBFBBB5AE960E6F97FD583D9DD47F8036FF268C7CEFB54325B0F1C954A36D\",\n            \"error\": null,\n            \"gateway_token_url\": \"https://sandbox-gateway.safetypay.com/Express4/Checkout/index?TokenID=59ded3c7-ab99-43aa-a103-24e9dd01f88e&CountryID=COL&ChannelID=ONLINE\",\n            \"operation_id\": \"0122321219131431\",\n            \"request_id\": \"prop_5b0ff1f1-d374-4377-88e7-679ed7b71cb5\",\n            \"response_datetime\": \"2022-11-17T10:32:53\"\n          }\n        },\n        \"created_at\": \"2022-11-17T10:32:50.657677Z\",\n        \"updated_at\": \"2022-11-17T11:28:06.514698Z\"\n      }\n    ],\n    \"split\": [],\n    \"workflow\": \"CHECKOUT\"\n  }\n}"}},"schema":{"type":"object","properties":{"payment":{"type":"object","properties":{"id":{"type":"string","example":"8aecaeb8-383d-4011-bf29-b1cd264b990c"},"idempotency_key":{"type":"string","example":"c746d4fb-fcfa-44ae-97ae-100bfb97e82a"},"account_code":{"type":"string","example":"c2d38fc9-49ec-4277-9115-bbad5d17d236"},"account_id":{"type":"string","example":"c2d38fc9-49ec-4277-9115-bbad5d17d236"},"description":{"type":"string","example":"Test safetypay"},"country":{"type":"string","example":"CO"},"status":{"type":"string","example":"SUCCEEDED"},"sub_status":{"type":"string","example":"APPROVED"},"merchant_order_id":{"type":"string","example":"0000022"},"created_at":{"type":"string","example":"2022-11-17T10:32:50.651331Z"},"updated_at":{"type":"string","example":"2022-11-17T11:28:06.514728Z"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"COP"},"value":{"type":"integer","example":52,"default":0},"refunded":{"type":"integer","example":0,"default":0},"captured":{"type":"integer","example":0,"default":0}}},"checkout":{"type":"object","properties":{"session":{"type":"string","example":"887bd926-ccc8-4efc-801c-b1b3279c24c8"},"sdk_action_required":{"type":"boolean","example":false,"default":true}}},"customer_payer":{"type":"object","properties":{"id":{"type":"string","example":"8dc0c0f4-8318-4525-ae73-38564b06dd11"},"merchant_customer_id":{"type":"string","example":"example00234"},"first_name":{"type":"string","example":"Pepito"},"last_name":{"type":"string","example":"Perez"},"gender":{"type":"string","example":"MALE"},"date_of_birth":{"type":"string","example":"1990-02-28"},"email":{"type":"string","example":"pepitoperez@y.uno"},"nationality":{"type":"string","example":"CO"},"ip_address":{"type":"string","example":"192.168.123.167"},"device_fingerprint":{"type":"string","example":"hi88287gbd8d7d782ge...."},"browser_info":{"type":"object","properties":{"user_agent":{"type":"string","example":"string"},"accept_header":{"type":"string","example":"string"},"color_depth":{"type":"string","example":"string"},"screen_height":{"type":"string","example":"11"},"screen_width":{"type":"string","example":"12"},"javascript_enabled":{"type":"boolean","example":false,"default":true},"language":{"type":"string","example":"string"}}},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"CC"},"document_number":{"type":"string","example":"1032765432"}}},"phone":{"type":"object","properties":{"number":{"type":"string","example":"3132450765"},"country_code":{"type":"string","example":"57"}}},"billing_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"Calle 34 # 56 - 78"},"address_line_2":{"type":"string","example":"Apartamento 502, Torre I"},"country":{"type":"string","example":"CO"},"state":{"type":"string","example":"Cundinamarca"},"city":{"type":"string","example":"Bogota"},"zip_code":{"type":"string","example":"111111"}}},"shipping_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"Calle 34 # 56 - 78"},"address_line_2":{"type":"string","example":"Apartamento 502, Torre I"},"country":{"type":"string","example":"CO"},"state":{"type":"string","example":"Cundinamarca"},"city":{"type":"string","example":"Bogota"},"zip_code":{"type":"string","example":"111111"}}}}},"additional_data":{"type":"object","properties":{"airline":{},"order":{"type":"object","properties":{"fee_amount":{"type":"integer","example":0,"default":0},"shipping_amount":{"type":"integer","example":0,"default":0},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"123AD"},"name":{"type":"string","example":"Skirt"},"quantity":{"type":"integer","example":1,"default":0},"unit_amount":{"type":"integer","example":50,"default":0},"category":{"type":"string","example":"Clothes"},"brand":{"type":"string","example":"XYZ"},"sku_code":{"type":"string","example":"8765432109"},"manufacture_part_number":{"type":"string","example":"XYZ123456"}}}}}},"seller_details":{"type":"object","properties":{"name":{"type":"string","example":"Teste"},"website":{"type":"string","example":""},"email":{"type":"string","example":"test@test.com"},"address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"Calle 34 # 56 - 78"},"address_line_2":{"type":"string","example":"Apartamento 502, Torre I"},"country":{"type":"string","example":"CO"},"state":{"type":"string","example":"Cundinamarca"},"city":{"type":"string","example":"Bogota"},"zip_code":{"type":"string","example":"111111"}}},"reference":{"type":"string","example":"qualquer coisa"},"country":{"type":"string","example":"CO"},"phone":{"type":"object","properties":{"number":{"type":"string","example":""},"country_code":{"type":"string","example":""}}},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"CC"},"document_number":{"type":"string","example":"1032765432"}}},"industry":{"type":"string","example":""}}}}},"taxes":{},"transactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"9708de53-0b3b-4f0a-a010-467f1aca11ed"},"type":{"type":"string","example":"PURCHASE"},"status":{"type":"string","example":"SUCCEEDED"},"category":{"type":"string","example":"BANK_TRANSFER"},"amount":{"type":"integer","example":52,"default":0},"provider_id":{"type":"string","example":"SAFETYPAY"},"payment_method":{"type":"object","properties":{"vaulted_token":{"type":"string","example":""},"type":{"type":"string","example":"SAFETYPAY"},"vault_on_success":{"type":"boolean","example":false,"default":true},"token":{"type":"string","example":"0132204a-cd50-471b-8ca9-11a099f3a422"},"detail":{"type":"object","properties":{"bank_transfer":{"type":"object","properties":{"provider_image":{"type":"string","example":""},"account_type":{},"bank_name":{},"beneficiary_name":{},"bank_account":{},"bank_account_2":{},"beneficiary_document_type":{},"beneficiary_document":{},"payment_instruction":{},"redirect_url":{"type":"string","example":"https://sandbox-gateway.safetypay.com/Express4/Checkout/index?TokenID=59ded3c7-ab99-43aa-a103-24e9dd01f88e&CountryID=COL&ChannelID=ONLINE"}}}}}}},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":""},"reason":{},"description":{},"merchant_reference":{"type":"string","example":"Prueba 002"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"SAFETYPAY"},"transaction_id":{"type":"string","example":"0122321219131431"},"account_id":{"type":"string","example":""},"status":{"type":"string","example":"102"},"sub_status":{"type":"string","example":""},"status_detail":{"type":"string","example":""},"raw_response":{"type":"object","properties":{"custom_data":{},"digest_check":{"type":"string","example":"DF0EBFBBB5AE960E6F97FD583D9DD47F8036FF268C7CEFB54325B0F1C954A36D"},"error":{},"gateway_token_url":{"type":"string","example":"https://sandbox-gateway.safetypay.com/Express4/Checkout/index?TokenID=59ded3c7-ab99-43aa-a103-24e9dd01f88e&CountryID=COL&ChannelID=ONLINE"},"operation_id":{"type":"string","example":"0122321219131431"},"request_id":{"type":"string","example":"prop_5b0ff1f1-d374-4377-88e7-679ed7b71cb5"},"response_datetime":{"type":"string","example":"2022-11-17T10:32:53"}}}}},"created_at":{"type":"string","example":"2022-11-17T10:32:50.657677Z"},"updated_at":{"type":"string","example":"2022-11-17T11:28:06.514698Z"}}}},"split":{"type":"array"},"workflow":{"type":"string","example":"CHECKOUT"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"string\",\n  \"messages\": [\n    \"string\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"string"},"messages":{"type":"array","items":{"type":"string","example":"string"}}}}}}}},"deprecated":false}},"/issuers":{"get":{"summary":"Retrieve Issuers","description":"","operationId":"retrieve-issuers","parameters":[{"name":"payment_method","in":"query","description":"Defines the payment method used to filter issuers. This parameter ensures the response includes only issuers that support the specified payment method","required":true,"schema":{"type":"string","default":"PSE"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"issuers\": [\n    {\"id\": \"1001\", \"name\": \"BANCO DE BOGOTÁ\"},\n    {\"id\": \"1002\", \"name\": \"BANCO POPULAR\"},\n    {\"id\": \"1005\", \"name\": \"BANCO UNIÓN COLOMBIANO FD2\"},\n    {\"id\": \"1006\", \"name\": \"ITAÚ\"},\n    {\"id\": \"1007\", \"name\": \"BANCOLOMBIA\"},\n    {\"id\": \"1009\", \"name\": \"CITIBANK\"},\n    {\"id\": \"1012\", \"name\": \"BANCO GNB SUDAMERIS\"},\n    {\"id\": \"1013\", \"name\": \"BBVA COLOMBIA S.A.\"},\n    {\"id\": \"1019\", \"name\": \"SCOTIABANK COLPATRIA DESARROLLO\"},\n    {\"id\": \"1022\", \"name\": \"BANCO UNIÓN COLOMBIANO\"},\n    {\"id\": \"1023\", \"name\": \"BANCO DE OCCIDENTE\"},\n    {\"id\": \"1032\", \"name\": \"BANCO CAJA SOCIAL DESARROLLO\"},\n    {\"id\": \"1040\", \"name\": \"BANCO AGRARIO\"},\n    {\"id\": \"1051\", \"name\": \"BANCO DAVIVIENDA\"},\n    {\"id\": \"1052\", \"name\": \"BANCO COMERCIAL AV VILLAS S.A.\"},\n    {\"id\": \"1059\", \"name\": \"BANCAMÍA\"},\n    {\"id\": \"1060\", \"name\": \"BANCO PICHINCHA S.A.\"},\n    {\"id\": \"1061\", \"name\": \"BANCO COOMEVA S.A.\"},\n    {\"id\": \"1062\", \"name\": \"BANCO FALABELLA\"},\n    {\"id\": \"1063\", \"name\": \"BANCO FINANDINA S.A. BIC\"},\n    {\"id\": \"1065\", \"name\": \"BANCO SANTANDER COLOMBIA\"},\n    {\"id\": \"1066\", \"name\": \"BANCO COOPERATIVO COOPCENTRAL\"},\n    {\"id\": \"1069\", \"name\": \"BANCO SERFINANZA\"},\n    {\"id\": \"1070\", \"name\": \"LULO BANK\"},\n    {\"id\": \"1078\", \"name\": \"SCOTIABANK COLPATRIA UAT\"},\n    {\"id\": \"1097\", \"name\": \"DALE\"},\n    {\"id\": \"1283\", \"name\": \"COOPERATIVA FINANCIERA DE ANTIOQUIA CFA\"},\n    {\"id\": \"1289\", \"name\": \"COOPERATIVA FINANCIERA COTRAFA\"},\n    {\"id\": \"1291\", \"name\": \"COOFINEP COOPERATIVA FINANCIERA\"},\n    {\"id\": \"1292\", \"name\": \"CONFIAR COOPERATIVA FINANCIERA\"},\n    {\"id\": \"1370\", \"name\": \"COLTEFINANCIERA\"},\n    {\"id\": \"1637\", \"name\": \"IRIS\"},\n    {\"id\": \"1801\", \"name\": \"MOVII S.A.\"},\n    {\"id\": \"1802\", \"name\": \"DING TECNIPAGOS S.A.\"},\n    {\"id\": \"1803\", \"name\": \"POWWI\"},\n    {\"id\": \"1804\", \"name\": \"UALÁ\"},\n    {\"id\": \"1808\", \"name\": \"BOLD CF\"},\n    {\"id\": \"1809\", \"name\": \"NU\"},\n    {\"id\": \"1811\", \"name\": \"RAPPIPAY\"},\n    {\"id\": \"1812\", \"name\": \"COINK S.A.\"}\n  ]\n}"}},"schema":{"type":"object","properties":{"issuers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"1001"},"name":{"type":"string","example":"BANCO DE BOGOTÁ"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"value":"utf-8","key":"charset"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}