{
  "openapi": "3.1.0",
  "info": {
    "title": "checkout-api",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/checkout/sessions": {
      "post": {
        "summary": "Create Checkout Session",
        "description": "",
        "operationId": "create-checkout-session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "merchant_order_id",
                  "payment_description",
                  "country",
                  "account_id"
                ],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "description": "The unique identifier of the customer, created using the [Create Customer](https://docs.y.uno/reference/create-customer) endpoint (UUID, 36 chars)."
                  },
                  "merchant_order_id": {
                    "type": "string",
                    "description": "The unique identifier of the customer's order (MAX 255; MIN 3)."
                  },
                  "payment_description": {
                    "type": "string",
                    "description": "The description of the payment (MAX 255; MIN 3)."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "The URL where we will redirect your customer after making the purchase. Required for alternative payment methods with redirection. (MAX 526; MIN 3)"
                  },
                  "country": {
                    "type": "string",
                    "description": "The customer's country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                    "enum": [
                      "AR",
                      "BO",
                      "BR",
                      "CL",
                      "CO",
                      "CR",
                      "EC",
                      "SV",
                      "GT",
                      "HN",
                      "MX",
                      "NI",
                      "PA",
                      "PY",
                      "PE",
                      "US",
                      "UY"
                    ]
                  },
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on [the Yuno dashboard](https://dashboard.y.uno/) (UUID, 36 chars)."
                  },
                  "amount": {
                    "type": "object",
                    "description": "Specifies the payment amount object, with the value and currency.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).",
                        "enum": [
                          "ARS",
                          "BOB",
                          "BRL",
                          "CLP",
                          "COP",
                          "CRC",
                          "USD",
                          "SVC",
                          "GTQ",
                          "HNL",
                          "MXN",
                          "NIO",
                          "PAB",
                          "PYG",
                          "PEN",
                          "UYU"
                        ]
                      },
                      "value": {
                        "type": "number",
                        "description": "The payment amount (multiple of 0.0001).",
                        "format": "float"
                      }
                    }
                  },
                  "alternative_amount": {
                    "type": "object",
                    "description": "Alternative currency representation of the transaction amount.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The alternative currency code (MAX 3; MIN 3; [ISO 4217](country-reference)).",
                        "nullable": true,
                        "enum": [
                          "ARS",
                          "BOB",
                          "BRL",
                          "CLP",
                          "COP",
                          "CRC",
                          "USD",
                          "SVC",
                          "GTQ",
                          "HNL",
                          "MXN",
                          "NIO",
                          "PAB",
                          "PYG",
                          "PEN",
                          "UYU"
                        ]
                      },
                      "value": {
                        "type": "number",
                        "description": "The alternative amount value (multiple of 0.0001).",
                        "format": "float"
                      }
                    }
                  },
                  "metadata": {
                    "type": "array",
                    "description": "Specifies a list of metadata objects. You can add up to 120 metadata objects.",
                    "items": {
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The metadata key (MAX 48)"
                        },
                        "value": {
                          "type": "string",
                          "description": "The metadata key value (MAX 512)"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "type": "object"
                    }
                  },
                  "workflow": {
                    "type": "string",
                    "description": "Checkout workflow type.",
                    "enum": [
                      "SDK_CHECKOUT",
                      "CHECKOUT",
                      "SDK_SEAMLESS"
                    ]
                  },
                  "installments": {
                    "type": "object",
                    "description": "The object to send the installment plan created in Yuno to show your customers and let them choose from. This optional field is used in case a particular installments plan needs to be used in the session. if not sent, we will display the installment plan created for the account for each scenario, if any.",
                    "properties": {
                      "plan_id": {
                        "type": "string",
                        "description": "Plan Id of the installment plan created in Yuno"
                      },
                      "plan": {
                        "type": "array",
                        "description": "Installments to show the customer in with the checkout_session. This optional struct is used in case a particular installments plan needs to be used in the session and does not have an installments plan created for it. if not sent, we will display the installment plan created for the account for each scenario, if any.",
                        "items": {
                          "properties": {
                            "installment": {
                              "type": "integer",
                              "description": "The number of monthly installments shoppers can choose",
                              "format": "int32"
                            },
                            "rate": {
                              "type": "number",
                              "description": "The rate that will be applied to the final amount of the transaction by the payment provider after using installments. Expressed in percentage.",
                              "format": "float"
                            }
                          },
                          "required": [
                            "installment",
                            "rate"
                          ],
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Checkout Session (full data)": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "merchant_order_id": "1717681150",
                    "payment_description": "Test Cards",
                    "country": "CO",
                    "customer_id": "55006822-7c79-490b-bea1-81798b9afc74",
                    "callback_url": "https://www.example.com",
                    "amount": {
                      "currency": "COP",
                      "value": 8000
                    },
                    "alternative_amount": {
                      "currency": "USD",
                      "value": 2
                    },
                    "metadata": [
                      {
                        "key": "ID",
                        "value": "123456"
                      }
                    ]
                  }
                },
                "Checkout Session (min data)": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "merchant_order_id": "1717681150",
                    "payment_description": "Test Cards",
                    "country": "US",
                    "customer_id": "55006822-7c79-490b-bea1-81798b9afc74",
                    "amount": {
                      "currency": "USD",
                      "value": 520
                    }
                  }
                },
                "Checkout Session (with null alternative currency)": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "merchant_order_id": "1717681150",
                    "payment_description": "Test Cards",
                    "country": "CO",
                    "customer_id": "55006822-7c79-490b-bea1-81798b9afc74",
                    "amount": {
                      "currency": "COP",
                      "value": 8000
                    },
                    "alternative_amount": {
                      "currency": null,
                      "value": 0
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Checkout Session (min. data)": {
                    "value": "{\n    \"merchant_order_id\": \"1717681150\",\n    \"checkout_session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n    \"country\": \"US\",\n    \"payment_description\": \"Test Cards\",\n    \"customer_id\": \"a577ad8f-08f1-4590-9cf1-e7679b15ee84\",\n    \"callback_url\": \"https://www.example.com/callback\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 520\n    },\n    \"created_at\": \"2024-06-06T13:39:10.932297Z\",\n    \"metadata\": null,\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"installments\": {\n        \"plan_id\": null,\n        \"plan\": null\n    }\n}\n"
                  },
                  "Checkout Session (full data)": {
                    "value": "{\n    \"merchant_order_id\": \"1717681150\",\n    \"checkout_session\": \"c437f4cc-7d66-40e6-a8df-7c3cde1ddca7\",\n    \"country\": \"US\",\n    \"payment_description\": \"Test Cards\",\n    \"customer_id\": \"55006822-7c79-490b-bea1-81798b9afc74\",\n    \"callback_url\": \"https://www.example.com/?checkoutSession=c437f4cc-7d66-40e6-a8df-7c3cde1ddca7\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 520\n    },\n    \"created_at\": \"2023-07-20T17:06:17.232130Z\",\n    \"metadata\": [\n        {\n            \"key\": \"ID\",\n            \"value\": \"123456\"\n        }\n    ],\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"installments\": {\n        \"plan_id\": null,\n        \"plan\": null\n    }\n}\n"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Checkout Session (min. data)",
                      "type": "object",
                      "properties": {
                        "merchant_order_id": {
                          "type": "string",
                          "example": "1717681150"
                        },
                        "checkout_session": {
                          "type": "string",
                          "example": "d313047b-4f96-44ef-bbad-caf1d7ba4c2b"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        },
                        "payment_description": {
                          "type": "string",
                          "example": "Test Cards"
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "a577ad8f-08f1-4590-9cf1-e7679b15ee84"
                        },
                        "callback_url": {
                          "type": "string",
                          "example": "https://www.example.com/callback"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "value": {
                              "type": "integer",
                              "example": 520,
                              "default": 0
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-06-06T13:39:10.932297Z"
                        },
                        "metadata": {},
                        "workflow": {
                          "type": "string",
                          "example": "SDK_CHECKOUT"
                        },
                        "installments": {
                          "type": "object",
                          "properties": {
                            "plan_id": {},
                            "plan": {}
                          }
                        }
                      }
                    },
                    {
                      "title": "Checkout Session (full data)",
                      "type": "object",
                      "properties": {
                        "merchant_order_id": {
                          "type": "string",
                          "example": "1717681150"
                        },
                        "checkout_session": {
                          "type": "string",
                          "example": "c437f4cc-7d66-40e6-a8df-7c3cde1ddca7"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        },
                        "payment_description": {
                          "type": "string",
                          "example": "Test Cards"
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "55006822-7c79-490b-bea1-81798b9afc74"
                        },
                        "callback_url": {
                          "type": "string",
                          "example": "https://www.example.com/?checkoutSession=c437f4cc-7d66-40e6-a8df-7c3cde1ddca7"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "value": {
                              "type": "integer",
                              "example": 520,
                              "default": 0
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2023-07-20T17:06:17.232130Z"
                        },
                        "metadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "example": "ID"
                              },
                              "value": {
                                "type": "string",
                                "example": "123456"
                              }
                            }
                          }
                        },
                        "workflow": {
                          "type": "string",
                          "example": "SDK_CHECKOUT"
                        },
                        "installments": {
                          "type": "object",
                          "properties": {
                            "plan_id": {},
                            "plan": {}
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": "{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/checkout/sessions?": {},
    "/checkout/sessions/{checkout_session}/payment-methods": {
      "get": {
        "summary": "Retrieve Payment Methods for Checkout",
        "description": "",
        "operationId": "retrieve-payment-methods-for-checkout",
        "parameters": [
          {
            "name": "checkout_session",
            "in": "path",
            "description": "The unique identifier of the checkout session (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "category",
            "in": "query",
            "description": "Optional category filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"name\": \"VISA ****1111\",\n        \"vaulted_token\": \"de00c1bd-624b-4e7b-ae28-47d86c94b15f\",\n        \"description\": \"VISA ****1111\",\n        \"type\": \"CARD\",\n        \"category\": \"CARD\",\n        \"icon\": \"https://icons.prod.y.uno/visa_logosimbolo.png\",\n        \"last_successfully_used\": false,\n        \"last_successfully_used_at\": \"\",\n        \"checkout\": {\n            \"session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n            \"sdk_required_action\": false,\n            \"conditions\": {\n                \"enabled\": true,\n                \"rules\": null\n            }\n        },\n        \"card_data\": {\n            \"iin\": \"41111111\",\n            \"lfd\": \"1111\",\n            \"expiration_month\": 3,\n            \"expiration_year\": 26,\n            \"number_length\": 16,\n            \"security_code_length\": 3,\n            \"brand\": \"VISA\",\n            \"issuer\": \"JPMORGAN CHASE BANK N A\",\n            \"issuer_code\": null,\n            \"category\": \"CREDIT\",\n            \"type\": \"CREDIT\"\n        },\n        \"preferred\": false\n    },\n    {\n        \"name\": \"Card\",\n        \"vaulted_token\": null,\n        \"description\": \"Card\",\n        \"type\": \"CARD\",\n        \"category\": \"CARD\",\n        \"icon\": \"https://icons.prod.y.uno/card_logosimbolo.png\",\n        \"last_successfully_used\": null,\n        \"last_successfully_used_at\": null,\n        \"checkout\": {\n            \"session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n            \"sdk_required_action\": true,\n            \"conditions\": {\n                \"enabled\": true,\n                \"rules\": null\n            }\n        },\n        \"preferred\": false\n    },\n    {\n        \"name\": \"Bank Transfer\",\n        \"vaulted_token\": null,\n        \"description\": \"Bank Transfer\",\n        \"type\": \"BANK_TRANSFER\",\n        \"category\": \"BANK_TRANSFER\",\n        \"icon\": \"https://icons.prod.y.uno/banktransfer_logosimbolo.png\",\n        \"last_successfully_used\": null,\n        \"last_successfully_used_at\": null,\n        \"checkout\": {\n            \"session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n            \"sdk_required_action\": true,\n            \"conditions\": {\n                \"enabled\": false,\n                \"rules\": [\n                    {\n                        \"condition\": \"INCLUDE\",\n                        \"condition_group_code\": \"2b273309-2c63-4ef8-b5f8-2953abf7ad4a\",\n                        \"condition_name\": \"Country-US\",\n                        \"type\": \"COUNTRY\",\n                        \"values\": {\n                            \"countries\": [\n                                \"US\"\n                            ],\n                            \"currency\": null,\n                            \"max\": null,\n                            \"metadata\": null,\n                            \"min\": null\n                        }\n                    }\n                ]\n            }\n        },\n        \"preferred\": false\n    }\n]\n"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "VISA ****1111"
                      },
                      "vaulted_token": {
                        "type": "string",
                        "example": "de00c1bd-624b-4e7b-ae28-47d86c94b15f"
                      },
                      "description": {
                        "type": "string",
                        "example": "VISA ****1111"
                      },
                      "type": {
                        "type": "string",
                        "example": "CARD"
                      },
                      "category": {
                        "type": "string",
                        "example": "CARD"
                      },
                      "icon": {
                        "type": "string",
                        "example": "https://icons.prod.y.uno/visa_logosimbolo.png"
                      },
                      "last_successfully_used": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      },
                      "last_successfully_used_at": {
                        "type": "string",
                        "example": ""
                      },
                      "checkout": {
                        "type": "object",
                        "properties": {
                          "session": {
                            "type": "string",
                            "example": "d313047b-4f96-44ef-bbad-caf1d7ba4c2b"
                          },
                          "sdk_required_action": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "conditions": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "rules": {}
                            }
                          }
                        }
                      },
                      "card_data": {
                        "type": "object",
                        "properties": {
                          "iin": {
                            "type": "string",
                            "example": "41111111"
                          },
                          "lfd": {
                            "type": "string",
                            "example": "1111"
                          },
                          "expiration_month": {
                            "type": "integer",
                            "example": 3,
                            "default": 0
                          },
                          "expiration_year": {
                            "type": "integer",
                            "example": 26,
                            "default": 0
                          },
                          "number_length": {
                            "type": "integer",
                            "example": 16,
                            "default": 0
                          },
                          "security_code_length": {
                            "type": "integer",
                            "example": 3,
                            "default": 0
                          },
                          "brand": {
                            "type": "string",
                            "example": "VISA"
                          },
                          "issuer": {
                            "type": "string",
                            "example": "JPMORGAN CHASE BANK N A"
                          },
                          "issuer_code": {},
                          "category": {
                            "type": "string",
                            "example": "CREDIT"
                          },
                          "type": {
                            "type": "string",
                            "example": "CREDIT"
                          }
                        }
                      },
                      "preferred": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/checkout/sessions/{id}": {
      "get": {
        "summary": "Retrieve Checkout Session",
        "description": "This request retrieves a checkout session using its unique identifier.",
        "operationId": "get-checkout-session",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the checkout session (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "02caeb08-45c0-4670-9736-5bdee1b311f8",
                      "merchant_order_id": "1752072398",
                      "country": "AR",
                      "payment_description": "Test Cards",
                      "customer_id": "e937e18e-a684-4d7b-a1a1-ab64c10a941d",
                      "callback_url": "https://google.com/?checkoutSession=02caeb08-45c0-4670-9736-5bdee1b311f8",
                      "amount": {
                        "currency": "ARS",
                        "value": 520
                      },
                      "created_at": "2025-07-09T14:46:39.515251Z",
                      "metadata": null,
                      "workflow": "SDK_CHECKOUT",
                      "installments": {
                        "plan_id": null,
                        "plan": null
                      },
                      "used": true
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the checkout session (MAX 64; MIN 36).",
                      "example": "02caeb08-45c0-4670-9736-5bdee1b311f8"
                    },
                    "merchant_order_id": {
                      "type": "string",
                      "description": "The unique identifier of the customer's order (MAX 255; MIN 3).",
                      "example": "1752072398"
                    },
                    "country": {
                      "type": "string",
                      "description": "Country where the transaction must be processed (MAX 2; MIN 2; ISO 3166-1).",
                      "example": "AR"
                    },
                    "payment_description": {
                      "type": "string",
                      "description": "The description of the payment (MAX 255; MIN 3).",
                      "example": "Test Cards"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The unique identifier of the customer (MAX 64; MIN 36).",
                      "example": "e937e18e-a684-4d7b-a1a1-ab64c10a941d"
                    },
                    "callback_url": {
                      "type": "string",
                      "description": "The URL where to redirect the customer after the payment (MAX 526; MIN 3).",
                      "example": "https://google.com/?checkoutSession=02caeb08-45c0-4670-9736-5bdee1b311f8"
                    },
                    "amount": {
                      "type": "object",
                      "description": "Specifies the payment amount object, with the value and currency.",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "description": "The currency used to make the payment (MAX 3; MIN 3; ISO 4217).",
                          "example": "ARS"
                        },
                        "value": {
                          "type": "number",
                          "description": "The payment amount (multiple of 0.0001).",
                          "example": 520
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Checkout Session creation date and time (MAX 27; MIN 27; ISO 8601).",
                      "example": "2025-07-09T14:46:39.515251Z"
                    },
                    "metadata": {
                      "type": "array",
                      "description": "Specifies a list of metadata objects. You can add up to 50 metadata objects.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "Specifies one metadata key.",
                            "example": "age"
                          },
                          "value": {
                            "type": "string",
                            "description": "Specifies the value for the defined metadata key.",
                            "example": "28"
                          }
                        }
                      },
                      "nullable": true
                    },
                    "workflow": {
                      "type": "string",
                      "description": "The payment workflow type that specifies how the checkout session will be processed.",
                      "example": "SDK_CHECKOUT"
                    },
                    "installments": {
                      "type": "object",
                      "description": "The object to send the installment plan created in Yuno to show your customers and let them choose from.",
                      "properties": {
                        "plan_id": {
                          "type": "string",
                          "description": "Specifies a plan id created in Yuno to show your customer in the checkout session (MAX 64; MIN 64).",
                          "nullable": true
                        },
                        "plan": {
                          "type": "array",
                          "description": "Installments to show the customer with the checkout session.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "installment": {
                                "type": "integer",
                                "description": "The number of monthly installments shoppers can choose.",
                                "example": 3
                              },
                              "rate": {
                                "type": "number",
                                "description": "The rate that will be applied to the final amount of the transaction by the payment provider after using installments.",
                                "example": 1.5
                              }
                            }
                          },
                          "nullable": true
                        }
                      }
                    },
                    "used": {
                      "type": "boolean",
                      "description": "Specifies whether a checkout session was used previously or not.",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/checkout/sessions/{checkout_session}/payment-methods/{payment_method_id}/prefer": {},
    "/checkout/sessions/{checkout_session}/payment-methods/{payment_method_id}/unprefer": {},
    "/{checkout_session}/payment": {},
    "/issuers": {
      "get": {
        "summary": "Retrieve Issuers",
        "description": "",
        "operationId": "retrieve-issuers",
        "parameters": [
          {
            "name": "checkout_session",
            "in": "query",
            "description": "The checkout session identifier (UUID, 36 chars).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "Country code ([ISO 3166-1](doc:country-coverage-yuno-sdk)).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_method",
            "in": "query",
            "description": "Defines the payment method used to filter issuers. This parameter ensures the response includes only issuers that support the specified payment method",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"issuers\": [\n    {\"id\": \"1001\", \"name\": \"BANCO DE BOGOTÁ\"},\n    {\"id\": \"1002\", \"name\": \"BANCO POPULAR\"},\n    {\"id\": \"1005\", \"name\": \"BANCO UNIÓN COLOMBIANO FD2\"},\n    {\"id\": \"1006\", \"name\": \"ITAÚ\"},\n    {\"id\": \"1007\", \"name\": \"BANCOLOMBIA\"},\n    {\"id\": \"1009\", \"name\": \"CITIBANK\"},\n    {\"id\": \"1012\", \"name\": \"BANCO GNB SUDAMERIS\"},\n    {\"id\": \"1013\", \"name\": \"BBVA COLOMBIA S.A.\"},\n    {\"id\": \"1019\", \"name\": \"SCOTIABANK COLPATRIA DESARROLLO\"},\n    {\"id\": \"1022\", \"name\": \"BANCO UNIÓN COLOMBIANO\"},\n    {\"id\": \"1023\", \"name\": \"BANCO DE OCCIDENTE\"},\n    {\"id\": \"1032\", \"name\": \"BANCO CAJA SOCIAL DESARROLLO\"},\n    {\"id\": \"1040\", \"name\": \"BANCO AGRARIO\"},\n    {\"id\": \"1051\", \"name\": \"BANCO DAVIVIENDA\"},\n    {\"id\": \"1052\", \"name\": \"BANCO COMERCIAL AV VILLAS S.A.\"},\n    {\"id\": \"1059\", \"name\": \"BANCAMÍA\"},\n    {\"id\": \"1060\", \"name\": \"BANCO PICHINCHA S.A.\"},\n    {\"id\": \"1061\", \"name\": \"BANCO COOMEVA S.A.\"},\n    {\"id\": \"1062\", \"name\": \"BANCO FALABELLA\"},\n    {\"id\": \"1063\", \"name\": \"BANCO FINANDINA S.A. BIC\"},\n    {\"id\": \"1065\", \"name\": \"BANCO SANTANDER COLOMBIA\"},\n    {\"id\": \"1066\", \"name\": \"BANCO COOPERATIVO COOPCENTRAL\"},\n    {\"id\": \"1069\", \"name\": \"BANCO SERFINANZA\"},\n    {\"id\": \"1070\", \"name\": \"LULO BANK\"},\n    {\"id\": \"1078\", \"name\": \"SCOTIABANK COLPATRIA UAT\"},\n    {\"id\": \"1097\", \"name\": \"DALE\"},\n    {\"id\": \"1283\", \"name\": \"COOPERATIVA FINANCIERA DE ANTIOQUIA CFA\"},\n    {\"id\": \"1289\", \"name\": \"COOPERATIVA FINANCIERA COTRAFA\"},\n    {\"id\": \"1291\", \"name\": \"COOFINEP COOPERATIVA FINANCIERA\"},\n    {\"id\": \"1292\", \"name\": \"CONFIAR COOPERATIVA FINANCIERA\"},\n    {\"id\": \"1370\", \"name\": \"COLTEFINANCIERA\"},\n    {\"id\": \"1637\", \"name\": \"IRIS\"},\n    {\"id\": \"1801\", \"name\": \"MOVII S.A.\"},\n    {\"id\": \"1802\", \"name\": \"DING TECNIPAGOS S.A.\"},\n    {\"id\": \"1803\", \"name\": \"POWWI\"},\n    {\"id\": \"1804\", \"name\": \"UALÁ\"},\n    {\"id\": \"1808\", \"name\": \"BOLD CF\"},\n    {\"id\": \"1809\", \"name\": \"NU\"},\n    {\"id\": \"1811\", \"name\": \"RAPPIPAY\"},\n    {\"id\": \"1812\", \"name\": \"COINK S.A.\"}\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "issuers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "1001"
                          },
                          "name": {
                            "type": "string",
                            "example": "BANCO DE BOGOTÁ"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    },
                    "summary": "Invalid Request"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/checkout-sessions/{id}": {
      "patch": {
        "summary": "Copy of Create Checkout Session",
        "description": "",
        "operationId": "post_checkoutsessions-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "merchant_order_id",
                  "payment_description",
                  "country",
                  "account_id"
                ],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "description": "The unique identifier of the customer, created using the [Create Customer](https://docs.y.uno/reference/create-customer) endpoint (UUID, 36 chars)."
                  },
                  "merchant_order_id": {
                    "type": "string",
                    "description": "The unique identifier of the customer's order (MAX 255; MIN 3)."
                  },
                  "payment_description": {
                    "type": "string",
                    "description": "The description of the payment (MAX 255; MIN 3)."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "The URL where we will redirect your customer after making the purchase. Required for alternative payment methods with redirection. (MAX 526; MIN 3)"
                  },
                  "country": {
                    "type": "string",
                    "description": "The customer's country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                    "enum": [
                      "AR",
                      "BO",
                      "BR",
                      "CL",
                      "CO",
                      "CR",
                      "EC",
                      "SV",
                      "GT",
                      "HN",
                      "MX",
                      "NI",
                      "PA",
                      "PY",
                      "PE",
                      "US",
                      "UY"
                    ]
                  },
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on [the Yuno dashboard](https://dashboard.y.uno/) (UUID, 36 chars)."
                  },
                  "amount": {
                    "type": "object",
                    "description": "Specifies the payment amount object, with the value and currency.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).",
                        "enum": [
                          "ARS",
                          "BOB",
                          "BRL",
                          "CLP",
                          "COP",
                          "CRC",
                          "USD",
                          "SVC",
                          "GTQ",
                          "HNL",
                          "MXN",
                          "NIO",
                          "PAB",
                          "PYG",
                          "PEN",
                          "UYU"
                        ]
                      },
                      "value": {
                        "type": "number",
                        "description": "The payment amount (multiple of 0.0001).",
                        "format": "float"
                      }
                    }
                  },
                  "alternative_amount": {
                    "type": "object",
                    "description": "Alternative currency representation of the transaction amount.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The alternative currency code (MAX 3; MIN 3; [ISO 4217](country-reference)).",
                        "nullable": true,
                        "enum": [
                          "ARS",
                          "BOB",
                          "BRL",
                          "CLP",
                          "COP",
                          "CRC",
                          "USD",
                          "SVC",
                          "GTQ",
                          "HNL",
                          "MXN",
                          "NIO",
                          "PAB",
                          "PYG",
                          "PEN",
                          "UYU"
                        ]
                      },
                      "value": {
                        "type": "number",
                        "description": "The alternative amount value (multiple of 0.0001).",
                        "format": "float"
                      }
                    }
                  },
                  "metadata": {
                    "type": "array",
                    "description": "Specifies a list of metadata objects. You can add up to 120 metadata objects.",
                    "items": {
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The metadata key (MAX 48)"
                        },
                        "value": {
                          "type": "string",
                          "description": "The metadata key value (MAX 512)"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "type": "object"
                    }
                  },
                  "workflow": {
                    "type": "string",
                    "description": "Checkout workflow type.",
                    "enum": [
                      "SDK_CHECKOUT",
                      "CHECKOUT",
                      "SDK_SEAMLESS"
                    ]
                  },
                  "installments": {
                    "type": "object",
                    "description": "The object to send the installment plan created in Yuno to show your customers and let them choose from. This optional field is used in case a particular installments plan needs to be used in the session. if not sent, we will display the installment plan created for the account for each scenario, if any.",
                    "properties": {
                      "plan_id": {
                        "type": "string",
                        "description": "Plan Id of the installment plan created in Yuno"
                      },
                      "plan": {
                        "type": "array",
                        "description": "Installments to show the customer in with the checkout_session. This optional struct is used in case a particular installments plan needs to be used in the session and does not have an installments plan created for it. if not sent, we will display the installment plan created for the account for each scenario, if any.",
                        "items": {
                          "properties": {
                            "installment": {
                              "type": "integer",
                              "description": "The number of monthly installments shoppers can choose",
                              "format": "int32"
                            },
                            "rate": {
                              "type": "number",
                              "description": "The rate that will be applied to the final amount of the transaction by the payment provider after using installments. Expressed in percentage.",
                              "format": "float"
                            }
                          },
                          "required": [
                            "installment",
                            "rate"
                          ],
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Checkout Session (full data)": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "merchant_order_id": "1717681150",
                    "payment_description": "Test Cards",
                    "country": "CO",
                    "customer_id": "55006822-7c79-490b-bea1-81798b9afc74",
                    "callback_url": "https://www.example.com",
                    "amount": {
                      "currency": "COP",
                      "value": 8000
                    },
                    "alternative_amount": {
                      "currency": "USD",
                      "value": 2
                    },
                    "metadata": [
                      {
                        "key": "ID",
                        "value": "123456"
                      }
                    ]
                  }
                },
                "Checkout Session (min data)": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "merchant_order_id": "1717681150",
                    "payment_description": "Test Cards",
                    "country": "US",
                    "customer_id": "55006822-7c79-490b-bea1-81798b9afc74",
                    "amount": {
                      "currency": "USD",
                      "value": 520
                    }
                  }
                },
                "Checkout Session (with null alternative currency)": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "merchant_order_id": "1717681150",
                    "payment_description": "Test Cards",
                    "country": "CO",
                    "customer_id": "55006822-7c79-490b-bea1-81798b9afc74",
                    "amount": {
                      "currency": "COP",
                      "value": 8000
                    },
                    "alternative_amount": {
                      "currency": null,
                      "value": 0
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Checkout Session (min. data)": {
                    "value": "{\n    \"merchant_order_id\": \"1717681150\",\n    \"checkout_session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n    \"country\": \"US\",\n    \"payment_description\": \"Test Cards\",\n    \"customer_id\": \"a577ad8f-08f1-4590-9cf1-e7679b15ee84\",\n    \"callback_url\": \"https://www.example.com/callback\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 520\n    },\n    \"created_at\": \"2024-06-06T13:39:10.932297Z\",\n    \"metadata\": null,\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"installments\": {\n        \"plan_id\": null,\n        \"plan\": null\n    }\n}\n"
                  },
                  "Checkout Session (full data)": {
                    "value": "{\n    \"merchant_order_id\": \"1717681150\",\n    \"checkout_session\": \"c437f4cc-7d66-40e6-a8df-7c3cde1ddca7\",\n    \"country\": \"US\",\n    \"payment_description\": \"Test Cards\",\n    \"customer_id\": \"55006822-7c79-490b-bea1-81798b9afc74\",\n    \"callback_url\": \"https://www.example.com/?checkoutSession=c437f4cc-7d66-40e6-a8df-7c3cde1ddca7\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 520\n    },\n    \"created_at\": \"2023-07-20T17:06:17.232130Z\",\n    \"metadata\": [\n        {\n            \"key\": \"ID\",\n            \"value\": \"123456\"\n        }\n    ],\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"installments\": {\n        \"plan_id\": null,\n        \"plan\": null\n    }\n}\n"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Checkout Session (min. data)",
                      "type": "object",
                      "properties": {
                        "merchant_order_id": {
                          "type": "string",
                          "example": "1717681150"
                        },
                        "checkout_session": {
                          "type": "string",
                          "example": "d313047b-4f96-44ef-bbad-caf1d7ba4c2b"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        },
                        "payment_description": {
                          "type": "string",
                          "example": "Test Cards"
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "a577ad8f-08f1-4590-9cf1-e7679b15ee84"
                        },
                        "callback_url": {
                          "type": "string",
                          "example": "https://www.example.com/callback"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "value": {
                              "type": "integer",
                              "example": 520,
                              "default": 0
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-06-06T13:39:10.932297Z"
                        },
                        "metadata": {},
                        "workflow": {
                          "type": "string",
                          "example": "SDK_CHECKOUT"
                        },
                        "installments": {
                          "type": "object",
                          "properties": {
                            "plan_id": {},
                            "plan": {}
                          }
                        }
                      }
                    },
                    {
                      "title": "Checkout Session (full data)",
                      "type": "object",
                      "properties": {
                        "merchant_order_id": {
                          "type": "string",
                          "example": "1717681150"
                        },
                        "checkout_session": {
                          "type": "string",
                          "example": "c437f4cc-7d66-40e6-a8df-7c3cde1ddca7"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        },
                        "payment_description": {
                          "type": "string",
                          "example": "Test Cards"
                        },
                        "customer_id": {
                          "type": "string",
                          "example": "55006822-7c79-490b-bea1-81798b9afc74"
                        },
                        "callback_url": {
                          "type": "string",
                          "example": "https://www.example.com/?checkoutSession=c437f4cc-7d66-40e6-a8df-7c3cde1ddca7"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "value": {
                              "type": "integer",
                              "example": 520,
                              "default": 0
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2023-07-20T17:06:17.232130Z"
                        },
                        "metadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "example": "ID"
                              },
                              "value": {
                                "type": "string",
                                "example": "123456"
                              }
                            }
                          }
                        },
                        "workflow": {
                          "type": "string",
                          "example": "SDK_CHECKOUT"
                        },
                        "installments": {
                          "type": "object",
                          "properties": {
                            "plan_id": {},
                            "plan": {}
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": "{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the checkout session (UUID, 36 chars.)."
          }
        ]
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}