{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Communications Campaigns"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "tags": [],
  "paths": {
    "/new-endpoint": {
      "get": {
        "summary": "New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/campaigns": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                        },
                        "name": {
                          "type": "string",
                          "example": "Declined Payment Recovery - Colombia"
                        },
                        "account_id": {
                          "type": "string",
                          "example": "2404911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "organization_code": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "country": {
                          "type": "string",
                          "example": "CO"
                        },
                        "channel": {
                          "type": "string",
                          "example": "WHATSAPP_MESSAGE"
                        },
                        "schedule": {
                          "type": "object",
                          "properties": {
                            "daily_start_time": {
                              "type": "string",
                              "example": "08:00"
                            },
                            "daily_end_time": {
                              "type": "string",
                              "example": "21:00"
                            },
                            "time_zone": {
                              "type": "string",
                              "example": "America/Bogota"
                            }
                          }
                        },
                        "duration": {
                          "type": "object",
                          "properties": {
                            "start_at": {
                              "type": "string",
                              "example": "2025-07-01T00:00:00Z"
                            },
                            "end_at": {
                              "type": "string",
                              "example": "2026-07-01T00:00:00Z"
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-07-01T12:00:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-07-01T12:00:00Z"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Created": {
                    "summary": "Created",
                    "value": {
                      "data": {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "name": "Declined Payment Recovery - Colombia",
                        "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                        "organization_code": "550e8400-e29b-41d4-a716-446655440000",
                        "country": "CO",
                        "channel": "WHATSAPP_MESSAGE",
                        "schedule": {
                          "daily_start_time": "08:00",
                          "daily_end_time": "21:00",
                          "time_zone": "America/Bogota"
                        },
                        "duration": {
                          "start_at": "2025-07-01T00:00:00Z",
                          "end_at": "2026-07-01T00:00:00Z"
                        },
                        "status": "ACTIVE",
                        "created_at": "2025-07-01T12:00:00Z",
                        "updated_at": "2025-07-01T12:00:00Z"
                      }
                    }
                  }
                }
              }
            },
            "description": "Created"
          }
        },
        "parameters": [],
        "operationId": "post_campaigns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Campaign name for identification."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Your Yuno account ID, found in the [Yuno Dashboard](https://dashboard.y.uno/developers)."
                  },
                  "organization_code": {
                    "type": "string",
                    "description": "Your organization identifier."
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code (e.g., `CO`, `MX`, `BR`)."
                  },
                  "channel": {
                    "type": "string",
                    "description": "Communication channel: `WHATSAPP_MESSAGE` or `PHONE_CALL`."
                  },
                  "focus": {
                    "type": "string",
                    "description": "Campaign focus descriptor (e.g., `payment_recovery`)."
                  },
                  "schedule": {
                    "type": "object",
                    "properties": {
                      "daily_start_time": {
                        "type": "string",
                        "description": "Start of daily send window in `HH:MM` format."
                      },
                      "daily_end_time": {
                        "type": "string",
                        "description": "End of daily send window in `HH:MM` format."
                      },
                      "time_zone": {
                        "type": "string",
                        "description": "IANA timezone (e.g., `America/Bogota`) or UTC offset (e.g., `-05:00`)"
                      }
                    },
                    "required": [
                      "daily_start_time",
                      "daily_end_time",
                      "time_zone"
                    ],
                    "description": "Scheduling configuration."
                  },
                  "duration": {
                    "type": "object",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "Campaign start date in ISO 8601 format."
                      },
                      "end_at": {
                        "type": "string",
                        "description": "Campaign end date in ISO 8601 format. Must be after `start_at`."
                      }
                    },
                    "required": [
                      "end_at",
                      "start_at"
                    ],
                    "description": "Campaign active period."
                  }
                },
                "required": [
                  "name",
                  "duration",
                  "schedule",
                  "channel",
                  "country",
                  "organization_code",
                  "account_id"
                ]
              },
              "examples": {
                "Example": {
                  "summary": "Example",
                  "value": {
                    "name": "Declined Payment Recovery - Colombia",
                    "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                    "organization_code": "550e8400-e29b-41d4-a716-446655440000",
                    "country": "CO",
                    "channel": "WHATSAPP_MESSAGE",
                    "schedule": {
                      "daily_start_time": "08:00",
                      "daily_end_time": "21:00",
                      "time_zone": "America/Bogota"
                    },
                    "duration": {
                      "start_at": "2025-07-01T00:00:00Z",
                      "end_at": "2026-07-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                          },
                          "name": {
                            "type": "string",
                            "example": "Declined Payment Recovery - Colombia"
                          },
                          "country": {
                            "type": "string",
                            "example": "CO"
                          },
                          "channel": {
                            "type": "string",
                            "example": "WHATSAPP_MESSAGE"
                          },
                          "status": {
                            "type": "string",
                            "example": "ACTIVE"
                          },
                          "duration": {
                            "type": "object",
                            "properties": {
                              "start_at": {
                                "type": "string",
                                "example": "2025-07-01T00:00:00Z"
                              },
                              "end_at": {
                                "type": "string",
                                "example": "2026-07-01T00:00:00Z"
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2025-07-01T12:00:00Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-07-01T12:00:00Z"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 5
                        },
                        "limit": {
                          "type": "integer",
                          "example": 10
                        },
                        "offset": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "data": [
                        {
                          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "name": "Declined Payment Recovery - Colombia",
                          "country": "CO",
                          "channel": "WHATSAPP_MESSAGE",
                          "status": "ACTIVE",
                          "duration": {
                            "start_at": "2025-07-01T00:00:00Z",
                            "end_at": "2026-07-01T00:00:00Z"
                          },
                          "created_at": "2025-07-01T12:00:00Z",
                          "updated_at": "2025-07-01T12:00:00Z"
                        }
                      ],
                      "meta": {
                        "total": 5,
                        "limit": 10,
                        "offset": 0
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Results per page (1-100)",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "Filter by start date (ISO 8601)",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "Filter by end date (ISO 8601)",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "operationId": "get_campaigns"
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "description": "Retrieves a single campaign by ID, including its rules.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                        },
                        "name": {
                          "type": "string",
                          "example": "Declined Payment Recovery - Colombia"
                        },
                        "account_id": {
                          "type": "string",
                          "example": "2404911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "organization_code": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "country": {
                          "type": "string",
                          "example": "CO"
                        },
                        "channel": {
                          "type": "string",
                          "example": "WHATSAPP_MESSAGE"
                        },
                        "schedule": {
                          "type": "object",
                          "properties": {
                            "daily_start_time": {
                              "type": "string",
                              "example": "08:00"
                            },
                            "daily_end_time": {
                              "type": "string",
                              "example": "21:00"
                            },
                            "time_zone": {
                              "type": "string",
                              "example": "America/Bogota"
                            }
                          }
                        },
                        "duration": {
                          "type": "object",
                          "properties": {
                            "start_at": {
                              "type": "string",
                              "example": "2025-07-01T00:00:00Z"
                            },
                            "end_at": {
                              "type": "string",
                              "example": "2026-07-01T00:00:00Z"
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "f1e2d3c4-b5a6-7890-abcd-ef1234567890"
                              },
                              "rule_type": {
                                "type": "string",
                                "example": "PAYMENT_STATUS"
                              },
                              "values": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "DECLINED"
                                ]
                              },
                              "conditional": {
                                "type": "string",
                                "example": "EQUAL"
                              },
                              "metadata_key": {
                                "type": "string",
                                "nullable": true,
                                "example": null
                              },
                              "status": {
                                "type": "string",
                                "example": "ACTIVE"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2025-07-01T12:05:00Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2025-07-01T12:05:00Z"
                              }
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-07-01T12:00:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-07-01T12:00:00Z"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "name": "Declined Payment Recovery - Colombia",
                        "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                        "organization_code": "550e8400-e29b-41d4-a716-446655440000",
                        "country": "CO",
                        "channel": "WHATSAPP_MESSAGE",
                        "schedule": {
                          "daily_start_time": "08:00",
                          "daily_end_time": "21:00",
                          "time_zone": "America/Bogota"
                        },
                        "duration": {
                          "start_at": "2025-07-01T00:00:00Z",
                          "end_at": "2026-07-01T00:00:00Z"
                        },
                        "status": "ACTIVE",
                        "rules": [
                          {
                            "id": "f1e2d3c4-b5a6-7890-abcd-ef1234567890",
                            "rule_type": "PAYMENT_STATUS",
                            "values": [
                              "DECLINED"
                            ],
                            "conditional": "EQUAL",
                            "metadata_key": null,
                            "status": "ACTIVE",
                            "created_at": "2025-07-01T12:05:00Z",
                            "updated_at": "2025-07-01T12:05:00Z"
                          }
                        ],
                        "created_at": "2025-07-01T12:00:00Z",
                        "updated_at": "2025-07-01T12:00:00Z"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "campaign_id",
            "description": "The campaign identifier",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "operationId": "get_campaigns-campaign-id"
      },
      "patch": {
        "description": "",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                        },
                        "name": {
                          "type": "string",
                          "example": "Declined Payment Recovery - Colombia"
                        },
                        "status": {
                          "type": "string",
                          "example": "PAUSED"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-07-15T10:00:00Z"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "name": "Declined Payment Recovery - Colombia",
                        "status": "PAUSED",
                        "updated_at": "2025-07-15T10:00:00Z"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "campaign_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The campaign identifier (UUID)."
          }
        ],
        "operationId": "patch_campaigns-campaign-id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "New status",
                    "enum": [
                      "ACTIVE",
                      "PAUSED",
                      "COMPLETED",
                      "CANCELLED"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              },
              "examples": {
                "Example": {
                  "summary": "Example",
                  "value": {
                    "status": "PAUSED"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/rules": {
      "post": {
        "description": "",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "f1e2d3c4-b5a6-7890-abcd-ef1234567890"
                          },
                          "rule_type": {
                            "type": "string",
                            "example": "PAYMENT_STATUS"
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "DECLINED"
                            ]
                          },
                          "conditional": {
                            "type": "string",
                            "example": "EQUAL"
                          },
                          "metadata_key": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "status": {
                            "type": "string",
                            "example": "ACTIVE"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2025-07-01T12:05:00Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-07-01T12:05:00Z"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Created": {
                    "summary": "Created",
                    "value": {
                      "data": [
                        {
                          "id": "f1e2d3c4-b5a6-7890-abcd-ef1234567890",
                          "rule_type": "PAYMENT_STATUS",
                          "values": [
                            "DECLINED"
                          ],
                          "conditional": "EQUAL",
                          "metadata_key": null,
                          "status": "ACTIVE",
                          "created_at": "2025-07-01T12:05:00Z",
                          "updated_at": "2025-07-01T12:05:00Z"
                        },
                        {
                          "id": "a9b8c7d6-e5f4-3210-abcd-ef1234567890",
                          "rule_type": "CURRENCY",
                          "values": [
                            "COP"
                          ],
                          "conditional": "EQUAL",
                          "metadata_key": null,
                          "status": "ACTIVE",
                          "created_at": "2025-07-01T12:05:00Z",
                          "updated_at": "2025-07-01T12:05:00Z"
                        },
                        {
                          "id": "11223344-5566-7788-99aa-bbccddeeff00",
                          "rule_type": "AMOUNT",
                          "values": [
                            "50000"
                          ],
                          "conditional": "GREATER_THAN",
                          "metadata_key": null,
                          "status": "ACTIVE",
                          "created_at": "2025-07-01T12:05:00Z",
                          "updated_at": "2025-07-01T12:05:00Z"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "Created"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "campaign_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The campaign identifier (UUID)."
          }
        ],
        "operationId": "post_campaigns-campaign-id-rules",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "rule_type": {
                          "type": "string",
                          "description": "Type of rule (see [Rule Types Reference](ref:communications-campaigns#rule-types-reference))"
                        },
                        "values": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of string values for comparison. Not required for `UNIQUE_BY_USER`."
                        },
                        "conditional": {
                          "type": "string",
                          "description": "Comparison operator. Not required for `USER_COMMS_PER_DAY` or `UNIQUE_BY_USER`. See [Conditional Operators Reference](ref:communications-campaigns#conditional-operators-reference)."
                        },
                        "metadata_key": {
                          "type": "string",
                          "description": "Required when `rule_type` is `METADATA`. The metadata field name to evaluate."
                        }
                      },
                      "required": [
                        "rule_type"
                      ]
                    },
                    "description": "Array of rule objects"
                  }
                },
                "required": [
                  "rules"
                ]
              },
              "examples": {
                "Example": {
                  "summary": "Example",
                  "value": {
                    "rules": [
                      {
                        "rule_type": "PAYMENT_STATUS",
                        "values": [
                          "DECLINED"
                        ],
                        "conditional": "EQUAL"
                      },
                      {
                        "rule_type": "CURRENCY",
                        "values": [
                          "COP"
                        ],
                        "conditional": "EQUAL"
                      },
                      {
                        "rule_type": "AMOUNT",
                        "values": [
                          "50000"
                        ],
                        "conditional": "GREATER_THAN"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/rules/{rule_id}": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "f1e2d3c4-b5a6-7890-abcd-ef1234567890"
                        },
                        "rule_type": {
                          "type": "string",
                          "example": "PAYMENT_STATUS"
                        },
                        "values": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "DECLINED"
                          ]
                        },
                        "conditional": {
                          "type": "string",
                          "example": "EQUAL"
                        },
                        "metadata_key": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "status": {
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-07-01T12:05:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-07-01T12:05:00Z"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "data": {
                        "id": "f1e2d3c4-b5a6-7890-abcd-ef1234567890",
                        "rule_type": "PAYMENT_STATUS",
                        "values": [
                          "DECLINED"
                        ],
                        "conditional": "EQUAL",
                        "metadata_key": null,
                        "status": "ACTIVE",
                        "created_at": "2025-07-01T12:05:00Z",
                        "updated_at": "2025-07-01T12:05:00Z"
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "campaign_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The campaign identifier (UUID)."
          },
          {
            "in": "path",
            "name": "rule_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The rule identifier (UUID)."
          }
        ],
        "operationId": "get_campaigns-campaign-id-rules-rule-id"
      },
      "patch": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "data": {
                        "id": "f1e2d3c4-b5a6-7890-abcd-ef1234567890",
                        "rule_type": "PAYMENT_STATUS",
                        "values": [
                          "DECLINED"
                        ],
                        "conditional": "EQUAL",
                        "metadata_key": null,
                        "status": "ACTIVE",
                        "created_at": "2025-07-01T12:05:00Z",
                        "updated_at": "2025-07-01T12:05:00Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "campaign_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The campaign identifier (UUID)."
          },
          {
            "in": "path",
            "name": "rule_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The rule identifier (UUID)."
          }
        ],
        "operationId": "patch_campaigns-campaign-id-rules-rule-id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rule_type": {
                    "type": "string",
                    "description": "New rule type"
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "New values array"
                  },
                  "conditional": {
                    "type": "string",
                    "description": "New conditional operator"
                  },
                  "metadata_key": {
                    "type": "string",
                    "description": "New metadata key (for METADATA rules)"
                  }
                }
              },
              "examples": {
                "Example": {
                  "summary": "Example",
                  "value": {
                    "values": [
                      "DECLINED",
                      "REJECTED"
                    ],
                    "conditional": "ONE_OF"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/rules/{rule_id}/status": {
      "patch": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "campaign_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The campaign identifier (UUID)."
          },
          {
            "in": "path",
            "name": "rule_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The rule identifier (UUID)."
          }
        ],
        "operationId": "patch_campaigns-campaign-id-rules-rule-id-status",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "`ACTIVE` or `INACTIVE`"
                  }
                },
                "required": [
                  "status"
                ]
              },
              "examples": {
                "Example": {
                  "summary": "Example",
                  "value": {
                    "status": "INACTIVE"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}