{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "creating vouchers"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "tags": [],
  "paths": {
    "/new-endpoint": {
      "get": {
        "summary": "New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "description": "",
        "operationId": "post_payments",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "3c2a4cbd-b685-4c47-ac20-25c1b076ebc8"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "48d47836-0c4b-45af-b6b8-098fd17a8fa2"
                    },
                    "description": {
                      "type": "string",
                      "example": "dlocal"
                    },
                    "country": {
                      "type": "string",
                      "example": "BR"
                    },
                    "status": {
                      "type": "string",
                      "example": "SUCCEEDED"
                    },
                    "sub_status": {
                      "type": "string",
                      "example": "APPROVED"
                    },
                    "merchant_order_id": {
                      "type": "string",
                      "example": "12271562679"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2025-11-03T16:21:00.005730Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2025-11-03T16:21:01.472190Z"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "example": 26.9,
                          "default": 0
                        },
                        "currency": {
                          "type": "string",
                          "example": "BRL"
                        },
                        "captured": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "refunded": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "currency_conversion": {}
                      }
                    },
                    "workflow": {
                      "type": "string",
                      "example": "DIRECT"
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "vault_on_success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "payment_method_detail": {
                          "type": "object",
                          "properties": {
                            "card": {
                              "type": "object",
                              "properties": {
                                "capture": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "verify": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "installments": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "authorization_code": {
                                  "type": "string",
                                  "example": "107562"
                                },
                                "card_data": {
                                  "type": "object",
                                  "properties": {
                                    "holder_name": {
                                      "type": "string",
                                      "example": "MARIANA SORRENTINO"
                                    },
                                    "brand": {
                                      "type": "string",
                                      "example": "ALELO"
                                    },
                                    "issuer_name": {
                                      "type": "string",
                                      "example": "ALELO"
                                    },
                                    "country_code": {
                                      "type": "string",
                                      "example": "BR"
                                    },
                                    "category": {
                                      "type": "string",
                                      "example": "Refeição"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "VOUCHER"
                                    },
                                    "iin": {
                                      "type": "string",
                                      "example": "50675556"
                                    },
                                    "lfd": {
                                      "type": "string",
                                      "example": "2011"
                                    },
                                    "expiration_month": {
                                      "type": "integer",
                                      "example": 9,
                                      "default": 0
                                    },
                                    "expiration_year": {
                                      "type": "integer",
                                      "example": 33,
                                      "default": 0
                                    },
                                    "fingerprint": {
                                      "type": "string",
                                      "example": "29a1339e-6421-43d9-8d48-7f91c4a6bab1"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "additional_data": {
                      "type": "object",
                      "properties": {
                        "seller_details": {
                          "type": "object",
                          "properties": {
                            "reference": {
                              "type": "string",
                              "example": "53568972000143"
                            },
                            "merchant_category_code": {
                              "type": "string",
                              "example": "5814"
                            }
                          }
                        }
                      }
                    },
                    "transactions": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "f4532b5d-8ad6-419f-bd86-aff030ab8a87"
                        },
                        "type": {
                          "type": "string",
                          "example": "PURCHASE"
                        },
                        "status": {
                          "type": "string",
                          "example": "SUCCEEDED"
                        },
                        "category": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "amount": {
                          "type": "number",
                          "example": 26.9,
                          "default": 0
                        },
                        "provider_id": {
                          "type": "string",
                          "example": "ALELO"
                        },
                        "response_code": {
                          "type": "string",
                          "example": "SUCCEEDED"
                        },
                        "response_message": {
                          "type": "string",
                          "example": "Transaction successful"
                        },
                        "merchant_reference": {
                          "type": "string",
                          "example": "12271562679"
                        },
                        "provider_data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "ALELO"
                            },
                            "status_detail": {
                              "type": "string",
                              "example": "CONFIRMADA"
                            },
                            "raw_response": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "example": "26.9"
                                },
                                "authorizationCode": {
                                  "type": "string",
                                  "example": "107562"
                                },
                                "dateTime": {
                                  "type": "string",
                                  "example": "251103162100"
                                },
                                "maskedCard": {
                                  "type": "string",
                                  "example": "506755******2011"
                                },
                                "messages": {
                                  "type": "string",
                                  "example": "Transação Confirmada com sucesso."
                                },
                                "nsu": {
                                  "type": "string",
                                  "example": "002959929037"
                                },
                                "returnCode": {
                                  "type": "string",
                                  "example": "00"
                                },
                                "status": {
                                  "type": "string",
                                  "example": "CONFIRMADA"
                                }
                              }
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-11-03T16:21:00.144117Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-11-03T16:21:01.428974Z"
                        }
                      }
                    },
                    "transactions_history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "f4532b5d-8ad6-419f-bd86-aff030ab8a87"
                          },
                          "type": {
                            "type": "string",
                            "example": "PURCHASE"
                          },
                          "status": {
                            "type": "string",
                            "example": "SUCCEEDED"
                          },
                          "category": {
                            "type": "string",
                            "example": "CARD"
                          },
                          "amount": {
                            "type": "number",
                            "example": 26.9,
                            "default": 0
                          },
                          "provider_id": {
                            "type": "string",
                            "example": "ALELO"
                          },
                          "response_code": {
                            "type": "string",
                            "example": "SUCCEEDED"
                          },
                          "response_message": {
                            "type": "string",
                            "example": "Transaction successful"
                          },
                          "provider_data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "ALELO"
                              },
                              "status_detail": {
                                "type": "string",
                                "example": "CONFIRMADA"
                              },
                              "raw_response": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string",
                                    "example": "26.9"
                                  },
                                  "authorizationCode": {
                                    "type": "string",
                                    "example": "107562"
                                  },
                                  "maskedCard": {
                                    "type": "string",
                                    "example": "506755******2011"
                                  },
                                  "messages": {
                                    "type": "string",
                                    "example": "Transação Confirmada com sucesso."
                                  }
                                }
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2025-11-03T16:21:00.144117Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-11-03T16:21:01.428974Z"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success - Voucher payment": {
                    "summary": "Success - Voucher payment",
                    "value": {
                      "id": "3c2a4cbd-b685-4c47-ac20-25c1b076ebc8",
                      "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                      "description": "dlocal",
                      "country": "BR",
                      "status": "SUCCEEDED",
                      "sub_status": "APPROVED",
                      "merchant_order_id": "12271562679",
                      "created_at": "2025-11-03T16:21:00.005730Z",
                      "updated_at": "2025-11-03T16:21:01.472190Z",
                      "amount": {
                        "value": 26.9,
                        "currency": "BRL",
                        "captured": 0,
                        "refunded": 0,
                        "currency_conversion": null
                      },
                      "workflow": "DIRECT",
                      "payment_method": {
                        "type": "CARD",
                        "vault_on_success": false,
                        "payment_method_detail": {
                          "card": {
                            "capture": true,
                            "verify": false,
                            "installments": 1,
                            "authorization_code": "107562",
                            "card_data": {
                              "holder_name": "MARIANA SORRENTINO",
                              "brand": "ALELO",
                              "issuer_name": "ALELO",
                              "country_code": "BR",
                              "category": "Refeição",
                              "type": "VOUCHER",
                              "iin": "50675556",
                              "lfd": "2011",
                              "expiration_month": 9,
                              "expiration_year": 33,
                              "fingerprint": "29a1339e-6421-43d9-8d48-7f91c4a6bab1"
                            }
                          }
                        }
                      },
                      "additional_data": {
                        "seller_details": {
                          "reference": "53568972000143",
                          "merchant_category_code": "5814"
                        }
                      },
                      "transactions": {
                        "id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                        "type": "PURCHASE",
                        "status": "SUCCEEDED",
                        "category": "CARD",
                        "amount": 26.9,
                        "provider_id": "ALELO",
                        "response_code": "SUCCEEDED",
                        "response_message": "Transaction successful",
                        "merchant_reference": "12271562679",
                        "provider_data": {
                          "id": "ALELO",
                          "status_detail": "CONFIRMADA",
                          "raw_response": {
                            "amount": "26.9",
                            "authorizationCode": "107562",
                            "dateTime": "251103162100",
                            "maskedCard": "506755******2011",
                            "messages": "Transação Confirmada com sucesso.",
                            "nsu": "002959929037",
                            "returnCode": "00",
                            "status": "CONFIRMADA"
                          }
                        },
                        "created_at": "2025-11-03T16:21:00.144117Z",
                        "updated_at": "2025-11-03T16:21:01.428974Z"
                      },
                      "transactions_history": [
                        {
                          "id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                          "type": "PURCHASE",
                          "status": "SUCCEEDED",
                          "category": "CARD",
                          "amount": 26.9,
                          "provider_id": "ALELO",
                          "response_code": "SUCCEEDED",
                          "response_message": "Transaction successful",
                          "provider_data": {
                            "id": "ALELO",
                            "status_detail": "CONFIRMADA",
                            "raw_response": {
                              "amount": "26.9",
                              "authorizationCode": "107562",
                              "maskedCard": "506755******2011",
                              "messages": "Transação Confirmada com sucesso."
                            }
                          },
                          "created_at": "2025-11-03T16:21:00.144117Z",
                          "updated_at": "2025-11-03T16:21:01.428974Z"
                        }
                      ]
                    }
                  },
                  "Success - Voucher (verify)": {
                    "summary": "Success - Voucher (verify)",
                    "value": {
                      "id": "db0b02e9-163d-41c0-98d0-c2da1e7c640e",
                      "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                      "description": "dlocal",
                      "country": "BR",
                      "status": "SUCCEEDED",
                      "sub_status": "VERIFIED",
                      "merchant_order_id": "12271575526",
                      "created_at": "2025-11-03T16:22:16.393503Z",
                      "updated_at": "2025-11-03T16:22:18.470234Z",
                      "amount": {
                        "value": 0,
                        "currency": "BRL",
                        "captured": 0,
                        "refunded": 0,
                        "currency_conversion": null
                      },
                      "workflow": "DIRECT",
                      "payment_method": {
                        "type": "CARD",
                        "payment_method_detail": {
                          "card": {
                            "verify": true,
                            "capture": false,
                            "installments": 1,
                            "authorization_code": "",
                            "card_data": {
                              "holder_name": "Heloiza alelo",
                              "brand": "ALELO",
                              "issuer_name": "ALELO",
                              "country_code": "BR",
                              "category": "Refeição",
                              "type": "VOUCHER",
                              "iin": "50675825",
                              "lfd": "6014",
                              "expiration_month": 1,
                              "expiration_year": 28,
                              "fingerprint": "ae1b68a4-3fa7-4feb-9b20-d6f9d5896900"
                            }
                          }
                        }
                      },
                      "additional_data": {
                        "seller_details": {
                          "reference": "23570321000127",
                          "merchant_category_code": "5462"
                        }
                      },
                      "transactions": {
                        "id": "06949d56-23a5-4935-a934-578d529fb5f7",
                        "type": "VERIFY",
                        "status": "SUCCEEDED",
                        "category": "CARD",
                        "amount": 0,
                        "provider_id": "ALELO",
                        "response_code": "SUCCEEDED",
                        "response_message": "Transaction successful",
                        "merchant_reference": "12271575526",
                        "provider_data": {
                          "id": "ALELO",
                          "raw_response": {
                            "value": "eyJkYXRlVGltZSI6IjI1MTEwMzE2MjIxNyIsImFtb3VudCI6IjEiLCJhdXRob3JpemF0aW9uQ29kZSI6IjExMTc0NiIsInJlcXVlc3RJZCI6IjA2OTQ5ZDU2LTIzYTUtNDkzNS1hOTM0LTU3OGQ1MjlmYjVmNyIsIm1lc3NhZ2VzIjoiVHJhbnNhw6fDo28gRXN0b3JuYWRhIGNvbSBzdWNlc3NvLiIsImNhcmROdW1iZXIiOiI1MDY3NTgqKioqKio2MDE0Iiwic3RhdHVzIjoiRVNUT1JOQURBIn0="
                          }
                        },
                        "created_at": "2025-11-03T16:22:16.496981Z",
                        "updated_at": "2025-11-03T16:22:18.426433Z"
                      },
                      "transactions_history": [
                        {
                          "id": "06949d56-23a5-4935-a934-578d529fb5f7",
                          "type": "VERIFY",
                          "status": "SUCCEEDED",
                          "category": "CARD",
                          "amount": 0,
                          "provider_id": "ALELO",
                          "response_code": "SUCCEEDED",
                          "response_message": "Transaction successful",
                          "merchant_reference": "12271575526",
                          "provider_data": {
                            "id": "ALELO",
                            "raw_response": {
                              "value": "eyJkYXRlVGltZSI6IjI1MTEwMzE2MjIxNyIsImFtb3VudCI6IjEiLCJhdXRob3JpemF0aW9uQ29kZSI6IjExMTc0NiIsInJlcXVlc3RJZCI6IjA2OTQ5ZDU2LTIzYTUtNDkzNS1hOTM0LTU3OGQ1MjlmYjVmNyIsIm1lc3NhZ2VzIjoiVHJhbnNhw6fDo28gRXN0b3JuYWRhIGNvbSBzdWNlc3NvLiIsImNhcmROdW1iZXIiOiI1MDY3NTgqKioqKio2MDE0Iiwic3RhdHVzIjoiRVNUT1JOQURBIn0="
                            }
                          },
                          "created_at": "2025-11-03T16:22:16.496981Z",
                          "updated_at": "2025-11-03T16:22:18.426433Z"
                        }
                      ],
                      "routing_rules": {
                        "smart_routing": false,
                        "monitors": false,
                        "condition": {
                          "id": 1950011,
                          "name": "",
                          "description": ""
                        }
                      },
                      "simplified_mode": false
                    }
                  }
                }
              }
            },
            "description": "Success - Voucher payment"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                },
                "examples": {
                  "Bad request": {
                    "summary": "Bad request",
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid Credentials"
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "code": "INVALID_CREDENTIALS",
                      "messages": [
                        "Invalid Credentials"
                      ]
                    }
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Forbidden": {
                    "summary": "Forbidden",
                    "value": {
                      "code": "AUTHORIZATION_REQUIRED",
                      "messages": [
                        "The merchant has no authorization to use this API"
                      ]
                    }
                  }
                }
              }
            },
            "description": "Forbidden"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier used in HTTP headers to ensure that a request is processed only once, even if it is retried due to network issues or timeouts.",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on [the Yuno dashboard](https://dashboard.y.uno/) (UUID, 36 chars)."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the payment (MAX 255; MIN 3)."
                  },
                  "additional_data": {
                    "type": "object",
                    "description": "Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.",
                    "properties": {
                      "seller_details": {
                        "type": "object",
                        "description": "Specifies the seller's details object.",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "The seller's identification code (MAX 255; MIN 3)."
                          },
                          "merchant_category_code": {
                            "type": "string",
                            "description": "MCC - The merchant category code (MAX 235; MIN 1)."
                          }
                        }
                      }
                    }
                  },
                  "country": {
                    "type": "string",
                    "description": "Country where the transaction must be processed (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).",
                    "enum": [
                      "AR",
                      "BO",
                      "BR",
                      "CL",
                      "CO",
                      "CR",
                      "EC",
                      "SV",
                      "GT",
                      "HN",
                      "MX",
                      "NI",
                      "PA",
                      "PY",
                      "PE",
                      "US",
                      "UY"
                    ]
                  },
                  "merchant_order_id": {
                    "type": "string",
                    "description": "The unique identifier of the customer's order (MAX 255; MIN 3)."
                  },
                  "amount": {
                    "type": "object",
                    "description": "Specifies the payment amount object, with the value and currency.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).",
                        "enum": [
                          "ARS",
                          "BOB",
                          "BRL",
                          "CLP",
                          "COP",
                          "CRC",
                          "USD",
                          "SVC",
                          "GTQ",
                          "HNL",
                          "MXN",
                          "NIO",
                          "PAB",
                          "PYG",
                          "PEN",
                          "UYU"
                        ]
                      },
                      "value": {
                        "type": "number",
                        "description": "The payment amount (multiple of 0.0001).",
                        "format": "float"
                      }
                    }
                  },
                  "workflow": {
                    "type": "string",
                    "description": "The payment workflow. Indicates whether the integration will use Yuno´s SDK or will be a back to back connection. [Guides](doc:quickstart-guide) <ul> <li>`SDK_CHECKOUT`: [Recommended] - Use Yuno's SDK. </li> <li>`DIRECT`: Back to back integration with provider info for custom payment experience. </li> <li>`REDIRECT`: Back to back integration with provider redirection. </li> </ul>",
                    "default": "SDK_CHECKOUT",
                    "enum": [
                      "SDK_CHECKOUT",
                      "CHECKOUT",
                      "REDIRECT",
                      "DIRECT",
                      "SDK_SEAMLESS"
                    ]
                  },
                  "payment_method": {
                    "type": "object",
                    "description": "The payment method object.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Type of the payment method. Only required for `DIRECT` or `REDIRECT` workflow. Required when integrating wallets, even when using the SDK.",
                        "enum": [
                          "ACUOTAZ",
                          "ADDI",
                          "APPLE_PAY",
                          "BANCOLOMBIA_TOKEN_BOX",
                          "BANCOLOMBIA_TRANSFER",
                          "CARD",
                          "CASH",
                          "CODI",
                          "DAVIPLATA",
                          "EFECTY",
                          "GOOGLE_PAY",
                          "MERCADO_PAGO_CHECKOUT_PRO",
                          "MERCADO_PAGO_WALLET",
                          "NEQUI",
                          "NU_PAY",
                          "NU_PAY_ENROLLMENT",
                          "OXXO",
                          "PAYPAL",
                          "PAYVALIDA",
                          "PIX",
                          "PSE",
                          "SAFETYPAY",
                          "SPEI",
                          "TARJETA_CLAVE",
                          "WEBPAY",
                          "WIBOND"
                        ]
                      },
                      "detail": {
                        "type": "object",
                        "description": "Specifies the payment method detail object.",
                        "properties": {
                          "card": {
                            "type": "object",
                            "description": "Specifies the card object.",
                            "properties": {
                              "capture": {
                                "type": "boolean",
                                "description": "Determines whether the card payment is captured immediately (`TRUE` = purchase) or only authorized (`FALSE` = requires capture or cancel)."
                              },
                              "card_data": {
                                "type": "object",
                                "description": "Specifies the card_data object.",
                                "required": [
                                  "number",
                                  "holder_name"
                                ],
                                "properties": {
                                  "number": {
                                    "type": "string",
                                    "description": "Card's number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants."
                                  },
                                  "expiration_month": {
                                    "type": "integer",
                                    "description": "Card's expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.",
                                    "format": "int32"
                                  },
                                  "expiration_year": {
                                    "type": "integer",
                                    "description": "Card's expiration year - YYYY (MAX 4; MIN 2) - only available for PCI certified merchants.",
                                    "format": "int32"
                                  },
                                  "security_code": {
                                    "type": "string",
                                    "description": "Card's security code (MAX 4; MIN 3) - only available for PCI certified merchants."
                                  },
                                  "holder_name": {
                                    "type": "string",
                                    "description": "Cardholder's full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants."
                                  }
                                }
                              },
                              "verify": {
                                "type": "boolean",
                                "description": "Using  amount = 0 and verify = true, you can verify the user's card without authorizing a real amount. If the field is not sent, we will take it as false.",
                                "default": false
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "account_id",
                  "description",
                  "country",
                  "merchant_order_id",
                  "amount",
                  "payment_method"
                ]
              },
              "examples": {
                "Voucher payment": {
                  "summary": "Voucher payment",
                  "value": {
                    "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                    "description": "dlocal",
                    "country": "BR",
                    "merchant_order_id": "12271562679",
                    "amount": {
                      "value": 26.9,
                      "currency": "BRL"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "capture": true,
                          "verify": false,
                          "card_data": {
                            "number": "****************",
                            "expiration_month": 9,
                            "expiration_year": 33,
                            "security_code": "***",
                            "holder_name": "MARIANA SORRENTINO"
                          }
                        }
                      }
                    },
                    "additional_data": {
                      "seller_details": {
                        "reference": "****************",
                        "merchant_category_code": "5814"
                      }
                    }
                  }
                },
                "Voucher payment (verify)": {
                  "summary": "Voucher payment (verify)",
                  "value": {
                    "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                    "description": "dlocal",
                    "country": "BR",
                    "merchant_order_id": "12271575526",
                    "amount": {
                      "value": 0,
                      "currency": "BRL"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "capture": false,
                          "verify": true,
                          "card_data": {
                            "number": "****************",
                            "expiration_month": 1,
                            "expiration_year": 28,
                            "security_code": "***",
                            "holder_name": "Heloiza alelo"
                          }
                        }
                      }
                    },
                    "additional_data": {
                      "seller_details": {
                        "reference": "****************",
                        "merchant_category_code": "5462"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}