{
  "openapi": "3.1.0",
  "info": {
    "title": "create-payments-v2",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v2/payments"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your public-api-key>",
        "name": "public-api-key"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "public-secret-key",
        "x-default": "<Your public-secret-key>"
      },
      "sec2": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Idempotency-Key",
        "x-default": "<idempotency-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": [],
      "sec2": []
    }
  ],
  "paths": {
    "/:payment_id/transactions/:transaction_id/complete": {
      "post": {
        "summary": "Complete Payment",
        "description": "",
        "operationId": "complete-payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "three_d_secure"
                ],
                "properties": {
                  "three_d_secure": {
                    "type": "object",
                    "description": "Three d secure struct to complete the authorization",
                    "properties": {
                      "sdk_session_id": {
                        "type": "string",
                        "description": "Session id obtained after initializing Yuno'SDK with 3DS parameters gotten after the payment creation."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "3DS_COMPLETE_WITHOUT_CHALLENGE": {
                    "value": "{\n  \"payment\": {\n    \"id\": \"8a40e6cf-4f46-4977-b2f9-d4ca34d9d8e6\",\n    \"idempotency_key\": \"b76f923a-f2a9-4244-8f60-bc264c03ac28\",\n    \"account_code\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test\",\n    \"country\": \"AR\",\n    \"status\": \"SUCCEEDED\",\n    \"sub_status\": \"APPROVED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-03-09T08:37:13.634720Z\",\n    \"updated_at\": \"2023-03-09T08:37:17.469309Z\",\n    \"amount\": {\n      \"currency\": \"ARS\",\n      \"value\": 500,\n      \"refunded\": 0,\n      \"captured\": 0\n    },\n    \"checkout\": {\n      \"session\": \"\",\n      \"sdk_action_required\": false\n    },\n    \"customer_payer\": {\n      \"id\": null,\n      \"email\": \"john.doe@y.uno\",\n      \"first_name\": \"John\",\n      \"last_name\": \"Doe\",\n      \"merchant_customer_id\": \"example00234\",\n      \"document\": {\n        \"document_type\": \"DNI\",\n        \"document_number\": \"38799999\"\n      },\n      \"phone\": null,\n      \"billing_address\": {\n        \"address_line_1\": \"\",\n        \"address_line_2\": \"\"\n      },\n      \"shipping_address\": {\n        \"address_line_1\": \"\",\n        \"address_line_2\": \"\"\n      }\n    },\n    \"additional_data\": {\n      \"airline\": null,\n      \"order\": null,\n      \"seller_details\": null\n    },\n    \"taxes\": null,\n    \"transactions\": [\n      {\n        \"id\": \"c7a2d22d-eacc-4ed0-8b90-191da381d045\",\n        \"type\": \"3DS\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"3DS\",\n        \"amount\": 300,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n          \"vaulted_token\": \"\",\n          \"type\": \"CARD\",\n          \"vault_on_success\": false,\n          \"token\": \"\",\n          \"detail\": {\n            \"card\": {\n              \"verify\": null,\n              \"capture\": true,\n              \"installments\": 1,\n              \"first_installment_deferral\": 0,\n              \"installments_type\": \"\",\n              \"installment_amount\": null,\n              \"soft_descriptor\": \"\",\n              \"authorization_code\": \"\",\n              \"retrieval_reference_number\": \"\",\n              \"voucher\": null,\n              \"card_data\": {\n                \"holder_name\": \"JOHN DOE\",\n                \"iin\": \"4111111\",\n                \"lfd\": \"1111\",\n                \"number_length\": 16,\n                \"security_code_length\": 3,\n                \"brand\": \"VISA\",\n                \"issuer_name\": \"BANCO SANTANDER RIO, S.A.\",\n                \"issuer_code\": null,\n                \"category\": \"GOLD\",\n                \"type\": \"CREDIT\"\n              },\n              \"three_d_secure\": {\n                \"callback_url\": \"www.site.com\",\n                \"token\": \"AA0131238213JKDSAHDKOAN\",\n                \"collect_url\": \"www.site_collect.com\"\n              }\n            }\n          }\n        },\n        \"response_code\": \"CREATED\",\n        \"response_message\": \"3ds_pending\",\n        \"reason\": null,\n        \"description\": \"CREATED\",\n        \"merchant_reference\": \"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a\",\n        \"provider_data\": {},\n        \"created_at\": \"2023-03-09T08:37:13.762879Z\",\n        \"updated_at\": \"2023-03-09T08:37:17.449288Z\"\n      },\n      {\n        \"id\": \"c7a2d22d-eacc-4ed0-8b90-191da381d045\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 300,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n          \"vaulted_token\": \"\",\n          \"type\": \"CARD\",\n          \"vault_on_success\": false,\n          \"token\": \"\",\n          \"detail\": {\n            \"card\": {\n              \"verify\": null,\n              \"capture\": true,\n              \"installments\": 1,\n              \"first_installment_deferral\": 0,\n              \"installments_type\": \"\",\n              \"installment_amount\": null,\n              \"soft_descriptor\": \"\",\n              \"authorization_code\": \"\",\n              \"retrieval_reference_number\": \"\",\n              \"voucher\": null,\n              \"card_data\": {\n                \"holder_name\": \"JOHN DOE\",\n                \"iin\": \"4111111\",\n                \"lfd\": \"1111\",\n                \"number_length\": 16,\n                \"security_code_length\": 3,\n                \"brand\": \"VISA\",\n                \"issuer_name\": \"BANCO SANTANDER RIO, S.A.\",\n                \"issuer_code\": null,\n                \"category\": \"GOLD\",\n                \"type\": \"CREDIT\"\n              }\n            }\n          }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction approved\",\n        \"reason\": null,\n        \"description\": \"APPROVED\",\n        \"merchant_reference\": \"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a\",\n        \"provider_data\": {},\n        \"created_at\": \"2023-03-09T08:37:13.762879Z\",\n        \"updated_at\": \"2023-03-09T08:37:17.449288Z\"\n      }\n    ],\n    \"workflow\": \"DIRECT\"\n  }\n}"
                  },
                  "3DS_COMPLETE_WITH_CHALLENGE": {
                    "value": "{\n  \"payment\": {\n    \"id\": \"8a40e6cf-4f46-4977-b2f9-d4ca34d9d8e6\",\n    \"idempotency_key\": \"b76f923a-f2a9-4244-8f60-bc264c03ac28\",\n    \"account_code\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test\",\n    \"country\": \"AR\",\n    \"status\": \"SUCCEEDED\",\n    \"sub_status\": \"APPROVED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-03-09T08:37:13.634720Z\",\n    \"updated_at\": \"2023-03-09T08:37:17.469309Z\",\n    \"amount\": {\n      \"currency\": \"ARS\",\n      \"value\": 500,\n      \"refunded\": 0,\n      \"captured\": 0\n    },\n    \"checkout\": {\n      \"session\": \"\",\n      \"sdk_action_required\": \"3DS\"\n    },\n    \"customer_payer\": {\n      \"id\": null,\n      \"email\": \"john.doe@y.uno\",\n      \"first_name\": \"John\",\n      \"last_name\": \"Doe\",\n      \"merchant_customer_id\": \"example00234\",\n      \"document\": {\n        \"document_type\": \"DNI\",\n        \"document_number\": \"38799999\"\n      },\n      \"phone\": null,\n      \"billing_address\": {\n        \"address_line_1\": \"\",\n        \"address_line_2\": \"\"\n      },\n      \"shipping_address\": {\n        \"address_line_1\": \"\",\n        \"address_line_2\": \"\"\n      }\n    },\n    \"additional_data\": {\n      \"airline\": null,\n      \"order\": null,\n      \"seller_details\": null\n    },\n    \"taxes\": null,\n    \"transactions\": [\n      {\n        \"id\": \"c7a2d22d-eacc-4ed0-8b90-191da381d045\",\n        \"type\": \"3DS\",\n        \"status\": \"PENDING\",\n        \"category\": \"3DS\",\n        \"amount\": 300,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n          \"vaulted_token\": \"\",\n          \"type\": \"CARD\",\n          \"vault_on_success\": false,\n          \"token\": \"\",\n          \"detail\": {\n            \"card\": {\n              \"verify\": null,\n              \"capture\": true,\n              \"installments\": 1,\n              \"first_installment_deferral\": 0,\n              \"installments_type\": \"\",\n              \"installment_amount\": null,\n              \"soft_descriptor\": \"\",\n              \"authorization_code\": \"\",\n              \"retrieval_reference_number\": \"\",\n              \"voucher\": null,\n              \"card_data\": {\n                \"holder_name\": \"JOHN DOE\",\n                \"iin\": \"4111111\",\n                \"lfd\": \"1111\",\n                \"number_length\": 16,\n                \"security_code_length\": 3,\n                \"brand\": \"VISA\",\n                \"issuer_name\": \"BANCO SANTANDER RIO, S.A.\",\n                \"issuer_code\": null,\n                \"category\": \"GOLD\",\n                \"type\": \"CREDIT\"\n              },\n              \"three_d_secure\": {\n                \"callback_url\": \"www.site.com\",\n                \"token\": \"AA0131238213JKDSAHDKOAN\",\n                \"collect_url\": \"www.site_collect.com\",\n                \"redirect_url\":\"www.challenge_url.com\"\n              }\n            }\n          }\n        },\n        \"response_code\": \"CREATED\",\n        \"response_message\": \"3ds_pending\",\n        \"reason\": null,\n        \"description\": \"CREATED\",\n        \"merchant_reference\": \"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a\",\n        \"provider_data\": {},\n        \"created_at\": \"2023-03-09T08:37:13.762879Z\",\n        \"updated_at\": \"2023-03-09T08:37:17.449288Z\"\n      }\n    ],\n    \"workflow\": \"DIRECT\"\n  }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "3DS_COMPLETE_WITHOUT_CHALLENGE",
                      "type": "object",
                      "properties": {
                        "payment": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "8a40e6cf-4f46-4977-b2f9-d4ca34d9d8e6"
                            },
                            "idempotency_key": {
                              "type": "string",
                              "example": "b76f923a-f2a9-4244-8f60-bc264c03ac28"
                            },
                            "account_code": {
                              "type": "string",
                              "example": "493e9374-510a-4201-9e09-de669d75f256"
                            },
                            "account_id": {
                              "type": "string",
                              "example": "493e9374-510a-4201-9e09-de669d75f256"
                            },
                            "description": {
                              "type": "string",
                              "example": "Test"
                            },
                            "country": {
                              "type": "string",
                              "example": "AR"
                            },
                            "status": {
                              "type": "string",
                              "example": "SUCCEEDED"
                            },
                            "sub_status": {
                              "type": "string",
                              "example": "APPROVED"
                            },
                            "merchant_order_id": {
                              "type": "string",
                              "example": "0000023"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2023-03-09T08:37:13.634720Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2023-03-09T08:37:17.469309Z"
                            },
                            "amount": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "example": "ARS"
                                },
                                "value": {
                                  "type": "integer",
                                  "example": 500,
                                  "default": 0
                                },
                                "refunded": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "captured": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                }
                              }
                            },
                            "checkout": {
                              "type": "object",
                              "properties": {
                                "session": {
                                  "type": "string",
                                  "example": ""
                                },
                                "sdk_action_required": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                }
                              }
                            },
                            "customer_payer": {
                              "type": "object",
                              "properties": {
                                "id": {},
                                "email": {
                                  "type": "string",
                                  "example": "john.doe@y.uno"
                                },
                                "first_name": {
                                  "type": "string",
                                  "example": "John"
                                },
                                "last_name": {
                                  "type": "string",
                                  "example": "Doe"
                                },
                                "merchant_customer_id": {
                                  "type": "string",
                                  "example": "example00234"
                                },
                                "document": {
                                  "type": "object",
                                  "properties": {
                                    "document_type": {
                                      "type": "string",
                                      "example": "DNI"
                                    },
                                    "document_number": {
                                      "type": "string",
                                      "example": "38799999"
                                    }
                                  }
                                },
                                "phone": {},
                                "billing_address": {
                                  "type": "object",
                                  "properties": {
                                    "address_line_1": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "address_line_2": {
                                      "type": "string",
                                      "example": ""
                                    }
                                  }
                                },
                                "shipping_address": {
                                  "type": "object",
                                  "properties": {
                                    "address_line_1": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "address_line_2": {
                                      "type": "string",
                                      "example": ""
                                    }
                                  }
                                }
                              }
                            },
                            "additional_data": {
                              "type": "object",
                              "properties": {
                                "airline": {},
                                "order": {},
                                "seller_details": {}
                              }
                            },
                            "taxes": {},
                            "transactions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "c7a2d22d-eacc-4ed0-8b90-191da381d045"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "3DS"
                                  },
                                  "status": {
                                    "type": "string",
                                    "example": "SUCCEEDED"
                                  },
                                  "category": {
                                    "type": "string",
                                    "example": "3DS"
                                  },
                                  "amount": {
                                    "type": "integer",
                                    "example": 300,
                                    "default": 0
                                  },
                                  "provider_id": {
                                    "type": "string",
                                    "example": "YUNO_TEST_PAYMENT_GW"
                                  },
                                  "payment_method": {
                                    "type": "object",
                                    "properties": {
                                      "vaulted_token": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "CARD"
                                      },
                                      "vault_on_success": {
                                        "type": "boolean",
                                        "example": false,
                                        "default": true
                                      },
                                      "token": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "detail": {
                                        "type": "object",
                                        "properties": {
                                          "card": {
                                            "type": "object",
                                            "properties": {
                                              "verify": {},
                                              "capture": {
                                                "type": "boolean",
                                                "example": true,
                                                "default": true
                                              },
                                              "installments": {
                                                "type": "integer",
                                                "example": 1,
                                                "default": 0
                                              },
                                              "first_installment_deferral": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "installments_type": {
                                                "type": "string",
                                                "example": ""
                                              },
                                              "installment_amount": {},
                                              "soft_descriptor": {
                                                "type": "string",
                                                "example": ""
                                              },
                                              "authorization_code": {
                                                "type": "string",
                                                "example": ""
                                              },
                                              "retrieval_reference_number": {
                                                "type": "string",
                                                "example": ""
                                              },
                                              "voucher": {},
                                              "card_data": {
                                                "type": "object",
                                                "properties": {
                                                  "holder_name": {
                                                    "type": "string",
                                                    "example": "JOHN DOE"
                                                  },
                                                  "iin": {
                                                    "type": "string",
                                                    "example": "4111111"
                                                  },
                                                  "lfd": {
                                                    "type": "string",
                                                    "example": "1111"
                                                  },
                                                  "number_length": {
                                                    "type": "integer",
                                                    "example": 16,
                                                    "default": 0
                                                  },
                                                  "security_code_length": {
                                                    "type": "integer",
                                                    "example": 3,
                                                    "default": 0
                                                  },
                                                  "brand": {
                                                    "type": "string",
                                                    "example": "VISA"
                                                  },
                                                  "issuer_name": {
                                                    "type": "string",
                                                    "example": "BANCO SANTANDER RIO, S.A."
                                                  },
                                                  "issuer_code": {},
                                                  "category": {
                                                    "type": "string",
                                                    "example": "GOLD"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "example": "CREDIT"
                                                  }
                                                }
                                              },
                                              "three_d_secure": {
                                                "type": "object",
                                                "properties": {
                                                  "callback_url": {
                                                    "type": "string",
                                                    "example": "www.site.com"
                                                  },
                                                  "token": {
                                                    "type": "string",
                                                    "example": "AA0131238213JKDSAHDKOAN"
                                                  },
                                                  "collect_url": {
                                                    "type": "string",
                                                    "example": "www.site_collect.com"
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "response_code": {
                                    "type": "string",
                                    "example": "CREATED"
                                  },
                                  "response_message": {
                                    "type": "string",
                                    "example": "3ds_pending"
                                  },
                                  "reason": {},
                                  "description": {
                                    "type": "string",
                                    "example": "CREATED"
                                  },
                                  "merchant_reference": {
                                    "type": "string",
                                    "example": "reference-8eb992b0-c04a-4851-aed8-e38cd27be23a"
                                  },
                                  "provider_data": {
                                    "type": "object",
                                    "properties": {}
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "example": "2023-03-09T08:37:13.762879Z"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "example": "2023-03-09T08:37:17.449288Z"
                                  }
                                }
                              }
                            },
                            "workflow": {
                              "type": "string",
                              "example": "DIRECT"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "3DS_COMPLETE_WITH_CHALLENGE",
                      "type": "object",
                      "properties": {
                        "payment": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "8a40e6cf-4f46-4977-b2f9-d4ca34d9d8e6"
                            },
                            "idempotency_key": {
                              "type": "string",
                              "example": "b76f923a-f2a9-4244-8f60-bc264c03ac28"
                            },
                            "account_code": {
                              "type": "string",
                              "example": "493e9374-510a-4201-9e09-de669d75f256"
                            },
                            "account_id": {
                              "type": "string",
                              "example": "493e9374-510a-4201-9e09-de669d75f256"
                            },
                            "description": {
                              "type": "string",
                              "example": "Test"
                            },
                            "country": {
                              "type": "string",
                              "example": "AR"
                            },
                            "status": {
                              "type": "string",
                              "example": "SUCCEEDED"
                            },
                            "sub_status": {
                              "type": "string",
                              "example": "APPROVED"
                            },
                            "merchant_order_id": {
                              "type": "string",
                              "example": "0000023"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2023-03-09T08:37:13.634720Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2023-03-09T08:37:17.469309Z"
                            },
                            "amount": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "example": "ARS"
                                },
                                "value": {
                                  "type": "integer",
                                  "example": 500,
                                  "default": 0
                                },
                                "refunded": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "captured": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                }
                              }
                            },
                            "checkout": {
                              "type": "object",
                              "properties": {
                                "session": {
                                  "type": "string",
                                  "example": ""
                                },
                                "sdk_action_required": {
                                  "type": "string",
                                  "example": "3DS"
                                }
                              }
                            },
                            "customer_payer": {
                              "type": "object",
                              "properties": {
                                "id": {},
                                "email": {
                                  "type": "string",
                                  "example": "john.doe@y.uno"
                                },
                                "first_name": {
                                  "type": "string",
                                  "example": "John"
                                },
                                "last_name": {
                                  "type": "string",
                                  "example": "Doe"
                                },
                                "merchant_customer_id": {
                                  "type": "string",
                                  "example": "example00234"
                                },
                                "document": {
                                  "type": "object",
                                  "properties": {
                                    "document_type": {
                                      "type": "string",
                                      "example": "DNI"
                                    },
                                    "document_number": {
                                      "type": "string",
                                      "example": "38799999"
                                    }
                                  }
                                },
                                "phone": {},
                                "billing_address": {
                                  "type": "object",
                                  "properties": {
                                    "address_line_1": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "address_line_2": {
                                      "type": "string",
                                      "example": ""
                                    }
                                  }
                                },
                                "shipping_address": {
                                  "type": "object",
                                  "properties": {
                                    "address_line_1": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "address_line_2": {
                                      "type": "string",
                                      "example": ""
                                    }
                                  }
                                }
                              }
                            },
                            "additional_data": {
                              "type": "object",
                              "properties": {
                                "airline": {},
                                "order": {},
                                "seller_details": {}
                              }
                            },
                            "taxes": {},
                            "transactions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "c7a2d22d-eacc-4ed0-8b90-191da381d045"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "3DS"
                                  },
                                  "status": {
                                    "type": "string",
                                    "example": "PENDING"
                                  },
                                  "category": {
                                    "type": "string",
                                    "example": "3DS"
                                  },
                                  "amount": {
                                    "type": "integer",
                                    "example": 300,
                                    "default": 0
                                  },
                                  "provider_id": {
                                    "type": "string",
                                    "example": "YUNO_TEST_PAYMENT_GW"
                                  },
                                  "payment_method": {
                                    "type": "object",
                                    "properties": {
                                      "vaulted_token": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "CARD"
                                      },
                                      "vault_on_success": {
                                        "type": "boolean",
                                        "example": false,
                                        "default": true
                                      },
                                      "token": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "detail": {
                                        "type": "object",
                                        "properties": {
                                          "card": {
                                            "type": "object",
                                            "properties": {
                                              "verify": {},
                                              "capture": {
                                                "type": "boolean",
                                                "example": true,
                                                "default": true
                                              },
                                              "installments": {
                                                "type": "integer",
                                                "example": 1,
                                                "default": 0
                                              },
                                              "first_installment_deferral": {
                                                "type": "integer",
                                                "example": 0,
                                                "default": 0
                                              },
                                              "installments_type": {
                                                "type": "string",
                                                "example": ""
                                              },
                                              "installment_amount": {},
                                              "soft_descriptor": {
                                                "type": "string",
                                                "example": ""
                                              },
                                              "authorization_code": {
                                                "type": "string",
                                                "example": ""
                                              },
                                              "retrieval_reference_number": {
                                                "type": "string",
                                                "example": ""
                                              },
                                              "voucher": {},
                                              "card_data": {
                                                "type": "object",
                                                "properties": {
                                                  "holder_name": {
                                                    "type": "string",
                                                    "example": "JOHN DOE"
                                                  },
                                                  "iin": {
                                                    "type": "string",
                                                    "example": "4111111"
                                                  },
                                                  "lfd": {
                                                    "type": "string",
                                                    "example": "1111"
                                                  },
                                                  "number_length": {
                                                    "type": "integer",
                                                    "example": 16,
                                                    "default": 0
                                                  },
                                                  "security_code_length": {
                                                    "type": "integer",
                                                    "example": 3,
                                                    "default": 0
                                                  },
                                                  "brand": {
                                                    "type": "string",
                                                    "example": "VISA"
                                                  },
                                                  "issuer_name": {
                                                    "type": "string",
                                                    "example": "BANCO SANTANDER RIO, S.A."
                                                  },
                                                  "issuer_code": {},
                                                  "category": {
                                                    "type": "string",
                                                    "example": "GOLD"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "example": "CREDIT"
                                                  }
                                                }
                                              },
                                              "three_d_secure": {
                                                "type": "object",
                                                "properties": {
                                                  "callback_url": {
                                                    "type": "string",
                                                    "example": "www.site.com"
                                                  },
                                                  "token": {
                                                    "type": "string",
                                                    "example": "AA0131238213JKDSAHDKOAN"
                                                  },
                                                  "collect_url": {
                                                    "type": "string",
                                                    "example": "www.site_collect.com"
                                                  },
                                                  "redirect_url": {
                                                    "type": "string",
                                                    "example": "www.challenge_url.com"
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "response_code": {
                                    "type": "string",
                                    "example": "CREATED"
                                  },
                                  "response_message": {
                                    "type": "string",
                                    "example": "3ds_pending"
                                  },
                                  "reason": {},
                                  "description": {
                                    "type": "string",
                                    "example": "CREATED"
                                  },
                                  "merchant_reference": {
                                    "type": "string",
                                    "example": "reference-8eb992b0-c04a-4851-aed8-e38cd27be23a"
                                  },
                                  "provider_data": {
                                    "type": "object",
                                    "properties": {}
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "example": "2023-03-09T08:37:13.762879Z"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "example": "2023-03-09T08:37:17.449288Z"
                                  }
                                }
                              }
                            },
                            "workflow": {
                              "type": "string",
                              "example": "DIRECT"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/new-endpoint": {
      "post": {
        "description": "",
        "operationId": "post_new-endpoint",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": []
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}