{"openapi":"3.1.0","info":{"title":"currency-conversions","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"X-Public-Api-Key","x-default":"X-Public-Api-Key"},"sec1":{"type":"apiKey","in":"header","name":"X-Private-Secret-Key","x-default":"X-Private-Secret-Key"}}},"security":[{"sec0":[],"sec1":[]}],"paths":{"/currency_conversions":{"post":{"summary":"Get Conversion Rate","description":"This page will help you get started with Currency conversions.","operationId":"get-conversion-rate","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","amount","provider_data"],"properties":{"account_id":{"type":"string","description":"The unique identifier of the account. You find this information on Yuno's Dashboard (MAX 64; MIN 36)."},"amount":{"type":"object","description":"Amount to be converted","required":["value","currency"],"properties":{"value":{"type":"string","description":"Amount of the payment"},"currency":{"type":"string","description":"The currency used to make the payment (ISO 4217 MAX 3; MIN 3)"},"currency_conversion":{"type":"object","description":"Information to make the conversion","required":["cardholder_currency"],"properties":{"cardholder_currency":{"type":"string","description":"The currency to make the conversion (ISO 4217 MAX 3; MIN 3)"}}}}},"provider_data":{"type":"object","description":"Provider information","properties":{"id":{"type":"string","description":"Identification of the provider","enum":["CIBC","MERCADO_PAGO"]}}},"payment_method":{"type":"object","description":"Payment method information.","properties":{"card":{"type":"object","description":"Card information required for the currency conversion. Only for PCI compliant merchants.","properties":{"card_data":{"type":"object","description":"Card data information","properties":{"number":{"type":"string","description":"Card’s number without any separators.  (MAX 19; MIN 8) - only available for PCI certified merchants"},"expiration_month":{"type":"integer","description":"Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants","format":"int32"},"expiration_year":{"type":"integer","description":"Card’s expiration year - YYYY  (MAX 4; MIN 2) - only available for PCI certified merchants","format":"int32"},"holder_name":{"type":"string","description":"Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants"}}}}}}}}},"examples":{"Example":{"value":{"account_id":"fe14c7c6-c75e-43b7-bdbe-4c87ad52c482","amount":{"value":10000,"currency":"COP","currency_conversion":{"cardholder_currency":"USD","provider_data":{"id":"CIBC"}}},"payment_method":{"card":{"card_data":{"number":"4111111111111111","holder_name":"JOHN DOE","expiration_month":12,"expiration_year":25}}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"599cc714-9bb6-4a3c-8465-c360cd47e04e\",\n    \"amount\": {\n        \"value\": 10000,\n        \"currency\": \"COP\",\n        \"currency_conversion\": {\n            \"cardholder_currency\": \"USD\",\n            \"cardholder_amount\": 2.58,\n            \"rate\": 3879.812207,\n            \"provider_data\": {\n                \"id\": \"CIBC\",\n                \"transaction_id\": \"274c4fc9a1e3c27625fc4d925e0331783c3c5c94358280158d3980e97ac66795a80970d48c176078f394106345c05215431bbc6260a6980db3a2e0b753db1a3f32d0c8adfc02c18794dc07ac1c13a14e581a3d78ba4b9c5afdae537f38cc495628239b7470a997cc8d5b51ae787603b64de3b19cea09f825f6fd13896656b75092bd7fe19a0560df29b94\",\n                \"response_code\": \"2000\",\n                \"response_message\": \"Successful\",\n                \"raw_response\": {\n                    \"fxRateInquiryResponse\": {\n                        \"localDate\": 210,\n                        \"localTime\": 180927,\n                        \"merchantID\": \"18695684\",\n                        \"rateEndTime\": 1739212767659,\n                        \"ratePreferenceCode\": \"R1\",\n                        \"rateStartTime\": 1739210967659,\n                        \"rateValidityPeriod\": 30,\n                        \"rates\": [\n                            {\n                                \"cardholderAmount\": 2.58,\n                                \"cardholderCurrency\": \"840\",\n                                \"merchantAmount\": 10000,\n                                \"merchantCurrency\": \"170\",\n                                \"rate\": 3879.812207,\n                                \"rateInquiryRef\": \"274c4fc9a1e3c27625fc4d925e0331783c3c5c94358280158d3980e97ac66795a80970d48c176078f394106345c05215431bbc6260a6980db3a2e0b753db1a3f32d0c8adfc02c18794dc07ac1c13a14e581a3d78ba4b9c5afdae537f38cc495628239b7470a997cc8d5b51ae787603b64de3b19cea09f825f6fd13896656b75092bd7fe19a0560df29b94\"\n                            }\n                        ],\n                        \"responseCode\": \"2000\",\n                        \"responseMessage\": \"Successful\",\n                        \"sessionId\": \"2a587fa2-e7da-11ef-8b88-7e36493c761f\",\n                        \"terminalID\": \"CT000001\",\n                        \"traceNumber\": 3594\n                    }\n                }\n            }\n        }\n    },\n    \"expired_at\": \"2025-02-10T18:39:27Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"599cc714-9bb6-4a3c-8465-c360cd47e04e"},"amount":{"type":"object","properties":{"value":{"type":"integer","example":10000,"default":0},"currency":{"type":"string","example":"COP"},"currency_conversion":{"type":"object","properties":{"cardholder_currency":{"type":"string","example":"USD"},"cardholder_amount":{"type":"number","example":2.58,"default":0},"rate":{"type":"number","example":3879.812207,"default":0},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"CIBC"},"transaction_id":{"type":"string","example":"274c4fc9a1e3c27625fc4d925e0331783c3c5c94358280158d3980e97ac66795a80970d48c176078f394106345c05215431bbc6260a6980db3a2e0b753db1a3f32d0c8adfc02c18794dc07ac1c13a14e581a3d78ba4b9c5afdae537f38cc495628239b7470a997cc8d5b51ae787603b64de3b19cea09f825f6fd13896656b75092bd7fe19a0560df29b94"},"response_code":{"type":"string","example":"2000"},"response_message":{"type":"string","example":"Successful"},"raw_response":{"type":"object","properties":{"fxRateInquiryResponse":{"type":"object","properties":{"localDate":{"type":"integer","example":210,"default":0},"localTime":{"type":"integer","example":180927,"default":0},"merchantID":{"type":"string","example":"18695684"},"rateEndTime":{"type":"integer","example":1739212767659,"default":0},"ratePreferenceCode":{"type":"string","example":"R1"},"rateStartTime":{"type":"integer","example":1739210967659,"default":0},"rateValidityPeriod":{"type":"integer","example":30,"default":0},"rates":{"type":"array","items":{"type":"object","properties":{"cardholderAmount":{"type":"number","example":2.58,"default":0},"cardholderCurrency":{"type":"string","example":"840"},"merchantAmount":{"type":"integer","example":10000,"default":0},"merchantCurrency":{"type":"string","example":"170"},"rate":{"type":"number","example":3879.812207,"default":0},"rateInquiryRef":{"type":"string","example":"274c4fc9a1e3c27625fc4d925e0331783c3c5c94358280158d3980e97ac66795a80970d48c176078f394106345c05215431bbc6260a6980db3a2e0b753db1a3f32d0c8adfc02c18794dc07ac1c13a14e581a3d78ba4b9c5afdae537f38cc495628239b7470a997cc8d5b51ae787603b64de3b19cea09f825f6fd13896656b75092bd7fe19a0560df29b94"}}}},"responseCode":{"type":"string","example":"2000"},"responseMessage":{"type":"string","example":"Successful"},"sessionId":{"type":"string","example":"2a587fa2-e7da-11ef-8b88-7e36493c761f"},"terminalID":{"type":"string","example":"CT000001"},"traceNumber":{"type":"integer","example":3594,"default":0}}}}}}}}}}},"expired_at":{"type":"string","example":"2025-02-10T18:39:27Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}