{"openapi":"3.1.0","info":{"title":"customer-api-register-payment-method","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1/customers"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"public-api-key","x-default":"<Your public-api-key>"},"sec1":{"type":"apiKey","in":"header","x-default":"<Your private-secret-key>","name":"private-secret-key"},"sec2":{"type":"apiKey","in":"header","name":"X-Idempotency-Key","x-default":"<Your X-Idempotency-Key>"}}},"security":[{"sec0":[],"sec1":[],"sec2":[]}],"paths":{"/sessions/{customer_session}/payment-methods":{"post":{"summary":"Enroll Payment Method","description":"","operationId":"enroll-payment-method-checkout","parameters":[{"name":"customer_session","in":"path","description":"The customer session that has been created for the enrollment using the [Create Customer Session](https://docs.y.uno/reference/create-customer-session) endpoint (MAX 64; MIN 36).","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","payment_method_type","country"],"properties":{"account_id":{"type":"string","description":"The unique identifier of the account. You find this information on [Yuno's Dashboard](https://dashboard.y.uno/)."},"payment_method_type":{"type":"string","description":"The payment method type (MAX 255; MIN 3; [Payment Type List](ref:payment-type-list)).","enum":["CARD","MERCADO_PAGO_WALLET","NEQUI","BANCOLOMBIA_TOKENBOX","NU_PAY_ENROLLMENT"]},"country":{"type":"string","description":"The transaction's country code (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"verify":{"type":"object","description":"Indicates whether to verify the payment with a verify transaction or not. You’ll need to have a provider defined in your CARD route. False by default. Access the [Card Verification](doc:card-verification) page for more details.","required":["vault_on_success"],"properties":{"vault_on_success":{"type":"boolean","description":"Indicates whether to verify the payment with a verify transaction or not. You’ll need to have a provider defined in your CARD route. False by default."},"currency":{"type":"string","description":"Currency of the card verification","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU"]}}}}},"examples":{"Enroll":{"value":{"account_id":"493e9374-510a-4201-9e09-de669d75f256","payment_method_type":"CARD","country":"US"}},"Enroll with card verification":{"value":{"account_id":"493e9374-510a-4201-9e09-de669d75f256","payment_method_type":"CARD","country":"US","verify":{"vault_on_success":true,"currency":"USD"}}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Enroll":{"value":"{\n    \"id\": \"0395199e-a99c-4a85-acac-6c916f43fa74\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"name\": \"Visa Credit Card\",\n    \"description\": \"Visa Credit Card\",\n    \"type\": \"VISA\",\n    \"category\": \"CARD\",\n    \"country\": \"US\",\n    \"status\": \"READY_TO_ENROLL\",\n    \"created_at\": \"2024-06-06T13:14:18.799434Z\",\n    \"updated_at\": \"2024-06-06T13:14:18.799437Z\",\n    \"enrollment\": {\n        \"session\": \"6641e30d-ca7a-440f-b97c-24231eac6dab\",\n        \"sdk_required_action\": false\n    },\n    \"provider\": {\n        \"id\": \"YUNO\",\n        \"type\": \"YUNO\",\n        \"provider_status\": null\n    },\n    \"customer_payer\": {\n        \"first_name\": \"John\",\n        \"last_name\": \"Doe\",\n        \"email\": \"john.doe@email.com\",\n        \"gender\": \"M\",\n        \"date_of_birth\": \"1990-02-28\",\n        \"document\": {\n            \"document_number\": \"123456789\",\n            \"document_type\": \"SSN\"\n        },\n        \"phone\": {\n            \"number\": \"1234567890\",\n            \"country_code\": \"1\"\n        },\n        \"billing_address\": {\n            \"address_line_1\": \"123 Main St\",\n            \"address_line_2\": \"Apt 4B\",\n            \"country\": \"US\",\n            \"state\": \"NY\",\n            \"city\": \"New York\",\n            \"zip_code\": \"10001\"\n        }\n    },\n    \"verify\": {\n        \"vault_on_success\": false,\n        \"payment\": null\n    },\n    \"preferred\": null\n}\n"},"Enroll with card verification":{"value":"{\n    \"id\": \"51887489-60d3-45a9-b895-81d3c1c3aec6\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"name\": \"Visa Credit Card\",\n    \"description\": \"Visa Credit Card\",\n    \"type\": \"VISA\",\n    \"category\": \"CARD\",\n    \"country\": \"US\",\n    \"status\": \"READY_TO_ENROLL\",\n    \"created_at\": \"2024-06-06T13:19:57.828087Z\",\n    \"updated_at\": \"2024-06-06T13:19:57.828089Z\",\n    \"enrollment\": {\n        \"session\": \"238fc319-4a31-4568-be7f-c475e8fbe230\",\n        \"sdk_required_action\": false\n    },\n    \"provider\": {\n        \"id\": \"YUNO\",\n        \"type\": \"YUNO\",\n        \"provider_status\": null\n    },\n    \"customer_payer\": {\n        \"first_name\": \"John\",\n        \"last_name\": \"Doe\",\n        \"email\": \"john.doe@email.com\",\n        \"gender\": \"M\",\n        \"date_of_birth\": \"1990-02-28\",\n        \"document\": {\n            \"document_number\": \"123456789\",\n            \"document_type\": \"SSN\"\n        },\n        \"phone\": {\n            \"number\": \"1234567890\",\n            \"country_code\": \"1\"\n        },\n        \"billing_address\": {\n            \"address_line_1\": \"123 Main St\",\n            \"address_line_2\": \"Apt 4B\",\n            \"country\": \"US\",\n            \"state\": \"NY\",\n            \"city\": \"New York\",\n            \"zip_code\": \"10001\"\n        }\n    },\n    \"verify\": {\n        \"vault_on_success\": true,\n        \"currency\": \"USD\",\n        \"payment\": null\n    },\n    \"preferred\": null\n}\n"}},"schema":{"oneOf":[{"title":"Enroll","type":"object","properties":{"id":{"type":"string","example":"0395199e-a99c-4a85-acac-6c916f43fa74"},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"name":{"type":"string","example":"Visa Credit Card"},"description":{"type":"string","example":"Visa Credit Card"},"type":{"type":"string","example":"VISA"},"category":{"type":"string","example":"CARD"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"READY_TO_ENROLL"},"created_at":{"type":"string","example":"2024-06-06T13:14:18.799434Z"},"updated_at":{"type":"string","example":"2024-06-06T13:14:18.799437Z"},"enrollment":{"type":"object","properties":{"session":{"type":"string","example":"6641e30d-ca7a-440f-b97c-24231eac6dab"},"sdk_required_action":{"type":"boolean","example":false,"default":true}}},"provider":{"type":"object","properties":{"id":{"type":"string","example":"YUNO"},"type":{"type":"string","example":"YUNO"},"provider_status":{}}},"customer_payer":{"type":"object","properties":{"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"email":{"type":"string","example":"john.doe@email.com"},"gender":{"type":"string","example":"M"},"date_of_birth":{"type":"string","example":"1990-02-28"},"document":{"type":"object","properties":{"document_number":{"type":"string","example":"123456789"},"document_type":{"type":"string","example":"SSN"}}},"phone":{"type":"object","properties":{"number":{"type":"string","example":"1234567890"},"country_code":{"type":"string","example":"1"}}},"billing_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"123 Main St"},"address_line_2":{"type":"string","example":"Apt 4B"},"country":{"type":"string","example":"US"},"state":{"type":"string","example":"NY"},"city":{"type":"string","example":"New York"},"zip_code":{"type":"string","example":"10001"}}}}},"verify":{"type":"object","properties":{"vault_on_success":{"type":"boolean","example":false,"default":true},"payment":{}}},"preferred":{}}},{"title":"Enroll with card verification","type":"object","properties":{"id":{"type":"string","example":"51887489-60d3-45a9-b895-81d3c1c3aec6"},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"name":{"type":"string","example":"Visa Credit Card"},"description":{"type":"string","example":"Visa Credit Card"},"type":{"type":"string","example":"VISA"},"category":{"type":"string","example":"CARD"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"READY_TO_ENROLL"},"created_at":{"type":"string","example":"2024-06-06T13:19:57.828087Z"},"updated_at":{"type":"string","example":"2024-06-06T13:19:57.828089Z"},"enrollment":{"type":"object","properties":{"session":{"type":"string","example":"238fc319-4a31-4568-be7f-c475e8fbe230"},"sdk_required_action":{"type":"boolean","example":false,"default":true}}},"provider":{"type":"object","properties":{"id":{"type":"string","example":"YUNO"},"type":{"type":"string","example":"YUNO"},"provider_status":{}}},"customer_payer":{"type":"object","properties":{"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"email":{"type":"string","example":"john.doe@email.com"},"gender":{"type":"string","example":"M"},"date_of_birth":{"type":"string","example":"1990-02-28"},"document":{"type":"object","properties":{"document_number":{"type":"string","example":"123456789"},"document_type":{"type":"string","example":"SSN"}}},"phone":{"type":"object","properties":{"number":{"type":"string","example":"1234567890"},"country_code":{"type":"string","example":"1"}}},"billing_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"123 Main St"},"address_line_2":{"type":"string","example":"Apt 4B"},"country":{"type":"string","example":"US"},"state":{"type":"string","example":"NY"},"city":{"type":"string","example":"New York"},"zip_code":{"type":"string","example":"10001"}}}}},"verify":{"type":"object","properties":{"vault_on_success":{"type":"boolean","example":true,"default":true},"currency":{"type":"string","example":"USD"},"payment":{}}},"preferred":{}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}},"/{customer_id}/payment-methods":{"post":{"summary":"Enroll Payment Method","description":"","operationId":"enroll-payment-method-api","parameters":[{"name":"customer_id","in":"path","description":"The unique identifier of the customer, created using the [Create Customer](https://docs.y.uno/reference/create-customer) endpoint (MAX 64; MIN 36).","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","country","type"],"properties":{"account_id":{"type":"string","description":"The unique identifier of the account. You find this information on [Yuno's Dashboard](https://dashboard.y.uno/) (MAX 64; MIN 36)."},"country":{"type":"string","description":"The transaction's country code (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"type":{"type":"string","description":"The payment method type (MAX 255; MIN 3; [Payment type](ref:payment-type-list)).","enum":["CARD","NU_PAY_ENROLLMENT"]},"workflow":{"type":"string","description":"The payment workflow indicates whether the integration will use Yuno's SDK or will be a back to back connection. Since you are in the Direct workflow, the value must be `DIRECT`.","default":"DIRECT","enum":["DIRECT"]},"provider_data":{"type":"object","description":"Specifies the provider_data object. This object should only be sent if the merchant requires a token migration process and as long as this has already been agreed with your commercial advisor in Yuno.","required":["id","payment_method_token"],"properties":{"id":{"type":"string","description":"The unique identifier of the payment provider."},"payment_method_token":{"type":"string","description":"The payment method token for the provider specified in `id`."}}},"card_data":{"type":"object","description":"Specifies the details of the card. Only for `DIRECT` workflow integration.","required":["number","expiration_month","expiration_year"],"properties":{"number":{"type":"string","description":"Card’s number without any separators (MAX 19; MIN 8) - only available for PCI certified merchants."},"expiration_month":{"type":"integer","description":"Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.","format":"int32"},"expiration_year":{"type":"integer","description":"Card’s expiration year - YYYY  (MAX 4; MIN 4) - only available for PCI certified merchants.","format":"int32"},"security_code":{"type":"string","description":"Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants."},"holder_name":{"type":"string","description":"Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants."}}},"callback_url":{"type":"string","description":"URL to return the customer after an enrollment in a provider´s environment. Only necessary for alternative payment methods integrations (MAX 255; MIN 3)."},"verify":{"type":"object","description":"Indicates whether to verify the payment with a verify transaction or not. You’ll need to have a provider defined in your CARD route. False by default.","required":["vault_on_success"],"properties":{"vault_on_success":{"type":"boolean","description":"Indicates whether to verify the payment with a verify transaction or not. You’ll need to have a provider defined in your CARD route. False by default."},"currency":{"type":"string","description":"Currency of the card verification","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU"]}}}}},"examples":{"Card Direct":{"value":{"account_id":"dbf0c133-86bc-4be0-94a5-ca2ff6778451","country":"US","type":"CARD","callback_url":"www.google.com","workflow":"DIRECT","card_data":{"holder_name":"John Doe","expiration_month":3,"expiration_year":26,"number":"4111111111111111","security_code":"123"},"customer_payer":{"document":{"document_type":"SSN","document_number":"123-45-6789"}}}},"Token migration process":{"value":{"account_id":"dbf0c133-86bc-4be0-94a5-ca2ff6778451","country":"US","type":"CARD","workflow":"DIRECT","provider_data":{"id":"DLOCAL","payment_method_token":"123456"}}},"Card Enrollment With Verification":{"value":{"account_id":"dbf0c133-86bc-4be0-94a5-ca2ff6778451","country":"US","type":"CARD","workflow":"DIRECT","card_data":{"holder_name":"John Doe","expiration_month":3,"expiration_year":30,"number":"4111111111111111","security_code":"123"},"verify":{"vault_on_success":true,"currency":"USD"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \t\"idempotency_key\": \"2ca58c6d-8794-4c8f-a2f6-bba4b7498b74\",\n    \"name\": \"VISA ****1111\",\n    \"description\": \"VISA ****1111\",\n    \"type\": \"CARD\",\n    \"category\": \"CARD\",\n    \"country\": \"US\",\n    \"status\": \"ENROLLED\",\n    \"sub_status\": null,\n    \"vaulted_token\": \"cbdcc878-ceb4-4dd8-b0f0-49d444855de0\",\n    \"callback_url\": \"www.example.com\",\n    \"action\": null,      \n    \"created_at\": \"2024-06-06T13:32:49.715656Z\",\n    \"updated_at\": \"2024-06-06T13:32:49.715656Z\",\n    \"card_data\": {\n        \"iin\": \"41111111\",\n        \"lfd\": \"1111\",\n        \"expiration_month\": 3,\n        \"expiration_year\": 26,\n        \"number_length\": 16,\n        \"security_code_length\": 3,\n        \"brand\": \"VISA\",\n        \"issuer\": \"JPMORGAN CHASE BANK N A\",\n        \"issuer_code\": null,\n        \"category\": \"CREDIT\",\n        \"type\": \"CREDIT\",\n        \"fingerprint\": \"55a7fe38-cdc3-45dc-8c5f-820751799c76\"\n    },\n    \"last_successfully_used\": null,\n    \"last_successfully_used_at\": null,\n    \"preferred\": null,\n    \"verify\": {\n        \"vault_on_success\": false,\n        \"payment\": null\n    }\n}"},"With Verify":{"value":"{\n  \t\"idempotency_key\": \"2ca58c6d-8794-4c8f-a2f6-bba4b7498b74\",\n  \t\"name\": \"VISA ****0000\",\n    \"description\": \"VISA ****0000\",\n    \"type\": \"CARD\",\n    \"category\": \"CARD\",\n    \"country\": \"US\",\n    \"status\": \"ENROLLED\",\n    \"sub_status\": null,\n    \"vaulted_token\": \"9c298b36-b005-42ed-92e1-808b2a785e5f\",\n    \"callback_url\": null,\n    \"action\": null,      \n    \"created_at\": \"2023-09-04T16:37:55.314018Z\",\n    \"updated_at\": \"2023-09-04T16:37:55.314019Z\",\n    \"card_data\": {\n        \"iin\": \"49880800\",\n        \"lfd\": \"0000\",\n        \"expiration_month\": 3,\n        \"expiration_year\": 30,\n        \"number_length\": 16,\n        \"security_code_length\": 3,\n        \"brand\": \"VISA\",\n        \"issuer\": \"JPMORGAN CHASE BANK N A\",\n        \"issuer_code\": null,\n        \"category\": \"BUSINESS ENHANCED\",\n        \"type\": \"CREDIT\",\n        \"fingerprint\": \"55a7fe38-cdc3-45dc-8c5f-820751799c76\"\n    },\n    \"last_successfully_used\": null,\n    \"last_successfully_used_at\": null,\n    \"preferred\": null,\n    \"verify\": {\n        \"vault_on_success\": true,\n        \"currency\": \"USD\",\n        \"payment\": {\n            \"id\": \"2ff3872a-9b62-412f-be3e-69689b184e5f\",\n            \"account_id\": \"ad59c347-407c-4f11-841b-f3ac260cd018\",\n            \"description\": \"VERIFY CARD\",\n            \"country\": \"US\",\n            \"status\": \"SUCCEEDED\",\n            \"sub_status\": \"VERIFIED\",\n            \"merchant_order_id\": \"VERIFY_CARD_9c298b36-b005-42ed-92e1-808b2a785e5f\",\n            \"created_at\": \"2023-09-04T16:37:55.352948Z\",\n            \"updated_at\": \"2023-09-04T16:37:56.429675Z\",\n            \"amount\": {\n                \"currency\": \"USD\",\n                \"value\": 0,\n                \"refunded\": 0,\n                \"captured\": 0\n            },\n            \"transactions\": [\n                {\n                    \"id\": \"1e501f45-583b-4187-b42e-8c3e620d1ef5\",\n                    \"type\": \"VERIFY\",\n                    \"status\": \"SUCCEEDED\",\n                    \"response_code\": \"SUCCEEDED\",\n                    \"response_message\": \"Transaction successful\",\n                    \"category\": \"CARD\",\n                    \"merchant_reference\": \"VERIFY_CARD_9c298b36-b005-42ed-92e1-808b2a785e5f\",\n                    \"provider_data\": {\n                        \"id\": \"ADYEN\",\n                        \"transaction_id\": \"SKCN8ZR5S8NKGK82\",\n                        \"account_id\": \"\",\n                        \"status\": \"Cancelled\",\n                        \"sub_status\": \"\",\n                        \"status_detail\": \"\",\n                        \"response_message\": \"\",\n                        \"raw_response\": {\n                            \"additionalData\": {\n                                \"threeds2.cardEnrolled\": \"false\"\n                            },\n                            \"merchantReference\": \"VERIFY_CARD_9c298b36-b005-42ed-92e1-808b2a785e5f\",\n                            \"pspReference\": \"SKCN8ZR5S8NKGK82\",\n                            \"refusalReason\": \"FRAUD-CANCELLED\",\n                            \"refusalReasonCode\": \"22\",\n                            \"resultCode\": \"Cancelled\"\n                        },\n                        \"third_party_transaction_id\": null\n                    },\n                    \"created_at\": \"2023-09-04T16:37:55.482510Z\",\n                    \"updated_at\": \"2023-09-04T16:37:56.348742Z\"\n                }\n            ]\n        }\n    }\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"idempotency_key":{"type":"string","example":"2ca58c6d-8794-4c8f-a2f6-bba4b7498b74"},"name":{"type":"string","example":"VISA ****1111"},"description":{"type":"string","example":"VISA ****1111"},"type":{"type":"string","example":"CARD"},"category":{"type":"string","example":"CARD"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"ENROLLED"},"sub_status":{},"vaulted_token":{"type":"string","example":"cbdcc878-ceb4-4dd8-b0f0-49d444855de0"},"callback_url":{"type":"string","example":"www.example.com"},"action":{},"created_at":{"type":"string","example":"2024-06-06T13:32:49.715656Z"},"updated_at":{"type":"string","example":"2024-06-06T13:32:49.715656Z"},"card_data":{"type":"object","properties":{"iin":{"type":"string","example":"41111111"},"lfd":{"type":"string","example":"1111"},"expiration_month":{"type":"integer","example":3,"default":0},"expiration_year":{"type":"integer","example":26,"default":0},"number_length":{"type":"integer","example":16,"default":0},"security_code_length":{"type":"integer","example":3,"default":0},"brand":{"type":"string","example":"VISA"},"issuer":{"type":"string","example":"JPMORGAN CHASE BANK N A"},"issuer_code":{},"category":{"type":"string","example":"CREDIT"},"type":{"type":"string","example":"CREDIT"},"fingerprint":{"type":"string","example":"55a7fe38-cdc3-45dc-8c5f-820751799c76"}}},"last_successfully_used":{},"last_successfully_used_at":{},"preferred":{},"verify":{"type":"object","properties":{"vault_on_success":{"type":"boolean","example":false,"default":true},"payment":{}}}}},{"title":"With Verify","type":"object","properties":{"idempotency_key":{"type":"string","example":"2ca58c6d-8794-4c8f-a2f6-bba4b7498b74"},"name":{"type":"string","example":"VISA ****0000"},"description":{"type":"string","example":"VISA ****0000"},"type":{"type":"string","example":"CARD"},"category":{"type":"string","example":"CARD"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"ENROLLED"},"sub_status":{},"vaulted_token":{"type":"string","example":"9c298b36-b005-42ed-92e1-808b2a785e5f"},"callback_url":{},"action":{},"created_at":{"type":"string","example":"2023-09-04T16:37:55.314018Z"},"updated_at":{"type":"string","example":"2023-09-04T16:37:55.314019Z"},"card_data":{"type":"object","properties":{"iin":{"type":"string","example":"49880800"},"lfd":{"type":"string","example":"0000"},"expiration_month":{"type":"integer","example":3,"default":0},"expiration_year":{"type":"integer","example":30,"default":0},"number_length":{"type":"integer","example":16,"default":0},"security_code_length":{"type":"integer","example":3,"default":0},"brand":{"type":"string","example":"VISA"},"issuer":{"type":"string","example":"JPMORGAN CHASE BANK N A"},"issuer_code":{},"category":{"type":"string","example":"BUSINESS ENHANCED"},"type":{"type":"string","example":"CREDIT"},"fingerprint":{"type":"string","example":"55a7fe38-cdc3-45dc-8c5f-820751799c76"}}},"last_successfully_used":{},"last_successfully_used_at":{},"preferred":{},"verify":{"type":"object","properties":{"vault_on_success":{"type":"boolean","example":true,"default":true},"currency":{"type":"string","example":"USD"},"payment":{"type":"object","properties":{"id":{"type":"string","example":"2ff3872a-9b62-412f-be3e-69689b184e5f"},"account_id":{"type":"string","example":"ad59c347-407c-4f11-841b-f3ac260cd018"},"description":{"type":"string","example":"VERIFY CARD"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"SUCCEEDED"},"sub_status":{"type":"string","example":"VERIFIED"},"merchant_order_id":{"type":"string","example":"VERIFY_CARD_9c298b36-b005-42ed-92e1-808b2a785e5f"},"created_at":{"type":"string","example":"2023-09-04T16:37:55.352948Z"},"updated_at":{"type":"string","example":"2023-09-04T16:37:56.429675Z"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":0,"default":0},"refunded":{"type":"integer","example":0,"default":0},"captured":{"type":"integer","example":0,"default":0}}},"transactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"1e501f45-583b-4187-b42e-8c3e620d1ef5"},"type":{"type":"string","example":"VERIFY"},"status":{"type":"string","example":"SUCCEEDED"},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":"Transaction successful"},"category":{"type":"string","example":"CARD"},"merchant_reference":{"type":"string","example":"VERIFY_CARD_9c298b36-b005-42ed-92e1-808b2a785e5f"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"ADYEN"},"transaction_id":{"type":"string","example":"SKCN8ZR5S8NKGK82"},"account_id":{"type":"string","example":""},"status":{"type":"string","example":"Cancelled"},"sub_status":{"type":"string","example":""},"status_detail":{"type":"string","example":""},"response_message":{"type":"string","example":""},"raw_response":{"type":"object","properties":{"additionalData":{"type":"object","properties":{"threeds2.cardEnrolled":{"type":"string","example":"false"}}},"merchantReference":{"type":"string","example":"VERIFY_CARD_9c298b36-b005-42ed-92e1-808b2a785e5f"},"pspReference":{"type":"string","example":"SKCN8ZR5S8NKGK82"},"refusalReason":{"type":"string","example":"FRAUD-CANCELLED"},"refusalReasonCode":{"type":"string","example":"22"},"resultCode":{"type":"string","example":"Cancelled"}}},"third_party_transaction_id":{}}},"created_at":{"type":"string","example":"2023-09-04T16:37:55.482510Z"},"updated_at":{"type":"string","example":"2023-09-04T16:37:56.348742Z"}}}}}}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}},"/{customer_id}/payment-methods/{payment_method_id}/unenroll":{"post":{"summary":"Unenroll Payment Method","description":"","operationId":"unenroll-payment-method-api","parameters":[{"name":"payment_method_id","in":"path","description":"The unique identifier of the payment method (MAX 64; MIN 36)","schema":{"type":"string"},"required":true}],"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"cbdcc878-ceb4-4dd8-b0f0-49d444855de0\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"name\": \"VISA ****1111\",\n    \"description\": \"VISA ****1111\",\n    \"type\": \"CARD\",\n    \"category\": \"CARD\",\n    \"country\": \"US\",\n    \"status\": \"UNENROLLED\",\n    \"created_at\": \"2024-06-06T13:32:49.715656Z\",\n    \"updated_at\": \"2024-06-06T13:37:38.891106Z\",\n    \"enrollment\": {\n        \"session\": \"\",\n        \"sdk_required_action\": true\n    },\n    \"provider\": {\n        \"id\": \"YUNO\",\n        \"type\": \"YUNO\",\n        \"provider_status\": null\n    },\n    \"verify\": {\n        \"vault_on_success\": false,\n        \"payment\": null\n    },\n    \"preferred\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"cbdcc878-ceb4-4dd8-b0f0-49d444855de0"},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"name":{"type":"string","example":"VISA ****1111"},"description":{"type":"string","example":"VISA ****1111"},"type":{"type":"string","example":"CARD"},"category":{"type":"string","example":"CARD"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"UNENROLLED"},"created_at":{"type":"string","example":"2024-06-06T13:32:49.715656Z"},"updated_at":{"type":"string","example":"2024-06-06T13:37:38.891106Z"},"enrollment":{"type":"object","properties":{"session":{"type":"string","example":""},"sdk_required_action":{"type":"boolean","example":true,"default":true}}},"provider":{"type":"object","properties":{"id":{"type":"string","example":"YUNO"},"type":{"type":"string","example":"YUNO"},"provider_status":{}}},"verify":{"type":"object","properties":{"vault_on_success":{"type":"boolean","example":false,"default":true},"payment":{}}},"preferred":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"key":"charset","value":"utf-8"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}