{
  "openapi": "3.1.0",
  "info": {
    "title": "installments",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/installments-plans": {
      "post": {
        "summary": "Create Installments Plan",
        "description": "",
        "operationId": "create-installments-plan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "account_id",
                  "merchant_reference",
                  "installments_plan"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The installment plan name (MAX 255; MIN 3)"
                  },
                  "account_id": {
                    "type": "array",
                    "description": "The unique identifier(s) of the account(s) that will have the installment plan (UUID; 36 chars).",
                    "default": "{{account_id}}",
                    "items": {
                      "type": "string"
                    }
                  },
                  "merchant_reference": {
                    "type": "string",
                    "description": "Identification of the installment plan (MAX 255; MIN 3)"
                  },
                  "installments_plan": {
                    "type": "array",
                    "description": "Definition of installments available for each scenario",
                    "items": {
                      "properties": {
                        "installment": {
                          "type": "integer",
                          "description": "The number of monthly installments shoppers can choose",
                          "format": "int32"
                        },
                        "rate": {
                          "type": "number",
                          "description": "The rate applied to the final amount of the transaction by the payment provider after using installments. The value should be entered as a multiplier, not a percentage. For example, to apply a 20% rate, enter `1.20` instead of `20`.",
                          "format": "float"
                        },
                        "financial_costs": {
                          "type": "array",
                          "description": "Optional financial costs details for this installment option.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The financial cost type identifier (MIN 3; MAX 255).\n\n<br/> Example: `CFT`, `TEA`, `CET`, `CAT`"
                              },
                              "rate": {
                                "type": "number",
                                "description": "The financial cost rate as a decimal number (e.g., 45.25 for 45.25%).",
                                "minimum": 0,
                                "maximum": 100000,
                                "format": "float",
                                "default": ""
                              }
                            },
                            "required": [
                              "type",
                              "rate"
                            ]
                          }
                        },
                        "type": {
                          "type": "string",
                          "description": "Installment’s type. Only available for Ecuador and Mexico. Merchant refers to payments deferred with interest, and Issuer refer to payments deferred without interest",
                          "enum": [
                            "MERCHANT_INSTALLMENTS",
                            "ISSUER_INSTALLMENTS"
                          ]
                        }
                      },
                      "required": [
                        "installment"
                      ],
                      "type": "object"
                    }
                  },
                  "country_code": {
                    "type": "string",
                    "description": "The issuer's country  (ISO 3166-1 MAX 2; MIN 2)"
                  },
                  "brand": {
                    "type": "array",
                    "description": "Card’s [brand](brands) information (MAX 255; MIN 3).",
                    "items": {
                      "type": "string"
                    }
                  },
                  "issuer": {
                    "type": "string",
                    "description": "Card issuer (MAX 255; MIN 3)"
                  },
                  "iin": {
                    "type": "array",
                    "description": "The issuer identification number (IIN) refers to the first few digits of a payment card number issued by a financial institution (MAX 8; MIN 6)",
                    "items": {
                      "type": "string"
                    }
                  },
                  "first_installment_deferral": {
                    "type": "integer",
                    "description": "The amount of months to wait to debit the first installment (MAX: 3).",
                    "format": "int32"
                  },
                  "amount": {
                    "type": "object",
                    "description": "The amounts that the installment plan will be available for. If null, available for any amount.",
                    "required": [
                      "currency"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment (ISO 4217 MAX 3; MIN 3)"
                      },
                      "min_value": {
                        "type": "number",
                        "description": "The minimum amount the installment plan will be available to use (multiple of 0.0001).",
                        "format": "float"
                      },
                      "max_value": {
                        "type": "number",
                        "description": "The maximum amount the installment plan will be available to use (multiple of 0.0001).",
                        "format": "float"
                      }
                    }
                  },
                  "availability": {
                    "type": "object",
                    "description": "The dates that the installment plan will be available for. If null then it does not have a finish date",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "The start date that the installment plan will be available to use (UTC format)",
                        "format": "date-time"
                      },
                      "finish_at": {
                        "type": "string",
                        "description": "The end date until the installment plan will be available to use (UTC format)",
                        "format": "date-time"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "name": "plan_007",
                    "account_id": [
                      "{{account-code}}"
                    ],
                    "merchant_reference": "Test",
                    "installments_plan": [
                      {
                        "installment": 1,
                        "rate": 1
                      },
                      {
                        "installment": 3,
                        "rate": 1,
                        "financial_costs": [
                          {
                            "type": "CFT",
                            "rate": 45.25
                          },
                          {
                            "type": "TEA",
                            "rate": 38.5
                          }
                        ]
                      },
                      {
                        "installment": 6,
                        "rate": 1
                      },
                      {
                        "installment": 9,
                        "rate": 1
                      },
                      {
                        "installment": 12,
                        "rate": 1
                      }
                    ],
                    "country_code": "CO",
                    "amount": {
                      "currency": "COP",
                      "min_value": 0,
                      "max_value": 100000000
                    },
                    "availability": {
                      "start_at": "2023-09-12T00:00:00Z",
                      "finish_at": "2030-09-20T00:00:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"4d573425-33f9-4c46-b009-2c7e749b0ec7\",\n    \"name\": \"plan_007\",\n    \"account_id\": [\n        \"f7c5fe77-721b-49c2-84d3-957748df3c2c\"\n    ],\n    \"merchant_reference\": \"Test\",\n    \"installments_plan\": [\n        {\n            \"installment\": 1,\n            \"rate\": 1,\n            \"provider_id\": \"\"\n        },\n        {\n            \"installment\": 3,\n            \"rate\": 1,\n            \"provider_id\": \"\",\n            \"financial_costs\": [\n                {\n                    \"type\": \"CFT\",\n                    \"rate\": 45.25,\n                    \"formatted_value\": \"45,25%\"\n                },\n                {\n                    \"type\": \"TEA\",\n                    \"rate\": 38.5,\n                    \"formatted_value\": \"38,50%\"\n                }\n            ]\n        },\n        {\n            \"installment\": 6,\n            \"rate\": 1,\n            \"provider_id\": \"\"\n        },\n        {\n            \"installment\": 9,\n            \"rate\": 1,\n            \"provider_id\": \"\"\n        },\n        {\n            \"installment\": 12,\n            \"rate\": 1,\n            \"provider_id\": \"\"\n        }\n    ],\n    \"type\": \"\",\n    \"source\": \"\",\n    \"provider_id\": \"\",\n    \"scheme\": \"\",\n    \"brand\":[\"VISA\"],\n    \"issuer\": \"\",\n    \"issuer_id\": \"\",\n    \"iin\": null,\n    \"country_code\": \"US\",\n    \"first_installment_deferral\": 0,\n    \"amount\": {\n        \"Currency\": \"USD\",\n        \"min_value\": 0,\n        \"max_value\": 100000000\n    },\n    \"availability\": {\n        \"start_at\": \"2023-09-12T00:00:00Z\",\n        \"finish_at\": \"2030-09-20T00:00:00Z\"\n    },\n    \"created_at\": \"2023-10-11T17:52:31.886178246Z\",\n    \"updated_at\": \"2023-10-11T17:52:31.886178246Z\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "4d573425-33f9-4c46-b009-2c7e749b0ec7"
                    },
                    "name": {
                      "type": "string",
                      "example": "plan_007"
                    },
                    "account_id": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "f7c5fe77-721b-49c2-84d3-957748df3c2c"
                      }
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "Test"
                    },
                    "installments_plan": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "installment": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "rate": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "provider_id": {
                            "type": "string",
                            "example": ""
                          },
                          "financial_costs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "CFT",
                                    "TEA",
                                    "CET",
                                    "CAT"
                                  ]
                                },
                                "rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "formatted_value": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": ""
                    },
                    "source": {
                      "type": "string",
                      "example": ""
                    },
                    "provider_id": {
                      "type": "string",
                      "example": ""
                    },
                    "scheme": {
                      "type": "string",
                      "example": ""
                    },
                    "brand": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "VISA"
                      }
                    },
                    "issuer": {
                      "type": "string",
                      "example": ""
                    },
                    "issuer_id": {
                      "type": "string",
                      "example": ""
                    },
                    "iin": {},
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "first_installment_deferral": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "Currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "min_value": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "max_value": {
                          "type": "integer",
                          "example": 100000000,
                          "default": 0
                        }
                      }
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2023-09-12T00:00:00Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2030-09-20T00:00:00Z"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-10-11T17:52:31.886178246Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-10-11T17:52:31.886178246Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get Installments Plans",
        "description": "",
        "operationId": "get-installments-plan-by-account",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "description": "The unique identifier of the account. Find it on the [Yuno dashboard](https://dashboard.y.uno) (UUID; 36 chars).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Currency used for filtering plans ([ISO 4217](https://en.wikipedia.org/wiki/ISO_4217); 3 chars).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iin",
            "in": "query",
            "description": "[Optional] - The issuer identification number (IIN) refers to the first few digits of a payment card number issued by a financial institution (MAX 8; MIN 6). In case you defined an iin for the installments plan, you can use it to filter the response. Alternative to `card_number` — send either `iin` or `card_number`, not both.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "card_number",
            "in": "query",
            "description": "[Optional] - The full card number (PAN). Must be numeric and between 13–19 digits. When provided, it is securely tokenized and used for installment calculation. Alternative to `iin` — send either `card_number` or `iin`, not both.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "[Optional] - The amount that the installment plan is available for. In case you defined an amount range for the installments plan, you can use it to filter the response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"id\": \"4d573425-33f9-4c46-b009-2c7e749b0ec7\",\n        \"name\": \"plan_007\",\n        \"account_id\": [\n            \"f7c5fe77-721b-49c2-84d3-957748df3c2c\"\n        ],\n        \"merchant_reference\": \"Test\",\n        \"installments_plan\": [\n            {\n                \"installment\": 1,\n                \"rate\": 1,\n                \"provider_id\": \"\",\n                \"amount\": {\n                    \"currency\": \"USD\",\n                    \"value\": \"0\",\n                    \"total_value\": \"0\"\n                }\n            },\n            {\n                \"installment\": 3,\n                \"rate\": 1,\n                \"provider_id\": \"\",\n                \"financial_costs\": [\n                    {\n                        \"type\": \"CFT\",\n                        \"rate\": 45.25,\n                        \"formatted_value\": \"45,25%\"\n                    },\n                    {\n                        \"type\": \"TEA\",\n                        \"rate\": 38.5,\n                        \"formatted_value\": \"38,50%\"\n                    }\n                ],\n                \"amount\": {\n                    \"currency\": \"USD\",\n                    \"value\": \"0\",\n                    \"total_value\": \"0\"\n                }\n            },\n            {\n                \"installment\": 6,\n                \"rate\": 1,\n                \"provider_id\": \"\",\n                \"amount\": {\n                    \"currency\": \"USD\",\n                    \"value\": \"0\",\n                    \"total_value\": \"0\"\n                }\n            },\n            {\n                \"installment\": 9,\n                \"rate\": 1,\n                \"provider_id\": \"\",\n                \"amount\": {\n                    \"currency\": \"USD\",\n                    \"value\": \"0\",\n                    \"total_value\": \"0\"\n                }\n            },\n            {\n                \"installment\": 12,\n                \"rate\": 1,\n                \"provider_id\": \"\",\n                \"amount\": {\n                    \"currency\": \"USD\",\n                    \"value\": \"0\",\n                    \"total_value\": \"0\"\n                }\n            }\n        ],\n        \"iin\": null,\n        \"country_code\": \"US\",\n        \"first_installment_deferral\": 0,\n        \"amount\": {\n            \"Currency\": \"USD\",\n            \"min_value\": 0,\n            \"max_value\": 100000000\n        },\n        \"availability\": {\n            \"start_at\": \"2023-09-12T00:00:00Z\",\n            \"finish_at\": \"2030-09-20T00:00:00Z\"\n        },\n        \"created_at\": \"2023-10-11T17:52:31.886178Z\",\n        \"updated_at\": \"2023-10-11T17:52:31.886178Z\"\n    }\n]\n"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "4d573425-33f9-4c46-b009-2c7e749b0ec7"
                      },
                      "name": {
                        "type": "string",
                        "example": "plan_007"
                      },
                      "account_id": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "f7c5fe77-721b-49c2-84d3-957748df3c2c"
                        }
                      },
                      "merchant_reference": {
                        "type": "string",
                        "example": "Test"
                      },
                      "installments_plan": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "installment": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "rate": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "provider_id": {
                              "type": "string",
                              "example": ""
                            },
                            "financial_costs": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "CFT",
                                      "TEA",
                                      "CET",
                                      "CAT"
                                    ]
                                  },
                                  "rate": {
                                    "type": "number",
                                    "format": "float"
                                  },
                                  "formatted_value": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "amount": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "example": "USD"
                                },
                                "value": {
                                  "type": "string",
                                  "example": "0"
                                },
                                "total_value": {
                                  "type": "string",
                                  "example": "0"
                                }
                              }
                            }
                          }
                        }
                      },
                      "iin": {},
                      "country_code": {
                        "type": "string",
                        "example": "US"
                      },
                      "first_installment_deferral": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "amount": {
                        "type": "object",
                        "properties": {
                          "Currency": {
                            "type": "string",
                            "example": "USD"
                          },
                          "min_value": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "max_value": {
                            "type": "integer",
                            "example": 100000000,
                            "default": 0
                          }
                        }
                      },
                      "availability": {
                        "type": "object",
                        "properties": {
                          "start_at": {
                            "type": "string",
                            "example": "2023-09-12T00:00:00Z"
                          },
                          "finish_at": {
                            "type": "string",
                            "example": "2030-09-20T00:00:00Z"
                          }
                        }
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2023-10-11T17:52:31.886178Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2023-10-11T17:52:31.886178Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/installments-plans/{installment_code}": {
      "get": {
        "summary": "Get Installments Plan by ID",
        "description": "",
        "operationId": "get-installments-plan",
        "parameters": [
          {
            "name": "installment_code",
            "in": "path",
            "description": "Identifier of the installment plan.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": "4d573425-33f9-4c46-b009-2c7e749b0ec7",
                        "name": "plan_007",
                        "account_id": [
                          "f7c5fe77-721b-49c2-84d3-957748df3c2c"
                        ],
                        "merchant_reference": "Test",
                        "installments_plan": [
                          {
                            "installment": 1,
                            "rate": 1,
                            "provider_id": "",
                            "amount": {
                              "currency": "USD",
                              "value": "0",
                              "total_value": "0"
                            }
                          },
                          {
                            "installment": 3,
                            "rate": 1,
                            "provider_id": "",
                            "financial_costs": [
                              {
                                "type": "CFT",
                                "rate": 45.25,
                                "formatted_value": "45,25%"
                              },
                              {
                                "type": "TEA",
                                "rate": 38.5,
                                "formatted_value": "38,50%"
                              }
                            ],
                            "amount": {
                              "currency": "USD",
                              "value": "0",
                              "total_value": "0"
                            }
                          },
                          {
                            "installment": 6,
                            "rate": 1,
                            "provider_id": "",
                            "amount": {
                              "currency": "USD",
                              "value": "0",
                              "total_value": "0"
                            }
                          },
                          {
                            "installment": 9,
                            "rate": 1,
                            "provider_id": "",
                            "amount": {
                              "currency": "USD",
                              "value": "0",
                              "total_value": "0"
                            }
                          },
                          {
                            "installment": 12,
                            "rate": 1,
                            "provider_id": "",
                            "amount": {
                              "currency": "USD",
                              "value": "0",
                              "total_value": "0"
                            }
                          }
                        ],
                        "iin": null,
                        "country_code": "US",
                        "first_installment_deferral": 0,
                        "amount": {
                          "Currency": "USD",
                          "min_value": 0,
                          "max_value": 100000000
                        },
                        "availability": {
                          "start_at": "2023-09-12T00:00:00Z",
                          "finish_at": "2030-09-20T00:00:00Z"
                        },
                        "created_at": "2023-10-11T17:52:31.886178Z",
                        "updated_at": "2023-10-11T17:52:31.886178Z"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "4d573425-33f9-4c46-b009-2c7e749b0ec7"
                      },
                      "name": {
                        "type": "string",
                        "example": "plan_007"
                      },
                      "account_id": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "f7c5fe77-721b-49c2-84d3-957748df3c2c"
                        }
                      },
                      "merchant_reference": {
                        "type": "string",
                        "example": "Test"
                      },
                      "installments_plan": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "installment": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "rate": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "provider_id": {
                              "type": "string",
                              "example": ""
                            },
                            "amount": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "example": "USD"
                                },
                                "value": {
                                  "type": "string",
                                  "example": "0"
                                },
                                "total_value": {
                                  "type": "string",
                                  "example": "0"
                                }
                              }
                            }
                          }
                        }
                      },
                      "iin": {},
                      "country_code": {
                        "type": "string",
                        "example": "US"
                      },
                      "first_installment_deferral": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "amount": {
                        "type": "object",
                        "properties": {
                          "Currency": {
                            "type": "string",
                            "example": "USD"
                          },
                          "min_value": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "max_value": {
                            "type": "integer",
                            "example": 100000000,
                            "default": 0
                          }
                        }
                      },
                      "availability": {
                        "type": "object",
                        "properties": {
                          "start_at": {
                            "type": "string",
                            "example": "2023-09-12T00:00:00Z"
                          },
                          "finish_at": {
                            "type": "string",
                            "example": "2030-09-20T00:00:00Z"
                          }
                        }
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2023-10-11T17:52:31.886178Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2023-10-11T17:52:31.886178Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update Plan",
        "description": "",
        "operationId": "update-plan",
        "parameters": [
          {
            "name": "installment_code",
            "in": "path",
            "description": "The unique identifier of the installment plan.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The installment plan name (MAX 255; MIN 3)"
                  },
                  "account_id": {
                    "type": "array",
                    "description": "The unique identifier of Yuno's account that will have the installment plan available to use (MAX 64 ; MIN 36).",
                    "items": {
                      "type": "string"
                    }
                  },
                  "merchant_reference": {
                    "type": "string",
                    "description": "Identification of the installment plan (MAX 255; MIN 3)"
                  },
                  "installments_plan": {
                    "type": "array",
                    "description": "Definition of installments available for each scenario",
                    "items": {
                      "properties": {
                        "installment": {
                          "type": "integer",
                          "description": "The number of monthly installments shoppers can choose",
                          "format": "int32"
                        },
                        "rate": {
                          "type": "number",
                          "description": "The rate applied to the final amount of the transaction by the payment provider after using installments. The value should be entered as a multiplier, not a percentage. For example, to apply a 20% rate, enter `1.20` instead of `20`.",
                          "format": "float"
                        },
                        "financial_costs": {
                          "type": "array",
                          "description": "Optional financial costs details for this installment option.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The financial cost type identifier (MIN 3; MAX 255).\n\n<br/> Example: `CFT`, `TEA`, `CET`, `CAT`"
                              },
                              "rate": {
                                "type": "number",
                                "description": "The financial cost rate as a decimal number (e.g., 45.25 for 45.25%).",
                                "minimum": 0,
                                "maximum": 100000,
                                "format": "float",
                                "default": ""
                              }
                            },
                            "required": [
                              "type",
                              "rate"
                            ]
                          }
                        },
                        "type": {
                          "type": "string",
                          "description": "Installment’s type. Only available for Ecuador and Mexico. Merchant refers to payments deferred with interest, and Issuer refer to payments deferred without interest",
                          "enum": [
                            "MERCHANT_INSTALLMENTS",
                            "ISSUER_INSTALLMENTS"
                          ]
                        }
                      },
                      "required": [
                        "installment",
                        "rate"
                      ],
                      "type": "object"
                    }
                  },
                  "country_code": {
                    "type": "string",
                    "description": "The issuer's country  (ISO 3166-1 MAX 2; MIN 2)"
                  },
                  "scheme": {
                    "type": "string",
                    "description": "Card’s scheme information. (MAX 255; MIN 3)"
                  },
                  "brand": {
                    "type": "array",
                    "description": "Card’s [brand](brands) information (MAX 255; MIN 3).",
                    "items": {
                      "type": "string"
                    }
                  },
                  "issuer": {
                    "type": "string",
                    "description": "Card issuer (MAX 255; MIN 3)"
                  },
                  "iin": {
                    "type": "array",
                    "description": "The issuer identification number (IIN) refers to the first few digits of a payment card number issued by a financial institution (MAX 8; MIN 6)",
                    "items": {
                      "type": "string"
                    }
                  },
                  "first_installment_deferral": {
                    "type": "integer",
                    "description": "The amount of months to wait to debit the first installment Mas:3",
                    "format": "int32"
                  },
                  "amount": {
                    "type": "object",
                    "description": "The amounts that the installment plan will be available for. If null, available for any amount.",
                    "required": [
                      "currency"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment (ISO 4217 MAX 3; MIN 3)"
                      },
                      "min_value": {
                        "type": "number",
                        "description": "The minimum amount the installment plan will be available to use (multiple of 0.0001).",
                        "format": "float"
                      },
                      "max_value": {
                        "type": "number",
                        "description": "The maximum amount the installment plan will be available to use (multiple of 0.0001).",
                        "format": "float"
                      }
                    }
                  },
                  "availability": {
                    "type": "object",
                    "description": "The dates that the installment plan will be available for. If null then it does not have a finish date",
                    "required": [
                      "start_at",
                      "finish_at"
                    ],
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "The start date that the installment plan will be available to use",
                        "format": "date-time"
                      },
                      "finish_at": {
                        "type": "string",
                        "description": "The end date until the installment plan will be available to use.",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"4d573425-33f9-4c46-b009-2c7e749b0ec7\",\n    \"name\": \"plan_007\",\n    \"account_id\": [\n        \"f7c5fe77-721b-49c2-84d3-957748df3c2c\"\n    ],\n    \"merchant_reference\": \"Test\",\n    \"installments_plan\": [\n        {\n            \"installment\": 1,\n            \"rate\": 1,\n            \"provider_id\": \"\"\n        },\n        {\n            \"installment\": 3,\n            \"rate\": 1,\n            \"provider_id\": \"\",\n            \"financial_costs\": [\n                {\n                    \"type\": \"CFT\",\n                    \"rate\": 45.25,\n                    \"formatted_value\": \"45,25%\"\n                },\n                {\n                    \"type\": \"TEA\",\n                    \"rate\": 38.5,\n                    \"formatted_value\": \"38,50%\"\n                }\n            ]\n        },\n        {\n            \"installment\": 6,\n            \"rate\": 1,\n            \"provider_id\": \"\"\n        },\n        {\n            \"installment\": 9,\n            \"rate\": 1,\n            \"provider_id\": \"\"\n        },\n        {\n            \"installment\": 12,\n            \"rate\": 1,\n            \"provider_id\": \"\"\n        }\n    ],\n    \"type\": \"\",\n    \"source\": \"\",\n    \"provider_id\": \"\",\n    \"scheme\": \"\",\n    \"brand\":[\"VISA\"],\n    \"issuer\": \"\",\n    \"issuer_id\": \"\",\n    \"iin\": null,\n    \"country_code\": \"US\",\n    \"first_installment_deferral\": 0,\n    \"amount\": {\n        \"Currency\": \"USD\",\n        \"min_value\": 0,\n        \"max_value\": 100000000\n    },\n    \"availability\": {\n        \"start_at\": \"2023-09-12T00:00:00Z\",\n        \"finish_at\": \"2030-09-20T00:00:00Z\"\n    },\n    \"created_at\": \"2023-10-11T17:52:31.886178246Z\",\n    \"updated_at\": \"2023-10-11T17:52:31.886178246Z\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "4d573425-33f9-4c46-b009-2c7e749b0ec7"
                    },
                    "name": {
                      "type": "string",
                      "example": "plan_007"
                    },
                    "account_id": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "f7c5fe77-721b-49c2-84d3-957748df3c2c"
                      }
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "Test"
                    },
                    "installments_plan": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "installment": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "rate": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "provider_id": {
                            "type": "string",
                            "example": ""
                          },
                          "financial_costs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "CFT",
                                    "TEA",
                                    "CET",
                                    "CAT"
                                  ]
                                },
                                "rate": {
                                  "type": "number",
                                  "format": "float"
                                },
                                "formatted_value": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": ""
                    },
                    "source": {
                      "type": "string",
                      "example": ""
                    },
                    "provider_id": {
                      "type": "string",
                      "example": ""
                    },
                    "scheme": {
                      "type": "string",
                      "example": ""
                    },
                    "brand": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "VISA"
                      }
                    },
                    "issuer": {
                      "type": "string",
                      "example": ""
                    },
                    "issuer_id": {
                      "type": "string",
                      "example": ""
                    },
                    "iin": {},
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "first_installment_deferral": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "Currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "min_value": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "max_value": {
                          "type": "integer",
                          "example": 100000000,
                          "default": 0
                        }
                      }
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2023-09-12T00:00:00Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2030-09-20T00:00:00Z"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-10-11T17:52:31.886178246Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-10-11T17:52:31.886178246Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Installments Plan",
        "description": "",
        "operationId": "delete-installments-plan-by-id",
        "parameters": [
          {
            "name": "installment_code",
            "in": "path",
            "description": "Identifier of the installment plan.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Response": {
                    "value": "HTTP 201 Created"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}