{
  "openapi": "3.1.0",
  "info": {
    "title": "Organization Management API",
    "version": "1.0.0",
    "description": "API for managing B2B organizations, account groups, and users within the Yuno platform."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "public_api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY"
      },
      "private_secret_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AccountGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
          },
          "name": {
            "type": "string",
            "example": "Acme Payments"
          },
          "merchant_id": {
            "type": "string",
            "example": "fintech"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-05T08:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-05T08:00:00.000Z"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "a1b2c3d4-5678-4abc-9def-0123456789ab"
          },
          "name": {
            "type": "string",
            "example": "Acme Production"
          },
          "account_group_id": {
            "type": "string",
            "format": "uuid",
            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-05T08:05:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-05T08:05:00.000Z"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "c3d4e5f6-7890-4abc-def0-123456789abc"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@acmepay.com"
          },
          "first_name": {
            "type": "string",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "example": "Doe"
          },
          "account_permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountPermission"
            }
          },
          "account_group_permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountGroupPermission"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-05T08:10:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-05T08:10:00.000Z"
          }
        }
      },
      "AccountPermission": {
        "type": "object",
        "required": [
          "account_id",
          "role_id"
        ],
        "properties": {
          "account_id": {
            "type": "string",
            "format": "uuid",
            "example": "a1b2c3d4-..."
          },
          "account_name": {
            "type": "string",
            "example": "Acme Production"
          },
          "role_id": {
            "type": "string",
            "example": "merchant-operator"
          },
          "role_name": {
            "type": "string",
            "example": "Operator"
          }
        }
      },
      "AccountGroupPermission": {
        "type": "object",
        "required": [
          "account_group_id",
          "role_id"
        ],
        "properties": {
          "account_group_id": {
            "type": "string",
            "format": "uuid",
            "example": "f47ac10b-..."
          },
          "account_group_name": {
            "type": "string",
            "example": "Acme Payments"
          },
          "role_id": {
            "type": "string",
            "example": "merchant-viewer"
          },
          "role_name": {
            "type": "string",
            "example": "Viewer"
          },
          "accounts_count": {
            "type": "integer",
            "example": 5
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "example": 1
          },
          "page_size": {
            "type": "integer",
            "example": 20
          },
          "total_items": {
            "type": "integer",
            "example": 142
          },
          "total_pages": {
            "type": "integer",
            "example": 8
          },
          "has_next": {
            "type": "boolean",
            "example": true
          },
          "has_previous": {
            "type": "boolean",
            "example": false
          }
        }
      }
    }
  },
  "security": [
    {
      "public_api_key": [],
      "private_secret_key": []
    }
  ],
  "paths": {
    "/organizations/authenticate": {
      "post": {
        "summary": "Authenticate User",
        "operationId": "authenticate-user",
        "tags": [
          "Authentication"
        ],
        "description": "Authenticates a whitelabel user and returns a JWT embed token. Follows OAuth 2.0 conventions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_code"
                ],
                "properties": {
                  "user_code": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the whitelabel user",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIs..."
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "example": 86400
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/account-groups": {
      "post": {
        "summary": "Create Account Group",
        "operationId": "create-account-group",
        "tags": [
          "Account Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "merchant_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "example": "Acme Payments"
                  },
                  "merchant_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "example": "fintech"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroup"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Account Groups",
        "operationId": "list-account-groups",
        "tags": [
          "Account Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountGroup"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/account-groups/{account_group_id}": {
      "get": {
        "summary": "Get Account Group",
        "operationId": "get-account-group",
        "tags": [
          "Account Groups"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroup"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Account Group",
        "operationId": "update-account-group",
        "tags": [
          "Account Groups"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "e-commerce"
                  },
                  "merchant_id": {
                    "type": "string",
                    "example": "Medellín"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroup"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Account Group",
        "operationId": "delete-account-group",
        "tags": [
          "Account Groups"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/organizations/account-groups/{account_group_id}/accounts": {
      "get": {
        "summary": "List Account Group Accounts",
        "operationId": "list-account-group-accounts",
        "tags": [
          "Account Groups"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Account",
        "operationId": "create-account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "example": "Acme Production"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/accounts": {
      "get": {
        "summary": "List All Accounts",
        "operationId": "list-all-accounts",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/accounts/{account_id}": {
      "get": {
        "summary": "Get Account",
        "operationId": "get-account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Account",
        "operationId": "update-account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Acme Staging"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Disable Account",
        "operationId": "disable-account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Account disabled successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/users": {
      "post": {
        "summary": "Create User",
        "operationId": "create-user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "first_name",
                  "last_name"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john.doe@acmepay.com"
                  },
                  "first_name": {
                    "type": "string",
                    "example": "John"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "account_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "a1b2c3d4-..."
                        },
                        "role_id": {
                          "type": "string",
                          "example": "merchant-operator"
                        }
                      }
                    }
                  },
                  "account_group_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "account_group_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "f47ac10b-..."
                        },
                        "role_id": {
                          "type": "string",
                          "example": "merchant-viewer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Users",
        "operationId": "list-users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/users/{user_id}": {
      "get": {
        "summary": "Get User",
        "operationId": "get-user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update User",
        "operationId": "update-user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "example": "Jonathan"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "Doe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete User",
        "operationId": "delete-user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/organizations/users/{user_id}/account-permissions": {
      "put": {
        "summary": "Replace Account Permissions",
        "operationId": "replace-account-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_permissions"
                ],
                "properties": {
                  "account_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_id",
                        "role_id"
                      ],
                      "properties": {
                        "account_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "a1b2c3d4-..."
                        },
                        "role_id": {
                          "type": "string",
                          "example": "merchant-operator"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "c3d4e5f6-7890-4abc-def0-123456789abc"
                    },
                    "account_permissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountPermission"
                      }
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-03-05T12:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Account Permissions",
        "operationId": "list-account-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "c3d4e5f6-7890-4abc-def0-123456789abc"
                    },
                    "account_permissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountPermission"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Account Permissions",
        "operationId": "update-account-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_permissions"
                ],
                "properties": {
                  "account_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_id",
                        "role_id"
                      ],
                      "properties": {
                        "account_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "d4e5f6a7-..."
                        },
                        "role_id": {
                          "type": "string",
                          "example": "merchant-viewer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "c3d4e5f6-7890-4abc-def0-123456789abc"
                    },
                    "account_permissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountPermission"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/users/{user_id}/account-permissions/{account_id}": {
      "delete": {
        "summary": "Remove Account Permission",
        "operationId": "remove-account-permission",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/organizations/users/{user_id}/account-group-permissions": {
      "put": {
        "summary": "Replace Account Group Permissions",
        "operationId": "replace-account-group-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_group_permissions"
                ],
                "properties": {
                  "account_group_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_group_id",
                        "role_id"
                      ],
                      "properties": {
                        "account_group_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "f47ac10b-..."
                        },
                        "role_id": {
                          "type": "string",
                          "example": "merchant-viewer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "c3d4e5f6-7890-4abc-def0-123456789abc"
                    },
                    "account_group_permissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountGroupPermission"
                      }
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-03-05T14:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Account Group Permissions",
        "operationId": "list-account-group-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "c3d4e5f6-7890-4abc-def0-123456789abc"
                    },
                    "account_group_permissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountGroupPermission"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Account Group Permissions",
        "operationId": "update-account-group-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_group_permissions"
                ],
                "properties": {
                  "account_group_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_group_id",
                        "role_id"
                      ],
                      "properties": {
                        "account_group_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "f47ac10b-..."
                        },
                        "role_id": {
                          "type": "string",
                          "example": "merchant-operator"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "c3d4e5f6-7890-4abc-def0-123456789abc"
                    },
                    "account_group_permissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountGroupPermission"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/users/{user_id}/account-group-permissions/{account_group_id}": {
      "delete": {
        "summary": "Remove Account Group Permission",
        "operationId": "remove-account-group-permission",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  }
}