{
  "openapi": "3.1.0",
  "info": {
    "title": "Organization Management API",
    "version": "1.0.0",
    "description": "API for managing B2B organizations, account groups, and users within the Yuno platform."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "public_api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY"
      },
      "private_secret_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY"
      }
    },
    "schemas": {
      "AccountGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "account_group_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "account_permissions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "account_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "role_id": {
                  "type": "string"
                }
              }
            }
          },
          "account_group_permissions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "account_group_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "role_id": {
                  "type": "string"
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "security": [
    {
      "public_api_key": [],
      "private_secret_key": []
    }
  ],
  "paths": {
    "/organizations/account-groups": {
      "post": {
        "summary": "Create Account Group",
        "operationId": "create-account-group",
        "tags": [
          "Account Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "merchant_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "merchant_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroup"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Account Groups",
        "operationId": "list-account-groups",
        "tags": [
          "Account Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountGroup"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/account-groups/{account_group_id}": {
      "get": {
        "summary": "Get Account Group",
        "operationId": "get-account-group",
        "tags": [
          "Account Groups"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroup"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Account Group",
        "operationId": "update-account-group",
        "tags": [
          "Account Groups"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "merchant_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroup"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/account-groups/{account_group_id}/accounts": {
      "get": {
        "summary": "List Account Group Accounts",
        "operationId": "list-account-group-accounts",
        "tags": [
          "Account Groups"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Account",
        "operationId": "create-account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/accounts": {
      "get": {
        "summary": "List All Accounts",
        "operationId": "list-all-accounts",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/accounts/{account_id}": {
      "get": {
        "summary": "Get Account",
        "operationId": "get-account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Account",
        "operationId": "update-account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Disable Account",
        "operationId": "disable-account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/users": {
      "post": {
        "summary": "Create User",
        "operationId": "create-user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "first_name",
                  "last_name"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "account_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_id",
                        "role_id"
                      ],
                      "properties": {
                        "account_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "role_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "account_group_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_group_id",
                        "role_id"
                      ],
                      "properties": {
                        "account_group_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "role_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Users",
        "operationId": "list-users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "account_group_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/users/{user_id}": {
      "get": {
        "summary": "Get User",
        "operationId": "get-user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update User",
        "operationId": "update-user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete User",
        "operationId": "delete-user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/organizations/users/{user_id}/account-permissions": {
      "put": {
        "summary": "Replace Account Permissions",
        "operationId": "put-v1-organizations-users-user_id-account-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_permissions"
                ],
                "properties": {
                  "account_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_id",
                        "role_id"
                      ],
                      "properties": {
                        "account_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "role_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "summary": "List Account Permissions",
        "operationId": "get-v1-organizations-users-user_id-account-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Update Account Permissions",
        "operationId": "patch-v1-organizations-users-user_id-account-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_permissions"
                ],
                "properties": {
                  "account_permissions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AccountPermission"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/organizations/users/{user_id}/account-permissions/{account_id}": {
      "delete": {
        "summary": "Remove Account Permission",
        "operationId": "delete-v1-organizations-users-user_id-account-permissions-account_id",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/organizations/users/{user_id}/account-group-permissions": {
      "put": {
        "summary": "Replace Account Group Permissions",
        "operationId": "put-v1-organizations-users-user_id-account-group-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_group_permissions"
                ],
                "properties": {
                  "account_group_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_group_id",
                        "role_id"
                      ],
                      "properties": {
                        "account_group_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "role_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "summary": "List Account Group Permissions",
        "operationId": "get-v1-organizations-users-user_id-account-group-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "summary": "Update Account Group Permissions",
        "operationId": "patch-v1-organizations-users-user_id-account-group-permissions",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_group_permissions"
                ],
                "properties": {
                  "account_group_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "account_group_id",
                        "role_id"
                      ],
                      "properties": {
                        "account_group_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "role_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/organizations/users/{user_id}/account-group-permissions/{account_group_id}": {
      "delete": {
        "summary": "Remove Account Group Permission",
        "operationId": "delete-v1-organizations-users-user_id-account-group-permissions-account_group_id",
        "tags": [
          "User Permissions"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  }
}