{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "OTP"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno"
    }
  ],
  "tags": [],
  "paths": {
    "/new-endpoint": {
      "get": {
        "summary": "New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v1/payments/{id}/create-otp": {
      "post": {
        "description": "",
        "operationId": "post_v1payments{id}complete-1",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "id": "c37c47f7-d54e-4a6d-a78c-e2cea3c0fa6a",
                      "account_id": "05327270-54f8-4189-b2fc-492864ecfc47",
                      "description": "Create Payment 3DS",
                      "country": "EC",
                      "status": "PENDING",
                      "sub_status": "WAITING_OTP_COMPLETITION",
                      "merchant_order_id": "order-d004b1e6-b229-4a30-8763-4398be295fa3",
                      "created_at": "2025-11-28T16:57:52.896134Z",
                      "updated_at": "2025-11-28T16:57:55.549707Z",
                      "amount": {
                        "captured": 0,
                        "currency": "ECS",
                        "currency_conversion": null,
                        "refunded": 0,
                        "value": 13500
                      },
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "CARD",
                        "vault_on_success": false,
                        "token": "",
                        "parent_payment_method_type": null,
                        "otp": {
                          "length": 6,
                          "expires_at": "2025-11-28T16:58:55.549707Z",
                          "retries": {
                            "accept": true,
                            "number": 1
                          }
                        },
                        "payment_method_detail": {
                          "card": {
                            "verify": false,
                            "capture": true,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": "MERCHANT",
                            "installment_amount": null,
                            "installments_total_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "redirect_url": null,
                            "card_data": {
                              "holder_name": "Dayana Perez",
                              "iin": "40000000",
                              "lfd": "1091",
                              "number_length": 16,
                              "security_code_length": 3,
                              "brand": "DINERS",
                              "issuer_name": "Banco Diners Club del Ecuador S.A",
                              "issuer_code": null,
                              "country_code": "EC",
                              "category": "TRADITIONAL",
                              "type": "CREDIT",
                              "fingerprint": "668241e3-757f-49a7-9d54-6c46314e4afd",
                              "expiration_month": 1,
                              "expiration_year": 26
                            },
                            "stored_credentials": null
                          }
                        }
                      },
                      "customer_payer": {
                        "id": "634fd2af-791c-488f-9893-1cf51394fa97",
                        "merchant_customer_id": "merchant-1764349052",
                        "first_name": "Dayana",
                        "last_name": "Perez",
                        "gender": "F",
                        "date_of_birth": "1990-02-28",
                        "email": "reject@reject.com",
                        "nationality": "EC",
                        "ip_address": "181.78.82.227",
                        "device_fingerprint": "a31b25d5-728c-4eeb-b5b6-fda55f18f6ac",
                        "device_fingerprints": [],
                        "browser_info": {
                          "user_agent": "",
                          "accept_header": "",
                          "accept_content": null,
                          "accept_browser": null,
                          "color_depth": "",
                          "screen_height": "",
                          "screen_width": "",
                          "javascript_enabled": null,
                          "java_enabled": null,
                          "browser_time_difference": null,
                          "language": "",
                          "platform": null
                        },
                        "document": {
                          "document_type": "CC",
                          "document_number": "14226360"
                        },
                        "phone": {
                          "number": "3132450765",
                          "country_code": "57"
                        },
                        "additional_data": null
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The unique identifier of the payment (MAX 64; MIN 36)."
          },
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier used in HTTP headers to ensure that a request is processed only once, even if it is retried due to network issues or timeouts."
          }
        ],
        "summary": "Copy of "
      }
    },
    "/v1/payments/{payment_id/transactions/{transaction_id}/complete": {
      "post": {
        "description": "",
        "operationId": "post_v1payments{id}complete",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": "{}"
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_OTP"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid OTP"
                      }
                    }
                  }
                },
                "examples": {
                  "Invalid OTP": {
                    "summary": "Invalid OTP",
                    "value": {
                      "code": "INVALID_OTP",
                      "messages": [
                        "Invalid OTP"
                      ]
                    }
                  },
                  "Expired OTP": {
                    "summary": "Expired OTP",
                    "value": {
                      "code": "EXPIRED_OTP",
                      "messages": [
                        "Expired OTP"
                      ]
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier used in HTTP headers to ensure that a request is processed only once, even if it is retried due to network issues or timeouts."
          },
          {
            "in": "path",
            "name": "payment_id/transactions/{transaction_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "description": "One-time password (MAX 8; MIN 4)."
                  }
                },
                "required": [
                  "otp"
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": false
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}