{
  "openapi": "3.1.0",
  "info": {
    "title": "payment-api-authorize-payment",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your private-secret-key>",
        "name": "private-secret-key"
      },
      "sec2": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Idempotency-Key",
        "x-default": "<Your X-Idempotency-Key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": [],
      "sec2": []
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "summary": "Authorize Payment",
        "description": "",
        "operationId": "authorize-payment-2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "merchant_order_id",
                  "description",
                  "country",
                  "amount",
                  "payment_method",
                  "customer_payer"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on [Yuno's Dashboard](https://dashboard.y.uno/) (MAX 64; MIN 36)."
                  },
                  "merchant_order_id": {
                    "type": "string",
                    "description": "The unique identifier of the customer's order (MAX 255; MIN 3)."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the payment (MAX 255; MIN 3)."
                  },
                  "country": {
                    "type": "string",
                    "description": "The customer's country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                    "enum": [
                      "AF",
                      "AL",
                      "DZ",
                      "AS",
                      "AD",
                      "AO",
                      "AI",
                      "AQ",
                      "AG",
                      "AR",
                      "AM",
                      "AW",
                      "AU",
                      "AT",
                      "AZ",
                      "BS",
                      "BH",
                      "BD",
                      "BB",
                      "BY",
                      "BE",
                      "BZ",
                      "BJ",
                      "BM",
                      "BT",
                      "BO",
                      "BQ",
                      "BA",
                      "BW",
                      "BV",
                      "BR",
                      "IO",
                      "BN",
                      "BG",
                      "BF",
                      "BI",
                      "CV",
                      "KH",
                      "CM",
                      "CA",
                      "KY",
                      "CF",
                      "TD",
                      "CL",
                      "CN",
                      "CX",
                      "CC",
                      "CO",
                      "KM",
                      "CD",
                      "CG",
                      "CK",
                      "CR",
                      "HR",
                      "CU",
                      "CW",
                      "CY",
                      "CZ",
                      "CI",
                      "DK",
                      "DJ",
                      "DM",
                      "DO",
                      "EC",
                      "EG",
                      "SV",
                      "GQ",
                      "ER",
                      "EE",
                      "SZ",
                      "ET",
                      "FK",
                      "FO",
                      "FJ",
                      "FI",
                      "FR",
                      "GF",
                      "PF",
                      "TF",
                      "GA",
                      "GM",
                      "GE",
                      "DE",
                      "GH",
                      "GI",
                      "GR",
                      "GL",
                      "GD",
                      "GP",
                      "GU",
                      "GT",
                      "GG",
                      "GN",
                      "GW",
                      "GY",
                      "HT",
                      "HM",
                      "VA",
                      "HN",
                      "HK",
                      "HU",
                      "IS",
                      "IN",
                      "ID",
                      "IR",
                      "IQ",
                      "IE",
                      "IM",
                      "IL",
                      "IT",
                      "JM",
                      "JP",
                      "JE",
                      "JO",
                      "KZ",
                      "KE",
                      "KI",
                      "KP",
                      "KR",
                      "KW",
                      "KG",
                      "LA",
                      "LV",
                      "LB",
                      "LS",
                      "LR",
                      "LY",
                      "LI",
                      "LT",
                      "LU",
                      "MO",
                      "MG",
                      "MW",
                      "MY",
                      "MV",
                      "ML",
                      "MT",
                      "MH",
                      "MQ",
                      "MR",
                      "MU",
                      "YT",
                      "MX",
                      "FM",
                      "MD",
                      "MC",
                      "MN",
                      "ME",
                      "MS",
                      "MA",
                      "MZ",
                      "MM",
                      "NA",
                      "NR",
                      "NP",
                      "NL",
                      "NC",
                      "NZ",
                      "NI",
                      "NE",
                      "NG",
                      "NU",
                      "NF",
                      "MP",
                      "NO",
                      "OM",
                      "PK",
                      "PW",
                      "PS",
                      "PA",
                      "PG",
                      "PY",
                      "PE",
                      "PH",
                      "PN",
                      "PL",
                      "PT",
                      "PR",
                      "QA",
                      "MK",
                      "RO",
                      "RU",
                      "RW",
                      "RE",
                      "BL",
                      "SH",
                      "KN",
                      "LC",
                      "MF",
                      "PM",
                      "VC",
                      "WS",
                      "SM",
                      "ST",
                      "SA",
                      "SN",
                      "RS",
                      "SC",
                      "SL",
                      "SG",
                      "SX",
                      "SK",
                      "SI",
                      "SB",
                      "SO",
                      "ZA",
                      "GS",
                      "SS",
                      "ES",
                      "LK",
                      "SD",
                      "SR",
                      "SJ",
                      "SE",
                      "CH",
                      "SY",
                      "TW",
                      "TJ",
                      "TZ",
                      "TH",
                      "TL",
                      "TG",
                      "TK",
                      "TO",
                      "TT",
                      "TN",
                      "TR",
                      "TM",
                      "TC",
                      "TV",
                      "UG",
                      "UA",
                      "AE",
                      "GB",
                      "UM",
                      "US",
                      "UY",
                      "UZ",
                      "VU",
                      "VE",
                      "VN",
                      "VG",
                      "VI",
                      "WF",
                      "EH",
                      "YE",
                      "ZM",
                      "ZW",
                      "AX",
                      ""
                    ]
                  },
                  "amount": {
                    "type": "object",
                    "description": "Specifies the payment amount object, with the value and currency.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).",
                        "enum": [
                          "ARS",
                          "BOV",
                          "BOB",
                          "BRL",
                          "CLP",
                          "COP",
                          "CRC",
                          "USD",
                          "SVC",
                          "GTQ",
                          "HNL",
                          "MXN",
                          "NIO",
                          "PAB",
                          "PYG",
                          "PEN",
                          "UYU",
                          ""
                        ]
                      },
                      "value": {
                        "type": "string",
                        "description": "The payment amount (multiple of 0.0001)."
                      }
                    }
                  },
                  "checkout": {
                    "type": "object",
                    "description": "Specifies the checkout object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.",
                    "required": [
                      "session"
                    ],
                    "properties": {
                      "session": {
                        "type": "string",
                        "description": "The checkout session that has been created for the payment using the [Create Checkout Session](https://docs.y.uno/reference/create-checkout-session) endpoint (MAX 64 ; MIN 36)."
                      }
                    }
                  },
                  "payment_method": {
                    "type": "object",
                    "description": "Specifies the payment_method object.",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "The one time use payment method token provided by Yuno sdk (MAX: 64; MIN: 36)."
                      },
                      "vaulted_token": {
                        "type": "string",
                        "description": "The vaulted token (MAX: 64; MIN: 36)."
                      },
                      "detail": {
                        "type": "object",
                        "description": "Specifies the detail object.",
                        "properties": {
                          "card": {
                            "type": "object",
                            "description": "Specifies the card object.",
                            "properties": {
                              "capture": {
                                "type": "boolean",
                                "description": "Decides whether to authorize the payment or capture it. Authorizing a card payment allows you to reserve funds in a customer's bank account. If the field is not sent, we will take it as true."
                              },
                              "installments": {
                                "type": "integer",
                                "description": "The card installments (MAX 50; MIN 1).",
                                "format": "int32"
                              },
                              "first_installment_deferral": {
                                "type": "integer",
                                "description": "Number of months to be waited to debit the first installment.",
                                "format": "int32"
                              },
                              "soft_descriptor": {
                                "type": "string",
                                "description": "The descriptor passed per transactions to out platform. It will be presented on the customer's physical bank statement (MAX 15; MIN 0)."
                              },
                              "card_data": {
                                "type": "object",
                                "description": "Specifies the card_data object.",
                                "properties": {
                                  "number": {
                                    "type": "string",
                                    "description": "Card’s number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants."
                                  },
                                  "expiration_month": {
                                    "type": "integer",
                                    "description": "Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.",
                                    "format": "int32"
                                  },
                                  "expiration_year": {
                                    "type": "integer",
                                    "description": "Card’s expiration year - YYYY (MAX 4; MIN 2) - only available for PCI certified merchants.",
                                    "format": "int32"
                                  },
                                  "security_code": {
                                    "type": "string",
                                    "description": "Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants."
                                  },
                                  "holder_name": {
                                    "type": "string",
                                    "description": "Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "customer_payer": {
                    "type": "object",
                    "description": "Specifies customer object for payments.",
                    "required": [
                      "id",
                      "merchant_customer_id",
                      "first_name",
                      "last_name",
                      "gender",
                      "date_of_birth",
                      "email",
                      "nationality"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the customer (MAX 64 ; MIN 36). This object is not mandatory for back to back payments. Required when `workflow` is defined as `CHECKOUT` or is not sent."
                      },
                      "merchant_customer_id": {
                        "type": "string",
                        "description": "The unique identifier of the customer in the external merchant (MAX 255; MIN 3)."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The customer's first name (MAX 255; MIN 3)."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The customer's last name (MAX 255; MIN 3)."
                      },
                      "gender": {
                        "type": "string",
                        "description": "The customer's gender (MAX 1; MIN 1; (M=Male/F=Female/NA=Not applicable/NK=Not Known)).",
                        "enum": [
                          "M",
                          "F",
                          "NA",
                          "NK",
                          ""
                        ]
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "The customer's date of birth in the YYYY-MM-DD format (Length: 10).",
                        "format": "date"
                      },
                      "email": {
                        "type": "string",
                        "description": "The customer's e-mail (MAX 255; MIN 3)."
                      },
                      "nationality": {
                        "type": "string",
                        "description": "The customer's nationality (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                        "enum": [
                          "AR",
                          "BO",
                          "BR",
                          "CL",
                          "CO",
                          "CR",
                          "EC",
                          "SV",
                          "GT",
                          "HN",
                          "MX",
                          "NI",
                          "PA",
                          "PY",
                          "PE",
                          "US",
                          "UY",
                          ""
                        ]
                      },
                      "ip_address": {
                        "type": "string",
                        "description": "The customer's IP address (MAX 45; MIN 7)."
                      },
                      "device_fingerprint": {
                        "type": "string",
                        "description": "The customer's device fingerprint (MAX 4000; MIN 1). For integrations using Yuno checkout the value is obtained automatically, do not send this field."
                      },
                      "browser_info": {
                        "type": "object",
                        "description": "Specifies the browser_info object.",
                        "required": [
                          "user_agent",
                          "color_depth",
                          "screen_height",
                          "screen_width",
                          "language"
                        ],
                        "properties": {
                          "user_agent": {
                            "type": "string",
                            "description": "The user agent value of the customer's browser (MAX 255; MIN 3)."
                          },
                          "accept_header": {
                            "type": "string",
                            "description": "The accept header value of the customer's browser."
                          },
                          "color_depth": {
                            "type": "string",
                            "description": "The color depth of the customer's browser in bits per pixel. This should be obtained by using the browser's screen.colorDepth property. Accepted values: 1, 4, 8, 15, 16, 24, 30, 32 or 48 bit color depth. (MAX 5; MIN 1)."
                          },
                          "screen_height": {
                            "type": "string",
                            "description": "The total height of the customer's device screen in pixels. (MAX 255; MIN 3)."
                          },
                          "screen_width": {
                            "type": "string",
                            "description": "The total width of the customer's device screen in pixels. (MAX 255; MIN 3)."
                          },
                          "javascript_enabled": {
                            "type": "boolean",
                            "description": "Indicates if Javascript is enabled or not in the device."
                          },
                          "language": {
                            "type": "string",
                            "description": "The navigator.language value of the customer's browser (as defined in IETF BCP 47) (MAX 5; MIN 1)."
                          }
                        }
                      },
                      "document": {
                        "type": "object",
                        "description": "Specifies the customer's document object, including its number and type.",
                        "required": [
                          "document_number",
                          "document_type"
                        ],
                        "properties": {
                          "document_number": {
                            "type": "string",
                            "description": "Document number for customer (MAX 40; MIN 3)."
                          },
                          "document_type": {
                            "type": "string",
                            "description": "The customer's document type (MAX 6, MIN 2; [Country reference](country-reference)).",
                            "enum": [
                              "DNI",
                              "CI",
                              "LC",
                              "LE",
                              "CUIT",
                              "CUIL",
                              "PAS",
                              "CPF",
                              "RG",
                              "CNH",
                              "CNPJ",
                              "RUT",
                              "RUN",
                              "CC",
                              "CE",
                              "NIT",
                              "DUI",
                              "PIC",
                              "DPI",
                              "IFR",
                              "INE",
                              "CP",
                              "RFC",
                              "CURP",
                              "CIP",
                              "CIC",
                              "CUI",
                              "RUC",
                              ""
                            ]
                          }
                        }
                      },
                      "billing_address": {
                        "type": "object",
                        "description": "Specifies the customer's billing address object.",
                        "required": [
                          "address_line_1",
                          "city",
                          "country"
                        ],
                        "properties": {
                          "address_line_1": {
                            "type": "string",
                            "description": "The primary billing address line of the customer (MAX 255; MIN 3)."
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "The secondary billing address line of the customer (MAX 255; MIN 3)."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city considered for the billing address (MAX 255; MIN 3)."
                          },
                          "country": {
                            "type": "string",
                            "description": "The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                            "enum": [
                              "AR",
                              "BO",
                              "BR",
                              "CL",
                              "CO",
                              "CR",
                              "EC",
                              "SV",
                              "GT",
                              "HN",
                              "MX",
                              "NI",
                              "PA",
                              "PY",
                              "PE",
                              "US",
                              "UY",
                              ""
                            ]
                          },
                          "state": {
                            "type": "string",
                            "description": "The state considered for the billing address (MAX 255; MIN 3)."
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "The zipcode considered for the billing address (MAX 11; MIN 4)."
                          }
                        }
                      },
                      "shipping_address": {
                        "type": "object",
                        "description": "Specifies the customer's shipping address object.",
                        "required": [
                          "address_line_1",
                          "city"
                        ],
                        "properties": {
                          "address_line_1": {
                            "type": "string",
                            "description": "The primary shipping address line of the customer (MAX 255; MIN 3)."
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "The secondary shipping address line of the customer (MAX 255; MIN 3)."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city considered for the shipping address (MAX 255; MIN 3)."
                          },
                          "country": {
                            "type": "string",
                            "description": "The country considered for the shipping address (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                            "enum": [
                              "AR",
                              "BO",
                              "BR",
                              "CL",
                              "CO",
                              "CR",
                              "EC",
                              "SV",
                              "GT",
                              "HN",
                              "MX",
                              "NI",
                              "PA",
                              "PY",
                              "PE",
                              "US",
                              "UY",
                              ""
                            ]
                          },
                          "state": {
                            "type": "string",
                            "description": "The state considered for the shipping address (MAX 255; MIN 3)."
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "The zipcode considered for the shipping address (MAX 11; MIN 4)."
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Specifies the customer's phone number object.",
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "description": "The country calling code of the customer's phone (MAX 3; MIN 1). Check the [Country reference](ref:country-reference) to see the phone codes."
                          },
                          "number": {
                            "type": "string",
                            "description": "The customer's phone number, without the country code (MAX 32; MIN 1)."
                          }
                        }
                      }
                    }
                  },
                  "additional_data": {
                    "type": "object",
                    "description": "Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.",
                    "properties": {
                      "order": {
                        "type": "object",
                        "description": "Specifies the order object.",
                        "required": [
                          "shipping_amount"
                        ],
                        "properties": {
                          "shipping_amount": {
                            "type": "number",
                            "description": "The shipping amount of the order (multiple of 0.0001).",
                            "format": "float"
                          },
                          "fee_amount": {
                            "type": "number",
                            "description": "The fee amount of the order (multiple of 0.0001).",
                            "format": "float"
                          },
                          "items": {
                            "type": "array",
                            "description": "Specifies the items array of object.",
                            "items": {
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The unique identifier of the item (MAX 255; MIN 3)."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the item (MAX 255; MIN 3)."
                                },
                                "quantity": {
                                  "type": "integer",
                                  "description": "The quantity of the item.",
                                  "format": "int32"
                                },
                                "unit_amount": {
                                  "type": "number",
                                  "description": "The unit amount of the item (multiple of 0.0001).",
                                  "format": "float"
                                },
                                "category": {
                                  "type": "string",
                                  "description": "The category of the item. Check the [Item category reference](items-category-list).",
                                  "enum": [
                                    "art",
                                    "baby",
                                    "coupons",
                                    "beauty_&_personal_care",
                                    "donations",
                                    "computing",
                                    "books",
                                    "grocery_&_gourmet_food",
                                    "cameras",
                                    "video_games",
                                    "television",
                                    "car_electronics",
                                    "electronics",
                                    "automotive",
                                    "toys_&_games",
                                    "musical_instruments",
                                    "handmade",
                                    "garden_&_outdoor",
                                    "entertainment",
                                    "industrial_&_scientific",
                                    "fashion",
                                    "games",
                                    "pet_supplies",
                                    "home",
                                    "musical",
                                    "phones",
                                    "services",
                                    "learnings",
                                    "tickets",
                                    "travels",
                                    "virtual_goods",
                                    "others",
                                    ""
                                  ]
                                },
                                "brand": {
                                  "type": "string",
                                  "description": "The brand of the item (MAX 255; MIN 3)."
                                },
                                "sku_code": {
                                  "type": "string",
                                  "description": "The stock keeping unit (SKU) of the item (MAX 255; MIN 3)."
                                },
                                "manufacture_part_number": {
                                  "type": "string",
                                  "description": "The manufacture part number of the item."
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "quantity",
                                "category"
                              ],
                              "type": "object"
                            }
                          }
                        }
                      },
                      "airline": {
                        "type": "object",
                        "description": "Specifies the airline object.",
                        "properties": {
                          "pnr": {
                            "type": "string",
                            "description": "Passenger name record (MAX 10; MIN 1)."
                          },
                          "legs": {
                            "type": "array",
                            "description": "Specifies the legs object.",
                            "items": {
                              "properties": {
                                "departure_airport": {
                                  "type": "string",
                                  "description": "IATA code. See http://www.iata.org (MAX 3; MIN 3)."
                                },
                                "departure_datetime": {
                                  "type": "string",
                                  "description": "The departure date and time in UTC time ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), MAX 27; MIN 27).",
                                  "format": "date-time"
                                },
                                "departure_airport_timezone": {
                                  "type": "string",
                                  "description": "Airport timezone (MAX 6; MIN 6)."
                                },
                                "arrival_airport": {
                                  "type": "string",
                                  "description": "IATA airport code. See http://www.iata.org (MAX 3; MIN 3)."
                                },
                                "carrier_code": {
                                  "type": "string",
                                  "description": "IATA carrier code. See http://www.iata.org (MAX 2; MIN 2)."
                                },
                                "flight_number": {
                                  "type": "string",
                                  "description": "The flight number assigned by the airline carrier (MAX 5; MIN 1)."
                                },
                                "fare_basis_code": {
                                  "type": "string",
                                  "description": "Code base rate provides specific information on the fare in addition to the class service, both required for booking (MAX 15; MIN 1)."
                                },
                                "fare_class_code": {
                                  "type": "string",
                                  "description": "The fare class code of the airline (MAX 1; MIN 1). The values can be a letter (A-Z) but may vary depending on the airline's definition. Check the [Airline information reference](airline-information#fare-class-code).",
                                  "enum": [
                                    "F",
                                    "FR",
                                    "B",
                                    "CR",
                                    "Y",
                                    "YD",
                                    ""
                                  ]
                                },
                                "base_fare": {
                                  "type": "number",
                                  "description": "The transaction amount, excluding taxes and fees, the smallest unit of currency (multipleOf 0.0001).",
                                  "format": "float"
                                },
                                "base_fare_currency": {
                                  "type": "string",
                                  "description": "The currency used to transaction amount (MAX 3; MIN 3, [ISO 4217](country-reference))."
                                },
                                "stopover_code": {
                                  "type": "string",
                                  "description": "1-letter code that indicates whether the passenger is allowed to make a stopover. Only two types of characters are allowed: O: Stopover allowed (the letter “O”, not zero) / X: Stopover not allowed. (MAX 1; MIN 1)."
                                }
                              },
                              "required": [
                                "departure_airport",
                                "departure_datetime",
                                "departure_airport_timezone",
                                "arrival_airport",
                                "carrier_code",
                                "flight_number"
                              ],
                              "type": "object"
                            }
                          },
                          "passenger": {
                            "type": "array",
                            "description": "Specifies the passengers array of objects.",
                            "items": {
                              "properties": {
                                "first_name": {
                                  "type": "string",
                                  "description": "The passenger first name (MAX 255; MIN 3)."
                                },
                                "last_name": {
                                  "type": "string",
                                  "description": "The passenger last name (MAX 255; MIN 3)."
                                },
                                "middle_name": {
                                  "type": "string",
                                  "description": "The passenger middle name (MAX 255; MIN 3)."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "The passenger type (MAX 1; MIN 1). Check the [Airline information reference](airline-information#passenger-type).",
                                  "enum": [
                                    "A",
                                    "C",
                                    "I",
                                    ""
                                  ]
                                },
                                "date_of_birth": {
                                  "type": "string",
                                  "description": "The passenger date of birth in the YYYY-MM-DD (MAX 10; MIN 10).",
                                  "format": "date"
                                },
                                "nationality": {
                                  "type": "string",
                                  "description": "The passenger nationality (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                                  "enum": [
                                    "AR",
                                    "BO",
                                    "BR",
                                    "CL",
                                    "CO",
                                    "CR",
                                    "EC",
                                    "SV",
                                    "GT",
                                    "HN",
                                    "MX",
                                    "NI",
                                    "PA",
                                    "PY",
                                    "PE",
                                    "US",
                                    "UY",
                                    ""
                                  ]
                                },
                                "document": {
                                  "type": "object",
                                  "description": "Specifies the document object of the passenger.",
                                  "properties": {
                                    "document_number": {
                                      "type": "string",
                                      "description": "Document number for passenger (MAX 40; MIN 3)."
                                    },
                                    "document_type": {
                                      "type": "string",
                                      "description": "The passenger's document type (MAX 6, MIN 2; [Country reference](country-reference)).",
                                      "enum": [
                                        "DNI",
                                        "CI",
                                        "LC",
                                        "LE",
                                        "CUIT",
                                        "CUIL",
                                        "PAS",
                                        "CPF",
                                        "RG",
                                        "CNH",
                                        "CNPJ",
                                        "RUT",
                                        "RUN",
                                        "CC",
                                        "CE",
                                        "NIT",
                                        "DUI",
                                        "PIC",
                                        "DPI",
                                        "IFR",
                                        "INE",
                                        "CP",
                                        "RFC",
                                        "CURP",
                                        "CIP",
                                        "CIC",
                                        "CUI",
                                        "RUC",
                                        ""
                                      ]
                                    },
                                    "country": {
                                      "type": "string",
                                      "description": "Country where the document was issued (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                                      "enum": [
                                        "AR",
                                        "BO",
                                        "BR",
                                        "CL",
                                        "CO",
                                        "CR",
                                        "EC",
                                        "SV",
                                        "GT",
                                        "HN",
                                        "MX",
                                        "NI",
                                        "PA",
                                        "PY",
                                        "PE",
                                        "US",
                                        "UY",
                                        ""
                                      ]
                                    }
                                  }
                                },
                                "loyalty_number": {
                                  "type": "string",
                                  "description": "Number of passenger loyalty program."
                                },
                                "loyalty_tier": {
                                  "type": "string",
                                  "description": "Tier of passenger loyalty program. Check the [Airline information reference](airline-information#loyalty-tier).",
                                  "enum": [
                                    "1",
                                    "2",
                                    "3"
                                  ]
                                },
                                "phone": {
                                  "type": "object",
                                  "description": "Specifies the phone object for the passenger.",
                                  "properties": {
                                    "country_code": {
                                      "type": "string",
                                      "description": "The country calling code of the passenger's phone (MAX 3; MIN 1). Possible values: Check the [Country reference](ref:country-reference)."
                                    },
                                    "number": {
                                      "type": "string",
                                      "description": "The passenger's phone number, without the country code (MAX 32; MIN 1)."
                                    }
                                  }
                                }
                              },
                              "type": "object"
                            }
                          },
                          "ticket": {
                            "type": "array",
                            "description": "Specifieis the array of tickets.",
                            "items": {
                              "properties": {
                                "ticket_number": {
                                  "type": "string",
                                  "description": "Ticket number (MAX 14; MIN 1)."
                                },
                                "e_ticket": {
                                  "type": "boolean",
                                  "description": "Is this an e-ticket?"
                                },
                                "restricted": {
                                  "type": "boolean",
                                  "description": "Indicates if the ticket is refunfable or not."
                                },
                                "total_fare_amount": {
                                  "type": "number",
                                  "description": "Total fare amount in the smallest unit of currency (multiple of 0.0001).",
                                  "format": "float"
                                },
                                "total_tax_amount": {
                                  "type": "number",
                                  "description": "Total taxes amount in the smallest unit of currency (multiple of 0.0001).",
                                  "format": "float"
                                },
                                "total_fee_amount": {
                                  "type": "number",
                                  "description": "Total fee amount in the smallest unit of currency (multiple of 0.0001).",
                                  "format": "float"
                                },
                                "issue": {
                                  "type": "object",
                                  "description": "Specifies the issue object.",
                                  "properties": {
                                    "carrier_prefix_code": {
                                      "type": "string",
                                      "description": "Issuing or Validating carrier. This is the AWB Prefix (Air waybill) 3-numeric code (MAX 3; MIN 3)."
                                    },
                                    "travel_agent_code": {
                                      "type": "string",
                                      "description": "Code of the travel agent issuing the ticket (MAX 9; MIN 8)."
                                    },
                                    "travel_agent_name": {
                                      "type": "string",
                                      "description": "The name under which the point of sale appears on the agency list or franchise name (MAX 32; MIN 1)."
                                    },
                                    "date": {
                                      "type": "string",
                                      "description": "Ticket issuing date (MAX 27; MIN 27).",
                                      "format": "date-time"
                                    },
                                    "address": {
                                      "type": "string",
                                      "description": "Address of the agent whose sold the ticket (MAX 255; MIN 3)."
                                    },
                                    "city": {
                                      "type": "string",
                                      "description": "City name of the agent whose sold the ticket (MAX 255; MIN 3)."
                                    },
                                    "country": {
                                      "type": "string",
                                      "description": "Country code alpha 2 where the ticket was issued (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                                      "enum": [
                                        "AR",
                                        "BO",
                                        "BR",
                                        "CL",
                                        "CO",
                                        "CR",
                                        "EC",
                                        "SV",
                                        "GT",
                                        "HN",
                                        "MX",
                                        "NI",
                                        "PA",
                                        "PY",
                                        "PE",
                                        "US",
                                        "UY",
                                        ""
                                      ]
                                    }
                                  }
                                }
                              },
                              "type": "object"
                            }
                          }
                        }
                      },
                      "seller_details": {
                        "type": "object",
                        "description": "Specifies the seller's details object.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The seller's legal name (MAX 255; MIN 3)."
                          },
                          "email": {
                            "type": "number",
                            "description": "The seller's e-mail (MAX 255; MIN 3).",
                            "format": "float"
                          },
                          "reference": {
                            "type": "number",
                            "description": "The seller's identification code (MAX 255; MIN 3).",
                            "format": "float"
                          },
                          "website": {
                            "type": "string",
                            "description": "The seller's website URL (MAX 255; MIN 3)."
                          },
                          "industry": {
                            "type": "string",
                            "description": "The seller's industry (MAX 255; MIN 3).",
                            "enum": [
                              "ADVERTISING",
                              "ART",
                              "AUTOMOTIVE",
                              "ANTIVIRUS",
                              "BABY",
                              "BEAUTY_&_PERSONAL_CARE",
                              "BOOKS",
                              "CAMERAS",
                              "CAR_ELECTRONICS",
                              "COMPUTING",
                              "COUPONS",
                              "DONATIONS",
                              "DELIVERY",
                              "ELECTRONICS",
                              "ENTERTAINMENT",
                              "EDUCATION",
                              "FASHION",
                              "GAMES",
                              "GARDEN_&_OUTDOOR",
                              "GROCERY_&_GOURMET_FOOD",
                              "HANDMADE",
                              "HOME",
                              "INDUSTRIAL_&_SCIENTIFIC",
                              "INVESTING_AND_FINANCIAL",
                              "LEARNINGS",
                              "MUSICAL",
                              "OTHERS",
                              "PET_SUPPLIES",
                              "PHONES",
                              "PAYROLL",
                              "SERVICES",
                              "SAAS",
                              "TELEVISION",
                              "STREAMING",
                              "TICKETS",
                              "TOYS_&_GAMES",
                              "TRAVELS",
                              "VIDEO_GAMES",
                              "VIRTUAL_GOODS",
                              ""
                            ]
                          },
                          "country": {
                            "type": "string",
                            "description": "The seller's country (MAX 255; MIN 3; [ISO 3166-1](country-reference)).",
                            "enum": [
                              "AR",
                              "BO",
                              "BR",
                              "CL",
                              "CO",
                              "CR",
                              "EC",
                              "SV",
                              "GT",
                              "HN",
                              "MX",
                              "NI",
                              "PA",
                              "PY",
                              "PE",
                              "US",
                              "UY",
                              ""
                            ]
                          },
                          "document": {
                            "type": "object",
                            "description": "Specifies the document object of the seller.",
                            "properties": {
                              "document_number": {
                                "type": "string",
                                "description": "The seller's document number (MAX 40; MIN 3)."
                              },
                              "document_type": {
                                "type": "string",
                                "description": "The seller's document type (MAX 6, MIN 2; [Country reference](country-reference)).",
                                "enum": [
                                  "DNI",
                                  "CI",
                                  "LC",
                                  "LE",
                                  "CUIT",
                                  "CUIL",
                                  "PAS",
                                  "CPF",
                                  "RG",
                                  "CNH",
                                  "CNPJ",
                                  "RUT",
                                  "RUN",
                                  "CC",
                                  "CE",
                                  "NIT",
                                  "DUI",
                                  "PIC",
                                  "DPI",
                                  "IFR",
                                  "INE",
                                  "CP",
                                  "RFC",
                                  "CURP",
                                  "CIP",
                                  "CIC",
                                  "CUI",
                                  "RUC",
                                  ""
                                ]
                              }
                            }
                          },
                          "phone": {
                            "type": "object",
                            "description": "Specifies the seller's phone number object.",
                            "properties": {
                              "country_code": {
                                "type": "string",
                                "description": "The country calling code of the seller's phone (MAX 3; MIN 1). Check the [Country reference](ref:country-reference) to see the phone codes."
                              },
                              "number": {
                                "type": "string",
                                "description": "The seller's phone number, without the country code (MAX 32; MIN 1)."
                              }
                            }
                          },
                          "address": {
                            "type": "object",
                            "description": "Specifies the seller's address object.",
                            "properties": {
                              "address_line_1": {
                                "type": "string",
                                "description": "The primary address line of the seller (MAX 255; MIN 3)."
                              },
                              "address_line_2": {
                                "type": "string",
                                "description": "The secondary billing address line of the seller (MAX 255; MIN 3)."
                              },
                              "city": {
                                "type": "string",
                                "description": "The city considered for the seller's address (MAX 255; MIN 3)."
                              },
                              "country": {
                                "type": "string",
                                "description": "The country considered for the seller's address (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                                "enum": [
                                  "AR",
                                  "BO",
                                  "BR",
                                  "CL",
                                  "CO",
                                  "CR",
                                  "EC",
                                  "SV",
                                  "GT",
                                  "HN",
                                  "MX",
                                  "NI",
                                  "PA",
                                  "PY",
                                  "PE",
                                  "US",
                                  "UY",
                                  ""
                                ]
                              },
                              "state": {
                                "type": "string",
                                "description": "The state considered for the seller's address (MAX 255; MIN 3)."
                              },
                              "zip_code": {
                                "type": "string",
                                "description": "The zipcode considered for the seller's address (MAX 11; MIN 4)."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "additional_data": {
                      "airline": {
                        "legs": [
                          {
                            "arrival_airport": "AMS",
                            "base_fare": 30000,
                            "base_fare_currency": "USD",
                            "carrier_code": "KL",
                            "departure_airport": "EZE",
                            "departure_airport_timezone": "-03:00",
                            "departure_datetime": "2022-05-09T20:46:54.786342Z",
                            "fare_basis_code": "HL7LNR",
                            "fare_class_code": "FR",
                            "flight_number": "842",
                            "stopover_code": "O"
                          }
                        ],
                        "passengers": [
                          {
                            "country": "CO",
                            "date_of_birth": "1979-01-12",
                            "document": {
                              "document_number": "1093333333",
                              "document_type": "CC"
                            },
                            "first_name": "John",
                            "last_name": "Doe",
                            "loyalty_number": "254587547",
                            "loyalty_tier": "1",
                            "middle_name": "Charles",
                            "nationality": "CO",
                            "type": "A"
                          }
                        ],
                        "pnr": "1P-2UUGJW",
                        "ticket": {
                          "e_ticket": true,
                          "issue": {
                            "address": "Apartamento 502, Torre I",
                            "carrier_prefix_code": "044",
                            "city": "Bogotá",
                            "country": "CO",
                            "date": "1979-01-12",
                            "travel_agent_code": "10655823",
                            "travel_agent_name": "ACME Agency Inc"
                          },
                          "restricted": false,
                          "ticket_number": "7411823255523",
                          "total_fare_amount": 80000,
                          "total_fee_amount": 25200,
                          "total_tax_amount": 14800
                        }
                      },
                      "order": {
                        "fee_amount": 0,
                        "items": [
                          {
                            "brand": "Apple",
                            "category": "phones",
                            "id": "3214",
                            "manufacture_part_number": "345621234",
                            "name": "Iphone 12 Pro Max",
                            "quantity": 1,
                            "sku_code": "A2342",
                            "unit_amount": 550
                          }
                        ],
                        "shipping_amount": 40
                      }
                    },
                    "amount": {
                      "currency": "COP",
                      "value": 23.5676
                    },
                    "checkout": {
                      "session": "<checkout session>"
                    },
                    "country": "CO",
                    "customer_payer": {
                      "billing_address": {
                        "address_line_1": "Calle 34 # 56 - 78",
                        "address_line_2": "Apartamento 502, Torre I",
                        "city": "Bogota",
                        "country": "CO",
                        "state": "Cundinamarca",
                        "zip_code": "111111"
                      },
                      "browser_info": {
                        "accept_header": "false",
                        "color_depth": "15",
                        "javascript_enabled": true,
                        "language": "es-ES",
                        "screen_height": "2048",
                        "screen_width": "1152",
                        "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9"
                      },
                      "date_of_birth": "1990-02-28",
                      "device_fingerprint": "hi88287gbd8d7d782ge....",
                      "document": {
                        "document_number": "1093333333",
                        "document_type": "CC"
                      },
                      "email": "john.doe@email.com",
                      "first_name": "John",
                      "gender": "M",
                      "id": "b1875909-9995-4fc8-8efa-4c40d10fd67c",
                      "ip_address": "192.168.123.167",
                      "last_name": "Doe",
                      "merchant_customer_id": "23456",
                      "nationality": "CO",
                      "phone": {
                        "country_code": "57",
                        "number": "3132450765"
                      },
                      "shipping_address": {
                        "address_line_1": "Calle 34 # 56 - 78",
                        "address_line_2": "Apartamento 502, Torre I",
                        "city": "Bogota",
                        "country": "CO",
                        "state": "Cundinamarca",
                        "zip_code": "111111"
                      }
                    },
                    "account_id": "<Your account_id>",
                    "description": "marketplace payment",
                    "merchant_order_id": "432245",
                    "payment_method": {
                      "token": "bfa5011a-5fb3-11ed-9b6a-0242ac120002",
                      "detail": {
                        "card": {
                          "capture": false
                        }
                      }
                    }
                  }
                },
                "CARD - DIRECT": {
                  "value": {
                    "description": "SUCCESSFUL",
                    "account_id": "<Your account_id>",
                    "merchant_order_id": "0000023",
                    "country": "CO",
                    "merchant_reference": "Pago de test 001",
                    "amount": {
                      "currency": "COP",
                      "value": 5000
                    },
                    "customer_payer": {
                      "first_name": "Pepito",
                      "last_name": "Perez",
                      "merchant_customer_id": "example00234",
                      "document": {
                        "document_type": "DNI",
                        "document_number": "38799999"
                      }
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "capture": false,
                          "card_data": {
                            "number": "4051885600446623",
                            "holder_name": "JOHN DOE",
                            "expiration_month": 10,
                            "expiration_year": 26,
                            "security_code": "456"
                          }
                        }
                      }
                    }
                  }
                },
                "CARD - CHECKOUT": {
                  "value": {
                    "description": "Test Cards",
                    "account_id": "<Your account_id>",
                    "merchant_order_id": "0000022",
                    "merchant_reference": "Pago de test 001",
                    "country": "AR",
                    "amount": {
                      "currency": "ARS",
                      "value": 100
                    },
                    "checkout": {
                      "session": "15efc454-45b0-49cf-8a05-49a1254ccd65"
                    },
                    "customer_payer": {
                      "id": "60003fb0-96b9-4ba3-a31e-399ce630dc12"
                    },
                    "payment_method": {
                      "token": "03642ceb-63b9-4d62-8b66-c837e2f1790a",
                      "detail": {
                        "card": {
                          "capture": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"616439b1-a5c0-40cd-8dcb-92ba953e4f86\",\n    \"account_id\": \"c2d38fc9-49ec-4277-9115-bbad5d17d236\",\n    \"description\": \"Test Cards\",\n    \"country\": \"AR\",\n    \"status\": \"PENDING\",\n    \"merchant_order_id\": \"0000022\",\n    \"created_at\": \"2022-09-23T17:12:18.551893Z\",\n    \"updated_at\": \"2022-09-23T17:12:19.466022Z\",\n    \"amount\": {\n        \"currency\": \"ARS\",\n        \"value\": 100\n    },\n    \"checkout\": {\n        \"session\": \"7db94b37-b74a-4393-a3fb-59a38bcd9567\",\n        \"sdk_action_required\": true\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": false,\n        \"token\": \"1d623c0a-904c-4c2a-b7b1-337f21c90e79\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": false,\n                \"installments\": 1,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"Fannie Weissnat\",\n                    \"iin\": \"41961111\",\n                    \"lfd\": \"0010\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"METABANK\",\n                    \"issuer_code\": null,\n                    \"category\": \"PREPAID RELOADABLE\",\n                    \"type\": \"DEBIT\"\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": \"c319e106-ef68-41de-8e53-e0520ae33213\",\n        \"merchant_customer_id\": \"1663953111\",\n        \"first_name\": \"Fernando\",\n        \"last_name\": \"Iglesias\",\n        \"gender\": null,\n        \"date_of_birth\": null,\n        \"email\": \"Efrain19@yahoo.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": null,\n        \"document\": {\n            \"document_type\": \"DNI\",\n            \"document_number\": \"38799999\"\n        },\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"transactions\": {\n        \"id\": \"b556336a-c357-44cd-915e-1c9530883955\",\n        \"type\": \"AUTHORIZE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 100,\n        \"provider_id\": \"DLOCAL\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": false,\n            \"token\": \"1d623c0a-904c-4c2a-b7b1-337f21c90e79\",\n            \"payment_method_detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": false,\n                    \"installments\": 1,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"Fannie Weissnat\",\n                        \"iin\": \"41961111\",\n                        \"lfd\": \"0010\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"METABANK\",\n                        \"issuer_code\": null,\n                        \"category\": \"PREPAID RELOADABLE\",\n                        \"type\": \"DEBIT\"\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"\",\n        \"reason\": null,\n        \"description\": null,\n        \"merchant_reference\": \"Pago de test 001\",\n        \"provider_data\": {\n            \"id\": \"DLOCAL\",\n            \"transaction_id\": \"T-385928-44f09a9f-af9c-4c61-8615-02c1e188e519\",\n            \"account_id\": \"\",\n            \"status\": \"SUCCEEDED\",\n            \"status_detail\": \"\",\n            \"raw_response\": {\n                \"amount\": 100,\n                \"approved_date\": \"2022-09-23T17:12:19.000+0000\",\n                \"card\": {\n                    \"brand\": \"VI\",\n                    \"expiration_month\": 3,\n                    \"expiration_year\": 2024,\n                    \"holder_name\": \"Fannie Weissnat\",\n                    \"last4\": \"0010\"\n                },\n                \"country\": \"AR\",\n                \"created_date\": \"2022-09-23T17:12:19.000+0000\",\n                \"currency\": \"ARS\",\n                \"description\": \"Test Cards\",\n                \"id\": \"T-385928-44f09a9f-af9c-4c61-8615-02c1e188e519\",\n                \"order_id\": \"b556336a-c357-44cd-915e-1c9530883955\",\n                \"payment_method_flow\": \"DIRECT\",\n                \"payment_method_id\": \"CARD\",\n                \"payment_method_type\": \"CARD\",\n                \"status\": \"AUTHORIZED\",\n                \"status_code\": \"600\",\n                \"status_detail\": \"The payment was authorized.\",\n                \"three_dsecure\": {}\n            }\n        },\n        \"created_at\": \"2022-09-23T17:12:18.559127Z\",\n        \"updated_at\": \"2022-09-23T17:12:19.466012Z\"\n    }\n}"
                  },
                  "CARD - DIRECT": {
                    "value": "{\n    \"id\": \"6600dae3-445f-47fb-a3e8-45ec4f7d4190\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"SUCCESSFUL\",\n    \"country\": \"CO\",\n    \"status\": \"PENDING\",\n    \"sub_status\": \"AUTHORIZED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-07-20T20:00:32.449962Z\",\n    \"updated_at\": \"2023-07-20T20:00:35.194145Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 5000.00\n    },\n    \"checkout\": {\n        \"session\": \"\",\n        \"sdk_action_required\": false\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": false,\n        \"token\": \"\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": false,\n                \"installments\": 1,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"071800\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"JOHN DOE\",\n                    \"iin\": \"40518856\",\n                    \"lfd\": \"6623\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"\",\n                    \"issuer_code\": null,\n                    \"category\": null,\n                    \"type\": \"CREDIT\",\n                    \"three_d_secure\": {\n                        \"setup_id\": null,\n                        \"token\": null,\n                        \"collect_url\": null,\n                        \"setup_reference_id\": null,\n                        \"developer_id\": null,\n                        \"solution_id\": null,\n                        \"code\": null,\n                        \"version\": null,\n                        \"electronic_commerce_indicator\": null,\n                        \"cryptogram\": null,\n                        \"transaction_id\": null,\n                        \"acs_id\": null,\n                        \"ds_id\": null,\n                        \"pares_status\": null\n                    }\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": null,\n        \"merchant_customer_id\": \"example00234\",\n        \"first_name\": \"Pepito\",\n        \"last_name\": \"Perez\",\n        \"gender\": null,\n        \"date_of_birth\": null,\n        \"email\": null,\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": {\n            \"document_type\": \"DNI\",\n            \"document_number\": \"38799999\"\n        },\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": {\n        \"id\": \"78a66c0e-f756-4bc6-8af2-e283e4fa1fd7\",\n        \"type\": \"AUTHORIZE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 5000.00,\n        \"provider_id\": \"DLOCAL\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": false,\n            \"token\": \"\",\n            \"detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": false,\n                    \"installments\": 1,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"071800\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"JOHN DOE\",\n                        \"iin\": \"40518856\",\n                        \"lfd\": \"6623\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"\",\n                        \"issuer_code\": null,\n                        \"category\": null,\n                        \"type\": \"CREDIT\",\n                        \"three_d_secure\": {\n                            \"setup_id\": null,\n                            \"token\": null,\n                            \"collect_url\": null,\n                            \"setup_reference_id\": null,\n                            \"developer_id\": null,\n                            \"solution_id\": null,\n                            \"code\": null,\n                            \"version\": null,\n                            \"electronic_commerce_indicator\": null,\n                            \"cryptogram\": null,\n                            \"transaction_id\": null,\n                            \"acs_id\": null,\n                            \"ds_id\": null,\n                            \"pares_status\": null\n                        }\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"SUCCESSFUL\",\n        \"merchant_reference\": \"reference-0da1f627-43ab-4f66-8057-d55cbb28c578\",\n        \"provider_data\": {\n            \"id\": \"DLOCAL\",\n            \"transaction_id\": \"T-385928-ac26794e-16fd-4a42-891b-7dedd392c949\",\n            \"account_id\": \"\",\n            \"status\": \"AUTHORIZED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"600\",\n            \"response_message\": \"The payment was authorized.\",\n            \"raw_response\": {\n                \"value\": \"{\\\"id\\\":\\\"T-385928-ac26794e-16fd-4a42-891b-7dedd392c949\\\",\\\"amount\\\":5000,\\\"currency\\\":\\\"COP\\\",\\\"payment_method_id\\\":\\\"CARD\\\",\\\"payment_method_type\\\":\\\"CARD\\\",\\\"payment_method_flow\\\":\\\"DIRECT\\\",\\\"country\\\":\\\"CO\\\",\\\"card\\\":{\\\"holder_name\\\":\\\"JOHN DOE\\\",\\\"expiration_month\\\":10,\\\"expiration_year\\\":2026,\\\"brand\\\":\\\"VI\\\",\\\"last4\\\":\\\"6623\\\",\\\"installments\\\":1,\\\"installments_responsible\\\":\\\"customer\\\"},\\\"three_dsecure\\\":{},\\\"created_date\\\":\\\"2023-07-20T20:00:33.000+0000\\\",\\\"approved_date\\\":\\\"2023-07-20T20:00:34.000+0000\\\",\\\"status\\\":\\\"AUTHORIZED\\\",\\\"status_detail\\\":\\\"The payment was authorized.\\\",\\\"status_code\\\":\\\"600\\\",\\\"order_id\\\":\\\"78a66c0e-f756-4bc6-8af2-e283e4fa1fd7\\\",\\\"description\\\":\\\"SUCCESSFUL\\\",\\\"notification_url\\\":\\\"https://sandbox.y.uno/dlocal-webhook/v1/confirmations\\\",\\\"acquirer\\\":{\\\"authorization_code\\\":\\\"071800\\\"}}\"\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"three_d_secure_action_required\": null,\n        \"created_at\": \"2023-07-20T20:00:32.636934Z\",\n        \"updated_at\": \"2023-07-20T20:00:35.114079Z\"\n    },\n    \"split\": [],\n    \"workflow\": \"DIRECT\",\n    \"metadata\": []\n}"
                  },
                  "CARD - CHECKOUT": {
                    "value": "{\n    \"id\": \"6260b2a0-aced-4ae9-9ff5-cde2aee3f3af\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test Cards\",\n    \"country\": \"AR\",\n    \"status\": \"PENDING\",\n    \"sub_status\": \"AUTHORIZED\",\n    \"merchant_order_id\": \"0000022\",\n    \"created_at\": \"2023-07-20T20:05:49.980242Z\",\n    \"updated_at\": \"2023-07-20T20:05:53.837443Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"ARS\",\n        \"refunded\": 0.00,\n        \"value\": 100.00\n    },\n    \"checkout\": {\n        \"session\": \"15efc454-45b0-49cf-8a05-49a1254ccd65\",\n        \"sdk_action_required\": false\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"4bfe3a67-664d-40cd-9f62-029832911a47\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": true,\n        \"token\": \"03642ceb-63b9-4d62-8b66-c837e2f1790a\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": false,\n                \"installments\": 1,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"570812\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"Fannie Weissnat\",\n                    \"iin\": \"41961111\",\n                    \"lfd\": \"0010\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"METABANK\",\n                    \"issuer_code\": \"US_METABANK\",\n                    \"category\": \"PREPAID\",\n                    \"type\": \"PREPAID\",\n                    \"three_d_secure\": {\n                        \"setup_id\": null,\n                        \"token\": null,\n                        \"collect_url\": null,\n                        \"setup_reference_id\": null,\n                        \"developer_id\": null,\n                        \"solution_id\": null,\n                        \"code\": null,\n                        \"version\": null,\n                        \"electronic_commerce_indicator\": null,\n                        \"cryptogram\": null,\n                        \"transaction_id\": null,\n                        \"acs_id\": null,\n                        \"ds_id\": null,\n                        \"pares_status\": null\n                    }\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": \"60003fb0-96b9-4ba3-a31e-399ce630dc12\",\n        \"merchant_customer_id\": \"1689883452\",\n        \"first_name\": \"Fernando\",\n        \"last_name\": \"Iglesias\",\n        \"gender\": \"\",\n        \"date_of_birth\": null,\n        \"email\": \"Elisa_MacGyver@gmail.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": {\n            \"document_type\": \"DNI\",\n            \"document_number\": \"38799992\"\n        },\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": {\n        \"id\": \"40f446c7-27d8-48b0-8a25-3971b5871e03\",\n        \"type\": \"AUTHORIZE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 100.00,\n        \"provider_id\": \"DLOCAL\",\n        \"payment_method\": {\n            \"vaulted_token\": \"4bfe3a67-664d-40cd-9f62-029832911a47\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": true,\n            \"token\": \"03642ceb-63b9-4d62-8b66-c837e2f1790a\",\n            \"detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": false,\n                    \"installments\": 1,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"570812\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"Fannie Weissnat\",\n                        \"iin\": \"41961111\",\n                        \"lfd\": \"0010\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"METABANK\",\n                        \"issuer_code\": \"US_METABANK\",\n                        \"category\": \"PREPAID\",\n                        \"type\": \"PREPAID\",\n                        \"three_d_secure\": {\n                            \"setup_id\": null,\n                            \"token\": null,\n                            \"collect_url\": null,\n                            \"setup_reference_id\": null,\n                            \"developer_id\": null,\n                            \"solution_id\": null,\n                            \"code\": null,\n                            \"version\": null,\n                            \"electronic_commerce_indicator\": null,\n                            \"cryptogram\": null,\n                            \"transaction_id\": null,\n                            \"acs_id\": null,\n                            \"ds_id\": null,\n                            \"pares_status\": null\n                        }\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test Cards\",\n        \"merchant_reference\": \"Pago de test 001\",\n        \"provider_data\": {\n            \"id\": \"DLOCAL\",\n            \"transaction_id\": \"T-385928-0b2935d0-154c-430d-9b9e-58f640a8055f\",\n            \"account_id\": \"\",\n            \"status\": \"AUTHORIZED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"600\",\n            \"response_message\": \"The payment was authorized.\",\n            \"raw_response\": {\n                \"value\": \"{\\\"id\\\":\\\"T-385928-0b2935d0-154c-430d-9b9e-58f640a8055f\\\",\\\"amount\\\":100.00,\\\"currency\\\":\\\"ARS\\\",\\\"payment_method_id\\\":\\\"CARD\\\",\\\"payment_method_type\\\":\\\"CARD\\\",\\\"payment_method_flow\\\":\\\"DIRECT\\\",\\\"country\\\":\\\"AR\\\",\\\"card\\\":{\\\"holder_name\\\":\\\"Fannie Weissnat\\\",\\\"expiration_month\\\":3,\\\"expiration_year\\\":2024,\\\"brand\\\":\\\"VI\\\",\\\"last4\\\":\\\"0010\\\",\\\"installments\\\":1,\\\"installments_responsible\\\":\\\"customer\\\"},\\\"three_dsecure\\\":{},\\\"created_date\\\":\\\"2023-07-20T20:05:51.000+0000\\\",\\\"approved_date\\\":\\\"2023-07-20T20:05:53.000+0000\\\",\\\"status\\\":\\\"AUTHORIZED\\\",\\\"status_detail\\\":\\\"The payment was authorized.\\\",\\\"status_code\\\":\\\"600\\\",\\\"order_id\\\":\\\"40f446c7-27d8-48b0-8a25-3971b5871e03\\\",\\\"description\\\":\\\"Test Cards\\\",\\\"notification_url\\\":\\\"https://sandbox.y.uno/dlocal-webhook/v1/confirmations\\\",\\\"acquirer\\\":{\\\"authorization_code\\\":\\\"570812\\\"}}\"\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"three_d_secure_action_required\": null,\n        \"created_at\": \"2023-07-20T20:05:50.200486Z\",\n        \"updated_at\": \"2023-07-20T20:05:53.684247Z\"\n    },\n    \"split\": [],\n    \"callback_url\": \"https://google.com/?checkoutSession=15efc454-45b0-49cf-8a05-49a1254ccd65\",\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"metadata\": []\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "616439b1-a5c0-40cd-8dcb-92ba953e4f86"
                        },
                        "account_id": {
                          "type": "string",
                          "example": "c2d38fc9-49ec-4277-9115-bbad5d17d236"
                        },
                        "description": {
                          "type": "string",
                          "example": "Test Cards"
                        },
                        "country": {
                          "type": "string",
                          "example": "AR"
                        },
                        "status": {
                          "type": "string",
                          "example": "PENDING"
                        },
                        "merchant_order_id": {
                          "type": "string",
                          "example": "0000022"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2022-09-23T17:12:18.551893Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2022-09-23T17:12:19.466022Z"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "ARS"
                            },
                            "value": {
                              "type": "integer",
                              "example": 100,
                              "default": 0
                            }
                          }
                        },
                        "checkout": {
                          "type": "object",
                          "properties": {
                            "session": {
                              "type": "string",
                              "example": "7db94b37-b74a-4393-a3fb-59a38bcd9567"
                            },
                            "sdk_action_required": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            }
                          }
                        },
                        "payment_method": {
                          "type": "object",
                          "properties": {
                            "vaulted_token": {
                              "type": "string",
                              "example": ""
                            },
                            "type": {
                              "type": "string",
                              "example": "CARD"
                            },
                            "vault_on_success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "token": {
                              "type": "string",
                              "example": "1d623c0a-904c-4c2a-b7b1-337f21c90e79"
                            },
                            "payment_method_detail": {
                              "type": "object",
                              "properties": {
                                "card": {
                                  "type": "object",
                                  "properties": {
                                    "verify": {},
                                    "capture": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "installments": {
                                      "type": "integer",
                                      "example": 1,
                                      "default": 0
                                    },
                                    "first_installment_deferral": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "installments_type": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "installment_amount": {},
                                    "soft_descriptor": {
                                      "type": "string",
                                      "example": ""
                                    },
[...]
