{"openapi":"3.1.0","info":{"title":"payment-api-create-payment-back-to-back","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"public-api-key","x-default":"<Your public-api-key>"},"sec1":{"type":"apiKey","in":"header","name":"private-secret-key","x-default":"<Your private-secret-key>"}}},"security":[{"sec0":[],"sec1":[]}],"paths":{"/old":{"post":{"summary":"Create Payment - V1","description":"","operationId":"create-payment-v1","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","description","country","merchant_order_id","amount","customer_payer","checkout","payment_method"],"properties":{"account_id":{"type":"string","description":"The unique identifier of the account (MAX 64 ; MIN 36)."},"description":{"type":"string","description":"The description of the payment (MAX 255; MIN 3)."},"additional_data":{"type":"object","description":"Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.","properties":{"order":{"type":"object","description":"Specifies the order object.","properties":{"shipping_amount":{"type":"number","description":"The shipping amount of the order (multiple of 0.0001). This field is for informational purposes, the shipping amount is already included in the final transaction amount and is not added separately.","format":"float"},"fee_amount":{"type":"number","description":"The fee amount of the order (multiple of 0.0001). This field is for informational purposes, the fee amount is already included in the final transaction amount and is not added separately.","format":"float"},"tip_amount":{"type":"string","description":"The tip amount of the order (multiple of 0.0001). This field is for informational purposes, the tip amount is already included in the final transaction amount and is not added separately."},"taxes":{"type":"array","description":"The taxes of the order. This struct is for informational purposes, the taxes amount is already included in the final transaction amount and is not added separately.","items":{"properties":{"type":{"type":"string","description":"Type of the tax.","enum":["VAT","AIRPORT_TAX","CONSUMPTION_TAX","VAT_LAW_17934","VAT_LAW_19210","VAT_EXEMPTION","ISV"]},"tax_base":{"type":"number","description":"The amount base to apply the tax defined.","format":"float"},"value":{"type":"number","description":"The amount of the tax.","format":"float"},"percentage":{"type":"number","description":"The percentage of the tax.","format":"float"}},"required":["type","value"],"type":"object"}},"items":{"type":"array","description":"Specifies the items array of object.","items":{"properties":{"id":{"type":"string","description":"The unique identifier of the item (MAX 255; MIN 3)."},"name":{"type":"string","description":"The name of the item (MAX 255; MIN 3)."},"quantity":{"type":"integer","description":"The quantity of the item.","format":"int32"},"unit_amount":{"type":"number","description":"The unit amount of the item (multiple of 0.0001).","format":"float"},"category":{"type":"string","description":"The category of the item. Check the [Item category reference](items-category-list).","enum":["art","baby","coupons","beauty_&_personal_care","donations","computing","books","grocery_&_gourmet_food","cameras","video_games","television","car_electronics","electronics","automotive","toys_&_games","musical_instruments","handmade","garden_&_outdoor","entertainment","industrial_&_scientific","fashion","games","pet_supplies","home","musical","phones","services","learnings","tickets","travels","virtual_goods","others",""]},"brand":{"type":"string","description":"The brand of the item (MAX 255; MIN 3)."},"sku_code":{"type":"string","description":"The stock keeping unit (SKU) of the item (MAX 255; MIN 3)."},"manufacture_part_number":{"type":"string","description":"The manufacture part number of the item."}},"required":["id","name","quantity","unit_amount","category"],"type":"object"}},"shipping":{"type":"object","description":"The shipping details object","required":["type","description","carrier"],"properties":{"type":{"type":"string","description":"The type of shippment","enum":["CUSTOM","MILITARY","ELECTRONIC","EXPRESS","STANDARD","SCHEDULED","ECONOMY","PRIORITY","SAME_DAY","NEXT_DAY","THIRD_DAY","STORE_PICK_UP","LOCKER_PICK_UP","OTHER"]},"description":{"type":"string","description":"The shipment description"},"carrier":{"type":"string","description":"Carrier used for the delivery","enum":["UPS","USPS","FEDEX","DHL","PUROLATOR","GREYHOUND","AR_CORREO_ARGENTINO","AR_OCA","OTHER"]},"deliver_at":{"type":"string","description":"Estimated date of delivery (ISO 8601 MAX 27; MIN 27)"}}},"tickets":{"type":"array","description":"The tickets detail object","items":{"properties":{"id":{"type":"string","description":"Id of the ticket (Min: 1, max:255)"},"name":{"type":"string","description":"Name of the ticket (Min: 1, max:255)"},"description":{"type":"string","description":"Description of the ticket (Min: 1, max:255)"},"type":{"type":"string","description":"Type of the ticket","enum":["VIRTUAL","PHYSICAL"]},"amount":{"type":"object","description":"Amount of the ticket","properties":{"value":{"type":"number","description":"Amount of the payment","format":"float"},"currency":{"type":"string","description":"The currency used to make the payment (ISO 4217 MAX 3; MIN 3)"}}},"event":{"type":"object","description":"The event information","properties":{"id":{"type":"string","description":"Id of the event related to the ticket"},"name":{"type":"string","description":"Name of the event"},"description":{"type":"string","description":"Description of the event"},"type":{"type":"string","description":"Type of the event","enum":["PARTY","UNIVERCITY","FESTIVAL","CIRCUS","SPORTS","CINEMA","THEATER","CONCERT","OTHERS"]},"date":{"type":"string","description":"Date of the event","format":"date"},"address":{"type":"object","description":"Address of the event","properties":{"address_line_1":{"type":"string","description":"The primary billing address line (MAX 255; MIN 3)"},"address_line_2":{"type":"string","description":"The secondary billing address line (MAX 255; MIN 3)"},"city":{"type":"string","description":"The city considered for the address (MAX 255; MIN 3)"},"country":{"type":"string","description":"The country consider for the address (ISO 3166-1 MAX 2; MIN 2)"},"state":{"type":"string","description":"The state / province considered for the  address (MAX 255; MIN 3)"},"zip_code":{"type":"string","description":"The zipcode considered for the  address (MAX 11; MIN 4)"},"neighborhood":{"type":"string","description":"The neighborhood address line (MAX 255; MIN 3)"}}}}}},"type":"object"}},"account_funding":{"type":"object","description":"The account funding transaction details object necessary for [AFTs](doc:account-funding-transactions-afts).","properties":{"sender":{"type":"object","description":"The sender object necessary for account funding transactions","required":["first_name","country"],"properties":{"first_name":{"type":"string","description":"Sender's name. (Max: 80)"},"last_name":{"type":"string","description":"Sender's last name. (Max: 80)"},"national_entity":{"type":"string","description":"Sender's national entity type.","enum":["INDIVIDUAL","ENTITY"]},"legal_name":{"type":"string","description":"Sender's name. (Max: 80) Only necessary when national entity is ENTITY"},"email":{"type":"string","description":"The Sender's email (MAX 255; MIN 3)"},"country":{"type":"string","description":"The Sender's country  (ISO 3166-1 MAX 2; MIN 2)"},"date_of_birth":{"type":"string","description":"The beneficiary’s date of birth in the YYYY-MM-DD (MAX 10; MIN 10)"},"document":{"type":"object","description":"Sender's document object","properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3). This field is required if the 'document' object is included in the request."},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2; [Country reference](country-reference)).","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"phone":{"type":"object","description":"Sender's phone object","properties":{"country_code":{"type":"string","description":"The country calling code of the customer's phone (MAX 3; MIN 1). Check the [Country reference](country-reference) to see the phone codes. This field is required if the 'phone' object is included in the request."},"number":{"type":"string","description":"The customer's phone number, without the country code (MAX 32; MIN 1). This field is required if the 'phone' object is included in the request."}}},"address":{"type":"object","description":"Sender's address object","properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (MAX 255; MIN 1). This field is required if the 'billing_address' object is included in the request."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (MAX 255; MIN 1)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 1). This field is required if the 'billing_address' object is included in the request."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](country-reference)). This field is required if the 'billing_address' object is included in the request.","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 1)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 3)."},"neighborhood":{"type":"string","description":"The neighborhood of the address line of the customer(MAX 255; MIN 1)"}}}}},"beneficiary":{"type":"object","description":"The beneficiary object necessary for account funding transactions.","required":["first_name","country"],"properties":{"first_name":{"type":"string","description":"Beneficiary's name. (Max: 80)"},"last_name":{"type":"string","description":"Beneficiary's last name. (Max: 80)"},"national_entity":{"type":"string","description":"Beneficiary's national entity type.","enum":["INDIVIDUAL","ENTITY"]},"legal_name":{"type":"string","description":"Beneficiary's name. (Max: 80) Only necessary when national entity is ENTITY"},"email":{"type":"string","description":"The Beneficiary's email (MAX 255; MIN 3)"},"country":{"type":"string","description":"The Beneficiary's country  (ISO 3166-1 MAX 2; MIN 2)"},"date_of_birth":{"type":"string","description":"The beneficiary’s date of birth in the YYYY-MM-DD (MAX 10; MIN 10)"},"document":{"type":"object","description":"The beneficiary's document object.","properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3). This field is required if the 'document' object is included in the request."},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2; [Country reference](country-reference)).","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"phone":{"type":"object","description":"The beneficiary's phone object.","properties":{"country_code":{"type":"string","description":"The country calling code of the customer's phone (MAX 3; MIN 1). Check the [Country reference](country-reference) to see the phone codes. This field is required if the 'phone' object is included in the request."},"number":{"type":"string","description":"The customer's phone number, without the country code (MAX 32; MIN 1). This field is required if the 'phone' object is included in the request."}}},"address":{"type":"object","description":"The beneficiary's address object.","properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (MAX 255; MIN 1). This field is required if the 'billing_address' object is included in the request."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (MAX 255; MIN 1)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 1). This field is required if the 'billing_address' object is included in the request."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](country-reference)). This field is required if the 'billing_address' object is included in the request.","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 1)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 3)."},"neighborhood":{"type":"string","description":"The neighborhood of the address line of the customer(MAX 255; MIN 1)"}}}}}}},"discounts":{"type":"array","description":"Specifies the discounts array of object.","items":{"properties":{"id":{"type":"string","description":"ID of the discount (MAX 255; MIN 1)."},"name":{"type":"string","description":"Name of the discount (MAX 255; MIN 1)."},"unit_amount":{"type":"number","description":"The unit amount of the discount (multiple of 0.0001).","format":"float"}},"required":["unit_amount"],"type":"object"}},"sales_channel":{"type":"string","description":"Sales channel id of the payment. (MIN:3 y MAX:255)"}}},"airline":{"type":"object","description":"Specifies the airline object.","required":["pnr"],"properties":{"pnr":{"type":"string","description":"Passenger name record (MAX 10; MIN 1)."},"legs":{"type":"array","description":"Specifies the legs object.","items":{"properties":{"departure_airport":{"type":"string","description":"IATA code. See http://www.iata.org (MAX 3; MIN 3)."},"departure_datetime":{"type":"string","description":"The departure date and time in UTC time ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), MAX 27; MIN 27).","format":"date-time"},"departure_airport_country":{"type":"string","description":"Country of the departure airport (MAX 2; MIN 2; ISO 3166-1)."},"departure_airport_city":{"type":"string","description":"The city considered for the departure airport (MAX 255; MIN 3)."},"departure_airport_timezone":{"type":"string","description":"Airport timezone (MAX 6; MIN 6)."},"arrival_airport":{"type":"string","description":"IATA airport code. See http://www.iata.org (MAX 3; MIN 3)."},"arrival_airport_country":{"type":"string","description":"Country of the arrival airport (MAX 2; MIN 2; ISO 3166-1)."},"arrival_airport_city":{"type":"string","description":"The city considered for the arrival airport (MAX 255; MIN 3)."},"arrival_airport_timezone":{"type":"string","description":"Airport timezone (MAX 6; MIN 6)."},"arrival_datetime":{"type":"string","description":"The arrival date and time in UTC time ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), MAX 27; MIN 27)."},"carrier_code":{"type":"string","description":"IATA carrier code. See http://www.iata.org (MAX 2; MIN 2)."},"flight_number":{"type":"string","description":"The flight number assigned by the airline carrier (MAX 5; MIN 1)."},"fare_basis_code":{"type":"string","description":"Code base rate provides specific information on the fare in addition to the class service, both required for booking (MAX 15; MIN 1)."},"fare_class_code":{"type":"string","description":"The fare class code of the airline (MAX 1; MIN 1). The values can be a letter (A-Z) but may vary depending on the airline's definition. Check the [Airline information reference](airline-information#fare-class-code)."},"base_fare":{"type":"number","description":"The transaction amount, excluding taxes and fees, the smallest unit of currency (multipleOf 0.0001).","format":"float"},"base_fare_currency":{"type":"string","description":"The currency used to transaction amount (MAX 3; MIN 3)."},"stopover_code":{"type":"string","description":"1-letter code that indicates whether the passenger is allowed to make a stopover. Only two types of characters are allowed: O: Stopover allowed (the letter “O”, not zero) / X: Stopover not allowed. (MAX 1; MIN 1)."}},"required":["departure_airport","departure_datetime","departure_airport_timezone","arrival_airport","carrier_code","flight_number","fare_basis_code","fare_class_code"],"type":"object"}},"passengers":{"type":"array","description":"Specifies the passengers array of objects.","items":{"properties":{"first_name":{"type":"string","description":"The passenger first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The passenger last name (MAX 255; MIN 3)."},"middle_name":{"type":"string","description":"The passenger middle name (MAX 255; MIN 3)."},"email":{"type":"string","description":"The passenger email (MAX 255; MIN 3)."},"type":{"type":"string","description":"The passenger type (MAX 1; MIN 1). Check the [Airline information reference](airline-information#passenger-type).","enum":["A","C","I",""]},"date_of_birth":{"type":"string","description":"The passenger date of birth in the YYYY-MM-DD (MAX 10; MIN 10).","format":"date"},"nationality":{"type":"string","description":"The passenger nationality (MAX 2; MIN 2; [ISO 3166-1](country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"document":{"type":"object","description":"Specifies the document object of the passenger.","properties":{"document_number":{"type":"string","description":"Document number for passenger (MAX 40; MIN 3)."},"document_type":{"type":"string","description":"The passenger's document type (MAX 6, MIN 2; [Document Type List](https://docs.y.uno/reference/customer-object#document-type-list)).","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"loyalty_number":{"type":"string","description":"Number of passenger loyalty program."},"loyalty_tier":{"type":"string","description":"Tier of passenger loyalty program. Check the [Airline information reference](airline-information#loyalty-tier).","enum":["1","2","3"]},"phone":{"type":"object","description":"Specifies the phone object for the passenger.","properties":{"country_code":{"type":"string","description":"The country calling code of the passenger's phone (MAX 3; MIN 1). Possible values: Check the [Country reference](ref:country-reference)."},"number":{"type":"string","description":"The passenger's phone number, without the country code (MAX 32; MIN 1)."}}}},"type":"object"}},"tickets":{"type":"array","description":"Specifies the array of ticket objects.","items":{"properties":{"ticket_number":{"type":"string","description":"Ticket number (MAX 14; MIN 1)."},"e_ticket":{"type":"boolean","description":"Is this an e-ticket?"},"restricted":{"type":"boolean","description":"Indicates if the ticket is refunfable or not."},"total_fare_amount":{"type":"number","description":"Total fare amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_tax_amount":{"type":"number","description":"Total taxes amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_fee_amount":{"type":"number","description":"Total fee amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"issue":{"type":"object","description":"Specifies the issue object.","properties":{"carrier_prefix_code":{"type":"string","description":"Issuing or Validating carrier. This is the AWB Prefix (Air waybill) 3-numeric code (MAX 3; MIN 3)."},"travel_agent_code":{"type":"string","description":"Code of the travel agent issuing the ticket (MAX 9; MIN 8)."},"travel_agent_name":{"type":"string","description":"The name under which the point of sale appears on the agency list or franchise name (MAX 32; MIN 1)."},"booking_system_code":{"type":"string","description":"Code of the booking system issuing the ticket. (MAX 255; MIN 1)."},"booking_system_name":{"type":"string","description":"Name of the booking system issuing the ticket. (MAX 255; MIN 1)."},"date":{"type":"string","description":"Ticket issuing date (MAX 27; MIN 27).","format":"date-time"},"address":{"type":"string","description":"Address of the agent whose sold the ticket (MAX 255; MIN 3)."},"city":{"type":"string","description":"City name of the agent whose sold the ticket (MAX 255; MIN 3)."},"country":{"type":"string","description":"Country code alpha 2 where the ticket was issued (MAX 2; MIN 2; [ISO 3166-1](country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]}}}},"type":"object"}}}},"seller_details":{"type":"object","description":"Specifies the seller's details object.","properties":{"name":{"type":"string","description":"The seller's legal name (MAX 255; MIN 3)."},"email":{"type":"string","description":"The seller's e-mail (MAX 255; MIN 3)."},"reference":{"type":"string","description":"The seller's identification code (MAX 255; MIN 3)."},"website":{"type":"string","description":"The seller's website URL (MAX 255; MIN 3)."},"industry":{"type":"string","description":"The seller's industry (MAX 235; MIN 1) For more information access the [Industry category reference page](industry-category-list).","enum":["ADVERTISING","ART","AUTOMOTIVE","ANTIVIRUS","BABY","BEAUTY_&_PERSONAL_CARE","BOOKS","CAMERAS","CAR_ELECTRONICS","COMPUTING","COUPONS","DONATIONS","DELIVERY","ELECTRONICS","ENTERTAINMENT","EDUCATION","FASHION","GAMES","GARDEN_&_OUTDOOR","GROCERY_&_GOURMET_FOOD","HANDMADE","HOME","INDUSTRIAL_&_SCIENTIFIC","INVESTING_AND_FINANCIAL","LEARNINGS","MUSICAL","OTHERS","PET_SUPPLIES","PHONES","PAYROLL","SERVICES","SAAS","TELEVISION","STREAMING","TICKETS","TOYS_&_GAMES","TRAVELS","VIDEO_GAMES","VIRTUAL_GOODS",""]},"merchant_category_code":{"type":"string","description":"MCC - The merchant category code (MAX 235; MIN 1)."},"country":{"type":"string","description":"The seller's country (MAX 255; MIN 3; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"document":{"type":"object","description":"Specifies the document object of the seller.","properties":{"document_number":{"type":"string","description":"The seller's document number (MAX 40; MIN 3)."},"document_type":{"type":"string","description":"The seller's document type (MAX 6, MIN 2; [Document Type List](https://docs.y.uno/reference/customer-object#document-type-list)).","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"phone":{"type":"object","description":"Specifies the seller's phone number object.","properties":{"country_code":{"type":"string","description":"The country calling code of the seller's phone (MAX 3; MIN 1). Check the [Country reference](country-reference) to see the phone codes."},"number":{"type":"string","description":"The seller's phone number, without the country code (MAX 32; MIN 1)."}}},"address":{"type":"object","description":"Specifies the seller's address object.","properties":{"address_line_1":{"type":"string","description":"The primary address line of the seller (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the seller (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the seller's address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the seller's address (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the seller's address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the seller's address (MAX 11; MIN 4)."}}}}}}},"country":{"type":"string","description":"The customer's country (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"merchant_order_id":{"type":"string","description":"The unique identifier of the customer's order (MAX 255; MIN 3)."},"merchant_reference":{"type":"string","description":"Identification of the payment transaction defined by the merchant (MAX 255; MIN 3). Optional to complement the merchant_order_id."},"amount":{"type":"object","description":"Specifies the payment amount object, with the value and currency.","required":["currency","value"],"properties":{"currency":{"type":"string","description":"The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]},"value":{"type":"number","description":"The payment amount (multiple of 0.0001).","format":"float"},"currency_conversion":{"type":"object","description":"The currency conversion object","properties":{"id":{"type":"string","description":"The unique identifier of the conversion rate query from [Yuno](doc:currency-conversion-copy). (MAX 64 ; MIN 36)"},"provider_currency_conversion_id":{"type":"string","description":"The unique identifier of the conversion rate query from the provider (MAX 255 ; MIN 1)"},"cardholder_currency":{"type":"string","description":"The currency to make the conversion (ISO 4217 MAX 3; MIN 3). This field is required if the 'currency_conversion' object is included in the request."},"cardholder_amount":{"type":"string","description":"Amount of the payment before conversion. This field is required if the 'currency_conversion' object is included in the request."}}}}},"customer_payer":{"type":"object","description":"Specifies customer object for payments.","properties":{"id":{"type":"string","description":"The unique identifier of the customer in uuid v4 format (MAX 64 ; MIN 36). This `id` is returned in Yuno's [Create Customer](/reference/create-customer) endpoint. This object is not mandatory for DIRECT payments. If the `id` of a customer is sent, it is not necessary to complete the rest of the `customer_payer` object, the information of the previously created customer will be taken into account for the payment. <br/> Example: `be8a1640-43d2-4a75-9694-c6468d82cba3`."},"merchant_customer_id":{"type":"string","description":"The unique identifier for a customer in the merchant's system, assigned by the merchant (MAX 255; MIN 1)."},"merchant_customer_created_at":{"type":"string","description":"Customer´s registration date on the merchants platform (ISO 8601 MAX 27; MIN 27)","format":"date-time"},"first_name":{"type":"string","description":"The customer's first name (MAX 255; MIN 1)."},"last_name":{"type":"string","description":"The customer's last name (MAX 255; MIN 1)."},"gender":{"type":"string","description":"The customer's gender (MAX 2; MIN 1; (M=Male/F=Female/NB=Non Binary/NA=Not applicable/NK=Not Known/U=Undefined)).","enum":["M","F","NB","NA","NK","U"]},"date_of_birth":{"type":"string","description":"The customer's date of birth in the YYYY-MM-DD format (Length: 10).","format":"date"},"email":{"type":"string","description":"The customer's e-mail (MAX 255; MIN 1)."},"nationality":{"type":"string","description":"The customer's nationality (MAX 2; MIN 2; [ISO 3166-1](country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"ip_address":{"type":"string","description":"The customer's IP address (MAX 45; MIN 1)."},"device_fingerprints":{"type":"array","description":"The customer's [device fingerprints](doc:direct-flow#important-add-ons) (MAX 4000; MIN 1). In case you are using a DIRECT integration and want to support fraud providers in the payment flow, you can use this object to specify the necessary information. For integrations using Yuno checkout the value is obtained automatically, do not send this field.","items":{"properties":{"provider_id":{"type":"string","description":"The fraud screening provider id","enum":["CLEARSALE","CYBERSOURCE","RISKIFIED","SIGNIFYD","VESTA","KONDUTO","BAYONET","MERCADO_PAGO","OPEN_PAY"]},"id":{"type":"string","description":"The device fingerprint associated to the provider"}},"required":["provider_id","id"],"type":"object"}},"browser_info":{"type":"object","description":"Specifies the browser_info object.","properties":{"user_agent":{"type":"string","description":"The user agent value of the customer's browser (MAX 255; MIN 3)."},"accept_header":{"type":"string","description":"The accept header value of the customer's browser."},"color_depth":{"type":"string","description":"The color depth of the customer's browser in bits per pixel. This should be obtained by using the browser's screen.colorDepth property. Accepted values: 1, 4, 8, 15, 16, 24, 30, 32 or 48 bit color depth. (MAX 5; MIN 1)."},"screen_height":{"type":"string","description":"The total height of the customer's device screen in pixels. (MAX 255; MIN 3)."},"screen_width":{"type":"string","description":"The total width of the customer's device screen in pixels. (MAX 255; MIN 3)."},"javascript_enabled":{"type":"boolean","description":"Indicates if Javascript is enabled or not in the device."},"language":{"type":"string","description":"The navigator.language value of the customer's browser (as defined in IETF BCP 47) (MAX 5; MIN 1)."},"accept_browser":{"type":"string","description":"The accept browser value of the customer's browser"},"accept_content":{"type":"string","description":"The accept content value of the customer's browser"},"java_enabled":{"type":"boolean","description":"Indicates if Java is enabled or not in the device"},"browser_time_difference":{"type":"string","description":"Indicates the browner time difference"}}},"document":{"type":"object","description":"Specifies the customer's document object, including its number and type.","properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3). This field is required if the 'document' object is included in the request."},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2; [Country reference](country-reference)).","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"billing_address":{"type":"object","description":"Specifies the customer's billing address object.","properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (MAX 255; MIN 1). This field is required if the 'billing_address' object is included in the request."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (MAX 255; MIN 1)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 1). This field is required if the 'billing_address' object is included in the request."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](country-reference)). This field is required if the 'billing_address' object is included in the request.","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 1)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 3)."},"neighborhood":{"type":"string","description":"The neighborhood of the address line of the customer(MAX 255; MIN 1)"}}},"shipping_address":{"type":"object","description":"Specifies the customer's shipping address object.","properties":{"address_line_1":{"type":"string","description":"The primary shipping address line of the customer (MAX 255; MIN 1). This field is required if the 'shipping_address' object is included in the request."},"address_line_2":{"type":"string","description":"The secondary shipping address line of the customer (MAX 255; MIN 1)."},"city":{"type":"string","description":"The city considered for the shipping address (MAX 255; MIN 1). This field is required if the 'shipping_address' object is included in the request."},"country":{"type":"string","description":"The country considered for the shipping address (MAX 2; MIN 2; [ISO 3166-1](country-reference)). **[Required]**.","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the shipping address (MAX 255; MIN 1)."},"zip_code":{"type":"string","description":"The zipcode considered for the shipping address (MAX 11; MIN 4)."},"neighborhood":{"type":"string","description":"The neighborhood of the address line of the customer(MAX 255; MIN 1)"}}},"phone":{"type":"object","description":"Specifies the customer's phone number object.","properties":{"country_code":{"type":"string","description":"The country calling code of the customer's phone (MAX 3; MIN 1). Check the [Country reference](country-reference) to see the phone codes. This field is required if the 'phone' object is included in the request."},"number":{"type":"string","description":"The customer's phone number, without the country code (MAX 32; MIN 1). This field is required if the 'phone' object is included in the request."}}},"geolocation":{"type":"object","description":"Customer's geolocation.","properties":{"latitude":{"type":"string","description":"Angular distance of a location on the earth south or north of the equator (MIN: 1, MAX:11)"},"longitude":{"type":"string","description":"Angular measurement of the distance of a location on the earth east or west of the Greenwich observatory. (MIN: 1, MAX:11)"}}}}},"checkout":{"type":"object","description":"Specifies the checkout object. This object is not mandatory for back to back payments. Required when `workflow` is defined as `CHECKOUT` or is not sent. not required for `DIRECT` payments.","properties":{"session":{"type":"string","description":"The checkout session that has been created for the payment using the [Create Checkout Session](https://docs.y.uno/reference/create-checkout-session) endpoint (MAX 64 ; MIN 36). This field is required if the 'checkout' object is included in the request."}}},"workflow":{"type":"string","description":"The payment workflow. Indicates whether the integration will use Yuno´s SDK or will be a back to back connection. `CHECKOUT`=Use Yuno SDK. `DIRECT`= Back to back integration with provider info for custom payment experience, `REDIRECT`= Back to back integration with provider redirection.","enum":["CHECKOUT","DIRECT","REDIRECT"]},"callback_url":{"type":"string","description":"Url to return the customer after a payment is made in a provider´s environment. Only necessary for REDIRECT alternative payment methods integrations vía API (MAX: 64; MIN: 36)."},"payment_method":{"type":"object","description":"Specifies the payment_method object.","properties":{"token":{"type":"string","description":"The one time use payment method token **provided by Yuno sdk**. If a payment is created using a token, it is not necessary to send a vaulted_token as well, it can be defined as null. Not necessary for back to back payments (MAX: 64; MIN: 36)."},"vaulted_token":{"type":"string","description":"The vaulted token for a **previously stored payment_method**. If a payment is created using a vaulted_token, it is not necessary to send a token as well, it can be defined as null (MAX: 64; MIN: 36)."},"type":{"type":"string","description":"Type of the payment method. Only required for `DIRECT` or `REDIRECT` workflow. If you are using one of our SDKs, this field is not necessary.","enum":["BANCOLOMBIA_TRANSFER","BANCOLOMBIA_TOKEN_BOX","PSE","DAVIPLATA","NEQUI","NU_PAY","PIX","SAFETYPAY","SPEI","CODI","CARD","ADDI","ACUOTAZ","WIBOND","MERCADO_PAGO_WALLET","MERCADO_PAGO_CHECKOUT_PRO","CASH","EFECTY","OXXO","PAYVALIDA","PAYPAL","TARJETA_CLAVE","WEBPAY","NU_PAY_ENROLLMENT"]},"detail":{"type":"object","description":"Specifies the payment method detail object.","properties":{"card":{"type":"object","description":"Specifies the card object.","properties":{"capture":{"type":"boolean","description":"Decides whether to authorize the payment or capture it. Authorizing a card payment allows you to reserve funds in a customer's bank account."},"installments":{"type":"integer","description":"The card installments.","format":"int32"},"first_installment_deferral":{"type":"integer","description":"Number of months to be waited to debit the first installment.","format":"int32"},"soft_descriptor":{"type":"string","description":"The descriptor passed per transactions to out platform. It will be presented on the customer's physical bank statement (MAX 15; MIN 0)."},"card_data":{"type":"object","description":"Specifies the card_data object.","required":["number","holder_name"],"properties":{"number":{"type":"string","description":"Card’s number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants."},"expiration_month":{"type":"integer","description":"Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.","format":"int32"},"expiration_year":{"type":"integer","description":"Card’s expiration year - YYYY (MAX 4; MIN 2) - only available for PCI certified merchants.","format":"int32"},"security_code":{"type":"string","description":"Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants."},"holder_name":{"type":"string","description":"Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants."},"type":{"type":"string","description":"The card type. For dual cards (like in Brazil), you can specify the type of card that is being processed so we can inform the providers.","enum":["CREDIT","DEBIT"]}}},"network_token":{"type":"object","description":"The network token object. Only available for merchants that handle the network token generation/management from their side. [Direct Network token guide](https://docs.y.uno/docs/network-tokens#2--use-your-existing-network-tokens)","properties":{"token_data":{"type":"object","description":"Specifies the token_data object.","required":["number","expiration_month","expiration_year","cryptogram"],"properties":{"number":{"type":"string","description":"[Mandatory] - Token’s number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants"},"holder_name":{"type":"string","description":"Cardholder’s full name as it appears on the Token (MAX 26; MIN 3)"},"expiration_month":{"type":"string","description":"Token’s expiration month - MM (MAX 2; MIN 2)"},"expiration_year":{"type":"string","description":"Token’s expiration year - YYYY (MAX 4; MIN 4) - only available for PCI certified merchants"},"cryptogram":{"type":"string","description":"[Mandatory] - The unique cryptogram generated by the issuer for the network token in use in the transaction."},"electronic_commerce_indicator":{"type":"string","description":"[Only required for certain providers] - In case the token has been authenticated by Mastercard the field should be set to 02. For Visa or not authenticated tokens, is not necessary to send the field."},"token_requestor_id":{"type":"string","description":"[Only required for certain providers] - Token requestor ID of the merchant"}}}}},"three_d_secure":{"type":"object","description":"3DS secure information","properties":{"three_d_secure_setup_id":{"type":"string","description":"Three_d_secure_setup_id field is only required when using 3D Secure (3DS) authentication in Yuno with Direct Flow."},"version":{"type":"string","description":"[Optional for 3DS integration without Yuno's JS] - Refers to the protocol version of the EMV 3-D Secure specification used. 1.0, 2.0, 2.1.0, 2.2.0, 2.2.1, 2.3.0 y 2.3.1","enum":["1.0","2.0","2.1.0","2.2.0","2.2.1","2.3.0","2.3.1"]},"electronic_commerce_indicator":{"type":"string","description":"[Optional for 3DS integration without Yuno's JS] - This field must be completed with the result of the ECI field provided by the 3d Secure service. The Electronic Commerce Indicator (ECI) informs the card issuer if the transaction was protected by a security protocol like VbV or MCSC. It is mandated by Visa and MasterCard that all 3-D Secure transactions have this value populated in the authorization request. (Min: 0, max: 2)."},"cryptogram":{"type":"string","description":"[Optional for 3DS integration without Yuno's JS] - This field must be completed with the result of the cryptogram field provided by the 3DSecure service. In Visa transactions, it represents the Cardholder Authentication Verification Value (CAVV), a cryptographic value generated by the Issuer as evidence of payment authentication during online purchase to qualify for chargeback protection. MasterCard transactions have a similar value called Accountholder Authentication Value (AAV) or the Universal Cardholder Authentication Field (UCAF). When submitting a transaction for authorization, the merchant must include the CAVV or AAV/UCAF to demonstrate that the cardholder has been authenticated. It is typically base64-encoded. (Min: 0, Max: 40)."},"transaction_id":{"type":"string","description":"[Optional for 3DS integration without Yuno's JS] - For 3DS v1: This is the Unique Transaction Identifier. It is automatically generated by the MPI. It is typically 28 bytes in length and base64-encoded. Is commonly referred to as XID. (Min: 0, Max: 40). For 3DS v2: Universally unique transaction identifier assigned by the DS to identify a single transaction. (Min: 36, Max:36)."},"directory_server_transaction_id":{"type":"string","description":"[Optional for 3DS integration without Yuno's JS] - Transaction ID generated by the Mastercard directory server during authentication (MAX 255; MIN 3)."}}},"verify":{"type":"boolean","description":"Using  amount = 0 and verify = true, you can verify the user´s card without authorizing a real amount. If the field is not sent, we will take it as false.","default":false},"stored_credentials":{"type":"object","description":"Indicates the processing type of the transaction. Refer to the <a href=\"../docs/stored-credentials#create-a-payment-with-processing-type\" class=\"link_stored_credential\">Stored credentials</a> page for more information.","properties":{"reason":{"type":"string","description":"Indicates the processing type of the transaction.","enum":["CARD_ON_FILE","SUBSCRIPTION","UNSCHEDULED_CARD_ON_FILE"]},"usage":{"type":"string","description":"This field Iets you indicate if this is the first time the vaulted_token/network_token is used for a payment.","enum":["FIRST","USED"]},"subscription_agreement_id":{"type":"string","description":"This field lets you indicate the identification of the agreement with the customer for a subscription. Mainly for MX.(MAX 255; MIN 3). [Stored credentials](doc:stored-credentials)"},"network_transaction_id":{"type":"string","description":"Unique identifier assigned to a transaction by the card network. It is used to track and reference specific transactions, particularly in recurring payment scenarios, ensuring consistency and traceability across the payment lifecycle. (MAX 255; MIN 3). [Stored credentials](doc:stored-credentials)"}}}}},"ticket":{"type":"object","description":"Specified the ticket object","properties":{"benefit_type":{"type":"string","description":"Specifies the user's benefit type for Pluxee Chile.","enum":["PRIVATE","JUNAEB"]},"expires_at":{"type":"string","description":"Payment methods expiration date. \"yyyy-MM-dd HH:mm:ss.SSSz\". Only available when the provider associated to the payment supports it. Please feel free to reach out to your technical account manager for further questions.","format":"date-time"}}},"wallet":{"type":"object","description":"Specified the wallet object","properties":{"cryptogram":{"type":"string","description":"Cryptogram for direct integrations with card wallets (MAX 526; MIN 3)."},"expires_at":{"type":"string","description":"Payment methods expiration date. \"yyyy-MM-dd HH:mm:ss.SSSz\". Only available when the provider associated to the payment supports it. Please feel free to reach out to your technical account manager for further questions.","format":"date-time"}}},"bank_transfer":{"type":"object","description":"Specifies the bank transfer object.","properties":{"expires_at":{"type":"string","description":"Payment methods expiration date. \"yyyy-MM-dd HH:mm:ss.SSSz\". Only available when the provider associated to the payment supports it. Please feel free to reach out to your technical account manager for further questions.","format":"date-time"}}}}},"vault_on_success":{"type":"boolean","description":"Flag to enroll the card after a successful payment"}}},"taxes":{"type":"object","description":"Specifies the order´s tax object.","required":["type","value"],"properties":{"type":{"type":"string","description":"Type of the tax.","enum":["VAT","AIRPORT_TAX","CONSUMPTION_TAX","VAT_LAW_17934","VAT_LAW_19210","VAT_EXEMPTION","ISV"]},"tax_base":{"type":"number","description":"The amount base to apply the tax defined.","format":"float"},"value":{"type":"number","description":"The amount of the tax.","format":"float"},"percentage":{"type":"number","description":"The percentage of the tax.","format":"float"}}},"metadata":{"type":"array","description":"Specifies a list of metadata objects. You can add up to 50 metadata objects.","items":{"properties":{"key":{"type":"string","description":"The metadata key (MAX 48. Value: MIN:1, MAX:48). **[Case Sensitive]**"},"value":{"type":"string","description":"The metadata key value (MAX 512. Value: MIN:1, MAX:512). **[Case Sensitive]**"}},"required":["key","value"],"type":"object"}}}},"examples":{"ACUOTAZ":{"value":{"description":"Test ACUOTAZ","account_id":"d3d38fc9-49ec-4277-9115-bbad5d17d236","merchant_order_id":"0000022","country":"PE","additional_data":{"order":{"fee_amount":40,"items":[{"brand":"XYZ","category":"Clothes","id":"123AD","manufacture_part_number":"XYZ123456","name":"Skirt","quantity":1,"sku_code":"8765432109","unit_amount":100}],"shipping_amount":10}},"amount":{"currency":"PEN","value":120},"checkout":{"session":"3d6794b3-dff2-40a3-8e53-981e69f35191"},"customer_payer":{"id":"71caa74c-f759-4a7c-a1c4-a983bcf24812"},"payment_method":{"token":"7946b293-853a-42c8-97f3-a37e72ce230f","vaulted_token":"7946b293-853a-42c8-97f3-a37e72ce230f"}}},"ADDI":{"value":{"description":"Test ADDI","account_id":"bc9ad7c0-6813-11ed-9022-0242ac120002","merchant_order_id":"0000022","country":"BR","additional_data":{"order":{"fee_amount":40,"items":[{"brand":"XYZ","category":"Clothes","id":"123AD","manufacture_part_number":"XYZ123456","name":"Skirt","quantity":1,"sku_code":"8765432109","unit_amount":50}],"shipping_amount":10}},"amount":{"currency":"BRL","value":50},"checkout":{"session":"uc9ad7c0-6813-11ed-9022-0242ac120002"},"customer_payer":{"id":"pa7ad7c0-6813-11ed-9022-0242ac120002"},"payment_method":{"token":"ia9ad7c0-6813-11ed-9022-0242ac120003","vaulted_token":"xu8ad7c0-6813-11ed-9022-0242ac120003"}}},"BANCOLOMBIA_TRANSFER":{"value":{"description":"Test Bancolombia transfer","account_id":"d3d38fc9-49ec-4277-9115-bbad5d17d236","merchant_order_id":"0000022","country":"CO","additional_data":{"order":{"fee_amount":40,"items":[{"brand":"XYZ","category":"Clothes","id":"123AD","manufacture_part_number":"XYZ123456","name":"Skirt","quantity":1,"sku_code":"8765432109","unit_amount":50}],"shipping_amount":10}},"amount":{"currency":"COP","value":2500},"checkout":{"session":"5d3229a0-e6f4-4127-b85b-d72627fb15ec"},"customer_payer":{"id":"764e2a3c-56df-4b3d-a50a-bc765a9b689d"},"payment_method":{"token":"57129ed4-0ec0-41d8-ad94-0c64592336ce","vaulted_token":null}}},"CARD DIRECT (Without customer_id)":{"value":{"description":"Test","account_id":"9104911d-5df9-429e-8488-ad41abea1a4b","merchant_order_id":"0000023","country":"AR","merchant_reference":"reference-001","amount":{"currency":"ARS","value":500},"customer_payer":{"email":"john.doe@y.uno","first_name":"John","last_name":"Doe","merchant_customer_id":"example00234","document":{"document_type":"DNI","document_number":"38799999"}},"workflow":"DIRECT","payment_method":{"type":"CARD","detail":{"card":{"capture":true,"card_data":{"number":"4111111111111111","holder_name":"JOHN DOE","expiration_month":12,"expiration_year":26,"security_code":"123"}}}}}},"CARD DIRECT (With vaulted_token)":{"value":{"description":"Test","account_id":"9112311d-5df9-429e-8488-ad41abea1a4b","merchant_order_id":"0000023","country":"AR","merchant_reference":"reference-001","amount":{"currency":"ARS","value":500},"customer_payer":{"id":"9112311d-5df9-429e-8488-aasdweabea1a4b"},"workflow":"DIRECT","payment_method":{"type":"CARD","vaulted_token":"321c38f6-42c2-45b7-bf0c-f2f7123bas1948"}}},"SAFETYPAY":{"value":{"description":"Test safetypay","account_id":"c2d38fc9-49ec-4277-9115-bbad5d17d236","merchant_order_id":"0000022","merchant_reference":"Prueba 002","country":"CO","additional_data":{"order":{"fee_amount":0,"items":[{"brand":"XYZ","category":"Clothes","id":"123AD","manufacture_part_number":"XYZ123456","name":"Skirt","quantity":1,"sku_code":"8765432109","unit_amount":50}],"shipping_amount":0},"seller_details":{"name":"Teste","email":"test@test.com","reference":"qualquer coisa","country":"CO","web_site":"www.google.com.ar","document":{"document_type":"CC","document_number":"1032765432"},"phone":{"country_code":"+54","number":"2804324493"},"address":{"address_line_1":"Calle 34 # 56 - 78","address_line_2":"Apartamento 502, Torre I","city":"Bogota","country":"CO","state":"Cundinamarca","zip_code":"111111"}}},"amount":{"currency":"COP","value":52},"taxes":{"type":"VAT","tax_base":10,"value":1000,"percentage":21},"checkout":{"session":""},"customer_payer":{"id":"bfab8daf-2c25-4883-a06d-1fdbafc9ae35","billing_address":{"address_line_1":"Calle 34 # 56 - 78","address_line_2":"Apartamento 502, Torre I","city":"Bogota","country":"CO","state":"Cundinamarca","zip_code":"111111"},"browser_info":{"accept_header":"string","color_depth":"string","javascript_enabled":false,"language":"string","screen_height":"11","screen_width":"12","user_agent":"string"},"date_of_birth":"1990-02-28","device_fingerprint":"hi88287gbd8d7d782ge....","document":{"document_type":"CC","document_number":"1032765432"},"email":"pepitoperez@y.uno","first_name":"Pepito","gender":"MALE","ip_address":"192.168.123.167","last_name":"Perez","merchant_customer_id":"example00234","nationality":"CO","phone":{"country_code":"57","number":"3132450765"},"shipping_address":{"address_line_1":"Calle 34 # 56 - 78","address_line_2":"Apartamento 502, Torre I","city":"Bogota","country":"CO","state":"Cundinamarca","zip_code":"111111"}},"payment_method":{"token":""}}},"BANCOLOMBIA TOKEN BOX":{"value":{"description":"Test Nequi","account_id":"bfab8daf-2c25-4883-a06d-1fdbafc9ae35","merchant_order_id":"0000022","country":"CO","amount":{"currency":"COP","value":15},"checkout":{"session":""},"customer_payer":{"id":"bfab8daf-2c25-4883-a06d-1fdbafc9ae35","document":{"document_type":"CC","document_number":"1032765432"}},"payment_method":{"token":null,"vaulted_token":"724098e5-dabb-4d65-b841-cafb0ca155ca"}}},"MERCADO_PAGO_CHECKOUT_PRO":{"value":{"description":"Test MP","account_id":"c2d38fc9-49ec-4277-9115-bbad5d17d236","merchant_order_id":"0000022","country":"AR","additional_data":{"order":{"items":[{"id":"123AD","name":"Skirt","quantity":1,"unit_amount":50}]}},"amount":{"currency":"ARS","value":50},"checkout":{"session":"26bb376a-f66b-429f-b5b3-d0297bbe9ada"},"customer_payer":{"id":"77418b3a-a59d-4117-9d72-a833fc417efa"},"payment_method":{"token":"9104911429488SDFDSFad41abea1a4b","vaulted_token":null}}},"PIX":{"value":{"additional_data":{"order":{"items":[{"brand":"XYZ","category":"Clothes","id":"123AD","manufacture_part_number":"XYZ123456","name":"Skirt","quantity":1,"sku_code":"8765432109","unit_amount":50}],"fee_amount":0,"shipping_amount":0},"airline":{"legs":[{"arrival_airport":"AMS","base_fare":200,"base_fare_currency":"BRL","carrier_code":"KL","departure_airport":"EZE","departure_airport_timezone":"-03:00","departure_datetime":"2014-05-12 13:05:00","fare_basis_code":"HL7LNR","fare_class_code":"FR","flight_number":"842","stopover_code":"s"}],"passengers":[{"document":{"document_number":"47033278802","document_type":"CPF"},"country":"st","date_of_birth":"stringstri","first_name":"string","last_name":"string","loyalty_number":"string","loyalty_tier":"strin","middle_name":"string","nationality":"st","type":"s"}],"ticket":{"issue":null,"ticket_number":"123456","restricted":false,"total_fare_amount":80,"total_tax_amount":22,"total_fee_amount":14,"e_ticket":false},"pnr":"1P-2UUGJW"}},"amount":{"currency":"BRL","value":50},"customer_payer":{"id":"8bf61510-c32b-463b-b06d-cdb74d193a3b"},"checkout":{"session":"8fee59b2-c1d7-4241-98a6-8ff42f443602"},"payment_method":{"token":"8dbde54e-994d-49ee-9146-dd72312b1aef"},"description":"Test PIX","account_id":"c2d38fc9-49ec-4277-9115-bbad5d17d236","merchant_order_id":"0000022","country":"BR"}},"NUPAY":{"value":{"description":"Test Nupay","account_id":"d2d38fc9-49ec-4277-9115-bbad5d17d236","merchant_order_id":"0000022","country":"BR","additional_data":{"order":{"fee_amount":40,"items":[{"brand":"XYZ","category":"Clothes","id":"123AD","manufacture_part_number":"XYZ123456","name":"Skirt","quantity":1,"sku_code":"8765432109","unit_amount":50}],"shipping_amount":10}},"amount":{"currency":"BRL","value":50},"checkout":{"session":"611cc46b-e4d1-48f3-91f1-017f4d42aa49"},"customer_payer":{"id":"80028bba-08ef-4fef-9c17-93e4c8196170"},"payment_method":{"token":"c41e81ff-c173-4929-b519-b7bfebb351bb","vaulted_token":null}}},"NEQUI":{"value":{"description":"Test Nequi","account_id":"2d2a044e-67a0-11ed-9022-0242ac120002","merchant_order_id":"0000022","country":"CO","amount":{"currency":"COP","value":3000},"checkout":{"session":"34dbea68-67a0-11ed-9022-0242ac120002"},"customer_payer":{"id":"","document":{"document_type":"CC","document_number":"1093333333"}},"payment_method":{"token":null,"vaulted_token":"749ad909-3575-4db0-aa98-4dfa30651f9b"}}},"SPEI-Checkout":{"value":{"description":"Test SPEI","account_id":"dec008f0-6810-11ed-9022-0242ac120002","merchant_order_id":"0000022","country":"MX","amount":{"currency":"MXN","value":500},"checkout":{"session":"eb650394-6810-11ed-9022-0242ac120002"},"customer_payer":{"id":"f4a92412-6810-11ed-9022-0242ac120002","phone":{"country_code":"57","number":"3132450765"}},"payment_method":{"token":"d4a92412-6810-11ed-9022-0242ac120002","vaulted_token":"u4a92412-6810-11ed-9022-0242ac120002"}}},"SPEI-Direct":{"value":{"description":"Test SPEI","account_id":"dbf0c133-86bc-4be0-94a5-ca2ff6778451","merchant_order_id":"0000022","country":"MX","amount":{"currency":"MXN","value":500},"customer_payer":{"id":"04cb7fec-5d70-4791-8929-212b39d256cd"},"workflow":"DIRECT","payment_method":{"type":"SPEI"}}},"CARD DIRECT (min. data / SUCCESS)":{"value":{"account_id":"c004cfd7-0c65-4add-b9b3-3d7e3949c9f1","description":"SUCCESSFUL","country":"CO","merchant_order_id":"Order_id","amount":{"currency":"COP","value":"20000"},"customer_payer":{"first_name":"JOHN","last_name":"DOE","email":"test@test.com"},"workflow":"DIRECT","payment_method":{"type":"CARD","detail":{"card":{"card_data":{"number":"4111111111111111","expiration_month":11,"expiration_year":28,"security_code":"123","holder_name":"JOHN DOE"}}}}}},"CARD DIRECT (min. data/DECLINED)":{"value":{"account_id":"c004cfd7-0c65-4add-b9b3-3d7e3949c9f1","description":"DECLINED","country":"CO","merchant_order_id":"Order_id","amount":{"currency":"COP","value":"20000"},"customer_payer":{"first_name":"JOHN","last_name":"DOE","email":"test@test.com"},"workflow":"DIRECT","payment_method":{"type":"CARD","detail":{"card":{"card_data":{"number":"4111111111111111","expiration_month":11,"expiration_year":28,"security_code":"123","holder_name":"JOHN DOE"}}}}}},"CARD DIRECT (with installments)":{"value":{"account_id":"c004cfd7-0c65-4add-b9b3-3d7e3949c9f1","description":"SUCCESSFUL","country":"CO","merchant_order_id":"Order_id","amount":{"currency":"COP","value":"20000"},"customer_payer":{"first_name":"JOHN","last_name":"DOE","email":"test@test.com"},"workflow":"DIRECT","payment_method":{"type":"CARD","detail":{"card":{"installments":12,"card_data":{"number":"4111111111111111","expiration_month":11,"expiration_year":28,"security_code":"123","holder_name":"JOHN DOE"}}}}}},"CARD DIRECT (Authorization)":{"value":{"account_id":"c004cfd7-0c65-4add-b9b3-3d7e3949c9f1","description":"SUCCESSFUL","country":"CO","merchant_order_id":"Order_id","amount":{"currency":"COP","value":"20000"},"customer_payer":{"first_name":"JOHN","last_name":"DOE","email":"test@test.com"},"workflow":"DIRECT","payment_method":{"type":"CARD","detail":{"card":{"capture":false,"card_data":{"number":"4111111111111111","expiration_month":11,"expiration_year":28,"security_code":"123","holder_name":"JOHN DOE"}}}}}},"CARD DIRECT (w/ airline additional data)":{"value":{"account_id":"c004cfd7-0c65-4add-b9b3-3d7e3949c9f1","description":"SUCCESSFUL","additional_data":{"airline":{"pnr":"ABC123","legs":[{"departure_airport":"BOG","departure_datetime":"2023-10-31T01:30:00.000-05:00","departure_airport_timezone":"GMT-05","arrival_airport":"BOM","carrier_code":"PR","flight_number":"AV348"}],"passengers":[{"first_name":"JOHN","last_name":"DOE","type":"A","date_of_birth":"1998-01-01","nationality":"CO","document":{"document_number":"123456","document_type":"CC","country":"CO"}}],"ticket":{"ticket_number":"BRB0001","e_ticket":true}}},"country":"CO","merchant_order_id":"Order_id","amount":{"currency":"COP","value":"20000"},"customer_payer":{"first_name":"JOHN","last_name":"DOE","email":"test@test.com"},"workflow":"DIRECT","payment_method":{"type":"CARD","detail":{"card":{"card_data":{"number":"4111111111111111","expiration_month":11,"expiration_year":28,"security_code":"123","holder_name":"JOHN DOE"}}}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"FULL_BODY_PAYMENT":{"value":"{\n    \"payment\": {\n        \"id\": \"8a40e6cf-4f46-4977-b2f9-d4ca34d9d8e6\",\n        \"idempotency_key\": \"b76f923a-f2a9-4244-8f60-bc264c03ac28\",\n        \"account_code\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"description\": \"Test\",\n        \"country\": \"AR\",\n        \"status\": \"SUCCEEDED\",\n        \"sub_status\": \"SUCCEEDED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2023-03-09T08:37:13.634720Z\",\n        \"updated_at\": \"2023-03-09T08:37:17.469309Z\",\n        \"amount\": {\n            \"currency\": \"ARS\",\n            \"value\": 600,\n            \"refunded\": 0,\n            \"captured\": 0\n        },\n        \"checkout\": {\n            \"session\": \"\",\n            \"sdk_action_required\": \"3DS\"\n        },\n        \"customer_payer\": {\n            \"id\": null,\n            \"email\": \"john.doe@y.uno\",\n            \"first_name\": \"John\",\n            \"last_name\": \"Doe\",\n            \"merchant_customer_id\": \"example00234\",\n            \"document\": {\n                \"document_type\": \"DNI\",\n                \"document_number\": \"38799999\"\n            },   \n            \"phone\": null,\n            \"billing_address\": {\n                \"address_line_1\": \"\",\n                \"address_line_2\": \"\"\n            },\n            \"shipping_address\": {\n                \"address_line_1\": \"\",\n                \"address_line_2\": \"\"\n            }\n        },\n        \"additional_data\": {\n            \"airline\": null,\n            \"order\": null,\n            \"seller_details\": null\n        },\n        \"taxes\": null,\n        \"workflow\": \"DIRECT\",\n        \"payment_method\": {\n            \"reverse_on_decline\": false,\n            \"payment_methods\": [\n          \t\t{ \n          \t\t\t\"vaulted_token\": \"\",\n                    \"type\": \"CARD\",\n                    \"vault_on_success\": false,\n                    \"token\": \"\",\n                    \"detail\": {\n                        \"card\": {\n                            \"verify\": null,\n                            \"capture\": true,\n                            \"installments\": 1,\n                            \"first_installment_deferral\": 0,\n                            \"installments_type\": \"\",\n                            \"installment_amount\": null,\n                            \"soft_descriptor\": \"\",\n                            \"authorization_code\": \"\",\n                            \"retrieval_reference_number\": \"\",\n                            \"voucher\": null,\n                            \"card_data\": {\n                                \"holder_name\": \"JOHN DOE\",\n                                \"iin\": \"4111111\",\n                                \"lfd\": \"1111\",\n                                \"number_length\": 16,\n                                \"security_code_length\": 3,\n                                \"brand\": \"VISA\",\n                                \"issuer_name\": \"BANCO SANTANDER RIO, S.A.\",\n                                \"issuer_code\": null,\n                                \"category\": \"GOLD\",\n                                \"type\": \"CREDIT\"\n                            },\n                          \"three_d_secure\": {\n                              \"callback_url\": \"www.site.com\",\n                              \"sdk_token\":\"AA0131238213JKDSAHDKOAN\",\n                              \"sdk_collect_url\":\"www.site_collect.com\"\n                          }\n                        }\n                    },\n                    \"transactions\": [\n                        {  \n                          \"id\": \"c7a2d22d-eacc-4ed0-8b90-191da381d045\",\n                          \"type\": \"PURCHASE\",\n                          \"status\": \"PURCHASE\",\n                          \"category\": \"CARD\",\n                          \"amount\": 300,\n                          \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n                          \"response_code\": \"PURCHASE\",\n                          \"response_message\": \"PURCHASE\",\n                          \"reason\": null,\n                          \"description\": \"PURCHASE\",\n                          \"merchant_reference\": \"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a\",\n                          \"provider_data\": {\n                          },\n                          \"created_at\": \"2023-03-09T08:37:13.762879Z\",\n                          \"updated_at\": \"2023-03-09T08:37:17.449288Z\"\n                        }\n                    ],\n                    \"fraud_screening\": null\n  \t\t\t    }   \n            ]\n        }\n    }\n}"},"ACUOTAZ":{"value":"{\n    \"id\": \"1c3c6bee-0230-4989-af06-a2c97c433ac6\",\n    \"account_id\": \"d3d38fc9-49ec-4277-9115-bbad5d17d236\",\n    \"description\": \"Test ACUOTAZ\",\n    \"country\": \"PE\",\n    \"status\": \"READY_TO_PAY\",\n    \"sub_status\": \"CREATED\",\n    \"merchant_order_id\": \"0000022\",\n    \"created_at\": \"2022-11-19T14:25:19.932037Z\",\n    \"updated_at\": \"2022-11-19T14:25:20.940450Z\",\n    \"amount\": {\n        \"currency\": \"PEN\",\n        \"value\": 120\n    },\n    \"checkout\": {\n        \"session\": \"3d6794b3-dff2-40a3-8e53-981e69f35191\",\n        \"sdk_required_action\": true\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"ACUOTAZ\",\n        \"vault_on_success\": false,\n        \"token\": \"7946b293-853a-42c8-97f3-a37e72ce230f\",\n        \"payment_method_detail\": {\n            \"bnpl\": {\n                \"installments\": null,\n                \"provider_image\": null,\n                \"redirect_url\": \"https://google.com/?checkoutSession=3d6794b3-dff2-40a3-8e53-981e69f35191\",\n                \"customer_data\": null\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": \"71caa74c-f759-4a7c-a1c4-a983bcf24812\",\n        \"merchant_customer_id\": \"1668863583\",\n        \"first_name\": \"Tyler\",\n        \"last_name\": \"Rosenbaum\",\n        \"gender\": \"\",\n        \"date_of_birth\": null,\n        \"email\": \"Jadon56@hotmail.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": null,\n        \"document\": {\n            \"document_type\": \"DNI\",\n            \"document_number\": \"532924789\"\n        },\n        \"phone\": {\n            \"number\": \"11992149494\",\n            \"country_code\": \"55\"\n        },\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": {\n        \"airline\": null,\n        \"order\": {\n            \"fee_amount\": 40,\n            \"shipping_amount\": 10,\n            \"items\": [\n                {\n                    \"id\": \"123AD\",\n                    \"name\": \"Skirt\",\n                    \"quantity\": 1,\n                    \"unit_amount\": 100,\n                    \"category\": \"Clothes\",\n                    \"brand\": \"XYZ\",\n                    \"sku_code\": \"8765432109\",\n                    \"manufacture_part_number\": \"XYZ123456\"\n                }\n            ]\n        },\n        \"seller_details\": null\n    },\n    \"taxes\": null,\n    \"transactions\": {\n        \"id\": \"2fc3d3aa-e5d4-4e52-afdd-edbca07c4733\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"CREATED\",\n        \"category\": \"BUY_NOW_PAY_LATER\",\n        \"amount\": 120,\n        \"provider_id\": \"ACUOTAZ\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"ACUOTAZ\",\n            \"vault_on_success\": false,\n            \"token\": \"7946b293-853a-42c8-97f3-a37e72ce230f\",\n            \"detail\": {\n                \"bnpl\": {\n                    \"installments\": null,\n                    \"provider_image\": null,\n                    \"redirect_url\": \"https://google.com/?checkoutSession=3d6794b3-dff2-40a3-8e53-981e69f35191\",\n                    \"customer_data\": null\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"\",\n        \"reason\": null,\n        \"description\": null,\n        \"merchant_reference\": null,\n        \"provider_data\": {\n            \"id\": \"ACUOTAZ\",\n            \"transaction_id\": \"2fc3d3aa-e5d4-4e52-afdd-edbca07c4733\",\n            \"account_id\": \"\",\n            \"status\": \"CREATED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"raw_response\": {\n                \"redirect_to\": \"https://aprt.me/upYm\",\n                \"status\": \"new_order\"\n            }\n        },\n        \"created_at\": \"2022-11-19T14:25:19.939870Z\",\n        \"updated_at\": \"2022-11-19T14:25:20.940427Z\"\n    },\n    \"workflow\": \"CHECKOUT\"\n}"},"ADDI":{"value":"{\n    \"id\": \"9d2b6f3a-2310-480c-b5d2-5555be40133e\",\n    \"account_id\": \"c2d38fc9-49ec-4277-9115-bbad5d17d236\",\n    \"description\": \"Test ADDI\",\n    \"country\": \"BR\",\n    \"status\": \"READY_TO_PAY\",\n    \"sub_status\": \"CREATED\",\n    \"merchant_order_id\": \"0000022\",\n    \"created_at\": \"2022-11-19T14:06:39.747936Z\",\n    \"updated_at\": \"2022-11-19T14:06:41.085930Z\",\n    \"amount\": {\n        \"currency\": \"BRL\",\n        \"value\": 50\n    },\n    \"checkout\": {\n        \"session\": \"e2712ef7-3666-472e-8e60-450c47f1e752\",\n        \"sdk_required_action\": true\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"ADDI\",\n        \"vault_on_success\": false,\n        \"token\": \"117ac39c-e85c-4115-947e-f99215d0dfe3\",\n        \"payment_method_detail\": {\n            \"bnpl\": {\n                \"installments\": null,\n                \"provider_image\": null,\n                \"redirect_url\": \"https://google.com/?checkoutSession=e2712ef7-3666-472e-8e60-450c47f1e752\",\n                \"customer_data\": null\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": \"3bcdfb54-f481-4076-96eb-950f22a5f60d\",\n        \"merchant_customer_id\": \"1668866345\",\n        \"first_name\": \"Amaya\",\n        \"last_name\": \"Reinger\",\n        \"gender\": \"\",\n        \"date_of_birth\": null,\n        \"email\": \"Nathen89@hotmail.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": null,\n        \"document\": {\n            \"document_type\": \"CPF\",\n            \"document_number\": \"47033278802\"\n        },\n        \"phone\": {\n            \"number\": \"11992149494\",\n            \"country_code\": \"55\"\n        },\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": {\n        \"airline\": null,\n        \"order\": {\n            \"fee_amount\": 40,\n            \"shipping_amount\": 10,\n            \"items\": [\n                {\n                    \"id\": \"123AD\",\n                    \"name\": \"Skirt\",\n                    \"quantity\": 1,\n                    \"unit_amount\": 50,\n                    \"category\": \"Clothes\",\n                    \"brand\": \"XYZ\",\n                    \"sku_code\": \"8765432109\",\n                    \"manufacture_part_number\": \"XYZ123456\"\n                }\n            ]\n        },\n        \"seller_details\": null\n    },\n    \"taxes\": null,\n    \"transactions\": {\n        \"id\": \"e3eab69d-2d18-4807-afff-4185add3cac8\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"CREATED\",\n        \"category\": \"BUY_NOW_PAY_LATER\",\n        \"amount\": 50,\n        \"provider_id\": \"ADDI\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"ADDI\",\n            \"vault_on_success\": false,\n            \"token\": \"117ac39c-e85c-4115-947e-f99215d0dfe3\",\n            \"detail\": {\n                \"bnpl\": {\n                    \"installments\": null,\n                    \"provider_image\": null,\n                    \"redirect_url\": \"https://google.com/?checkoutSession=e2712ef7-3666-472e-8e60-450c47f1e752\",\n                    \"customer_data\": null\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"\",\n        \"reason\": null,\n        \"description\": null,\n        \"merchant_reference\": null,\n        \"provider_data\": {\n            \"id\": \"ADDI\",\n            \"transaction_id\": \"0000022\",\n            \"account_id\": \"\",\n            \"status\": \"CREATED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"raw_response\": null\n        },\n        \"created_at\": \"2022-11-19T14:06:39.761130Z\",\n        \"updated_at\": \"2022-11-19T14:06:41.085913Z\"\n    },\n    \"workflow\": \"CHECKOUT\"\n}"},"BANCOLOMBIA_TRANSFER":{"value":"{\n  \"id\": \"8a64793b-b436-43ec-975a-69e1b32791d1\",\n  \"account_id\": \"d3d38fc9-49ec-4277-9115-bbad5d17d236\",\n  \"description\": \"Test Bancolombia transfer\",\n  \"country\": \"CO\",\n  \"status\": \"DECLINED\",\n  \"sub_status\": \"DECLINED\",\n  \"merchant_order_id\": \"0000022\",\n  \"created_at\": \"2022-11-21T18:01:29.636861Z\",\n  \"updated_at\": \"2022-11-21T18:01:33.810482Z\",\n  \"amount\": {\n    \"currency\": \"COP\",\n    \"value\": 1500\n  },\n  \"checkout\": {\n    \"session\": \"c835c97a-d24c-4ce9-a7a1-2b1e1ff1aa18\",\n    \"sdk_required_action\": true\n  },\n  \"payment_method\": {\n    \"vaulted_token\": \"\",\n    \"type\": \"BANCOLOMBIA_TRANSFER\",\n    \"vault_on_success\": false,\n    \"token\": \"ab0c68bf-e5cf-45ef-9a5d-8bf2dd36f5b9\",\n    \"payment_method_detail\": {\n      \"bank_transfer\": {\n        \"provider_image\": null,\n        \"account_type\": null,\n        \"bank_name\": null,\n        \"beneficiary_name\": null,\n        \"bank_account\": null,\n        \"bank_account_2\": null,\n        \"beneficiary_document_type\": null,\n        \"beneficiary_document\": null,\n        \"payment_instruction\": null,\n        \"redirect_url\": null\n      }\n    }\n  },\n  \"customer_payer\": {\n    \"id\": \"f7ccd216-e81c-4e89-9f9a-d11ed277229f\",\n    \"merchant_customer_id\": \"123459898\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"gender\": \"\",\n    \"date_of_birth\": \"1990-02-28\",\n    \"email\": \"john.doe@email.com\",\n    \"nationality\": \"CO\",\n    \"ip_address\": null,\n    \"device_fingerprint\": null,\n    \"browser_info\": null,\n    \"document\": {\n      \"document_type\": \"CC\",\n      \"document_number\": \"0110110101100001\"\n    },\n    \"phone\": {\n      \"number\": \"3132450765\",\n      \"country_code\": \"57\"\n    },\n    \"billing_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"city\": \"Bogotá\",\n      \"zip_code\": \"111111\"\n    },\n    \"shipping_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"city\": \"Bogotá\",\n      \"zip_code\": \"111111\"\n    }\n  },\n  \"additional_data\": {\n    \"airline\": null,\n    \"order\": {\n      \"fee_amount\": 40,\n      \"shipping_amount\": 10,\n      \"items\": [\n        {\n          \"id\": \"123AD\",\n          \"name\": \"Skirt\",\n          \"quantity\": 1,\n          \"unit_amount\": 50,\n          \"category\": \"Clothes\",\n          \"brand\": \"XYZ\",\n          \"sku_code\": \"8765432109\",\n          \"manufacture_part_number\": \"XYZ123456\"\n        }\n      ]\n    },\n    \"seller_details\": null\n  },\n  \"taxes\": null,\n  \"transactions\": {\n    \"id\": \"4098df2c-5f89-40ca-99d3-d3235463d879\",\n    \"type\": \"PURCHASE\",\n    \"status\": \"DECLINED\",\n    \"category\": \"BANK_TRANSFER\",\n    \"amount\": 1500,\n    \"provider_id\": \"WOMPI\",\n    \"payment_method\": {\n      \"vaulted_token\": \"\",\n      \"type\": \"BANCOLOMBIA_TRANSFER\",\n      \"vault_on_success\": false,\n      \"token\": \"ab0c68bf-e5cf-45ef-9a5d-8bf2dd36f5b9\",\n      \"detail\": {\n        \"bank_transfer\": {\n          \"provider_image\": null,\n          \"account_type\": null,\n          \"bank_name\": null,\n          \"beneficiary_name\": null,\n          \"bank_account\": null,\n          \"bank_account_2\": null,\n          \"beneficiary_document_type\": null,\n          \"beneficiary_document\": null,\n          \"payment_instruction\": null,\n          \"redirect_url\": null\n        }\n      }\n    },\n    \"response_code\": \"DECLINED\",\n    \"response_message\": \"\",\n    \"reason\": null,\n    \"description\": null,\n    \"merchant_reference\": null,\n    \"provider_data\": {\n      \"id\": \"WOMPI\",\n      \"transaction_id\": \"\",\n      \"account_id\": \"\",\n      \"status\": \"DECLINED\",\n      \"sub_status\": \"\",\n      \"status_detail\": \"\",\n      \"raw_response\": {\n        \"data\": {\n          \"amount_in_cents\": 150000,\n          \"created_at\": \"2022-11-21T18:01:30.791Z\",\n          \"currency\": \"COP\",\n          \"id\": \"117490-1669053690-36686\",\n          \"merchant\": {\n            \"contact_name\": \"Simon Martinez\",\n            \"email\": \"integration.sbx@y.uno\",\n            \"legal_id\": \"1032455959\",\n            \"legal_id_type\": \"CC\",\n            \"legal_name\": \"Simon Martinez\",\n            \"logo_url\": null,\n            \"name\": \"Yuno\",\n            \"phone_number\": \"+573133910480\"\n          },\n          \"payment_method\": {\n            \"payment_description\": \"Test Bancolombia transfer\",\n            \"sandbox_status\": \"APPROVED\",\n            \"type\": \"BANCOLOMBIA_TRANSFER\",\n            \"user_type\": \"PERSON\"\n          },\n          \"payment_method_type\": \"BANCOLOMBIA_TRANSFER\",\n          \"redirect_url\": \"https://www.google.com/?checkoutSession=c835c97a-d24c-4ce9-a7a1-2b1e1ff1aa18\",\n          \"reference\": \"4098df2c-5f89-40ca-99d3-d3235463d879\",\n          \"status\": \"PENDING\",\n          \"status_message\": null,\n          \"taxes\": []\n        },\n        \"meta\": {}\n      }\n    },\n    \"created_at\": \"2022-11-21T18:01:29.642120Z\",\n    \"updated_at\": \"2022-11-21T18:01:33.810458Z\"\n  },\n  \"workflow\": \"CHECKOUT\"\n}"},"SAFETYPAY":{"value":"{\n  \"id\": \"8aecaeb8-383d-4011-bf29-b1cd264b990c\",\n  \"account_id\": \"c2d38fc9-49ec-4277-9115-bbad5d17d236\",\n  \"description\": \"Test safetypay\",\n  \"country\": \"CO\",\n  \"status\": \"READY_TO_PAY\",\n  \"sub_status\": \"CREATED\",\n  \"merchant_order_id\": \"0000022\",\n  \"created_at\": \"2022-11-17T10:32:50.651331Z\",\n  \"updated_at\": \"2022-11-17T10:32:51.746945Z\",\n  \"amount\": {\n    \"currency\": \"COP\",\n    \"value\": 52\n  },\n  \"checkout\": {\n    \"session\": \"887bd926-ccc8-4efc-801c-b1b3279c24c8\",\n    \"sdk_required_action\": true\n  },\n  \"payment_method\": {\n    \"vaulted_token\": \"\",\n    \"type\": \"SAFETYPAY\",\n    \"vault_on_success\": false,\n    \"token\": \"0132204a-cd50-471b-8ca9-11a099f3a422\",\n    \"payment_method_detail\": {\n      \"bank_transfer\": {\n        \"provider_image\": \"\",\n        \"account_type\": null,\n        \"bank_name\": null,\n        \"beneficiary_name\": null,\n        \"bank_account\": null,\n        \"bank_account_2\": null,\n        \"beneficiary_document_type\": null,\n        \"beneficiary_document\": null,\n        \"payment_instruction\": null,\n        \"redirect_url\": \"https://sandbox-gateway.safetypay.com/Express4/Checkout/index?TokenID=59ded3c7-ab99-43aa-a103-24e9dd01f88e&CountryID=COL&ChannelID=ONLINE\"\n      }\n    }\n  },\n  \"customer_payer\": {\n    \"id\": \"8dc0c0f4-8318-4525-ae73-38564b06dd11\",\n    \"merchant_customer_id\": \"example00234\",\n    \"first_name\": \"Pepito\",\n    \"last_name\": \"Perez\",\n    \"gender\": \"MALE\",\n    \"date_of_birth\": \"1990-02-28\",\n    \"email\": \"pepitoperez@y.uno\",\n    \"nationality\": \"CO\",\n    \"ip_address\": \"192.168.123.167\",\n    \"device_fingerprint\": \"hi88287gbd8d7d782ge....\",\n    \"browser_info\": {\n      \"user_agent\": \"string\",\n      \"accept_header\": \"string\",\n      \"color_depth\": \"string\",\n      \"screen_height\": \"11\",\n      \"screen_width\": \"12\",\n      \"javascript_enabled\": false,\n      \"language\": \"string\"\n    },\n    \"document\": {\n      \"document_type\": \"CC\",\n      \"document_number\": \"1032765432\"\n    },\n    \"phone\": {\n      \"number\": \"3132450765\",\n      \"country_code\": \"57\"\n    },\n    \"billing_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"city\": \"Bogota\",\n      \"zip_code\": \"111111\"\n    },\n    \"shipping_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"city\": \"Bogota\",\n      \"zip_code\": \"111111\"\n    }\n  },\n  \"additional_data\": {\n    \"airline\": null,\n    \"order\": {\n      \"fee_amount\": 0,\n      \"shipping_amount\": 0,\n      \"items\": [\n        {\n          \"id\": \"123AD\",\n          \"name\": \"Skirt\",\n          \"quantity\": 1,\n          \"unit_amount\": 50,\n          \"category\": \"Clothes\",\n          \"brand\": \"XYZ\",\n          \"sku_code\": \"8765432109\",\n          \"manufacture_part_number\": \"XYZ123456\"\n        }\n      ]\n    },\n    \"seller_details\": null\n  },\n  \"taxes\": null,\n  \"transactions\": {\n    \"id\": \"9708de53-0b3b-4f0a-a010-467f1aca11ed\",\n    \"type\": \"PURCHASE\",\n    \"status\": \"CREATED\",\n    \"category\": \"BANK_TRANSFER\",\n    \"amount\": 52,\n    \"provider_id\": \"SAFETYPAY\",\n    \"payment_method\": {\n      \"vaulted_token\": \"\",\n      \"type\": \"SAFETYPAY\",\n      \"vault_on_success\": false,\n      \"token\": \"0132204a-cd50-471b-8ca9-11a099f3a422\",\n      \"detail\": {\n        \"bank_transfer\": {\n          \"provider_image\": \"\",\n          \"account_type\": null,\n          \"bank_name\": null,\n          \"beneficiary_name\": null,\n          \"bank_account\": null,\n          \"bank_account_2\": null,\n          \"beneficiary_document_type\": null,\n          \"beneficiary_document\": null,\n          \"payment_instruction\": null,\n          \"redirect_url\": \"https://sandbox-gateway.safetypay.com/Express4/Checkout/index?TokenID=59ded3c7-ab99-43aa-a103-24e9dd01f88e&CountryID=COL&ChannelID=ONLINE\"\n        }\n      }\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"\",\n    \"reason\": null,\n    \"description\": null,\n    \"merchant_reference\": \"Prueba 002\",\n    \"provider_data\": {\n      \"id\": \"SAFETYPAY\",\n      \"transaction_id\": \"0122321219131431\",\n      \"account_id\": \"\",\n      \"status\": \"CREATED\",\n      \"sub_status\": \"\",\n      \"status_detail\": \"\",\n      \"raw_response\": {\n        \"custom_data\": null,\n        \"digest_check\": \"DF0EBFBBB5AE960E6F97FD583D9DD47F8036FF268C7CEFB54325B0F1C954A36D\",\n        \"error\": null,\n        \"gateway_token_url\": \"https://sandbox-gateway.safetypay.com/Express4/Checkout/index?TokenID=59ded3c7-ab99-43aa-a103-24e9dd01f88e&CountryID=COL&ChannelID=ONLINE\",\n        \"operation_id\": \"0122321219131431\",\n        \"request_id\": \"prop_5b0ff1f1-d374-4377-88e7-679ed7b71cb5\",\n        \"response_datetime\": \"2022-11-17T10:32:53\"\n      }\n    },\n    \"created_at\": \"2022-11-17T10:32:50.657677Z\",\n    \"updated_at\": \"2022-11-17T10:32:51.746918Z\"\n  },\n  \"workflow\": \"CHECKOUT\"\n}"},"MERCADO_PAGO_CHECKOUT_PRO":{"value":"{\n  \"id\": \"dfec30ce-ff48-442e-b5a0-8a3796f28cb9\",\n  \"account_id\": \"c2d38fc9-49ec-4277-9115-bbad5d17d236\",\n  \"description\": \"Test MP\",\n  \"country\": \"AR\",\n  \"status\": \"READY_TO_PAY\",\n  \"sub_status\": \"CREATED\",\n  \"merchant_order_id\": \"0000022\",\n  \"created_at\": \"2022-11-18T10:37:03.196122Z\",\n  \"updated_at\": \"2022-11-18T10:37:04.640426Z\",\n  \"amount\": {\n    \"currency\": \"ARS\",\n    \"value\": 50\n  },\n  \"checkout\": {\n    \"session\": \"7e27dad5-6fe8-443f-846d-8d24666bad81\",\n    \"sdk_required_action\": true\n  },\n  \"payment_method\": {\n    \"vaulted_token\": \"\",\n    \"type\": \"MERCADO_PAGO_CHECKOUT_PRO\",\n    \"vault_on_success\": false,\n    \"token\": \"764cdfd0-5202-443c-bf48-b891f35903ce\",\n    \"payment_method_detail\": {\n      \"bank_transfer\": {\n        \"provider_image\": \"\",\n        \"account_type\": null,\n        \"bank_name\": null,\n        \"beneficiary_name\": null,\n        \"bank_account\": null,\n        \"bank_account_2\": null,\n        \"beneficiary_document_type\": null,\n        \"beneficiary_document\": null,\n        \"payment_instruction\": null,\n        \"redirect_url\": \"https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=1131498549-ec11ece1-6653-4778-b876-3532fd598e18\"\n      }\n    }\n  },\n  \"customer_payer\": {\n    \"id\": \"9f6372f7-9fca-48ea-9407-248b0db995c0\",\n    \"merchant_customer_id\": \"4321354\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"gender\": null,\n    \"date_of_birth\": null,\n    \"email\": \"john.doe@email.com\",\n    \"nationality\": null,\n    \"ip_address\": null,\n    \"device_fingerprint\": null,\n    \"browser_info\": null,\n    \"document\": null,\n    \"phone\": null,\n    \"billing_address\": null,\n    \"shipping_address\": null\n  },\n  \"additional_data\": {\n    \"airline\": null,\n    \"order\": {\n      \"fee_amount\": null,\n      \"shipping_amount\": null,\n      \"items\": [\n        {\n          \"id\": \"123AD\",\n          \"name\": \"Skirt\",\n          \"quantity\": 1,\n          \"unit_amount\": 50,\n          \"category\": null,\n          \"brand\": null,\n          \"sku_code\": null,\n          \"manufacture_part_number\": null\n        }\n      ]\n    },\n    \"seller_details\": null\n  },\n  \"taxes\": null,\n  \"transactions\": {\n    \"id\": \"d5dcb745-8d93-4b54-b881-995fd9fb7070\",\n    \"type\": \"PURCHASE\",\n    \"status\": \"CREATED\",\n    \"category\": \"BANK_TRANSFER\",\n    \"amount\": 50,\n    \"provider_id\": \"MERCADO_PAGO\",\n    \"payment_method\": {\n      \"vaulted_token\": \"\",\n      \"type\": \"MERCADO_PAGO_CHECKOUT_PRO\",\n      \"vault_on_success\": false,\n      \"token\": \"764cdfd0-5202-443c-bf48-b891f35903ce\",\n      \"detail\": {\n        \"bank_transfer\": {\n          \"provider_image\": \"\",\n          \"account_type\": null,\n          \"bank_name\": null,\n          \"beneficiary_name\": null,\n          \"bank_account\": null,\n          \"bank_account_2\": null,\n          \"beneficiary_document_type\": null,\n          \"beneficiary_document\": null,\n          \"payment_instruction\": null,\n          \"redirect_url\": \"https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=1131498549-ec11ece1-6653-4778-b876-3532fd598e18\"\n        }\n      }\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"\",\n    \"reason\": null,\n    \"description\": null,\n    \"merchant_reference\": null,\n    \"provider_data\": {\n      \"id\": \"MERCADO_PAGO\",\n      \"transaction_id\": \"1131498549-ec11ece1-6653-4778-b876-3532fd598e18\",\n      \"account_id\": \"\",\n      \"status\": \"CREATED\",\n      \"sub_status\": \"\",\n      \"status_detail\": \"\",\n      \"raw_response\": {\n        \"additional_info\": \"\",\n        \"auto_return\": \"approved\",\n        \"back_urls\": {\n          \"failure\": \"https://www.google.com/?checkoutSession=7e27dad5-6fe8-443f-846d-8d24666bad81\",\n          \"pending\": \"https://www.google.com/?checkoutSession=7e27dad5-6fe8-443f-846d-8d24666bad81\",\n          \"success\": \"https://www.google.com/?checkoutSession=7e27dad5-6fe8-443f-846d-8d24666bad81\"\n        },\n        \"binary_mode\": true,\n        \"client_id\": \"7587679602882663\",\n        \"collector_id\": 1131498549,\n        \"coupon_code\": null,\n        \"coupon_labels\": null,\n        \"date_created\": \"2022-11-18T06:37:03.730-04:00\",\n        \"date_of_expiration\": null,\n        \"expiration_date_from\": null,\n        \"expiration_date_to\": null,\n        \"expires\": false,\n        \"external_reference\": \"d5dcb745-8d93-4b54-b881-995fd9fb7070\",\n        \"id\": \"1131498549-ec11ece1-6653-4778-b876-3532fd598e18\",\n        \"init_point\": \"https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=1131498549-ec11ece1-6653-4778-b876-3532fd598e18\",\n        \"internal_metadata\": null,\n        \"items\": [\n          {\n            \"category_id\": \"\",\n            \"currency_id\": \"ARS\",\n            \"description\": \"\",\n            \"id\": \"123AD\",\n            \"quantity\": 1,\n            \"title\": \"Skirt\",\n            \"unit_price\": 50\n          }\n        ],\n        \"last_updated\": null,\n        \"marketplace\": \"NONE\",\n        \"marketplace_fee\": 0,\n        \"metadata\": {},\n        \"notification_url\": \"https://sandbox.y.uno/mercadopago-webhook/v1/checkout-pro/events?source_news=webhooks&transaction=d5dcb745-8d93-4b54-b881-995fd9fb7070\",\n        \"operation_type\": \"regular_payment\",\n        \"payer\": {\n          \"address\": {\n            \"street_name\": \"\",\n            \"street_number\": null,\n            \"zip_code\": \"\"\n          },\n          \"date_created\": null,\n          \"email\": \"john.doe@email.com\",\n          \"identification\": {\n            \"number\": \"\",\n            \"type\": \"\"\n          },\n          \"last_purchase\": null,\n          \"name\": \"John\",\n          \"phone\": {\n            \"area_code\": \"\",\n            \"number\": \"\"\n          },\n          \"surname\": \"Doe\"\n        },\n        \"payment_methods\": {\n          \"default_card_id\": null,\n          \"default_installments\": null,\n          \"default_payment_method_id\": null,\n          \"excluded_payment_methods\": [\n            {\n              \"id\": \"\"\n            }\n          ],\n          \"excluded_payment_types\": [\n            {\n              \"id\": \"\"\n            }\n          ],\n          \"installments\": null\n        },\n        \"processing_modes\": null,\n        \"product_id\": null,\n        \"redirect_urls\": {\n          \"failure\": \"\",\n          \"pending\": \"\",\n          \"success\": \"\"\n        },\n        \"sandbox_init_point\": \"https://sandbox.mercadopago.com.ar/checkout/v1/redirect?pref_id=1131498549-ec11ece1-6653-4778-b876-3532fd598e18\",\n        \"shipments\": {\n          \"cost\": 0,\n          \"default_shipping_method\": null,\n          \"mode\": \"not_specified\",\n          \"receiver_address\": {\n            \"apartment\": \"\",\n            \"city_name\": null,\n            \"country_name\": null,\n            \"floor\": \"\",\n            \"state_name\": null,\n            \"street_name\": \"\",\n            \"street_number\": null,\n            \"zip_code\": \"\"\n          }\n        },\n        \"site_id\": \"MLA\",\n        \"total_amount\": null\n      }\n    },\n    \"created_at\": \"2022-11-18T10:37:03.202222Z\",\n    \"updated_at\": \"2022-11-18T10:37:04.639595Z\"\n  },\n  \"workflow\": \"CHECKOUT\"\n}"},"PIX":{"value":"{\n  \"id\": \"6e57152b-68eb-43b0-a52d-66a5a05b62a1\",\n  \"account_id\": \"c2d38fc9-49ec-4277-9115-bbad5d17d236\",\n  \"description\": \"Test PIX\",\n  \"country\": \"BR\",\n  \"status\": \"READY_TO_PAY\",\n  \"sub_status\": \"CREATED\",\n  \"merchant_order_id\": \"0000022\",\n  \"created_at\": \"2022-11-18T13:11:49.784020Z\",\n  \"updated_at\": \"2022-11-18T13:11:51.454478Z\",\n  \"amount\": {\n    \"currency\": \"BRL\",\n    \"value\": 50\n  },\n  \"checkout\": {\n    \"session\": \"8fee59b2-c1d7-4241-98a6-8ff42f443602\",\n    \"sdk_required_action\": true\n  },\n  \"payment_method\": {\n    \"vaulted_token\": \"\",\n    \"type\": \"PIX\",\n    \"vault_on_success\": false,\n    \"token\": \"8dbde54e-994d-49ee-9146-dd72312b1aef\",\n    \"payment_method_detail\": {\n      \"bank_transfer\": {\n        \"provider_image\": \"https://mock-institution.spinpay.com.br/v1/checkouts/qrcode?pspReferenceId=6534f455-6036-4503-b6f3-32355b131ec4&paymentMethodType=pix\",\n        \"account_type\": null,\n        \"bank_name\": null,\n        \"beneficiary_name\": null,\n        \"bank_account\": null,\n        \"bank_account_2\": null,\n        \"beneficiary_document_type\": null,\n        \"beneficiary_document\": null,\n        \"payment_instruction\": null,\n        \"redirect_url\": \"\"\n      }\n    }\n  },\n  \"customer_payer\": {\n    \"id\": \"8bf61510-c32b-463b-b06d-cdb74d193a3b\",\n    \"merchant_customer_id\": \"432132\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"gender\": \"\",\n    \"date_of_birth\": \"1990-02-28\",\n    \"email\": \"john.doe@email.com\",\n    \"nationality\": \"CO\",\n    \"ip_address\": null,\n    \"device_fingerprint\": null,\n    \"browser_info\": null,\n    \"document\": {\n      \"document_type\": \"CPF\",\n      \"document_number\": \"47033278802\"\n    },\n    \"phone\": {\n      \"number\": \"11992149494\",\n      \"country_code\": \"55\"\n    },\n    \"billing_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"city\": \"Bogotá\",\n      \"zip_code\": \"111111\"\n    },\n    \"shipping_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"city\": \"Bogotá\",\n      \"zip_code\": \"111111\"\n    }\n  },\n  \"additional_data\": {\n    \"airline\": {\n      \"pnr\": \"1P-2UUGJW\",\n      \"legs\": [\n        {\n          \"departure_airport\": \"EZE\",\n          \"departure_datetime\": \"2014-05-12 13:05:00\",\n          \"departure_airport_timezone\": \"-03:00\",\n          \"arrival_airport\": \"AMS\",\n          \"carrier_code\": \"KL\",\n          \"flight_number\": \"842\",\n          \"fare_basis_code\": \"HL7LNR\",\n          \"fare_class_code\": \"FR\",\n          \"base_fare\": 200,\n          \"base_fare_currency\": \"BRL\",\n          \"stopover_code\": \"s\"\n        }\n      ],\n      \"passengers\": [\n        {\n          \"first_name\": \"string\",\n          \"last_name\": \"string\",\n          \"middle_name\": \"string\",\n          \"type\": \"s\",\n          \"date_of_birth\": \"stringstri\",\n          \"nationality\": \"st\",\n          \"document\": {\n            \"document_type\": \"CPF\",\n            \"document_number\": \"47033278802\"\n          },\n          \"country\": \"st\",\n          \"loyalty_number\": \"string\",\n          \"loyalty_tier\": \"strin\"\n        }\n      ],\n      \"ticket\": {\n        \"ticket_number\": \"123456\",\n        \"e_ticket\": false,\n        \"restricted\": false,\n        \"total_fare_amount\": 80,\n        \"total_tax_amount\": 22,\n        \"total_fee_amount\": 14,\n        \"issue\": null\n      }\n    },\n    \"order\": {\n      \"fee_amount\": 0,\n      \"shipping_amount\": 0,\n      \"items\": [\n        {\n          \"id\": \"123AD\",\n          \"name\": \"Skirt\",\n          \"quantity\": 1,\n          \"unit_amount\": 50,\n          \"category\": \"Clothes\",\n          \"brand\": \"XYZ\",\n          \"sku_code\": \"8765432109\",\n          \"manufacture_part_number\": \"XYZ123456\"\n        }\n      ]\n    },\n    \"seller_details\": null\n  },\n  \"taxes\": null,\n  \"transactions\": {\n    \"id\": \"86fe4bab-d57c-48cb-872a-4c2967cd62f3\",\n    \"type\": \"PURCHASE\",\n    \"status\": \"CREATED\",\n    \"category\": \"BANK_TRANSFER\",\n    \"amount\": 50,\n    \"provider_id\": \"SPINPAY\",\n    \"payment_method\": {\n      \"vaulted_token\": \"\",\n      \"type\": \"PIX\",\n      \"vault_on_success\": false,\n      \"token\": \"8dbde54e-994d-49ee-9146-dd72312b1aef\",\n      \"detail\": {\n        \"bank_transfer\": {\n          \"provider_image\": \"https://mock-institution.spinpay.com.br/v1/checkouts/qrcode?pspReferenceId=6534f455-6036-4503-b6f3-32355b131ec4&paymentMethodType=pix\",\n          \"account_type\": null,\n          \"bank_name\": null,\n          \"beneficiary_name\": null,\n          \"bank_account\": null,\n          \"bank_account_2\": null,\n          \"beneficiary_document_type\": null,\n          \"beneficiary_document\": null,\n          \"payment_instruction\": null,\n          \"redirect_url\": \"\"\n        }\n      }\n    },\n    \"response_code\": \"PENDING_PROVIDER_CONFIRMATION\",\n    \"response_message\": \"\",\n    \"reason\": null,\n    \"description\": null,\n    \"merchant_reference\": null,\n    \"provider_data\": {\n      \"id\": \"SPINPAY\",\n      \"transaction_id\": \"6534f455-6036-4503-b6f3-32355b131ec4\",\n      \"account_id\": \"\",\n      \"status\": \"CREATED\",\n      \"sub_status\": \"\",\n      \"status_detail\": \"\",\n      \"raw_response\": {\n        \"paymentMethodType\": \"\",\n        \"pspReferenceId\": \"6534f455-6036-4503-b6f3-32355b131ec4\",\n        \"referenceId\": \"86fe4bab-d57c-48cb-872a-4c2967cd62f3\",\n        \"status\": \"WAITING_PAYMENT_METHOD\"\n      }\n    },\n    \"created_at\": \"2022-11-18T13:11:49.790043Z\",\n    \"updated_at\": \"2022-11-18T13:11:51.454455Z\"\n  },\n  \"workflow\": \"CHECKOUT\"\n}"},"NUPAY":{"value":"{\n    \"id\": \"fcf1edaa-d75d-4a06-945d-8ebbaebb5c33\",\n    \"account_id\": \"d2d38fc9-49ec-4277-9115-bbad5d17d236\",\n    \"description\": \"Test Nupay\",\n    \"country\": \"BR\",\n    \"status\": \"READY_TO_PAY\",\n    \"sub_status\": \"CREATED\",\n    \"merchant_order_id\": \"0000022\",\n    \"created_at\": \"2022-11-18T13:15:37.359796Z\",\n    \"updated_at\": \"2022-11-18T13:15:39.359493Z\",\n    \"amount\": {\n        \"currency\": \"BRL\",\n        \"value\": 50\n    },\n    \"checkout\": {\n        \"session\": \"611cc46b-e4d1-48f3-91f1-017f4d42aa49\",\n        \"sdk_required_action\": true\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"NU_PAY\",\n        \"vault_on_success\": false,\n        \"token\": \"c41e81ff-c173-4929-b519-b7bfebb351bb\",\n        \"payment_method_detail\": {\n            \"bank_transfer\": {\n                \"provider_image\": \"\",\n                \"account_type\": null,\n                \"bank_name\": null,\n                \"beneficiary_name\": null,\n                \"bank_account\": null,\n                \"bank_account_2\": null,\n                \"beneficiary_document_type\": null,\n                \"beneficiary_document\": null,\n                \"payment_instruction\": null,\n                \"redirect_url\": \"https://staging-nuapp.nubank.com.br/bdc/omniknight/expr/payment-intents.home-screen?payment-intent-id=6196794d-fb8b-4b7c-9518-11e6e0b2d89b&token=mz%2BH0eeRcQk6oe0CFg7jZxMG0BAKhQaL3CWYb5VtLztOiFLgHq3Orkh77E4DnkM01BCyajPQZUCBEI%2Bl3LtqAA%3D%3D&amount=5000&storeName=Yuno&poId=ddafb55b-b245-4fe1-9fc0-de2b4153e096\"\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": \"80028bba-08ef-4fef-9c17-93e4c8196170\",\n        \"merchant_customer_id\": \"1668768861\",\n        \"first_name\": \"Michaela\",\n        \"last_name\": \"Rutherford\",\n        \"gender\": \"\",\n        \"date_of_birth\": null,\n        \"email\": \"Ettie74@yahoo.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": null,\n        \"document\": {\n            \"document_type\": \"CPF\",\n            \"document_number\": \"47033278802\"\n        },\n        \"phone\": {\n            \"number\": \"11992149494\",\n            \"country_code\": \"55\"\n        },\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": {\n        \"airline\": null,\n        \"order\": {\n            \"fee_amount\": 40,\n            \"shipping_amount\": 10,\n            \"items\": [\n                {\n                    \"id\": \"123AD\",\n                    \"name\": \"Skirt\",\n                    \"quantity\": 1,\n                    \"unit_amount\": 50,\n                    \"category\": \"Clothes\",\n                    \"brand\": \"XYZ\",\n                    \"sku_code\": \"8765432109\",\n                    \"manufacture_part_numbe
[...]
