{"openapi":"3.1.0","info":{"title":"payments-api-split","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v2"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"public-api-key","x-default":"<Your public-api-key>"},"sec1":{"type":"apiKey","in":"header","name":"private-secret-key","x-default":"<Your private-secret-key>"},"sec2":{"type":"apiKey","in":"header","name":"X-Idempotency-Key","x-default":"<Your idempotency-key>"}}},"security":[{"sec0":[],"sec1":[],"sec2":[]}],"paths":{"/":{"get":{"summary":"Split Payment - backup POST","description":"","operationId":"split-payment","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","merchant_order_id","description","country","amount","workflow","checkout","payment_method","customer_payer"],"properties":{"account_id":{"type":"string","description":"The unique identifier of the account (MAX 64 ; MIN 36)."},"merchant_order_id":{"type":"string","description":"The unique identifier of the customer's order (MAX 255; MIN 3)."},"description":{"type":"string","description":"The description of the payment (MAX 255; MIN 3)."},"country":{"type":"string","description":"The customer's country (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"amount":{"type":"object","description":"Specifies the payment amount object, with the value and currency.","required":["value","currency"],"properties":{"value":{"type":"number","description":"Amount of the split.","format":"float"},"currency":{"type":"string","description":"The currency used to make the payment ([ISO 4217](ref:country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]}}},"workflow":{"type":"string","description":"The payment workflow. Indicates whether the integration will use Yuno´s SDK or will be a back to back connection. `CHECKOUT`=Use Yuno SDK. `DIRECT`=Back to back integration"},"checkout":{"type":"object","description":"Specifies the checkout object. This object is not mandatory for back to back payments. Required when `workflow` is defined as `CHECKOUT` or is not sent.","properties":{"session":{"type":"string","description":"The checkout session that has been created for the payment (MAX 64 ; MIN 36)."}}},"split":{"type":"array","description":"List of split objects that specify the recipients and amount information for the split","items":{"properties":{"recipient_id":{"type":"string","description":"The id obtained after creating the recipient in Yuno"},"type":{"type":"string","description":"The type of split for the transaction","enum":["PURCHASE","PAYMENTFEE","VAT","COMISSION","MARKETPLACE","SHIPPING",""]},"merchant_reference":{"type":"string","description":"The merchant_reference to identify the transaction"},"amount":{"type":"object","description":"The payment amount object, with the value and currency.","required":["value","currency"],"properties":{"value":{"type":"number","description":"Amount of the split.","format":"float"},"currency":{"type":"string","description":"The currency used to make the payment ([ISO 4217](ref:country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]}}},"liability":{"type":"object","description":"The information about the recipient's responsibility in the transaction.","properties":{"processing_fee":{"type":"string","description":"Indicates who will be charged the transaction fee.","enum":["MERCHANT","RECIPIENT","SHARED",""]},"chargebacks":{"type":"boolean","description":"The recipient is responsible in case of a chargeback."}}}},"required":["recipient_id","type","merchant_reference"],"type":"object"}},"payment_method":{"type":"object","description":"Specifies the payment_method object.","properties":{"token":{"type":"string","description":"The one time use payment method token provided by Yuno sdk. If a payment is created using a token, it is not necessary to send a vaulted_token as well, it can be defined as null (MAX: 64; MIN: 36)."},"vaulted_token":{"type":"string","description":"The vaulted token for a previously stored payment_method. If a payment is created using a vaulted_token, it is not necessary to send a token as well, it can be defined as null (MAX: 64; MIN: 36)."},"type":{"type":"string","description":"Type of the payment method."},"vault_on_success":{"type":"boolean","description":"Whether or not to save the card for future payments. If the transaction is successful enroll the payment method for the customer."},"detail":{"type":"object","description":"Specifies the detail object.","properties":{"card":{"type":"object","description":"Specifies the card object.","properties":{"capture":{"type":"boolean","description":"Decides whether to authorize the payment or capture it. Authorizing a card payment allows you to reserve funds in a customer's bank account."},"card_data":{"type":"object","description":"Specifies the card_data object.","properties":{"number":{"type":"string","description":"Card’s number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants."},"expiration_month":{"type":"integer","description":"Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.","format":"int32"},"expiration_year":{"type":"integer","description":"Card’s expiration year - YYYY (MAX 4; MIN 4) - only available for PCI certified merchants.","format":"int32"},"security_code":{"type":"integer","description":"Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants.","format":"int32"},"holder_name":{"type":"string","description":"Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants."}}}}}}}}},"customer_payer":{"type":"object","description":"Specifies customer object for payments.","required":["first_name","last_name","email"],"properties":{"id":{"type":"string","description":"The unique identifier of the customer (MAX 64 ; MIN 36).  This object is not mandatory for back to back payments. **[Required when `workflow` is defined as `CHECKOUT` or is not sent]**."},"merchant_customer_id":{"type":"string","description":"The unique identifier of the customer in the external merchant (MAX 255; MIN 3)."},"first_name":{"type":"string","description":"The customer's first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The customer's last name (MAX 255; MIN 3)."},"gender":{"type":"string","description":"The customer's gender (MAX 1; MIN 1; (M=Male/F=Female/NA=Not applicable/NK=Not Known)).","enum":["M","F","NA","NK"]},"date_of_birth":{"type":"string","description":"The customer's date of birth in the YYYY-MM-DD format (Length: 10)."},"email":{"type":"string","description":"The customer's e-mail (MAX 255; MIN 3)."},"nationality":{"type":"string","description":"The customer's nationality (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."},"ip_address":{"type":"string","description":"The customer's IP address (MAX 45; MIN 7)."},"device_fingerprint":{"type":"string","description":"The customer's device fingerprint (MAX 4000; MIN 1). For integrations using Yuno checkout the value is obtained automatically, do not send this field."},"browser_info":{"type":"object","description":"Specifies the browser_info object.","required":["user_agent","accept_header","color_depth","screen_height","screen_width","java_enabled","language"],"properties":{"user_agent":{"type":"string","description":"The user agent value of the customer's browser (MAX 255; MIN 3) - [Required for 3DS in DIRECT workflow]"},"accept_header":{"type":"boolean","description":"The accept header value of the customer's browser  - **[Required for 3DS in DIRECT workflow]**"},"accept_browser":{"type":"boolean","description":"The accept browser value of the customer's browser  - **[Required for 3DS in DIRECT workflow]**"},"accept_content":{"type":"boolean","description":"The accept content value of the customer's browser  - **[Required for 3DS in DIRECT workflow]**"},"color_depth":{"type":"integer","description":"The color depth of the customer's browser in bits per pixel. This should be obtained by using the browser's screen.colorDepth property. Accepted values: 1, 4, 8, 15, 16, 24, 30, 32 or 48 bit color depth. (MAX 5; MIN 1).  - [Required for 3DS in DIRECT workflow]","format":"int32"},"screen_height":{"type":"integer","description":"The total height of the customer's device screen in pixels. (MAX 255; MIN 3)  - [Required for 3DS in DIRECT workflow]","format":"int32"},"screen_width":{"type":"integer","description":"The total width of the customer's device screen in pixels. (MAX 255; MIN 3)  - [Required for 3DS in DIRECT workflow]","format":"int32"},"javascript_enabled":{"type":"boolean","description":"Indicates if Javascript is enabled or not in the device - **[Required for 3DS in DIRECT workflow]**"},"java_enabled":{"type":"boolean","description":"Indicates if Java is enabled or not in the device  - [Required for 3DS in DIRECT workflow]"},"language":{"type":"boolean","description":"The navigator.language value of the customer's browser (as defined in IETF BCP 47). (MAX 5; MIN 1)  - [Required for 3DS in DIRECT workflow]"},"browser_time_difference":{"type":"string","description":"Indicates the customer's browser time difference  - **[Required for 3DS in DIRECT workflow]**"}}},"document":{"type":"object","description":"Specifies the customer's document object, including its number and type.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3)."},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2; [Country reference](ref:country-reference))."},"country":{"type":"string","description":"Country where the document was issued (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."}}},"billing_address":{"type":"object","description":"Specifies the customer's billing address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 4)."}}},"shipping_address":{"type":"object","description":"Specifies the customer's shipping address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary shipping address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary shipping address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the shipping address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the shipping address (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY"]},"state":{"type":"string","description":"The state considered for the shipping address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the shipping address (MAX 11; MIN 4)."}}}}},"additional_data":{"type":"object","description":"Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.","properties":{"order":{"type":"object","description":"Specifies the order object.","properties":{"shipping_amount":{"type":"number","description":"The shipping amount of the order (multiple of 0.0001).","format":"float"},"fee_amount":{"type":"number","description":"The fee amount of the order (multiple of 0.0001).","format":"float"},"items":{"type":"array","description":"Specifies the items array of object.","items":{"properties":{"id":{"type":"string","description":"The unique identifier of the item (MAX 255; MIN 3)."},"name":{"type":"string","description":"The name of the item (MAX 255; MIN 3)."},"quantity":{"type":"integer","description":"The quantity of the item.","format":"int32"},"unit_amount":{"type":"number","description":"The unit amount of the item (multiple of 0.0001).","format":"float"},"category":{"type":"string","description":"The category of the item ([item category list](ref:items-category-list))."},"brand":{"type":"string","description":"The brand of the item (MAX 255; MIN 3)."},"sku_code":{"type":"string","description":"The stock keeping unit (SKU) of the item (MAX 255; MIN 3)."},"manufacture_part_number":{"type":"string","description":"The manufacture part number of the item"}},"required":["id","name","quantity","unit_amount"],"type":"object"}}}},"airline":{"type":"object","description":"Specifies the airline object.","properties":{"pnr":{"type":"string","description":"Passenger name record (MAX 10; MIN 1)."},"legs":{"type":"array","description":"Specifies the legs array of objects.","items":{"properties":{"departure_airport":{"type":"string","description":"IATA code. See http://www.iata.org (MAX 3; MIN 3)."},"departure_datetime":{"type":"string","description":"The departure date and time in UTC time ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), MAX 27; MIN 27).","format":"date"},"departure_airport_timezone":{"type":"string","description":"Airport timezone (MAX 6; MIN 6)."},"arrival_airport":{"type":"string","description":"IATA airport code. See http://www.iata.org (MAX 3; MIN 3)."},"carrier_code":{"type":"string","description":"IATA carrier code. See http://www.iata.org (MAX 2; MIN 2)."},"flight_number":{"type":"string","description":"The flight number assigned by the airline carrier (MAX 5; MIN 1)."},"fare_basis_code":{"type":"string","description":"Code base rate provides specific information on the fare in addition to the class service, both required for booking (MAX 15; MIN 1)."},"fare_class_code":{"type":"string","description":"The fare class code of the airline (MAX 1; MIN 1). The values can be a letter (A-Z) but may vary depending on the airline's definition. Check the [Airline information reference](airline-information#fare-class-code).","enum":["F","FR","B","CR","Y","YD"]},"base_fare":{"type":"number","description":"The transaction amount, excluding taxes and fees, the smallest unit of currency (multipleOf 0.0001).","format":"float"},"base_fare_currency":{"type":"string","description":"The currency used to transaction amount (MAX 3; MIN 3; [Country reference](ref:country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]},"stopover_code":{"type":"string","description":"1-letter code that indicates whether the passenger is allowed to make a stopover. Only two types of characters are allowed: O: Stopover allowed (the letter “O”, not zero) / X: Stopover not allowed. (MAX 1; MIN 1)"}},"required":["departure_airport","departure_datetime","departure_airport_timezone","arrival_airport","carrier_code","flight_number","fare_basis_code","fare_class_code"],"type":"object"}},"passengers":{"type":"array","description":"Specifies the passengers array of objects associated to the tickets","items":{"properties":{"first_name":{"type":"string","description":"The passenger first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The passenger last name (MAX 255; MIN 3)."},"middle_name":{"type":"string","description":"The passenger middle name (MAX 255; MIN 3)."},"type":{"type":"string","description":"Passenger type (A=Adult, C=Child, I=Infant or Baby; MAX 1; MIN 1)."},"date_of_birth":{"type":"string","description":"The passenger date of birth in the YYYY-MM-DD (MAX 10; MIN 10)."},"nationality":{"type":"string","description":"The passenger nationality (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"document":{"type":"object","description":"Specifies the passengers' document object.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3)."},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2; [Country reference](ref:country-reference))."},"country":{"type":"string","description":"Country where the document was issued (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."}}}},"type":"object"}},"tickets":{"type":"array","description":"Specifieis the array of tickets associated to the passengers.","items":{"properties":{"ticket_number":{"type":"string","description":"Ticket number (MAX 14; MIN 1)."},"e_ticket":{"type":"boolean","description":"Is this an e-ticket?"},"restricted":{"type":"boolean","description":"Indicates if the ticket is refunfable or not."},"total_fare_amount":{"type":"number","description":"Total fare amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_tax_amount":{"type":"number","description":"Total taxes amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_fee_amount":{"type":"number","description":"Total fee amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"issue":{"type":"object","description":"Specifies the issue object.","properties":{"carrier_prefix_code":{"type":"string","description":"Issuing or Validating carrier. This is the AWB Prefix (Air waybill) IATA 3-numeric code (MAX 3; MIN 3)."},"travel_agent_code":{"type":"string","description":"Code of the travel agent issuing the ticket."},"travel_agent_name":{"type":"string","description":"The name under which the point of sale appears on the agency list or franchise name (MAX 32; MIN 1)."},"date":{"type":"string","description":"Ticket issuing date (MAX 27; MIN 27).","format":"date"},"address":{"type":"string","description":"Address of the agent whose sold the ticket (MAX 255; MIN 3)."},"city":{"type":"string","description":"City name of the agent whose sold the ticket (MAX 255; MIN 3)."},"country":{"type":"string","description":"Country code alpha 2 where the ticket was issued (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."},"zip_code":{"type":"string","description":"Zip code of the agent who sold the ticket."}}}},"type":"object"}}}},"seller_details":{"type":"object","description":"Specifies the seller's details object.","properties":{"name":{"type":"string","description":"The seller's legal name (MAX 255; MIN 3)."},"email":{"type":"number","description":"The seller's e-mail (MAX 255; MIN 3).","format":"float"},"reference":{"type":"number","description":"The seller's identification code (MAX 255; MIN 3).","format":"float"},"website":{"type":"string","description":"The seller's website URL (MAX 255; MIN 3)."},"industry":{"type":"string","description":"The seller's industry (MAX 235; MIN 1) For more information access the [Industry category reference page](industry-category-list).","enum":["ADVERTISING","ART","AUTOMOTIVE","ANTIVIRUS","BABY","BEAUTY_&_PERSONAL_CARE","BOOKS","CAMERAS","CAR_ELECTRONICS","COMPUTING","COUPONS","DONATIONS","DELIVERY","ELECTRONICS","ENTERTAINMENT","EDUCATION","FASHION","GAMES","GARDEN_&_OUTDOOR","GROCERY_&_GOURMET_FOOD","HANDMADE","HOME","INDUSTRIAL_&_SCIENTIFIC","INVESTING_AND_FINANCIAL","LEARNINGS","MUSICAL","OTHERS","PET_SUPPLIES","PHONES","PAYROLL","SERVICES","SAAS","TELEVISION","STREAMING","TICKETS","TOYS_&_GAMES","TRAVELS","VIDEO_GAMES","VIRTUAL_GOODS",""]},"country":{"type":"string","description":"The seller's country (MAX 255; MIN 3; [Country reference](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"document":{"type":"object","description":"Specifies the document object of the seller.","properties":{"document_number":{"type":"string","description":"The seller's document number (MAX 40; MIN 3)."},"document_type":{"type":"string","description":"The seller's document type (MAX 6, MIN 2; [Country reference](ref:country-reference)).","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"phone":{"type":"object","description":"Specifies the seller's phone number object.","properties":{"country_code":{"type":"string","description":"The country code of the seller's phone (MAX 3; MIN 2; [Country reference](ref:country-reference))."},"number":{"type":"string","description":"The seller's phone number, without the country code (MAX 32; MIN 1)."}}},"address":{"type":"object","description":"Specifies the seller's address object.","properties":{"address_line_1":{"type":"string","description":"The primary address line of the seller (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the seller (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the seller's address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the seller's address (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the seller's address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the seller's address (MAX 11; MIN 4)."}}}}}}}}},"examples":{"Split payment":{"value":{"additional_data":{"airline":{"legs":[{"arrival_airport":"AMS","base_fare":30000,"base_fare_currency":"USD","carrier_code":"KL","departure_airport":"EZE","departure_airport_timezone":"-03:00","departure_datetime":"2022-05-09T20:46:54.786342Z","fare_basis_code":"HL7LNR","fare_class_code":"FR","flight_number":"842","stopover_code":"O"}],"passengers":[{"country":"CO","date_of_birth":"1979-01-12","document":{"document_number":"1093333333","document_type":"CC"},"first_name":"John","last_name":"Doe","loyalty_number":"254587547","loyalty_tier":"1","middle_name":"Charles","nationality":"CO","type":"A"}],"pnr":"1P-2UUGJW","ticket":{"e_ticket":true,"issue":{"address":"Apartamento 502, Torre I","carrier_prefix_code":"044","city":"Bogotá","country":"CO","date":"1979-01-12","travel_agent_code":"10655823","travel_agent_name":"ACME Agency Inc"},"restricted":false,"ticket_number":"7411823255523","total_fare_amount":80000,"total_fee_amount":25200,"total_tax_amount":14800}},"order":{"fee_amount":0,"items":[{"brand":"Apple","category":"phones","id":"3214","manufacture_part_number":"345621234","name":"Iphone 12 Pro Max","quantity":1,"sku_code":"A2342","unit_amount":5500}]}},"amount":{"currency":"COP","value":5500},"checkout":{"session":"9104911d-5df9-429e-8488-ad41abea1a4b"},"split":[{"recipient_id":"9104911d-5df9-329e-7664-asdas232143d","type":"PURCHASE","merchant_reference":"test_001","amount":{"currency":"COP","value":5000}},{"recipient_id":"1104911d-5df9-329e-7664-asdas232143d","type":"PURCHASE","merchant_reference":"test_002","amount":{"currency":"COP","value":5000}}],"country":"CO","customer_payer":{"id":"91asda11d-5df9-329e-7664-dasdafeea45"},"description":"marketplace payment","account_id":"64761a45-6e49-4ea5-a6ff-6b52030b92ac","merchant_order_id":"432245","workflow":"CHECKOUT","payment_method":{"token":"5104911d-5df9-229e-8468-bd41abea1a4s","vaulted_token":null}}},"Split - Raw Card - DIRECT":{"value":{"description":"Test","account_id":"229077c4-5ecd-11ed-9b6a-0242ac120002","merchant_order_id":"0000023","country":"AR","merchant_reference":"reference","amount":{"currency":"ARS","value":500},"customer_payer":{"email":"john.doe@y.uno","first_name":"John","last_name":"Doe","merchant_customer_id":"example00234","document":{"document_type":"DNI","document_number":"38799999"}},"split":[{"recipient_id":"7203f0e8-3c20-4c13-a8bd-47ca90b9646d","type":"PURCHASE","amount":{"currency":"ARS","value":250}},{"recipient_id":"252a71d1-e5ad-468b-b211-a60ccce57883","type":"PURCHASE","amount":{"currency":"ARS","value":250}}],"workflow":"DIRECT","payment_method":{"type":"CARD","detail":{"card":{"capture":true,"card_data":{"number":"4111111111111111","holder_name":"JOHN DOE","expiration_month":12,"expiration_year":26,"security_code":"123"}}}}}},"Split - Saved Card - DIRECT":{"value":{"description":"Test","account_id":"229077c4-5ecd-11ed-9b6a-0242ac120002","merchant_order_id":"0000023","country":"AR","merchant_reference":"reference","amount":{"currency":"ARS","value":500},"customer_payer":{"id":"customer_id"},"split":[{"recipient_id":"7203f0e8-3c20-4c13-a8bd-47ca90b9646d","type":"PURCHASE","amount":{"currency":"ARS","value":250}},{"recipient_id":"252a71d1-e5ad-468b-b211-a60ccce57883","type":"PURCHASE","amount":{"currency":"ARS","value":250}}],"workflow":"DIRECT","payment_method":{"type":"CARD","vaulted_token":"ddb8420d-02f6-4a0a-8f60-ca11c36e6dba"}}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"additional_data\": {\n    \"airline\": {\n      \"legs\": [\n        {\n          \"arrival_airport\": \"AMS\",\n          \"base_fare\": 23.5676,\n          \"base_fare_currency\": \"COP\",\n          \"carrier_code\": \"KL\",\n          \"departure_airport\": \"EZE\",\n          \"departure_airport_timezone\": \"-03:00\",\n          \"departure_datetime\": \"2022-05-09T20:46:54.786342Z\",\n          \"fare_basis_code\": \"HL7LNR\",\n          \"fare_class_code\": \"FR\",\n          \"flight_number\": \"842\",\n           \"stopover_code\": \"O\"\n        }\n      ],\n      \"passengers\": [\n        {\n          \"country\": \"CO\",\n          \"date_of_birth\": \"1979-01-12\",\n          \"document\": {\n            \"document_number\": \"1093333333\",\n            \"document_type\": \"CC\"\n          },\n          \"first_name\": \"John\",\n          \"last_name\": \"Doe\",\n          \"loyalty_number\": \"254587547\",\n          \"loyalty_tier\": \"1\",\n          \"middle_name\": \"Charles\",\n          \"nationality\": \"CO\",\n          \"type\": \"A\"\n        }\n      ],\n      \"pnr\": \"1P-2UUGJW\",\n      \"ticket\": {\n        \"e_ticket\": true,\n        \"issue\": {\n          \"address\": \"Apartamento 502, Torre I\",\n          \"carrier_prefix_code\": \"044\",\n          \"city\": \"Bogotá\",\n          \"country\": \"CO\",\n          \"date\": \"1979-01-12\",\n          \"travel_agent_code\": \"10655823\",\n          \"travel_agent_name\": \"ACME Agency Inc\"\n        },\n        \"restricted\": false,\n        \"ticket_number\": \"7411823255523\",\n        \"total_fare_amount\": 80000.00,\n        \"total_fee_amount\": 25200.00,\n        \"total_tax_amount\": 14800.00\n      }\n    },\n    \"order\": {\n      \"fee_amount\": 0,\n      \"items\": [\n        {\n          \"brand\": \"Apple\",\n          \"category\": \"phones\",\n          \"id\": \"3214\",\n          \"manufacture_part_number\": \"345621234\",\n          \"name\": \"Iphone 12 Pro Max\",\n          \"quantity\": 1,\n          \"sku_code\": \"A2342\",\n          \"unit_amount\": 550\n        }\n      ],\n      \"shipping_amount\": 0\n    }\n  },\n  \"amount\": {\n    \"currency\": \"COP\",\n    \"value\": 23.5676\n  },\n  \"checkout\": {\n    \"sdk_action_required\": true,\n    \"session\": \"50bae77e-c65c-11ec-9d64-0242ac120002\"\n  },\n  \"country\": \"CO\",\n  \"created_at\": \"2022-05-09T20:20:54.786342Z\",\n  \"customer_payer\": {\n    \"billing_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"city\": \"Bogota\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"zip_code\": \"111111\"\n    },\n    \"browser_info\": {\n  \t\t\"accept_header\": \"false\",\n      \"color_depth\": \"15\",\n      \"javascript_enabled\": \"true\",\n      \"language\": \"es-ES\",\n      \"screen_height\": \"2048\",\n      \"screen_width\": \"1152\",\n      \"user_agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9\"\n    },\n    \"customer_id\": \"12345\",\n    \"date_of_birth\": \"1990-02-28\",\n    \"device_fingerprint\": \"hi88287gbd8d7d782ge....\",\n    \"document\": {\n      \"document_number\": \"1093333333\",\n      \"document_type\": \"CC\"\n    },\n    \"email\": \"john.doe@email.com\",\n    \"first_name\": \"John\",\n    \"gender\": \"M\",\n    \"id\": \"12345\",\n    \"ip_address\": \"192.168.123.167\",\n    \"last_name\": \"Doe\",\n    \"nationality\": \"CO\",\n    \"phone\": {\n      \"country_code\": \"57\",\n      \"number\": \"3132450765\"\n    },\n    \"shipping_address\": {\n      \"address_line_1\": \"Calle 34 # 56 - 78\",\n      \"address_line_2\": \"Apartamento 502, Torre I\",\n      \"city\": \"Bogota\",\n      \"country\": \"CO\",\n      \"state\": \"Cundinamarca\",\n      \"zip_code\": \"111111\"\n    }\n  },\n  \"description\": \"marketplace payment\",\n  \"id\": \"5104911d-5df9-229e-8468-bd41abea1a4s\",\n  \"account_id\":\"64761a45-6e49-4ea5-a6ff-6b52030b92ac\",\n  \"merchant_order_id\": \"432245\",\n  \"status\": \"rejected\",\n  \"updated_at\": \"2022-05-09T20:46:54.786342Z\",\n  \"payment_method\": {\n    \"token\": \"5104911d-5df9-229e-8468-bd41abea1a4s\",\n    \"vaulted_token\": \"8604911d-5ds9-229e-8468-bd41abear14s\",\n    \"type\": \"BANCOLOMBIA_TRANSFER\",\n    \"vault_on_success\": true,\n    \"payment_method_detail\":{\n       \"card\":{\n          \"verify\":null,\n          \"capture\":\"ture\",\n          \"installments\":\"true\",\n          \"first_installment_deferral\":0,\n          \"installments_type\":\"\",\n          \"installments_amount\":\"null\",\n          \"soft_descriptor\":\"\",\n          \"authorization_code\":\"\",\n          \"retrieval_reference_number\":\"\",\n          \"voucher\":null,\n          \"card_data\":{\n             \"holder_name\":\"jOHN DOE\",\n             \"iin\":\"45079900\",\n             \"lfd\":\"0010\",\n             \"number_length\":\"19\",\n             \"security_code_length\":\"3\",\n             \"brand\":\"VISA\",\n             \"issuer\":\"Banco Galicia\",\n             \"category\":\"Gold\",\n             \"type\":\"CREDIT\"\n         }\n       }\n    }\n  },\n   \"transactions\": {\n    \"amount\": 40.5,\n    \"category\": \"BANK_TRANSFER\",\n    \"created_at\": \"2022-05-09T20:43:54.786342Z\",\n    \"id\": \"9104911d-5df9-429e-8488-ad41abea1a4b\",\n    \"provider_id\": \"534345\",\n    \"status\": \"expired\",\n    \"type\": \"captured\",\n    \"updated_at\": \"2022-05-09T20:46:54.786342Z\"\n  },\n  \"split\": [\n  {\n      \"recipient_id\": \"9104911d-5df9-329e-7664-asdas232143d\",\n      \"type\":\"PURCHASE\",\n      \"merchant_reference\":\"test_001\",\n      \"amount\": {\n          \"currency\": \"COP\",\n          \"value\": 5000\n        }\n    },\n  {\n      \"recipient_id\": \"1104911d-5df9-329e-7664-asdas232143d\",\n      \"type\":\"PURCHASE\",\n      \"merchant_reference\":\"test_002\",\n      \"amount\": {\n          \"currency\": \"COP\",\n          \"value\": 5000\n        }\n    }\n  ],\n    \"workflow\":\"CHECKOUT\",\n    \"apm_data\":{\n   \t\t\t \"callback_url\":\"www.google.com\"\n    }\n}"}},"schema":{"type":"object","properties":{"additional_data":{"type":"object","properties":{"airline":{"type":"object","properties":{"legs":{"type":"array","items":{"type":"object","properties":{"arrival_airport":{"type":"string","example":"AMS"},"base_fare":{"type":"number","example":23.5676,"default":0},"base_fare_currency":{"type":"string","example":"COP"},"carrier_code":{"type":"string","example":"KL"},"departure_airport":{"type":"string","example":"EZE"},"departure_airport_timezone":{"type":"string","example":"-03:00"},"departure_datetime":{"type":"string","example":"2022-05-09T20:46:54.786342Z"},"fare_basis_code":{"type":"string","example":"HL7LNR"},"fare_class_code":{"type":"string","example":"FR"},"flight_number":{"type":"string","example":"842"},"stopover_code":{"type":"string","example":"O"}}}},"passengers":{"type":"array","items":{"type":"object","properties":{"country":{"type":"string","example":"CO"},"date_of_birth":{"type":"string","example":"1979-01-12"},"document":{"type":"object","properties":{"document_number":{"type":"string","example":"1093333333"},"document_type":{"type":"string","example":"CC"}}},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"loyalty_number":{"type":"string","example":"254587547"},"loyalty_tier":{"type":"string","example":"1"},"middle_name":{"type":"string","example":"Charles"},"nationality":{"type":"string","example":"CO"},"type":{"type":"string","example":"A"}}}},"pnr":{"type":"string","example":"1P-2UUGJW"},"ticket":{"type":"object","properties":{"e_ticket":{"type":"boolean","example":true,"default":true},"issue":{"type":"object","properties":{"address":{"type":"string","example":"Apartamento 502, Torre I"},"carrier_prefix_code":{"type":"string","example":"044"},"city":{"type":"string","example":"Bogotá"},"country":{"type":"string","example":"CO"},"date":{"type":"string","example":"1979-01-12"},"travel_agent_code":{"type":"string","example":"10655823"},"travel_agent_name":{"type":"string","example":"ACME Agency Inc"}}},"restricted":{"type":"boolean","example":false,"default":true},"ticket_number":{"type":"string","example":"7411823255523"},"total_fare_amount":{"type":"integer","example":80000,"default":0},"total_fee_amount":{"type":"integer","example":25200,"default":0},"total_tax_amount":{"type":"integer","example":14800,"default":0}}}}},"order":{"type":"object","properties":{"fee_amount":{"type":"integer","example":0,"default":0},"items":{"type":"array","items":{"type":"object","properties":{"brand":{"type":"string","example":"Apple"},"category":{"type":"string","example":"phones"},"id":{"type":"string","example":"3214"},"manufacture_part_number":{"type":"string","example":"345621234"},"name":{"type":"string","example":"Iphone 12 Pro Max"},"quantity":{"type":"integer","example":1,"default":0},"sku_code":{"type":"string","example":"A2342"},"unit_amount":{"type":"integer","example":550,"default":0}}}},"shipping_amount":{"type":"integer","example":0,"default":0}}}}},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"COP"},"value":{"type":"number","example":23.5676,"default":0}}},"checkout":{"type":"object","properties":{"sdk_action_required":{"type":"boolean","example":true,"default":true},"session":{"type":"string","example":"50bae77e-c65c-11ec-9d64-0242ac120002"}}},"country":{"type":"string","example":"CO"},"created_at":{"type":"string","example":"2022-05-09T20:20:54.786342Z"},"customer_payer":{"type":"object","properties":{"billing_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"Calle 34 # 56 - 78"},"address_line_2":{"type":"string","example":"Apartamento 502, Torre I"},"city":{"type":"string","example":"Bogota"},"country":{"type":"string","example":"CO"},"state":{"type":"string","example":"Cundinamarca"},"zip_code":{"type":"string","example":"111111"}}},"browser_info":{"type":"object","properties":{"accept_header":{"type":"string","example":"false"},"color_depth":{"type":"string","example":"15"},"javascript_enabled":{"type":"string","example":"true"},"language":{"type":"string","example":"es-ES"},"screen_height":{"type":"string","example":"2048"},"screen_width":{"type":"string","example":"1152"},"user_agent":{"type":"string","example":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9"}}},"customer_id":{"type":"string","example":"12345"},"date_of_birth":{"type":"string","example":"1990-02-28"},"device_fingerprint":{"type":"string","example":"hi88287gbd8d7d782ge...."},"document":{"type":"object","properties":{"document_number":{"type":"string","example":"1093333333"},"document_type":{"type":"string","example":"CC"}}},"email":{"type":"string","example":"john.doe@email.com"},"first_name":{"type":"string","example":"John"},"gender":{"type":"string","example":"M"},"id":{"type":"string","example":"12345"},"ip_address":{"type":"string","example":"192.168.123.167"},"last_name":{"type":"string","example":"Doe"},"nationality":{"type":"string","example":"CO"},"phone":{"type":"object","properties":{"country_code":{"type":"string","example":"57"},"number":{"type":"string","example":"3132450765"}}},"shipping_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"Calle 34 # 56 - 78"},"address_line_2":{"type":"string","example":"Apartamento 502, Torre I"},"city":{"type":"string","example":"Bogota"},"country":{"type":"string","example":"CO"},"state":{"type":"string","example":"Cundinamarca"},"zip_code":{"type":"string","example":"111111"}}}}},"description":{"type":"string","example":"marketplace payment"},"id":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea1a4s"},"account_id":{"type":"string","example":"64761a45-6e49-4ea5-a6ff-6b52030b92ac"},"merchant_order_id":{"type":"string","example":"432245"},"status":{"type":"string","example":"rejected"},"updated_at":{"type":"string","example":"2022-05-09T20:46:54.786342Z"},"payment_method":{"type":"object","properties":{"token":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea1a4s"},"vaulted_token":{"type":"string","example":"8604911d-5ds9-229e-8468-bd41abear14s"},"type":{"type":"string","example":"BANCOLOMBIA_TRANSFER"},"vault_on_success":{"type":"boolean","example":true,"default":true},"payment_method_detail":{"type":"object","properties":{"card":{"type":"object","properties":{"verify":{},"capture":{"type":"string","example":"ture"},"installments":{"type":"string","example":"true"},"first_installment_deferral":{"type":"integer","example":0,"default":0},"installments_type":{"type":"string","example":""},"installments_amount":{"type":"string","example":"null"},"soft_descriptor":{"type":"string","example":""},"authorization_code":{"type":"string","example":""},"retrieval_reference_number":{"type":"string","example":""},"voucher":{},"card_data":{"type":"object","properties":{"holder_name":{"type":"string","example":"jOHN DOE"},"iin":{"type":"string","example":"45079900"},"lfd":{"type":"string","example":"0010"},"number_length":{"type":"string","example":"19"},"security_code_length":{"type":"string","example":"3"},"brand":{"type":"string","example":"VISA"},"issuer":{"type":"string","example":"Banco Galicia"},"category":{"type":"string","example":"Gold"},"type":{"type":"string","example":"CREDIT"}}}}}}}}},"transactions":{"type":"object","properties":{"amount":{"type":"number","example":40.5,"default":0},"category":{"type":"string","example":"BANK_TRANSFER"},"created_at":{"type":"string","example":"2022-05-09T20:43:54.786342Z"},"id":{"type":"string","example":"9104911d-5df9-429e-8488-ad41abea1a4b"},"provider_id":{"type":"string","example":"534345"},"status":{"type":"string","example":"expired"},"type":{"type":"string","example":"captured"},"updated_at":{"type":"string","example":"2022-05-09T20:46:54.786342Z"}}},"split":{"type":"array","items":{"type":"object","properties":{"recipient_id":{"type":"string","example":"9104911d-5df9-329e-7664-asdas232143d"},"type":{"type":"string","example":"PURCHASE"},"merchant_reference":{"type":"string","example":"test_001"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"COP"},"value":{"type":"integer","example":5000,"default":0}}}}}},"workflow":{"type":"string","example":"CHECKOUT"},"apm_data":{"type":"object","properties":{"callback_url":{"type":"string","example":"www.google.com"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"string\",\n  \"messages\": [\n    \"string\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"string"},"messages":{"type":"array","items":{"type":"string","example":"string"}}}}}}}},"deprecated":false},"post":{"summary":"Create Payment","description":"","operationId":"create-payment-with-payment-method-split-copy","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","description","country","merchant_order_id","customer_payer","checkout"],"properties":{"account_id":{"type":"string","description":"The unique identifier of the account (MAX 64 ; MIN 36)."},"description":{"type":"string","description":"The description of the payment (MAX 255; MIN 3)."},"additional_data":{"type":"object","description":"Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.","properties":{"order":{"type":"object","description":"Specifies the order object.","properties":{"shipping_amount":{"type":"number","description":"The shipping amount of the order (multiple of 0.0001).","format":"float"},"fee_amount":{"type":"number","description":"The fee amount of the order (multiple of 0.0001).","format":"float"},"items":{"type":"array","description":"Specifies the items array of object.","items":{"properties":{"id":{"type":"string","description":"The unique identifier of the item (MAX 255; MIN 3)."},"name":{"type":"string","description":"The name of the item (MAX 255; MIN 3)."},"quantity":{"type":"integer","description":"The quantity of the item.","format":"int32"},"unit_amount":{"type":"number","description":"The unit amount of the item (multiple of 0.0001).","format":"float"},"category":{"type":"string","description":"The category of the item ([item category list](ref:items-category-list))."},"brand":{"type":"string","description":"The brand of the item (MAX 255; MIN 3)."},"sku_code":{"type":"string","description":"The stock keeping unit (SKU) of the item (MAX 255; MIN 3)."},"manufacture_part_number":{"type":"string","description":"The manufacture part number of the item"}},"required":["id","name","quantity","unit_amount"],"type":"object"}}}},"airline":{"type":"object","description":"Specifies the airline object.","properties":{"pnr":{"type":"string","description":"Passenger name record (MAX 10; MIN 1)."},"legs":{"type":"array","description":"Specifies the legs array of objects.","items":{"properties":{"departure_airport":{"type":"string","description":"IATA code. See http://www.iata.org (MAX 3; MIN 3)."},"departure_datetime":{"type":"string","description":"The departure date and time in UTC time ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), MAX 27; MIN 27).","format":"date"},"departure_airport_timezone":{"type":"string","description":"Airport timezone (MAX 6; MIN 6)."},"arrival_airport":{"type":"string","description":"IATA airport code. See http://www.iata.org (MAX 3; MIN 3)."},"carrier_code":{"type":"string","description":"IATA carrier code. See http://www.iata.org (MAX 2; MIN 2)."},"flight_number":{"type":"string","description":"The flight number assigned by the airline carrier (MAX 5; MIN 1)."},"fare_basis_code":{"type":"string","description":"Code base rate provides specific information on the fare in addition to the class service, both required for booking (MAX 15; MIN 1)."},"fare_class_code":{"type":"string","description":"The fare class code of the airline (MAX 1; MIN 1). The values can be a letter (A-Z) but may vary depending on the airline's definition. Check the [Airline information reference](airline-information#fare-class-code).","enum":["F","FR","B","CR","Y","YD"]},"base_fare":{"type":"number","description":"The transaction amount, excluding taxes and fees, the smallest unit of currency (multipleOf 0.0001).","format":"float"},"base_fare_currency":{"type":"string","description":"The currency used to transaction amount (MAX 3; MIN 3; [Country reference](ref:country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]},"stopover_code":{"type":"string","description":"1-letter code that indicates whether the passenger is allowed to make a stopover. Only two types of characters are allowed: O: Stopover allowed (the letter “O”, not zero) / X: Stopover not allowed. (MAX 1; MIN 1)"}},"required":["departure_airport","departure_datetime","departure_airport_timezone","arrival_airport","carrier_code","flight_number","fare_basis_code","fare_class_code"],"type":"object"}},"passengers":{"type":"array","description":"Specifies the passengers array of objects associated to the tickets","items":{"properties":{"first_name":{"type":"string","description":"The passenger first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The passenger last name (MAX 255; MIN 3)."},"middle_name":{"type":"string","description":"The passenger middle name (MAX 255; MIN 3)."},"type":{"type":"string","description":"Passenger type (A=Adult, C=Child, I=Infant or Baby; MAX 1; MIN 1)."},"date_of_birth":{"type":"string","description":"The passenger date of birth in the YYYY-MM-DD (MAX 10; MIN 10)."},"nationality":{"type":"string","description":"The passenger nationality (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"document":{"type":"object","description":"Specifies the passengers' document object.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3)."},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2; [Country reference](ref:country-reference))."},"country":{"type":"string","description":"Country where the document was issued (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."}}}},"type":"object"}},"tickets":{"type":"array","description":"Specifieis the array of tickets associated to the passengers.","items":{"properties":{"ticket_number":{"type":"string","description":"Ticket number (MAX 14; MIN 1)."},"e_ticket":{"type":"boolean","description":"Is this an e-ticket?"},"restricted":{"type":"boolean","description":"Indicates if the ticket is refunfable or not."},"total_fare_amount":{"type":"number","description":"Total fare amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_tax_amount":{"type":"number","description":"Total taxes amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_fee_amount":{"type":"number","description":"Total fee amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"issue":{"type":"object","description":"Specifies the issue object.","properties":{"carrier_prefix_code":{"type":"string","description":"Issuing or Validating carrier. This is the AWB Prefix (Air waybill) IATA 3-numeric code (MAX 3; MIN 3)."},"travel_agent_code":{"type":"string","description":"Code of the travel agent issuing the ticket."},"travel_agent_name":{"type":"string","description":"The name under which the point of sale appears on the agency list or franchise name (MAX 32; MIN 1)."},"date":{"type":"string","description":"Ticket issuing date (MAX 27; MIN 27).","format":"date"},"address":{"type":"string","description":"Address of the agent whose sold the ticket (MAX 255; MIN 3)."},"city":{"type":"string","description":"City name of the agent whose sold the ticket (MAX 255; MIN 3)."},"country":{"type":"string","description":"Country code alpha 2 where the ticket was issued (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."},"zip_code":{"type":"string","description":"Zip code of the agent who sold the ticket."}}}},"type":"object"}}}},"seller_details":{"type":"object","description":"Specifies the seller's details object.","properties":{"name":{"type":"string","description":"The seller's legal name (MAX 255; MIN 3)."},"email":{"type":"number","description":"The seller's e-mail (MAX 255; MIN 3).","format":"float"},"reference":{"type":"number","description":"The seller's identification code (MAX 255; MIN 3).","format":"float"},"website":{"type":"string","description":"The seller's website URL (MAX 255; MIN 3)."},"industry":{"type":"string","description":"The seller's industry (MAX 235; MIN 1) For more information access the [Industry category reference page](industry-category-list).","enum":["ADVERTISING","ART","AUTOMOTIVE","ANTIVIRUS","BABY","BEAUTY_&_PERSONAL_CARE","BOOKS","CAMERAS","CAR_ELECTRONICS","COMPUTING","COUPONS","DONATIONS","DELIVERY","ELECTRONICS","ENTERTAINMENT","EDUCATION","FASHION","GAMES","GARDEN_&_OUTDOOR","GROCERY_&_GOURMET_FOOD","HANDMADE","HOME","INDUSTRIAL_&_SCIENTIFIC","INVESTING_AND_FINANCIAL","LEARNINGS","MUSICAL","OTHERS","PET_SUPPLIES","PHONES","PAYROLL","SERVICES","SAAS","TELEVISION","STREAMING","TICKETS","TOYS_&_GAMES","TRAVELS","VIDEO_GAMES","VIRTUAL_GOODS",""]},"country":{"type":"string","description":"The seller's country (MAX 255; MIN 3; [Country reference](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"document":{"type":"object","description":"Specifies the document object of the seller.","properties":{"document_number":{"type":"string","description":"The seller's document number (MAX 40; MIN 3)."},"document_type":{"type":"string","description":"The seller's document type (MAX 6, MIN 2; [Country reference](ref:country-reference)).","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"phone":{"type":"object","description":"Specifies the seller's phone number object.","properties":{"country_code":{"type":"string","description":"The country code of the seller's phone (MAX 3; MIN 2; [Country reference](ref:country-reference))."},"number":{"type":"string","description":"The seller's phone number, without the country code (MAX 32; MIN 1)."}}},"address":{"type":"object","description":"Specifies the seller's address object.","properties":{"address_line_1":{"type":"string","description":"The primary address line of the seller (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the seller (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the seller's address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the seller's address (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the seller's address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the seller's address (MAX 11; MIN 4)."}}}}}}},"country":{"type":"string","description":"The customer's country (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY"]},"merchant_order_id":{"type":"string","description":"The unique identifier of the customer's order (MAX 255; MIN 3)."},"merchant_reference":{"type":"string","description":"Identification of the payment transaction defined by the merchant (MAX 255; MIN 3). Optional to complement the merchant_order_id."},"amount":{"type":"object","description":"Specifies the payment amount object, with the value and currency.","required":["value","currency"],"properties":{"value":{"type":"number","description":"Amount of the split.","format":"float"},"currency":{"type":"string","description":"The currency used to make the payment ([ISO 4217](ref:country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]}}},"customer_payer":{"type":"object","description":"Specifies customer object for payments.","required":["first_name","last_name","email"],"properties":{"id":{"type":"string","description":"The unique identifier of the customer (MAX 64 ; MIN 36).  This object is not mandatory for back to back payments. **[Required when `workflow` is defined as `CHECKOUT` or is not sent]**."},"merchant_customer_id":{"type":"string","description":"The unique identifier of the customer in the external merchant (MAX 255; MIN 3)."},"first_name":{"type":"string","description":"The customer's first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The customer's last name (MAX 255; MIN 3)."},"gender":{"type":"string","description":"The customer's gender (MAX 1; MIN 1; (M=Male/F=Female/NA=Not applicable/NK=Not Known)).","enum":["M","F","NA","NK"]},"date_of_birth":{"type":"string","description":"The customer's date of birth in the YYYY-MM-DD format (Length: 10)."},"email":{"type":"string","description":"The customer's e-mail (MAX 255; MIN 3)."},"nationality":{"type":"string","description":"The customer's nationality (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."},"ip_address":{"type":"string","description":"The customer's IP address (MAX 45; MIN 7)."},"device_fingerprint":{"type":"string","description":"The customer's device fingerprint (MAX 4000; MIN 1). For integrations using Yuno checkout the value is obtained automatically, do not send this field."},"browser_info":{"type":"object","description":"Specifies the browser_info object.","required":["user_agent","accept_header","color_depth","screen_height","screen_width","java_enabled","language"],"properties":{"user_agent":{"type":"string","description":"The user agent value of the customer's browser (MAX 255; MIN 3) - [Required for 3DS in DIRECT workflow]"},"accept_header":{"type":"boolean","description":"The accept header value of the customer's browser  - **[Required for 3DS in DIRECT workflow]**"},"accept_browser":{"type":"boolean","description":"The accept browser value of the customer's browser  - **[Required for 3DS in DIRECT workflow]**"},"accept_content":{"type":"boolean","description":"The accept content value of the customer's browser  - **[Required for 3DS in DIRECT workflow]**"},"color_depth":{"type":"integer","description":"The color depth of the customer's browser in bits per pixel. This should be obtained by using the browser's screen.colorDepth property. Accepted values: 1, 4, 8, 15, 16, 24, 30, 32 or 48 bit color depth. (MAX 5; MIN 1).  - [Required for 3DS in DIRECT workflow]","format":"int32"},"screen_height":{"type":"integer","description":"The total height of the customer's device screen in pixels. (MAX 255; MIN 3)  - [Required for 3DS in DIRECT workflow]","format":"int32"},"screen_width":{"type":"integer","description":"The total width of the customer's device screen in pixels. (MAX 255; MIN 3)  - [Required for 3DS in DIRECT workflow]","format":"int32"},"javascript_enabled":{"type":"boolean","description":"Indicates if Javascript is enabled or not in the device - **[Required for 3DS in DIRECT workflow]**"},"java_enabled":{"type":"boolean","description":"Indicates if Java is enabled or not in the device  - [Required for 3DS in DIRECT workflow]"},"language":{"type":"boolean","description":"The navigator.language value of the customer's browser (as defined in IETF BCP 47). (MAX 5; MIN 1)  - [Required for 3DS in DIRECT workflow]"},"browser_time_difference":{"type":"string","description":"Indicates the customer's browser time difference  - **[Required for 3DS in DIRECT workflow]**"}}},"document":{"type":"object","description":"Specifies the customer's document object, including its number and type.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3)."},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2; [Country reference](ref:country-reference))."},"country":{"type":"string","description":"Country where the document was issued (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."}}},"billing_address":{"type":"object","description":"Specifies the customer's billing address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 4)."}}},"shipping_address":{"type":"object","description":"Specifies the customer's shipping address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary shipping address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary shipping address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the shipping address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the shipping address (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY"]},"state":{"type":"string","description":"The state considered for the shipping address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the shipping address (MAX 11; MIN 4)."}}}}},"checkout":{"type":"object","description":"Specifies the checkout object. This object is not mandatory for back to back payments. Required when `workflow` is defined as `CHECKOUT` or is not sent. not required for `DIRECT` payments.","properties":{"session":{"type":"string","description":"The checkout session that has been created for the payment (MAX 64 ; MIN 36)."}}},"workflow":{"type":"string","description":"The payment workflow. Indicates whether the integration will use Yuno´s SDK or will be a back to back connection. `CHECKOUT`=Use Yuno SDK. `DIRECT`= Back to back integration with provider info for custom payment experience, `REDIRECT`= Back to back integration with provider redirection.","default":"DIRECT","enum":["CHECKOUT","DIRECT","REDIRECT"]},"taxes":{"type":"object","description":"Specifies the order´s tax object.","required":["value"],"properties":{"type":{"type":"string","description":"Type of the tax (Ex: VAT, ISV)."},"tax_base":{"type":"number","description":"The amount base to apply the tax defined.","format":"float"},"value":{"type":"string","description":"The amount of the tax."},"percentage":{"type":"number","description":"The percentage of the tax.","format":"float"}}},"payment_methods":{"type":"object","description":"The payment methods object for the split. Add as many payment methods as you need for the split","properties":{"reverse_on_decline":{"type":"boolean","description":"Whether or not to reverse the payment after a declined transaction. It´s true by default."},"payment_method":{"type":"array","description":"The payment method objects you´ll devide the payment between.","items":{"properties":{"type":{"type":"string","description":"The payment method type.","enum":["BANCOLOMBIA_TRANSFER","BANCOLOMBIA_TOKEN_BOX","PSE","DAVIPLATA","NEQUI","NU_PAY","PIX","SAFETYPAY","SPEI","CODI","CARD","ADDI","ACUOTAZ","WIBOND","MERCADO_PAGO_WALLET","MERCADO_PAGO_CHECKOUT_PRO","CASH","EFECTY","OXXO","PAYVALIDA","PAYPAL","TARJETA_CLAVE","WEBPAY"]},"vaulted_token":{"type":"string","description":"The vaulted token of an enrolled payment method."},"vault_on_success":{"type":"boolean","description":"Flag whether or not to enroll a payment method after a successful transaction."},"detail":{"type":"object","description":"The payment method information you´ll be using for the payment.","properties":{"card":{"type":"object","description":"Card data info","properties":{"capture":{"type":"boolean","description":"Decides whether to authorize the payment or capture it. Authorizing a card payment allows you to reserve funds in a customer's bank account."},"card_data":{"type":"object","description":"Specifies the card_data object.","properties":{"number":{"type":"string","description":"Card’s number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants."},"expiration_month":{"type":"integer","description":"Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.","format":"int32"},"expiration_year":{"type":"integer","description":"Card’s expiration year - YYYY (MAX 4; MIN 4) - only available for PCI certified merchants.","format":"int32"},"security_code":{"type":"integer","description":"Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants.","format":"int32"},"holder_name":{"type":"string","description":"Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants."}}}}},"three_d_secure":{"type":"object","description":"3DS required fields","properties":{"callback_url":{"type":"string","description":"Callback_url to redirect the customer after the challenge."},"version":{"type":"string","description":"[Only needed if you use a provider 3DS SDK directly] - Refers to the protocol version of the EMV 3-D Secure specification used. 1.0, 2.0, 2.1.0, 2.2.0, 2.2.1."},"electronic_commerce_indicator":{"type":"string","description":"[Only needed if you use a provider 3DS SDK directly] - This field must be completed with the result of the ECI field provided by the 3d Secure service. The Electronic Commerce Indicator (ECI) informs the card issuer if the transaction was protected by a security protocol like VbV or MCSC. It is mandated by Visa and MasterCard that all 3-D Secure transactions have this value populated in the authorization request. (MIN: 0; MAX: 2)"},"cryptogram":{"type":"string","description":"[Only needed if you use a provider 3DS SDK directly] - This field must be completed with the result of the cryptogram field provided by the 3DSecure service. In Visa transactions, it represents the Cardholder Authentication Verification Value (CAVV), a cryptographic value generated by the Issuer as evidence of payment authentication during online purchase to qualify for chargeback protection. MasterCard transactions have a similar value called Accountholder Authentication Value (AAV) or the Universal Cardholder Authentication Field (UCAF). When submitting a transaction for authorization, the merchant must include the CAVV or AAV/UCAF to demonstrate that the cardholder has been authenticated. It is typically base64-encoded. (MIN: 0; MAX: 40)"},"transacton_id":{"type":"string","description":"[Only needed if you use a provider 3DS SDK directly] - This is the Unique Transaction Identifier. It is automatically generated by the MPI. It is typically 28 bytes in length and base64-encoded. Is commonly referred to as XID. (MIN: 0; MAX: 40)."},"directory_server_transaction_id":{"type":"string","description":"[Only needed if you use a provider 3DS SDK directly] - Universally unique transaction identifier assigned by the DS to identify a single transaction. Universally unique transaction identifier assigned by the DS to identify a single transaction. (MIN: 36; MAX: 36)"}}}}},"amount":{"type":"object","description":"The amount of each transaction that needs that together represent the total amount of the payment.","required":["value","currency"],"properties":{"value":{"type":"number","description":"Amount of the split.","format":"float"},"currency":{"type":"string","description":"The currency used to make the payment ([ISO 4217](ref:country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]}}}},"type":"object"}},"":{"type":"string"}}},"metadata":{"type":"array","description":"Optional metadata","items":{"properties":{"key":{"type":"string","description":"The metadata key."},"value":{"type":"string","description":"The metadata key value."}},"required":["key","value"],"type":"object"}}}},"examples":{"Split payment method with 3DS":{"value":{"description":"Test","account_id":"9104911d-5df9-429e-8488-ad41abea1a4b","merchant_order_id":"0000023","country":"AR","merchant_reference":"reference-001","amount":{"currency":"ARS","value":500},"customer_payer":{"email":"john.doe@y.uno","first_name":"John","last_name":"Doe","merchant_customer_id":"example00234","document":{"document_type":"DNI","document_number":"38799999"}},"workflow":"DIRECT","payment_methods":{"reverse_on_decline":true,"payment_method":[{"type":"CARD","amount":{"currency":"ARS","value":300},"detail":{"card":{"capture":true,"card_data":{"number":"4111111111111111","holder_name":"JOHN DOE","expiration_month":12,"expiration_year":26,"security_code":"123"},"three_d_secure":{"callback_url":"www.site.com"}}}},{"type":"CARD","amount":{"currency":"ARS","value":200},"detail":{"card":{"capture":true,"card_data":{"number":"5111111111111111","holder_name":"JOHN DOE JR","expiration_month":12,"expiration_year":28,"security_code":"456"},"three_d_secure":{"callback_url":"www.site2.com"}}}}]}}},"3DS payment":{"value":{"description":"Test","account_id":"9104911d-5df9-429e-8488-ad41abea1a4b","merchant_order_id":"0000023","country":"AR","merchant_reference":"reference-001","amount":{"currency":"ARS","value":500},"customer_payer":{"email":"john.doe@y.uno","first_name":"John","last_name":"Doe","merchant_customer_id":"example00234","document":{"document_type":"DNI","document_number":"38799999"}},"workflow":"DIRECT","payment_methods":{"reverse_on_decline":true,"payment_method":[{"type":"CARD","amount":{"currency":"ARS","value":300},"detail":{"card":{"capture":true,"card_data":{"number":"4111111111111111","holder_name":"JOHN DOE","expiration_month":12,"expiration_year":26,"security_code":"123"},"three_d_secure":{"callback_url":"www.site.com"}}}}]}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Split payment method with 3DS":{"value":"{\n    \"payment\": {\n        \"id\": \"8a40e6cf-4f46-4977-b2f9-d4ca34d9d8e6\",\n        \"idempotency_key\": \"b76f923a-f2a9-4244-8f60-bc264c03ac28\",\n        \"account_code\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"description\": \"Test\",\n        \"country\": \"AR\",\n        \"status\": \"SUCCEEDED\",\n        \"sub_status\": \"SUCCEEDED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2023-03-09T08:37:13.634720Z\",\n        \"updated_at\": \"2023-03-09T08:37:17.469309Z\",\n        \"amount\": {\n            \"currency\": \"ARS\",\n            \"value\": 500,\n            \"refunded\": 0,\n            \"captured\": 0\n        },\n        \"checkout\": {\n            \"session\": \"\",\n            \"sdk_action_required\": \"3DS\"\n        },\n        \"customer_payer\": {\n            \"id\": null,\n            \"email\": \"john.doe@y.uno\",\n            \"first_name\": \"John\",\n            \"last_name\": \"Doe\",\n            \"merchant_customer_id\": \"example00234\",\n            \"document\": {\n                \"document_type\": \"DNI\",\n                \"document_number\": \"38799999\"\n            },   \n            \"phone\": null,\n            \"billing_address\": {\n                \"address_line_1\": \"\",\n                \"address_line_2\": \"\"\n            },\n            \"shipping_address\": {\n                \"address_line_1\": \"\",\n                \"address_line_2\": \"\"\n            }\n        },\n        \"additional_data\": {\n            \"airline\": null,\n            \"order\": null,\n            \"seller_details\": null\n        },\n        \"taxes\": null,\n        \"workflow\": \"DIRECT\",\n        \"payment_method\": {\n            \"reverse_on_decline\": false,\n            \"payment_methods\": [\n          \t\t{ \n          \t\t\t\"vaulted_token\": \"\",\n                    \"type\": \"CARD\",\n                    \"vault_on_success\": false,\n                    \"token\": \"\",\n                    \"detail\": {\n                        \"card\": {\n                            \"verify\": null,\n                            \"capture\": true,\n                            \"installments\": 1,\n                            \"first_installment_deferral\": 0,\n                            \"installments_type\": \"\",\n                            \"installment_amount\": null,\n                            \"soft_descriptor\": \"\",\n                            \"authorization_code\": \"\",\n                            \"retrieval_reference_number\": \"\",\n                            \"voucher\": null,\n                            \"card_data\": {\n                                \"holder_name\": \"JOHN DOE\",\n                                \"iin\": \"4111111\",\n                                \"lfd\": \"1111\",\n                                \"number_length\": 16,\n                                \"security_code_length\": 3,\n                                \"brand\": \"VISA\",\n                                \"issuer_name\": \"BANCO SANTANDER RIO, S.A.\",\n                                \"issuer_code\": null,\n                                \"category\": \"GOLD\",\n                                \"type\": \"CREDIT\"\n                            },\n                          \"three_d_secure\": {\n                              \"callback_url\": \"www.site.com\",\n                              \"sdk_token\":\"AA0131238213JKDSAHDKOAN\",\n                              \"sdk_collect_url\":\"www.site_collect.com\"\n                          }\n                        }\n                    },\n                    \"transactions\": [\n                        {  \n                          \"id\": \"c7a2d22d-eacc-4ed0-8b90-191da381d045\",\n                          \"type\": \"3DS\",\n                          \"status\": \"SUCCEDED\",\n                          \"category\": \"3DS\",\n                          \"amount\": 300,\n                          \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n                          \"response_code\": \"SUCCEDED\",\n                          \"response_message\": \"SUCCEDED\",\n                          \"reason\": null,\n                          \"description\": \"SUCCEDED\",\n                          \"merchant_reference\": \"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a\",\n                          \"provider_data\": {\n                          },\n                          \"created_at\": \"2023-03-09T08:37:13.762879Z\",\n                          \"updated_at\": \"2023-03-09T08:37:17.449288Z\"\n                        },\n                        {  \n                          \"id\": \"c7a2d22d-eacc-4ed0-8b90-191da381d045\",\n                          \"type\": \"PURCHASE\",\n                          \"status\": \"PURCHASE\",\n                          \"category\": \"3DS\",\n                          \"amount\": 300,\n                          \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n                          \"response_code\": \"PURCHASE\",\n                          \"response_message\": \"PURCHASE\",\n                          \"reason\": null,\n                          \"description\": \"PURCHASE\",\n                          \"merchant_reference\": \"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a\",\n                          \"provider_data\": {\n                          },\n                          \"created_at\": \"2023-03-09T08:37:13.762879Z\",\n                          \"updated_at\": \"2023-03-09T08:37:17.449288Z\"\n                        }\n                    ],\n                    \"fraud_screening\": null\n  \t\t\t    },\n                { \n          \t\t\t\"vaulted_token\": \"\",\n                    \"type\": \"CARD\",\n                    \"vault_on_success\": false,\n                    \"token\": \"\",\n                    \"detail\": {\n                        \"card\": {\n                            \"verify\": null,\n                            \"capture\": true,\n                            \"installments\": 1,\n                            \"first_installment_deferral\": 0,\n                            \"installments_type\": \"\",\n                            \"installment_amount\": null,\n                            \"soft_descriptor\": \"\",\n                            \"authorization_code\": \"\",\n                            \"retrieval_reference_number\": \"\",\n                            \"voucher\": null,\n                            \"card_data\": {\n                                \"holder_name\": \"JOHN DOE\",\n                                \"iin\": \"5111111\",\n                                \"lfd\": \"1111\",\n                                \"number_length\": 16,\n                                \"security_code_length\": 3,\n                                \"brand\": \"Mastercard\",\n                                \"issuer_name\": \"BANCO SANTANDER RIO, S.A.\",\n                                \"issuer_code\": null,\n                                \"category\": \"GOLD\",\n                                \"type\": \"CREDIT\"\n                            },\n                          \"three_d_secure\": {\n                              \"callback_url\": \"www.site.com\",\n                              \"sdk_token\":\"AA0131238213JKDSAHDKOAN\",\n                              \"sdk_collect_url\":\"www.site_collect.com\"\n                          }\n                        }\n                    },\n                    \"transactions\": [\n                        {  \n                          \"id\": \"c7a2d22d-eacc-4ed0-8b90-191da381d045\",\n                          \"type\": \"PURCHASE\",\n                          \"status\": \"PURCHASE\",\n                          \"category\": \"3DS\",\n                          \"amount\": 300,\n                          \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n                          \"response_code\": \"PURCHASE\",\n                          \"response_message\": \"PURCHASE\",\n                          \"reason\": null,\n                          \"description\": \"PURCHASE\",\n                          \"merchant_reference\": \"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a\",\n                          \"provider_data\": {\n                          },\n                          \"created_at\": \"2023-03-09T08:37:13.762879Z\",\n                          \"updated_at\": \"2023-03-09T08:37:17.449288Z\"\n                        }\n                    ],\n                    \"fraud_screening\": null\n  \t\t\t    }\n            ]\n        }\n    }\n}"},"Create payment with 3DS":{"value":"{\n    \"payment\": {\n        \"id\": \"8a40e6cf-4f46-4977-b2f9-d4ca34d9d8e6\",\n        \"idempotency_key\": \"b76f923a-f2a9-4244-8f60-bc264c03ac28\",\n        \"account_code\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"description\": \"Test\",\n        \"country\": \"AR\",\n        \"status\": \"SUCCEEDED\",\n        \"sub_status\": \"SUCCEEDED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2023-03-09T08:37:13.634720Z\",\n        \"updated_at\": \"2023-03-09T08:37:17.469309Z\",\n        \"amount\": {\n            \"currency\": \"ARS\",\n            \"value\": 500,\n            \"refunded\": 0,\n            \"captured\": 0\n        },\n        \"checkout\": {\n            \"session\": \"\",\n            \"sdk_action_required\": \"3DS\"\n        },\n        \"customer_payer\": {\n            \"id\": null,\n            \"email\": \"john.doe@y.uno\",\n            \"first_name\": \"John\",\n            \"last_name\": \"Doe\",\n            \"merchant_customer_id\": \"example00234\",\n            \"document\": {\n                \"document_type\": \"DNI\",\n                \"document_number\": \"38799999\"\n            },   \n            \"phone\": null,\n            \"billing_address\": {\n                \"address_line_1\": \"\",\n                \"address_line_2\": \"\"\n            },\n            \"shipping_address\": {\n                \"address_line_1\": \"\",\n                \"address_line_2\": \"\"\n            }\n        },\n        \"additional_data\": {\n            \"airline\": null,\n            \"order\": null,\n            \"seller_details\": null\n        },\n        \"taxes\": null,\n        \"workflow\": \"DIRECT\",\n        \"payment_method\": {\n            \"reverse_on_decline\": false,\n            \"payment_methods\": [\n          \t\t{ \n          \t\t\t\"vaulted_token\": \"\",\n                    \"type\": \"CARD\",\n                    \"vault_on_success\": false,\n                    \"token\": \"\",\n                    \"detail\": {\n                        \"card\": {\n                            \"verify\": null,\n                            \"capture\": true,\n                            \"installments\": 1,\n                            \"first_installment_deferral\": 0,\n                            \"installments_type\": \"\",\n                            \"installment_amount\": null,\n                            \"soft_descriptor\": \"\",\n                            \"authorization_code\": \"\",\n                            \"retrieval_reference_number\": \"\",\n                            \"voucher\": null,\n                            \"card_data\": {\n                                \"holder_name\": \"JOHN DOE\",\n                                \"iin\": \"4111111\",\n                                \"lfd\": \"1111\",\n                                \"number_length\": 16,\n                                \"security_code_length\": 3,\n                                \"brand\": \"VISA\",\n                                \"issuer_name\": \"BANCO SANTANDER RIO, S.A.\",\n                                \"issuer_code\": null,\n                                \"category\": \"GOLD\",\n                                \"type\": \"CREDIT\"\n                            },\n                          \"three_d_secure\": {\n                              \"callback_url\": \"www.site.com\",\n                              \"sdk_token\":\"AA0131238213JKDSAHDKOAN\",\n                              \"sdk_collect_url\":\"www.site_collect.com\"\n                          }\n                        }\n                    },\n                    \"transactions\": [\n                        {  \n                          \"id\": \"c7a2d22d-eacc-4ed0-8b90-191da381d045\",\n                          \"type\": \"3DS\",\n                          \"status\": \"SUCCEDED\",\n                          \"category\": \"3DS\",\n                          \"amount\": 300,\n                          \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n                          \"response_code\": \"SUCCEDED\",\n                          \"response_message\": \"SUCCEDED\",\n                          \"reason\": null,\n                          \"description\": \"SUCCEDED\",\n                          \"merchant_reference\": \"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a\",\n                          \"provider_data\": {\n                          },\n                          \"created_at\": \"2023-03-09T08:37:13.762879Z\",\n                          \"updated_at\": \"2023-03-09T08:37:17.449288Z\"\n                        },\n                        {  \n                          \"id\": \"c7a2d22d-eacc-4ed0-8b90-191da381d045\",\n                          \"type\": \"PURCHASE\",\n                          \"status\": \"PURCHASE\",\n                          \"category\": \"3DS\",\n                          \"amount\": 300,\n                          \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n                          \"response_code\": \"PURCHASE\",\n                          \"response_message\": \"PURCHASE\",\n                          \"reason\": null,\n                          \"description\": \"PURCHASE\",\n                          \"merchant_reference\": \"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a\",\n                          \"provider_data\": {\n                          },\n                          \"created_at\": \"2023-03-09T08:37:13.762879Z\",\n                          \"updated_at\": \"2023-03-09T08:37:17.449288Z\"\n                        }\n                    ],\n                    \"fraud_screening\": null\n  \t\t\t    }\n            ]\n        }\n    }\n}"}},"schema":{"oneOf":[{"title":"Split payment method with 3DS","type":"object","properties":{"payment":{"type":"object","properties":{"id":{"type":"string","example":"8a40e6cf-4f46-4977-b2f9-d4ca34d9d8e6"},"idempotency_key":{"type":"string","example":"b76f923a-f2a9-4244-8f60-bc264c03ac28"},"account_code":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"description":{"type":"string","example":"Test"},"country":{"type":"string","example":"AR"},"status":{"type":"string","example":"SUCCEEDED"},"sub_status":{"type":"string","example":"SUCCEEDED"},"merchant_order_id":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2023-03-09T08:37:13.634720Z"},"updated_at":{"type":"string","example":"2023-03-09T08:37:17.469309Z"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"ARS"},"value":{"type":"integer","example":500,"default":0},"refunded":{"type":"integer","example":0,"default":0},"captured":{"type":"integer","example":0,"default":0}}},"checkout":{"type":"object","properties":{"session":{"type":"string","example":""},"sdk_action_required":{"type":"string","example":"3DS"}}},"customer_payer":{"type":"object","properties":{"id":{},"email":{"type":"string","example":"john.doe@y.uno"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"merchant_customer_id":{"type":"string","example":"example00234"},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"DNI"},"document_number":{"type":"string","example":"38799999"}}},"phone":{},"billing_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":""},"address_line_2":{"type":"string","example":""}}},"shipping_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":""},"address_line_2":{"type":"string","example":""}}}}},"additional_data":{"type":"object","properties":{"airline":{},"order":{},"seller_details":{}}},"taxes":{},"workflow":{"type":"string","example":"DIRECT"},"payment_method":{"type":"object","properties":{"reverse_on_decline":{"type":"boolean","example":false,"default":true},"payment_methods":{"type":"array","items":{"type":"object","properties":{"vaulted_token":{"type":"string","example":""},"type":{"type":"string","example":"CARD"},"vault_on_success":{"type":"boolean","example":false,"default":true},"token":{"type":"string","example":""},"detail":{"type":"object","properties":{"card":{"type":"object","properties":{"verify":{},"capture":{"type":"boolean","example":true,"default":true},"installments":{"type":"integer","example":1,"default":0},"first_installment_deferral":{"type":"integer","example":0,"default":0},"installments_type":{"type":"string","example":""},"installment_amount":{},"soft_descriptor":{"type":"string","example":""},"authorization_code":{"type":"string","example":""},"retrieval_reference_number":{"type":"string","example":""},"voucher":{},"card_data":{"type":"object","properties":{"holder_name":{"type":"string","example":"JOHN DOE"},"iin":{"type":"string","example":"4111111"},"lfd":{"type":"string","example":"1111"},"number_length":{"type":"integer","example":16,"default":0},"security_code_length":{"type":"integer","example":3,"default":0},"brand":{"type":"string","example":"VISA"},"issuer_name":{"type":"string","example":"BANCO SANTANDER RIO, S.A."},"issuer_code":{},"category":{"type":"string","example":"GOLD"},"type":{"type":"string","example":"CREDIT"}}},"three_d_secure":{"type":"object","properties":{"callback_url":{"type":"string","example":"www.site.com"},"sdk_token":{"type":"string","example":"AA0131238213JKDSAHDKOAN"},"sdk_collect_url":{"type":"string","example":"www.site_collect.com"}}}}}}},"transactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"c7a2d22d-eacc-4ed0-8b90-191da381d045"},"type":{"type":"string","example":"3DS"},"status":{"type":"string","example":"SUCCEDED"},"category":{"type":"string","example":"3DS"},"amount":{"type":"integer","example":300,"default":0},"provider_id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"response_code":{"type":"string","example":"SUCCEDED"},"response_message":{"type":"string","example":"SUCCEDED"},"reason":{},"description":{"type":"string","example":"SUCCEDED"},"merchant_reference":{"type":"string","example":"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a"},"provider_data":{"type":"object","properties":{}},"created_at":{"type":"string","example":"2023-03-09T08:37:13.762879Z"},"updated_at":{"type":"string","example":"2023-03-09T08:37:17.449288Z"}}}},"fraud_screening":{}}}}}}}}}},{"title":"Create payment with 3DS","type":"object","properties":{"payment":{"type":"object","properties":{"id":{"type":"string","example":"8a40e6cf-4f46-4977-b2f9-d4ca34d9d8e6"},"idempotency_key":{"type":"string","example":"b76f923a-f2a9-4244-8f60-bc264c03ac28"},"account_code":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"description":{"type":"string","example":"Test"},"country":{"type":"string","example":"AR"},"status":{"type":"string","example":"SUCCEEDED"},"sub_status":{"type":"string","example":"SUCCEEDED"},"merchant_order_id":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2023-03-09T08:37:13.634720Z"},"updated_at":{"type":"string","example":"2023-03-09T08:37:17.469309Z"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"ARS"},"value":{"type":"integer","example":500,"default":0},"refunded":{"type":"integer","example":0,"default":0},"captured":{"type":"integer","example":0,"default":0}}},"checkout":{"type":"object","properties":{"session":{"type":"string","example":""},"sdk_action_required":{"type":"string","example":"3DS"}}},"customer_payer":{"type":"object","properties":{"id":{},"email":{"type":"string","example":"john.doe@y.uno"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"merchant_customer_id":{"type":"string","example":"example00234"},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"DNI"},"document_number":{"type":"string","example":"38799999"}}},"phone":{},"billing_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":""},"address_line_2":{"type":"string","example":""}}},"shipping_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":""},"address_line_2":{"type":"string","example":""}}}}},"additional_data":{"type":"object","properties":{"airline":{},"order":{},"seller_details":{}}},"taxes":{},"workflow":{"type":"string","example":"DIRECT"},"payment_method":{"type":"object","properties":{"reverse_on_decline":{"type":"boolean","example":false,"default":true},"payment_methods":{"type":"array","items":{"type":"object","properties":{"vaulted_token":{"type":"string","example":""},"type":{"type":"string","example":"CARD"},"vault_on_success":{"type":"boolean","example":false,"default":true},"token":{"type":"string","example":""},"detail":{"type":"object","properties":{"card":{"type":"object","properties":{"verify":{},"capture":{"type":"boolean","example":true,"default":true},"installments":{"type":"integer","example":1,"default":0},"first_installment_deferral":{"type":"integer","example":0,"default":0},"installments_type":{"type":"string","example":""},"installment_amount":{},"soft_descriptor":{"type":"string","example":""},"authorization_code":{"type":"string","example":""},"retrieval_reference_number":{"type":"string","example":""},"voucher":{},"card_data":{"type":"object","properties":{"holder_name":{"type":"string","example":"JOHN DOE"},"iin":{"type":"string","example":"4111111"},"lfd":{"type":"string","example":"1111"},"number_length":{"type":"integer","example":16,"default":0},"security_code_length":{"type":"integer","example":3,"default":0},"brand":{"type":"string","example":"VISA"},"issuer_name":{"type":"string","example":"BANCO SANTANDER RIO, S.A."},"issuer_code":{},"category":{"type":"string","example":"GOLD"},"type":{"type":"string","example":"CREDIT"}}},"three_d_secure":{"type":"object","properties":{"callback_url":{"type":"string","example":"www.site.com"},"sdk_token":{"type":"string","example":"AA0131238213JKDSAHDKOAN"},"sdk_collect_url":{"type":"string","example":"www.site_collect.com"}}}}}}},"transactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"c7a2d22d-eacc-4ed0-8b90-191da381d045"},"type":{"type":"string","example":"3DS"},"status":{"type":"string","example":"SUCCEDED"},"category":{"type":"string","example":"3DS"},"amount":{"type":"integer","example":300,"default":0},"provider_id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"response_code":{"type":"string","example":"SUCCEDED"},"response_message":{"type":"string","example":"SUCCEDED"},"reason":{},"description":{"type":"string","example":"SUCCEDED"},"merchant_reference":{"type":"string","example":"reference-8eb992b0-c04a-4851-aed8-e38cd27be23a"},"provider_data":{"type":"object","properties":{}},"created_at":{"type":"string","example":"2023-03-09T08:37:13.762879Z"},"updated_at":{"type":"string","example":"2023-03-09T08:37:17.449288Z"}}}},"fraud_screening":{}}}}}}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/payments":{"post":{"summary":"Create Payment with Payment Method Split","description":"","operationId":"create-payment-with-payment-method-split","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","description","country","merchant_order_id","amount","payment_methods"],"properties":{"account_id":{"type":"string","description":"The unique identifier of the account. You find this information on [Yuno's Dashboard](https://dashboard.y.uno/) (MAX 64; MIN 36)."},"description":{"type":"string","description":"The description of the payment (MAX 255; MIN 3)."},"additional_data":{"type":"object","description":"Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.","properties":{"order":{"type":"object","description":"Specifies the order object.","properties":{"shipping_amount":{"type":"number","description":"The shipping amount of the order (multiple of 0.0001).","format":"float"},"fee_amount":{"type":"number","description":"The fee amount of the order (multiple of 0.0001).","format":"float"},"items":{"type":"array","description":"Specifies the items array of object.","items":{"properties":{"id":{"type":"string","description":"The unique identifier of the item (MAX 255; MIN 3)."},"name":{"type":"string","description":"The name of the item (MAX 255; MIN 3)."},"quantity":{"type":"integer","description":"The quantity of the item.","format":"int32"},"unit_amount":{"type":"number","description":"The unit amount of the item (multiple of 0.0001).","format":"float"},"category":{"type":"string","description":"The category of the item ([item category list](ref:items-category-list))."},"brand":{"type":"string","description":"The brand of the item (MAX 255; MIN 3)."},"sku_code":{"type":"string","description":"The stock keeping unit (SKU) of the item (MAX 255; MIN 3)."},"manufacture_part_number":{"type":"string","description":"The manufacture part number of the item"}},"required":["id","name","quantity","unit_amount"],"type":"object"}}}},"airline":{"type":"object","description":"Specifies the airline object.","properties":{"pnr":{"type":"string","description":"Passenger name record (MAX 10; MIN 1)."},"legs":{"type":"array","description":"Specifies the legs array of objects.","items":{"properties":{"departure_airport":{"type":"string","description":"IATA code. See http://www.iata.org (MAX 3; MIN 3)."},"departure_datetime":{"type":"string","description":"The departure date and time in UTC time ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), MAX 27; MIN 27).","format":"date"},"departure_airport_timezone":{"type":"string","description":"Airport timezone (MAX 6; MIN 6)."},"arrival_airport":{"type":"string","description":"IATA airport code. See http://www.iata.org (MAX 3; MIN 3)."},"carrier_code":{"type":"string","description":"IATA carrier code. See http://www.iata.org (MAX 2; MIN 2)."},"flight_number":{"type":"string","description":"The flight number assigned by the airline carrier (MAX 5; MIN 1)."},"fare_basis_code":{"type":"string","description":"Code base rate provides specific information on the fare in addition to the class service, both required for booking (MAX 15; MIN 1)."},"fare_class_code":{"type":"string","description":"The fare class code of the airline (MAX 1; MIN 1). The values can be a letter (A-Z) but may vary depending on the airline's definition. Check the [Airline information reference](airline-information#fare-class-code).","enum":["F","FR","B","CR","Y","YD"]},"base_fare":{"type":"number","description":"The transaction amount, excluding taxes and fees, the smallest unit of currency (multipleOf 0.0001).","format":"float"},"base_fare_currency":{"type":"string","description":"The currency used to transaction amount (MAX 3; MIN 3; [Country reference](ref:country-reference)).","enum":["ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU",""]},"stopover_code":{"type":"string","description":"1-letter code that indicates whether the passenger is allowed to make a stopover. Only two types of characters are allowed: O: Stopover allowed (the letter “O”, not zero) / X: Stopover not allowed. (MAX 1; MIN 1)"}},"required":["departure_airport","departure_datetime","departure_airport_timezone","arrival_airport","carrier_code","flight_number","fare_basis_code","fare_class_code"],"type":"object"}},"passengers":{"type":"array","description":"Specifies the passengers array of objects associated to the tickets","items":{"properties":{"first_name":{"type":"string","description":"The passenger first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The passenger last name (MAX 255; MIN 3)."},"middle_name":{"type":"string","description":"The passenger middle name (MAX 255; MIN 3)."},"type":{"type":"string","description":"Passenger type (A=Adult, C=Child, I=Infant or Baby; MAX 1; MIN 1)."},"date_of_birth":{"type":"string","description":"The passenger date of birth in the YYYY-MM-DD (MAX 10; MIN 10)."},"nationality":{"type":"string","description":"The passenger nationality (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"document":{"type":"object","description":"Specifies the passengers' document object.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3)."},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2; [Country reference](ref:country-reference))."},"country":{"type":"string","description":"Country where the document was issued (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."}}}},"type":"object"}},"tickets":{"type":"array","description":"Specifieis the array of tickets associated to the passengers.","items":{"properties":{"ticket_number":{"type":"string","description":"Ticket number (MAX 14; MIN 1)."},"e_ticket":{"type":"boolean","description":"Is this an e-ticket?"},"restricted":{"type":"boolean","description":"Indicates if the ticket is refunfable or not."},"total_fare_amount":{"type":"number","description":"Total fare amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_tax_amount":{"type":"number","description":"Total taxes amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"total_fee_amount":{"type":"number","description":"Total fee amount in the smallest unit of currency (multiple of 0.0001).","format":"float"},"issue":{"type":"object","description":"Specifies the issue object.","properties":{"carrier_prefix_code":{"type":"string","description":"Issuing or Validating carrier. This is the AWB Prefix (Air waybill) IATA 3-numeric code (MAX 3; MIN 3)."},"travel_agent_code":{"type":"string","description":"Code of the travel agent issuing the ticket."},"travel_agent_name":{"type":"string","description":"The name under which the point of sale appears on the agency list or franchise name (MAX 32; MIN 1)."},"date":{"type":"string","description":"Ticket issuing date (MAX 27; MIN 27).","format":"date"},"address":{"type":"string","description":"Address of the agent whose sold the ticket (MAX 255; MIN 3)."},"city":{"type":"string","description":"City name of the agent whose sold the ticket (MAX 255; MIN 3)."},"country":{"type":"string","description":"Country code alpha 2 where the ticket was issued (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."},"zip_code":{"type":"string","description":"Zip code of the agent who sold the ticket."}}}},"type":"object"}}}},"seller_details":{"type":"object","description":"Specifies the seller's details object.","properties":{"name":{"type":"string","description":"The seller's legal name (MAX 255; MIN 3)."},"email":{"type":"number","description":"The seller's e-mail (MAX 255; MIN 3).","format":"float"},"reference":{"type":"number","description":"The seller's identification code (MAX 255; MIN 3).","format":"float"},"website":{"type":"string","description":"The seller's website URL (MAX 255; MIN 3)."},"industry":{"type":"string","description":"The seller's industry (MAX 235; MIN 1) For more information access the [Industry category reference page](industry-category-list).","enum":["ADVERTISING","ART","AUTOMOTIVE","ANTIVIRUS","BABY","BEAUTY_&_PERSONAL_CARE","BOOKS","CAMERAS","CAR_ELECTRONICS","COMPUTING","COUPONS","DONATIONS","DELIVERY","ELECTRONICS","ENTERTAINMENT","EDUCATION","FASHION","GAMES","GARDEN_&_OUTDOOR","GROCERY_&_GOURMET_FOOD","HANDMADE",
[...]
