{
  "openapi": "3.1.0",
  "info": {
    "title": "payment-links",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/payment-links": {
      "post": {
        "summary": "Create Payment Link",
        "description": "",
        "operationId": "create-payment-link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "country",
                  "amount",
                  "payment_method_types"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on [the Yuno Dashboard](https://dashboard.y.uno/) (MAX 64; MIN 36)."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the payment link (MAX 255; MIN 3)."
                  },
                  "country": {
                    "type": "string",
                    "description": "The customer's country code (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)) **[Required]**.",
                    "enum": [
                      "AR",
                      "BO",
                      "BR",
                      "CL",
                      "CO",
                      "CR",
                      "EC",
                      "SV",
                      "GT",
                      "HN",
                      "MX",
                      "NI",
                      "PA",
                      "PY",
                      "PE",
                      "US",
                      "UY"
                    ]
                  },
                  "merchant_order_id": {
                    "type": "string",
                    "description": "Identification of the payment link transaction defined by the merchant (MAX 255; MIN 3)."
                  },
                  "amount": {
                    "type": "object",
                    "description": "Specifies the payment amount object, with the value and currency.",
                    "required": [
                      "value",
                      "currency"
                    ],
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "The payment amount (multiple of 0.0001)",
                        "format": "float"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment. For a full list of currency codes, see [Country reference](doc:country-reference) (MAX 3; MIN 3; ISO 4217)."
                      }
                    }
                  },
                  "capture": {
                    "type": "boolean",
                    "description": "Decides whether to authorize the payment or capture it. Authorizing a card payment allows you to reserve funds in a customer's bank account. If not set, true by default."
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the payment link."
                  },
                  "status": {
                    "type": "string",
                    "description": "The status of the payment link."
                  },
                  "payment_method": {
                    "type": "object",
                    "description": "Payment method object (optional)."
                  },
                  "installments_plan": {
                    "type": "object",
                    "description": "Installments plan configuration (optional)."
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Timezone for availability (e.g., UTC +03:00)."
                  },
                  "payments_number": {
                    "type": "integer",
                    "description": "Number of payments associated with this link."
                  },
                  "split_payment_methods": {
                    "type": "boolean",
                    "description": "Allow split payment methods."
                  },
                  "taxes": {
                    "type": "array",
                    "description": "Specifies the payment taxes list. **Only available for COL**.",
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Type of the tax."
                        },
                        "tax_base": {
                          "type": "number",
                          "description": "The amount base to apply the tax defined.",
                          "format": "float"
                        },
                        "value": {
                          "type": "number",
                          "description": "The amount of the tax.",
                          "format": "float"
                        },
                        "percentage": {
                          "type": "number",
                          "description": "The percentage of the tax.",
                          "format": "float"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "customer_payer": {
                    "type": "object",
                    "description": "Specifies customer object for payments.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the customer (UUID | MAX 36; MIN 36)."
                      },
                      "merchant_customer_id": {
                        "type": "string",
                        "description": "The unique identifier of the customer in the external merchant (MAX 255; MIN 3)."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The customer's first name (MAX 255; MIN 1)."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The customer's last name (MAX 255; MIN 1)."
                      },
                      "gender": {
                        "type": "string",
                        "description": "The customer's gender (MAX 2; MIN 1; (M=Male/F=Female/NA=Not applicable/NK=Not Known))."
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "The customer's date of birth in the YYYY-MM-DD format (Length: 10)."
                      },
                      "email": {
                        "type": "string",
                        "description": "The customer's e-mail (MAX 255; MIN 3)."
                      },
                      "nationality": {
                        "type": "string",
                        "description": "The customer's nationality (MAX 2; MIN 2; ISO 3166-1)."
                      },
                      "document": {
                        "type": "object",
                        "description": "Specifies the customer's document object, including its number and type.",
                        "required": [
                          "document_number"
                        ],
                        "properties": {
                          "document_number": {
                            "type": "string",
                            "description": "The document number (MAX 40; MIN 3)."
                          },
                          "document_type": {
                            "type": "string",
                            "description": "Document type (MAX 6; MIN 3; [Country reference](country-reference)).",
                            "enum": [
                              "DNI",
                              "CI",
                              "LC",
                              "LE",
                              "CUIT",
                              "CUIL",
                              "PAS",
                              "CPF",
                              "RG",
                              "CNH",
                              "CNPJ",
                              "RUT",
                              "RUN",
                              "CC",
                              "CE",
                              "NIT",
                              "DUI",
                              "PIC",
                              "DPI",
                              "IFR",
                              "INE",
                              "CP",
                              "RFC",
                              "CURP",
                              "CIP",
                              "CIC",
                              "CUI",
                              "RUC",
                              ""
                            ]
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Specifies the customer's phone number object.",
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "description": "The country calling code of the phone (MAX 5; MIN 1). Check the [country reference](country-reference) to see the phone codes."
                          },
                          "number": {
                            "type": "string",
                            "description": "The phone number, without the country code (MAX 32; MIN 1)."
                          }
                        }
                      },
                      "billing_address": {
                        "type": "object",
                        "description": "Specifies the customer's billing address object.",
                        "properties": {
                          "address_line_1": {
                            "type": "string",
                            "description": "The primary address line (MAX 255; MIN 3)."
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "The secondary address line (MAX 255; MIN 3)."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city considered for the address (MAX 255; MIN 3)."
                          },
                          "country": {
                            "type": "string",
                            "description": "The country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                            "enum": [
                              "AR",
                              "BO",
                              "BR",
                              "CL",
                              "CO",
                              "CR",
                              "EC",
                              "SV",
                              "GT",
                              "HN",
                              "MX",
                              "NI",
                              "PA",
                              "PY",
                              "PE",
                              "US",
                              "UY"
                            ]
                          },
                          "state": {
                            "type": "string",
                            "description": "The state/province from the address (MAX 255; MIN 3)."
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "The zipcode for the address (MAX 10; MIN 5)."
                          }
                        }
                      },
                      "shipping_address": {
                        "type": "object",
                        "description": "Specifies the customer's shipping address object.",
                        "properties": {
                          "address_line_1": {
                            "type": "string",
                            "description": "The primary address line (MAX 255; MIN 3)."
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "The secondary address line (MAX 255; MIN 3)."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city considered for the address (MAX 255; MIN 3)."
                          },
                          "country": {
                            "type": "string",
                            "description": "The country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                            "enum": [
                              "AR",
                              "BO",
                              "BR",
                              "CL",
                              "CO",
                              "CR",
                              "EC",
                              "SV",
                              "GT",
                              "HN",
                              "MX",
                              "NI",
                              "PA",
                              "PY",
                              "PE",
                              "US",
                              "UY"
                            ]
                          },
                          "state": {
                            "type": "string",
                            "description": "The state/province from the address (MAX 255; MIN 3)."
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "The zipcode for the address (MAX 10; MIN 5)."
                          }
                        }
                      },
                      "ip_address": {
                        "type": "string",
                        "description": "Specifies the customer's IP address (MAX 45; MIN 1)."
                      }
                    }
                  },
                  "additional_data": {
                    "type": "object",
                    "description": "Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.",
                    "properties": {
                      "order": {
                        "type": "object",
                        "description": "Specifies the order object.",
                        "properties": {
                          "shipping_amount": {
                            "type": "number",
                            "description": "The shipping amount of the order (multiple of 0.0001)",
                            "format": "float"
                          },
                          "fee_amount": {
                            "type": "number",
                            "description": "The fee amount of the order (multiple of 0.0001)",
                            "format": "float"
                          },
                          "items": {
                            "type": "array",
                            "description": "Specifies the items array of object.",
                            "items": {
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The unique identifier of the item (MAX 255; MIN 1)."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the item (MAX 255; MIN 3)."
                                },
                                "quantity": {
                                  "type": "integer",
                                  "description": "The quantity of the item.",
                                  "format": "int32"
                                },
                                "unit_amount": {
                                  "type": "number",
                                  "description": "The unit amount of the item (multiple of 0.0001).",
                                  "format": "float"
                                },
                                "category": {
                                  "type": "string",
                                  "description": "The category of the item. Check the Item category reference."
                                },
                                "brand": {
                                  "type": "string",
                                  "description": "The brand of the item (MAX 255; MIN 1)."
                                },
                                "sku_code": {
                                  "type": "string",
                                  "description": "The stock keeping unit (SKU) of the item (MAX 255; MIN 1)."
                                },
                                "manufacture_part_number": {
                                  "type": "string",
                                  "description": "The manufacture part number of the item (MAX 255; MIN 1)."
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "quantity",
                                "unit_amount"
                              ],
                              "type": "object"
                            }
                          }
                        }
                      },
                      "airline": {
                        "type": "object",
                        "description": "Specifies the airline object.",
                        "properties": {
                          "pnr": {
                            "type": "string",
                            "description": "Passenger name record (MAX 10; MIN 1)."
                          },
                          "legs": {
                            "type": "array",
                            "description": "Specifies the legs object.",
                            "items": {
                              "properties": {
                                "departure_airport": {
                                  "type": "string",
                                  "description": "IATA code. See http://www.iata.org (MAX 3; MIN 3)."
                                },
                                "departure_datetime": {
                                  "type": "string",
                                  "description": "The departure date and time in UTC time (ISO 8601, MAX 27; MIN 27).",
                                  "format": "date"
                                },
                                "departure_airport_timezone": {
                                  "type": "string",
                                  "description": "Airport timezone (MAX 6; MIN 6)."
                                },
                                "arrival_airport": {
                                  "type": "string",
                                  "description": "IATA airport code. See http://www.iata.org (MAX 3; MIN 3)."
                                },
                                "carrier_code": {
                                  "type": "string",
                                  "description": "IATA carrier code. See http://www.iata.org (MAX 2; MIN 2)."
                                },
                                "flight_number": {
                                  "type": "string",
                                  "description": "The flight number assigned by the airline carrier (MAX 5; MIN 1)."
                                },
                                "fare_basis_code": {
                                  "type": "string",
                                  "description": "Code base rate provides specific information on the fare in addition to the class service, both required for booking (MAX 15; MIN 1)."
                                },
                                "fare_class_code": {
                                  "type": "string",
                                  "description": "The fare class code of the airline (MAX 3; MIN 1). The values can be letters (A-Z) but may vary depending on the airline's definition. Check the [Airline information reference](airline-information#fare-class-code)."
                                },
                                "base_fare": {
                                  "type": "number",
                                  "description": "The transaction amount, excluding taxes and fees, the smallest unit of currency (multiple of 0.0001).",
                                  "format": "float"
                                },
                                "base_fare_currency": {
                                  "type": "string",
                                  "description": "The currency used for the base fare amount (MAX 3; MIN 3; [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217))."
                                },
                                "stopover_code": {
                                  "type": "string",
                                  "description": "1-letter code that indicates whether the passenger is allowed to make a stopover. Only two types of characters are allowed: O: Stopover allowed (the letter “O”, not zero) / X: Stopover not allowed. (MAX 1; MIN 1)."
                                }
                              },
                              "required": [
                                "departure_airport",
                                "departure_datetime",
                                "arrival_airport"
                              ],
                              "type": "object"
                            }
                          }
                        }
                      },
                      "seller_details": {
                        "type": "object",
                        "description": "Specifies the seller's details object. Only mandatory for PSPs with sub_merchant account information.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The seller's legal name (MAX 255; MIN 1)."
                          },
                          "email": {
                            "type": "string",
                            "description": "The seller's e-mail (MAX 255; MIN 1)."
                          },
                          "reference": {
                            "type": "string",
                            "description": "The seller's identification code (MAX 255; MIN 1)."
                          },
                          "website": {
                            "type": "string",
                            "description": "The seller's website URL (MAX 255; MIN 1)."
                          },
                          "industry": {
                            "type": "string",
                            "description": "The seller's industry (MAX 255; MIN 3; Industry category reference)."
                          },
                          "country": {
                            "type": "string",
                            "description": "The seller's country (MAX 255; MIN 3; ISO 3166-1)."
                          },
                          "document": {
                            "type": "object",
                            "description": "Specifies the document object of the seller.",
                            "required": [
                              "document_number"
                            ],
                            "properties": {
                              "document_number": {
                                "type": "string",
                                "description": "The document number (MAX 40; MIN 3)."
                              },
                              "document_type": {
                                "type": "string",
                                "description": "Document type (MAX 6, MIN 1; [Country reference](country-reference)).",
                                "enum": [
                                  "DNI",
                                  "CI",
                                  "LC",
                                  "LE",
                                  "CUIT",
                                  "CUIL",
                                  "PAS",
                                  "CPF",
                                  "RG",
                                  "CNH",
                                  "CNPJ",
                                  "RUT",
                                  "RUN",
                                  "CC",
                                  "CE",
                                  "NIT",
                                  "DUI",
                                  "PIC",
                                  "DPI",
                                  "IFR",
                                  "INE",
                                  "CP",
                                  "RFC",
                                  "CURP",
                                  "CIP",
                                  "CIC",
                                  "CUI",
                                  "RUC",
                                  ""
                                ]
                              }
                            }
                          },
                          "phone": {
                            "type": "object",
                            "description": "Specifies the seller's phone number object.",
                            "properties": {
                              "country_code": {
                                "type": "string",
                                "description": "The country calling code of the phone (MAX 5; MIN 1).  Check the [Country reference](country-reference) to see the phone codes."
                              },
                              "number": {
                                "type": "string",
                                "description": "The phone number, without the country code (MAX 32; MIN 1)."
                              }
                            }
                          },
                          "address": {
                            "type": "object",
                            "description": "Specifies the seller's address object.",
                            "properties": {
                              "address_line_1": {
                                "type": "string",
                                "description": "The primary address line (MAX 255; MIN 3)."
                              },
                              "address_line_2": {
                                "type": "string",
                                "description": "The secondary address line (MAX 255; MIN 1)."
                              },
                              "city": {
                                "type": "string",
                                "description": "The city considered for the address (MAX 255; MIN 3)."
                              },
                              "country": {
                                "type": "string",
                                "description": "The country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                                "enum": [
                                  "AR",
                                  "BO",
                                  "BR",
                                  "CL",
                                  "CO",
                                  "CR",
                                  "EC",
                                  "SV",
                                  "GT",
                                  "HN",
                                  "MX",
                                  "NI",
                                  "PA",
                                  "PY",
                                  "PE",
                                  "US",
                                  "UY"
                                ]
                              },
                              "state": {
                                "type": "string",
                                "description": "The state/province from the address (MAX 255; MIN 3)."
                              },
                              "zip_code": {
                                "type": "string",
                                "description": "The zipcode for the address (MAX 10; MIN 5)."
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "URL to redirect the customer after the payment (MAX 256)."
                  },
                  "one_time_use": {
                    "type": "boolean",
                    "description": "`true` allows only one use, `false` multiple payments"
                  },
                  "availability": {
                    "type": "object",
                    "description": "The availability object. Refers to the Payment Link expiration date.",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "Start of the validity period of the payment link.",
                        "format": "date-time"
                      },
                      "finish_at": {
                        "type": "string",
                        "description": "End of the validity period of the payment link.",
                        "format": "date-time"
                      }
                    }
                  },
                  "payment_method_types": {
                    "type": "array",
                    "description": "The list of types of payment methods that customers can use. Check the available payment methods on [Payment type](ref:payment-type-list). If no value is passed, Yuno will display the payment methods defined in the dashboard.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "metadata": {
                    "type": "array",
                    "description": "Specifies a list of metadata objects. You can add up to 50 metadata objects.",
                    "items": {
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The metadata key (MAX 48)."
                        },
                        "value": {
                          "type": "string",
                          "description": "The metadata key value (MAX 512)."
                        }
                      },
                      "type": "object"
                    }
                  },
                  "vault_on_success": {
                    "type": "boolean",
                    "description": "Flag to enroll the card after a successful payment"
                  }
                }
              },
              "examples": {
                "CREATE PAYMENT LINK": {
                  "value": {
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "description": "Test",
                    "country": "AR",
                    "merchant_order_id": "AA01",
                    "amount": {
                      "value": 5000,
                      "currency": "ARS"
                    },
                    "payment_method_types": [
                      "CARD"
                    ],
                    "availability": {
                      "start_at": "2023-01-15T14:00:12Z",
                      "finish_at": "2023-12-29T14:00:12Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "CREATE PAYMENT LINK": {
                    "value": "{\n    \"code\": \"e1512b4d-9057-4c73-8e49-921c51eb5ba2\",\n    \"country\": \"US\",\n    \"availability\": {\n        \"start_at\": \"2023-01-15T14:00:12Z\",\n        \"finish_at\": \"2023-12-29T14:00:12Z\"\n    },\n    \"status\": \"CREATED\",\n    \"merchant_order_id\": \"AA01\",\n    \"description\": \"Test\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 5000\n    },\n    \"capture\": true,\n    \"metadata\": null,\n    \"split_payment_methods\": false,\n    \"payment_method_types\": [\n        \"CARD\"\n    ],\n    \"one_time_use\": false,\n    \"payments\": null,\n    \"callback_url\": \"https://checkout.sandbox.y.uno/payment/status\",\n    \"installments_plan\": null,\n    \"customer_payer\": null,\n    \"taxes\": null,\n    \"additional_data\": {\n        \"airline\": null,\n        \"order\": null,\n        \"seller_details\": null\n    },\n    \"account_code\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"checkout_url\": \"https://checkout.sandbox.y.uno/payment?session=2f6d9754-43d0-4dca-b023-6aba4b107179\",\n    \"payments_number\": 0,\n    \"merchant_image\": \"\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "e1512b4d-9057-4c73-8e49-921c51eb5ba2"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2023-01-15T14:00:12Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2023-12-29T14:00:12Z"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "CREATED"
                    },
                    "merchant_order_id": {
                      "type": "string",
                      "example": "AA01"
                    },
                    "description": {
                      "type": "string",
                      "example": "Test"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "integer",
                          "example": 5000,
                          "default": 0
                        }
                      }
                    },
                    "capture": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "metadata": {},
                    "split_payment_methods": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "payment_method_types": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "CARD"
                      }
                    },
                    "one_time_use": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "payments": {},
                    "callback_url": {
                      "type": "string",
                      "example": "https://checkout.sandbox.y.uno/payment/status"
                    },
                    "installments_plan": {},
                    "customer_payer": {},
                    "taxes": {},
                    "additional_data": {
                      "type": "object",
                      "properties": {
                        "airline": {},
                        "order": {},
                        "seller_details": {}
                      }
                    },
                    "account_code": {
                      "type": "string",
                      "example": "493e9374-510a-4201-9e09-de669d75f256"
                    },
                    "checkout_url": {
                      "type": "string",
                      "example": "https://checkout.sandbox.y.uno/payment?session=2f6d9754-43d0-4dca-b023-6aba4b107179"
                    },
                    "payments_number": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "merchant_image": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    },
                    "summary": "Invalid Request"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "List All Payment Links",
        "description": "",
        "operationId": "list-all-payment-links",
        "parameters": [
          {
            "name": "page_size",
            "in": "path",
            "description": "Specify the number of payments to retrieve. By default, 100 payments will be returned. The maximum value is 500.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/payment-links/{code}/cancel": {
      "post": {
        "summary": "Cancel Payment Link",
        "description": "",
        "operationId": "cancel-payment-link",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "The code of the payment link (UUID, 36 chars)",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "CANCEL PAYMENT LINK": {
                    "value": "{\n    \"code\": \"aace3f6d-e26d-45d0-9a4f-66523909ddf9\",\n    \"country\": \"US\",\n    \"availability\": {\n        \"start_at\": \"2023-01-15T14:00:12Z\",\n        \"finish_at\": \"2023-10-29T14:00:12Z\"\n    },\n    \"status\": \"CANCELED\",\n    \"description\": \"PRUEBA PAYMENT LINK 10/07\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 5000\n    },\n    \"metadata\": [\n        {\n            \"key\": \"some key\",\n            \"value\": \"some value\"\n        }\n    ],\n    \"split_payment_methods\": false,\n    \"payment_method_types\": [\n        \"PSE\"\n    ],\n    \"one_time_use\": true,\n    \"callback_url\": \"https://checkout.sandbox.y.uno/payment/status\",\n    \"installments_plan\": null,\n    \"customer_payer\": null,\n    \"taxes\": null,\n    \"additional_data\": {\n        \"airline\": null,\n        \"order\": null,\n        \"seller_details\": null\n    },\n    \"organization_code\": \"b887a970-9722-44fe-ab17-106bf1b93577\",\n    \"account_code\": \"8147da44-4de9-48ff-a194-51b2cd7d2a03\",\n    \"checkout_url\": \"https://checkout.sandbox.y.uno/payment?session=ac63a0d7-b2d7-4e72-9062-2e2e3a448359\",\n    \"payments_number\": 0,\n    \"merchant_image\": \"\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "aace3f6d-e26d-45d0-9a4f-66523909ddf9"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2023-01-15T14:00:12Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2023-10-29T14:00:12Z"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "CANCELED"
                    },
                    "description": {
                      "type": "string",
                      "example": "PRUEBA PAYMENT LINK 10/07"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "integer",
                          "example": 5000,
                          "default": 0
                        }
                      }
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "some key"
                          },
                          "value": {
                            "type": "string",
                            "example": "some value"
                          }
                        }
                      }
                    },
                    "split_payment_methods": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "payment_method_types": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "PSE"
                      }
                    },
                    "one_time_use": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "callback_url": {
                      "type": "string",
                      "example": "https://checkout.sandbox.y.uno/payment/status"
                    },
                    "installments_plan": {},
                    "customer_payer": {},
                    "taxes": {},
                    "additional_data": {
                      "type": "object",
                      "properties": {
                        "airline": {},
                        "order": {},
                        "seller_details": {}
                      }
                    },
                    "organization_code": {
                      "type": "string",
                      "example": "b887a970-9722-44fe-ab17-106bf1b93577"
                    },
                    "account_code": {
                      "type": "string",
                      "example": "8147da44-4de9-48ff-a194-51b2cd7d2a03"
                    },
                    "checkout_url": {
                      "type": "string",
                      "example": "https://checkout.sandbox.y.uno/payment?session=ac63a0d7-b2d7-4e72-9062-2e2e3a448359"
                    },
                    "payments_number": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "merchant_image": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    },
                    "summary": "Invalid Request"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/payment-links/{code}": {
      "get": {
        "summary": "Retrieve Payment Link",
        "description": "",
        "operationId": "retrieve-payment-link",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "The code of the payment link (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "RETRIVE PAYMENT LINK": {
                    "value": "{\n    \"code\": \"aace3f6d-e26d-45d0-9a4f-66523909ddf9\",\n    \"country\": \"US\",\n    \"availability\": {\n        \"start_at\": \"2023-01-15T14:00:12Z\",\n        \"finish_at\": \"2023-10-29T14:00:12Z\"\n    },\n    \"status\": \"CREATED\",\n    \"description\": \"PRUEBA PAYMENT LINK 10/07\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 5000\n    },\n    \"metadata\": [\n        {\n            \"key\": \"some key\",\n            \"value\": \"some value\"\n        }\n    ],\n    \"split_payment_methods\": false,\n    \"payment_method_types\": [\n        \"PSE\"\n    ],\n    \"one_time_use\": true,\n    \"callback_url\": \"https://checkout.sandbox.y.uno/payment/status\",\n    \"installments_plan\": null,\n    \"customer_payer\": null,\n    \"taxes\": null,\n    \"additional_data\": {\n        \"airline\": null,\n        \"order\": null,\n        \"seller_details\": null\n    },\n    \"organization_code\": \"b887a970-9722-44fe-ab17-106bf1b93577\",\n    \"account_code\": \"8147da44-4de9-48ff-a194-51b2cd7d2a03\",\n    \"checkout_url\": \"https://checkout.sandbox.y.uno/payment?session=ac63a0d7-b2d7-4e72-9062-2e2e3a448359\",\n    \"payments_number\": 0,\n    \"merchant_image\": \"\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "aace3f6d-e26d-45d0-9a4f-66523909ddf9"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2023-01-15T14:00:12Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2023-10-29T14:00:12Z"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "CREATED"
                    },
                    "description": {
                      "type": "string",
                      "example": "PRUEBA PAYMENT LINK 10/07"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "integer",
                          "example": 5000,
                          "default": 0
                        }
                      }
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "some key"
                          },
                          "value": {
                            "type": "string",
                            "example": "some value"
                          }
                        }
                      }
                    },
                    "split_payment_methods": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "payment_method_types": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "PSE"
                      }
                    },
                    "one_time_use": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "callback_url": {
                      "type": "string",
                      "example": "https://checkout.sandbox.y.uno/payment/status"
                    },
                    "installments_plan": {},
                    "customer_payer": {},
                    "taxes": {},
                    "additional_data": {
                      "type": "object",
                      "properties": {
                        "airline": {},
                        "order": {},
                        "seller_details": {}
                      }
                    },
                    "organization_code": {
                      "type": "string",
                      "example": "b887a970-9722-44fe-ab17-106bf1b93577"
                    },
                    "account_code": {
                      "type": "string",
                      "example": "8147da44-4de9-48ff-a194-51b2cd7d2a03"
                    },
                    "checkout_url": {
                      "type": "string",
                      "example": "https://checkout.sandbox.y.uno/payment?session=ac63a0d7-b2d7-4e72-9062-2e2e3a448359"
                    },
                    "payments_number": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "merchant_image": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    },
                    "summary": "Invalid Request"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/payment-links/{id}-depricated": {
      "patch": {
        "summary": "Update Payment Link",
        "description": "",
        "operationId": "update-payment-link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the the payment link (MAX 64 ; MIN 36).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "description",
                  "country",
                  "one_time_use"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on Yuno's Dashboard (MAX 64; MIN 36)."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the payment link (MAX 255; MIN 3)."
                  },
                  "country": {
                    "type": "string",
                    "description": "The customer's country code (MAX 2; MIN 2; ISO 3166-1). [Required].",
                    "enum": [
                      "AR",
                      "BO",
                      "BR",
                      "CL",
                      "CO",
                      "CR",
                      "EC",
                      "SV",
                      "GT",
                      "HN",
                      "MX",
                      "NI",
                      "PA",
                      "PY",
                      "PE",
                      "US",
                      "UY"
                    ]
                  },
                  "merchant_reference": {
                    "type": "string",
                    "description": "Identification of the payment link transaction defined by the merchant (MAX 255; MIN 3)."
                  },
                  "amount": {
                    "type": "object",
                    "description": "Specifies the payment amount object, with the value and currency.",
                    "required": [
                      "value",
                      "currency"
                    ],
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The payout amount (multiple of 0.0001)."
                      },
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payout. For a full list of currency codes, see [Country reference](doc:country-reference) (MAX 3; MIN 3; ISO 4217)."
                      }
                    }
                  },
                  "taxes": {
                    "type": "object",
                    "description": "Specifies the payment taxes list. **Only available for COL**.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Type of the tax."
                      },
                      "tax_base": {
                        "type": "number",
                        "description": "The amount base to apply the tax defined.",
                        "format": "float"
                      },
                      "value": {
                        "type": "number",
                        "description": "The amount of the tax.",
                        "format": "float"
                      },
                      "percentage": {
                        "type": "number",
                        "description": "The percentage of the tax.",
                        "format": "float"
                      }
                    }
                  },
                  "customer_payer": {
                    "type": "object",
                    "description": "Specifies customer object for payments.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the customer (MAX 64 ; MIN 36)."
                      },
                      "merchant_customer_id": {
                        "type": "string",
                        "description": "The unique identifier of the customer in the external merchant (MAX 255; MIN 3)."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The customer's first name (MAX 255; MIN 1)."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The customer's last name (MAX 255; MIN 1)."
                      },
                      "gender": {
                        "type": "string",
                        "description": "The customer's gender (MAX 2; MIN 1; (M=Male/F=Female/NA=Not applicable/NK=Not Known))."
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "The customer's date of birth in the YYYY-MM-DD format (Length: 10)."
                      },
                      "email": {
                        "type": "string",
                        "description": "The customer's e-mail (MAX 255; MIN 3)."
                      },
                      "nationality": {
                        "type": "string",
                        "description": "The customer's nationality (MAX 2; MIN 2; ISO 3166-1)."
                      },
                      "document": {
                        "type": "object",
                        "description": "Specifies the customer's document object, including its number and type.",
                        "required": [
                          "document_number"
                        ],
                        "properties": {
                          "document_number": {
                            "type": "string",
                            "description": "The document number (MAX 40; MIN 3)."
                          },
                          "document_type": {
                            "type": "string",
                            "description": "Document type (MAX 6, MIN 1; [Country reference](country-reference)).",
                            "enum": [
                              "DNI",
                              "CI",
                              "LC",
                              "LE",
                              "CUIT",
                              "CUIL",
                              "PAS",
                              "CPF",
                              "RG",
                              "CNH",
                              "CNPJ",
                              "RUT",
                              "RUN",
                              "CC",
                              "CE",
                              "NIT",
                              "DUI",
                              "PIC",
                              "DPI",
                              "IFR",
                              "INE",
                              "CP",
                              "RFC",
                              "CURP",
                              "CIP",
                              "CIC",
                              "CUI",
                              "RUC",
                              ""
                            ]
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Specifies the customer's phone number object.",
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "description": "The country calling code of the phone (MAX 3; MIN 1).  Check the [Country reference](country-reference) to see the phone codes."
                          },
                          "number": {
                            "type": "string",
                            "description": "The phone number, without the country code (MAX 32; MIN 1)."
                          }
                        }
                      },
                      "billing_address": {
                        "type": "object",
                        "description": "Specifies the customer's billing address object.",
                        "properties": {
                          "address_line_1": {
                            "type": "string",
                            "description": "The primary address line (MAX 255; MIN 3)."
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "The secondary address line (MAX 255; MIN 1)."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city considered for the address (MAX 255; MIN 3)."
                          },
                          "country": {
                            "type": "string",
                            "description": "The country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                            "enum": [
                              "AR",
                              "BO",
                              "BR",
                              "CL",
                              "CO",
                              "CR",
                              "EC",
                              "SV",
                              "GT",
                              "HN",
                              "MX",
                              "NI",
                              "PA",
                              "PY",
                              "PE",
                              "US",
                              "UY",
                              ""
                            ]
                          },
                          "state": {
                            "type": "string",
                            "description": "The state/province from the address (MAX 255; MIN 3)."
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "The zipcode for the address (MAX 11; MIN 4)."
                          }
                        }
                      },
                      "shipping_address": {
                        "type": "object",
                        "description": "Specifies the customer's shipping address object.",
                        "properties": {
                          "address_line_1": {
                            "type": "string",
                            "description": "The primary address line (MAX 255; MIN 3)."
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "The secondary address line (MAX 255; MIN 1)."
                          },
                          "city": {
                            "type": "string",
                            "description": "The city considered for the address (MAX 255; MIN 3)."
                          },
                          "country": {
                            "type": "string",
                            "description": "The country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                            "enum": [
                              "AR",
                              "BO",
                              "BR",
                              "CL",
                              "CO",
                              "CR",
                              "EC",
                              "SV",
                              "GT",
                              "HN",
                              "MX",
                              "NI",
                              "PA",
                              "PY",
                              "PE",
                              "US",
                              "UY",
                              ""
                            ]
                          },
                          "state": {
                            "type": "string",
                            "description": "The state/province from the address (MAX 255; MIN 3)."
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "The zipcode for the address (MAX 11; MIN 4)."
                          }
                        }
                      },
                      "ip_address": {
                        "type": "string",
                        "description": "Specifies the customer's IP address (MAX 45; MIN 1)."
                      }
                    }
                  },
                  "additional_data": {
                    "type": "object",
                    "description": "Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.",
                    "properties": {
                      "order": {
                        "type": "object",
                        "description": "Specifies the order object.",
                        "properties": {
                          "shipping_amount": {
                            "type": "number",
                            "description": "The shipping amount of the order (multiple of 0.0001)",
                            "format": "float"
                          },
                          "fee_amount": {
                            "type": "number",
                            "description": "The fee amount of the order (multiple of 0.0001)",
                            "format": "float"
                          },
                          "items": {
                            "type": "array",
                            "description": "Specifies the items array of object.",
                            "items": {
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The unique identifier of the item (MAX 255; MIN 1)."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the item (MAX 255; MIN 3)."
                                },
                                "quantity": {
                                  "type": "integer",
                                  "description": "The quantity of the item.",
                                  "format": "int32"
                                },
                                "unit_amount": {
                                  "type": "number",
                                  "description": "The unit amount of the item (multiple of 0.0001).",
                                  "format": "float"
                                },
                                "category": {
                                  "type": "string",
                                  "description": "The category of the item. Check the Item category reference."
                                },
                                "brand": {
                                  "type": "string",
                                  "description": "The brand of the item (MAX 255; MIN 1)."
                                },
                                "sku_code": {
                                  "type": "string",
                                  "description": "The stock keeping unit (SKU) of the item (MAX 255; MIN 1)."
                                },
                                "manufacture_part_number": {
                                  "type": "string",
                                  "description": "The manufacture part number of the item (MAX 255; MIN 1)."
                                },
                                "picture_url": {
                                  "type": "string",
                                  "description": "The picture of the item (MAX 255; MIN 3)"
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "quantity",
                                "unit_amount"
                              ],
                              "type": "object"
                            }
                          }
                        }
                      },
                      "airline": {
                        "type": "object",
                        "description": "Specifies the airline object.",
                        "properties": {
                          "pnr": {
                            "type": "string",
                            "description": "Passenger name record (MAX 10; MIN 1)."
                          },
                          "legs": {
                            "type": "array",
                            "description": "Specifies the legs object.",
                            "items": {
                              "properties": {
                                "departure_airport": {
                                  "type": "string",
                                  "description": "IATA code. See http://www.iata.org (MAX 3; MIN 3)."
                                },
                                "departure_datetime": {
                                  "type": "string",
                                  "description": "The departure date and time in UTC time (ISO 8601, MAX 27; MIN 27).",
                                  "format": "date"
                                },
                                "departure_airport_timezone": {
                                  "type": "string",
                                  "description": "Airport timezone (MAX 6; MIN 6)."
                                },
                                "arrival_airport": {
                                  "type": "string",
                                  "description": "IATA airport code. See http://www.iata.org (MAX 3; MIN 3)."
                                },
                                "carrier_code": {
                                  "type": "string",
                                  "description": "IATA carrier code. See http://www.iata.org (MAX 2; MIN 2)."
                                },
                                "flight_number": {
                                  "type": "string",
                                  "description": "The flight number assigned by the airline carrier (MAX 11; MIN 1)."
                                },
                                "fare_basis_code": {
                                  "type": "string",
                                  "description": "Code base rate provides specific information on the fare in addition to the class service, both required for booking (MAX 15; MIN 1)."
                                },
                                "fare_class_code": {
                                  "type": "string",
                                  "description": "The fare class code of the airline (MAX 1; MIN 1). The values can be a letter (A-Z) but may vary depending on the airline's definition. Check the [Airline information reference](airline-information#fare-class-code)."
                                },
                                "base_fare": {
                                  "type": "string",
                                  "description": "The transaction amount, excluding taxes and fees, the smallest unit of currency (multipleOf 0.0001)."
                                },
                                "base_fare_currency": {
                                  "type": "string",
                                  "description": "The currency used to transaction amount (MAX 3; MIN 3)."
                                },
                                "stopover_code": {
                                  "type": "string",
                                  "description": "1-letter code that indicates whether the passenger is allowed to make a stopover. Only two types of characters are allowed: O: Stopover allowed (the letter “O”, not zero) / X: Stopover not allowed. (MAX 1; MIN 1)."
                                }
                              },
                              "required": [
                                "departure_airport",
                                "departure_datetime",
                                "arrival_airport"
                              ],
                              "type": "object"
                            }
                          }
                        }
                      },
                      "seller_details": {
                        "type": "object",
                        "description": "Specifies the seller's details object. Only mandatory for PSPs with sub_merchant account information.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The seller's legal name (MAX 255; MIN 1)."
                          },
                          "email": {
                            "type": "string",
                            "description": "The seller's e-mail (MAX 255; MIN 1)."
                          },
                          "reference": {
                            "type": "string",
                            "description": "The seller's identification code (MAX 255; MIN 1)."
                          },
                          "website": {
                            "type": "string",
                            "description": "The seller's website URL (MAX 255; MIN 1)."
                          },
                          "industry": {
                            "type": "string",
                            "description": "The seller's industry (MAX 255; MIN 3; Industry category reference)."
                          },
                          "country": {
                            "type": "string",
                            "description": "The seller's country (MAX 255; MIN 3; ISO 3166-1)."
                          },
                          "document": {
                            "type": "object",
                            "description": "Specifies the document object of the seller.",
                            "required": [
                              "document_number"
                            ],
                            "properties": {
                              "document_number": {
                                "type": "string",
                                "description": "The document number (MAX 40; MIN 3)."
                              },
                              "document_type": {
                                "type": "string",
                                "description": "Document type (MAX 6, MIN 1; [Country reference](country-reference)).",
                                "enum": [
                                  "DNI",
                                  "CI",
                                  "LC",
                                  "LE",
                                  "CUIT",
                                  "CUIL",
                                  "PAS",
                                  "CPF",
                                  "RG",
                                  "CNH",
                                  "CNPJ",
                                  "RUT",
                                  "RUN",
                                  "CC",
                                  "CE",
                                  "NIT",
                                  "DUI",
                                  "PIC",
                                  "DPI",
                                  "IFR",
                                  "INE",
                                  "CP",
                                  "RFC",
                                  "CURP",
                                  "CIP",
                                  "CIC",
                                  "CUI",
                                  "RUC",
                                  ""
                                ]
                              }
                            }
                          },
                          "phone": {
                            "type": "object",
                            "description": "Specifies the seller's phone number object.",
                            "properties": {
                              "country_code": {
                                "type": "string",
                                "description": "The country calling code of the phone (MAX 3; MIN 1).  Check the [Country reference](country-reference) to see the phone codes."
                              },
                              "number": {
                                "type": "string",
                                "description": "The phone number, without the country code (MAX 32; MIN 1)."
                              }
                            }
                          },
                          "address": {
                            "type": "object",
                            "description": "Specifies the seller's address object.",
                            "properties": {
                              "address_line_1": {
                                "type": "string",
                                "description": "The primary address line (MAX 255; MIN 3)."
                              },
                              "address_line_2": {
                                "type": "string",
                                "description": "The secondary address line (MAX 255; MIN 1)."
                              },
                              "city": {
                                "type": "string",
                                "description": "The city considered for the address (MAX 255; MIN 3)."
                              },
                              "country": {
                                "type": "string",
                                "description": "The country (MAX 2; MIN 2; [ISO 3166-1](country-reference)).",
                                "enum": [
                                  "AR",
                                  "BO",
                                  "BR",
                                  "CL",
                                  "CO",
                                  "CR",
                                  "EC",
                                  "SV",
                                  "GT",
                                  "HN",
                                  "MX",
                                  "NI",
                                  "PA",
                                  "PY",
                                  "PE",
                                  "US",
                                  "UY",
                                  ""
                                ]
                              },
                              "state": {
                                "type": "string",
                                "description": "The state/province from the address (MAX 255; MIN 3)."
                              },
                              "zip_code": {
                                "type": "string",
                                "description": "The zipcode for the address (MAX 11; MIN 4)."
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Redirects the customer to the specified url after the purchase is complete (MAX 526; MIN 3)."
                  },
                  "one_time_use": {
                    "type": "boolean",
                    "description": "Options: false allows only one use, true multiple payments."
                  },
                  "availability": {
                    "type": "object",
                    "description": "The availability object. Refers to the Payment Link expiration date.",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "Start of the validity period of the payment link.",
                        "format": "date-time"
                      },
                      "finish_at": {
                        "type": "string",
                        "description": "End of the validity period of the payment link.",
                        "format": "date-time"
                      }
                    }
                  },
                  "installments_plan": {
                    "type": "object",
                    "description": "Specifies the installments object.",
                    "properties": {
                      "installments_options": {
                        "type": "array",
                        "description": "Define the available payment plans (MAX 50; MIN 1).",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    }
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "Payment Link URL (MAX 255; MIN 3)"
                  },
                  "split_payment_methods": {
                    "type": "boolean",
                    "description": "Allows you to split the payment with several payment methods."
                  },
                  "payment_method_types": {
                    "type": "array",
                    "description": "The list of types of payment methods that customers can use. If no value is passed, Yuno will display the payment methods defined in the dashboard.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "payment": {
                    "type": "array",
                    "description": "Array of [Payment Objects](ref:the-payment-object)",
                    "items": {
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the customer (MAX 64 ; MIN 36)."
                        },
                        "account_id": {
                          "type": "string",
                          "description": "The unique identifier of the account (MAX 64; MIN 36)."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the payment (MAX 255; MIN 3)."
                        },
                        "country": {
                          "type": "string",
                          "description": "Country where the transaction must be processed (MAX 2; MIN 2; ISO 3166-1)."
                        },
                        "status": {
                          "type": "string",
                          "description": "The status of the transaction."
                        },
                        "sub_status": {
                          "type": "string",
                          "description": "It is a complement to the status information."
                        },
                        "merchant_order_id": {
                          "type": "string",
                          "description": "The unique identifier of the customer's order (MAX 255; MIN 3)."
                        },
                        "created_at": {
                          "type": "string",
                          "description": "The date and time when the payment was created."
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "The date and time of last update for the payment."
                        },
                        "amount": {
                          "type": "object",
                          "description": "Specifies the payment amount object, with the value and currency.",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "The currency used to make the payment (MAX 3; MIN 3; ISO 4217)."
                            },
                            "value": {
                              "type": "string",
                              "description": "The payment amount (multiple of 0.0001)."
                            },
                            "refunded": {
                              "type": "string",
                              "description": "The refund amount (multiple of 0.0001)."
                            },
                            "captured": {
                              "type": "string",
                              "description": "The captured amount (multiple of 0.0001)."
                            }
                          }
                        },
                        "checkout": {
                          "type": "object",
                          "description": "Specifies the checkout object. This object is not mandatory for back to back payments. Required when WORKFLOW is defined as CHECKOUT or is not sent. Not required for DIRECT payments.",
                          "properties": {
                            "session": {
                              "type": "string",
                              "description": "The checkout session has been created for the payment (MAX 64; MIN 36)."
                            },
                            "sdk_action_required": {
                              "type": "boolean",
                              "description": "Defines if the payment is asynchronous and requires additional steps based on a request to the SDK."
                            }
                          }
                        },
                        "payment_method": {
                          "type": "object",
                          "description": "Specifies the payment_method object.",
                          "properties": {
                            "vaulted_token": {
                              "type": "string",
                              "description": "The vaulted_token represents a securely stored payment_method associated with a previous transaction. When utilizing a vaulted_token for creating a payment, there is no need to send an additional token; it can be set as null (MAX: 64; MIN: 36)."
                            },
                            "type": {
                              "type": "string",
                              "description": "Payment method type. Mandatory for DIRECT or REDIRECT workflow. Required when integrating wallets, even when using the SDK."
                            },
                            "vault_on_success": {
                              "type": "boolean",
                              "description": "Flag to enroll the card after a successful payment."
                            },
                            "token": {
                              "type": "string",
                              "description": "The one time use payment method token provided by Yuno sdk. If a payment is created using a token, it is not necessary to send a vaulted_token as well, it can be defined as null. Not necessary for back to back payments (MAX: 64; MIN: 36)."
                            },
                            "payment_method_detail": {
                              "type": "object",
                              "description": "Specifies the payment method detail object, which provides details of the different transaction category types that are part of the payment method object.",
                              "properties": {
                                "card": {
                                  "type": "object",
                                  "description": "Specifies the details of the payment method when using a card.",
                                  "properties": {
                                    "verify": {
                                      "type": "boolean",
                                      "description": "Using amount = 0 and verify = true, you can verify the user's card without authorizing a real amount."
                                    },
                                    "capture": {
                                      "type": "boolean",
                                      "description": "Decides whether to authorize the payment or capture it. Authorizing a card payment allows you to reserve funds in a customer's bank account."
                                    },
                                    "installments": {
                                      "type": "integer",
                                      "description": "The card installments (MAX 50; MIN 1).",
                                      "format": "int32"
                                    },
                                    "first_installments_deferral": {
                                      "type": "integer",
                                      "description": "Number of months to wait to debit the first installment.",
                                      "format": "int32"
                                    },
                                    "installments_plan_id": {
                                      "type": "string",
                                      "example": null,
                                      "nullable": true
                                    },
                                    "installments_type": {
                                      "type": "string",
                                      "enum": [
                                        "MERCHANT",
                                        "ISSUER",
                                        "NONE"
                                      ],
                                      "description": "Defines the type of installments."
                                    },
                                    "installments_amount": {
                                      "type": "integer",
                                      "description": "The installment amount includes interests associated with the installment and the information is defined by the provider.",
                                      "format": "int32"
                                    },
                                    "soft_descriptor": {
                                      "type": "string",
                                      "description": "The descriptor passed per transaction to out platform. It will be presented on the customer's physical bank statement (MAX 15; MIN 0)."
                                    },
                                    "authorization_code": {
                                      "type": "string",
                                      "description": "The acquirer's response code."
                                    },
                                    "retrieval_reference_number": {
                                      "type": "string",
                                      "description": "The unique identifier assigned by an acquirer to an authorization."
                                    },
                                    "voucher": {
                                      "type": "string",
                                      "description": "The unique identifier of the payment receipt assigned by the issuing bank for a card transaction. This field is empty if the gateway does not provide information about the transaction (MAX 255; MIN 3)."
                                    },
                                    "card_data": {
                                      "type": "object",
                                      "description": "Specifies the details of the card.",
                                      "properties": {
                                        "holder_name": {
                                          "type": "string",
                                          "description": "Card holder's full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants."
                                        },
                                        "iin": {
                                          "type": "string",
                                          "description": "The issuer identification number (IIN) refers to the first few digits of the payment card number issued by a financial institution (MAX 8; MIN 6)."
                                        },
                                        "lfd": {
                                          "type": "string",
                                          "description": "The last four digits of the card (MAX 4; MIN 4)."
                                        },
                                        "number_length": {
                                          "type": "integer",
                                          "description": "The length of the card's number (MAX 19; MIN 8).",
                                          "format": "int32"
                                        },
                                        "security_code_length": {
                                          "type": "integer",
                                          "description": "The length of the card's security code (MAX 4; MIN 3).",
                                          "format": "int32"
                                        },
                                        "brand": {
                                          "type": "string",
                                          "description": "The card's brand information (MAX 255; MIN 3)."
                                        },
                                        "issuer_name": {
                                          "type": "string",
                                          "description": "The card's issuer (MAX 255; MIN 3)."
                                        },
                                        "issuer_code": {
                                          "type": "integer",
                                          "description": "The card's issuer identification code (MAX 255; MIN 3).",
                                          "format": "int32"
                                        },
                                        "category": {
                                          "type": "string",
                                          "description": "The category of the card's issuer (MAX 255; MIN 3)."
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "The type of the card's issuer (MAX 255; MIN 3)."
                                        }
                                      }
                                    },
                                    "three_d_secure": {
                                      "type": "object",
                                      "description": "Specifies the details of the 3DS Transaction.",
[...]
