{
  "openapi": "3.1.0",
  "info": {
    "title": "payment_methods",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1/payment-methods"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/{payment_method_id}": {
      "get": {
        "summary": "Retrieve Payment Method By ID",
        "description": "",
        "operationId": "retrieve-payment-method-by-id-checkout",
        "parameters": [
          {
            "name": "payment_method_id",
            "in": "path",
            "description": "The payment method id obtained while enrolling a new payment method (MAX 64; MIN 36).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Ready to enroll": {
                    "value": "{\n    \"id\": \"0395199e-a99c-4a85-acac-6c916f43fa74\",\n    \"idempotency_key\": null,\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"name\": \"Visa Credit Card\",\n    \"description\": \"Visa Credit Card\",\n    \"type\": \"VISA\",\n    \"category\": \"CARD\",\n    \"country\": \"US\",\n    \"status\": \"READY_TO_ENROLL\",\n    \"created_at\": \"2024-06-06T13:14:18.799434Z\",\n    \"updated_at\": \"2024-06-06T13:14:18.799437Z\",\n    \"enrollment\": {\n        \"session\": \"6641e30d-ca7a-440f-b97c-24231eac6dab\",\n        \"sdk_required_action\": false\n    },\n    \"provider\": {\n        \"id\": \"YUNO\",\n        \"type\": \"YUNO\",\n        \"provider_status\": null\n    },\n    \"verify\": {\n        \"vault_on_success\": false,\n        \"payment\": null\n    },\n    \"preferred\": null\n}\n"
                  },
                  "Enrolled": {
                    "value": "{\n    \"id\": \"77ee4a02-da3e-4a11-ac15-ba69e1813475\",\n    \"idempotency_key\": null,\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"name\": \"VISA ****1111\",\n    \"description\": \"VISA ****1111\",\n    \"type\": \"CARD\",\n    \"category\": \"CARD\",\n    \"country\": \"US\",\n    \"status\": \"ENROLLED\",\n    \"created_at\": \"2024-06-06T13:28:57.149530Z\",\n    \"updated_at\": \"2024-06-06T13:29:05.536493Z\",\n    \"enrollment\": {\n        \"session\": \"0685f1d6-11ff-4992-abc3-9eea1842205c\",\n        \"sdk_required_action\": true\n    },\n    \"provider\": {\n        \"id\": \"YUNO\",\n        \"type\": \"YUNO\",\n        \"token\": \"e47299a5-269e-42a1-9be1-9f64e400413a\",\n        \"provider_status\": null\n    },\n    \"card_data\": {\n        \"iin\": \"41111111\",\n        \"lfd\": \"1111\",\n        \"expiration_month\": 10,\n        \"expiration_year\": 25,\n        \"number_length\": 16,\n        \"security_code_length\": 3,\n        \"brand\": \"VISA\",\n        \"issuer\": \"JPMORGAN CHASE BANK N A\",\n        \"issuer_code\": null,\n        \"category\": \"CREDIT\",\n        \"type\": \"CREDIT\",\n        \"fingerprint\": \"55a7fe38-cdc3-45dc-8c5f-820751799c76\"\n    },\n    \"verify\": {\n        \"vault_on_success\": false,\n        \"payment\": null\n    },\n    \"preferred\": null\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Ready to enroll",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "0395199e-a99c-4a85-acac-6c916f43fa74"
                        },
                        "idempotency_key": {},
                        "account_id": {
                          "type": "string",
                          "example": "493e9374-510a-4201-9e09-de669d75f256"
                        },
                        "name": {
                          "type": "string",
                          "example": "Visa Credit Card"
                        },
                        "description": {
                          "type": "string",
                          "example": "Visa Credit Card"
                        },
                        "type": {
                          "type": "string",
                          "example": "VISA"
                        },
                        "category": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        },
                        "status": {
                          "type": "string",
                          "example": "READY_TO_ENROLL"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-06-06T13:14:18.799434Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2024-06-06T13:14:18.799437Z"
                        },
                        "enrollment": {
                          "type": "object",
                          "properties": {
                            "session": {
                              "type": "string",
                              "example": "6641e30d-ca7a-440f-b97c-24231eac6dab"
                            },
                            "sdk_required_action": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        },
                        "provider": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "YUNO"
                            },
                            "type": {
                              "type": "string",
                              "example": "YUNO"
                            },
                            "provider_status": {}
                          }
                        },
                        "verify": {
                          "type": "object",
                          "properties": {
                            "vault_on_success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "payment": {}
                          }
                        },
                        "preferred": {}
                      }
                    },
                    {
                      "title": "Enrolled",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "77ee4a02-da3e-4a11-ac15-ba69e1813475"
                        },
                        "idempotency_key": {},
                        "account_id": {
                          "type": "string",
                          "example": "493e9374-510a-4201-9e09-de669d75f256"
                        },
                        "name": {
                          "type": "string",
                          "example": "VISA ****1111"
                        },
                        "description": {
                          "type": "string",
                          "example": "VISA ****1111"
                        },
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "category": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        },
                        "status": {
                          "type": "string",
                          "example": "ENROLLED"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-06-06T13:28:57.149530Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2024-06-06T13:29:05.536493Z"
                        },
                        "enrollment": {
                          "type": "object",
                          "properties": {
                            "session": {
                              "type": "string",
                              "example": "0685f1d6-11ff-4992-abc3-9eea1842205c"
                            },
                            "sdk_required_action": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            }
                          }
                        },
                        "provider": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "YUNO"
                            },
                            "type": {
                              "type": "string",
                              "example": "YUNO"
                            },
                            "token": {
                              "type": "string",
                              "example": "e47299a5-269e-42a1-9be1-9f64e400413a"
                            },
                            "provider_status": {}
                          }
                        },
                        "card_data": {
                          "type": "object",
                          "properties": {
                            "iin": {
                              "type": "string",
                              "example": "41111111"
                            },
                            "lfd": {
                              "type": "string",
                              "example": "1111"
                            },
                            "expiration_month": {
                              "type": "integer",
                              "example": 10,
                              "default": 0
                            },
                            "expiration_year": {
                              "type": "integer",
                              "example": 25,
                              "default": 0
                            },
                            "number_length": {
                              "type": "integer",
                              "example": 16,
                              "default": 0
                            },
                            "security_code_length": {
                              "type": "integer",
                              "example": 3,
                              "default": 0
                            },
                            "brand": {
                              "type": "string",
                              "example": "VISA"
                            },
                            "issuer": {
                              "type": "string",
                              "example": "JPMORGAN CHASE BANK N A"
                            },
                            "issuer_code": {},
                            "category": {
                              "type": "string",
                              "example": "CREDIT"
                            },
                            "type": {
                              "type": "string",
                              "example": "CREDIT"
                            },
                            "fingerprint": {
                              "type": "string",
                              "example": "55a7fe38-cdc3-45dc-8c5f-820751799c76"
                            }
                          }
                        },
                        "verify": {
                          "type": "object",
                          "properties": {
                            "vault_on_success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "payment": {}
                          }
                        },
                        "preferred": {}
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": "{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}