{"openapi":"3.1.0","info":{"title":"payment-api-refundcancel-payment","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1/payments"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","x-default":"<Your public-api-key>","name":"public-api-key"},"sec1":{"type":"apiKey","in":"header","x-default":"<Your private-secret-key>","name":"private-secret-key"},"sec2":{"type":"apiKey","in":"header","x-default":"<Your X-Idempotency-Key>","name":"X-Idempotency-Key"}}},"security":[{"sec0":[],"sec1":[],"sec2":[]}],"paths":{"/{id}/transactions/{transaction_id}/refund":{"post":{"summary":"Refund Payment","description":"","operationId":"refund-payment","parameters":[{"name":"id","in":"path","description":"The unique identifier of the payment (MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true},{"name":"transaction_id","in":"path","description":"The unique identifier of the transaction.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["merchant_reference"],"properties":{"description":{"type":"string","description":"Description of the refund. (MAX 255; MIN 3)."},"reason":{"type":"string","description":"Indicating the reason for the refund. If set, possible values are `DUPLICATE`, `FRAUDULENT`, and `REQUESTED_BY_CUSTOMER`.","enum":["DUPLICATE","FRAUDULENT","REQUESTED_BY_CUSTOMER"]},"merchant_reference":{"type":"string","description":"Identification of the payment transaction defined by the merchant (MAX 255; MIN 3)."},"amount":{"type":"object","description":"Specifies the amount object for refund. **Only required for partial refunds**.","properties":{"currency":{"type":"string","description":"The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).","enum":["","ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU"]},"value":{"type":"string","description":"The payment amount (multiple of 0.0001)."}}},"simplified_mode":{"type":"boolean","description":"Determines whether Yuno should automatically attempt to refund a payment after an initial error or decline. When set to `true`, Yuno will retry the refund process if the first attempt fails. By default, this is set to `false`. Access [Transaction Retries](doc:transaction-retries) for more details."},"response_additional_data":{"type":"object","description":"Specifies additional data for required the transaction response","properties":{"receipt":{"type":"boolean","description":"Indicates if a receipt is necessary for the transaction response"},"receipt_language":{"type":"string","description":"Indicates the language of the receipt to be generated","enum":["ES","EN","PT"]}}},"customer_payer":{"type":"object","description":"Specifies customer object for payments.","properties":{"first_name":{"type":"string","description":"The customer's first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The customer's last name (MAX 255; MIN 3)."},"gender":{"type":"string","description":"The customer's gender (MAX 1; MIN 1). <br/>- M=Male <br/>- F=Female <br/>- NB=Non Binary <br/>- NA=Not applicable <br/>- NK=Not Known <br/>- U=Undefined.","enum":["M","F","NB","NA","NK","U"]},"date_of_birth":{"type":"string","description":"The customer's date of birth in the `YYYY-MM-DD` format (Length: 10)."},"email":{"type":"string","description":"The customer's e-mail (MAX 255; MIN 3)."},"nationality":{"type":"string","description":"The customer's nationality (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."},"document":{"type":"object","description":"Specifies the customer's document object, including its number and type.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3)"},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2). Access [Document Type List](ref:customer-object#document-type-list) for more details.","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"phone":{"type":"object","description":"Specifies the customer's phone object.","required":["country_code","number"],"properties":{"country_code":{"type":"string","description":"The country code of the customer's phone (MAX 3; MIN 2)."},"number":{"type":"string","description":"The customer's phone number, without the country code (MAX 32; MIN 1)."}}},"billing_address":{"type":"object","description":"Specifies the customer's billing address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY"]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 4)."}}},"shipping_address":{"type":"object","description":"Specifies the customer's shipping address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary shipping address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary shipping address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the shipping address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the shipping address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY"]},"state":{"type":"string","description":"The state considered for the shipping address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the shipping address (MAX 11; MIN 4)."}}}}}}},"examples":{"Full Refund":{"value":{"description":"Duplicate","reason":"REQUESTED_BY_CUSTOMER","merchant_reference":"AAB01-432245"}},"Partial Refund":{"value":{"amount":{"currency":"USD","value":30},"description":"Duplicate transaction","reason":"REQUESTED_BY_CUSTOMER","merchant_reference":"US-INV-432245"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Full Refund":{"value":"{\n  \"id\": \"f2d6884a-f737-4565-ae32-ff60b19089e3\",\n  \"account_id\": \"\",\n  \"description\": \"Duplicate\",\n  \"country\": \"US\",\n  \"status\": \"REFUNDED\",\n  \"sub_status\": \"REFUNDED\",\n  \"merchant_order_id\": \"AAB01-432245\",\n  \"created_at\": \"2025-04-14T17:51:45.179645Z\",\n  \"updated_at\": \"2025-04-14T17:52:07.908698Z\",\n  \"amount\": {\n    \"captured\": 0,\n    \"currency\": \"USD\",\n    \"currency_conversion\": null,\n    \"refunded\": 30000,\n    \"value\": 30000\n  },\n  \"checkout\": {\n    \"session\": \"\",\n    \"sdk_action_required\": false\n  },\n  \"payment_method\": {\n    \"vaulted_token\": \"\",\n    \"type\": \"CARD\",\n    \"vault_on_success\": false,\n    \"token\": \"\",\n    \"parent_payment_method_type\": null,\n    \"payment_method_detail\": {\n      \"card\": {\n        \"verify\": false,\n        \"capture\": false,\n        \"installments\": 1,\n        \"installments_plan_id\": null,\n        \"first_installment_deferral\": 0,\n        \"installments_type\": \"\",\n        \"installment_amount\": null,\n        \"soft_descriptor\": \"\",\n        \"authorization_code\": \"216303\",\n        \"retrieval_reference_number\": \"\",\n        \"voucher\": null,\n        \"card_data\": {\n          \"holder_name\": \"John Doe\",\n          \"iin\": \"41111111\",\n          \"lfd\": \"1111\",\n          \"number_length\": 16,\n          \"security_code_length\": 3,\n          \"brand\": \"VISA\",\n          \"issuer_name\": \"CHASE BANK USA\",\n          \"issuer_code\": null,\n          \"country_code\": \"US\",\n          \"category\": \"CLASSIC\",\n          \"type\": \"DEBIT\",\n          \"three_d_secure\": {\n            \"version\": null,\n            \"electronic_commerce_indicator\": null,\n            \"cryptogram\": null,\n            \"transaction_id\": null,\n            \"directory_server_transaction_id\": null,\n            \"pares_status\": null,\n            \"acs_id\": null\n          },\n          \"fingerprint\": \"d244e20d-43a1-43f7-9b48-0a76423be35e\",\n          \"expiration_month\": 3,\n          \"expiration_year\": 26\n        },\n        \"stored_credentials\": {\n          \"reason\": null,\n          \"usage\": null,\n          \"subscription_agreement_id\": null,\n          \"network_transaction_id\": null\n        }\n      }\n    }\n  },\n  \"customer_payer\": {\n    \"id\": null,\n    \"merchant_customer_id\": \"1744653105\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"gender\": \"M\",\n    \"date_of_birth\": \"1990-02-28\",\n    \"email\": \"john.doe@example.com\",\n    \"nationality\": \"US\",\n    \"ip_address\": \"192.168.1.1\",\n    \"device_fingerprint\": null,\n    \"device_fingerprints\": [],\n    \"browser_info\": null,\n    \"document\": {\n      \"document_type\": \"SSN\",\n      \"document_number\": \"123-45-6789\"\n    },\n    \"phone\": {\n      \"number\": \"5551234567\",\n      \"country_code\": \"1\"\n    },\n    \"billing_address\": {\n      \"address_line_1\": \"1234 Elm Street\",\n      \"address_line_2\": \"Apt 5B\",\n      \"country\": \"US\",\n      \"state\": \"California\",\n      \"city\": \"Los Angeles\",\n      \"zip_code\": \"90001\",\n      \"neighborhood\": null\n    },\n    \"shipping_address\": {\n      \"address_line_1\": \"1234 Elm Street\",\n      \"address_line_2\": \"Apt 5B\",\n      \"country\": \"US\",\n      \"state\": \"California\",\n      \"city\": \"Los Angeles\",\n      \"zip_code\": \"90001\",\n      \"neighborhood\": null\n    },\n    \"merchant_customer_created_at\": null\n  },\n  \"additional_data\": null,\n  \"transactions\": {\n    \"id\": \"5414f862-51e6-433f-a54c-b46b176e87a0\",\n    \"type\": \"REFUND\",\n    \"status\": \"SUCCEEDED\",\n    \"category\": \"CARD\",\n    \"amount\": 30000,\n    \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n    \"payment_method\": {\n      \"vaulted_token\": \"\",\n      \"type\": \"CARD\",\n      \"vault_on_success\": false,\n      \"token\": \"\",\n      \"parent_payment_method_type\": null,\n      \"detail\": {\n        \"card\": {\n          \"verify\": false,\n          \"capture\": false,\n          \"installments\": 1,\n          \"installments_plan_id\": null,\n          \"first_installment_deferral\": 0,\n          \"installments_type\": \"\",\n          \"installment_amount\": null,\n          \"soft_descriptor\": \"\",\n          \"authorization_code\": \"216303\",\n          \"retrieval_reference_number\": \"\",\n          \"voucher\": null,\n          \"card_data\": {\n            \"holder_name\": \"John Doe\",\n            \"iin\": \"41111111\",\n            \"lfd\": \"1111\",\n            \"number_length\": 16,\n            \"security_code_length\": 3,\n            \"brand\": \"VISA\",\n            \"issuer_name\": \"CHASE BANK USA\",\n            \"issuer_code\": null,\n            \"country_code\": \"US\",\n            \"category\": \"CLASSIC\",\n            \"type\": \"DEBIT\",\n            \"three_d_secure\": {\n              \"version\": null,\n              \"electronic_commerce_indicator\": null,\n              \"cryptogram\": null,\n              \"transaction_id\": null,\n              \"directory_server_transaction_id\": null,\n              \"pares_status\": null,\n              \"acs_id\": null\n            },\n            \"fingerprint\": \"d244e20d-43a1-43f7-9b48-0a76423be35e\",\n            \"expiration_month\": 3,\n            \"expiration_year\": 26\n          },\n          \"stored_credentials\": {\n            \"reason\": null,\n            \"usage\": null,\n            \"subscription_agreement_id\": null,\n            \"network_transaction_id\": null\n          }\n        }\n      }\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"reason\": \"REQUESTED_BY_CUSTOMER\",\n    \"description\": \"Test refund\",\n    \"merchant_reference\": \"REFUND_001\",\n    \"provider_data\": {\n      \"id\": \"YUNO_TEST_PAYMENT_GW\",\n      \"transaction_id\": \"2e5c04d5-4cf7-4d2a-b57a-dd5eb9a687bc\",\n      \"account_id\": \"\",\n      \"status\": \"\",\n      \"sub_status\": \"\",\n      \"status_detail\": \"\",\n      \"response_message\": null,\n      \"response_code\": \"SUCCEEDED\",\n      \"raw_response\": {\n        \"message\": \"provider response\"\n      },\n      \"third_party_transaction_id\": null,\n      \"third_party_account_id\": null,\n      \"iso8583_response_code\": null,\n      \"iso8583_response_message\": null\n    },\n    \"connection_data\": null,\n    \"created_at\": \"2025-04-14T17:52:07.768528Z\",\n    \"updated_at\": \"2025-04-14T17:52:07.862912Z\"\n  },\n  \"transactions_history\": null,\n  \"metadata\": [],\n  \"fraud_screening\": null,\n  \"payment_link_id\": \"\",\n  \"subscription_code\": null,\n  \"routing_rules\": null,\n  \"simplified_mode\": false\n}\n"},"Partial Refund":{"value":"{\n  \"id\": \"b908fd70-9af7-41a6-8e1c-3a5ec78ea88b\",\n  \"account_id\": \"\",\n  \"description\": \"Duplicate transaction\",\n  \"country\": \"US\",\n  \"status\": \"SUCCEEDED\",\n  \"sub_status\": \"PARTIALLY_REFUNDED\",\n  \"merchant_order_id\": \"0000023\",\n  \"created_at\": \"2025-04-14T17:50:55.936358Z\",\n  \"updated_at\": \"2025-04-14T17:51:23.347308Z\",\n  \"amount\": {\n    \"captured\": 0,\n    \"currency\": \"USD\",\n    \"currency_conversion\": null,\n    \"refunded\": 30,\n    \"value\": 300\n  },\n  \"checkout\": {\n    \"session\": \"\",\n    \"sdk_action_required\": false\n  },\n  \"payment_method\": {\n    \"vaulted_token\": \"\",\n    \"type\": \"CARD\",\n    \"vault_on_success\": false,\n    \"token\": \"\",\n    \"parent_payment_method_type\": null,\n    \"payment_method_detail\": {\n      \"card\": {\n        \"verify\": false,\n        \"capture\": false,\n        \"installments\": 1,\n        \"installments_plan_id\": null,\n        \"first_installment_deferral\": 0,\n        \"installments_type\": \"\",\n        \"installment_amount\": null,\n        \"soft_descriptor\": \"\",\n        \"authorization_code\": \"344836\",\n        \"retrieval_reference_number\": \"\",\n        \"voucher\": null,\n        \"card_data\": {\n          \"holder_name\": \"John Doe\",\n          \"iin\": \"41111111\",\n          \"lfd\": \"1111\",\n          \"number_length\": 16,\n          \"security_code_length\": 3,\n          \"brand\": \"VISA\",\n          \"issuer_name\": \"CHASE BANK USA\",\n          \"issuer_code\": null,\n          \"country_code\": \"US\",\n          \"category\": \"CLASSIC\",\n          \"type\": \"DEBIT\",\n          \"three_d_secure\": {\n            \"version\": null,\n            \"electronic_commerce_indicator\": null,\n            \"cryptogram\": null,\n            \"transaction_id\": null,\n            \"directory_server_transaction_id\": null,\n            \"pares_status\": null,\n            \"acs_id\": null\n          },\n          \"fingerprint\": \"d244e20d-43a1-43f7-9b48-0a76423be35e\",\n          \"expiration_month\": 3,\n          \"expiration_year\": 26\n        },\n        \"stored_credentials\": {\n          \"reason\": null,\n          \"usage\": null,\n          \"subscription_agreement_id\": null,\n          \"network_transaction_id\": null\n        }\n      }\n    }\n  },\n  \"customer_payer\": {\n    \"id\": null,\n    \"merchant_customer_id\": \"1744653056\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"gender\": \"M\",\n    \"date_of_birth\": \"1990-02-28\",\n    \"email\": \"john.doe@example.com\",\n    \"nationality\": \"US\",\n    \"ip_address\": \"192.0.2.1\",\n    \"device_fingerprint\": null,\n    \"device_fingerprints\": [],\n    \"browser_info\": null,\n    \"document\": {\n      \"document_type\": \"SSN\",\n      \"document_number\": \"123-45-6789\"\n    },\n    \"phone\": {\n      \"number\": \"5551234567\",\n      \"country_code\": \"1\"\n    },\n    \"billing_address\": {\n      \"address_line_1\": \"456 Maple Ave\",\n      \"address_line_2\": \"Apt 12C\",\n      \"country\": \"US\",\n      \"state\": \"New York\",\n      \"city\": \"New York\",\n      \"zip_code\": \"10001\",\n      \"neighborhood\": null\n    },\n    \"shipping_address\": {\n      \"address_line_1\": \"456 Maple Ave\",\n      \"address_line_2\": \"Apt 12C\",\n      \"country\": \"US\",\n      \"state\": \"New York\",\n      \"city\": \"New York\",\n      \"zip_code\": \"10001\",\n      \"neighborhood\": null\n    },\n    \"merchant_customer_created_at\": null\n  },\n  \"additional_data\": null,\n  \"transactions\": {\n    \"id\": \"3f47548e-a1c9-418e-b899-40d30da9c699\",\n    \"type\": \"REFUND\",\n    \"status\": \"SUCCEEDED\",\n    \"category\": \"CARD\",\n    \"amount\": 30,\n    \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n    \"payment_method\": {\n      \"vaulted_token\": \"\",\n      \"type\": \"CARD\",\n      \"vault_on_success\": false,\n      \"token\": \"\",\n      \"parent_payment_method_type\": null,\n      \"detail\": {\n        \"card\": {\n          \"verify\": false,\n          \"capture\": false,\n          \"installments\": 1,\n          \"installments_plan_id\": null,\n          \"first_installment_deferral\": 0,\n          \"installments_type\": \"\",\n          \"installment_amount\": null,\n          \"soft_descriptor\": \"\",\n          \"authorization_code\": \"344836\",\n          \"retrieval_reference_number\": \"\",\n          \"voucher\": null,\n          \"card_data\": {\n            \"holder_name\": \"John Doe\",\n            \"iin\": \"41111111\",\n            \"lfd\": \"1111\",\n            \"number_length\": 16,\n            \"security_code_length\": 3,\n            \"brand\": \"VISA\",\n            \"issuer_name\": \"CHASE BANK USA\",\n            \"issuer_code\": null,\n            \"country_code\": \"US\",\n            \"category\": \"CLASSIC\",\n            \"type\": \"DEBIT\",\n            \"three_d_secure\": {\n              \"version\": null,\n              \"electronic_commerce_indicator\": null,\n              \"cryptogram\": null,\n              \"transaction_id\": null,\n              \"directory_server_transaction_id\": null,\n              \"pares_status\": null,\n              \"acs_id\": null\n            },\n            \"fingerprint\": \"d244e20d-43a1-43f7-9b48-0a76423be35e\",\n            \"expiration_month\": 3,\n            \"expiration_year\": 26\n          },\n          \"stored_credentials\": {\n            \"reason\": null,\n            \"usage\": null,\n            \"subscription_agreement_id\": null,\n            \"network_transaction_id\": null\n          }\n        }\n      }\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"reason\": \"REQUESTED_BY_CUSTOMER\",\n    \"description\": \"Test refund\",\n    \"merchant_reference\": \"US-INV-432245\",\n    \"provider_data\": {\n      \"id\": \"YUNO_TEST_PAYMENT_GW\",\n      \"transaction_id\": \"831017b2-928f-4f19-8f0b-0e0ae14013bd\",\n      \"account_id\": \"\",\n      \"status\": \"\",\n      \"sub_status\": \"\",\n      \"status_detail\": \"\",\n      \"response_message\": null,\n      \"response_code\": \"SUCCEEDED\",\n      \"raw_response\": {\n        \"message\": \"provider response\"\n      },\n      \"third_party_transaction_id\": null,\n      \"third_party_account_id\": null,\n      \"iso8583_response_code\": null,\n      \"iso8583_response_message\": null\n    },\n    \"connection_data\": null,\n    \"created_at\": \"2025-04-14T17:51:23.232152Z\",\n    \"updated_at\": \"2025-04-14T17:51:23.322335Z\"\n  },\n  \"transactions_history\": null,\n  \"metadata\": [],\n  \"fraud_screening\": null,\n  \"payment_link_id\": \"\",\n  \"subscription_code\": null,\n  \"routing_rules\": null,\n  \"simplified_mode\": false\n}\n"}},"schema":{"oneOf":[{"title":"Full Refund","type":"object","properties":{"id":{"type":"string","example":"f2d6884a-f737-4565-ae32-ff60b19089e3"},"account_id":{"type":"string","example":""},"description":{"type":"string","example":"Duplicate"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"REFUNDED"},"sub_status":{"type":"string","example":"REFUNDED"},"merchant_order_id":{"type":"string","example":"AAB01-432245"},"created_at":{"type":"string","example":"2025-04-14T17:51:45.179645Z"},"updated_at":{"type":"string","example":"2025-04-14T17:52:07.908698Z"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"USD"},"currency_conversion":{},"refunded":{"type":"integer","example":30000,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"checkout":{"type":"object","properties":{"session":{"type":"string","example":""},"sdk_action_required":{"type":"boolean","example":false,"default":true}}},"payment_method":{"type":"object","properties":{"vaulted_token":{"type":"string","example":""},"type":{"type":"string","example":"CARD"},"vault_on_success":{"type":"boolean","example":false,"default":true},"token":{"type":"string","example":""},"parent_payment_method_type":{},"payment_method_detail":{"type":"object","properties":{"card":{"type":"object","properties":{"verify":{"type":"boolean","example":false,"default":true},"capture":{"type":"boolean","example":false,"default":true},"installments":{"type":"integer","example":1,"default":0},"installments_plan_id":{},"first_installment_deferral":{"type":"integer","example":0,"default":0},"installments_type":{"type":"string","example":""},"installment_amount":{},"soft_descriptor":{"type":"string","example":""},"authorization_code":{"type":"string","example":"216303"},"retrieval_reference_number":{"type":"string","example":""},"voucher":{},"card_data":{"type":"object","properties":{"holder_name":{"type":"string","example":"John Doe"},"iin":{"type":"string","example":"41111111"},"lfd":{"type":"string","example":"1111"},"number_length":{"type":"integer","example":16,"default":0},"security_code_length":{"type":"integer","example":3,"default":0},"brand":{"type":"string","example":"VISA"},"issuer_name":{"type":"string","example":"CHASE BANK USA"},"issuer_code":{},"country_code":{"type":"string","example":"US"},"category":{"type":"string","example":"CLASSIC"},"type":{"type":"string","example":"DEBIT"},"three_d_secure":{"type":"object","properties":{"version":{},"electronic_commerce_indicator":{},"cryptogram":{},"transaction_id":{},"directory_server_transaction_id":{},"pares_status":{},"acs_id":{}}},"fingerprint":{"type":"string","example":"d244e20d-43a1-43f7-9b48-0a76423be35e"},"expiration_month":{"type":"integer","example":3,"default":0},"expiration_year":{"type":"integer","example":26,"default":0}}},"stored_credentials":{"type":"object","properties":{"reason":{},"usage":{},"subscription_agreement_id":{},"network_transaction_id":{}}}}}}}}},"customer_payer":{"type":"object","properties":{"id":{},"merchant_customer_id":{"type":"string","example":"1744653105"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"gender":{"type":"string","example":"M"},"date_of_birth":{"type":"string","example":"1990-02-28"},"email":{"type":"string","example":"john.doe@example.com"},"nationality":{"type":"string","example":"US"},"ip_address":{"type":"string","example":"192.168.1.1"},"device_fingerprint":{},"device_fingerprints":{"type":"array"},"browser_info":{},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"SSN"},"document_number":{"type":"string","example":"123-45-6789"}}},"phone":{"type":"object","properties":{"number":{"type":"string","example":"5551234567"},"country_code":{"type":"string","example":"1"}}},"billing_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"1234 Elm Street"},"address_line_2":{"type":"string","example":"Apt 5B"},"country":{"type":"string","example":"US"},"state":{"type":"string","example":"California"},"city":{"type":"string","example":"Los Angeles"},"zip_code":{"type":"string","example":"90001"},"neighborhood":{}}},"shipping_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"1234 Elm Street"},"address_line_2":{"type":"string","example":"Apt 5B"},"country":{"type":"string","example":"US"},"state":{"type":"string","example":"California"},"city":{"type":"string","example":"Los Angeles"},"zip_code":{"type":"string","example":"90001"},"neighborhood":{}}},"merchant_customer_created_at":{}}},"additional_data":{},"transactions":{"type":"object","properties":{"id":{"type":"string","example":"5414f862-51e6-433f-a54c-b46b176e87a0"},"type":{"type":"string","example":"REFUND"},"status":{"type":"string","example":"SUCCEEDED"},"category":{"type":"string","example":"CARD"},"amount":{"type":"integer","example":30000,"default":0},"provider_id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"payment_method":{"type":"object","properties":{"vaulted_token":{"type":"string","example":""},"type":{"type":"string","example":"CARD"},"vault_on_success":{"type":"boolean","example":false,"default":true},"token":{"type":"string","example":""},"parent_payment_method_type":{},"detail":{"type":"object","properties":{"card":{"type":"object","properties":{"verify":{"type":"boolean","example":false,"default":true},"capture":{"type":"boolean","example":false,"default":true},"installments":{"type":"integer","example":1,"default":0},"installments_plan_id":{},"first_installment_deferral":{"type":"integer","example":0,"default":0},"installments_type":{"type":"string","example":""},"installment_amount":{},"soft_descriptor":{"type":"string","example":""},"authorization_code":{"type":"string","example":"216303"},"retrieval_reference_number":{"type":"string","example":""},"voucher":{},"card_data":{"type":"object","properties":{"holder_name":{"type":"string","example":"John Doe"},"iin":{"type":"string","example":"41111111"},"lfd":{"type":"string","example":"1111"},"number_length":{"type":"integer","example":16,"default":0},"security_code_length":{"type":"integer","example":3,"default":0},"brand":{"type":"string","example":"VISA"},"issuer_name":{"type":"string","example":"CHASE BANK USA"},"issuer_code":{},"country_code":{"type":"string","example":"US"},"category":{"type":"string","example":"CLASSIC"},"type":{"type":"string","example":"DEBIT"},"three_d_secure":{"type":"object","properties":{"version":{},"electronic_commerce_indicator":{},"cryptogram":{},"transaction_id":{},"directory_server_transaction_id":{},"pares_status":{},"acs_id":{}}},"fingerprint":{"type":"string","example":"d244e20d-43a1-43f7-9b48-0a76423be35e"},"expiration_month":{"type":"integer","example":3,"default":0},"expiration_year":{"type":"integer","example":26,"default":0}}},"stored_credentials":{"type":"object","properties":{"reason":{},"usage":{},"subscription_agreement_id":{},"network_transaction_id":{}}}}}}}}},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":"Transaction successful"},"reason":{"type":"string","example":"REQUESTED_BY_CUSTOMER"},"description":{"type":"string","example":"Test refund"},"merchant_reference":{"type":"string","example":"REFUND_001"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"transaction_id":{"type":"string","example":"2e5c04d5-4cf7-4d2a-b57a-dd5eb9a687bc"},"account_id":{"type":"string","example":""},"status":{"type":"string","example":""},"sub_status":{"type":"string","example":""},"status_detail":{"type":"string","example":""},"response_message":{},"response_code":{"type":"string","example":"SUCCEEDED"},"raw_response":{"type":"object","properties":{"message":{"type":"string","example":"provider response"}}},"third_party_transaction_id":{},"third_party_account_id":{},"iso8583_response_code":{},"iso8583_response_message":{}}},"connection_data":{},"created_at":{"type":"string","example":"2025-04-14T17:52:07.768528Z"},"updated_at":{"type":"string","example":"2025-04-14T17:52:07.862912Z"}}},"transactions_history":{},"metadata":{"type":"array"},"fraud_screening":{},"payment_link_id":{"type":"string","example":""},"subscription_code":{},"routing_rules":{},"simplified_mode":{"type":"boolean","example":false,"default":true}}},{"title":"Partial Refund","type":"object","properties":{"id":{"type":"string","example":"b908fd70-9af7-41a6-8e1c-3a5ec78ea88b"},"account_id":{"type":"string","example":""},"description":{"type":"string","example":"Duplicate transaction"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"SUCCEEDED"},"sub_status":{"type":"string","example":"PARTIALLY_REFUNDED"},"merchant_order_id":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2025-04-14T17:50:55.936358Z"},"updated_at":{"type":"string","example":"2025-04-14T17:51:23.347308Z"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"USD"},"currency_conversion":{},"refunded":{"type":"integer","example":30,"default":0},"value":{"type":"integer","example":300,"default":0}}},"checkout":{"type":"object","properties":{"session":{"type":"string","example":""},"sdk_action_required":{"type":"boolean","example":false,"default":true}}},"payment_method":{"type":"object","properties":{"vaulted_token":{"type":"string","example":""},"type":{"type":"string","example":"CARD"},"vault_on_success":{"type":"boolean","example":false,"default":true},"token":{"type":"string","example":""},"parent_payment_method_type":{},"payment_method_detail":{"type":"object","properties":{"card":{"type":"object","properties":{"verify":{"type":"boolean","example":false,"default":true},"capture":{"type":"boolean","example":false,"default":true},"installments":{"type":"integer","example":1,"default":0},"installments_plan_id":{},"first_installment_deferral":{"type":"integer","example":0,"default":0},"installments_type":{"type":"string","example":""},"installment_amount":{},"soft_descriptor":{"type":"string","example":""},"authorization_code":{"type":"string","example":"344836"},"retrieval_reference_number":{"type":"string","example":""},"voucher":{},"card_data":{"type":"object","properties":{"holder_name":{"type":"string","example":"John Doe"},"iin":{"type":"string","example":"41111111"},"lfd":{"type":"string","example":"1111"},"number_length":{"type":"integer","example":16,"default":0},"security_code_length":{"type":"integer","example":3,"default":0},"brand":{"type":"string","example":"VISA"},"issuer_name":{"type":"string","example":"CHASE BANK USA"},"issuer_code":{},"country_code":{"type":"string","example":"US"},"category":{"type":"string","example":"CLASSIC"},"type":{"type":"string","example":"DEBIT"},"three_d_secure":{"type":"object","properties":{"version":{},"electronic_commerce_indicator":{},"cryptogram":{},"transaction_id":{},"directory_server_transaction_id":{},"pares_status":{},"acs_id":{}}},"fingerprint":{"type":"string","example":"d244e20d-43a1-43f7-9b48-0a76423be35e"},"expiration_month":{"type":"integer","example":3,"default":0},"expiration_year":{"type":"integer","example":26,"default":0}}},"stored_credentials":{"type":"object","properties":{"reason":{},"usage":{},"subscription_agreement_id":{},"network_transaction_id":{}}}}}}}}},"customer_payer":{"type":"object","properties":{"id":{},"merchant_customer_id":{"type":"string","example":"1744653056"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"gender":{"type":"string","example":"M"},"date_of_birth":{"type":"string","example":"1990-02-28"},"email":{"type":"string","example":"john.doe@example.com"},"nationality":{"type":"string","example":"US"},"ip_address":{"type":"string","example":"192.0.2.1"},"device_fingerprint":{},"device_fingerprints":{"type":"array"},"browser_info":{},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"SSN"},"document_number":{"type":"string","example":"123-45-6789"}}},"phone":{"type":"object","properties":{"number":{"type":"string","example":"5551234567"},"country_code":{"type":"string","example":"1"}}},"billing_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"456 Maple Ave"},"address_line_2":{"type":"string","example":"Apt 12C"},"country":{"type":"string","example":"US"},"state":{"type":"string","example":"New York"},"city":{"type":"string","example":"New York"},"zip_code":{"type":"string","example":"10001"},"neighborhood":{}}},"shipping_address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"456 Maple Ave"},"address_line_2":{"type":"string","example":"Apt 12C"},"country":{"type":"string","example":"US"},"state":{"type":"string","example":"New York"},"city":{"type":"string","example":"New York"},"zip_code":{"type":"string","example":"10001"},"neighborhood":{}}},"merchant_customer_created_at":{}}},"additional_data":{},"transactions":{"type":"object","properties":{"id":{"type":"string","example":"3f47548e-a1c9-418e-b899-40d30da9c699"},"type":{"type":"string","example":"REFUND"},"status":{"type":"string","example":"SUCCEEDED"},"category":{"type":"string","example":"CARD"},"amount":{"type":"integer","example":30,"default":0},"provider_id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"payment_method":{"type":"object","properties":{"vaulted_token":{"type":"string","example":""},"type":{"type":"string","example":"CARD"},"vault_on_success":{"type":"boolean","example":false,"default":true},"token":{"type":"string","example":""},"parent_payment_method_type":{},"detail":{"type":"object","properties":{"card":{"type":"object","properties":{"verify":{"type":"boolean","example":false,"default":true},"capture":{"type":"boolean","example":false,"default":true},"installments":{"type":"integer","example":1,"default":0},"installments_plan_id":{},"first_installment_deferral":{"type":"integer","example":0,"default":0},"installments_type":{"type":"string","example":""},"installment_amount":{},"soft_descriptor":{"type":"string","example":""},"authorization_code":{"type":"string","example":"344836"},"retrieval_reference_number":{"type":"string","example":""},"voucher":{},"card_data":{"type":"object","properties":{"holder_name":{"type":"string","example":"John Doe"},"iin":{"type":"string","example":"41111111"},"lfd":{"type":"string","example":"1111"},"number_length":{"type":"integer","example":16,"default":0},"security_code_length":{"type":"integer","example":3,"default":0},"brand":{"type":"string","example":"VISA"},"issuer_name":{"type":"string","example":"CHASE BANK USA"},"issuer_code":{},"country_code":{"type":"string","example":"US"},"category":{"type":"string","example":"CLASSIC"},"type":{"type":"string","example":"DEBIT"},"three_d_secure":{"type":"object","properties":{"version":{},"electronic_commerce_indicator":{},"cryptogram":{},"transaction_id":{},"directory_server_transaction_id":{},"pares_status":{},"acs_id":{}}},"fingerprint":{"type":"string","example":"d244e20d-43a1-43f7-9b48-0a76423be35e"},"expiration_month":{"type":"integer","example":3,"default":0},"expiration_year":{"type":"integer","example":26,"default":0}}},"stored_credentials":{"type":"object","properties":{"reason":{},"usage":{},"subscription_agreement_id":{},"network_transaction_id":{}}}}}}}}},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":"Transaction successful"},"reason":{"type":"string","example":"REQUESTED_BY_CUSTOMER"},"description":{"type":"string","example":"Test refund"},"merchant_reference":{"type":"string","example":"US-INV-432245"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"transaction_id":{"type":"string","example":"831017b2-928f-4f19-8f0b-0e0ae14013bd"},"account_id":{"type":"string","example":""},"status":{"type":"string","example":""},"sub_status":{"type":"string","example":""},"status_detail":{"type":"string","example":""},"response_message":{},"response_code":{"type":"string","example":"SUCCEEDED"},"raw_response":{"type":"object","properties":{"message":{"type":"string","example":"provider response"}}},"third_party_transaction_id":{},"third_party_account_id":{},"iso8583_response_code":{},"iso8583_response_message":{}}},"connection_data":{},"created_at":{"type":"string","example":"2025-04-14T17:51:23.232152Z"},"updated_at":{"type":"string","example":"2025-04-14T17:51:23.322335Z"}}},"transactions_history":{},"metadata":{"type":"array"},"fraud_screening":{},"payment_link_id":{"type":"string","example":""},"subscription_code":{},"routing_rules":{},"simplified_mode":{"type":"boolean","example":false,"default":true}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}},"/{id}/cancel-or-refund":{"post":{"summary":"Cancel or Refund a Payment","description":"","operationId":"cancel-or-refund-a-payment","parameters":[{"name":"id","in":"path","description":"The unique identifier of the payment (MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["reason"],"properties":{"description":{"type":"string","description":"Description of the cancellation or refund. (MAX 255; MIN 3)."},"reason":{"type":"string","description":"Indicating the reason for the cancellation or refund. If set, possible values are `DUPLICATE`, `FRAUDULENT`, and `REQUESTED_BY_CUSTOMER`.","enum":["DUPLICATE","FRAUDULENT","REQUESTED_BY_CUSTOMER"]},"merchant_reference":{"type":"string","description":"Identification of the payment transaction defined by the merchant. If no merchant_reference is defined, the merchant_order_id of the payment will be associated to the transaction. (MAX 255; MIN 3)."},"amount":{"type":"object","description":"Specifies the amount object for refund.","required":["currency","value"],"properties":{"currency":{"type":"string","description":"The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).","enum":["","ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU"]},"value":{"type":"string","description":"The payment amount (multiple of 0.0001)."}}},"simplified_mode":{"type":"boolean","description":"Indicates if we should try to refund a payment after an error/declined on the first try. It is `false` by default. For more information, access the [guide](transaction-retries).","default":false},"response_additional_data":{"type":"object","description":"Specifies additional data for required the transaction response","properties":{"receipt":{"type":"boolean","description":"Indicates if a receipt is necessary for the transaction response"},"receipt_language":{"type":"string","description":"Indicates the language of the receipt to be generated","enum":["ES","EN","PT"]}}},"customer_payer":{"type":"object","description":"Specifies customer object for payments.","properties":{"first_name":{"type":"string","description":"The customer's first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The customer's last name (MAX 255; MIN 3)."},"gender":{"type":"string","description":"The customer's gender (MAX 1; MIN 1). <br/>- M=Male <br/>- F=Female <br/>- NB=Non Binary <br/>- NA=Not applicable <br/>- NK=Not Known <br/>- U=Undefined.","enum":["M","F","NB","NA","NK","U"]},"date_of_birth":{"type":"string","description":"The customer's date of birth in the `YYYY-MM-DD` format (Length: 10)."},"email":{"type":"string","description":"The customer's e-mail (MAX 255; MIN 3)."},"nationality":{"type":"string","description":"The customer's nationality (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."},"document":{"type":"object","description":"Specifies the customer's document object, including its number and type.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3)"},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2). Access [Document Type List](ref:customer-object#document-type-list) for more details.","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"phone":{"type":"object","description":"Specifies the customer's phone object.","required":["country_code","number"],"properties":{"country_code":{"type":"string","description":"The country code of the customer's phone (MAX 3; MIN 2)."},"number":{"type":"string","description":"The customer's phone number, without the country code (MAX 32; MIN 1)."}}},"billing_address":{"type":"object","description":"Specifies the customer's billing address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY"]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 4)."}}},"shipping_address":{"type":"object","description":"Specifies the customer's shipping address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary shipping address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary shipping address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the shipping address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the shipping address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY"]},"state":{"type":"string","description":"The state considered for the shipping address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the shipping address (MAX 11; MIN 4)."}}}}}}},"examples":{"Full Refund":{"value":{"description":"Duplicate","reason":"REQUESTED_BY_CUSTOMER","merchant_reference":"AAB01-432245"}},"Partial Refund":{"value":{"amount":{"currency":"COP","value":500},"description":"Duplicate","reason":"REQUESTED_BY_CUSTOMER","merchant_reference":"AAB01-432245"}},"Cancel":{"value":{"description":"Duplicate","reason":"REQUESTED_BY_CUSTOMER","merchant_reference":"AAB01-432245"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Full Refund":{"value":"{\n    \"id\": \"7fd485f3-bd72-45eb-a3fb-774daa3d79b6\",\n    \"type\": \"REFUND\",\n    \"status\": \"REFUNDED\",\n    \"category\": \"CARD\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"USD\",\n        \"refunded\": 0.00,\n        \"value\": 30000.00\n    },\n    \"merchant_reference\": \"0000023\",\n    \"created_at\": \"2024-06-06T14:06:06.284443Z\",\n    \"updated_at\": \"2024-06-06T14:06:37.984065Z\",\n    \"provider_data\": {\n        \"id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"transaction_id\": \"\",\n        \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"status\": \"\",\n        \"status_detail\": \"\",\n        \"response_message\": null,\n        \"response_code\": \"SUCCEEDED\",\n        \"iso8583_response_code\": \"00\",\n        \"iso8583_response_message\": \"Approved or completed successfully\",\n        \"raw_response\": null,\n        \"third_party_transaction_id\": null,\n        \"third_party_account_id\": null\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"payment\": {\n        \"id\": \"c3583c27-0478-4e02-8827-4d8f2121c670\",\n        \"account_id\": \"\",\n        \"description\": \"Test Bank of America\",\n        \"country\": \"US\",\n        \"status\": \"REFUNDED\",\n        \"sub_status\": \"REFUNDED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2024-06-06T14:06:06.284443Z\",\n        \"updated_at\": \"2024-06-06T14:06:06.284443Z\",\n        \"amount\": {\n            \"captured\": 0.00,\n            \"currency\": \"USD\",\n            \"refunded\": 30000.00,\n            \"value\": 30000.00\n        },\n        \"additional_data\": {\n            \"airline\": {\n                \"pnr\": \"1P-2UUGJW\",\n                \"legs\": [\n                    {\n                        \"departure_airport\": \"EWR\",\n                        \"departure_datetime\": \"2014-05-12 13:05:00\",\n                        \"departure_airport_timezone\": \"-05:00\",\n                        \"arrival_airport\": \"SFO\",\n                        \"arrival_airport_timezone\": \"-08:00\",\n                        \"arrival_datetime\": \"\",\n                        \"carrier_code\": \"UA\",\n                        \"flight_number\": \"842\",\n                        \"fare_basis_code\": \"HL7LNR\",\n                        \"fare_class_code\": \"FR\",\n                        \"base_fare\": 200.00,\n                        \"base_fare_currency\": \"USD\",\n                        \"stopover_code\": \"s\"\n                    }\n                ],\n                \"passengers\": [\n                    {\n                        \"first_name\": \"John\",\n                        \"last_name\": \"Doe\",\n                        \"middle_name\": \"A\",\n                        \"type\": \"adult\",\n                        \"date_of_birth\": \"1980-01-01\",\n                        \"nationality\": \"US\",\n                        \"document\": {\n                            \"document_type\": \"SSN\",\n                            \"document_number\": \"123-45-6789\"\n                        },\n                        \"country\": \"US\",\n                        \"loyalty_number\": \"UA123456\",\n                        \"loyalty_tier\": \"Gold\",\n                        \"email\": \"johndoe@example.com\",\n                        \"phone\": \"+15555555555\"\n                    }\n                ],\n                \"ticket\": null,\n                \"tickets\": [\n                    {\n                        \"ticket_number\": \"123456\",\n                        \"e_ticket\": false,\n                        \"restricted\": false,\n                        \"total_fare_amount\": 80.00,\n                        \"total_tax_amount\": 22.00,\n                        \"total_fee_amount\": 14.00,\n                        \"issue\": null\n                    }\n                ]\n            },\n            \"order\": {\n                \"fee_amount\": 100,\n                \"shipping_amount\": 100,\n                \"tip_amount\": null,\n                \"items\": [\n                    {\n                        \"id\": \"123AD\",\n                        \"name\": \"Skirt\",\n                        \"quantity\": 1,\n                        \"unit_amount\": 29800,\n                        \"category\": \"Clothes\",\n                        \"brand\": \"XYZ\",\n                        \"sku_code\": \"8765432109\",\n                        \"manufacture_part_number\": \"XYZ123456\"\n                    }\n                ]\n            },\n            \"seller_details\": null\n        }\n    }\n}\n"},"Partial Refund":{"value":"{\n    \"id\": \"e44cdc8e-01e7-4767-a1b6-3a646a609dc5\",\n    \"type\": \"REFUND\",\n    \"status\": \"SUCCEEDED\",\n    \"category\": \"CARD\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"USD\",\n        \"refunded\": 0.00,\n        \"value\": 30000.00\n    },\n    \"merchant_reference\": \"0000023\",\n    \"created_at\": \"2024-06-06T14:07:53.881239Z\",\n    \"updated_at\": \"2024-06-06T14:08:17.438878Z\",\n    \"provider_data\": {\n        \"id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"transaction_id\": \"\",\n        \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"status\": \"\",\n        \"sub_status\": \"\",\n        \"status_detail\": \"\",\n        \"response_message\": null,\n        \"response_code\": \"SUCCEEDED\",\n        \"iso8583_response_code\": \"00\",\n        \"iso8583_response_message\": \"Approved or completed successfully\",\n        \"raw_response\": null,\n        \"third_party_transaction_id\": null,\n        \"third_party_account_id\": null\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"payment\": {\n        \"id\": \"eee7daeb-5ed7-41bd-8fee-7a440ca2ab86\",\n        \"account_id\": \"\",\n        \"description\": \"Test\",\n        \"country\": \"US\",\n        \"status\": \"SUCCEEDED\",\n        \"sub_status\": \"PARTIALLY_REFUNDED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2024-06-06T14:07:53.881239Z\",\n        \"updated_at\": \"2024-06-06T14:07:53.881239Z\",\n        \"amount\": {\n            \"captured\": 0.00,\n            \"currency\": \"USD\",\n            \"refunded\": 1000.00,\n            \"value\": 30000.00\n        },\n        \"additional_data\": {\n            \"airline\": {\n                \"pnr\": \"1P-2UUGJW\",\n                \"legs\": [\n                    {\n                        \"departure_airport\": \"EZE\",\n                        \"departure_datetime\": \"2014-05-12 13:05:00\",\n                        \"departure_airport_timezone\": \"-03:00\",\n                        \"arrival_airport\": \"AMS\",\n                        \"arrival_airport_timezone\": \"+00:00\",\n                        \"arrival_datetime\": \"\",\n                        \"carrier_code\": \"KL\",\n                        \"flight_number\": \"842\",\n                        \"fare_basis_code\": \"HL7LNR\",\n                        \"fare_class_code\": \"FR\",\n                        \"base_fare\": 200.00,\n                        \"base_fare_currency\": \"USD\",\n                        \"stopover_code\": \"s\"\n                    }\n                ],\n                \"passengers\": [\n                    {\n                        \"first_name\": \"John\",\n                        \"last_name\": \"Doe\",\n                        \"middle_name\": \"A.\",\n                        \"type\": \"adult\",\n                        \"date_of_birth\": \"1980-01-01\",\n                        \"nationality\": \"US\",\n                        \"document\": {\n                            \"document_type\": \"SSN\",\n                            \"document_number\": \"123-45-6789\"\n                        },\n                        \"country\": \"US\",\n                        \"loyalty_number\": \"JD123456\",\n                        \"loyalty_tier\": \"Gold\",\n                        \"email\": \"johndoe@example.com\",\n                        \"phone\": \"5551234567\"\n                    }\n                ],\n                \"ticket\": null,\n                \"tickets\": [\n                    {\n                        \"ticket_number\": \"123456\",\n                        \"e_ticket\": false,\n                        \"restricted\": false,\n                        \"total_fare_amount\": 80.00,\n                        \"total_tax_amount\": 22.00,\n                        \"total_fee_amount\": 14.00,\n                        \"issue\": null\n                    }\n                ]\n            },\n            \"order\": {\n                \"fee_amount\": 100,\n                \"shipping_amount\": 100,\n                \"tip_amount\": null,\n                \"items\": [\n                    {\n                        \"id\": \"123AD\",\n                        \"name\": \"Skirt\",\n                        \"quantity\": 1,\n                        \"unit_amount\": 29800,\n                        \"category\": \"Clothes\",\n                        \"brand\": \"XYZ\",\n                        \"sku_code\": \"8765432109\",\n                        \"manufacture_part_number\": \"XYZ123456\"\n                    }\n                ]\n            },\n            \"seller_details\": null\n        }\n    }\n}\n"},"Cancel":{"value":"{\n    \"id\": \"2fbc6db6-718b-4554-b03f-826e552f1b9f\",\n    \"type\": \"CANCEL\",\n    \"status\": \"SUCCEEDED\",\n    \"category\": \"CARD\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"USD\",\n        \"refunded\": 0.00,\n        \"value\": 30000.00\n    },\n    \"merchant_reference\": \"\",\n    \"created_at\": \"2024-06-06T14:05:31.651012Z\",\n    \"updated_at\": \"2024-06-06T14:05:31.742355Z\",\n    \"provider_data\": {\n        \"id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"transaction_id\": \"\",\n        \"account_id\": \"\",\n        \"status\": \"SUCCEEDED\",\n        \"sub_status\": \"\",\n        \"status_detail\": \"SUCCEEDED\",\n        \"response_message\": null,\n        \"response_code\": \"SUCCEEDED\",\n        \"iso8583_response_code\": \"00\",\n        \"iso8583_response_message\": \"Approved or completed successfully\",\n        \"raw_response\": null,\n        \"third_party_transaction_id\": null,\n        \"third_party_account_id\": null\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"payment\": {\n        \"id\": \"cddba02c-e47d-4330-9cac-afcd9c0194b1\",\n        \"account_id\": \"\",\n        \"description\": \"Test\",\n        \"country\": \"US\",\n        \"status\": \"CANCELED\",\n        \"sub_status\": \"CANCELED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2024-06-06T14:04:44.768364Z\",\n        \"updated_at\": \"2024-06-06T14:05:31.79539Z\",\n        \"amount\": {\n            \"captured\": 0.00,\n            \"currency\": \"USD\",\n            \"refunded\": 0.00,\n            \"value\": 30000.00\n        }\n    }\n}\n"}},"schema":{"oneOf":[{"title":"Full Refund","type":"object","properties":{"id":{"type":"string","example":"7fd485f3-bd72-45eb-a3fb-774daa3d79b6"},"type":{"type":"string","example":"REFUND"},"status":{"type":"string","example":"REFUNDED"},"category":{"type":"string","example":"CARD"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"USD"},"refunded":{"type":"integer","example":0,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"merchant_reference":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2024-06-06T14:06:06.284443Z"},"updated_at":{"type":"string","example":"2024-06-06T14:06:37.984065Z"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"transaction_id":{"type":"string","example":""},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"status":{"type":"string","example":""},"status_detail":{"type":"string","example":""},"response_message":{},"response_code":{"type":"string","example":"SUCCEEDED"},"iso8583_response_code":{"type":"string","example":"00"},"iso8583_response_message":{"type":"string","example":"Approved or completed successfully"},"raw_response":{},"third_party_transaction_id":{},"third_party_account_id":{}}},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":"Transaction successful"},"payment":{"type":"object","properties":{"id":{"type":"string","example":"c3583c27-0478-4e02-8827-4d8f2121c670"},"account_id":{"type":"string","example":""},"description":{"type":"string","example":"Test Bank of America"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"REFUNDED"},"sub_status":{"type":"string","example":"REFUNDED"},"merchant_order_id":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2024-06-06T14:06:06.284443Z"},"updated_at":{"type":"string","example":"2024-06-06T14:06:06.284443Z"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"USD"},"refunded":{"type":"integer","example":30000,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"additional_data":{"type":"object","properties":{"airline":{"type":"object","properties":{"pnr":{"type":"string","example":"1P-2UUGJW"},"legs":{"type":"array","items":{"type":"object","properties":{"departure_airport":{"type":"string","example":"EWR"},"departure_datetime":{"type":"string","example":"2014-05-12 13:05:00"},"departure_airport_timezone":{"type":"string","example":"-05:00"},"arrival_airport":{"type":"string","example":"SFO"},"arrival_airport_timezone":{"type":"string","example":"-08:00"},"arrival_datetime":{"type":"string","example":""},"carrier_code":{"type":"string","example":"UA"},"flight_number":{"type":"string","example":"842"},"fare_basis_code":{"type":"string","example":"HL7LNR"},"fare_class_code":{"type":"string","example":"FR"},"base_fare":{"type":"integer","example":200,"default":0},"base_fare_currency":{"type":"string","example":"USD"},"stopover_code":{"type":"string","example":"s"}}}},"passengers":{"type":"array","items":{"type":"object","properties":{"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"middle_name":{"type":"string","example":"A"},"type":{"type":"string","example":"adult"},"date_of_birth":{"type":"string","example":"1980-01-01"},"nationality":{"type":"string","example":"US"},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"SSN"},"document_number":{"type":"string","example":"123-45-6789"}}},"country":{"type":"string","example":"US"},"loyalty_number":{"type":"string","example":"UA123456"},"loyalty_tier":{"type":"string","example":"Gold"},"email":{"type":"string","example":"johndoe@example.com"},"phone":{"type":"string","example":"+15555555555"}}}},"ticket":{},"tickets":{"type":"array","items":{"type":"object","properties":{"ticket_number":{"type":"string","example":"123456"},"e_ticket":{"type":"boolean","example":false,"default":true},"restricted":{"type":"boolean","example":false,"default":true},"total_fare_amount":{"type":"integer","example":80,"default":0},"total_tax_amount":{"type":"integer","example":22,"default":0},"total_fee_amount":{"type":"integer","example":14,"default":0},"issue":{}}}}}},"order":{"type":"object","properties":{"fee_amount":{"type":"integer","example":100,"default":0},"shipping_amount":{"type":"integer","example":100,"default":0},"tip_amount":{},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"123AD"},"name":{"type":"string","example":"Skirt"},"quantity":{"type":"integer","example":1,"default":0},"unit_amount":{"type":"integer","example":29800,"default":0},"category":{"type":"string","example":"Clothes"},"brand":{"type":"string","example":"XYZ"},"sku_code":{"type":"string","example":"8765432109"},"manufacture_part_number":{"type":"string","example":"XYZ123456"}}}}}},"seller_details":{}}}}}}},{"title":"Partial Refund","type":"object","properties":{"id":{"type":"string","example":"e44cdc8e-01e7-4767-a1b6-3a646a609dc5"},"type":{"type":"string","example":"REFUND"},"status":{"type":"string","example":"SUCCEEDED"},"category":{"type":"string","example":"CARD"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"USD"},"refunded":{"type":"integer","example":0,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"merchant_reference":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2024-06-06T14:07:53.881239Z"},"updated_at":{"type":"string","example":"2024-06-06T14:08:17.438878Z"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"transaction_id":{"type":"string","example":""},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"status":{"type":"string","example":""},"sub_status":{"type":"string","example":""},"status_detail":{"type":"string","example":""},"response_message":{},"response_code":{"type":"string","example":"SUCCEEDED"},"iso8583_response_code":{"type":"string","example":"00"},"iso8583_response_message":{"type":"string","example":"Approved or completed successfully"},"raw_response":{},"third_party_transaction_id":{},"third_party_account_id":{}}},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":"Transaction successful"},"payment":{"type":"object","properties":{"id":{"type":"string","example":"eee7daeb-5ed7-41bd-8fee-7a440ca2ab86"},"account_id":{"type":"string","example":""},"description":{"type":"string","example":"Test"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"SUCCEEDED"},"sub_status":{"type":"string","example":"PARTIALLY_REFUNDED"},"merchant_order_id":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2024-06-06T14:07:53.881239Z"},"updated_at":{"type":"string","example":"2024-06-06T14:07:53.881239Z"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"USD"},"refunded":{"type":"integer","example":1000,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"additional_data":{"type":"object","properties":{"airline":{"type":"object","properties":{"pnr":{"type":"string","example":"1P-2UUGJW"},"legs":{"type":"array","items":{"type":"object","properties":{"departure_airport":{"type":"string","example":"EZE"},"departure_datetime":{"type":"string","example":"2014-05-12 13:05:00"},"departure_airport_timezone":{"type":"string","example":"-03:00"},"arrival_airport":{"type":"string","example":"AMS"},"arrival_airport_timezone":{"type":"string","example":"+00:00"},"arrival_datetime":{"type":"string","example":""},"carrier_code":{"type":"string","example":"KL"},"flight_number":{"type":"string","example":"842"},"fare_basis_code":{"type":"string","example":"HL7LNR"},"fare_class_code":{"type":"string","example":"FR"},"base_fare":{"type":"integer","example":200,"default":0},"base_fare_currency":{"type":"string","example":"USD"},"stopover_code":{"type":"string","example":"s"}}}},"passengers":{"type":"array","items":{"type":"object","properties":{"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"middle_name":{"type":"string","example":"A."},"type":{"type":"string","example":"adult"},"date_of_birth":{"type":"string","example":"1980-01-01"},"nationality":{"type":"string","example":"US"},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"SSN"},"document_number":{"type":"string","example":"123-45-6789"}}},"country":{"type":"string","example":"US"},"loyalty_number":{"type":"string","example":"JD123456"},"loyalty_tier":{"type":"string","example":"Gold"},"email":{"type":"string","example":"johndoe@example.com"},"phone":{"type":"string","example":"5551234567"}}}},"ticket":{},"tickets":{"type":"array","items":{"type":"object","properties":{"ticket_number":{"type":"string","example":"123456"},"e_ticket":{"type":"boolean","example":false,"default":true},"restricted":{"type":"boolean","example":false,"default":true},"total_fare_amount":{"type":"integer","example":80,"default":0},"total_tax_amount":{"type":"integer","example":22,"default":0},"total_fee_amount":{"type":"integer","example":14,"default":0},"issue":{}}}}}},"order":{"type":"object","properties":{"fee_amount":{"type":"integer","example":100,"default":0},"shipping_amount":{"type":"integer","example":100,"default":0},"tip_amount":{},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"123AD"},"name":{"type":"string","example":"Skirt"},"quantity":{"type":"integer","example":1,"default":0},"unit_amount":{"type":"integer","example":29800,"default":0},"category":{"type":"string","example":"Clothes"},"brand":{"type":"string","example":"XYZ"},"sku_code":{"type":"string","example":"8765432109"},"manufacture_part_number":{"type":"string","example":"XYZ123456"}}}}}},"seller_details":{}}}}}}},{"title":"Cancel","type":"object","properties":{"id":{"type":"string","example":"2fbc6db6-718b-4554-b03f-826e552f1b9f"},"type":{"type":"string","example":"CANCEL"},"status":{"type":"string","example":"SUCCEEDED"},"category":{"type":"string","example":"CARD"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"USD"},"refunded":{"type":"integer","example":0,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"merchant_reference":{"type":"string","example":""},"created_at":{"type":"string","example":"2024-06-06T14:05:31.651012Z"},"updated_at":{"type":"string","example":"2024-06-06T14:05:31.742355Z"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"transaction_id":{"type":"string","example":""},"account_id":{"type":"string","example":""},"status":{"type":"string","example":"SUCCEEDED"},"sub_status":{"type":"string","example":""},"status_detail":{"type":"string","example":"SUCCEEDED"},"response_message":{},"response_code":{"type":"string","example":"SUCCEEDED"},"iso8583_response_code":{"type":"string","example":"00"},"iso8583_response_message":{"type":"string","example":"Approved or completed successfully"},"raw_response":{},"third_party_transaction_id":{},"third_party_account_id":{}}},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":"Transaction successful"},"payment":{"type":"object","properties":{"id":{"type":"string","example":"cddba02c-e47d-4330-9cac-afcd9c0194b1"},"account_id":{"type":"string","example":""},"description":{"type":"string","example":"Test"},"country":{"type":"string","example":"US"},"status":{"type":"string","example":"CANCELED"},"sub_status":{"type":"string","example":"CANCELED"},"merchant_order_id":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2024-06-06T14:04:44.768364Z"},"updated_at":{"type":"string","example":"2024-06-06T14:05:31.79539Z"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"USD"},"refunded":{"type":"integer","example":0,"default":0},"value":{"type":"integer","example":30000,"default":0}}}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}},"/{id}/transactions/{transaction_id}/cancel-or-refund":{"post":{"summary":"Cancel or Refund a Payment with transaction","description":"","operationId":"cancel-or-refund-payment-with-transaction","parameters":[{"name":"id","in":"path","description":"The unique identifier of the payment (MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true},{"name":"transaction_id","in":"path","description":"The unique identifier of the transaction.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["reason"],"properties":{"description":{"type":"string","description":"Description of the cancellation or refund. (MAX 255; MIN 3)."},"reason":{"type":"string","description":"Indicating the reason for the cancellation or refund. If set, possible values are `DUPLICATE`, `FRAUDULENT`, and `REQUESTED_BY_CUSTOMER`.","enum":["DUPLICATE","FRAUDULENT","REQUESTED_BY_CUSTOMER"]},"merchant_reference":{"type":"string","description":"Identification of the payment transaction defined by the merchant. If no merchant_reference is defined, the merchant_order_id of the payment will be associated to the transaction. (MAX 255; MIN 3)."},"amount":{"type":"object","description":"Specifies the amount object for refund.","required":["currency","value"],"properties":{"currency":{"type":"string","description":"The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).","enum":["","ARS","BOV","BOB","BRL","CLP","COP","CRC","USD","SVC","GTQ","HNL","MXN","NIO","PAB","PYG","PEN","UYU"]},"value":{"type":"string","description":"The payment amount (multiple of 0.0001)."}}},"simplified_mode":{"type":"boolean","description":"Indicates if we should try to refund a payment after an error/declined on the first try. It is `false` by default. For more information, access the [guide](transaction-retries).","default":false},"response_additional_data":{"type":"object","description":"Specifies additional data for required the transaction response","properties":{"receipt":{"type":"boolean","description":"Indicates if a receipt is necessary for the transaction response"},"receipt_language":{"type":"string","description":"Indicates the language of the receipt to be generated","enum":["ES","EN","PT"]}}},"customer_payer":{"type":"object","description":"Specifies customer object for payments.","properties":{"first_name":{"type":"string","description":"The customer's first name (MAX 255; MIN 3)."},"last_name":{"type":"string","description":"The customer's last name (MAX 255; MIN 3)."},"gender":{"type":"string","description":"The customer's gender (MAX 1; MIN 1). <br/>- M=Male <br/>- F=Female <br/>- NB=Non Binary <br/>- NA=Not applicable <br/>- NK=Not Known <br/>- U=Undefined.","enum":["M","F","NB","NA","NK","U"]},"date_of_birth":{"type":"string","description":"The customer's date of birth in the `YYYY-MM-DD` format (Length: 10)."},"email":{"type":"string","description":"The customer's e-mail (MAX 255; MIN 3)."},"nationality":{"type":"string","description":"The customer's nationality (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference))."},"document":{"type":"object","description":"Specifies the customer's document object, including its number and type.","required":["document_number","document_type"],"properties":{"document_number":{"type":"string","description":"Document number for customer (MAX 40; MIN 3)"},"document_type":{"type":"string","description":"The customer's document type (MAX 6, MIN 2). Access [Document Type List](ref:customer-object#document-type-list) for more details.","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]}}},"phone":{"type":"object","description":"Specifies the customer's phone object.","required":["country_code","number"],"properties":{"country_code":{"type":"string","description":"The country code of the customer's phone (MAX 3; MIN 2)."},"number":{"type":"string","description":"The customer's phone number, without the country code (MAX 32; MIN 1)."}}},"billing_address":{"type":"object","description":"Specifies the customer's billing address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY"]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 4)."}}},"shipping_address":{"type":"object","description":"Specifies the customer's shipping address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary shipping address line of the customer (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary shipping address line of the customer (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the shipping address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the shipping address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY"]},"state":{"type":"string","description":"The state considered for the shipping address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the shipping address (MAX 11; MIN 4)."}}}}}}},"examples":{"Full Refund":{"value":{"description":"Duplicate","reason":"REQUESTED_BY_CUSTOMER","merchant_reference":"AAB01-432245"}},"Partial Refund":{"value":{"amount":{"currency":"COP","value":500},"description":"Duplicate","reason":"REQUESTED_BY_CUSTOMER","merchant_reference":"AAB01-432245"}},"Cancel":{"value":{"description":"Duplicate","reason":"REQUESTED_BY_CUSTOMER","merchant_reference":"AAB01-432245"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Full Refund":{"value":"{\n    \"id\": \"7fd485f3-bd72-45eb-a3fb-774daa3d79b6\",\n    \"type\": \"REFUND\",\n    \"status\": \"REFUNDED\",\n    \"category\": \"CARD\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 30000.00\n    },\n    \"merchant_reference\": \"0000023\",\n    \"created_at\": \"2024-06-06T14:06:06.284443Z\",\n    \"updated_at\": \"2024-06-06T14:06:37.984065Z\",\n    \"provider_data\": {\n        \"id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"transaction_id\": \"\",\n        \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"status\": \"\",\n        \"status_detail\": \"\",\n        \"response_message\": null,\n        \"response_code\": \"SUCCEEDED\",\n        \"iso8583_response_code\": \"00\",\n        \"iso8583_response_message\": \"Approved or completed successfully\",\n        \"raw_response\": null,\n        \"third_party_transaction_id\": null,\n        \"third_party_account_id\": null\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"payment\": {\n        \"id\": \"c3583c27-0478-4e02-8827-4d8f2121c670\",\n        \"account_id\": \"\",\n        \"description\": \"Test\",\n        \"country\": \"CO\",\n        \"status\": \"REFUNDED\",\n        \"sub_status\": \"REFUNDED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2024-06-06T14:06:06.284443Z\",\n        \"updated_at\": \"2024-06-06T14:06:06.284443Z\",\n        \"amount\": {\n            \"captured\": 0.00,\n            \"currency\": \"COP\",\n            \"refunded\": 30000.00,\n            \"value\": 30000.00\n        },\n        \"additional_data\": {\n            \"airline\": {\n                \"pnr\": \"1P-2UUGJW\",\n                \"legs\": [\n                    {\n                        \"departure_airport\": \"EZE\",\n                        \"departure_datetime\": \"2014-05-12 13:05:00\",\n                        \"departure_airport_timezone\": \"-03:00\",\n                        \"arrival_airport\": \"AMS\",\n                        \"arrival_airport_timezone\": \"+00:00\",\n                        \"arrival_datetime\": \"\",\n                        \"carrier_code\": \"KL\",\n                        \"flight_number\": \"842\",\n                        \"fare_basis_code\": \"HL7LNR\",\n                        \"fare_class_code\": \"FR\",\n                        \"base_fare\": 200.00,\n                        \"base_fare_currency\": \"BRL\",\n                        \"stopover_code\": \"s\"\n                    }\n                ],\n                \"passengers\": [\n                    {\n                        \"first_name\": \"string\",\n                        \"last_name\": \"string\",\n                        \"middle_name\": \"string\",\n                        \"type\": \"s\",\n                        \"date_of_birth\": \"stringstri\",\n                        \"nationality\": \"st\",\n                        \"document\": {\n                            \"document_type\": \"CPF\",\n                            \"document_number\": \"351.040.753-97\"\n                        },\n                        \"country\": \"st\",\n                        \"loyalty_number\": \"string\",\n                        \"loyalty_tier\": \"strin\",\n                        \"email\": null,\n                        \"phone\": null\n                    }\n                ],\n                \"ticket\": null,\n                \"tickets\": [\n                    {\n                        \"ticket_number\": \"123456\",\n                        \"e_ticket\": false,\n                        \"restricted\": false,\n                        \"total_fare_amount\": 80.00,\n                        \"total_tax_amount\": 22.00,\n                        \"total_fee_amount\": 14.00,\n                        \"issue\": null\n                    }\n                ]\n            },\n            \"order\": {\n                \"fee_amount\": 100,\n                \"shipping_amount\": 100,\n                \"tip_amount\": null,\n                \"items\": [\n                    {\n                        \"id\": \"123AD\",\n                        \"name\": \"Skirt\",\n                        \"quantity\": 1,\n                        \"unit_amount\": 29800,\n                        \"category\": \"Clothes\",\n                        \"brand\": \"XYZ\",\n                        \"sku_code\": \"8765432109\",\n                        \"manufacture_part_number\": \"XYZ123456\"\n                    }\n                ]\n            },\n            \"seller_details\": null\n        }\n    }\n}"},"Partial Refund":{"value":"{\n    \"id\": \"e44cdc8e-01e7-4767-a1b6-3a646a609dc5\",\n    \"type\": \"REFUND\",\n    \"status\": \"SUCCEEDED\",\n    \"category\": \"CARD\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 30000.00\n    },\n    \"merchant_reference\": \"0000023\",\n    \"created_at\": \"2024-06-06T14:07:53.881239Z\",\n    \"updated_at\": \"2024-06-06T14:08:17.438878Z\",\n    \"provider_data\": {\n        \"id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"transaction_id\": \"\",\n        \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n        \"status\": \"\",\n        \"sub_status\": \"\",\n        \"status_detail\": \"\",\n        \"response_message\": null,\n        \"response_code\": \"SUCCEEDED\",\n        \"iso8583_response_code\": \"00\",\n        \"iso8583_response_message\": \"Approved or completed successfully\",\n        \"raw_response\": null,\n        \"third_party_transaction_id\": null,\n        \"third_party_account_id\": null\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"payment\": {\n        \"id\": \"eee7daeb-5ed7-41bd-8fee-7a440ca2ab86\",\n        \"account_id\": \"\",\n        \"description\": \"Test\",\n        \"country\": \"CO\",\n        \"status\": \"SUCCEEDED\",\n        \"sub_status\": \"PARTIALLY_REFUNDED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2024-06-06T14:07:53.881239Z\",\n        \"updated_at\": \"2024-06-06T14:07:53.881239Z\",\n        \"amount\": {\n            \"captured\": 0.00,\n            \"currency\": \"COP\",\n            \"refunded\": 1000.00,\n            \"value\": 30000.00\n        },\n        \"additional_data\": {\n            \"airline\": {\n                \"pnr\": \"1P-2UUGJW\",\n                \"legs\": [\n                    {\n                        \"departure_airport\": \"EZE\",\n                        \"departure_datetime\": \"2014-05-12 13:05:00\",\n                        \"departure_airport_timezone\": \"-03:00\",\n                        \"arrival_airport\": \"AMS\",\n                        \"arrival_airport_timezone\": \"+00:00\",\n                        \"arrival_datetime\": \"\",\n                        \"carrier_code\": \"KL\",\n                        \"flight_number\": \"842\",\n                        \"fare_basis_code\": \"HL7LNR\",\n                        \"fare_class_code\": \"FR\",\n                        \"base_fare\": 200.00,\n                        \"base_fare_currency\": \"BRL\",\n                        \"stopover_code\": \"s\"\n                    }\n                ],\n                \"passengers\": [\n                    {\n                        \"first_name\": \"string\",\n                        \"last_name\": \"string\",\n                        \"middle_name\": \"string\",\n                        \"type\": \"s\",\n                        \"date_of_birth\": \"stringstri\",\n                        \"nationality\": \"st\",\n                        \"document\": {\n                            \"document_type\": \"CPF\",\n                            \"document_number\": \"351.040.753-97\"\n                        },\n                        \"country\": \"st\",\n                        \"loyalty_number\": \"string\",\n                        \"loyalty_tier\": \"strin\",\n                        \"email\": null,\n                        \"phone\": null\n                    }\n                ],\n                \"ticket\": null,\n                \"tickets\": [\n                    {\n                        \"ticket_number\": \"123456\",\n                        \"e_ticket\": false,\n                        \"restricted\": false,\n                        \"total_fare_amount\": 80.00,\n                        \"total_tax_amount\": 22.00,\n                        \"total_fee_amount\": 14.00,\n                        \"issue\": null\n                    }\n                ]\n            },\n            \"order\": {\n                \"fee_amount\": 100,\n                \"shipping_amount\": 100,\n                \"tip_amount\": null,\n                \"items\": [\n                    {\n                        \"id\": \"123AD\",\n                        \"name\": \"Skirt\",\n                        \"quantity\": 1,\n                        \"unit_amount\": 29800,\n                        \"category\": \"Clothes\",\n                        \"brand\": \"XYZ\",\n                        \"sku_code\": \"8765432109\",\n                        \"manufacture_part_number\": \"XYZ123456\"\n                    }\n                ]\n            },\n            \"seller_details\": null\n        }\n    }\n}"},"Cancel":{"value":"{\n    \"id\": \"2fbc6db6-718b-4554-b03f-826e552f1b9f\",\n    \"type\": \"CANCEL\",\n    \"status\": \"SUCCEEDED\",\n    \"category\": \"CARD\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 30000.00\n    },\n    \"merchant_reference\": \"\",\n    \"created_at\": \"2024-06-06T14:05:31.651012Z\",\n    \"updated_at\": \"2024-06-06T14:05:31.742355Z\",\n    \"provider_data\": {\n        \"id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"transaction_id\": \"\",\n        \"account_id\": \"\",\n        \"status\": \"SUCCEEDED\",\n        \"sub_status\": \"\",\n        \"status_detail\": \"SUCCEEDED\",\n        \"response_message\": null,\n        \"response_code\": \"SUCCEEDED\",\n        \"iso8583_response_code\": \"00\",\n        \"iso8583_response_message\": \"Approved or completed successfully\",\n        \"raw_response\": null,\n        \"third_party_transaction_id\": null,\n        \"third_party_account_id\": null\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"payment\": {\n        \"id\": \"cddba02c-e47d-4330-9cac-afcd9c0194b1\",\n        \"account_id\": \"\",\n        \"description\": \"Test\",\n        \"country\": \"CO\",\n        \"status\": \"CANCELED\",\n        \"sub_status\": \"CANCELED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2024-06-06T14:04:44.768364Z\",\n        \"updated_at\": \"2024-06-06T14:05:31.79539Z\",\n        \"amount\": {\n            \"captured\": 0.00,\n            \"currency\": \"COP\",\n            \"refunded\": 0.00,\n            \"value\": 30000.00\n        }\n    }\n}"}},"schema":{"oneOf":[{"title":"Full Refund","type":"object","properties":{"id":{"type":"string","example":"7fd485f3-bd72-45eb-a3fb-774daa3d79b6"},"type":{"type":"string","example":"REFUND"},"status":{"type":"string","example":"REFUNDED"},"category":{"type":"string","example":"CARD"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"COP"},"refunded":{"type":"integer","example":0,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"merchant_reference":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2024-06-06T14:06:06.284443Z"},"updated_at":{"type":"string","example":"2024-06-06T14:06:37.984065Z"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"transaction_id":{"type":"string","example":""},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"status":{"type":"string","example":""},"status_detail":{"type":"string","example":""},"response_message":{},"response_code":{"type":"string","example":"SUCCEEDED"},"iso8583_response_code":{"type":"string","example":"00"},"iso8583_response_message":{"type":"string","example":"Approved or completed successfully"},"raw_response":{},"third_party_transaction_id":{},"third_party_account_id":{}}},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":"Transaction successful"},"payment":{"type":"object","properties":{"id":{"type":"string","example":"c3583c27-0478-4e02-8827-4d8f2121c670"},"account_id":{"type":"string","example":""},"description":{"type":"string","example":"Test"},"country":{"type":"string","example":"CO"},"status":{"type":"string","example":"REFUNDED"},"sub_status":{"type":"string","example":"REFUNDED"},"merchant_order_id":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2024-06-06T14:06:06.284443Z"},"updated_at":{"type":"string","example":"2024-06-06T14:06:06.284443Z"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"COP"},"refunded":{"type":"integer","example":30000,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"additional_data":{"type":"object","properties":{"airline":{"type":"object","properties":{"pnr":{"type":"string","example":"1P-2UUGJW"},"legs":{"type":"array","items":{"type":"object","properties":{"departure_airport":{"type":"string","example":"EZE"},"departure_datetime":{"type":"string","example":"2014-05-12 13:05:00"},"departure_airport_timezone":{"type":"string","example":"-03:00"},"arrival_airport":{"type":"string","example":"AMS"},"arrival_airport_timezone":{"type":"string","example":"+00:00"},"arrival_datetime":{"type":"string","example":""},"carrier_code":{"type":"string","example":"KL"},"flight_number":{"type":"string","example":"842"},"fare_basis_code":{"type":"string","example":"HL7LNR"},"fare_class_code":{"type":"string","example":"FR"},"base_fare":{"type":"integer","example":200,"default":0},"base_fare_currency":{"type":"string","example":"BRL"},"stopover_code":{"type":"string","example":"s"}}}},"passengers":{"type":"array","items":{"type":"object","properties":{"first_name":{"type":"string","example":"string"},"last_name":{"type":"string","example":"string"},"middle_name":{"type":"string","example":"string"},"type":{"type":"string","example":"s"},"date_of_birth":{"type":"string","example":"stringstri"},"nationality":{"type":"string","example":"st"},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"CPF"},"document_number":{"type":"string","example":"351.040.753-97"}}},"country":{"type":"string","example":"st"},"loyalty_number":{"type":"string","example":"string"},"loyalty_tier":{"type":"string","example":"strin"},"email":{},"phone":{}}}},"ticket":{},"tickets":{"type":"array","items":{"type":"object","properties":{"ticket_number":{"type":"string","example":"123456"},"e_ticket":{"type":"boolean","example":false,"default":true},"restricted":{"type":"boolean","example":false,"default":true},"total_fare_amount":{"type":"integer","example":80,"default":0},"total_tax_amount":{"type":"integer","example":22,"default":0},"total_fee_amount":{"type":"integer","example":14,"default":0},"issue":{}}}}}},"order":{"type":"object","properties":{"fee_amount":{"type":"integer","example":100,"default":0},"shipping_amount":{"type":"integer","example":100,"default":0},"tip_amount":{},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"123AD"},"name":{"type":"string","example":"Skirt"},"quantity":{"type":"integer","example":1,"default":0},"unit_amount":{"type":"integer","example":29800,"default":0},"category":{"type":"string","example":"Clothes"},"brand":{"type":"string","example":"XYZ"},"sku_code":{"type":"string","example":"8765432109"},"manufacture_part_number":{"type":"string","example":"XYZ123456"}}}}}},"seller_details":{}}}}}}},{"title":"Partial Refund","type":"object","properties":{"id":{"type":"string","example":"e44cdc8e-01e7-4767-a1b6-3a646a609dc5"},"type":{"type":"string","example":"REFUND"},"status":{"type":"string","example":"SUCCEEDED"},"category":{"type":"string","example":"CARD"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"COP"},"refunded":{"type":"integer","example":0,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"merchant_reference":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2024-06-06T14:07:53.881239Z"},"updated_at":{"type":"string","example":"2024-06-06T14:08:17.438878Z"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"transaction_id":{"type":"string","example":""},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"status":{"type":"string","example":""},"sub_status":{"type":"string","example":""},"status_detail":{"type":"string","example":""},"response_message":{},"response_code":{"type":"string","example":"SUCCEEDED"},"iso8583_response_code":{"type":"string","example":"00"},"iso8583_response_message":{"type":"string","example":"Approved or completed successfully"},"raw_response":{},"third_party_transaction_id":{},"third_party_account_id":{}}},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":"Transaction successful"},"payment":{"type":"object","properties":{"id":{"type":"string","example":"eee7daeb-5ed7-41bd-8fee-7a440ca2ab86"},"account_id":{"type":"string","example":""},"description":{"type":"string","example":"Test"},"country":{"type":"string","example":"CO"},"status":{"type":"string","example":"SUCCEEDED"},"sub_status":{"type":"string","example":"PARTIALLY_REFUNDED"},"merchant_order_id":{"type":"string","example":"0000023"},"created_at":{"type":"string","example":"2024-06-06T14:07:53.881239Z"},"updated_at":{"type":"string","example":"2024-06-06T14:07:53.881239Z"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"COP"},"refunded":{"type":"integer","example":1000,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"additional_data":{"type":"object","properties":{"airline":{"type":"object","properties":{"pnr":{"type":"string","example":"1P-2UUGJW"},"legs":{"type":"array","items":{"type":"object","properties":{"departure_airport":{"type":"string","example":"EZE"},"departure_datetime":{"type":"string","example":"2014-05-12 13:05:00"},"departure_airport_timezone":{"type":"string","example":"-03:00"},"arrival_airport":{"type":"string","example":"AMS"},"arrival_airport_timezone":{"type":"string","example":"+00:00"},"arrival_datetime":{"type":"string","example":""},"carrier_code":{"type":"string","example":"KL"},"flight_number":{"type":"string","example":"842"},"fare_basis_code":{"type":"string","example":"HL7LNR"},"fare_class_code":{"type":"string","example":"FR"},"base_fare":{"type":"integer","example":200,"default":0},"base_fare_currency":{"type":"string","example":"BRL"},"stopover_code":{"type":"string","example":"s"}}}},"passengers":{"type":"array","items":{"type":"object","properties":{"first_name":{"type":"string","example":"string"},"last_name":{"type":"string","example":"string"},"middle_name":{"type":"string","example":"string"},"type":{"type":"string","example":"s"},"date_of_birth":{"type":"string","example":"stringstri"},"nationality":{"type":"string","example":"st"},"document":{"type":"object","properties":{"document_type":{"type":"string","example":"CPF"},"document_number":{"type":"string","example":"351.040.753-97"}}},"country":{"type":"string","example":"st"},"loyalty_number":{"type":"string","example":"string"},"loyalty_tier":{"type":"string","example":"strin"},"email":{},"phone":{}}}},"ticket":{},"tickets":{"type":"array","items":{"type":"object","properties":{"ticket_number":{"type":"string","example":"123456"},"e_ticket":{"type":"boolean","example":false,"default":true},"restricted":{"type":"boolean","example":false,"default":true},"total_fare_amount":{"type":"integer","example":80,"default":0},"total_tax_amount":{"type":"integer","example":22,"default":0},"total_fee_amount":{"type":"integer","example":14,"default":0},"issue":{}}}}}},"order":{"type":"object","properties":{"fee_amount":{"type":"integer","example":100,"default":0},"shipping_amount":{"type":"integer","example":100,"default":0},"tip_amount":{},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"123AD"},"name":{"type":"string","example":"Skirt"},"quantity":{"type":"integer","example":1,"default":0},"unit_amount":{"type":"integer","example":29800,"default":0},"category":{"type":"string","example":"Clothes"},"brand":{"type":"string","example":"XYZ"},"sku_code":{"type":"string","example":"8765432109"},"manufacture_part_number":{"type":"string","example":"XYZ123456"}}}}}},"seller_details":{}}}}}}},{"title":"Cancel","type":"object","properties":{"id":{"type":"string","example":"2fbc6db6-718b-4554-b03f-826e552f1b9f"},"type":{"type":"string","example":"CANCEL"},"status":{"type":"string","example":"SUCCEEDED"},"category":{"type":"string","example":"CARD"},"amount":{"type":"object","properties":{"captured":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"COP"},"refunded":{"type":"integer","example":0,"default":0},"value":{"type":"integer","example":30000,"default":0}}},"merchant_reference":{"type":"string","example":""},"created_at":{"type":"string","example":"2024-06-06T14:05:31.651012Z"},"updated_at":{"type":"string","example":"2024-06-06T14:05:31.742355Z"},"provider_data":{"type":"object","properties":{"id":{"type":"string","example":"YUNO_TEST_PAYMENT_GW"},"transaction_id":{"type":"string","example":""},"account_id":{"type":"string","example":""},"status":{"type":"string","example":"SUCCEEDED"},"sub_status":{"type":"string","example":""},"status_detail":{"type":"string","example":"SUCCEEDED"},"response_message":{},"response_code":{"type":"string","example":"SUCCEEDED"},"iso8583_response_code":{"type":"string","example":"00"},"iso8583_response_message":{"type":"string","example":"Approved or completed successfully"},"raw_response":{},"third_party_transaction_id":{},"third_party_account_id":{}}},"response_code":{"type":"string","example":"SUCCEEDED"},"response_message":{"type":"string","example":"Transaction successful"},"payment":{"type":"object","properties":{"id":{"type":"string","example":"cddba02c-e47d-4330-9cac-afcd9c0194b1"},"account_id":{"typ
[...]
