{
  "openapi": "3.1.0",
  "info": {
    "title": "payouts",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/payments": {
      "get": {
        "summary": "Retrieve Payment by Merchant Order ID.",
        "description": "",
        "operationId": "retrieve-payment-by-merchant_order_id",
        "parameters": [
          {
            "name": "merchant_order_id",
            "in": "query",
            "description": "The unique identifier of the customer's order defined by the merchant (MAX 255; MIN 3).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "SDK_Checkout - Required Fields": {
                    "value": "{\n    \"id\": \"e3f397ed-b7d0-4816-ab75-8457b0a30ec1\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test Bancolombia\",\n    \"country\": \"CO\",\n    \"status\": \"READY_TO_PAY\",\n    \"sub_status\": \"CREATED\",\n    \"merchant_order_id\": \"0000022\",\n    \"created_at\": \"2023-07-20T17:24:58.900553Z\",\n    \"updated_at\": \"2023-07-20T17:25:13.447662Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 52000.00\n    },\n    \"checkout\": {\n        \"session\": \"954dc216-60ff-4ae4-a299-c603b93bd267\",\n        \"sdk_action_required\": true\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"BANCOLOMBIA_TRANSFER\",\n        \"vault_on_success\": false,\n        \"token\": \"2cd31999-e44e-4de3-bbe4-179981ff4295\",\n        \"payment_method_detail\": {\n            \"bank_transfer\": {\n                \"provider_image\": \"\",\n                \"account_type\": null,\n                \"bank_name\": null,\n                \"beneficiary_name\": null,\n                \"bank_account\": null,\n                \"bank_account_2\": null,\n                \"beneficiary_document_type\": null,\n                \"beneficiary_document\": null,\n                \"payment_instruction\": null,\n                \"redirect_url\": \"https://api-sandbox.wompi.co/v1/payment_methods/redirect/bancolombia_transfer?transferCode=52xB9jF695TdDvHK-approved\"\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": \"cfae0941-7234-427a-a739-ef4fce966c79\",\n        \"merchant_customer_id\": \"1689873883\",\n        \"first_name\": \"Christelle\",\n        \"last_name\": \"CANO\",\n        \"gender\": \"\",\n        \"date_of_birth\": null,\n        \"email\": \"Quentin_Jacobi@gmail.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": {\n            \"document_type\": \"CC\",\n            \"document_number\": \"1032765432\"\n        },\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": [{\n        \"id\": \"09135cb9-159c-4662-8fe3-da5523bb2266\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"BANK_TRANSFER\",\n        \"amount\": 52000.00,\n        \"provider_id\": \"WOMPI\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"BANCOLOMBIA_TRANSFER\",\n            \"vault_on_success\": false,\n            \"token\": \"2cd31999-e44e-4de3-bbe4-179981ff4295\",\n            \"detail\": {\n                \"bank_transfer\": {\n                    \"provider_image\": \"\",\n                    \"account_type\": null,\n                    \"bank_name\": null,\n                    \"beneficiary_name\": null,\n                    \"bank_account\": null,\n                    \"bank_account_2\": null,\n                    \"beneficiary_document_type\": null,\n                    \"beneficiary_document\": null,\n                    \"payment_instruction\": null,\n                    \"redirect_url\": \"https://api-sandbox.wompi.co/v1/payment_methods/redirect/bancolombia_transfer?transferCode=52xB9jF695TdDvHK-approved\"\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test Bancolombia\",\n        \"merchant_reference\": null,\n        \"provider_data\": {\n            \"id\": \"WOMPI\",\n            \"transaction_id\": \"117490-1689873907-17347\",\n            \"account_id\": \"\",\n            \"status\": \"APPROVED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"response_message\": \"\",\n            \"raw_response\": {\n                \"data\": {\n                    \"amount_in_cents\": 5200000,\n                    \"bill_id\": null,\n                    \"billing_data\": null,\n                    \"created_at\": \"2023-07-20T17:25:07.167Z\",\n                    \"currency\": \"COP\",\n                    \"customer_data\": null,\n                    \"customer_email\": \"Quentin_Jacobi@gmail.com\",\n                    \"finalized_at\": null,\n                    \"id\": \"117490-1689873907-17347\",\n                    \"payment_link_id\": null,\n                    \"payment_method\": {\n                        \"extra\": {\n                            \"is_three_ds\": false\n                        },\n                        \"payment_description\": \"Test Bancolombia\",\n                        \"sandbox_status\": \"APPROVED\",\n                        \"type\": \"BANCOLOMBIA_TRANSFER\",\n                        \"user_type\": \"PERSON\"\n                    },\n                    \"payment_method_type\": \"BANCOLOMBIA_TRANSFER\",\n                    \"payment_source_id\": null,\n                    \"redirect_url\": \"https://google.com/?checkoutSession=954dc216-60ff-4ae4-a299-c603b93bd267\",\n                    \"reference\": \"09135cb9-159c-4662-8fe3-da5523bb2266\",\n                    \"shipping_address\": null,\n                    \"status\": \"PENDING\",\n                    \"status_message\": null,\n                    \"taxes\": []\n                },\n                \"meta\": {}\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"three_d_secure_action_required\": null,\n        \"created_at\": \"2023-07-20T17:25:05.410687Z\",\n        \"updated_at\": \"2023-07-20T17:25:11.472652Z\"\n    }],\n    \"split\": [],\n    \"callback_url\": \"https://y.uno/?checkoutSession=954dc216-60ff-4ae4-a299-c603b93bd267\",\n    \"workflow\": \"SDK_CHECKOUT\",\n    \"metadata\": []\n}"
                  },
                  "Card - With card details": {
                    "value": "{\n  \"id\": \"bc0489ba-80bf-4bb9-98c5-ff8dfbceebf9\",\n  \"account_id\": \"64761a45-6e49-4ea5-a6ff-6b52030b92ac\",\n  \"description\": \"SUCCESSFUL\",\n  \"country\": \"CO\",\n  \"status\": \"SUCCEEDED\",\n  \"sub_status\": \"APPROVED\",\n  \"merchant_order_id\": \"Order_id\",\n  \"created_at\": \"2023-07-12T18:51:49.437886Z\",\n  \"updated_at\": \"2023-07-12T18:51:54.679410Z\",\n  \"amount\": {\n    \"currency\": \"COP\",\n    \"value\": 20000,\n    \"refunded\": 0,\n    \"captured\": 0\n  },\n  \"checkout\": {\n    \"session\": \"\",\n    \"sdk_action_required\": false\n  },\n  \"payment_method\": {\n    \"vaulted_token\": \"\",\n    \"type\": \"CARD\",\n    \"vault_on_success\": false,\n    \"token\": \"\",\n    \"payment_method_detail\": {\n      \"card\": {\n        \"verify\": null,\n        \"capture\": true,\n        \"installments\": 1,\n        \"first_installment_deferral\": 0,\n        \"installments_type\": \"\",\n        \"installment_amount\": null,\n        \"soft_descriptor\": \"\",\n        \"authorization_code\": \"517862\",\n        \"retrieval_reference_number\": \"\",\n        \"voucher\": null,\n        \"card_data\": {\n          \"holder_name\": \"JOHN DOE\",\n          \"iin\": \"41111111\",\n          \"lfd\": \"1111\",\n          \"number_length\": 16,\n          \"security_code_length\": 3,\n          \"brand\": \"VISA\",\n          \"issuer_name\": \"JPMORGAN_CHASE_BANK_NA\",\n          \"issuer_code\": \"US_JPMORGAN_CHASE_BANK_NA\",\n          \"category\": null,\n          \"type\": \"CREDIT\",\n          \"three_d_secure\": {\n            \"token\": null,\n            \"collect_url\": null,\n            \"setup_reference_id\": null,\n            \"developer_id\": null,\n            \"solution_id\": null,\n            \"code\": null,\n            \"version\": null,\n            \"electronic_commerce_indicator\": null,\n            \"cryptogram\": null,\n            \"transaction_id\": null,\n            \"acs_id\": null,\n            \"ds_id\": null,\n            \"pares_status\": null\n          }\n        }\n      }\n    }\n  },\n  \"customer_payer\": {\n    \"id\": \"a76d79b7-902f-4152-922f-7e7eebc5f3dc\",\n    \"merchant_customer_id\": \"1309\",\n    \"first_name\": \"JOHN\",\n    \"last_name\": \"DOE\",\n    \"gender\": \"M\",\n    \"date_of_birth\": \"1990-02-28\",\n    \"email\": \"test@test.com\",\n    \"nationality\": \"CO\",\n    \"ip_address\": null,\n    \"device_fingerprint\": null,\n    \"browser_info\": {\n      \"user_agent\": \"string\",\n      \"accept_header\": \"string\",\n      \"accept_content\": null,\n      \"accept_browser\": null,\n      \"color_depth\": \"32\",\n      \"screen_height\": \"32\",\n      \"screen_width\": \"32\",\n      \"javascript_enabled\": true,\n      \"java_enabled\": null,\n      \"browser_time_difference\": null,\n      \"language\": \"string\"\n    },\n    \"document\": {\n      \"document_type\": \"CC\",\n      \"document_number\": \"1093333333\"\n    },\n    \"phone\": {\n      \"number\": \"3132450765\",\n      \"country_code\": \"57\"\n    },\n    \"billing_address\": {\n      \"address_line_1\": \"Peak Avenue 123\",\n      \"address_line_2\": \"\",\n      \"country\": \"AR\",\n      \"city\": \"San Diego\"\n    },\n    \"shipping_address\": {\n      \"address_line_1\": \"Peak Avenue 123\",\n      \"address_line_2\": \"\",\n      \"country\": \"AR\",\n      \"city\": \"San Diego\"\n    }\n  },\n  \"additional_data\": null,\n  \"taxes\": null,\n  \"transactions\": [{\n    \"id\": \"c718b8e9-2943-4fdf-9b3c-426cf44940fb\",\n    \"type\": \"PURCHASE\",\n    \"status\": \"SUCCEEDED\",\n    \"category\": \"CARD\",\n    \"amount\": 20000,\n    \"provider_id\": \"DLOCAL\",\n    \"payment_method\": {\n      \"vaulted_token\": \"\",\n      \"type\": \"CARD\",\n      \"vault_on_success\": false,\n      \"token\": \"\",\n      \"detail\": {\n        \"card\": {\n          \"verify\": null,\n          \"capture\": true,\n          \"installments\": 1,\n          \"first_installment_deferral\": 0,\n          \"installments_type\": \"\",\n          \"installment_amount\": null,\n          \"soft_descriptor\": \"\",\n          \"authorization_code\": \"517862\",\n          \"retrieval_reference_number\": \"\",\n          \"voucher\": null,\n          \"card_data\": {\n            \"holder_name\": \"JOHN DOE\",\n            \"iin\": \"41111111\",\n            \"lfd\": \"1111\",\n            \"number_length\": 16,\n            \"security_code_length\": 3,\n            \"brand\": \"VISA\",\n            \"issuer_name\": \"JPMORGAN_CHASE_BANK_NA\",\n            \"issuer_code\": \"US_JPMORGAN_CHASE_BANK_NA\",\n            \"category\": null,\n            \"type\": \"CREDIT\",\n            \"three_d_secure\": {\n              \"token\": null,\n              \"collect_url\": null,\n              \"setup_reference_id\": null,\n              \"developer_id\": null,\n              \"solution_id\": null,\n              \"code\": null,\n              \"version\": null,\n              \"electronic_commerce_indicator\": null,\n              \"cryptogram\": null,\n              \"transaction_id\": null,\n              \"acs_id\": null,\n              \"ds_id\": null,\n              \"pares_status\": null\n            }\n          }\n        }\n      }\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"reason\": null,\n    \"description\": \"SUCCESSFUL\",\n    \"merchant_reference\": null,\n    \"provider_data\": {\n      \"id\": \"DLOCAL\",\n      \"transaction_id\": \"T-385928-c64b755f-1318-4a4c-a963-cd39bcefdc42\",\n      \"account_id\": \"\",\n      \"status\": \"PAID\",\n      \"sub_status\": \"\",\n      \"status_detail\": \"200\",\n      \"response_message\": \"The payment was paid.\",\n      \"raw_response\": {\n        \"value\": \"{\\\"id\\\":\\\"T-385928-c64b755f-1318-4a4c-a963-cd39bcefdc42\\\",\\\"amount\\\":20000,\\\"currency\\\":\\\"COP\\\",\\\"payment_method_id\\\":\\\"CARD\\\",\\\"payment_method_type\\\":\\\"CARD\\\",\\\"payment_method_flow\\\":\\\"DIRECT\\\",\\\"country\\\":\\\"CO\\\",\\\"card\\\":{\\\"holder_name\\\":\\\"JOHN DOE\\\",\\\"expiration_month\\\":11,\\\"expiration_year\\\":2028,\\\"brand\\\":\\\"VI\\\",\\\"last4\\\":\\\"1111\\\",\\\"installments\\\":1,\\\"installments_responsible\\\":\\\"customer\\\"},\\\"three_dsecure\\\":{},\\\"created_date\\\":\\\"2023-07-12T18:51:52.000+0000\\\",\\\"approved_date\\\":\\\"2023-07-12T18:51:54.000+0000\\\",\\\"status\\\":\\\"PAID\\\",\\\"status_detail\\\":\\\"The payment was paid.\\\",\\\"status_code\\\":\\\"200\\\",\\\"order_id\\\":\\\"c718b8e9-2943-4fdf-9b3c-426cf44940fb\\\",\\\"description\\\":\\\"SUCCESSFUL\\\",\\\"notification_url\\\":\\\"https://sandbox.y.uno/dlocal-webhook/v1/confirmations\\\",\\\"acquirer\\\":{\\\"authorization_code\\\":\\\"517862\\\"}}\"\n      },\n      \"third_party_transaction_id\": \"\"\n    },\n    \"three_d_secure_action_required\": null,\n    \"created_at\": \"2023-07-12T18:51:51.908784Z\",\n    \"updated_at\": \"2023-07-12T18:51:54.426087Z\"\n  }],\n  \"split\": [],\n  \"workflow\": \"DIRECT\",\n  \"metadata\": [],\n  \"fraud_screening\": null,\n  \"payment_link_code\": \"\"\n}"
                  },
                  "Card - With airline data": {
                    "value": "{\n  \"id\": \"6e7cc5da-2b39-4b6e-b382-df8bb1feddf1\",\n  \"account_id\": \"64761a45-6e49-4ea5-a6ff-6b52030b92ac\",\n  \"description\": \"SUCCESSFUL\",\n  \"country\": \"MX\",\n  \"status\": \"SUCCEEDED\",\n  \"sub_status\": \"APPROVED\",\n  \"merchant_order_id\": \"Order_id\",\n  \"created_at\": \"2023-07-12T20:06:41.418163Z\",\n  \"updated_at\": \"2023-07-12T20:06:41.806898Z\",\n  \"amount\": {\n    \"currency\": \"MXN\",\n    \"value\": 2000,\n    \"refunded\": 0,\n    \"captured\": 0\n  },\n  \"checkout\": {\n    \"session\": \"\",\n    \"sdk_action_required\": false\n  },\n  \"payment_method\": {\n    \"vaulted_token\": \"\",\n    \"type\": \"CARD\",\n    \"vault_on_success\": false,\n    \"token\": \"\",\n    \"payment_method_detail\": {\n      \"card\": {\n        \"verify\": null,\n        \"capture\": false,\n        \"installments\": 1,\n        \"first_installment_deferral\": 0,\n        \"installments_type\": \"\",\n        \"installment_amount\": null,\n        \"soft_descriptor\": \"\",\n        \"authorization_code\": \"\",\n        \"retrieval_reference_number\": \"\",\n        \"voucher\": null,\n        \"card_data\": {\n          \"holder_name\": \"JOHN DOE\",\n          \"iin\": \"41111111\",\n          \"lfd\": \"1111\",\n          \"number_length\": 16,\n          \"security_code_length\": 3,\n          \"brand\": \"VISA\",\n          \"issuer_name\": \"JPMORGAN_CHASE_BANK_NA\",\n          \"issuer_code\": \"US_JPMORGAN_CHASE_BANK_NA\",\n          \"category\": null,\n          \"type\": \"CREDIT\",\n          \"three_d_secure\": {\n            \"token\": null,\n            \"collect_url\": null,\n            \"setup_reference_id\": null,\n            \"developer_id\": null,\n            \"solution_id\": null,\n            \"code\": null,\n            \"version\": null,\n            \"electronic_commerce_indicator\": null,\n            \"cryptogram\": null,\n            \"transaction_id\": null,\n            \"acs_id\": null,\n            \"ds_id\": null,\n            \"pares_status\": null\n          }\n        }\n      }\n    }\n  },\n  \"customer_payer\": {\n    \"id\": null,\n    \"merchant_customer_id\": null,\n    \"first_name\": \"JOHN\",\n    \"last_name\": \"DOE\",\n    \"gender\": \"M\",\n    \"date_of_birth\": \"1998-01-01\",\n    \"email\": \"test@test.com\",\n    \"nationality\": \"CO\",\n    \"ip_address\": \"192.0.0.1\",\n    \"device_fingerprint\": null,\n    \"browser_info\": {\n      \"user_agent\": \"string\",\n      \"accept_header\": \"string\",\n      \"accept_content\": \"string\",\n      \"accept_browser\": \"string\",\n      \"color_depth\": \"32\",\n      \"screen_height\": \"32\",\n      \"screen_width\": \"32\",\n      \"javascript_enabled\": true,\n      \"java_enabled\": null,\n      \"browser_time_difference\": null,\n      \"language\": \"string\"\n    },\n    \"document\": {\n      \"document_type\": \"CC\",\n      \"document_number\": \"1092345673\"\n    },\n    \"phone\": null,\n    \"billing_address\": {\n      \"address_line_1\": \"Calle 123\",\n      \"address_line_2\": \"25-42\",\n      \"country\": \"CO\",\n      \"state\": \"CUNDINAMARCA\",\n      \"city\": \"BOGOTA\",\n      \"zip_code\": \"110110\"\n    },\n    \"shipping_address\": {\n      \"address_line_1\": \"Calle 123\",\n      \"address_line_2\": \"25-42\",\n      \"country\": \"CO\",\n      \"state\": \"CUNDINAMARCA\",\n      \"city\": \"BOGOTA\",\n      \"zip_code\": \"110110\"\n    }\n  },\n  \"additional_data\": {\n    \"airline\": {\n      \"pnr\": \"ABC123\",\n      \"legs\": [\n        {\n          \"departure_airport\": \"BOG\",\n          \"departure_datetime\": \"2023-10-31T01:30:00.000-05:00\",\n          \"departure_airport_timezone\": \"GMT-05\",\n          \"arrival_airport\": \"BOM\",\n          \"arrival_datetime\": \"\",\n          \"carrier_code\": \"PR\",\n          \"flight_number\": \"AV348\",\n          \"fare_basis_code\": \"Y\",\n          \"fare_class_code\": \"S\",\n          \"base_fare\": 18000,\n          \"base_fare_currency\": \"COP\",\n          \"stopover_code\": \"O\"\n        }\n      ],\n      \"passengers\": [\n        {\n          \"first_name\": \"JOHN\",\n          \"last_name\": \"DOE\",\n          \"middle_name\": \"STEPHEN\",\n          \"type\": \"A\",\n          \"date_of_birth\": \"1998-01-01\",\n          \"nationality\": \"CO\",\n          \"document\": {\n            \"document_type\": \"CC\",\n            \"document_number\": \"1092456327\"\n          },\n          \"country\": null,\n          \"loyalty_number\": \"79250001\",\n          \"loyalty_tier\": \"DIAMOND\",\n          \"email\": \"john.doe@company.com\",\n          \"phone\": {\n            \"number\": \"6748340921\",\n            \"country_code\": \"57\"\n          }\n        }\n      ],\n      \"ticket\": null,\n      \"tickets\": [\n        {\n          \"ticket_number\": \"BRB0001\",\n          \"e_ticket\": true,\n          \"restricted\": false,\n          \"total_fare_amount\": 20000,\n          \"total_tax_amount\": 18000,\n          \"total_fee_amount\": 1000,\n          \"issue\": {\n            \"carrier_prefix_code\": \"134\",\n            \"travel_agent_code\": \"A104121\",\n            \"travel_agent_name\": \"AEROVIAJES\",\n            \"date\": \"2023-10-31T01:30:00.000-05:00\",\n            \"address\": \"Calle 123 2564\",\n            \"city\": \"BOGOTA\",\n            \"country\": \"CO\",\n            \"zip_code\": \"111111\"\n          }\n        },\n        {\n          \"ticket_number\": \"BRB0002\",\n          \"e_ticket\": true,\n          \"restricted\": false,\n          \"total_fare_amount\": 20000,\n          \"total_tax_amount\": 18000,\n          \"total_fee_amount\": 1000,\n          \"issue\": {\n            \"carrier_prefix_code\": \"134\",\n            \"travel_agent_code\": \"A104121\",\n            \"travel_agent_name\": \"AEROVIAJES\",\n            \"date\": \"2023-10-31T01:30:00.000-05:00\",\n            \"address\": \"Calle 123 2564\",\n            \"city\": \"BOGOTA\",\n            \"country\": \"CO\",\n            \"zip_code\": \"111111\"\n          }\n        }\n      ]\n    },\n    \"order\": null,\n    \"seller_details\": null\n  },\n  \"taxes\": null,\n  \"transactions\": [{\n    \"id\": \"f4740123-2662-437c-a52b-7a80aa8fe807\",\n    \"type\": \"AUTHORIZE\",\n    \"status\": \"REJECTED\",\n    \"category\": \"CARD\",\n    \"amount\": 2000,\n    \"provider_id\": \"MERCADO_PAGO\",\n    \"payment_method\": {\n      \"vaulted_token\": \"\",\n      \"type\": \"CARD\",\n      \"vault_on_success\": false,\n      \"token\": \"\",\n      \"detail\": {\n        \"card\": {\n          \"verify\": null,\n          \"capture\": false,\n          \"installments\": 1,\n          \"first_installment_deferral\": 0,\n          \"installments_type\": \"\",\n          \"installment_amount\": null,\n          \"soft_descriptor\": \"\",\n          \"authorization_code\": \"\",\n          \"retrieval_reference_number\": \"\",\n          \"voucher\": null,\n          \"card_data\": {\n            \"holder_name\": \"JOHN DOE\",\n            \"iin\": \"41111111\",\n            \"lfd\": \"1111\",\n            \"number_length\": 16,\n            \"security_code_length\": 3,\n            \"brand\": \"VISA\",\n            \"issuer_name\": \"JPMORGAN_CHASE_BANK_NA\",\n            \"issuer_code\": \"US_JPMORGAN_CHASE_BANK_NA\",\n            \"category\": null,\n            \"type\": \"CREDIT\",\n            \"three_d_secure\": {\n              \"token\": null,\n              \"collect_url\": null,\n              \"setup_reference_id\": null,\n              \"developer_id\": null,\n              \"solution_id\": null,\n              \"code\": null,\n              \"version\": null,\n              \"electronic_commerce_indicator\": null,\n              \"cryptogram\": null,\n              \"transaction_id\": null,\n              \"acs_id\": null,\n              \"ds_id\": null,\n              \"pares_status\": null\n            }\n          }\n        }\n      }\n    },\n    \"response_code\": \"SUCCEEDED\",\n    \"response_message\": \"Transaction successful\",\n    \"reason\": null,\n    \"description\": \"SUCCESSFUL\",\n    \"merchant_reference\": null,\n    \"provider_data\": {\n      \"id\": \"DLOCAL\",\n      \"transaction_id\": \"T-385928-c64b755f-1318-4a4c-a963-cd39bcefdc42\",\n      \"account_id\": \"\",\n      \"status\": \"PAID\",\n      \"sub_status\": \"\",\n      \"status_detail\": \"200\",\n      \"response_message\": \"The payment was paid.\",\n      \"raw_response\": {\n        \"value\": \"{\\\"id\\\":\\\"T-385928-c64b755f-1318-4a4c-a963-cd39bcefdc42\\\",\\\"amount\\\":20000,\\\"currency\\\":\\\"COP\\\",\\\"payment_method_id\\\":\\\"CARD\\\",\\\"payment_method_type\\\":\\\"CARD\\\",\\\"payment_method_flow\\\":\\\"DIRECT\\\",\\\"country\\\":\\\"CO\\\",\\\"card\\\":{\\\"holder_name\\\":\\\"JOHN DOE\\\",\\\"expiration_month\\\":11,\\\"expiration_year\\\":2028,\\\"brand\\\":\\\"VI\\\",\\\"last4\\\":\\\"1111\\\",\\\"installments\\\":1,\\\"installments_responsible\\\":\\\"customer\\\"},\\\"three_dsecure\\\":{},\\\"created_date\\\":\\\"2023-07-12T18:51:52.000+0000\\\",\\\"approved_date\\\":\\\"2023-07-12T18:51:54.000+0000\\\",\\\"status\\\":\\\"PAID\\\",\\\"status_detail\\\":\\\"The payment was paid.\\\",\\\"status_code\\\":\\\"200\\\",\\\"order_id\\\":\\\"c718b8e9-2943-4fdf-9b3c-426cf44940fb\\\",\\\"description\\\":\\\"SUCCESSFUL\\\",\\\"notification_url\\\":\\\"https://sandbox.y.uno/dlocal-webhook/v1/confirmations\\\",\\\"acquirer\\\":{\\\"authorization_code\\\":\\\"517862\\\"}}\"\n      },\n      \"third_party_transaction_id\": \"\"\n    },\n    \"three_d_secure_action_required\": null,\n    \"created_at\": \"2023-07-12T18:51:51.908784Z\",\n    \"updated_at\": \"2023-07-12T18:51:54.426087Z\"\n  }],\n  \"split\": [],\n  \"workflow\": \"DIRECT\",\n  \"metadata\": [],\n  \"fraud_screening\": null,\n  \"payment_link_code\": \"\"\n}"
                  },
                  "Card - With 3DS direct": {
                    "value": "{\n\n        \"id\": \"cb3ca163-cb79-41d7-b9a3-0115e30a7c01\",\n        \"idempotency_key\": \"fc0d89a1-8d18-4759-8d0a-ee1c6d0386e2\",\n        \"account_code\": \"26a6626c-d3ec-4caa-bf7c-a994b145dc00\",\n        \"account_id\": \"26a6626c-d3ec-4caa-bf7c-a994b145dc00\",\n        \"description\": \"TEST_3DS\",\n        \"country\": \"CO\",\n        \"status\": \"SUCCEEDED\",\n        \"sub_status\": \"APPROVED\",\n        \"merchant_order_id\": \"0000023\",\n        \"created_at\": \"2023-07-17T17:00:39.678379Z\",\n        \"updated_at\": \"2023-07-17T17:41:48.453381Z\",\n        \"amount\": {\n            \"currency\": \"COP\",\n            \"value\": 5000.00,\n            \"refunded\": 0.00,\n            \"captured\": 0.00\n        },\n        \"checkout\": {\n            \"session\": \"b0751c96-0b00-4b8c-8372-c16f72f60598\",\n            \"sdk_action_required\": false\n        },\n        \"customer_payer\": {\n            \"id\": \"fc7ef8ae-000d-4903-ab76-494ebc8d5fa3\",\n            \"merchant_customer_id\": \"1689374657\",\n            \"first_name\": \"Rashad\",\n            \"last_name\": \"Rath\",\n            \"gender\": null,\n            \"date_of_birth\": null,\n            \"email\": \"Newell.Cronin79@hotmail.com\",\n            \"nationality\": null,\n            \"ip_address\": null,\n            \"device_fingerprint\": null,\n            \"browser_info\": null,\n            \"document\": {\n                \"document_type\": \"CC\",\n                \"document_number\": \"38799999\"\n            },\n            \"phone\": null,\n            \"billing_address\": {\n                \"address_line_1\": \"\",\n                \"address_line_2\": \"\"\n            },\n            \"shipping_address\": {\n                \"address_line_1\": \"\",\n                \"address_line_2\": \"\"\n            }\n        },\n        \"additional_data\": {\n            \"airline\": null,\n            \"order\": null,\n            \"seller_details\": null\n        },\n        \"taxes\": null,\n        \"transactions\": [\n            {\n                \"id\": \"caada737-27ab-46ca-91a9-744da64c4787\",\n                \"type\": \"THREE_D_SECURE\",\n                \"status\": \"SUCCEEDED\",\n                \"category\": \"CARD\",\n                \"amount\": 5000.00,\n                \"provider_id\": \"CYBERSOURCE_3DS\",\n                \"payment_method\": {\n                    \"vaulted_token\": \"\",\n                    \"type\": \"CARD\",\n                    \"vault_on_success\": false,\n                    \"token\": \"\",\n                    \"detail\": {\n                        \"card\": {\n                            \"verify\": null,\n                            \"capture\": true,\n                            \"installments\": 1,\n                            \"first_installment_deferral\": 0,\n                            \"installments_type\": \"\",\n                            \"installment_amount\": null,\n                            \"soft_descriptor\": \"\",\n                            \"authorization_code\": \"\",\n                            \"retrieval_reference_number\": \"\",\n                            \"voucher\": null,\n                            \"redirect_url\": \"https://checkout.staging.y.uno/payment?session=14c263bd-e01d-400f-885a-70205df8b417\",\n                            \"card_data\": {\n                                \"holder_name\": \"John Doe\",\n                                \"iin\": \"44565300\",\n                                \"lfd\": \"0007\",\n                                \"number_length\": 16,\n                                \"security_code_length\": 3,\n                                \"brand\": \"VISA\",\n                                \"issuer_name\": \"\",\n                                \"issuer_code\": null,\n                                \"category\": null,\n                                \"type\": \"CREDIT\",\n                                \"three_d_secure\": {\n                                    \"three_d_secure_setup_id\": \"24127d61-b852-42fb-acd4-1ee661645376\",\n                                    \"version\": null,                        \n                                  \t\"electronic_commerce_indicator\": null,\n                                    \"cryptogram\": null,\n                                    \"transaction_id\": null,\n                                  \t\"directory_server_transaction_id\": null,\n                                    \"pares_status\": \"Y\"\n                                }\n                            }\n                        }\n                    }\n                },\n                \"response_code\": \"SUCCEEDED\",\n                \"response_message\": \"Transaction successful\",\n                \"reason\": null,\n                \"description\": \"TEST_3DS\",\n                \"merchant_reference\": \"reference-5f6dd991-ab14-4da3-b7d8-9f24a04ebd92\",\n                \"provider_data\": {\n                    \"id\": \"CYBERSOURCE_3DS\",\n                    \"transaction_id\": \"6896132402506977804951\",\n                    \"account_id\": \"\",\n                    \"status\": \"AUTHENTICATION_SUCCESSFUL\",\n                    \"sub_status\": \"\",\n                    \"status_detail\": \"\",\n                    \"response_message\": \"CONSUMER_AUTHENTICATION_REQUIRED\",\n                    \"raw_response\": {\n                        \"clientReferenceInformation\": {\n                            \"code\": \"24127d61-b852-42fb-acd4-1ee661645376\"\n                        },\n                        \"consumerAuthenticationInformation\": {\n                            \"accessToken\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIxZmM5ZDVhMS04M2ZhLTQwYWEtYjI5Ny1iZDM1ZGIxODQ4ZjAiLCJpYXQiOjE2ODk2MTMyNDAsImlzcyI6IjVkZDgzYmYwMGU0MjNkMTQ5OGRjYmFjYSIsImV4cCI6MTY4OTYxNjg0MCwiT3JnVW5pdElkIjoiNjQwYTM1NjlkODdhMjUwYTQyNTEwOWRjIiwiUGF5bG9hZCI6eyJBQ1NVcmwiOiJodHRwczovL21lcmNoYW50YWNzc3RhZy5jYXJkaW5hbGNvbW1lcmNlLmNvbS9NZXJjaGFudEFDU1dlYi9wYXJlcS5qc3A_dmFhPWImZ29sZD1BQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEiLCJQYXlsb2FkIjoiZU5wVlVWMXZna0FRZkw5ZlFVd2ZHKzZBS3RHc2w5QnE2a2MwdHRCb254cUViU1dWRDQvRHFMKytkd2kxdmFlZHljN3R6aXdFTzRFNDhqR3FCSEpZWUZtR1gyZ2s4YkRqWC9KcHZqaVV6M0kyUzc4LzAvUE1ZeDBPSys4VkR4eU9LTW9rejdobE10TUcya0tpdmhEUkxzd2toekE2UEU2WC9LSFh0NjBlMEFZU1NGRk1SendZKzhHSE0vS0JYakdCTEV5UnYxZFpiaWphQ0xDVVFHdU9RSlJYbVJSbmJya01hQXNJVkdMUGQxSVc1WURTczZtVVFEVkZnTjYyV0ZXNktwVzVVeEx6TjZjNCt1ditNdG9zSi9HNG1HL1hNdDF1OXZPWHdCc0MxUjBFNGxBaXQ1bnRNTmR5RGNzZE1EWncra0JybmtDWTZ2bjhybXN5eHU2WldxaGhDQlI2bG5kRlhhWWYwTCtjTWxJSmdWblVPbWtSQVR3VmVZYXFSNFg1V3lzanQvV2ZKanJTU0txc1hPWTR6TEoxcGpXdTVZbUt4TzR4cTlZbmRUNVVhMmh6TWRvY1YxWC9qdjREQVEybVdnPT0iLCJUcmFuc2FjdGlvbklkIjoiU3pvSW9NcXNHdEpKbWtmbXlKQTAifSwiT2JqZWN0aWZ5UGF5bG9hZCI6dHJ1ZSwiUmV0dXJuVXJsIjoiaHR0cHM6Ly9zdGFnaW5nLnkudW5vL2N5YmVyc291cmNlLTNkcy13ZWJob29rL3YxL2NvbmZpcm1hdGlvbnMvYXV0aC8yNDEyN2Q2MS1iODUyLTQyZmItYWNkNC0xZWU2NjE2NDUzNzYifQ.5ehSTA5uUKc2DfvTRGJZ8dPKbxAJ5WproKSTLqu4egM\",\n                            \"acsUrl\": \"https://merchantacsstag.cardinalcommerce.com/MerchantACSWeb/pareq.jsp?vaa=b&gold=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\",\n                            \"authenticationPath\": \"ENROLLED\",\n                            \"authenticationTransactionId\": \"SzoIoMqsGtJJmkfmyJA0\",\n                            \"pareq\": \"eNpVUV1vgkAQfL9fQUwfG+6AKtGsl9Bq6kc0ttBonxqEbSWVD4/DqL++dwi1vaedyc7tziwEO4E48jGqBHJYYFmGX2gk8bDjX/JpvjiUz3I2S78/0/PMYx0OK+8VDxyOKMokz7hlMtMG2kKivhDRLswkhzA6PE6X/KHXt60e0AYSSFFMRzwY+8GHM/KBXjGBLEyRv1dZbijaCLCUQGuOQJRXmRRnbrkMaAsIVGLPd1IW5YDSs6mUQDVFgN62WFW6KpW5UxLzN6c4+uv+MtosJ/G4mG/XMt1u9vOXwBsC1R0E4lAit5ntMNdyDcsdMDZw+kBrnkCY6vn8rmsyxu6ZWqhhCBR6lndFXaYf0L+cMlIJgVnUOmkRATwVeYaqR4X5Wysjt/WfJjrSSKqsXOY4zLJ1pjWu5YmKxO4xq9YndT5Ua2hzMdocV1X/jv4DAQ2mWg==\",\n                            \"proofXml\": \"<AuthProof><Time>2023 Jul 17 17:00:39</Time><DSUrl>https://merchantacsstag.cardinalcommerce.com/MerchantACSWeb/vereq.jsp?acqid=CYBS</DSUrl><VEReqProof><Message id=\\\"SzoIoMqsGtJJmkfmyJA0\\\"><VEReq><version>1.0.2</version><pan>XXXXXXXXXXXX0007</pan><Merchant><acqBIN>469216</acqBIN><merID>TEST_3DS</merID></Merchant><Browser><deviceCategory>0</deviceCategory><accept>*/*</accept><userAgent>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36</userAgent></Browser></VEReq></Message></VEReqProof><VEResProof><Message id=\\\"SzoIoMqsGtJJmkfmyJA0\\\"><VERes><version>1.0.2</version><CH><enrolled>Y</enrolled><acctID>7033012</acctID></CH><url>https://merchantacsstag.cardinalcommerce.com/MerchantACSWeb/pareq.jsp?vaa=b&amp;gold=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</url><protocol>ThreeDSecure</protocol></VERes></Message></VEResProof></AuthProof>\",\n                            \"proxyPan\": \"7033012\",\n                            \"specificationVersion\": \"1.0.2\",\n                            \"stepUpUrl\": \"https://centinelapistag.cardinalcommerce.com/V2/Cruise/StepUp\",\n                            \"strongAuthentication\": {\n                                \"OutageExemptionIndicator\": \"0\"\n                            },\n                            \"token\": \"AxjzbwSTddcP6s4BiIKXABEBURzGv4QYVRP0JAY/LtaSZejFq0T8BEAAwwdp\",\n                            \"veresEnrolled\": \"Y\",\n                            \"xid\": \"U3pvSW9NcXNHdEpKbWtmbXlKQTA=\"\n                        },\n                        \"errorInformation\": {\n                            \"message\": \"The cardholder is enrolled in Payer Authentication. Please authenticate the cardholder before continuing with the transaction.\",\n                            \"reason\": \"CONSUMER_AUTHENTICATION_REQUIRED\"\n                        },\n                        \"id\": \"6896132402506977804951\",\n                        \"paymentInformation\": {\n                            \"card\": {\n                                \"bin\": \"445653\",\n                                \"type\": \"VISA\"\n                            }\n                        },\n                        \"status\": \"PENDING_AUTHENTICATION\",\n                        \"submitTimeUtc\": \"2023-07-17T17:00:40Z\"\n                    },\n                    \"third_party_transaction_id\": null\n                },\n                \"three_d_secure_action_required\": null,\n                \"created_at\": \"2023-07-17T17:00:39.765728Z\",\n                \"updated_at\": \"2023-07-17T17:41:43.593769Z\"\n            },\n            {\n                \"id\": \"4081b900-3efa-44a2-83d8-bca350476b06\",\n                \"type\": \"PURCHASE\",\n                \"status\": \"SUCCEEDED\",\n                \"category\": \"CARD\",\n                \"amount\": 5000.00,\n                \"provider_id\": \"DLOCAL\",\n                \"payment_method\": {\n                    \"vaulted_token\": \"\",\n                    \"type\": \"CARD\",\n                    \"vault_on_success\": false,\n                    \"token\": \"\",\n                    \"detail\": {\n                        \"card\": {\n                            \"verify\": null,\n                            \"capture\": true,\n                            \"installments\": 1,\n                            \"first_installment_deferral\": 0,\n                            \"installments_type\": \"\",\n                            \"installment_amount\": null,\n                            \"soft_descriptor\": \"\",\n                            \"authorization_code\": \"445975\",\n                            \"retrieval_reference_number\": \"\",\n                            \"voucher\": null,\n                            \"card_data\": {\n                                \"holder_name\": \"John Doe\",\n                                \"iin\": \"44565300\",\n                                \"lfd\": \"0007\",\n                                \"number_length\": 16,\n                                \"security_code_length\": 3,\n                                \"brand\": \"VISA\",\n                                \"issuer_name\": \"\",\n                                \"issuer_code\": null,\n                                \"category\": null,\n                                \"type\": \"CREDIT\",\n                                \"three_d_secure\": {\n                                    \"three_d_secure_setup_id\": \"24127d61-b852-42fb-acd4-1ee661645376\",\n                                    \"version\": null,                        \n                                  \t\"electronic_commerce_indicator\": null,\n                                    \"cryptogram\": null,\n                                    \"transaction_id\": null,\n                                  \t\"directory_server_transaction_id\": null,\n                                    \"pares_status\": \"Y\"\n                                }\n                            }\n                        }\n                    }\n                },\n                \"response_code\": \"SUCCEEDED\",\n                \"response_message\": \"Transaction successful\",\n                \"reason\": null,\n                \"description\": \"TEST_3DS\",\n                \"merchant_reference\": null,\n                \"provider_data\": {\n                    \"id\": \"DLOCAL\",\n                    \"transaction_id\": \"T-385928-57934367-25ca-4445-a973-da5c1a4635b2\",\n                    \"account_id\": \"\",\n                    \"status\": \"PAID\",\n                    \"sub_status\": \"\",\n                    \"status_detail\": \"200\",\n                    \"response_message\": \"The payment was paid.\",\n                    \"raw_response\": {\n                        \"value\": \"{\\\"id\\\":\\\"T-385928-57934367-25ca-4445-a973-da5c1a4635b2\\\",\\\"amount\\\":5000,\\\"currency\\\":\\\"COP\\\",\\\"payment_method_id\\\":\\\"CARD\\\",\\\"payment_method_type\\\":\\\"CARD\\\",\\\"payment_method_flow\\\":\\\"DIRECT\\\",\\\"country\\\":\\\"CO\\\",\\\"card\\\":{\\\"holder_name\\\":\\\"John Doe\\\",\\\"expiration_month\\\":1,\\\"expiration_year\\\":2026,\\\"brand\\\":\\\"VI\\\",\\\"last4\\\":\\\"0007\\\",\\\"installments\\\":1,\\\"installments_responsible\\\":\\\"customer\\\"},\\\"three_dsecure\\\":{},\\\"created_date\\\":\\\"2023-07-17T17:41:44.000+0000\\\",\\\"approved_date\\\":\\\"2023-07-17T17:41:48.000+0000\\\",\\\"status\\\":\\\"PAID\\\",\\\"status_detail\\\":\\\"The payment was paid.\\\",\\\"status_code\\\":\\\"200\\\",\\\"order_id\\\":\\\"4081b900-3efa-44a2-83d8-bca350476b06\\\",\\\"description\\\":\\\"TEST_3DS\\\",\\\"notification_url\\\":\\\"https://staging.y.uno/dlocal-webhook/v1/confirmations\\\",\\\"acquirer\\\":{\\\"authorization_code\\\":\\\"445975\\\"}}\"\n                    },\n                    \"third_party_transaction_id\": \"\"\n                },\n                \"three_d_secure_action_required\": null,\n                \"created_at\": \"2023-07-17T17:41:43.752435Z\",\n                \"updated_at\": \"2023-07-17T17:41:48.395863Z\"\n            }\n        ],\n        \"split\": [],\n        \"callback_url\": \"https://google.com\",\n        \"workflow\": \"REDIRECT\",\n        \"fraud_screening\": null,\n        \"metadata\": [],\n        \"payment_link_code\": \"\"\n    \n}"
                  },
                  "Card - With customer, billing, and shipping details": {
                    "value": "{\n    \"id\": \"12113b61-015a-4a01-a69c-ab7423d0138d\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test\",\n    \"country\": \"CO\",\n    \"status\": \"SUCCEEDED\",\n    \"sub_status\": \"APPROVED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-07-24T01:03:02.291414Z\",\n    \"updated_at\": \"2023-07-24T01:03:04.571022Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 5000.00\n    },\n    \"checkout\": {\n        \"session\": \"\",\n        \"sdk_action_required\": false\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": false,\n        \"token\": \"\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": true,\n                \"installments\": 1,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"123456\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"JOHN DOE\",\n                    \"iin\": \"40518856\",\n                    \"lfd\": \"6623\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"\",\n                    \"issuer_code\": null,\n                    \"category\": null,\n                    \"type\": \"CREDIT\",\n                    \"three_d_secure\": {\n                        \"version\": null,\n                        \"electronic_commerce_indicator\": null,\n                        \"cryptogram\": null,\n                        \"transaction_id\": null,\n                        \"directory_server_transaction_id\": null,\n                        \"pares_status\": null,\n                        \"acs_id\": null\n                    }\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": null,\n        \"merchant_customer_id\": \"1690160581\",\n        \"first_name\": \"Pat\",\n        \"last_name\": \"Nienow\",\n        \"gender\": \"F\",\n        \"date_of_birth\": \"1990-02-28\",\n        \"email\": \"Levi1@hotmail.com\",\n        \"nationality\": \"CO\",\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": {\n            \"document_type\": \"CC\",\n            \"document_number\": \"1032765432\"\n        },\n        \"phone\": {\n            \"number\": \"3132450765\",\n            \"country_code\": \"57\"\n        },\n        \"billing_address\": {\n            \"address_line_1\": \"Calle 34 # 56 - 78\",\n            \"address_line_2\": \"Apartamento 502, Torre I\",\n            \"country\": \"CO\",\n            \"state\": \"Cundinamarca\",\n            \"city\": \"Bogotá\",\n            \"zip_code\": \"111111\"\n        },\n        \"shipping_address\": {\n            \"address_line_1\": \"Calle 34 # 56 - 78\",\n            \"address_line_2\": \"Apartamento 502, Torre I\",\n            \"country\": \"CO\",\n            \"state\": \"Cundinamarca\",\n            \"city\": \"Bogotá\",\n            \"zip_code\": \"111111\"\n        }\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": [{\n        \"id\": \"73e5cddf-32c7-4b12-9d8e-92335862928f\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 5000.00,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": false,\n            \"token\": \"\",\n            \"detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": true,\n                    \"installments\": 1,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"123456\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"JOHN DOE\",\n                        \"iin\": \"40518856\",\n                        \"lfd\": \"6623\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"\",\n                        \"issuer_code\": null,\n                        \"category\": null,\n                        \"type\": \"CREDIT\",\n                        \"three_d_secure\": {\n                            \"version\": null,\n                            \"electronic_commerce_indicator\": null,\n                            \"cryptogram\": null,\n                            \"transaction_id\": null,\n                            \"directory_server_transaction_id\": null,\n                            \"pares_status\": null,\n                            \"acs_id\": null\n                        }\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test\",\n        \"merchant_reference\": \"reference-85ffbde3-2256-418f-b761-41ab2d8706dd\",\n        \"provider_data\": {\n            \"id\": \"YUNO_TEST_PAYMENT_GW\",\n            \"transaction_id\": \"d570b77a-759e-45ae-abb9-ab4ab3034d0c\",\n            \"account_id\": \"\",\n            \"status\": \"SUCCEEDED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"response_message\": \"\",\n            \"raw_response\": {\n                \"amount\": {\n                    \"currency\": \"BRL\",\n                    \"value\": 2100\n                },\n                \"merchantAccount\": \"YunoPaymentsECOM\",\n                \"paymentPspReference\": \"ZKHXKZGXMLBX8N82\",\n                \"pspReference\": \"VKJTCWZ9575ZGN82\",\n                \"reference\": \"34343434\",\n                \"status\": \"received\"\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"created_at\": \"2023-07-24T01:03:02.407480Z\",\n        \"updated_at\": \"2023-07-24T01:03:04.499303Z\"\n    }],\n    \"split\": [],\n    \"workflow\": \"DIRECT\",\n    \"metadata\": [],\n    \"fraud_screening\": null,\n    \"payment_link_code\": \"\"\n}"
                  },
                  "Card - With customer, billing, shipping and order items": {
                    "value": "{\n    \"id\": \"cf205a5e-140e-4c08-9a5b-ee44b91256dc\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test\",\n    \"country\": \"CO\",\n    \"status\": \"SUCCEEDED\",\n    \"sub_status\": \"APPROVED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-07-24T01:08:17.039613Z\",\n    \"updated_at\": \"2023-07-24T01:08:19.300337Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 5000.00\n    },\n    \"checkout\": {\n        \"session\": \"\",\n        \"sdk_action_required\": false\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": false,\n        \"token\": \"\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": true,\n                \"installments\": 1,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"123456\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"JOHN DOE\",\n                    \"iin\": \"40518856\",\n                    \"lfd\": \"6623\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"\",\n                    \"issuer_code\": null,\n                    \"category\": null,\n                    \"type\": \"CREDIT\",\n                    \"three_d_secure\": {\n                        \"version\": null,\n                        \"electronic_commerce_indicator\": null,\n                        \"cryptogram\": null,\n                        \"transaction_id\": null,\n                        \"directory_server_transaction_id\": null,\n                        \"pares_status\": null,\n                        \"acs_id\": null\n                    }\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": null,\n        \"merchant_customer_id\": \"1690160896\",\n        \"first_name\": \"Braeden\",\n        \"last_name\": \"Bruen\",\n        \"gender\": \"F\",\n        \"date_of_birth\": \"1990-02-28\",\n        \"email\": \"Skye4@hotmail.com\",\n        \"nationality\": \"CO\",\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": {\n            \"document_type\": \"CC\",\n            \"document_number\": \"1032765432\"\n        },\n        \"phone\": {\n            \"number\": \"3132450765\",\n            \"country_code\": \"57\"\n        },\n        \"billing_address\": {\n            \"address_line_1\": \"Calle 34 # 56 - 78\",\n            \"address_line_2\": \"Apartamento 502, Torre I\",\n            \"country\": \"CO\",\n            \"state\": \"Cundinamarca\",\n            \"city\": \"Bogotá\",\n            \"zip_code\": \"111111\"\n        },\n        \"shipping_address\": {\n            \"address_line_1\": \"Calle 34 # 56 - 78\",\n            \"address_line_2\": \"Apartamento 502, Torre I\",\n            \"country\": \"CO\",\n            \"state\": \"Cundinamarca\",\n            \"city\": \"Bogotá\",\n            \"zip_code\": \"111111\"\n        }\n    },\n    \"additional_data\": {\n        \"airline\": null,\n        \"order\": {\n            \"fee_amount\": 0,\n            \"shipping_amount\": 0,\n            \"items\": [\n                {\n                    \"id\": \"123AD\",\n                    \"name\": \"Skirt\",\n                    \"quantity\": 1,\n                    \"unit_amount\": 5000,\n                    \"category\": \"Clothes\",\n                    \"brand\": \"XYZ\",\n                    \"sku_code\": \"8765432109\",\n                    \"manufacture_part_number\": \"XYZ123456\"\n                }\n            ]\n        },\n        \"seller_details\": null\n    },\n    \"taxes\": null,\n    \"transactions\": [{\n        \"id\": \"bf442c7f-2393-4607-98b5-a4c2a8a97bbc\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 5000.00,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": false,\n            \"token\": \"\",\n            \"detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": true,\n                    \"installments\": 1,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"123456\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"JOHN DOE\",\n                        \"iin\": \"40518856\",\n                        \"lfd\": \"6623\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"\",\n                        \"issuer_code\": null,\n                        \"category\": null,\n                        \"type\": \"CREDIT\",\n                        \"three_d_secure\": {\n                            \"version\": null,\n                            \"electronic_commerce_indicator\": null,\n                            \"cryptogram\": null,\n                            \"transaction_id\": null,\n                            \"directory_server_transaction_id\": null,\n                            \"pares_status\": null,\n                            \"acs_id\": null\n                        }\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test\",\n        \"merchant_reference\": \"reference-9260ef97-81b5-4e35-ac17-0d3d124a0d59\",\n        \"provider_data\": {\n            \"id\": \"YUNO_TEST_PAYMENT_GW\",\n            \"transaction_id\": \"ade1dcf5-cbf5-408b-84af-f504abe01a26\",\n            \"account_id\": \"\",\n            \"status\": \"SUCCEEDED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"response_message\": \"\",\n            \"raw_response\": {\n                \"amount\": {\n                    \"currency\": \"BRL\",\n                    \"value\": 2100\n                },\n                \"merchantAccount\": \"YunoPaymentsECOM\",\n                \"paymentPspReference\": \"ZKHXKZGXMLBX8N82\",\n                \"pspReference\": \"VKJTCWZ9575ZGN82\",\n                \"reference\": \"34343434\",\n                \"status\": \"received\"\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"created_at\": \"2023-07-24T01:08:17.147871Z\",\n        \"updated_at\": \"2023-07-24T01:08:19.222926Z\"\n    }],\n    \"split\": [],\n    \"workflow\": \"DIRECT\",\n    \"metadata\": [],\n    \"fraud_screening\": null,\n    \"payment_link_code\": \"\"\n}"
                  },
                  "Card - With installments": {
                    "value": "{\n    \"id\": \"3707bcc5-f88c-4092-ba44-142d1f3ea229\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test\",\n    \"country\": \"CO\",\n    \"status\": \"SUCCEEDED\",\n    \"sub_status\": \"APPROVED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-07-24T01:10:50.152163Z\",\n    \"updated_at\": \"2023-07-24T01:10:52.417211Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 5000.00\n    },\n    \"checkout\": {\n        \"session\": \"\",\n        \"sdk_action_required\": false\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": false,\n        \"token\": \"\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": true,\n                \"installments\": 3,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"123456\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"JOHN DOE\",\n                    \"iin\": \"40518856\",\n                    \"lfd\": \"6623\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"\",\n                    \"issuer_code\": null,\n                    \"category\": null,\n                    \"type\": \"CREDIT\",\n                    \"three_d_secure\": {\n                        \"version\": null,\n                        \"electronic_commerce_indicator\": null,\n                        \"cryptogram\": null,\n                        \"transaction_id\": null,\n                        \"directory_server_transaction_id\": null,\n                        \"pares_status\": null,\n                        \"acs_id\": null\n                    }\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": null,\n        \"merchant_customer_id\": \"1690161049\",\n        \"first_name\": \"Giovanna\",\n        \"last_name\": \"Bartell\",\n        \"gender\": null,\n        \"date_of_birth\": null,\n        \"email\": \"Lisandro_Leannon58@hotmail.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": null,\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": [{\n        \"id\": \"a58043ab-e5c6-4476-adfb-623fa8cc320d\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 5000.00,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": false,\n            \"token\": \"\",\n            \"detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": true,\n                    \"installments\": 3,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"123456\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"JOHN DOE\",\n                        \"iin\": \"40518856\",\n                        \"lfd\": \"6623\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"\",\n                        \"issuer_code\": null,\n                        \"category\": null,\n                        \"type\": \"CREDIT\",\n                        \"three_d_secure\": {\n                            \"version\": null,\n                            \"electronic_commerce_indicator\": null,\n                            \"cryptogram\": null,\n                            \"transaction_id\": null,\n                            \"directory_server_transaction_id\": null,\n                            \"pares_status\": null,\n                            \"acs_id\": null\n                        }\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test\",\n        \"merchant_reference\": \"reference-f3f9319f-f3f7-48a3-90c2-fac0a2f782be\",\n        \"provider_data\": {\n            \"id\": \"YUNO_TEST_PAYMENT_GW\",\n            \"transaction_id\": \"9efdc397-2a74-479a-af00-bf5ae7e2a76e\",\n            \"account_id\": \"\",\n            \"status\": \"SUCCEEDED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"response_message\": \"\",\n            \"raw_response\": {\n                \"amount\": {\n                    \"currency\": \"BRL\",\n                    \"value\": 2100\n                },\n                \"merchantAccount\": \"YunoPaymentsECOM\",\n                \"paymentPspReference\": \"ZKHXKZGXMLBX8N82\",\n                \"pspReference\": \"VKJTCWZ9575ZGN82\",\n                \"reference\": \"34343434\",\n                \"status\": \"received\"\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"created_at\": \"2023-07-24T01:10:50.273142Z\",\n        \"updated_at\": \"2023-07-24T01:10:52.339967Z\"\n    }],\n    \"split\": [],\n    \"workflow\": \"DIRECT\",\n    \"metadata\": [],\n    \"fraud_screening\": null,\n    \"payment_link_code\": \"\"\n}"
                  },
                  "Card - With authorization": {
                    "value": "{\n    \"id\": \"c0409fc0-87d5-453f-bf91-8f0af2f09347\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test\",\n    \"country\": \"CO\",\n    \"status\": \"PENDING\",\n    \"sub_status\": \"AUTHORIZED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-07-24T01:13:37.372312Z\",\n    \"updated_at\": \"2023-07-24T01:13:39.654433Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 5000.00\n    },\n    \"checkout\": {\n        \"session\": \"\",\n        \"sdk_action_required\": false\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": false,\n        \"token\": \"\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": false,\n                \"installments\": 1,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"123456\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"JOHN DOE\",\n                    \"iin\": \"40518856\",\n                    \"lfd\": \"6623\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"\",\n                    \"issuer_code\": null,\n                    \"category\": null,\n                    \"type\": \"CREDIT\",\n                    \"three_d_secure\": {\n                        \"version\": null,\n                        \"electronic_commerce_indicator\": null,\n                        \"cryptogram\": null,\n                        \"transaction_id\": null,\n                        \"directory_server_transaction_id\": null,\n                        \"pares_status\": null,\n                        \"acs_id\": null\n                    }\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": null,\n        \"merchant_customer_id\": \"1690161049\",\n        \"first_name\": \"Giovanna\",\n        \"last_name\": \"Bartell\",\n        \"gender\": null,\n        \"date_of_birth\": null,\n        \"email\": \"Lisandro_Leannon58@hotmail.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": null,\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": [{\n        \"id\": \"e9108a97-5d0d-492a-99bf-da1ee42af425\",\n        \"type\": \"AUTHORIZE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 5000.00,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": false,\n            \"token\": \"\",\n            \"detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": false,\n                    \"installments\": 1,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"123456\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"JOHN DOE\",\n                        \"iin\": \"40518856\",\n                        \"lfd\": \"6623\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"\",\n                        \"issuer_code\": null,\n                        \"category\": null,\n                        \"type\": \"CREDIT\",\n                        \"three_d_secure\": {\n                            \"version\": null,\n                            \"electronic_commerce_indicator\": null,\n                            \"cryptogram\": null,\n                            \"transaction_id\": null,\n                            \"directory_server_transaction_id\": null,\n                            \"pares_status\": null,\n                            \"acs_id\": null\n                        }\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test\",\n        \"merchant_reference\": \"reference-0b914bf9-0e86-4713-a908-0ec01d60c486\",\n        \"provider_data\": {\n            \"id\": \"YUNO_TEST_PAYMENT_GW\",\n            \"transaction_id\": \"1b7011ff-4252-4ac6-99a4-d5de2086896b\",\n            \"account_id\": \"\",\n            \"status\": \"SUCCEEDED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"response_message\": \"\",\n            \"raw_response\": {\n                \"amount\": {\n                    \"currency\": \"BRL\",\n                    \"value\": 2100\n                },\n                \"merchantAccount\": \"YunoPaymentsECOM\",\n                \"paymentPspReference\": \"ZKHXKZGXMLBX8N82\",\n                \"pspReference\": \"VKJTCWZ9575ZGN82\",\n                \"reference\": \"34343434\",\n                \"status\": \"received\"\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"created_at\": \"2023-07-24T01:13:37.492230Z\",\n        \"updated_at\": \"2023-07-24T01:13:39.584118Z\"\n    }],\n    \"split\": [],\n    \"workflow\": \"DIRECT\",\n    \"metadata\": [],\n    \"fraud_screening\": null,\n    \"payment_link_code\": \"\"\n}"
                  },
                  "Card - With device fingerprint": {
                    "value": "{\n    \"id\": \"8e7fbcad-9c7b-43c6-8fbf-b864e87c5e41\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test\",\n    \"country\": \"CO\",\n    \"status\": \"SUCCEEDED\",\n    \"sub_status\": \"APPROVED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-07-24T01:20:02.671644Z\",\n    \"updated_at\": \"2023-07-24T01:20:04.946852Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 5000.00\n    },\n    \"checkout\": {\n        \"session\": \"\",\n        \"sdk_action_required\": false\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": false,\n        \"token\": \"\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": true,\n                \"installments\": 1,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"123456\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"JOHN DOE\",\n                    \"iin\": \"40518856\",\n                    \"lfd\": \"6623\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"\",\n                    \"issuer_code\": null,\n                    \"category\": null,\n                    \"type\": \"CREDIT\",\n                    \"three_d_secure\": {\n                        \"version\": null,\n                        \"electronic_commerce_indicator\": null,\n                        \"cryptogram\": null,\n                        \"transaction_id\": null,\n                        \"directory_server_transaction_id\": null,\n                        \"pares_status\": null,\n                        \"acs_id\": null\n                    }\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": null,\n        \"merchant_customer_id\": \"1690161049\",\n        \"first_name\": \"Giovanna\",\n        \"last_name\": \"Bartell\",\n        \"gender\": null,\n        \"date_of_birth\": null,\n        \"email\": \"Lisandro_Leannon58@hotmail.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": \"hi88287gbd8d7d782ge287gbd8d7d78\",\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": null,\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": [{\n        \"id\": \"36524be2-b33e-4d33-b9d7-9f7853035bbd\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 5000.00,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": false,\n            \"token\": \"\",\n            \"detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": true,\n                    \"installments\": 1,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"123456\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"JOHN DOE\",\n                        \"iin\": \"40518856\",\n                        \"lfd\": \"6623\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"\",\n                        \"issuer_code\": null,\n                        \"category\": null,\n                        \"type\": \"CREDIT\",\n                        \"three_d_secure\": {\n                            \"version\": null,\n                            \"electronic_commerce_indicator\": null,\n                            \"cryptogram\": null,\n                            \"transaction_id\": null,\n                            \"directory_server_transaction_id\": null,\n                            \"pares_status\": null,\n                            \"acs_id\": null\n                        }\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test\",\n        \"merchant_reference\": \"reference-89ab43dc-57de-4ea0-8058-6f7fc0d972a7\",\n        \"provider_data\": {\n            \"id\": \"YUNO_TEST_PAYMENT_GW\",\n            \"transaction_id\": \"20500c62-96d2-457b-8e64-b64480190e89\",\n            \"account_id\": \"\",\n            \"status\": \"SUCCEEDED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"response_message\": \"\",\n            \"raw_response\": {\n                \"amount\": {\n                    \"currency\": \"BRL\",\n                    \"value\": 2100\n                },\n                \"merchantAccount\": \"YunoPaymentsECOM\",\n                \"paymentPspReference\": \"ZKHXKZGXMLBX8N82\",\n                \"pspReference\": \"VKJTCWZ9575ZGN82\",\n                \"reference\": \"34343434\",\n                \"status\": \"received\"\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"created_at\": \"2023-07-24T01:20:02.794825Z\",\n        \"updated_at\": \"2023-07-24T01:20:04.873386Z\"\n    }],\n    \"split\": [],\n    \"workflow\": \"DIRECT\",\n    \"metadata\": [],\n    \"fraud_screening\": null,\n    \"payment_link_code\": \"\"\n}"
                  },
                  "Card - With vault on success": {
                    "value": "{\n    \"id\": \"96b56df3-0013-4401-b58e-646f5e716ab8\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test\",\n    \"country\": \"CO\",\n    \"status\": \"SUCCEEDED\",\n    \"sub_status\": \"APPROVED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-07-24T01:27:23.360857Z\",\n    \"updated_at\": \"2023-07-24T01:27:25.682059Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 5000.00\n    },\n    \"checkout\": {\n        \"session\": \"\",\n        \"sdk_action_required\": false\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"eb8caa17-6407-457b-960e-125d8d7a90c1\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": true,\n        \"token\": \"\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": true,\n                \"installments\": 1,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"123456\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"JOHN DOE\",\n                    \"iin\": \"40518856\",\n                    \"lfd\": \"6623\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"\",\n                    \"issuer_code\": null,\n                    \"category\": null,\n                    \"type\": \"CREDIT\",\n                    \"three_d_secure\": {\n                        \"version\": null,\n                        \"electronic_commerce_indicator\": null,\n                        \"cryptogram\": null,\n                        \"transaction_id\": null,\n                        \"directory_server_transaction_id\": null,\n                        \"pares_status\": null,\n                        \"acs_id\": null\n                    }\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": \"967ecd18-d898-4b88-9400-dd5b01b18edc\",\n        \"merchant_customer_id\": \"1690161049\",\n        \"first_name\": \"Giovanna\",\n        \"last_name\": \"Bartell\",\n        \"gender\": null,\n        \"date_of_birth\": null,\n        \"email\": \"Lisandro_Leannon58@hotmail.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": \"hi88287gbd8d7d782ge287gbd8d7d78\",\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": null,\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": [{\n        \"id\": \"85c19c82-dc31-4a50-aa7d-570d89dbc475\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 5000.00,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n            \"vaulted_token\": \"eb8caa17-6407-457b-960e-125d8d7a90c1\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": true,\n            \"token\": \"\",\n            \"detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": true,\n                    \"installments\": 1,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"123456\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"JOHN DOE\",\n                        \"iin\": \"40518856\",\n                        \"lfd\": \"6623\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"\",\n                        \"issuer_code\": null,\n                        \"category\": null,\n                        \"type\": \"CREDIT\",\n                        \"three_d_secure\": {\n                            \"version\": null,\n                            \"electronic_commerce_indicator\": null,\n                            \"cryptogram\": null,\n                            \"transaction_id\": null,\n                            \"directory_server_transaction_id\": null,\n                            \"pares_status\": null,\n                            \"acs_id\": null\n                        }\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test\",\n        \"merchant_reference\": \"reference-7cf75e3a-c8eb-4c62-bd02-74928f68f174\",\n        \"provider_data\": {\n            \"id\": \"YUNO_TEST_PAYMENT_GW\",\n            \"transaction_id\": \"604075b9-52e9-48f5-8fcf-3c2d9bacbe66\",\n            \"account_id\": \"\",\n            \"status\": \"SUCCEEDED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"response_message\": \"\",\n            \"raw_response\": {\n                \"amount\": {\n                    \"currency\": \"BRL\",\n                    \"value\": 2100\n                },\n                \"merchantAccount\": \"YunoPaymentsECOM\",\n                \"paymentPspReference\": \"ZKHXKZGXMLBX8N82\",\n                \"pspReference\": \"VKJTCWZ9575ZGN82\",\n                \"reference\": \"34343434\",\n                \"status\": \"received\"\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"created_at\": \"2023-07-24T01:27:23.473451Z\",\n        \"updated_at\": \"2023-07-24T01:27:25.550651Z\"\n    }],\n    \"split\": [],\n    \"workflow\": \"DIRECT\",\n    \"metadata\": [],\n    \"fraud_screening\": null,\n    \"payment_link_code\": \"\"\n}"
                  },
                  "Card - With vaulted token": {
                    "value": "{\n    \"id\": \"821ddfe4-309a-46a8-bd4b-819564aa9c5a\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test\",\n    \"country\": \"CO\",\n    \"status\": \"SUCCEEDED\",\n    \"sub_status\": \"APPROVED\",\n    \"merchant_order_id\": \"0000023\",\n    \"created_at\": \"2023-07-24T01:28:45.444722Z\",\n    \"updated_at\": \"2023-07-24T01:28:47.712002Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 5000.00\n    },\n    \"checkout\": {\n        \"session\": \"\",\n        \"sdk_action_required\": false\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"eb8caa17-6407-457b-960e-125d8d7a90c1\",\n        \"type\": \"CARD\",\n        \"vault_on_success\": false,\n        \"token\": \"\",\n        \"payment_method_detail\": {\n            \"card\": {\n                \"verify\": null,\n                \"capture\": true,\n                \"installments\": 1,\n                \"first_installment_deferral\": 0,\n                \"installments_type\": \"\",\n                \"installment_amount\": null,\n                \"soft_descriptor\": \"\",\n                \"authorization_code\": \"123456\",\n                \"retrieval_reference_number\": \"\",\n                \"voucher\": null,\n                \"card_data\": {\n                    \"holder_name\": \"JOHN DOE\",\n                    \"iin\": \"40518856\",\n                    \"lfd\": \"6623\",\n                    \"number_length\": 16,\n                    \"security_code_length\": 3,\n                    \"brand\": \"VISA\",\n                    \"issuer_name\": \"\",\n                    \"issuer_code\": null,\n                    \"category\": null,\n                    \"type\": \"CREDIT\",\n                    \"three_d_secure\": {\n                        \"version\": null,\n                        \"electronic_commerce_indicator\": null,\n                        \"cryptogram\": null,\n                        \"transaction_id\": null,\n                        \"directory_server_transaction_id\": null,\n                        \"pares_status\": null,\n                        \"acs_id\": null\n                    }\n                }\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": \"967ecd18-d898-4b88-9400-dd5b01b18edc\",\n        \"merchant_customer_id\": \"1690161049\",\n        \"first_name\": \"Giovanna\",\n        \"last_name\": \"Bartell\",\n        \"gender\": null,\n        \"date_of_birth\": null,\n        \"email\": \"Lisandro_Leannon58@hotmail.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": \"hi88287gbd8d7d782ge287gbd8d7d78\",\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": null,\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": [{\n        \"id\": \"a47e879e-3cd1-49f3-ab72-fc33b0185057\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"SUCCEEDED\",\n        \"category\": \"CARD\",\n        \"amount\": 5000.00,\n        \"provider_id\": \"YUNO_TEST_PAYMENT_GW\",\n        \"payment_method\": {\n            \"vaulted_token\": \"eb8caa17-6407-457b-960e-125d8d7a90c1\",\n            \"type\": \"CARD\",\n            \"vault_on_success\": false,\n            \"token\": \"\",\n            \"detail\": {\n                \"card\": {\n                    \"verify\": null,\n                    \"capture\": true,\n                    \"installments\": 1,\n                    \"first_installment_deferral\": 0,\n                    \"installments_type\": \"\",\n                    \"installment_amount\": null,\n                    \"soft_descriptor\": \"\",\n                    \"authorization_code\": \"123456\",\n                    \"retrieval_reference_number\": \"\",\n                    \"voucher\": null,\n                    \"card_data\": {\n                        \"holder_name\": \"JOHN DOE\",\n                        \"iin\": \"40518856\",\n                        \"lfd\": \"6623\",\n                        \"number_length\": 16,\n                        \"security_code_length\": 3,\n                        \"brand\": \"VISA\",\n                        \"issuer_name\": \"\",\n                        \"issuer_code\": null,\n                        \"category\": null,\n                        \"type\": \"CREDIT\",\n                        \"three_d_secure\": {\n                            \"version\": null,\n                            \"electronic_commerce_indicator\": null,\n                            \"cryptogram\": null,\n                            \"transaction_id\": null,\n                            \"directory_server_transaction_id\": null,\n                            \"pares_status\": null,\n                            \"acs_id\": null\n                        }\n                    }\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test\",\n        \"merchant_reference\": \"reference-22103236-c3fc-4871-9fc0-98ce48a9f553\",\n        \"provider_data\": {\n            \"id\": \"YUNO_TEST_PAYMENT_GW\",\n            \"transaction_id\": \"f9bcb8a8-d5d8-4c53-b551-5932c9804f16\",\n            \"account_id\": \"\",\n            \"status\": \"SUCCEEDED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"response_message\": \"\",\n            \"raw_response\": {\n                \"amount\": {\n                    \"currency\": \"BRL\",\n                    \"value\": 2100\n                },\n                \"merchantAccount\": \"YunoPaymentsECOM\",\n                \"paymentPspReference\": \"ZKHXKZGXMLBX8N82\",\n                \"pspReference\": \"VKJTCWZ9575ZGN82\",\n                \"reference\": \"34343434\",\n                \"status\": \"received\"\n            },\n            \"third_party_transaction_id\": \"\"\n        },\n        \"created_at\": \"2023-07-24T01:28:45.562437Z\",\n        \"updated_at\": \"2023-07-24T01:28:47.639121Z\"\n    }],\n    \"split\": [],\n    \"workflow\": \"DIRECT\",\n    \"metadata\": [],\n    \"fraud_screening\": null,\n    \"payment_link_code\": \"\"\n}"
                  },
                  "Bank Transfer": {
                    "value": "{\n    \"id\": \"ac427adb-3ac9-4a7c-9389-0a923146b39b\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"description\": \"Test Bancolombia\",\n    \"country\": \"CO\",\n    \"status\": \"READY_TO_PAY\",\n    \"sub_status\": \"CREATED\",\n    \"merchant_order_id\": \"0000022\",\n    \"created_at\": \"2023-07-23T23:56:25.405475Z\",\n    \"updated_at\": \"2023-07-23T23:56:29.742339Z\",\n    \"amount\": {\n        \"captured\": 0.00,\n        \"currency\": \"COP\",\n        \"refunded\": 0.00,\n        \"value\": 52000.00\n    },\n    \"checkout\": {\n        \"session\": \"c21df85b-6c39-4cf5-aa7d-305aac6441e6\",\n        \"sdk_action_required\": true\n    },\n    \"payment_method\": {\n        \"vaulted_token\": \"\",\n        \"type\": \"BANCOLOMBIA_TRANSFER\",\n        \"vault_on_success\": false,\n        \"token\": \"\",\n        \"payment_method_detail\": {\n            \"bank_transfer\": {\n                \"provider_image\": \"\",\n                \"account_type\": null,\n                \"bank_name\": null,\n                \"beneficiary_name\": null,\n                \"bank_account\": null,\n                \"bank_account_2\": null,\n                \"beneficiary_document_type\": null,\n                \"beneficiary_document\": null,\n                \"payment_instruction\": null,\n                \"redirect_url\": \"https://checkout.sandbox.y.uno/payment?session=2cc7ac83-029d-4e13-8360-9b627bba8fc5\"\n            }\n        }\n    },\n    \"customer_payer\": {\n        \"id\": null,\n        \"merchant_customer_id\": \"1689888489\",\n        \"first_name\": \"Laila\",\n        \"last_name\": \"CANO\",\n        \"gender\": null,\n        \"date_of_birth\": null,\n        \"email\": \"Tyreek27@yahoo.com\",\n        \"nationality\": null,\n        \"ip_address\": null,\n        \"device_fingerprint\": null,\n        \"browser_info\": {\n            \"user_agent\": \"\",\n            \"accept_header\": \"\",\n            \"accept_content\": null,\n            \"accept_browser\": null,\n            \"color_depth\": \"\",\n            \"screen_height\": \"\",\n            \"screen_width\": \"\",\n            \"javascript_enabled\": null,\n            \"java_enabled\": null,\n            \"browser_time_difference\": null,\n            \"language\": \"\"\n        },\n        \"document\": null,\n        \"phone\": null,\n        \"billing_address\": null,\n        \"shipping_address\": null\n    },\n    \"additional_data\": null,\n    \"taxes\": null,\n    \"transactions\": [{\n        \"id\": \"acbf992c-e448-4efc-a39c-05f74fa624cf\",\n        \"type\": \"PURCHASE\",\n        \"status\": \"CREATED\",\n        \"category\": \"BANK_TRANSFER\",\n        \"amount\": 52000.00,\n        \"provider_id\": \"WOMPI\",\n        \"payment_method\": {\n            \"vaulted_token\": \"\",\n            \"type\": \"BANCOLOMBIA_TRANSFER\",\n            \"vault_on_success\": false,\n            \"token\": \"\",\n            \"detail\": {\n                \"bank_transfer\": {\n                    \"provider_image\": \"\",\n                    \"account_type\": null,\n                    \"bank_name\": null,\n                    \"beneficiary_name\": null,\n                    \"bank_account\": null,\n                    \"bank_account_2\": null,\n                    \"beneficiary_document_type\": null,\n                    \"beneficiary_document\": null,\n                    \"payment_instruction\": null,\n                    \"redirect_url\": \"https://checkout.sandbox.y.uno/payment?session=2cc7ac83-029d-4e13-8360-9b627bba8fc5\"\n                }\n            }\n        },\n        \"response_code\": \"SUCCEEDED\",\n        \"response_message\": \"Transaction successful\",\n        \"reason\": null,\n        \"description\": \"Test Bancolombia\",\n        \"merchant_reference\": null,\n        \"provider_data\": {\n            \"id\": \"WOMPI\",\n            \"transaction_id\": \"117490-1690156586-55850\",\n            \"account_id\": \"\",\n            \"status\": \"APPROVED\",\n            \"sub_status\": \"\",\n            \"status_detail\": \"\",\n            \"response_message\": \"\",\n            \"raw_response\": {\n               
[...]
