{"openapi":"3.1.0","info":{"title":"recipients","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1/recipients"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"public-api-key","x-default":"<Your public-api-key>"},"sec1":{"type":"apiKey","in":"header","name":"private-secret-key","x-default":"<Your private-secret-key>"}}},"security":[{"sec0":[],"sec1":[]}],"paths":{"/{id}":{"delete":{"summary":"Delete Recipients","description":"","operationId":"delete-recipients","parameters":[{"name":"id","in":"path","description":"The unique identifier (UUID) of the recipient (MAX 64; MIN 36).","schema":{"type":"string"},"required":true},{"name":"account_id","in":"query","description":"The unique identifier of the Yuno account (MAX 64 ; MIN 36).","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"Retrieve Recipients","description":"","operationId":"retrieve-recipients","parameters":[{"name":"account_id","in":"query","description":"The unique identifier of the Yuno account (MAX 64 ; MIN 36).","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"The unique identifier of the recipient (MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\":\"9104911d-5df9-429e-8488-ad41abea1a4b\",\n  \"account_id\": \"4323f8a0-7699-4a5b-8293-f4d712312eb3bd\"\n  \"provider\": [{\n      \"recipient_id\": \"12445\",\n      \"id\": \"PAGARME\"\n  }],\n  \"external_id\": \"AAAA01\",\n  \"national_entity\": \"INDIVIDUAL\",\n  \"first_name\": \"John\",\n  \"last_name\": \"Doe\",\n  \"legal_name\": \"Arcos dorados S.A.\",\n  \"email\": \"john.doe@email.com\",\n  \"country\": \"CO\",\n  \"document\": {\n    \"document_number\": \"1093333333\",\n    \"document_type\": \"CC\"\n  },\n  \"phone\": {\n    \"country_code\": \"57\",\n    \"number\": \"3132450765\"\n  },\n  \"address\": {\n    \"address_line_1\": \"Calle 34 # 56 - 78\",\n    \"address_line_2\": \"Apartamento 502, Torre I\",\n    \"city\": \"Bogota\",\n    \"country\": \"CO\",\n    \"state\": \"Cundinamarca\",\n    \"zip_code\": \"111111\"\n  },\n\"created_at\": \"2022-05-09T20:46:54.786342Z\"\n}  "}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update Recipients","description":"","operationId":"update-recipients","parameters":[{"name":"id","in":"path","description":"The unique identifier (UUID) of the recipient (MAX 64; MIN 36).","schema":{"type":"string"},"required":true},{"name":"account_id","in":"query","description":"The unique identifier of the Yuno account (MAX 64 ; MIN 36).","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"providers":{"type":"array","description":"Specifies the provider object. Only necessary when using a third party split. If not, you´ll need to complete the rest of the recipient fields.","items":{"properties":{"recipient_id":{"type":"string","description":"The unique identifier of the provider's recipient."},"id":{"type":"string","description":"The unique identifier of the provider.","enum":["PAGARME"]}},"required":["recipient_id","id"],"type":"object"}},"merchant_recipient_id":{"type":"string","description":"The unique identifier of the recipient defined by the merchant."},"national_entity":{"type":"string","description":"The recipient’s national entity type.","enum":["INDIVIDUAL","ENTITY",""]},"first_name":{"type":"string","description":"The recipient’s first name. (Max: 80)."},"last_name":{"type":"string","description":"The recipient’s last name. (Max: 80)."},"legal_name":{"type":"string","description":"The recipient’s name. (Max: 80) Only necessary when national entity is ENTITY."},"email":{"type":"string","description":"The recipient’s email (MAX 255; MIN 3)."},"country":{"type":"string","description":"The recipient’s country  (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"document":{"type":"object","description":"Specifies the recipient's document object, including its number and type.","required":["document_type","document_number"],"properties":{"document_type":{"type":"string","description":"The recipient's document type (MAX 6, MIN 2; [Document Type List](https://docs.y.uno/reference/customer-object#document-type-list)).","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]},"document_number":{"type":"string","description":"The recipient's document number (MAX 40; MIN 3)."}}},"phone":{"type":"object","description":"Specifies the recipient's phone number object.","required":["country_code","number"],"properties":{"country_code":{"type":"string","description":"The country code of the recipient's phone (MAX 3; MIN 2)."},"number":{"type":"string","description":"The recipient's phone number, without the country code (MAX 32; MIN 1)."}}},"address":{"type":"object","description":"Specifies the recipient's billing address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the recipient (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the recipient (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 4)."}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\":\"9104911d-5df9-429e-8488-ad41abea1a4b\",\n  \"provider\": [{\n      \"recipient_id\": \"12445\",\n      \"id\": \"PAGARME\"\n  }],\n  \"external_id\": \"AAAA01\",\n  \"national_entity\": \"INDIVIDUAL\",\n  \"first_name\": \"John\",\n  \"last_name\": \"Doe\",\n  \"legal_name\": \"Arcos dorados S.A.\",\n  \"email\": \"j.doe@email.com\"\n  \"country\": \"CO\",\n  \"document\": {\n    \"document_number\": \"1093333333\",\n    \"document_type\": \"CC\"\n  },\n  \"phone\": {\n    \"country_code\": \"57\",\n    \"number\": \"3132450765\"\n  },\n  \"address\": {\n    \"address_line_1\": \"Calle 34 # 56 - 78\",\n    \"address_line_2\": \"Apartamento 502, Torre I\",\n    \"city\": \"Bogota\",\n    \"country\": \"CO\",\n    \"state\": \"Cundinamarca\",\n    \"zip_code\": \"111111\"\n  },\n\"created_at\": \"2022-05-09T20:46:54.786342Z\",\n\"updated_at\": \"2022-065-09T20:46:54.786342Z\"\n}  "}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/":{"post":{"summary":"Create Recipients","description":"","operationId":"create-recipients","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_id","providers","merchant_recipient_id","national_entity","first_name"],"properties":{"account_id":{"type":"string","description":"The unique identifier of the account (MAX 64 ; MIN 36)."},"providers":{"type":"array","description":"Specifies the provider object. Only necessary when using a third party split. If not, you´ll need to complete the rest of the recipient fields.","items":{"properties":{"recipient_id":{"type":"string","description":"The unique identifier of the provider's recipient."},"id":{"type":"string","description":"The unique identifier of the provider.","enum":["PAGARME"]}},"required":["recipient_id","id"],"type":"object"}},"merchant_recipient_id":{"type":"string","description":"Unique identifier of the recipient defined by the merchant."},"national_entity":{"type":"string","description":"The recipient’s  national entity type.","enum":["INDIVIDUAL","ENTITY",""]},"first_name":{"type":"string","description":"The recipient’s name. (MAX 255; MIN 1)"},"last_name":{"type":"string","description":"The recipient’s last name. (MAX 255; MIN 1)"},"legal_name":{"type":"string","description":"The recipient’s name. (MAX 255; MIN 1) Only necessary when national entity is ENTITY."},"email":{"type":"string","description":"The recipient’s email (MAX 255; MIN 3)."},"country":{"type":"string","description":"The Recipient’ country  (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"document":{"type":"object","description":"Specifies the recipient's document object, including its number and type.","required":["document_type","document_number"],"properties":{"document_type":{"type":"string","description":"The recipient's document type (MAX 6, MIN 2; [Document Type List](https://docs.y.uno/reference/customer-object#document-type-list)).","enum":["DNI","CI","LC","LE","CUIT","CUIL","PAS","CPF","RG","CNH","CNPJ","RUT","RUN","CC","CE","NIT","DUI","PIC","DPI","IFR","INE","CP","RFC","CURP","CIP","CIC","CUI","RUC",""]},"document_number":{"type":"string","description":"The recipient's document number (MAX 40; MIN 3)."}}},"phone":{"type":"object","description":"Specifies the recipient's phone number object.","required":["country_code","number"],"properties":{"country_code":{"type":"string","description":"The country code of the recipient's phone (MAX 3; MIN 2)."},"number":{"type":"string","description":"The recipient's phone number, without the country code (MAX 32; MIN 1)."}}},"address":{"type":"object","description":"Specifies the recipient's billing address object.","required":["address_line_1","city","country"],"properties":{"address_line_1":{"type":"string","description":"The primary billing address line of the recipient (MAX 255; MIN 3)."},"address_line_2":{"type":"string","description":"The secondary billing address line of the recipient (MAX 255; MIN 3)."},"city":{"type":"string","description":"The city considered for the billing address (MAX 255; MIN 3)."},"country":{"type":"string","description":"The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).","enum":["AR","BO","BR","CL","CO","CR","EC","SV","GT","HN","MX","NI","PA","PY","PE","US","UY",""]},"state":{"type":"string","description":"The state considered for the billing address (MAX 255; MIN 3)."},"zip_code":{"type":"string","description":"The zipcode considered for the billing address (MAX 11; MIN 4)."}}}}},"examples":{"Recipient full":{"value":{"account_id":"4323f8a0-7699-4a5b-8293-f4d712312eb3bd","providers":[{"recipient_id":"12445","id":"PAGARME"}],"merchant_recipient_id":"AAAA01","national_entity":"INDIVIDUAL","first_name":"John","last_name":"Doe","legal_name":"Arcos dorados S.A.","email":"john.doe@email.com","country":"CO","document":{"document_number":"1093333333","document_type":"CC"},"phone":{"country_code":"57","number":"3132450765"},"address":{"address_line_1":"Calle 34 # 56 - 78","address_line_2":"Apartamento 502, Torre I","city":"Bogota","country":"CO","state":"Cundinamarca","zip_code":"111111"}}},"Recipient básico":{"value":{"account_id":"4323f8a0-7699-4a5b-8293-f4d712312eb3bd","providers":[{"id":"PAGARME","recipient_id":"12445"}],"merchant_recipient_id":"AAAA06","national_entity":"INDIVIDUAL","email":"john.doe@email.com","country":"CO"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\":\"9104911d-5df9-429e-8488-ad41abea1a4b\",\n  \"account_id\": \"4323f8a0-7699-4a5b-8293-f4d712312eb3bd\",\n  \"provider\": [{\n      \"recipient_id\": \"12445\",\n      \"id\": \"PAGARME\"\n  }],\n  \"external_id\": \"AAAA01\",\n  \"national_entity\": \"INDIVIDUAL\",\n  \"first_name\": \"John\",\n  \"last_name\": \"Doe\",\n  \"legal_name\": \"Arcos dorados S.A.\",\n  \"email\": \"john.doe@email.com\",\n  \"country\": \"CO\",\n  \"document\": {\n    \"document_number\": \"1093333333\",\n    \"document_type\": \"CC\"\n  },\n  \"phone\": {\n    \"country_code\": \"57\",\n    \"number\": \"3132450765\"\n  },\n  \"address\": {\n    \"address_line_1\": \"Calle 34 # 56 - 78\",\n    \"address_line_2\": \"Apartamento 502, Torre I\",\n    \"city\": \"Bogota\",\n    \"country\": \"CO\",\n    \"state\": \"Cundinamarca\",\n    \"zip_code\": \"111111\"\n  },\n\"created_at\": \"2022-05-09T20:46:54.786342Z\"\n}  "}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"9104911d-5df9-429e-8488-ad41abea1a4b"},"account_id":{"type":"string","example":"4323f8a0-7699-4a5b-8293-f4d712312eb3bd"},"provider":{"type":"array","items":{"type":"object","properties":{"recipient_id":{"type":"string","example":"12445"},"id":{"type":"string","example":"PAGARME"}}}},"external_id":{"type":"string","example":"AAAA01"},"national_entity":{"type":"string","example":"INDIVIDUAL"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"legal_name":{"type":"string","example":"Arcos dorados S.A."},"email":{"type":"string","example":"john.doe@email.com"},"country":{"type":"string","example":"CO"},"document":{"type":"object","properties":{"document_number":{"type":"string","example":"1093333333"},"document_type":{"type":"string","example":"CC"}}},"phone":{"type":"object","properties":{"country_code":{"type":"string","example":"57"},"number":{"type":"string","example":"3132450765"}}},"address":{"type":"object","properties":{"address_line_1":{"type":"string","example":"Calle 34 # 56 - 78"},"address_line_2":{"type":"string","example":"Apartamento 502, Torre I"},"city":{"type":"string","example":"Bogota"},"country":{"type":"string","example":"CO"},"state":{"type":"string","example":"Cundinamarca"},"zip_code":{"type":"string","example":"111111"}}},"created_at":{"type":"string","example":"2022-05-09T20:46:54.786342Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\":\"EXTERNAL_ID_EXIST\",\n    \"messages\":[\"External id of recipient already exists.\"]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"EXTERNAL_ID_EXIST"},"messages":{"type":"array","items":{"type":"string","example":"External id of recipient already exists."}}}}}}}},"deprecated":false}},"/{id}/kyc":{"post":{"summary":"Upload recipients kyc documents","description":"","operationId":"update-recipients-kyc-documents","parameters":[{"name":"id","in":"path","description":"The unique identifier (UUID) of the recipient (MAX 64; MIN 36).","schema":{"type":"string"},"required":true},{"name":"kyc","in":"path","description":"The recipient's KYC.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"document":{"type":"object","description":"Specifies the recipient's document object, including its number and type.","required":["type","content"],"properties":{"type":{"type":"string","description":"Document's Type","enum":["TAX_ID","BANK_STATEMENT","CERTIFICATE_OF_REGISTRATION","AML_POLICIES","OTHER"]},"content":{"type":"string","description":"File's content with Base 64 encoded format. PDF"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --request PATCH \\\n     --url https://api-sandbox.y.uno/v1/customers/id \\\n     --header 'X-Private-Secret-Key: <Your private-secret-key>' \\\n     --header 'X-Public-Api-Key: <Your public-api-key>' \\\n     --header 'accept: application/json'\n{\n     \"document\":\n     \t\t{\n         \"type\": \"TAX_ID\",\n         \"content\": \"/8e/3RFQSkASDASAQAAADFGGAB....\" \n         }\n}\n'"}],"samples-languages":["curl"]}}}},"x-readme":{"headers":[{"value":"utf-8","key":"charset"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}