{
    "openapi": "3.1.0",
    "info": {
        "title": "recipients",
        "version": "1.0.2"
    },
    "servers": [
        {
            "url": "https://api-sandbox.y.uno/v1/recipients"
        }
    ],
    "components": {
        "securitySchemes": {
            "public-api-key": {
                "type": "apiKey",
                "in": "header",
                "name": "public-api-key"
            },
            "private-secret-key": {
                "type": "apiKey",
                "in": "header",
                "name": "private-secret-key"
            }
        }
    },
    "security": [
        {
            "public-api-key": [],
            "private-secret-key": []
        }
    ],
    "paths": {
        "/{id}": {
            "delete": {
                "summary": "Delete Recipients",
                "description": "",
                "operationId": "delete-recipients",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the recipient (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "The unique identifier of the Yuno account (MAX 64 ; MIN 36).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the deleted recipient"
                                        },
                                        "status": {
                                            "type": "string",
                                            "description": "Status of the deletion operation",
                                            "enum": [
                                                "DELETED"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Success message"
                                        },
                                        "deleted_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when recipient was deleted"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "description": "Error code",
                                            "enum": [
                                                "RECIPIENT_NOT_FOUND",
                                                "CANNOT_DELETE_ACTIVE_RECIPIENT",
                                                "INVALID_ACCOUNT_ID"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Error message describing the issue"
                                        },
                                        "code": {
                                            "type": "string",
                                            "description": "HTTP status code"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "get": {
                "summary": "Retrieve Recipients",
                "description": "",
                "operationId": "retrieve-recipients",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "The unique identifier of the Yuno account (MAX 64 ; MIN 36).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier of the recipient (MAX 64 ; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "patch": {
                "summary": "Update Recipients",
                "description": "",
                "operationId": "update-recipients",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the recipient (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "The unique identifier of the Yuno account (MAX 64 ; MIN 36).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "providers": {
                                        "type": "array",
                                        "description": "Specifies the provider object. Only necessary when using a third party split. If not, you\u00b4ll need to complete the rest of the recipient fields.",
                                        "items": {
                                            "properties": {
                                                "recipient_id": {
                                                    "type": "string",
                                                    "description": "The unique identifier of the provider's recipient."
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "description": "The unique identifier of the provider.",
                                                    "enum": [
                                                        "PAGARME"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "recipient_id",
                                                "id"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "merchant_recipient_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the recipient defined by the merchant."
                                    },
                                    "national_entity": {
                                        "type": "string",
                                        "description": "The recipient's national entity type.",
                                        "enum": [
                                            "INDIVIDUAL",
                                            "ENTITY",
                                            ""
                                        ]
                                    },
                                    "first_name": {
                                        "type": "string",
                                        "description": "The recipient's first name. (Max: 80)."
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "description": "The recipient's last name. (Max: 80)."
                                    },
                                    "legal_name": {
                                        "type": "string",
                                        "description": "The recipient's name. (Max: 80) Only necessary when national entity is ENTITY."
                                    },
                                    "email": {
                                        "type": "string",
                                        "description": "The recipient's email (MAX 255; MIN 3)."
                                    },
                                    "country": {
                                        "type": "string",
                                        "description": "The recipient's country  (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).",
                                        "enum": [
                                            "AR",
                                            "BO",
                                            "BR",
                                            "CL",
                                            "CO",
                                            "CR",
                                            "EC",
                                            "SV",
                                            "GT",
                                            "HN",
                                            "MX",
                                            "NI",
                                            "PA",
                                            "PY",
                                            "PE",
                                            "US",
                                            "UY",
                                            ""
                                        ]
                                    },
                                    "document": {
                                        "type": "object",
                                        "description": "Specifies the recipient's document object, including its number and type.",
                                        "required": [
                                            "document_type",
                                            "document_number"
                                        ],
                                        "properties": {
                                            "document_type": {
                                                "type": "string",
                                                "description": "The recipient's document type (MAX 6, MIN 2; [Document Type List](https://docs.y.uno/reference/customer-object#document-type-list)).",
                                                "enum": [
                                                    "DNI",
                                                    "CI",
                                                    "LC",
                                                    "LE",
                                                    "CUIT",
                                                    "CUIL",
                                                    "PAS",
                                                    "CPF",
                                                    "RG",
                                                    "CNH",
                                                    "CNPJ",
                                                    "RUT",
                                                    "RUN",
                                                    "CC",
                                                    "CE",
                                                    "NIT",
                                                    "DUI",
                                                    "PIC",
                                                    "DPI",
                                                    "IFR",
                                                    "INE",
                                                    "CP",
                                                    "RFC",
                                                    "CURP",
                                                    "CIP",
                                                    "CIC",
                                                    "CUI",
                                                    "RUC",
                                                    ""
                                                ]
                                            },
                                            "document_number": {
                                                "type": "string",
                                                "description": "The recipient's document number (MAX 40; MIN 3)."
                                            }
                                        }
                                    },
                                    "phone": {
                                        "type": "object",
                                        "description": "Specifies the recipient's phone number object.",
                                        "required": [
                                            "country_code",
                                            "number"
                                        ],
                                        "properties": {
                                            "country_code": {
                                                "type": "string",
                                                "description": "The country code of the recipient's phone (MAX 3; MIN 2)."
                                            },
                                            "number": {
                                                "type": "string",
                                                "description": "The recipient's phone number, without the country code (MAX 32; MIN 1)."
                                            }
                                        }
                                    },
                                    "address": {
                                        "type": "object",
                                        "description": "Specifies the recipient's billing address object.",
                                        "required": [
                                            "address_line_1",
                                            "city",
                                            "country"
                                        ],
                                        "properties": {
                                            "address_line_1": {
                                                "type": "string",
                                                "description": "The primary billing address line of the recipient (MAX 255; MIN 3)."
                                            },
                                            "address_line_2": {
                                                "type": "string",
                                                "description": "The secondary billing address line of the recipient (MAX 255; MIN 3)."
                                            },
                                            "city": {
                                                "type": "string",
                                                "description": "The city considered for the billing address (MAX 255; MIN 3)."
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).",
                                                "enum": [
                                                    "AR",
                                                    "BO",
                                                    "BR",
                                                    "CL",
                                                    "CO",
                                                    "CR",
                                                    "EC",
                                                    "SV",
                                                    "GT",
                                                    "HN",
                                                    "MX",
                                                    "NI",
                                                    "PA",
                                                    "PY",
                                                    "PE",
                                                    "US",
                                                    "UY",
                                                    ""
                                                ]
                                            },
                                            "state": {
                                                "type": "string",
                                                "description": "The state considered for the billing address (MAX 255; MIN 3)."
                                            },
                                            "zip_code": {
                                                "type": "string",
                                                "description": "The zipcode considered for the billing address (MAX 11; MIN 4)."
                                            }
                                        }
                                    },
                                    "withdrawal_methods": {
                                        "type": "object",
                                        "description": "Specifies the recipient's withdrawal methods object.",
                                        "properties": {
                                            "bank": {
                                                "type": "object",
                                                "description": "Specifies the recipient's bank account information.",
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "description": "Bank's code (MAX 3; MIN 3)."
                                                    },
                                                    "branch": {
                                                        "type": "string",
                                                        "description": "Bank's branch (MAX 3; MIN 3)."
                                                    },
                                                    "branch_digit": {
                                                        "type": "string",
                                                        "description": "Bank's branch digit (MAX 3; MIN 3)."
                                                    },
                                                    "account": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account number (MAX 250; MIN 3)."
                                                    },
                                                    "account_digit": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account digit (MAX 3; MIN 3)."
                                                    },
                                                    "account_type": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account type.",
                                                        "enum": [
                                                            "CHECKINGS",
                                                            "SAVINGS"
                                                        ]
                                                    },
                                                    "routing": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account routing number."
                                                    },
                                                    "country": {
                                                        "type": "string",
                                                        "description": "The bank account's country (ISO 3166-1 MAX 2; MIN 2)."
                                                    },
                                                    "currency": {
                                                        "type": "string",
                                                        "description": "The bank account's currency (ISO 3166-1 MAX 3; MIN 3)."
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "onboardings": {
                                        "type": "array",
                                        "description": "Array of onboarding objects.",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "description": "Type of onboarding.",
                                                    "enum": [
                                                        "PREVIOUSLY_ONBOARDED",
                                                        "ONBOARD_ONTO_THE_PROVIDER"
                                                    ]
                                                },
                                                "workflow": {
                                                    "type": "string",
                                                    "description": "Workflow of the onboarding.",
                                                    "enum": [
                                                        "HOSTED_BY_PROVIDER",
                                                        "HOSTED_BY_YUNO",
                                                        "DIRECT"
                                                    ]
                                                },
                                                "callback_url": {
                                                    "type": "string",
                                                    "description": "URL to redirect customer after onboarding process."
                                                }
                                            }
                                        }
                                    },
                                    "entity_type": {
                                        "type": "string",
                                        "description": "The type of entity for the recipient (MAX 255; MIN 1)."
                                    },
                                    "website": {
                                        "type": "string",
                                        "description": "The website URL of the recipient (MAX 255; MIN 1)."
                                    },
                                    "industry": {
                                        "type": "string",
                                        "description": "The industry sector of the recipient (MAX 255; MIN 1)."
                                    },
                                    "merchant_category_code": {
                                        "type": "string",
                                        "description": "The merchant category code (MCC) for the recipient (MAX 4; MIN 4)."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/": {
            "post": {
                "summary": "Create Recipients",
                "description": "",
                "operationId": "create-recipients",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "account_id",
                                    "providers",
                                    "merchant_recipient_id",
                                    "national_entity",
                                    "first_name"
                                ],
                                "properties": {
                                    "account_id": {
                                        "type": "string",
                                        "description": "The unique identifier of the account (MAX 64 ; MIN 36)."
                                    },
                                    "providers": {
                                        "type": "array",
                                        "description": "Specifies the provider object. Only necessary when using a third party split. If not, you\u00b4ll need to complete the rest of the recipient fields.",
                                        "items": {
                                            "properties": {
                                                "recipient_id": {
                                                    "type": "string",
                                                    "description": "The unique identifier of the provider's recipient."
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "description": "The unique identifier of the provider.",
                                                    "enum": [
                                                        "PAGARME"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "recipient_id",
                                                "id"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "merchant_recipient_id": {
                                        "type": "string",
                                        "description": "Unique identifier of the recipient defined by the merchant."
                                    },
                                    "national_entity": {
                                        "type": "string",
                                        "description": "The recipient's  national entity type.",
                                        "enum": [
                                            "INDIVIDUAL",
                                            "ENTITY",
                                            ""
                                        ]
                                    },
                                    "first_name": {
                                        "type": "string",
                                        "description": "The recipient's name. (MAX 255; MIN 1)"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "description": "The recipient's last name. (MAX 255; MIN 1)"
                                    },
                                    "legal_name": {
                                        "type": "string",
                                        "description": "The recipient's name. (MAX 255; MIN 1) Only necessary when national entity is ENTITY."
                                    },
                                    "email": {
                                        "type": "string",
                                        "description": "The recipient's email (MAX 255; MIN 3)."
                                    },
                                    "country": {
                                        "type": "string",
                                        "description": "The Recipient' country  (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).",
                                        "enum": [
                                            "AR",
                                            "BO",
                                            "BR",
                                            "CL",
                                            "CO",
                                            "CR",
                                            "EC",
                                            "SV",
                                            "GT",
                                            "HN",
                                            "MX",
                                            "NI",
                                            "PA",
                                            "PY",
                                            "PE",
                                            "US",
                                            "UY",
                                            ""
                                        ]
                                    },
                                    "document": {
                                        "type": "object",
                                        "description": "Specifies the recipient's document object, including its number and type.",
                                        "required": [
                                            "document_type",
                                            "document_number"
                                        ],
                                        "properties": {
                                            "document_type": {
                                                "type": "string",
                                                "description": "The recipient's document type (MAX 6, MIN 2; [Document Type List](https://docs.y.uno/reference/customer-object#document-type-list)).",
                                                "enum": [
                                                    "DNI",
                                                    "CI",
                                                    "LC",
                                                    "LE",
                                                    "CUIT",
                                                    "CUIL",
                                                    "PAS",
                                                    "CPF",
                                                    "RG",
                                                    "CNH",
                                                    "CNPJ",
                                                    "RUT",
                                                    "RUN",
                                                    "CC",
                                                    "CE",
                                                    "NIT",
                                                    "DUI",
                                                    "PIC",
                                                    "DPI",
                                                    "IFR",
                                                    "INE",
                                                    "CP",
                                                    "RFC",
                                                    "CURP",
                                                    "CIP",
                                                    "CIC",
                                                    "CUI",
                                                    "RUC",
                                                    ""
                                                ]
                                            },
                                            "document_number": {
                                                "type": "string",
                                                "description": "The recipient's document number (MAX 40; MIN 3)."
                                            }
                                        }
                                    },
                                    "phone": {
                                        "type": "object",
                                        "description": "Specifies the recipient's phone number object.",
                                        "required": [
                                            "country_code",
                                            "number"
                                        ],
                                        "properties": {
                                            "country_code": {
                                                "type": "string",
                                                "description": "The country code of the recipient's phone (MAX 3; MIN 2)."
                                            },
                                            "number": {
                                                "type": "string",
                                                "description": "The recipient's phone number, without the country code (MAX 32; MIN 1)."
                                            }
                                        }
                                    },
                                    "address": {
                                        "type": "object",
                                        "description": "Specifies the recipient's billing address object.",
                                        "required": [
                                            "address_line_1",
                                            "city",
                                            "country"
                                        ],
                                        "properties": {
                                            "address_line_1": {
                                                "type": "string",
                                                "description": "The primary billing address line of the recipient (MAX 255; MIN 3)."
                                            },
                                            "address_line_2": {
                                                "type": "string",
                                                "description": "The secondary billing address line of the recipient (MAX 255; MIN 3)."
                                            },
                                            "city": {
                                                "type": "string",
                                                "description": "The city considered for the billing address (MAX 255; MIN 3)."
                                            },
                                            "country": {
                                                "type": "string",
                                                "description": "The country considered for the billing address (MAX 2; MIN 2; [ISO 3166-1](https://docs.y.uno/reference/customer-object#country-code-list-iso-3166-1)).",
                                                "enum": [
                                                    "AR",
                                                    "BO",
                                                    "BR",
                                                    "CL",
                                                    "CO",
                                                    "CR",
                                                    "EC",
                                                    "SV",
                                                    "GT",
                                                    "HN",
                                                    "MX",
                                                    "NI",
                                                    "PA",
                                                    "PY",
                                                    "PE",
                                                    "US",
                                                    "UY",
                                                    ""
                                                ]
                                            },
                                            "state": {
                                                "type": "string",
                                                "description": "The state considered for the billing address (MAX 255; MIN 3)."
                                            },
                                            "zip_code": {
                                                "type": "string",
                                                "description": "The zipcode considered for the billing address (MAX 11; MIN 4)."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "9104911d-5df9-429e-8488-ad41abea1a4b"
                                        },
                                        "account_id": {
                                            "type": "string",
                                            "example": "4323f8a0-7699-4a5b-8293-f4d712312eb3bd"
                                        },
                                        "provider": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "recipient_id": {
                                                        "type": "string",
                                                        "example": "12445"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "example": "PAGARME"
                                                    }
                                                }
                                            }
                                        },
                                        "external_id": {
                                            "type": "string",
                                            "example": "AAAA01"
                                        },
                                        "national_entity": {
                                            "type": "string",
                                            "example": "INDIVIDUAL"
                                        },
                                        "first_name": {
                                            "type": "string",
                                            "example": "John"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "example": "Doe"
                                        },
                                        "legal_name": {
                                            "type": "string",
                                            "example": "Arcos dorados S.A."
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "john.doe@email.com"
                                        },
                                        "country": {
                                            "type": "string",
                                            "example": "CO"
                                        },
                                        "document": {
                                            "type": "object",
                                            "properties": {
                                                "document_number": {
                                                    "type": "string",
                                                    "example": "1093333333"
                                                },
                                                "document_type": {
                                                    "type": "string",
                                                    "example": "CC"
                                                }
                                            }
                                        },
                                        "phone": {
                                            "type": "object",
                                            "properties": {
                                                "country_code": {
                                                    "type": "string",
                                                    "example": "57"
                                                },
                                                "number": {
                                                    "type": "string",
                                                    "example": "3132450765"
                                                }
                                            }
                                        },
                                        "address": {
                                            "type": "object",
                                            "properties": {
                                                "address_line_1": {
                                                    "type": "string",
                                                    "example": "Calle 34 # 56 - 78"
                                                },
                                                "address_line_2": {
                                                    "type": "string",
                                                    "example": "Apartamento 502, Torre I"
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": "Bogota"
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": "CO"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "Cundinamarca"
                                                },
                                                "zip_code": {
                                                    "type": "string",
                                                    "example": "111111"
                                                }
                                            }
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2022-05-09T20:46:54.786342Z"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "string"
                                        },
                                        "messages": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/{id}/kyc": {
            "post": {
                "summary": "Upload recipients kyc documents",
                "description": "",
                "operationId": "update-recipients-kyc-documents",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the recipient (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "kyc",
                        "in": "path",
                        "description": "The recipient's KYC.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "document": {
                                        "type": "object",
                                        "description": "Specifies the recipient's document object, including its number and type.",
                                        "required": [
                                            "type",
                                            "content"
                                        ],
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "description": "Document's Type",
                                                "enum": [
                                                    "TAX_ID",
                                                    "BANK_STATEMENT",
                                                    "CERTIFICATE_OF_REGISTRATION",
                                                    "AML_POLICIES",
                                                    "OTHER"
                                                ]
                                            },
                                            "content": {
                                                "type": "string",
                                                "description": "File's content with Base 64 encoded format. PDF"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "curl",
                            "code": "curl --request PATCH \\\n     --url https://api-sandbox.y.uno/v1/customers/id \\\n     --header 'X-Private-Secret-Key: <Your private-secret-key>' \\\n     --header 'X-Public-Api-Key: <Your public-api-key>' \\\n     --header 'accept: application/json'\n{\n     \"document\":\n     \t\t{\n         \"type\": \"TAX_ID\",\n         \"content\": \"/8e/3RFQSkASDASAQAAADFGGAB....\" \n         }\n}\n'"
                        }
                    ],
                    "samples-languages": [
                        "curl"
                    ]
                }
            }
        },
        "/.": {
            "post": {
                "description": "",
                "operationId": "post_new-endpoint",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}.": {
            "get": {
                "description": "",
                "operationId": "get_{id}.",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "The unique identifier of the recipient (MAX 64 ; MIN 36).",
                        "schema": {
                            "type": "string",
                            "default": "9104911d-5df9-429e-8488-ad41abea1a4b"
                        }
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "required": true,
                        "description": "The unique identifier of the Yuno account (MAX 64 ; MIN 36).",
                        "schema": {
                            "type": "string",
                            "default": "9104911d-5df9-429e-8488-ad41abea1a4b"
                        }
                    }
                ]
            }
        },
        "/{id}/onboardings": {
            "post": {
                "description": "",
                "operationId": "post_{id}onboardings",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the recipient"
                                        },
                                        "type": {
                                            "type": "string",
                                            "description": "Type of onboarding"
                                        },
                                        "workflow": {
                                            "type": "string",
                                            "description": "Workflow of the onboarding"
                                        },
                                        "callback_url": {
                                            "type": "string",
                                            "description": "Callback URL for the onboarding process"
                                        },
                                        "provider": {
                                            "type": "object",
                                            "description": "Provider information"
                                        },
                                        "documentation": {
                                            "type": "array",
                                            "description": "Array of documentation objects"
                                        },
                                        "withdrawal_methods": {
                                            "type": "object",
                                            "description": "Withdrawal methods information"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when record was created"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when record was updated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "The unique identifier (UUID) of the recipient (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "description": "Type of onboarding. If its done by Yuno",
                                        "enum": [
                                            "PREVIOUSLY_ONBOARDED",
                                            "ONBOARD_ONTO_THE_PROVIDER"
                                        ]
                                    },
                                    "workflow": {
                                        "type": "string",
                                        "description": "Workflow of the onboarding",
                                        "enum": [
                                            "HOSTED_BY_PROVIDER",
                                            "HOSTED_BY_YUNO",
                                            "DIRECT"
                                        ]
                                    },
                                    "callback_url": {
                                        "type": "string",
                                        "description": "URL in case to redirect your customer after the onboarding process with the provider, if needed",
                                        "maxLength": 255,
                                        "minLength": 1
                                    },
                                    "provider": {
                                        "type": "object",
                                        "description": "Provider information",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "Provider id",
                                                "enum": [
                                                    "PAGARME"
                                                ]
                                            },
                                            "recipient_id": {
                                                "type": "string",
                                                "description": "The unique identifier of the provider's recipient"
                                            }
                                        },
                                        "required": [
                                            "id"
                                        ]
                                    },
                                    "documentation": {
                                        "type": "array",
                                        "description": "Array of documentation objects",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "file_name": {
                                                    "type": "string",
                                                    "description": "The name of the documentation sent",
                                                    "maxLength": 255,
                                                    "minLength": 3
                                                },
                                                "content_type": {
                                                    "type": "string",
                                                    "description": "The type of the documentation sent by the merchant",
                                                    "enum": [
                                                        "RECEIPT"
                                                    ]
                                                },
                                                "content_category": {
                                                    "type": "string",
                                                    "description": "The category of the documentation sent by the merchant"
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "description": "The content of the documentation sent by the merchant encoded in base64. Max size: 1MB"
                                                }
                                            },
                                            "required": [
                                                "file_name",
                                                "content_type",
                                                "content_category",
                                                "content"
                                            ]
                                        }
                                    },
                                    "withdrawal_methods": {
                                        "type": "object",
                                        "description": "Withdrawal methods information",
                                        "properties": {
                                            "bank": {
                                                "type": "object",
                                                "description": "Bank account information",
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "description": "Bank's code",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    },
                                                    "branch": {
                                                        "type": "string",
                                                        "description": "Bank's branch",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    },
                                                    "branch_digit": {
                                                        "type": "string",
                                                        "description": "Bank's branch digit",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    },
                                                    "account": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account number",
                                                        "maxLength": 250,
                                                        "minLength": 3
                                                    },
                                                    "account_digit": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account digit",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    },
                                                    "account_type": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account type",
                                                        "enum": [
                                                            "CHECKINGS",
                                                            "SAVINGS",
                                                            "VISTA",
                                                            "PIX_EMAIL",
                                                            "PIX_PHONE",
                                                            "PIX_DOCUMENT_ID",
                                                            "PIX_BANK_ACCOUNT"
                                                        ]
                                                    },
                                                    "routing": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account routing number"
                                                    },
                                                    "country": {
                                                        "type": "string",
                                                        "description": "The bank account's country",
                                                        "maxLength": 2,
                                                        "minLength": 2
                                                    },
                                                    "currency": {
                                                        "type": "string",
                                                        "description": "The bank account's currency",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/new-endpoint": {
            "get": {
                "description": "",
                "operationId": "get_new-endpoint",
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "parameters": []
            }
        },
        "{:id}/onboardings/{onboarding_id}/unblock": {
            "post": {
                "summary": "Unblock Onboarding",
                "description": "Unblock onboarding status for a recipient",
                "operationId": "unblock-onboarding",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the recipient (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "onboarding.id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the onboarding (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "The unique identifier of the Yuno account (MAX 64 ; MIN 36).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Block onboarding updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the recipient"
                                        },
                                        "status": {
                                            "type": "string",
                                            "description": "Updated block status",
                                            "enum": [
                                                "BLOCKED",
                                                "ACTIVE"
                                            ]
                                        },
                                        "reason": {
                                            "type": "string",
                                            "description": "Reason for blocking (if blocked)"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Status message"
                                        },
                                        "blocked_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when recipient was blocked"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when record was updated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "{:id}/onboardings/{onboarding_id}/block": {
            "post": {
                "summary": "Get Block Onboarding",
                "description": "Retrieve block onboarding information for a recipient",
                "operationId": "get-block-onboarding",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the recipient (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "onboarding.id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the onboarding (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "The unique identifier of the Yuno account (MAX 64 ; MIN 36).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Block onboarding updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the recipient"
                                        },
                                        "status": {
                                            "type": "string",
                                            "description": "Block status of the recipient",
                                            "enum": [
                                                "BLOCKED",
                                                "ACTIVE"
                                            ]
                                        },
                                        "reason": {
                                            "type": "string",
                                            "description": "Reason for blocking (if blocked)",
                                            "enum": [
                                                "DOCUMENT_VERIFICATION_FAILED",
                                                "COMPLIANCE_VIOLATION",
                                                "SUSPICIOUS_ACTIVITY",
                                                "MANUAL_BLOCK"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Status message"
                                        },
                                        "blocked_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when recipient was blocked"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when record was created"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when record was last updated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "{:id}/onboardings/{onboarding_id}/cancel": {
            "post": {
                "summary": "Cancel Onboarding",
                "description": "Cancel onboarding status for a recipient",
                "operationId": "cancel-onboarding",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the recipient (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "onboarding.id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the onboarding (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "The unique identifier of the Yuno account (MAX 64 ; MIN 36).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cancel onboarding updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the recipient"
                                        },
                                        "status": {
                                            "type": "string",
                                            "description": "Updated cancel status",
                                            "enum": [
                                                "CANCELLED",
                                                "ACTIVE"
                                            ]
                                        },
                                        "reason": {
                                            "type": "string",
                                            "description": "Reason for cancelling (if cancelled)"
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Status message"
                                        },
                                        "cancelled_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when recipient was cancelled"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when record was updated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/.": {
            "patch": {
                "summary": "Update Onboarding",
                "description": "Update onboarding information for a recipient",
                "operationId": "update-recipient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the recipient (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "onboarding.id",
                        "in": "path",
                        "description": "The unique identifier (UUID) of the onboarding (MAX 64; MIN 36).",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "account_id",
                        "in": "query",
                        "description": "The unique identifier of the Yuno account (MAX 64 ; MIN 36).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "description": "Type of onboarding. If its done by Yuno",
                                        "enum": [
                                            "PREVIOUSLY_ONBOARDED",
                                            "ONBOARD_ONTO_THE_PROVIDER"
                                        ]
                                    },
                                    "workflow": {
                                        "type": "string",
                                        "description": "Workflow of the onboarding",
                                        "enum": [
                                            "HOSTED_BY_PROVIDER",
                                            "HOSTED_BY_YUNO",
                                            "DIRECT"
                                        ]
                                    },
                                    "callback_url": {
                                        "type": "string",
                                        "description": "URL in case to redirect your customer after the onboarding process with the provider, if needed",
                                        "maxLength": 255,
                                        "minLength": 1
                                    },
                                    "provider": {
                                        "type": "object",
                                        "description": "Provider information",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "Provider id",
                                                "enum": [
                                                    "PAGARME"
                                                ]
                                            },
                                            "recipient_id": {
                                                "type": "string",
                                                "description": "The unique identifier of the provider's recipient"
                                            }
                                        },
                                        "required": [
                                            "id"
                                        ]
                                    },
                                    "documentation": {
                                        "type": "array",
                                        "description": "Array of documentation objects",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "file_name": {
                                                    "type": "string",
                                                    "description": "The name of the documentation sent",
                                                    "maxLength": 255,
                                                    "minLength": 3
                                                },
                                                "content_type": {
                                                    "type": "string",
                                                    "description": "The type of the documentation sent by the merchant",
                                                    "enum": [
                                                        "RECEIPT"
                                                    ]
                                                },
                                                "content_category": {
                                                    "type": "string",
                                                    "description": "The category of the documentation sent by the merchant"
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "description": "The content of the documentation sent by the merchant encoded in base64. Max size: 1MB"
                                                }
                                            },
                                            "required": [
                                                "file_name",
                                                "content_type",
                                                "content_category",
                                                "content"
                                            ]
                                        }
                                    },
                                    "withdrawal_methods": {
                                        "type": "object",
                                        "description": "Withdrawal methods information",
                                        "properties": {
                                            "bank": {
                                                "type": "object",
                                                "description": "Bank account information",
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "description": "Bank's code",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    },
                                                    "branch": {
                                                        "type": "string",
                                                        "description": "Bank's branch",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    },
                                                    "branch_digit": {
                                                        "type": "string",
                                                        "description": "Bank's branch digit",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    },
                                                    "account": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account number",
                                                        "maxLength": 250,
                                                        "minLength": 3
                                                    },
                                                    "account_digit": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account digit",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    },
                                                    "account_type": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account type",
                                                        "enum": [
                                                            "CHECKINGS",
                                                            "SAVINGS",
                                                            "VISTA",
                                                            "PIX_EMAIL",
                                                            "PIX_PHONE",
                                                            "PIX_DOCUMENT_ID",
                                                            "PIX_BANK_ACCOUNT"
                                                        ]
                                                    },
                                                    "routing": {
                                                        "type": "string",
                                                        "description": "Beneficiary's bank account routing number"
                                                    },
                                                    "country": {
                                                        "type": "string",
                                                        "description": "The bank account's country",
                                                        "maxLength": 2,
                                                        "minLength": 2
                                                    },
                                                    "currency": {
                                                        "type": "string",
                                                        "description": "The bank account's currency",
                                                        "maxLength": 3,
                                                        "minLength": 3
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Onboarding updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the recipient"
                                        },
                                        "type": {
                                            "type": "string",
                                            "description": "Type of onboarding"
                                        },
                                        "workflow": {
                                            "type": "string",
                                            "description": "Workflow of the onboarding"
                                        },
                                        "callback_url": {
                                            "type": "string",
                                            "description": "Callback URL for the onboarding process"
                                        },
                                        "provider": {
                                            "type": "object",
                                            "description": "Provider information"
                                        },
                                        "documentation": {
                                            "type": "array",
                                            "description": "Array of documentation objects"
                                        },
                                        "withdrawal_methods": {
                                            "type": "object",
                                            "description": "Withdrawal methods information"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when record was created"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when record was updated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "x-readme": {
        "headers": [
            {
                "value": "utf-8",
                "key": "charset"
            }
        ],
        "explorer-enabled": true,
        "proxy-enabled": true
    },
    "x-readme-fauxas": true
}
