{"openapi":"3.1.0","info":{"title":"reports-api","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1/reports"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"public-api-key","x-default":"<Your public-api-key>"},"sec1":{"type":"apiKey","in":"header","name":"private-secret-key","x-default":"<Your private-secret-key>"}}},"security":[{"sec0":[],"sec1":[]}],"paths":{"/":{"post":{"summary":"Create a Report","description":"","operationId":"create-a-report-old","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["type","start_date","end_date"],"properties":{"type":{"type":"string","description":"The type of the report to run (MAX 255; MIN 3).","enum":["PAYMENTS","TRANSACTIONS","SETTLEMENTS",""]},"start_date":{"type":"string","description":"Starting timestamp of data to be included in the report run ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) ; MAX 24; MIN 24).","format":"date-time"},"end_date":{"type":"string","description":"Ending timestamp of data to be included in the report run ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) ; MAX 24; MIN 24)..","format":"date-time"},"merchant_reference_id":{"type":"string","description":"The unique identifier of the report at the merchant side (MAX 255; MIN 3)."},"account_id":{"type":"string","description":"The unique identifier of the account (MAX 64 ; MIN 36).To request the creation of a report for all accounts, don't send this parameter. Otherwise indicate all the account_id you want to include."}}},"examples":{"Request Example":{"value":{"type":"PAYMENTS","start_date":"2022-10-10T17:26:28.038Z","end_date":"2022-11-10T17:26:28.038Z"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"5104911d-5df9-229e-8468-bd41abea1\",\n   \"type\":\"TRANSACTIONS\",\n     \"start_date\": \"2022-10-10T17:26:28.038Z\",\n     \"end_date\": \"2022-11-10T17:26:28.038Z\",\n   \"merchant_reference_id\":\"Merchant_report_1234\",\n   \"created_at\":\"2022-05-16T20:46:54.786342Z\",\n   \"updated_at\":\"2022-05-16T20:46:54.786342Z\",\n   \"expires_at\":\"2022-05-16T20:46:54.786342Z\",\n   \"status\":\"SUCCEEDED\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea1"},"type":{"type":"string","example":"TRANSACTIONS"},"start_date":{"type":"string","example":"2022-10-10T17:26:28.038Z"},"end_date":{"type":"string","example":"2022-11-10T17:26:28.038Z"},"merchant_reference_id":{"type":"string","example":"Merchant_report_1234"},"created_at":{"type":"string","example":"2022-05-16T20:46:54.786342Z"},"updated_at":{"type":"string","example":"2022-05-16T20:46:54.786342Z"},"expires_at":{"type":"string","example":"2022-05-16T20:46:54.786342Z"},"status":{"type":"string","example":"SUCCEEDED"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"string\",\n  \"messages\": [\n    \"string\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"string"},"messages":{"type":"array","items":{"type":"string","example":"string"}}}}}}}},"deprecated":false}},"/{id}":{"get":{"summary":"Retrieve a Report","description":"","operationId":"retrieve-a-report","parameters":[{"name":"id","in":"path","description":"The unique identifier of the report(MAX 64 ; MIN 36).","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"5104911d-5df9-229e-8468-bd41abea1\",\n   \"type\":\"TRANSACTIONS\",\n   \"start_date\":\"2022-05-09T20:46:54.786342Z\",\n   \"end_date\":\"2022-05-09T20:46:54.786342Z\",\n   \"merchant_reference_id\":\"Merchant_report_1234\",\n   \"created_at\":\"2022-05-16T20:46:54.786342Z\",\n   \"updated_at\":\"2022-05-16T20:46:54.786342Z\",\n   \"expires_at\":\"2022-05-16T20:46:54.786342Z\",\n   \"status\":\"SUCCEEDED\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea1"},"type":{"type":"string","example":"TRANSACTIONS"},"start_date":{"type":"string","example":"2022-05-09T20:46:54.786342Z"},"end_date":{"type":"string","example":"2022-05-09T20:46:54.786342Z"},"merchant_reference_id":{"type":"string","example":"Merchant_report_1234"},"created_at":{"type":"string","example":"2022-05-16T20:46:54.786342Z"},"updated_at":{"type":"string","example":"2022-05-16T20:46:54.786342Z"},"expires_at":{"type":"string","example":"2022-05-16T20:46:54.786342Z"},"status":{"type":"string","example":"SUCCEEDED"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":""}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Not Found":{"value":"{\n  \"code\": \"REPORT_NOT_FOUND\",\n  \"messages\": [\n    \"Report id not found\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"REPORT_NOT_FOUND"},"messages":{"type":"array","items":{"type":"string","example":"Report id not found"}}}}}}}},"deprecated":false}},"/list":{"get":{"summary":"List All Reports","description":"","operationId":"list-all-reports","parameters":[{"name":"account_id","in":"query","description":"The unique identifier of the account (MAX 64 ; MIN 36).To request the creation of a report for all accounts, don't send this parameter. Otherwise indicate all the account_id you want to include.","schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Limit of reports to retrieve. Default 1 and maximum 99 (MAX 2; MIN 1).","schema":{"type":"integer","format":"int32"}},{"name":"page_number","in":"query","description":"Reports start. Default 1 and maximum 10  (MAX 2; MIN 1).","schema":{"type":"integer","format":"int32"}},{"name":"start_date","in":"query","description":"Reports created after and equal this date (ISO 8601 MAX 27; MIN 27).","schema":{"type":"string","format":"date-time"}},{"name":"end_date","in":"query","description":"Reports created before and equal this date (ISO 8601 MAX 27; MIN 27).","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n    {\n       \"id\":\"5104911d-5df9-229e-8468-bd41abea1\",\n       \"type\":\"TRANSACTIONS\",\n       \"start_date\":\"2022-05-09T20:46:54.786342Z\",\n       \"end_date\":\"2022-05-09T20:46:54.786342Z\",\n       \"merchant_reference_id\":\"Merchant_report_1234\",\n       \"created_at\":\"2022-05-16T20:46:54.786342Z\",\n       \"updated_at\":\"2022-05-16T20:46:54.786342Z\",\n       \"expires_at\":\"2022-05-16T20:46:54.786342Z\",\n       \"status\":\"SUCCEEDED\"\n    },\n    {\n       \"id\":\"5104911d-5df9-229e-8468-bd41abea1\",\n       \"type\":\"SETTLEMENTS\",\n       \"start_date\":\"2022-05-09T20:46:54.786342Z\",\n       \"end_date\":\"2022-05-09T20:46:54.786342Z\",\n       \"merchant_reference_id\":\"Merchant_report_1234\",\n       \"created_at\":\"2022-05-16T20:46:54.786342Z\",\n       \"updated_at\":\"2022-05-16T20:46:54.786342Z\",\n       \"expires_at\":\"2022-05-16T20:46:54.786342Z\",\n       \"status\":\"DOWNLOADED\"\n    }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea1"},"type":{"type":"string","example":"TRANSACTIONS"},"start_date":{"type":"string","example":"2022-05-09T20:46:54.786342Z"},"end_date":{"type":"string","example":"2022-05-09T20:46:54.786342Z"},"merchant_reference_id":{"type":"string","example":"Merchant_report_1234"},"created_at":{"type":"string","example":"2022-05-16T20:46:54.786342Z"},"updated_at":{"type":"string","example":"2022-05-16T20:46:54.786342Z"},"expires_at":{"type":"string","example":"2022-05-16T20:46:54.786342Z"},"status":{"type":"string","example":"SUCCEEDED"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_REQUEST"},"messages":{"type":"array","items":{"type":"string","example":"Invalid request"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_CREDENTIALS"},"messages":{"type":"array","items":{"type":"string","example":"Invalid credentials"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Forbidden":{"value":"{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"AUTHORIZATION_REQUIRED"},"messages":{"type":"array","items":{"type":"string","example":"The merchant has no authorization to use this API."}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"key":"charset","value":"utf-8"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}