{"openapi":"3.1.0","info":{"title":"subscription","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"public-api-key","x-default":"<Your public-api-key>"},"sec1":{"type":"apiKey","in":"header","name":"private-secret-key","x-default":"<Your private-secret-key>"}}},"security":[{"sec0":[],"sec1":[]}],"paths":{"/subscriptions":{"post":{"summary":"Create Subscription","description":"","operationId":"create-subscription","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","account_id","country","customer_payer"],"properties":{"name":{"type":"string","description":"The subscription plan name (MAX 255; MIN 3)."},"description":{"type":"string","description":"The subscription plan description (MAX 255; MIN 3)."},"account_id":{"type":"string","description":"The unique identifier of the account that will have the subscription plan available to use (MAX 64 ; MIN 36)."},"merchant_reference":{"type":"string","description":"Identification of the subscription plan (MAX 255; MIN 3)."},"country":{"type":"string","description":"The subscription's country."},"amount":{"type":"object","description":"Specifies the `amount` object, with the value of each subscription payment and the used currency.","required":["currency","value"],"properties":{"currency":{"type":"string","description":"The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](ref:country-reference))."},"value":{"type":"number","description":"The value of each payment of the subscription (multiple of 0.0001).","format":"float"}}},"additional_data":{"type":"object","description":"Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.","properties":{"order":{"type":"object","description":"Specifies the order object.","properties":{"items":{"type":"array","description":"Specifies the item's object.","items":{"properties":{"id":{"type":"string","description":"The unique identifier of the item (MAX 255; MIN 3)."},"name":{"type":"string","description":"The name of the item (MAX 255; MIN 3)."},"quantity":{"type":"integer","description":"The quantity of the item.","format":"int32"},"unit_amount":{"type":"string","description":"The unit amount of the item (multiple of 0.0001)."},"category":{"type":"string","description":"The category of the item. Check the Item category reference.","enum":["art","baby","coupons","beauty_&_personal_care","donations","computing","books","grocery_&_gourmet_food","cameras","video_games","television","car_electronics","electronics","automotive","toys_&_games","musical_instruments","handmade","garden_&_outdoor","entertainment","industrial_&_scientific","fashion","games","pet_supplies","home","musical","phones","services","learnings","tickets","travels","virtual_goods","others"]},"brand":{"type":"string","description":"The brand of the item (MAX 255; MIN 3)."},"sku_code":{"type":"string","description":"The stock keeping unit (SKU) of the item (MAX 255; MIN 3)."},"manufacture_part_number":{"type":"string","description":"The manufacture part number of the item."}},"type":"object"}}}}}},"frequency":{"type":"object","description":"Specifies the `frequency` object. Defines the billing frequency for the subscription. Including type and value.","required":["type"],"properties":{"type":{"type":"string","description":"The type of interval the subscription will have in time (DAY, WEEK, MONTH). If not set, always MONTH by default.","enum":["DAY","WEEK","MONTH"]},"value":{"type":"integer","description":"The value between each interval the subscription will have in time. The system will use the default value of 1 if not set.","format":"int32"}}},"billing_cycles":{"type":"object","description":"Specifies the `billing_cycles` object. Defines the number of charges associated to the subscription.","properties":{"total":{"type":"integer","description":"The total number of billing cycles for the subscription.","format":"int32"}}},"customer_payer":{"type":"object","description":"Specifies the `customer_payer` object to identify the customer.","required":["id"],"properties":{"id":{"type":"string","description":"The unique identifier of the customer (MAX 255; MIN 3)."}}},"payment_method":{"type":"object","description":"Specifies the `payment_method` object. Currently, only card is available as a payment method using previously enrolled cards (`vaulted_token`)","required":["type"],"properties":{"type":{"type":"string","description":"Payment method type.","enum":["CARD"]},"vaulted_token":{"type":"string","description":"The vaulted token (MAX: 64; MIN: 36)."}}},"trial_period":{"type":"object","description":"Specifies the trial period object","properties":{"billing_cycles":{"type":"integer","description":"The amount of cycles the trial period will have in time. If not set, always 1 by default.","format":"int32"},"amount":{"type":"object","description":"Amount to be discounted for the trial period","required":["currency","value"],"properties":{"currency":{"type":"string","description":"The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](ref:country-reference))."},"value":{"type":"number","description":"The value of each payment of the subscription (multiple of 0.0001).","format":"float"}}}}},"availability":{"type":"object","description":"Specifies the `availability` object. Defines a date interval based on starting and ending dates when the subscription is available to use.","properties":{"start_at":{"type":"string","description":"The start date that the subscription plan will be available to use. If not set, the subscription is available from the moment it is created.","format":"date-time"},"finish_at":{"type":"string","description":"The end date until the subscription plan will be available to use. If not defined, the subscription does not have an expiration date.","format":"date-time"}}},"metadata":{"type":"object","description":"Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to metadata.","properties":{"key":{"type":"string","description":"Object title that represents the key-value pair inside the metadata (MAX 48 ; MIN 1)."},"value":{"type":"string","description":"Object value for the key defined  (MAX 512 ; MIN 1)."}}},"retries":{"type":"object","description":"Specified the 'retries' object. If we need to retry declined transactions in Yuno and the amount if necessary","properties":{"retry_on_decline":{"type":"boolean","description":"If we should retry a payment or not after a first decline. False by default."},"amount":{"type":"integer","description":"The number of retries that the subscription plan will have to completion. If not set, or higher than 7, 7 will be defined as default. Max: 7","format":"int32"}}},"initial_payment_validation":{"type":"boolean","description":"Flag to identify if the subscription should wait for the first payment in order to continue. False by default."},"billing_date":{"type":"object","description":"Specifies the `billing_date` object. Defines the type of date use for the subscription logic. mutually exclusive with the frequency object.","properties":{"type":{"type":"string","description":"The type of billing_date the subscription will have in time. PREPAID, POSTDATE, DAY. If not set, the creation date for the plan will be set  by default."},"day":{"type":"string","description":"[Conditional] The day of the month to charge the subscription if the type is set to DAY. Always 1 by default."}}}}},"examples":{"Subscription":{"value":{"name":"Test Subscription","description":"Subscription Test","merchant_reference":"subscription-ref-merchant-AA01","account_id":"{{account-code}}","country":"CL","amount":{"currency":"CLP","value":15000},"frequency":{"type":"MONTH","value":1},"billing_cycles":{"total":12},"customer_payer":{"id":"a1d3b664-e32a-4508-9da1-9ede3e62a60c"},"payment_method":{"type":"CARD","vaulted_token":"d4aa3586-def2-4705-b7cd-fe064bb764e6"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"CREATE SUBSCRIPTION":{"value":"{\n    \"id\": \"0c7fed3e-ee0d-4d34-9547-778be4ec0798\",\n    \"name\": \"Test Subscription\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"country\": \"US\",\n    \"description\": \"Subscription Test\",\n    \"merchant_reference\": \"subscription-ref-merchant-AA01\",\n    \"status\": \"ACTIVE\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 15000\n    },\n    \"frequency\": {\n        \"type\": \"MONTH\",\n        \"value\": 1\n    },\n    \"billing_cycles\": {\n        \"total\": 12,\n        \"current\": 1,\n        \"next_at\": \"2024-09-30T12:04:23.265393Z\"\n    },\n    \"customer_payer\": {\n        \"id\": \"a1d3b664-e32a-4508-9da1-9ede3e62a60c\"\n    },\n    \"payment_method\": {\n        \"type\": \"CARD\",\n        \"vaulted_token\": \"d4aa3586-def2-4705-b7cd-fe064bb764e6\"\n    },\n    \"availability\": {\n        \"start_at\": \"2024-09-30T12:04:23.265393Z\",\n        \"finish_at\": null\n    },\n    \"trial_period\": {\n        \"billing_cycles\": 1,\n        \"amount\": {\n            \"value\": 0,\n            \"currency\": \"\"\n        }\n    },\n    \"metadata\": null,\n    \"created_at\": \"2024-09-30T12:04:23.265372Z\",\n    \"updated_at\": \"2024-09-30T12:04:23.265372Z\"\n}\n"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"0c7fed3e-ee0d-4d34-9547-778be4ec0798"},"name":{"type":"string","example":"Test Subscription"},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"country":{"type":"string","example":"US"},"description":{"type":"string","example":"Subscription Test"},"merchant_reference":{"type":"string","example":"subscription-ref-merchant-AA01"},"status":{"type":"string","example":"ACTIVE"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":15000,"default":0}}},"frequency":{"type":"object","properties":{"type":{"type":"string","example":"MONTH"},"value":{"type":"integer","example":1,"default":0}}},"billing_cycles":{"type":"object","properties":{"total":{"type":"integer","example":12,"default":0},"current":{"type":"integer","example":1,"default":0},"next_at":{"type":"string","example":"2024-09-30T12:04:23.265393Z"}}},"customer_payer":{"type":"object","properties":{"id":{"type":"string","example":"a1d3b664-e32a-4508-9da1-9ede3e62a60c"}}},"payment_method":{"type":"object","properties":{"type":{"type":"string","example":"CARD"},"vaulted_token":{"type":"string","example":"d4aa3586-def2-4705-b7cd-fe064bb764e6"}}},"availability":{"type":"object","properties":{"start_at":{"type":"string","example":"2024-09-30T12:04:23.265393Z"},"finish_at":{}}},"trial_period":{"type":"object","properties":{"billing_cycles":{"type":"integer","example":1,"default":0},"amount":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":""}}}}},"metadata":{},"created_at":{"type":"string","example":"2024-09-30T12:04:23.265372Z"},"updated_at":{"type":"string","example":"2024-09-30T12:04:23.265372Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n Refer to the HTTP Response Codes section for more details: 'https://docs.y.uno/reference/response-codes'\n}"}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}":{"get":{"summary":"Retrieve Subscription","description":"","operationId":"retrieve-subscription","parameters":[{"name":"subscription_id","in":"path","description":"The unique identifier of the subscription.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"7304911d-5df9-429e-8488-ad41abea1a4c\",\n  \"name\": \"sub_001\",\n  \"description\": \"streaming service\",\n  \"account_id\": \"2404911d-5df9-429e-8488-ad41abea1a4b\",\n  \"merchant_reference\": \"001_marzo_23\",\n  \"status\": \"ACTIVE\",\n  \"subscription_plan_id\": \"1904911d-5df9-429e-8488-ad41abea1a4d\",\n  \"amount\": {\n    \"currency\": \"USD\",\n    \"value\": 12100\n  },\n  \"frequency\": {\n    \"type\": \"MONTH\",\n    \"value\": 1\n  },\n  \"billing_cycles\": {\n    \"total\": 10,\n    \"current\": 2,\n    \"next_at\": \"2023-02-16T20:00:00.786342Z\"\n  },\n  \"customer_payer\": {\n    \"id\": \"3t04911d-5df9-429e-8488-ad41abea1a2c\"\n  },\n  \"payment_method\": [\n    {\n      \"type\": \"CARD\",\n      \"token\": \"9104911d-5df9-429e-8488-ad41abea1a4b\",\n      \"vaulted_token\": \"6104911d-5df9-429e-8488-ad41abea1a4b\",\n      \"card\": {\n        \"verify\": false,\n        \"card_data\": {\n          \"number\": \"4507990000000010\",\n          \"expiration_month\": 10,\n          \"expiration_year\": 2025,\n          \"security_code\": 123,\n          \"holder_name\": \"JOHN DOE\"\n        }\n      }\n    }\n  ],\n  \"availability\": {\n    \"start_at\": \"2024-01-16T00:00:00.786342Z\",\n    \"finish_at\": \"2024-05-26T20:00:00.786342Z\"\n  },\n  \"trial_period\": {\n        \"billing_cycles\": 1,\n        \"amount\": {\n            \"value\": 0,\n            \"currency\": \"\"\n        }\n    },\n  \"metadata\": {\n    \"key\": \"sub_ext_id\",\n    \"value\": \"AA001\"\n  },\n  \"payments\": [\"5104911d-5df9-229e-8468-bd41abea1a4s\"],\n  \"created_at\": \"2023-12-16T20:46:54.786342Z\",\n  \"updated_at\": \"2023-12-16T21:00:54.786342Z\"\n}\n"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"7304911d-5df9-429e-8488-ad41abea1a4c"},"name":{"type":"string","example":"sub_001"},"description":{"type":"string","example":"streaming service"},"account_id":{"type":"string","example":"2404911d-5df9-429e-8488-ad41abea1a4b"},"merchant_reference":{"type":"string","example":"001_marzo_23"},"status":{"type":"string","example":"ACTIVE"},"subscription_plan_id":{"type":"string","example":"1904911d-5df9-429e-8488-ad41abea1a4d"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":12100,"default":0}}},"frequency":{"type":"object","properties":{"type":{"type":"string","example":"MONTH"},"value":{"type":"integer","example":1,"default":0}}},"billing_cycles":{"type":"object","properties":{"total":{"type":"integer","example":10,"default":0},"current":{"type":"integer","example":2,"default":0},"next_at":{"type":"string","example":"2023-02-16T20:00:00.786342Z"}}},"customer_payer":{"type":"object","properties":{"id":{"type":"string","example":"3t04911d-5df9-429e-8488-ad41abea1a2c"}}},"payment_method":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"CARD"},"token":{"type":"string","example":"9104911d-5df9-429e-8488-ad41abea1a4b"},"vaulted_token":{"type":"string","example":"6104911d-5df9-429e-8488-ad41abea1a4b"},"card":{"type":"object","properties":{"verify":{"type":"boolean","example":false,"default":true},"card_data":{"type":"object","properties":{"number":{"type":"string","example":"4507990000000010"},"expiration_month":{"type":"integer","example":10,"default":0},"expiration_year":{"type":"integer","example":2025,"default":0},"security_code":{"type":"integer","example":123,"default":0},"holder_name":{"type":"string","example":"JOHN DOE"}}}}}}}},"availability":{"type":"object","properties":{"start_at":{"type":"string","example":"2024-01-16T00:00:00.786342Z"},"finish_at":{"type":"string","example":"2024-05-26T20:00:00.786342Z"}}},"trial_period":{"type":"object","properties":{"billing_cycles":{"type":"integer","example":1,"default":0},"amount":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":""}}}}},"metadata":{"type":"object","properties":{"key":{"type":"string","example":"sub_ext_id"},"value":{"type":"string","example":"AA001"}}},"payments":{"type":"array","items":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea1a4s"}},"created_at":{"type":"string","example":"2023-12-16T20:46:54.786342Z"},"updated_at":{"type":"string","example":"2023-12-16T21:00:54.786342Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n Refer to the HTTP Response Codes section for more details: 'https://docs.y.uno/reference/response-codes'\n}"}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/pause":{"post":{"summary":"Pause Subscription","description":"","operationId":"pause-subscription","parameters":[{"name":"subscription_id","in":"path","description":"The unique identifier of a subscription.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"PAUSE SUBSCRIPTION":{"value":"{\n  \"id\": \"7304911d-5df9-429e-8488-ad41abea1a4c\",\n  \"name\": \"sub_001\",\n  \"description\": \"streaming service\",\n  \"account_id\": \"2404911d-5df9-429e-8488-ad41abea1a4b\",\n  \"merchant_reference\": \"001_marzo_23\",\n  \"status\": \"PAUSED\",\n  \"subscription_plan_id\": \"1904911d-5df9-429e-8488-ad41abea1a4d\",\n  \"amount\": {\n    \"currency\": \"USD\",\n    \"value\": 12100\n  },\n  \"frequency\": {\n    \"type\": \"MONTH\",\n    \"value\": 1\n  },\n  \"billing_cycles\": {\n    \"total\": 10,\n    \"current\": 2,\n    \"next_at\": \"2023-02-16T20:00:00.786342Z\"\n  },\n  \"customer_payer\": {\n    \"id\": \"3t04911d-5df9-429e-8488-ad41abea1a2c\"\n  },\n  \"payment_method\": [\n    {\n      \"type\": \"CARD\",\n      \"token\": \"9104911d-5df9-429e-8488-ad41abea1a4b\",\n      \"vaulted_token\": \"6104911d-5df9-429e-8488-ad41abea1a4b\",\n      \"card\": {\n        \"verify\": false,\n        \"card_data\": {\n          \"number\": \"4507990000000010\",\n          \"expiration_month\": 10,\n          \"expiration_year\": 2025,\n          \"security_code\": 123,\n          \"holder_name\": \"JOHN DOE\"\n        }\n      }\n    }\n  ],\n  \"availability\": {\n    \"start_at\": \"2024-01-16T00:00:00.786342Z\",\n    \"finish_at\": \"2024-05-26T20:00:00.786342Z\"\n  },\n  \"metadata\": {\n    \"key\": \"sub_ext_id\",\n    \"value\": \"AA001\"\n  },\n  \"payments\": [\"5104911d-5df9-229e-8468-bd41abea1a4s\"],\n  \"created_at\": \"2023-12-16T20:46:54.786342Z\",\n  \"updated_at\": \"2023-12-16T21:00:54.786342Z\"\n}\n"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"7304911d-5df9-429e-8488-ad41abea1a4c"},"name":{"type":"string","example":"sub_001"},"description":{"type":"string","example":"streaming service"},"account_id":{"type":"string","example":"2404911d-5df9-429e-8488-ad41abea1a4b"},"merchant_reference":{"type":"string","example":"001_marzo_23"},"status":{"type":"string","example":"PAUSED"},"subscription_plan_id":{"type":"string","example":"1904911d-5df9-429e-8488-ad41abea1a4d"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":12100,"default":0}}},"frequency":{"type":"object","properties":{"type":{"type":"string","example":"MONTH"},"value":{"type":"integer","example":1,"default":0}}},"billing_cycles":{"type":"object","properties":{"total":{"type":"integer","example":10,"default":0},"current":{"type":"integer","example":2,"default":0},"next_at":{"type":"string","example":"2023-02-16T20:00:00.786342Z"}}},"customer_payer":{"type":"object","properties":{"id":{"type":"string","example":"3t04911d-5df9-429e-8488-ad41abea1a2c"}}},"payment_method":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"CARD"},"token":{"type":"string","example":"9104911d-5df9-429e-8488-ad41abea1a4b"},"vaulted_token":{"type":"string","example":"6104911d-5df9-429e-8488-ad41abea1a4b"},"card":{"type":"object","properties":{"verify":{"type":"boolean","example":false,"default":true},"card_data":{"type":"object","properties":{"number":{"type":"string","example":"4507990000000010"},"expiration_month":{"type":"integer","example":10,"default":0},"expiration_year":{"type":"integer","example":2025,"default":0},"security_code":{"type":"integer","example":123,"default":0},"holder_name":{"type":"string","example":"JOHN DOE"}}}}}}}},"availability":{"type":"object","properties":{"start_at":{"type":"string","example":"2024-01-16T00:00:00.786342Z"},"finish_at":{"type":"string","example":"2024-05-26T20:00:00.786342Z"}}},"metadata":{"type":"object","properties":{"key":{"type":"string","example":"sub_ext_id"},"value":{"type":"string","example":"AA001"}}},"payments":{"type":"array","items":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea1a4s"}},"created_at":{"type":"string","example":"2023-12-16T20:46:54.786342Z"},"updated_at":{"type":"string","example":"2023-12-16T21:00:54.786342Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n Refer to the HTTP Response Codes section for more details: 'https://docs.y.uno/reference/response-codes'\n}"}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/resume":{"post":{"summary":"Resume Subscription","description":"","operationId":"resume-subscription","parameters":[{"name":"subscription_id","in":"path","description":"The unique identifier of a subscription.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"RESUME SUBSCRIPTION":{"value":"{\n  \"id\": \"7304911d-5df9-429e-8488-ad41abea1a4c\",\n  \"name\": \"sub_001\",\n  \"description\": \"streaming service\",\n  \"account_id\": \"2404911d-5df9-429e-8488-ad41abea1a4b\",\n  \"merchant_reference\": \"001_marzo_23\",\n  \"status\": \"ACTIVE\",\n  \"subscription_plan_id\": \"1904911d-5df9-429e-8488-ad41abea1a4d\",\n  \"amount\": {\n    \"currency\": \"USD\",\n    \"value\": 12100\n  },\n  \"frequency\": {\n    \"type\": \"MONTH\",\n    \"value\": 1\n  },\n  \"billing_cycles\": {\n    \"total\": 10,\n    \"current\": 2,\n    \"next_at\": \"2023-02-16T20:00:00.786342Z\"\n  },\n  \"customer_payer\": {\n    \"id\": \"3t04911d-5df9-429e-8488-ad41abea1a2c\"\n  },\n  \"payment_method\": [\n    {\n      \"type\": \"CARD\",\n      \"token\": \"9104911d-5df9-429e-8488-ad41abea1a4b\",\n      \"vaulted_token\": \"6104911d-5df9-429e-8488-ad41abea1a4b\",\n      \"card\": {\n        \"verify\": false,\n        \"card_data\": {\n          \"number\": \"4507990000000010\",\n          \"expiration_month\": 10,\n          \"expiration_year\": 2025,\n          \"security_code\": 123,\n          \"holder_name\": \"JOHN DOE\"\n        }\n      }\n    }\n  ],\n  \"availability\": {\n    \"start_at\": \"2024-01-16T00:00:00.786342Z\",\n    \"finish_at\": \"2024-05-26T20:00:00.786342Z\"\n  },\n  \"metadata\": {\n    \"key\": \"sub_ext_id\",\n    \"value\": \"AA001\"\n  },\n  \"payments\": [\"5104911d-5df9-229e-8468-bd41abea1a4s\"],\n  \"created_at\": \"2023-12-16T20:46:54.786342Z\",\n  \"updated_at\": \"2023-12-16T21:00:54.786342Z\"\n}\n"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"7304911d-5df9-429e-8488-ad41abea1a4c"},"name":{"type":"string","example":"sub_001"},"description":{"type":"string","example":"streaming service"},"account_id":{"type":"string","example":"2404911d-5df9-429e-8488-ad41abea1a4b"},"merchant_reference":{"type":"string","example":"001_marzo_23"},"status":{"type":"string","example":"ACTIVE"},"subscription_plan_id":{"type":"string","example":"1904911d-5df9-429e-8488-ad41abea1a4d"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":12100,"default":0}}},"frequency":{"type":"object","properties":{"type":{"type":"string","example":"MONTH"},"value":{"type":"integer","example":1,"default":0}}},"billing_cycles":{"type":"object","properties":{"total":{"type":"integer","example":10,"default":0},"current":{"type":"integer","example":2,"default":0},"next_at":{"type":"string","example":"2023-02-16T20:00:00.786342Z"}}},"customer_payer":{"type":"object","properties":{"id":{"type":"string","example":"3t04911d-5df9-429e-8488-ad41abea1a2c"}}},"payment_method":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"CARD"},"token":{"type":"string","example":"9104911d-5df9-429e-8488-ad41abea1a4b"},"vaulted_token":{"type":"string","example":"6104911d-5df9-429e-8488-ad41abea1a4b"},"card":{"type":"object","properties":{"verify":{"type":"boolean","example":false,"default":true},"card_data":{"type":"object","properties":{"number":{"type":"string","example":"4507990000000010"},"expiration_month":{"type":"integer","example":10,"default":0},"expiration_year":{"type":"integer","example":2025,"default":0},"security_code":{"type":"integer","example":123,"default":0},"holder_name":{"type":"string","example":"JOHN DOE"}}}}}}}},"availability":{"type":"object","properties":{"start_at":{"type":"string","example":"2024-01-16T00:00:00.786342Z"},"finish_at":{"type":"string","example":"2024-05-26T20:00:00.786342Z"}}},"metadata":{"type":"object","properties":{"key":{"type":"string","example":"sub_ext_id"},"value":{"type":"string","example":"AA001"}}},"payments":{"type":"array","items":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea1a4s"}},"created_at":{"type":"string","example":"2023-12-16T20:46:54.786342Z"},"updated_at":{"type":"string","example":"2023-12-16T21:00:54.786342Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n Refer to the HTTP Response Codes section for more details: 'https://docs.y.uno/reference/response-codes'\n}"}}}}}},"deprecated":false}},"/subscriptions/{id}":{"patch":{"summary":"Update Subscription","description":"","operationId":"update-subscription","parameters":[{"name":"id","in":"path","description":"The unique identifier of the subscription.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The subscription plan name (MAX 255; MIN 3)."},"description":{"type":"string","description":"The subscription plan description (MAX 255; MIN 3)."},"account_id":{"type":"string","description":"The unique identifier of the account that will have the subscription plan available to use (MAX 64 ; MIN 36)."},"merchant_reference":{"type":"string","description":"Identification of the subscription plan (MAX 255; MIN 3)."},"country":{"type":"string","description":"The subscription's country."},"amount":{"type":"object","description":"Specifies the `amount` object, with the value of each subscription payment and the used currency.","required":["currency","value"],"properties":{"currency":{"type":"string","description":"The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](ref:country-reference))."},"value":{"type":"number","description":"The value of each payment of the subscription (multiple of 0.0001).","format":"float"}}},"frequency":{"type":"object","description":"Specifies the `frequency` object. Defines the billing frequency for the subscription. Including type and value.","required":["type"],"properties":{"type":{"type":"string","description":"The type of interval the subscription will have in time (DAY, WEEK, MONTH). If not set, always MONTH by default.","enum":["DAY","WEEK","MONTH"]},"value":{"type":"integer","description":"The value between each interval the subscription will have in time. The system will use the default value of 1 if not set.","format":"int32"}}},"billing_cycles":{"type":"object","description":"Specifies the `billing_cycles` object. Defines the number of charges associated to the subscription.","properties":{"total":{"type":"integer","description":"The total number of billing cycles for the subscription.","format":"int32"}}},"customer_payer":{"type":"object","description":"Specifies the `customer_payer` object to identify the customer.","required":["id"],"properties":{"id":{"type":"string","description":"The unique identifier of the customer (MAX 255; MIN 3)."}}},"payment_method":{"type":"object","description":"Specifies the `payment_method` object. Currently, only card as available as payment methods. You can use the card `token`, the `vaulted_token` or the card information using through the card object.","properties":{"type":{"type":"string","description":"Payment method type.","enum":["CARD"]},"vaulted_token":{"type":"string","description":"The vaulted token (MAX: 64; MIN: 36)."},"card":{"type":"object","description":"Specifies the card object.","properties":{"verify":{"type":"boolean","description":"Using  `amount` = 0 and `verify` = true, you can verify the user´s card without authorizing a real amount."},"card_data":{"type":"object","description":"Specifies the card data object.","properties":{"number":{"type":"string","description":"Card’s number without any separators.  (MAX 19; MIN 8) - only available for PCI certified merchants."},"expiration_month":{"type":"integer","description":"Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants","format":"int32"},"expiration_year":{"type":"integer","description":"Card’s expiration year in the YYYY format (MAX 4; MIN 4) - only available for PCI certified merchants","format":"int32"},"security_code":{"type":"integer","description":"Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants.","format":"int32"},"holder_name":{"type":"string","description":"Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants"}}}}},"":{"type":"string"}}},"availability":{"type":"object","description":"Specifies the `availability` object. Defines a date interval based on starting and ending dates when the subscription is available to use.","properties":{"start_at":{"type":"string","description":"The start date that the subscription plan will be available to use. If not set, the subscription is available from the moment it is created.","format":"date-time"},"finish_at":{"type":"string","description":"The end date until the subscription plan will be available to use. If not defined, the subscription does not have an expiration date.","format":"date-time"}}},"retries":{"type":"object","description":"Specified the 'retries' object. If we need to retry declined transactions in Yuno and the amount if necessary. If modified, the retries will apply to the next payment intent.","properties":{"retry_on_decline":{"type":"boolean","description":"If we should retry a payment or not after a first decline. False by default."},"amount":{"type":"integer","description":"The number of retries that the subscription plan will have to completion. If not set, or higher than 7, 7 will be defined as default. Max: 7","format":"int32"}}},"metadata":{"type":"object","description":"Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to metadata.","properties":{"key":{"type":"string","description":"Object title that represents the key-value pair inside the metadata (MAX 48 ; MIN 1)."},"value":{"type":"string","description":"Object value for the key defined  (MAX 512 ; MIN 1)."}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"UPDATE SUBSCRIPTION":{"value":"{\n    \"id\": \"0c7fed3e-ee0d-4d34-9547-778be4ec0798\",\n    \"name\": \"Test Subscription\",\n    \"account_id\": \"493e9374-510a-4201-9e09-de669d75f256\",\n    \"country\": \"US\",\n    \"description\": \"Subscription Test\",\n    \"merchant_reference\": \"subscription-ref-merchant-AA01\",\n    \"status\": \"ACTIVE\",\n    \"amount\": {\n        \"currency\": \"USD\",\n        \"value\": 15000\n    },\n    \"frequency\": {\n        \"type\": \"MONTH\",\n        \"value\": 1\n    },\n    \"billing_cycles\": {\n        \"total\": 12,\n        \"current\": 1,\n        \"next_at\": \"2024-09-30T12:04:23.265393Z\"\n    },\n    \"customer_payer\": {\n        \"id\": \"a1d3b664-e32a-4508-9da1-9ede3e62a60c\"\n    },\n    \"payment_method\": {\n        \"type\": \"CARD\",\n        \"vaulted_token\": \"d4aa3586-def2-4705-b7cd-fe064bb764e6\"\n    },\n    \"availability\": {\n        \"start_at\": \"2024-09-30T12:04:23.265393Z\",\n        \"finish_at\": null\n    },\n    \"metadata\": null,\n    \"created_at\": \"2024-09-30T12:04:23.265372Z\",\n    \"updated_at\": \"2024-09-30T12:04:23.265372Z\"\n}\n"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"0c7fed3e-ee0d-4d34-9547-778be4ec0798"},"name":{"type":"string","example":"Test Subscription"},"account_id":{"type":"string","example":"493e9374-510a-4201-9e09-de669d75f256"},"country":{"type":"string","example":"US"},"description":{"type":"string","example":"Subscription Test"},"merchant_reference":{"type":"string","example":"subscription-ref-merchant-AA01"},"status":{"type":"string","example":"ACTIVE"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":15000,"default":0}}},"frequency":{"type":"object","properties":{"type":{"type":"string","example":"MONTH"},"value":{"type":"integer","example":1,"default":0}}},"billing_cycles":{"type":"object","properties":{"total":{"type":"integer","example":12,"default":0},"current":{"type":"integer","example":1,"default":0},"next_at":{"type":"string","example":"2024-09-30T12:04:23.265393Z"}}},"customer_payer":{"type":"object","properties":{"id":{"type":"string","example":"a1d3b664-e32a-4508-9da1-9ede3e62a60c"}}},"payment_method":{"type":"object","properties":{"type":{"type":"string","example":"CARD"},"vaulted_token":{"type":"string","example":"d4aa3586-def2-4705-b7cd-fe064bb764e6"}}},"availability":{"type":"object","properties":{"start_at":{"type":"string","example":"2024-09-30T12:04:23.265393Z"},"finish_at":{}}},"metadata":{},"created_at":{"type":"string","example":"2024-09-30T12:04:23.265372Z"},"updated_at":{"type":"string","example":"2024-09-30T12:04:23.265372Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n Refer to the HTTP Response Codes section for more details: 'https://docs.y.uno/reference/response-codes'\n}"}}}}}},"deprecated":false}},"/subscriptions/{subscription_id}/cancel":{"post":{"summary":"Cancel Subscription","description":"","operationId":"cancel-subscription","parameters":[{"name":"subscription_id","in":"path","description":"The unique identifier of a subscription.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"CANCEL SUBSCRIPTION":{"value":"{\n  \"id\": \"7304911d-5df9-429e-8488-ad41abea1a4c\",\n  \"name\": \"sub_001\",\n  \"description\": \"streaming service\",\n  \"account_id\": \"2404911d-5df9-429e-8488-ad41abea1a4b\",\n  \"merchant_reference\": \"001_marzo_23\",\n  \"status\": \"CANCELED\",\n  \"subscription_plan_id\": \"1904911d-5df9-429e-8488-ad41abea1a4d\",\n  \"amount\": {\n    \"currency\": \"USD\",\n    \"value\": 12100\n  },\n  \"frequency\": {\n    \"type\": \"MONTH\",\n    \"value\": 1\n  },\n  \"billing_cycles\": {\n    \"total\": 10,\n    \"current\": 2,\n    \"next_at\": \"2023-02-16T20:00:00.786342Z\"\n  },\n  \"customer_payer\": {\n    \"id\": \"3t04911d-5df9-429e-8488-ad41abea1a2c\"\n  },\n  \"payment_method\": [\n    {\n      \"type\": \"CARD\",\n      \"token\": \"9104911d-5df9-429e-8488-ad41abea1a4b\",\n      \"vaulted_token\": \"6104911d-5df9-429e-8488-ad41abea1a4b\",\n      \"card\": {\n        \"verify\": false,\n        \"card_data\": {\n          \"number\": \"4507990000000010\",\n          \"expiration_month\": 10,\n          \"expiration_year\": 2025,\n          \"security_code\": 123,\n          \"holder_name\": \"JOHN DOE\"\n        }\n      }\n    }\n  ],\n  \"availability\": {\n    \"start_at\": \"2024-01-16T00:00:00.786342Z\",\n    \"finish_at\": \"2024-05-26T20:00:00.786342Z\"\n  },\n  \"metadata\": {\n    \"key\": \"sub_ext_id\",\n    \"value\": \"AA001\"\n  },\n  \"payments\": [\"5104911d-5df9-229e-8468-bd41abea1a4s\"],\n  \"created_at\": \"2023-12-16T20:46:54.786342Z\",\n  \"updated_at\": \"2023-12-16T21:00:54.786342Z\"\n}\n"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"7304911d-5df9-429e-8488-ad41abea1a4c"},"name":{"type":"string","example":"sub_001"},"description":{"type":"string","example":"streaming service"},"account_id":{"type":"string","example":"2404911d-5df9-429e-8488-ad41abea1a4b"},"merchant_reference":{"type":"string","example":"001_marzo_23"},"status":{"type":"string","example":"CANCELED"},"subscription_plan_id":{"type":"string","example":"1904911d-5df9-429e-8488-ad41abea1a4d"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"value":{"type":"integer","example":12100,"default":0}}},"frequency":{"type":"object","properties":{"type":{"type":"string","example":"MONTH"},"value":{"type":"integer","example":1,"default":0}}},"billing_cycles":{"type":"object","properties":{"total":{"type":"integer","example":10,"default":0},"current":{"type":"integer","example":2,"default":0},"next_at":{"type":"string","example":"2023-02-16T20:00:00.786342Z"}}},"customer_payer":{"type":"object","properties":{"id":{"type":"string","example":"3t04911d-5df9-429e-8488-ad41abea1a2c"}}},"payment_method":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"CARD"},"token":{"type":"string","example":"9104911d-5df9-429e-8488-ad41abea1a4b"},"vaulted_token":{"type":"string","example":"6104911d-5df9-429e-8488-ad41abea1a4b"},"card":{"type":"object","properties":{"verify":{"type":"boolean","example":false,"default":true},"card_data":{"type":"object","properties":{"number":{"type":"string","example":"4507990000000010"},"expiration_month":{"type":"integer","example":10,"default":0},"expiration_year":{"type":"integer","example":2025,"default":0},"security_code":{"type":"integer","example":123,"default":0},"holder_name":{"type":"string","example":"JOHN DOE"}}}}}}}},"availability":{"type":"object","properties":{"start_at":{"type":"string","example":"2024-01-16T00:00:00.786342Z"},"finish_at":{"type":"string","example":"2024-05-26T20:00:00.786342Z"}}},"metadata":{"type":"object","properties":{"key":{"type":"string","example":"sub_ext_id"},"value":{"type":"string","example":"AA001"}}},"payments":{"type":"array","items":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea1a4s"}},"created_at":{"type":"string","example":"2023-12-16T20:46:54.786342Z"},"updated_at":{"type":"string","example":"2023-12-16T21:00:54.786342Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n Refer to the HTTP Response Codes section for more details: 'https://docs.y.uno/reference/response-codes'\n}"}}}}}},"deprecated":false}},"/subscriptions/{id}/retry":{"post":{"summary":"Retry Subscription","description":"","operationId":"retry-subscription","parameters":[{"name":"id","in":"path","description":"The unique identifier of the subscription.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"0054840f-bcd5-4d8e-b86c-c18ede81c556\",\n    \"name\": \"Test Subscription\",\n    \"account_id\": \"f7c5fe77-721b-49c2-84d3-957748df3c2c\",\n    \"country\": \"CL\",\n    \"description\": \"Subscription Test\",\n    \"merchant_reference\": \"subscription-ref-merchant-AA01\",\n    \"status\": \"ACTIVE\",\n    \"amount\": {\n        \"currency\": \"CLP\",\n        \"value\": 15000\n    },\n    \"frequency\": {\n        \"type\": \"MONTH\",\n        \"value\": 1\n    },\n    \"billing_cycles\": {\n        \"total\": 12,\n        \"current\": 2,\n        \"next_at\": \"2025-05-29T11:13:31.786421Z\"\n    },\n    \"customer_payer\": {\n        \"id\": \"1c6d1a88-d8d5-4c09-b19c-852530d89f05\"\n    },\n    \"payment_method\": {\n        \"type\": \"CARD\",\n        \"vaulted_token\": \"743880c1-1bdb-4572-99a8-c4e5ce184895\"\n    },\n    \"availability\": {\n        \"start_at\": \"2025-04-29T11:13:31.786421Z\",\n        \"finish_at\": null\n    },\n    \"retries\": {\n        \"retry_on_decline\": false,\n        \"amount\": 6\n    },\n    \"metadata\": null,\n    \"additional_data\": null,\n    \"trial_period\": {\n        \"billing_cycles\": 1,\n        \"amount\": {\n            \"value\": 0,\n            \"currency\": \"\"\n        }\n    },\n    \"initial_payment_validation\": false,\n    \"created_at\": \"2025-04-29T11:13:31.786421Z\",\n    \"updated_at\": \"2025-04-29T11:13:31.942325Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"0054840f-bcd5-4d8e-b86c-c18ede81c556"},"name":{"type":"string","example":"Test Subscription"},"account_id":{"type":"string","example":"f7c5fe77-721b-49c2-84d3-957748df3c2c"},"country":{"type":"string","example":"CL"},"description":{"type":"string","example":"Subscription Test"},"merchant_reference":{"type":"string","example":"subscription-ref-merchant-AA01"},"status":{"type":"string","example":"ACTIVE"},"amount":{"type":"object","properties":{"currency":{"type":"string","example":"CLP"},"value":{"type":"integer","example":15000,"default":0}}},"frequency":{"type":"object","properties":{"type":{"type":"string","example":"MONTH"},"value":{"type":"integer","example":1,"default":0}}},"billing_cycles":{"type":"object","properties":{"total":{"type":"integer","example":12,"default":0},"current":{"type":"integer","example":2,"default":0},"next_at":{"type":"string","example":"2025-05-29T11:13:31.786421Z"}}},"customer_payer":{"type":"object","properties":{"id":{"type":"string","example":"1c6d1a88-d8d5-4c09-b19c-852530d89f05"}}},"payment_method":{"type":"object","properties":{"type":{"type":"string","example":"CARD"},"vaulted_token":{"type":"string","example":"743880c1-1bdb-4572-99a8-c4e5ce184895"}}},"availability":{"type":"object","properties":{"start_at":{"type":"string","example":"2025-04-29T11:13:31.786421Z"},"finish_at":{}}},"retries":{"type":"object","properties":{"retry_on_decline":{"type":"boolean","example":false,"default":true},"amount":{"type":"integer","example":6,"default":0}}},"metadata":{},"additional_data":{},"trial_period":{"type":"object","properties":{"billing_cycles":{"type":"integer","example":1,"default":0},"amount":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":""}}}}},"initial_payment_validation":{"type":"boolean","example":false,"default":true},"created_at":{"type":"string","example":"2025-04-29T11:13:31.786421Z"},"updated_at":{"type":"string","example":"2025-04-29T11:13:31.942325Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"code\": \"INVALID_STATE\",\n    \"messages\": [\n        \"The last payment intent of the subscription does not support the action requested.\"\n    ]\n}"}},"schema":{"oneOf":[{"type":"object","properties":{}},{"type":"object","properties":{"code":{"type":"string","example":"INVALID_STATE"},"messages":{"type":"array","items":{"type":"string","example":"The last payment intent of the subscription does not support the action requested."}}}}]}}}}},"deprecated":false}}},"x-readme":{"headers":[{"value":"utf-8","key":"charset"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}