{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "test-api-creation"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "tags": [],
  "paths": {
    "/loquesea": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "x-idempotency",
            "schema": {
              "type": "string"
            },
            "description": "Description",
            "required": false
          }
        ],
        "operationId": "post_loquesea"
      }
    },
    "/recipients/{recipient_id}/onboardings/{onboarding_id}/bank-accounts": {
      "post": {
        "summary": "New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the bank account."
                    },
                    "recipient": {
                      "type": "object",
                      "description": "Unique identifier of the recipient defined by the merchant.",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "merchant_recipient_id": {
                          "type": "string"
                        }
                      }
                    },
                    "account_id": {
                      "type": "string",
                      "description": "The account identifier associated with this recipient."
                    },
                    "type": {
                      "type": "string",
                      "default": "CHEKING",
                      "enum": [
                        "CHEKING",
                        "SAVINGS",
                        "CURRENT"
                      ],
                      "description": "The functional category of the bank account"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "INACTIVE"
                      ],
                      "description": "Status of the bank account."
                    },
                    "bank_account": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "Currency of the balances in the account.",
                              "default": "USD",
                              "enum": [
                                "USD",
                                "GBP",
                                "BRL",
                                "EUR"
                              ]
                            },
                            "amount": {
                              "type": "number",
                              "description": "amount of money that is available in the account."
                            }
                          }
                        },
                        "swift_bic": {
                          "type": "string",
                          "description": "The SWIFT Bank Identifier Code (BIC) identifying the recipient or sender financial institution. Must be 8 or 11 characters as defined by ISO 9362."
                        },
                        "account_number": {
                          "type": "string"
                        },
                        "scheme": {
                          "type": "string",
                          "description": "The banking or payment scheme (network or standard).",
                          "enum": [
                            "ACH",
                            "SEPA",
                            "PIX",
                            "WIRE",
                            "BACS",
                            "SPEI"
                          ]
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp at which the bank account was created.",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "recipient_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the recipient"
          },
          {
            "in": "path",
            "name": "onboarding_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the onboarding "
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on the Yuno dashboard (UUID, 36 chars)."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "CHECKING",
                      "SAVINGS",
                      "CURRENT"
                    ],
                    "description": "The functional category of the bank account",
                    "default": "CHECKING"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description of the account (MAX 255; MIN 3).\n"
                  }
                },
                "required": [
                  "account_id"
                ]
              }
            }
          }
        },
        "operationId": "post_recipients-recipient-id-onboardings-onboarding-id-bank-accounts"
      }
    },
    "/recipients/{recipient_id}/onboardings/{onboarding_id}/bank-accounts-1": {
      "post": {
        "summary": "Copy of New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the bank account."
                    },
                    "recipient": {
                      "type": "object",
                      "description": "Unique identifier of the recipient defined by the merchant.",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "merchant_recipient_id": {
                          "type": "string"
                        }
                      }
                    },
                    "account_id": {
                      "type": "string",
                      "description": "The account identifier associated with this recipient."
                    },
                    "type": {
                      "type": "string",
                      "default": "CHEKING",
                      "enum": [
                        "CHEKING",
                        "SAVINGS",
                        "CURRENT"
                      ],
                      "description": "The functional category of the bank account"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "INACTIVE"
                      ],
                      "description": "Status of the bank account."
                    },
                    "bank_account": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "Currency of the balances in the account.",
                              "default": "USD",
                              "enum": [
                                "USD",
                                "GBP",
                                "BRL",
                                "EUR"
                              ]
                            },
                            "amount": {
                              "type": "number",
                              "description": "amount of money that is available in the account."
                            }
                          }
                        },
                        "swift_bic": {
                          "type": "string",
                          "description": "The SWIFT Bank Identifier Code (BIC) identifying the recipient or sender financial institution. Must be 8 or 11 characters as defined by ISO 9362."
                        },
                        "account_number": {
                          "type": "string"
                        },
                        "scheme": {
                          "type": "string",
                          "description": "The banking or payment scheme (network or standard).",
                          "enum": [
                            "ACH",
                            "SEPA",
                            "PIX",
                            "WIRE",
                            "BACS",
                            "SPEI"
                          ]
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp at which the bank account was created.",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "recipient_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the recipient"
          },
          {
            "in": "path",
            "name": "onboarding_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the onboarding "
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on the Yuno dashboard (UUID, 36 chars)."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "CHECKING",
                      "SAVINGS",
                      "CURRENT"
                    ],
                    "description": "The functional category of the bank account",
                    "default": "CHECKING"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description of the account (MAX 255; MIN 3).\n"
                  }
                },
                "required": [
                  "account_id"
                ]
              }
            }
          }
        },
        "operationId": "post_recipients-recipient-id-onboardings-onboarding-id-bank-accounts-1"
      }
    },
    "/recipients/{recipient_id}/onboardings/{onboarding_id}/bank-accounts-2": {
      "post": {
        "summary": "Copy of New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the bank account."
                    },
                    "recipient": {
                      "type": "object",
                      "description": "Unique identifier of the recipient defined by the merchant.",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "merchant_recipient_id": {
                          "type": "string"
                        }
                      }
                    },
                    "account_id": {
                      "type": "string",
                      "description": "The account identifier associated with this recipient."
                    },
                    "type": {
                      "type": "string",
                      "default": "CHEKING",
                      "enum": [
                        "CHEKING",
                        "SAVINGS",
                        "CURRENT"
                      ],
                      "description": "The functional category of the bank account"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "INACTIVE"
                      ],
                      "description": "Status of the bank account."
                    },
                    "bank_account": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "Currency of the balances in the account.",
                              "default": "USD",
                              "enum": [
                                "USD",
                                "GBP",
                                "BRL",
                                "EUR"
                              ]
                            },
                            "amount": {
                              "type": "number",
                              "description": "amount of money that is available in the account."
                            }
                          }
                        },
                        "swift_bic": {
                          "type": "string",
                          "description": "The SWIFT Bank Identifier Code (BIC) identifying the recipient or sender financial institution. Must be 8 or 11 characters as defined by ISO 9362."
                        },
                        "account_number": {
                          "type": "string"
                        },
                        "scheme": {
                          "type": "string",
                          "description": "The banking or payment scheme (network or standard).",
                          "enum": [
                            "ACH",
                            "SEPA",
                            "PIX",
                            "WIRE",
                            "BACS",
                            "SPEI"
                          ]
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The timestamp at which the bank account was created.",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "recipient_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the recipient"
          },
          {
            "in": "path",
            "name": "onboarding_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the onboarding "
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on the Yuno dashboard (UUID, 36 chars)."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "CHECKING",
                      "SAVINGS",
                      "CURRENT"
                    ],
                    "description": "The functional category of the bank account",
                    "default": "CHECKING"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description of the account (MAX 255; MIN 3).\n"
                  }
                },
                "required": [
                  "account_id"
                ]
              }
            }
          }
        },
        "operationId": "post_recipients-recipient-id-onboardings-onboarding-id-bank-accounts-2"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api": [],
      "private-secret-key": []
    }
  ]
}