{
  "openapi": "3.1.0",
  "info": {
    "title": "3ds-setup",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/three-d-secure/setups": {
      "post": {
        "summary": "Setup",
        "description": "",
        "operationId": "3ds-setup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on [Yuno's Dashboard](https://dashboard.y.uno/) (MAX 64; MIN 36)."
                  },
                  "card": {
                    "type": "object",
                    "description": "Specifies the card data object.",
                    "required": [
                      "holder_name",
                      "number",
                      "expiration_month",
                      "expiration_year",
                      "security_code"
                    ],
                    "properties": {
                      "holder_name": {
                        "type": "string",
                        "description": "Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants."
                      },
                      "number": {
                        "type": "string",
                        "description": "Card’s number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants."
                      },
                      "expiration_month": {
                        "type": "integer",
                        "description": "Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.",
                        "format": "int32"
                      },
                      "expiration_year": {
                        "type": "integer",
                        "description": "Card’s expiration year - YYYY (MAX 4; MIN 2) - only available for PCI certified merchants.",
                        "format": "int32"
                      },
                      "security_code": {
                        "type": "string",
                        "description": "Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants."
                      }
                    }
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "account_id": "<Your account_id>",
                    "card": {
                      "holder_name": "John Doe",
                      "number": "4456530000000007",
                      "expiration_month": 1,
                      "expiration_year": 26,
                      "security_code": "123"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"three_d_secure_setup_id\": \"005219f5-babf-4598-bc52-5dd49c19ba7a\",\n    \"collect_url\": \"https://centinelapistag.cardinalcommerce.com/V1/Cruise/Collect\",\n    \"token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIyNzA3MjQyZi1iM2Y5LTQ5ODktYjQ5NC01MzY5ODA5Yjc3YmYiLCJpYXQiOjE3MTc3NjU5NDksImlzcyI6IjVkZDgzYmYwMGU0MjNkMTQ5OGRjYmFjYSIsImV4cCI6MTcxNzc2OTU0OSwiT3JnVW5pdElkIjoiNjQwYTM1NjlkODdhMjUwYTQyNTEwOWRjIiwiUmVmZXJlbmNlSWQiOiI0NDhjM2ZmZS01NjZhLTRmYWUtOTE0Zi0wNmVjOGNmZDljMjAifQ.fl0MIgejhhsnbg1E_CcuAQsXU2jcv8lG3-7Td0FIj9k\",\n    \"provider_id\": \"CYBERSOURCE_3DS\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "three_d_secure_setup_id": {
                      "type": "string",
                      "example": "005219f5-babf-4598-bc52-5dd49c19ba7a"
                    },
                    "collect_url": {
                      "type": "string",
                      "example": "https://centinelapistag.cardinalcommerce.com/V1/Cruise/Collect"
                    },
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIyNzA3MjQyZi1iM2Y5LTQ5ODktYjQ5NC01MzY5ODA5Yjc3YmYiLCJpYXQiOjE3MTc3NjU5NDksImlzcyI6IjVkZDgzYmYwMGU0MjNkMTQ5OGRjYmFjYSIsImV4cCI6MTcxNzc2OTU0OSwiT3JnVW5pdElkIjoiNjQwYTM1NjlkODdhMjUwYTQyNTEwOWRjIiwiUmVmZXJlbmNlSWQiOiI0NDhjM2ZmZS01NjZhLTRmYWUtOTE0Zi0wNmVjOGNmZDljMjAifQ.fl0MIgejhhsnbg1E_CcuAQsXU2jcv8lG3-7Td0FIj9k"
                    },
                    "provider_id": {
                      "type": "string",
                      "example": "CYBERSOURCE_3DS"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/tokens": {
      "post": {
        "summary": "Create One Time Use Token",
        "description": "",
        "operationId": "post_tokens",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "card_data"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on Yuno's Dashboard (MAX 64; MIN 36).",
                    "example": "fe14c7c6-c75e-43b7-bdbe-4c87ad52c482"
                  },
                  "country": {
                    "type": "string",
                    "description": "Customer's country (ISO 3166-1 MAX 2; MIN 2).",
                    "example": "US"
                  },
                  "card_data": {
                    "type": "object",
                    "required": [
                      "number",
                      "expiration_month",
                      "expiration_year",
                      "holder_name"
                    ],
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "Card number without separators (MAX 19; MIN 8).",
                        "example": "4111111111111111"
                      },
                      "expiration_month": {
                        "type": "integer",
                        "description": "Card expiration month - MM.",
                        "example": 12
                      },
                      "expiration_year": {
                        "type": "integer",
                        "description": "Card expiration year - YY or YYYY.",
                        "example": 25
                      },
                      "security_code": {
                        "type": "string",
                        "description": "Card security code (MAX 4; MIN 2).",
                        "example": "123"
                      },
                      "holder_name": {
                        "type": "string",
                        "description": "Cardholder full name (MAX 26; MIN 3).",
                        "example": "John Doe"
                      },
                      "stored_credentials": {
                        "type": "object",
                        "properties": {
                          "reason": {
                            "type": "string",
                            "enum": [
                              "CARD_ON_FILE",
                              "SUBSCRIPTION",
                              "UNSCHEDULED_CARD_ON_FILE"
                            ]
                          },
                          "usage": {
                            "type": "string",
                            "enum": [
                              "FIRST",
                              "USED"
                            ]
                          },
                          "subscription_agreement_id": {
                            "type": "string"
                          },
                          "network_transaction_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "customer_payer": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "example": "John"
                      },
                      "last_name": {
                        "type": "string",
                        "example": "Doe"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "johndoe@example.com"
                      },
                      "gender": {
                        "type": "string",
                        "enum": [
                          "M",
                          "F",
                          "NA",
                          "NK"
                        ]
                      },
                      "date_of_birth": {
                        "type": "string",
                        "format": "date",
                        "example": "1990-01-01"
                      },
                      "phone": {
                        "type": "object",
                        "required": [
                          "country_code",
                          "number"
                        ],
                        "properties": {
                          "country_code": {
                            "type": "string",
                            "example": "+1"
                          },
                          "number": {
                            "type": "string",
                            "example": "5551234567"
                          }
                        }
                      },
                      "billing_address": {
                        "type": "object",
                        "properties": {
                          "address_line_1": {
                            "type": "string"
                          },
                          "address_line_2": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string",
                            "example": "US"
                          },
                          "state": {
                            "type": "string",
                            "example": "NY"
                          },
                          "city": {
                            "type": "string",
                            "example": "New York"
                          },
                          "zip_code": {
                            "type": "string",
                            "example": "10001"
                          },
                          "neighborhood": {
                            "type": "string"
                          }
                        }
                      },
                      "shipping_address": {
                        "type": "object"
                      },
                      "document": {
                        "type": "object",
                        "properties": {
                          "document_type": {
                            "type": "string",
                            "example": "PASS"
                          },
                          "document_number": {
                            "type": "string",
                            "example": "A12345678"
                          }
                        }
                      },
                      "browser_info": {
                        "type": "object",
                        "properties": {
                          "user_agent": {
                            "type": "string"
                          },
                          "accept_header": {
                            "type": "string"
                          },
                          "accept_content": {
                            "type": "string"
                          },
                          "accept_browser": {
                            "type": "string"
                          },
                          "color_depth": {
                            "type": "string"
                          },
                          "screen_height": {
                            "type": "string"
                          },
                          "screen_width": {
                            "type": "string"
                          },
                          "javascript_enabled": {
                            "type": "boolean"
                          },
                          "java_enabled": {
                            "type": "boolean"
                          },
                          "browser_time_difference": {
                            "type": "string"
                          },
                          "language": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          }
                        }
                      },
                      "nationality": {
                        "type": "string",
                        "example": "US"
                      },
                      "ip_address": {
                        "type": "string",
                        "example": "192.168.1.1"
                      },
                      "device_fingerprints": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "provider_id": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "account_id": "{{account_id}}",
                    "card_data": {
                      "number": "4111111111111111",
                      "expiration_month": 12,
                      "expiration_year": 29,
                      "security_code": "123",
                      "holder_name": "John Doe"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "9107a30f-564c-4469-bd7c-8e1f249fb016"
                    },
                    "card_data": {
                      "type": "object",
                      "properties": {
                        "holder_name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "iin": {
                          "type": "string",
                          "example": "41111111"
                        },
                        "lfd": {
                          "type": "string",
                          "example": "1111"
                        },
                        "number_length": {
                          "type": "integer",
                          "example": 16
                        },
                        "security_code_length": {
                          "type": "integer",
                          "example": 3
                        },
                        "brand": {
                          "type": "string",
                          "example": "VISA"
                        },
                        "type": {
                          "type": "string",
                          "example": "DEBIT"
                        },
                        "category": {
                          "type": "string",
                          "example": "CLASSIC"
                        },
                        "issuer_name": {
                          "type": "string",
                          "example": "CONOTOXIA SP Z O O"
                        },
                        "issuer_code": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": null
                        },
                        "fingerprint": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "example": null
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "example": "John"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Doe"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "johndoe@example.com"
                        },
                        "gender": {
                          "type": "string",
                          "enum": [
                            "M",
                            "F",
                            "NA",
                            "NK"
                          ]
                        },
                        "date_of_birth": {
                          "type": "string",
                          "format": "date",
                          "example": "1990-01-01"
                        },
                        "phone": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "string",
                              "example": "5551234567"
                            },
                            "country_code": {
                              "type": "string",
                              "example": "1"
                            }
                          }
                        },
                        "billing_address": {
                          "type": "object",
                          "properties": {
                            "address_line_1": {
                              "type": "string",
                              "example": "123 Main St"
                            },
                            "address_line_2": {
                              "type": "string",
                              "example": "Apt 4B"
                            },
                            "country": {
                              "type": "string",
                              "example": "US"
                            },
                            "state": {
                              "type": "string",
                              "example": "NY"
                            },
                            "city": {
                              "type": "string",
                              "example": "New York"
                            },
                            "zip_code": {
                              "type": "string",
                              "example": "10001"
                            },
                            "neighborhood": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            }
                          }
                        },
                        "shipping_address": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "example": null
                        },
                        "document": {
                          "type": "object",
                          "properties": {
                            "document_type": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            },
                            "document_number": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            }
                          }
                        },
                        "browser_info": {
                          "type": "object",
                          "properties": {
                            "user_agent": {
                              "type": "string",
                              "example": "Mozilla/5.0 ..."
                            },
                            "accept_header": {
                              "type": "string",
                              "example": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
                            },
                            "accept_content": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            },
                            "accept_browser": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            },
                            "color_depth": {
                              "type": "string",
                              "example": "24"
                            },
                            "screen_height": {
                              "type": "string",
                              "example": "1080"
                            },
                            "screen_width": {
                              "type": "string",
                              "example": "1920"
                            },
                            "javascript_enabled": {
                              "type": "boolean",
                              "example": true
                            },
                            "java_enabled": {
                              "type": [
                                "boolean",
                                "null"
                              ],
                              "example": null
                            },
                            "browser_time_difference": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            },
                            "language": {
                              "type": "string",
                              "example": "en-US"
                            },
                            "platform": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "example": null
                            }
                          }
                        },
                        "nationality": {
                          "type": "string",
                          "example": "US"
                        },
                        "ip_address": {
                          "type": "string",
                          "example": "192.168.1.1"
                        },
                        "device_fingerprints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "provider_id": {
                                "type": "string",
                                "example": "DLOCAL"
                              },
                              "id": {
                                "type": "string",
                                "example": "abc123xyz"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "token": "9107a30f-564c-4469-bd7c-8e1f249fb016",
                      "card_data": {
                        "holder_name": "John Doe",
                        "iin": "41111111",
                        "lfd": "1111",
                        "number_length": 16,
                        "security_code_length": 3,
                        "brand": "VISA",
                        "type": "DEBIT",
                        "category": "CLASSIC",
                        "issuer_name": "CONOTOXIA SP Z O O",
                        "issuer_code": null,
                        "fingerprint": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "Invalid Request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    },
                    "summary": "Invalid Request"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "code": "INVALID_CREDENTIALS",
                      "messages": [
                        "Invalid credentials"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "Forbidden": {
                    "value": {
                      "code": "AUTHORIZATION_REQUIRED",
                      "messages": [
                        "The merchant has no authorization to use this API."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}