{
  "openapi": "3.1.0",
  "info": {
    "title": "tokens",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1/tokens"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your private-secret-key>",
        "name": "private-secret-key"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "Create One Time Use Token",
        "description": "",
        "operationId": "create-onte-time-use-token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account (MAX 64 ; MIN 36)."
                  },
                  "card_data": {
                    "type": "object",
                    "description": "The card data object",
                    "required": [
                      "number",
                      "expiration_month",
                      "expiration_year",
                      "holder_name",
                      "security_code"
                    ],
                    "properties": {
                      "number": {
                        "type": "string",
                        "description": "Card’s number without any separators.  (MAX 19; MIN 8) - only available for PCI certified merchants"
                      },
                      "expiration_month": {
                        "type": "integer",
                        "description": "Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants",
                        "format": "int32"
                      },
                      "expiration_year": {
                        "type": "integer",
                        "description": "Card’s expiration year - YYYY  (MAX 4; MIN 4) - only available for PCI certified merchants",
                        "format": "int32"
                      },
                      "holder_name": {
                        "type": "string",
                        "description": "Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants"
                      },
                      "security_code": {
                        "type": "integer",
                        "description": "Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants",
                        "format": "int32"
                      }
                    }
                  },
                  "customer_payer": {
                    "type": "object",
                    "description": "The customer payer object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "description": "The customer's first name (MAX 255; MIN 3)"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "The customer's last name (MAX 255; MIN 3)"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "The customer's date of birth in the YYYY-MM-DD (MAX 10; MIN 10)"
                      },
                      "email": {
                        "type": "string",
                        "description": "The customer's email (MAX 255; MIN 3)"
                      },
                      "nationality": {
                        "type": "string",
                        "description": "The customer's nationality  (ISO 3166-1 MAX 2; MIN 2)"
                      },
                      "ip_address": {
                        "type": "string",
                        "description": "The customer's IP Address (MAX 45; MIN 7)."
                      },
                      "device_fingerprints": {
                        "type": "array",
                        "description": "The customer's device fingerprints (MAX 4000; MIN 1). In case you are using a DIRECT integration and want to support fraud providers in the payment flow, you can use this object to specify the necessary information. For integrations using Yuno checkout the value is obtained automatically, do not send this field.",
                        "items": {
                          "properties": {
                            "provider_id": {
                              "type": "string",
                              "description": "The fraud screening provider id",
                              "enum": [
                                "CLEARSALE",
                                "CYBERSOURCE",
                                "RISKIFIED",
                                "SIGNIFYD",
                                "VESTA",
                                "KONDUTO",
                                "BAYONET",
                                "MERCADO_PAGO",
                                "OPEN_PAY"
                              ]
                            },
                            "id": {
                              "type": "string",
                              "description": "The device fingerprint associated to the provider"
                            }
                          },
                          "required": [
                            "provider_id",
                            "id"
                          ],
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "account_id": "{{account-code}}",
                    "card_data": {
                      "holder_name": "Jhon Doe",
                      "number": "4871049999999910",
                      "expiration_month": 3,
                      "expiration_year": 30,
                      "security_code": "737"
                    },
                    "customer_payer": {
                      "email": "jhondoe@y.uno",
                      "first_name": "Jhon",
                      "gender": "M",
                      "ip_address": "192.168.123.167",
                      "last_name": "Doe",
                      "merchant_customer_id": "example00234",
                      "nationality": "CO",
                      "document": {
                        "document_type": "CC",
                        "document_number": "1032765432"
                      },
                      "phone": {
                        "country_code": "57",
                        "number": "3132450765"
                      },
                      "shipping_address": {
                        "address_line_1": "Calle 34 # 56 - 78",
                        "address_line_2": "Apartamento 502, Torre I",
                        "city": "Bogota",
                        "country": "CO",
                        "state": "Cundinamarca",
                        "zip_code": "111111"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"token\": \"2d6baa58-d49a-4fcd-952e-63aac51d6f08\",\n    \"card_data\": {\n        \"holder_name\": \"Jhon Doe\",\n        \"iin\": \"48710499\",\n        \"lfd\": \"9910\",\n        \"number_length\": 16,\n        \"security_code_length\": 3,\n        \"brand\": \"VISABANCONTACT\",\n        \"type\": \"DEBIT\",\n        \"category\": \"CLASSIC\",\n        \"issuer_name\": \"BNP PARIBAS FORTIS NVSA\",\n        \"issuer_code\": null\n    },\n    \"customer_payer\": {\n        \"first_name\": \"Jhon\",\n        \"last_name\": \"Doe\",\n        \"email\": \"jhondoe@y.uno\",\n        \"gender\": \"M\",\n        \"date_of_birth\": null,\n        \"phone\": {\n            \"number\": \"3132450765\",\n            \"country_code\": \"57\"\n        },\n        \"billing_address\": null,\n        \"shipping_address\": {\n            \"address_line_1\": \"Calle 34 # 56 - 78\",\n            \"address_line_2\": \"Apartamento 502, Torre I\",\n            \"country\": \"CO\",\n            \"state\": \"Cundinamarca\",\n            \"city\": \"Bogota\",\n            \"zip_code\": \"111111\",\n            \"neighborhood\": null\n        },\n        \"document\": {\n            \"document_type\": \"CC\",\n            \"document_number\": \"1032765432\"\n        },\n        \"browser_info\": null,\n        \"nationality\": \"CO\",\n        \"ip_address\": \"192.168.123.167\",\n        \"device_fingerprints\": null\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "2d6baa58-d49a-4fcd-952e-63aac51d6f08"
                    },
                    "card_data": {
                      "type": "object",
                      "properties": {
                        "holder_name": {
                          "type": "string",
                          "example": "Jhon Doe"
                        },
                        "iin": {
                          "type": "string",
                          "example": "48710499"
                        },
                        "lfd": {
                          "type": "string",
                          "example": "9910"
                        },
                        "number_length": {
                          "type": "integer",
                          "example": 16,
                          "default": 0
                        },
                        "security_code_length": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        },
                        "brand": {
                          "type": "string",
                          "example": "VISABANCONTACT"
                        },
                        "type": {
                          "type": "string",
                          "example": "DEBIT"
                        },
                        "category": {
                          "type": "string",
                          "example": "CLASSIC"
                        },
                        "issuer_name": {
                          "type": "string",
                          "example": "BNP PARIBAS FORTIS NVSA"
                        },
                        "issuer_code": {}
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "example": "Jhon"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Doe"
                        },
                        "email": {
                          "type": "string",
                          "example": "jhondoe@y.uno"
                        },
                        "gender": {
                          "type": "string",
                          "example": "M"
                        },
                        "date_of_birth": {},
                        "phone": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "string",
                              "example": "3132450765"
                            },
                            "country_code": {
                              "type": "string",
                              "example": "57"
                            }
                          }
                        },
                        "billing_address": {},
                        "shipping_address": {
                          "type": "object",
                          "properties": {
                            "address_line_1": {
                              "type": "string",
                              "example": "Calle 34 # 56 - 78"
                            },
                            "address_line_2": {
                              "type": "string",
                              "example": "Apartamento 502, Torre I"
                            },
                            "country": {
                              "type": "string",
                              "example": "CO"
                            },
                            "state": {
                              "type": "string",
                              "example": "Cundinamarca"
                            },
                            "city": {
                              "type": "string",
                              "example": "Bogota"
                            },
                            "zip_code": {
                              "type": "string",
                              "example": "111111"
                            },
                            "neighborhood": {}
                          }
                        },
                        "document": {
                          "type": "object",
                          "properties": {
                            "document_type": {
                              "type": "string",
                              "example": "CC"
                            },
                            "document_number": {
                              "type": "string",
                              "example": "1032765432"
                            }
                          }
                        },
                        "browser_info": {},
                        "nationality": {
                          "type": "string",
                          "example": "CO"
                        },
                        "ip_address": {
                          "type": "string",
                          "example": "192.168.123.167"
                        },
                        "device_fingerprints": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}