{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Vouchers"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "tags": [],
  "paths": {
    "/new-endpoint": {
      "get": {
        "summary": "New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "description": "",
        "operationId": "post_payments",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "200 string example": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "200 string example"
                  ]
                }
              }
            }
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "3c2a4cbd-b685-4c47-ac20-25c1b076ebc8"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "48d47836-0c4b-45af-b6b8-098fd17a8fa2"
                    },
                    "description": {
                      "type": "string",
                      "example": "dlocal"
                    },
                    "country": {
                      "type": "string",
                      "example": "BR"
                    },
                    "status": {
                      "type": "string",
                      "example": "SUCCEEDED"
                    },
                    "sub_status": {
                      "type": "string",
                      "example": "APPROVED"
                    },
                    "merchant_order_id": {
                      "type": "string",
                      "example": "12271562679"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2025-11-03T16:21:00.005730Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2025-11-03T16:21:01.472190Z"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "captured": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "currency": {
                          "type": "string",
                          "example": "BRL"
                        },
                        "currency_conversion": {},
                        "refunded": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "value": {
                          "type": "number",
                          "example": 26.9,
                          "default": 0
                        }
                      }
                    },
                    "checkout": {
                      "type": "object",
                      "properties": {
                        "session": {
                          "type": "string",
                          "example": ""
                        },
                        "sdk_action_required": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "vaulted_token": {
                          "type": "string",
                          "example": ""
                        },
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "vault_on_success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "token": {
                          "type": "string",
                          "example": ""
                        },
                        "parent_payment_method_type": {},
                        "payment_method_detail": {
                          "type": "object",
                          "properties": {
                            "card": {
                              "type": "object",
                              "properties": {
                                "verify": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "capture": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "installments": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "installments_plan_id": {},
                                "first_installment_deferral": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "installments_type": {
                                  "type": "string",
                                  "example": ""
                                },
                                "installment_amount": {},
                                "installments_total_amount": {},
                                "soft_descriptor": {
                                  "type": "string",
                                  "example": ""
                                },
                                "authorization_code": {
                                  "type": "string",
                                  "example": "107562"
                                },
                                "retrieval_reference_number": {
                                  "type": "string",
                                  "example": ""
                                },
                                "voucher": {},
                                "card_data": {
                                  "type": "object",
                                  "properties": {
                                    "holder_name": {
                                      "type": "string",
                                      "example": "MARIANA SORRENTINO"
                                    },
                                    "iin": {
                                      "type": "string",
                                      "example": "50675556"
                                    },
                                    "lfd": {
                                      "type": "string",
                                      "example": "2011"
                                    },
                                    "number_length": {
                                      "type": "integer",
                                      "example": 16,
                                      "default": 0
                                    },
                                    "security_code_length": {
                                      "type": "integer",
                                      "example": 3,
                                      "default": 0
                                    },
                                    "brand": {
                                      "type": "string",
                                      "example": "ALELO"
                                    },
                                    "issuer_name": {
                                      "type": "string",
                                      "example": "ALELO"
                                    },
                                    "issuer_code": {},
                                    "country_code": {
                                      "type": "string",
                                      "example": "BR"
                                    },
                                    "category": {
                                      "type": "string",
                                      "example": "Refeição"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "VOUCHER"
                                    },
                                    "three_d_secure": {
                                      "type": "object",
                                      "properties": {
                                        "version": {},
                                        "electronic_commerce_indicator": {},
                                        "cryptogram": {},
                                        "transaction_id": {},
                                        "directory_server_transaction_id": {},
                                        "pares_status": {},
                                        "acs_id": {}
                                      }
                                    },
                                    "fingerprint": {
                                      "type": "string",
                                      "example": "29a1339e-6421-43d9-8d48-7f91c4a6bab1"
                                    },
                                    "expiration_month": {
                                      "type": "integer",
                                      "example": 9,
                                      "default": 0
                                    },
                                    "expiration_year": {
                                      "type": "integer",
                                      "example": 33,
                                      "default": 0
                                    }
                                  }
                                },
                                "stored_credentials": {
                                  "type": "object",
                                  "properties": {
                                    "reason": {},
                                    "usage": {},
                                    "subscription_agreement_id": {},
                                    "network_transaction_id": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {},
                        "merchant_customer_id": {},
                        "first_name": {},
                        "last_name": {},
                        "gender": {},
                        "date_of_birth": {},
                        "email": {},
                        "nationality": {},
                        "ip_address": {},
                        "device_fingerprint": {},
                        "device_fingerprints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "browser_info": {
                          "type": "object",
                          "properties": {
                            "user_agent": {
                              "type": "string",
                              "example": ""
                            },
                            "accept_header": {
                              "type": "string",
                              "example": ""
                            },
                            "accept_content": {},
                            "accept_browser": {},
                            "color_depth": {
                              "type": "string",
                              "example": ""
                            },
                            "screen_height": {
                              "type": "string",
                              "example": ""
                            },
                            "screen_width": {
                              "type": "string",
                              "example": ""
                            },
                            "javascript_enabled": {},
                            "java_enabled": {},
                            "browser_time_difference": {},
                            "language": {
                              "type": "string",
                              "example": ""
                            },
                            "platform": {}
                          }
                        },
                        "document": {},
                        "phone": {},
                        "billing_address": {},
                        "shipping_address": {},
                        "merchant_customer_created_at": {}
                      }
                    },
                    "additional_data": {
                      "type": "object",
                      "properties": {
                        "airline": {},
                        "transportations": {},
                        "order": {},
                        "seller_details": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": ""
                            },
                            "website": {
                              "type": "string",
                              "example": ""
                            },
                            "email": {
                              "type": "string",
                              "example": ""
                            },
                            "address": {},
                            "reference": {
                              "type": "string",
                              "example": "53568972000143"
                            },
                            "country": {
                              "type": "string",
                              "example": ""
                            },
                            "phone": {},
                            "document": {},
                            "industry": {
                              "type": "string",
                              "example": ""
                            },
                            "merchant_category_code": {
                              "type": "string",
                              "example": "5814"
                            }
                          }
                        }
                      }
                    },
                    "transactions": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "f4532b5d-8ad6-419f-bd86-aff030ab8a87"
                        },
                        "type": {
                          "type": "string",
                          "example": "PURCHASE"
                        },
                        "status": {
                          "type": "string",
                          "example": "SUCCEEDED"
                        },
                        "category": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "amount": {
                          "type": "number",
                          "example": 26.9,
                          "default": 0
                        },
                        "provider_id": {
                          "type": "string",
                          "example": "ALELO"
                        },
                        "payment_method": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "CARD"
                            },
                            "detail": {
                              "type": "object",
                              "properties": {
                                "card": {
                                  "type": "object",
                                  "properties": {
                                    "verify": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "capture": {
                                      "type": "boolean",
                                      "example": true,
                                      "default": true
                                    },
                                    "installments": {
                                      "type": "integer",
                                      "example": 1,
                                      "default": 0
                                    },
                                    "authorization_code": {
                                      "type": "string",
                                      "example": "107562"
                                    },
                                    "card_data": {
                                      "type": "object",
                                      "properties": {
                                        "holder_name": {
                                          "type": "string",
                                          "example": "MARIANA SORRENTINO"
                                        },
                                        "iin": {
                                          "type": "string",
                                          "example": "50675556"
                                        },
                                        "lfd": {
                                          "type": "string",
                                          "example": "2011"
                                        },
                                        "brand": {
                                          "type": "string",
                                          "example": "ALELO"
                                        },
                                        "issuer_name": {
                                          "type": "string",
                                          "example": "ALELO"
                                        },
                                        "country_code": {
                                          "type": "string",
                                          "example": "BR"
                                        },
                                        "category": {
                                          "type": "string",
                                          "example": "Refeição"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "VOUCHER"
                                        },
                                        "expiration_month": {
                                          "type": "integer",
                                          "example": 9,
                                          "default": 0
                                        },
                                        "expiration_year": {
                                          "type": "integer",
                                          "example": 33,
                                          "default": 0
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "response_code": {
                          "type": "string",
                          "example": "SUCCEEDED"
                        },
                        "response_message": {
                          "type": "string",
                          "example": "Transaction successful"
                        },
                        "description": {
                          "type": "string",
                          "example": "dlocal"
                        },
                        "merchant_reference": {
                          "type": "string",
                          "example": "12271562679"
                        },
                        "provider_data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "ALELO"
                            },
                            "transaction_id": {
                              "type": "string",
                              "example": "f4532b5d-8ad6-419f-bd86-aff030ab8a87__107562__002959929037__53568972000143__251103162100"
                            },
                            "status": {
                              "type": "string",
                              "example": "00"
                            },
                            "status_detail": {
                              "type": "string",
                              "example": "CONFIRMADA"
                            },
                            "raw_response": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "string",
                                  "example": "26.9"
                                },
                                "authorizationCode": {
                                  "type": "string",
                                  "example": "107562"
                                },
                                "dateTime": {
                                  "type": "string",
                                  "example": "251103162100"
                                },
                                "maskedCard": {
                                  "type": "string",
                                  "example": "506755******2011"
                                },
                                "messages": {
                                  "type": "string",
                                  "example": "Transação Confirmada com sucesso."
                                },
                                "nsu": {
                                  "type": "string",
                                  "example": "002959929037"
                                },
                                "requestId": {
                                  "type": "string",
                                  "example": "f4532b5d-8ad6-419f-bd86-aff030ab8a87"
                                },
                                "returnCode": {
                                  "type": "string",
                                  "example": "00"
                                },
                                "status": {
                                  "type": "string",
                                  "example": "CONFIRMADA"
                                }
                              }
                            }
                          }
                        },
                        "connection_data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "740212af-62ee-4796-98eb-5461c103ad07"
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-11-03T16:21:00.144117Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-11-03T16:21:01.428974Z"
                        }
                      }
                    },
                    "transactions_history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "f4532b5d-8ad6-419f-bd86-aff030ab8a87"
                          },
                          "type": {
                            "type": "string",
                            "example": "PURCHASE"
                          },
                          "status": {
                            "type": "string",
                            "example": "SUCCEEDED"
                          },
                          "amount": {
                            "type": "number",
                            "example": 26.9,
                            "default": 0
                          },
                          "provider_id": {
                            "type": "string",
                            "example": "ALELO"
                          },
                          "response_code": {
                            "type": "string",
                            "example": "SUCCEEDED"
                          },
                          "response_message": {
                            "type": "string",
                            "example": "Transaction successful"
                          },
                          "description": {
                            "type": "string",
                            "example": "dlocal"
                          },
                          "merchant_reference": {
                            "type": "string",
                            "example": "12271562679"
                          },
                          "provider_data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "ALELO"
                              },
                              "transaction_id": {
                                "type": "string",
                                "example": "f4532b5d-8ad6-419f-bd86-aff030ab8a87__107562__002959929037__53568972000143__251103162100"
                              },
                              "status_detail": {
                                "type": "string",
                                "example": "CONFIRMADA"
                              },
                              "raw_response": {
                                "type": "object",
                                "properties": {
                                  "messages": {
                                    "type": "string",
                                    "example": "Transação Confirmada com sucesso."
                                  },
                                  "status": {
                                    "type": "string",
                                    "example": "CONFIRMADA"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "workflow": {
                      "type": "string",
                      "example": "DIRECT"
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "fraud_screening": {},
                    "payment_link_id": {
                      "type": "string",
                      "example": ""
                    },
                    "subscription_code": {},
                    "routing_rules": {
                      "type": "object",
                      "properties": {
                        "smart_routing": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "monitors": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "condition": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1950011,
                              "default": 0
                            },
                            "name": {
                              "type": "string",
                              "example": ""
                            },
                            "description": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        }
                      }
                    },
                    "simplified_mode": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                },
                "examples": {
                  "Created response example": {
                    "summary": "Created response example",
                    "value": {
                      "id": "3c2a4cbd-b685-4c47-ac20-25c1b076ebc8",
                      "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                      "description": "dlocal",
                      "country": "BR",
                      "status": "SUCCEEDED",
                      "sub_status": "APPROVED",
                      "merchant_order_id": "12271562679",
                      "created_at": "2025-11-03T16:21:00.005730Z",
                      "updated_at": "2025-11-03T16:21:01.472190Z",
                      "amount": {
                        "captured": 0,
                        "currency": "BRL",
                        "currency_conversion": null,
                        "refunded": 0,
                        "value": 26.9
                      },
                      "checkout": {
                        "session": "",
                        "sdk_action_required": false
                      },
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "CARD",
                        "vault_on_success": false,
                        "token": "",
                        "parent_payment_method_type": null,
                        "payment_method_detail": {
                          "card": {
                            "verify": false,
                            "capture": true,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": "",
                            "installment_amount": null,
                            "installments_total_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "107562",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "card_data": {
                              "holder_name": "MARIANA SORRENTINO",
                              "iin": "50675556",
                              "lfd": "2011",
                              "number_length": 16,
                              "security_code_length": 3,
                              "brand": "ALELO",
                              "issuer_name": "ALELO",
                              "issuer_code": null,
                              "country_code": "BR",
                              "category": "Refeição",
                              "type": "VOUCHER",
                              "three_d_secure": {
                                "version": null,
                                "electronic_commerce_indicator": null,
                                "cryptogram": null,
                                "transaction_id": null,
                                "directory_server_transaction_id": null,
                                "pares_status": null,
                                "acs_id": null
                              },
                              "fingerprint": "29a1339e-6421-43d9-8d48-7f91c4a6bab1",
                              "expiration_month": 9,
                              "expiration_year": 33
                            },
                            "stored_credentials": {
                              "reason": null,
                              "usage": null,
                              "subscription_agreement_id": null,
                              "network_transaction_id": null
                            }
                          }
                        }
                      },
                      "customer_payer": {
                        "id": null,
                        "merchant_customer_id": null,
                        "first_name": null,
                        "last_name": null,
                        "gender": null,
                        "date_of_birth": null,
                        "email": null,
                        "nationality": null,
                        "ip_address": null,
                        "device_fingerprint": null,
                        "device_fingerprints": [],
                        "browser_info": {
                          "user_agent": "",
                          "accept_header": "",
                          "accept_content": null,
                          "accept_browser": null,
                          "color_depth": "",
                          "screen_height": "",
                          "screen_width": "",
                          "javascript_enabled": null,
                          "java_enabled": null,
                          "browser_time_difference": null,
                          "language": "",
                          "platform": null
                        },
                        "document": null,
                        "phone": null,
                        "billing_address": null,
                        "shipping_address": null,
                        "merchant_customer_created_at": null
                      },
                      "additional_data": {
                        "airline": null,
                        "transportations": null,
                        "order": null,
                        "seller_details": {
                          "name": "",
                          "website": "",
                          "email": "",
                          "address": null,
                          "reference": "53568972000143",
                          "country": "",
                          "phone": null,
                          "document": null,
                          "industry": "",
                          "merchant_category_code": "5814"
                        }
                      },
                      "transactions": {
                        "id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                        "type": "PURCHASE",
                        "status": "SUCCEEDED",
                        "category": "CARD",
                        "amount": 26.9,
                        "provider_id": "ALELO",
                        "payment_method": {
                          "type": "CARD",
                          "detail": {
                            "card": {
                              "verify": false,
                              "capture": true,
                              "installments": 1,
                              "authorization_code": "107562",
                              "card_data": {
                                "holder_name": "MARIANA SORRENTINO",
                                "iin": "50675556",
                                "lfd": "2011",
                                "brand": "ALELO",
                                "issuer_name": "ALELO",
                                "country_code": "BR",
                                "category": "Refeição",
                                "type": "VOUCHER",
                                "expiration_month": 9,
                                "expiration_year": 33
                              }
                            }
                          }
                        },
                        "response_code": "SUCCEEDED",
                        "response_message": "Transaction successful",
                        "description": "dlocal",
                        "merchant_reference": "12271562679",
                        "provider_data": {
                          "id": "ALELO",
                          "transaction_id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87__107562__002959929037__53568972000143__251103162100",
                          "status": "00",
                          "status_detail": "CONFIRMADA",
                          "raw_response": {
                            "amount": "26.9",
                            "authorizationCode": "107562",
                            "dateTime": "251103162100",
                            "maskedCard": "506755******2011",
                            "messages": "Transação Confirmada com sucesso.",
                            "nsu": "002959929037",
                            "requestId": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                            "returnCode": "00",
                            "status": "CONFIRMADA"
                          }
                        },
                        "connection_data": {
                          "id": "740212af-62ee-4796-98eb-5461c103ad07"
                        },
                        "created_at": "2025-11-03T16:21:00.144117Z",
                        "updated_at": "2025-11-03T16:21:01.428974Z"
                      },
                      "transactions_history": [
                        {
                          "id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                          "type": "PURCHASE",
                          "status": "SUCCEEDED",
                          "amount": 26.9,
                          "provider_id": "ALELO",
                          "response_code": "SUCCEEDED",
                          "response_message": "Transaction successful",
                          "description": "dlocal",
                          "merchant_reference": "12271562679",
                          "provider_data": {
                            "id": "ALELO",
                            "transaction_id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87__107562__002959929037__53568972000143__251103162100",
                            "status_detail": "CONFIRMADA",
                            "raw_response": {
                              "messages": "Transação Confirmada com sucesso.",
                              "status": "CONFIRMADA"
                            }
                          }
                        }
                      ],
                      "workflow": "DIRECT",
                      "metadata": [],
                      "fraud_screening": null,
                      "payment_link_id": "",
                      "subscription_code": null,
                      "routing_rules": {
                        "smart_routing": false,
                        "monitors": false,
                        "condition": {
                          "id": 1950011,
                          "name": "",
                          "description": ""
                        }
                      },
                      "simplified_mode": false
                    }
                  }
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "400 string example": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "400 string example"
                  ]
                },
                "examples": {
                  "Bad Request example": {
                    "summary": "Bad Request example",
                    "value": "{invalid request}"
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "x-readme": {
          "code-samples": [
            {
              "code": "curl example",
              "language": "json",
              "name": "json"
            }
          ],
          "samples-languages": [
            "json"
          ]
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "merchant_order_id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "workflow": {
                    "type": "string"
                  },
                  "payment_method": {
                    "type": "array",
                    "items": {
                      "properties": {},
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "account_id"
                ]
              },
              "examples": {
                "Request body example title": {
                  "summary": "Request body example title",
                  "value": "{request body example}"
                }
              }
            }
          }
        },
        "security": [
          {
            "public-api-key": [],
            "private-secret-key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}