{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Vouchers"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "tags": [],
  "paths": {
    "/new-endpoint": {
      "get": {
        "summary": "New Endpoint",
        "description": "This is your first endpoint! Edit this page to start documenting your API.",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "description": "",
        "operationId": "post_payments",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "200 string example": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "200 string example"
                  ]
                }
              }
            }
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Created response example": {
                    "summary": "Created response example",
                    "value": {
                      "id": "3c2a4cbd-b685-4c47-ac20-25c1b076ebc8",
                      "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                      "description": "dlocal",
                      "country": "BR",
                      "status": "SUCCEEDED",
                      "sub_status": "APPROVED",
                      "merchant_order_id": "12271562679",
                      "created_at": "2025-11-03T16:21:00.005730Z",
                      "updated_at": "2025-11-03T16:21:01.472190Z",
                      "amount": {
                        "captured": 0,
                        "currency": "BRL",
                        "currency_conversion": null,
                        "refunded": 0,
                        "value": 26.9
                      },
                      "checkout": {
                        "session": "",
                        "sdk_action_required": false
                      },
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "CARD",
                        "vault_on_success": false,
                        "token": "",
                        "parent_payment_method_type": null,
                        "payment_method_detail": {
                          "card": {
                            "verify": false,
                            "capture": true,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": "",
                            "installment_amount": null,
                            "installments_total_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "107562",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "card_data": {
                              "holder_name": "MARIANA SORRENTINO",
                              "iin": "50675556",
                              "lfd": "2011",
                              "number_length": 16,
                              "security_code_length": 3,
                              "brand": "ALELO",
                              "issuer_name": "ALELO",
                              "issuer_code": null,
                              "country_code": "BR",
                              "category": "Refeição",
                              "type": "VOUCHER",
                              "three_d_secure": {
                                "version": null,
                                "electronic_commerce_indicator": null,
                                "cryptogram": null,
                                "transaction_id": null,
                                "directory_server_transaction_id": null,
                                "pares_status": null,
                                "acs_id": null
                              },
                              "fingerprint": "29a1339e-6421-43d9-8d48-7f91c4a6bab1",
                              "expiration_month": 9,
                              "expiration_year": 33
                            },
                            "stored_credentials": {
                              "reason": null,
                              "usage": null,
                              "subscription_agreement_id": null,
                              "network_transaction_id": null
                            }
                          }
                        }
                      },
                      "customer_payer": {
                        "id": null,
                        "merchant_customer_id": null,
                        "first_name": null,
                        "last_name": null,
                        "gender": null,
                        "date_of_birth": null,
                        "email": null,
                        "nationality": null,
                        "ip_address": null,
                        "device_fingerprint": null,
                        "device_fingerprints": [],
                        "browser_info": {
                          "user_agent": "",
                          "accept_header": "",
                          "accept_content": null,
                          "accept_browser": null,
                          "color_depth": "",
                          "screen_height": "",
                          "screen_width": "",
                          "javascript_enabled": null,
                          "java_enabled": null,
                          "browser_time_difference": null,
                          "language": "",
                          "platform": null
                        },
                        "document": null,
                        "phone": null,
                        "billing_address": null,
                        "shipping_address": null,
                        "merchant_customer_created_at": null
                      },
                      "additional_data": {
                        "airline": null,
                        "transportations": null,
                        "order": null,
                        "seller_details": {
                          "name": "",
                          "website": "",
                          "email": "",
                          "address": null,
                          "reference": "53568972000143",
                          "country": "",
                          "phone": null,
                          "document": null,
                          "industry": "",
                          "merchant_category_code": "5814"
                        }
                      },
                      "transactions": {
                        "id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                        "type": "PURCHASE",
                        "status": "SUCCEEDED",
                        "category": "CARD",
                        "amount": 26.9,
                        "provider_id": "ALELO",
                        "payment_method": {
                          "type": "CARD",
                          "detail": {
                            "card": {
                              "verify": false,
                              "capture": true,
                              "installments": 1,
                              "authorization_code": "107562",
                              "card_data": {
                                "holder_name": "MARIANA SORRENTINO",
                                "iin": "50675556",
                                "lfd": "2011",
                                "brand": "ALELO",
                                "issuer_name": "ALELO",
                                "country_code": "BR",
                                "category": "Refeição",
                                "type": "VOUCHER",
                                "expiration_month": 9,
                                "expiration_year": 33
                              }
                            }
                          }
                        },
                        "response_code": "SUCCEEDED",
                        "response_message": "Transaction successful",
                        "description": "dlocal",
                        "merchant_reference": "12271562679",
                        "provider_data": {
                          "id": "ALELO",
                          "transaction_id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87__107562__002959929037__53568972000143__251103162100",
                          "status": "00",
                          "status_detail": "CONFIRMADA",
                          "raw_response": {
                            "amount": "26.9",
                            "authorizationCode": "107562",
                            "dateTime": "251103162100",
                            "maskedCard": "506755******2011",
                            "messages": "Transação Confirmada com sucesso.",
                            "nsu": "002959929037",
                            "requestId": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                            "returnCode": "00",
                            "status": "CONFIRMADA"
                          }
                        },
                        "connection_data": {
                          "id": "740212af-62ee-4796-98eb-5461c103ad07"
                        },
                        "created_at": "2025-11-03T16:21:00.144117Z",
                        "updated_at": "2025-11-03T16:21:01.428974Z"
                      },
                      "transactions_history": [
                        {
                          "id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                          "type": "PURCHASE",
                          "status": "SUCCEEDED",
                          "amount": 26.9,
                          "provider_id": "ALELO",
                          "response_code": "SUCCEEDED",
                          "response_message": "Transaction successful",
                          "description": "dlocal",
                          "merchant_reference": "12271562679",
                          "provider_data": {
                            "id": "ALELO",
                            "transaction_id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87__107562__002959929037__53568972000143__251103162100",
                            "status_detail": "CONFIRMADA",
                            "raw_response": {
                              "messages": "Transação Confirmada com sucesso.",
                              "status": "CONFIRMADA"
                            }
                          }
                        }
                      ],
                      "workflow": "DIRECT",
                      "metadata": [],
                      "fraud_screening": null,
                      "payment_link_id": "",
                      "subscription_code": null,
                      "routing_rules": {
                        "smart_routing": false,
                        "monitors": false,
                        "condition": {
                          "id": 1950011,
                          "name": "",
                          "description": ""
                        }
                      },
                      "simplified_mode": false
                    }
                  }
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "400 string example": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "400 string example"
                  ]
                },
                "examples": {
                  "Bad Request example": {
                    "summary": "Bad Request example",
                    "value": "{invalid request}"
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "x-readme": {
          "code-samples": [
            {
              "code": "curl example",
              "language": "json",
              "name": "json"
            }
          ],
          "samples-languages": [
            "json"
          ]
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "merchant_order_id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "workflow": {
                    "type": "string"
                  },
                  "payment_method": {
                    "type": "array",
                    "items": {
                      "properties": {},
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "account_id"
                ]
              },
              "examples": {
                "Request body example title": {
                  "summary": "Request body example title",
                  "value": "{request body example}"
                }
              }
            }
          }
        },
        "security": [
          {
            "public-api-key": [],
            "private-secret-key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}