{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Vouchers"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "tags": [],
  "paths": {
    "/payments": {
      "post": {
        "summary": "Create Vouchers",
        "description": "",
        "operationId": "create-vouchers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "200 string example": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "200 string example"
                  ]
                }
              }
            }
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "db0b02e9-163d-41c0-98d0-c2da1e7c640e"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "48d47836-0c4b-45af-b6b8-098fd17a8fa2"
                    },
                    "description": {
                      "type": "string",
                      "example": "dlocal"
                    },
                    "country": {
                      "type": "string",
                      "example": "BR"
                    },
                    "status": {
                      "type": "string",
                      "example": "SUCCEEDED"
                    },
                    "sub_status": {
                      "type": "string",
                      "example": "VERIFIED"
                    },
                    "merchant_order_id": {
                      "type": "string",
                      "example": "12271575526"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2025-11-03T16:22:16.393503Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2025-11-03T16:22:18.470234Z"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "captured": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "currency": {
                          "type": "string",
                          "example": "BRL"
                        },
                        "currency_conversion": {},
                        "refunded": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "value": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        }
                      }
                    },
                    "checkout": {
                      "type": "object",
                      "properties": {
                        "session": {
                          "type": "string",
                          "example": ""
                        },
                        "sdk_action_required": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "vaulted_token": {
                          "type": "string",
                          "example": ""
                        },
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "vault_on_success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "token": {
                          "type": "string",
                          "example": ""
                        },
                        "parent_payment_method_type": {},
                        "payment_method_detail": {
                          "type": "object",
                          "properties": {
                            "card": {
                              "type": "object",
                              "properties": {
                                "verify": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "capture": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "installments": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "installments_plan_id": {},
                                "first_installment_deferral": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "installments_type": {
                                  "type": "string",
                                  "example": ""
                                },
                                "installment_amount": {},
                                "installments_total_amount": {},
                                "soft_descriptor": {
                                  "type": "string",
                                  "example": ""
                                },
                                "authorization_code": {
                                  "type": "string",
                                  "example": ""
                                },
                                "retrieval_reference_number": {
                                  "type": "string",
                                  "example": ""
                                },
                                "voucher": {},
                                "card_data": {
                                  "type": "object",
                                  "properties": {
                                    "holder_name": {
                                      "type": "string",
                                      "example": "Heloiza alelo"
                                    },
                                    "iin": {
                                      "type": "string",
                                      "example": "50675825"
                                    },
                                    "lfd": {
                                      "type": "string",
                                      "example": "6014"
                                    },
                                    "number_length": {
                                      "type": "integer",
                                      "example": 16,
                                      "default": 0
                                    },
                                    "security_code_length": {
                                      "type": "integer",
                                      "example": 3,
                                      "default": 0
                                    },
                                    "brand": {
                                      "type": "string",
                                      "example": "ALELO"
                                    },
                                    "issuer_name": {
                                      "type": "string",
                                      "example": "ALELO"
                                    },
                                    "issuer_code": {},
                                    "country_code": {
                                      "type": "string",
                                      "example": "BR"
                                    },
                                    "category": {
                                      "type": "string",
                                      "example": "Refeição"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "VOUCHER"
                                    },
                                    "three_d_secure": {
                                      "type": "object",
                                      "properties": {
                                        "version": {},
                                        "electronic_commerce_indicator": {},
                                        "cryptogram": {},
                                        "transaction_id": {},
                                        "directory_server_transaction_id": {},
                                        "pares_status": {},
                                        "acs_id": {}
                                      }
                                    },
                                    "fingerprint": {
                                      "type": "string",
                                      "example": "ae1b68a4-3fa7-4feb-9b20-d6f9d5896900"
                                    },
                                    "expiration_month": {
                                      "type": "integer",
                                      "example": 1,
                                      "default": 0
                                    },
                                    "expiration_year": {
                                      "type": "integer",
                                      "example": 28,
                                      "default": 0
                                    }
                                  }
                                },
                                "stored_credentials": {
                                  "type": "object",
                                  "properties": {
                                    "reason": {},
                                    "usage": {},
                                    "subscription_agreement_id": {},
                                    "network_transaction_id": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {},
                        "merchant_customer_id": {},
                        "first_name": {},
                        "last_name": {},
                        "gender": {},
                        "date_of_birth": {},
                        "email": {},
                        "nationality": {},
                        "ip_address": {},
                        "device_fingerprint": {},
                        "device_fingerprints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "browser_info": {
                          "type": "object",
                          "properties": {
                            "user_agent": {
                              "type": "string",
                              "example": ""
                            },
                            "accept_header": {
                              "type": "string",
                              "example": ""
                            },
                            "accept_content": {},
                            "accept_browser": {},
                            "color_depth": {
                              "type": "string",
                              "example": ""
                            },
                            "screen_height": {
                              "type": "string",
                              "example": ""
                            },
                            "screen_width": {
                              "type": "string",
                              "example": ""
                            },
                            "javascript_enabled": {},
                            "java_enabled": {},
                            "browser_time_difference": {},
                            "language": {
                              "type": "string",
                              "example": ""
                            },
                            "platform": {}
                          }
                        },
                        "document": {},
                        "phone": {},
                        "billing_address": {},
                        "shipping_address": {},
                        "merchant_customer_created_at": {}
                      }
                    },
                    "additional_data": {
                      "type": "object",
                      "properties": {
                        "airline": {},
                        "transportations": {},
                        "order": {},
                        "seller_details": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": ""
                            },
                            "website": {
                              "type": "string",
                              "example": ""
                            },
                            "email": {
                              "type": "string",
                              "example": ""
                            },
                            "address": {},
                            "reference": {
                              "type": "string",
                              "example": "23570321000127"
                            },
                            "country": {
                              "type": "string",
                              "example": ""
                            },
                            "phone": {},
                            "document": {},
                            "industry": {
                              "type": "string",
                              "example": ""
                            },
                            "merchant_category_code": {
                              "type": "string",
                              "example": "5462"
                            }
                          }
                        }
                      }
                    },
                    "transactions": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "06949d56-23a5-4935-a934-578d529fb5f7"
                        },
                        "type": {
                          "type": "string",
                          "example": "VERIFY"
                        },
                        "status": {
                          "type": "string",
                          "example": "SUCCEEDED"
                        },
                        "category": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "amount": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "provider_id": {
                          "type": "string",
                          "example": "ALELO"
                        },
                        "payment_method": {
                          "type": "object",
                          "properties": {
                            "vaulted_token": {
                              "type": "string",
                              "example": ""
                            },
                            "type": {
                              "type": "string",
                              "example": "CARD"
                            },
                            "vault_on_success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "token": {
                              "type": "string",
                              "example": ""
                            },
                            "parent_payment_method_type": {},
                            "detail": {
                              "type": "object",
                              "properties": {
                                "card": {
                                  "type": "object",
                                  "properties": {
                                    "verify": {
                                      "type": "boolean",
                                      "example": true,
                                      "default": true
                                    },
                                    "capture": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "installments": {
                                      "type": "integer",
                                      "example": 1,
                                      "default": 0
                                    },
                                    "installments_plan_id": {},
                                    "first_installment_deferral": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "installments_type": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "installment_amount": {},
                                    "installments_total_amount": {},
                                    "soft_descriptor": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "authorization_code": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "retrieval_reference_number": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "voucher": {},
                                    "card_data": {
                                      "type": "object",
                                      "properties": {
                                        "holder_name": {
                                          "type": "string",
                                          "example": "Heloiza alelo"
                                        },
                                        "iin": {
                                          "type": "string",
                                          "example": "50675825"
                                        },
                                        "lfd": {
                                          "type": "string",
                                          "example": "6014"
                                        },
                                        "number_length": {
                                          "type": "integer",
                                          "example": 16,
                                          "default": 0
                                        },
                                        "security_code_length": {
                                          "type": "integer",
                                          "example": 3,
                                          "default": 0
                                        },
                                        "brand": {
                                          "type": "string",
                                          "example": "ALELO"
                                        },
                                        "issuer_name": {
                                          "type": "string",
                                          "example": "ALELO"
                                        },
                                        "issuer_code": {},
                                        "country_code": {
                                          "type": "string",
                                          "example": "BR"
                                        },
                                        "category": {
                                          "type": "string",
                                          "example": "Refeição"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "VOUCHER"
                                        },
                                        "three_d_secure": {
                                          "type": "object",
                                          "properties": {
                                            "version": {},
                                            "electronic_commerce_indicator": {},
                                            "cryptogram": {},
                                            "transaction_id": {},
                                            "directory_server_transaction_id": {},
                                            "pares_status": {},
                                            "acs_id": {}
                                          }
                                        },
                                        "fingerprint": {
                                          "type": "string",
                                          "example": "ae1b68a4-3fa7-4feb-9b20-d6f9d5896900"
                                        },
                                        "expiration_month": {
                                          "type": "integer",
                                          "example": 1,
                                          "default": 0
                                        },
                                        "expiration_year": {
                                          "type": "integer",
                                          "example": 28,
                                          "default": 0
                                        }
                                      }
                                    },
                                    "stored_credentials": {
                                      "type": "object",
                                      "properties": {
                                        "reason": {},
                                        "usage": {},
                                        "subscription_agreement_id": {},
                                        "network_transaction_id": {}
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "response_code": {
                          "type": "string",
                          "example": "SUCCEEDED"
                        },
                        "response_message": {
                          "type": "string",
                          "example": "Transaction successful"
                        },
                        "reason": {},
                        "description": {
                          "type": "string",
                          "example": "dlocal"
                        },
                        "merchant_reference": {
                          "type": "string",
                          "example": "12271575526"
                        },
                        "provider_data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "ALELO"
                            },
                            "transaction_id": {
                              "type": "string",
                              "example": ""
                            },
                            "account_id": {
                              "type": "string",
                              "example": ""
                            },
                            "status": {
                              "type": "string",
                              "example": ""
                            },
                            "sub_status": {
                              "type": "string",
                              "example": ""
                            },
                            "status_detail": {
                              "type": "string",
                              "example": ""
                            },
                            "response_message": {},
                            "response_code": {},
                            "raw_response": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "example": "eyJkYXRlVGltZSI6IjI1MTEwMzE2MjIxNyIsImFtb3VudCI6IjEiLCJhdXRob3JpemF0aW9uQ29kZSI6IjExMTc0NiIsInJlcXVlc3RJZCI6IjA2OTQ5ZDU2LTIzYTUtNDkzNS1hOTM0LTU3OGQ1MjlmYjVmNyIsIm1lc3NhZ2VzIjoiVHJhbnNhw6fDo28gRXN0b3JuYWRhIGNvbSBzdWNlc3NvLiIsImNhcmROdW1iZXIiOiI1MDY3NTgqKioqKio2MDE0Iiwic3RhdHVzIjoiRVNUT1JOQURBIn0="
                                }
                              }
                            },
                            "third_party_transaction_id": {
                              "type": "string",
                              "example": ""
                            },
                            "third_party_account_id": {
                              "type": "string",
                              "example": ""
                            },
                            "iso8583_response_code": {},
                            "iso8583_response_message": {},
                            "merchant_advice_code": {},
                            "merchant_advice_code_message": {},
                            "reason_code": {},
                            "reason_description": {}
                          }
                        },
                        "connection_data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "740212af-62ee-4796-98eb-5461c103ad07"
                            },
                            "name": {}
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-11-03T16:22:16.496981Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2025-11-03T16:22:18.426433Z"
                        },
                        "split_marketplace": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "merchant_advice_code": {},
                        "merchant_advice_code_message": {}
                      }
                    },
                    "transactions_history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "06949d56-23a5-4935-a934-578d529fb5f7"
                          },
                          "type": {
                            "type": "string",
                            "example": "VERIFY"
                          },
                          "status": {
                            "type": "string",
                            "example": "SUCCEEDED"
                          },
                          "category": {
                            "type": "string",
                            "example": "CARD"
                          },
                          "amount": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "provider_id": {
                            "type": "string",
                            "example": "ALELO"
                          },
                          "payment_method": {
                            "type": "object",
                            "properties": {
                              "vaulted_token": {
                                "type": "string",
                                "example": ""
                              },
                              "type": {
                                "type": "string",
                                "example": "CARD"
                              },
                              "vault_on_success": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "token": {
                                "type": "string",
                                "example": ""
                              },
                              "parent_payment_method_type": {},
                              "detail": {
                                "type": "object",
                                "properties": {
                                  "card": {
                                    "type": "object",
                                    "properties": {
                                      "verify": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      },
                                      "capture": {
                                        "type": "boolean",
                                        "example": false,
                                        "default": true
                                      },
                                      "installments": {
                                        "type": "integer",
                                        "example": 1,
                                        "default": 0
                                      },
                                      "installments_plan_id": {},
                                      "first_installment_deferral": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "installments_type": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "installment_amount": {},
                                      "installments_total_amount": {},
                                      "soft_descriptor": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "authorization_code": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "retrieval_reference_number": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "voucher": {},
                                      "card_data": {
                                        "type": "object",
                                        "properties": {
                                          "holder_name": {
                                            "type": "string",
                                            "example": "Heloiza alelo"
                                          },
                                          "iin": {
                                            "type": "string",
                                            "example": "50675825"
                                          },
                                          "lfd": {
                                            "type": "string",
                                            "example": "6014"
                                          },
                                          "number_length": {
                                            "type": "integer",
                                            "example": 16,
                                            "default": 0
                                          },
                                          "security_code_length": {
                                            "type": "integer",
                                            "example": 3,
                                            "default": 0
                                          },
                                          "brand": {
                                            "type": "string",
                                            "example": "ALELO"
                                          },
                                          "issuer_name": {
                                            "type": "string",
                                            "example": "ALELO"
                                          },
                                          "issuer_code": {},
                                          "country_code": {
                                            "type": "string",
                                            "example": "BR"
                                          },
                                          "category": {
                                            "type": "string",
                                            "example": "Refeição"
                                          },
                                          "type": {
                                            "type": "string",
                                            "example": "VOUCHER"
                                          },
                                          "three_d_secure": {
                                            "type": "object",
                                            "properties": {
                                              "version": {},
                                              "electronic_commerce_indicator": {},
                                              "cryptogram": {},
                                              "transaction_id": {},
                                              "directory_server_transaction_id": {},
                                              "pares_status": {},
                                              "acs_id": {}
                                            }
                                          },
                                          "fingerprint": {
                                            "type": "string",
                                            "example": "ae1b68a4-3fa7-4feb-9b20-d6f9d5896900"
                                          },
                                          "expiration_month": {
                                            "type": "integer",
                                            "example": 1,
                                            "default": 0
                                          },
                                          "expiration_year": {
                                            "type": "integer",
                                            "example": 28,
                                            "default": 0
                                          }
                                        }
                                      },
                                      "stored_credentials": {
                                        "type": "object",
                                        "properties": {
                                          "reason": {},
                                          "usage": {},
                                          "subscription_agreement_id": {},
                                          "network_transaction_id": {}
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "response_code": {
                            "type": "string",
                            "example": "SUCCEEDED"
                          },
                          "response_message": {
                            "type": "string",
                            "example": "Transaction successful"
                          },
                          "reason": {},
                          "description": {
                            "type": "string",
                            "example": "dlocal"
                          },
                          "merchant_reference": {
                            "type": "string",
                            "example": "12271575526"
                          },
                          "provider_data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "ALELO"
                              },
                              "transaction_id": {
                                "type": "string",
                                "example": ""
                              },
                              "account_id": {
                                "type": "string",
                                "example": ""
                              },
                              "status": {
                                "type": "string",
                                "example": ""
                              },
                              "sub_status": {
                                "type": "string",
                                "example": ""
                              },
                              "status_detail": {
                                "type": "string",
                                "example": ""
                              },
                              "response_message": {},
                              "response_code": {},
                              "raw_response": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "example": "eyJkYXRlVGltZSI6IjI1MTEwMzE2MjIxNyIsImFtb3VudCI6IjEiLCJhdXRob3JpemF0aW9uQ29kZSI6IjExMTc0NiIsInJlcXVlc3RJZCI6IjA2OTQ5ZDU2LTIzYTUtNDkzNS1hOTM0LTU3OGQ1MjlmYjVmNyIsIm1lc3NhZ2VzIjoiVHJhbnNhw6fDo28gRXN0b3JuYWRhIGNvbSBzdWNlc3NvLiIsImNhcmROdW1iZXIiOiI1MDY3NTgqKioqKio2MDE0Iiwic3RhdHVzIjoiRVNUT1JOQURBIn0="
                                  }
                                }
                              },
                              "third_party_transaction_id": {
                                "type": "string",
                                "example": ""
                              },
                              "third_party_account_id": {
                                "type": "string",
                                "example": ""
                              },
                              "iso8583_response_code": {},
                              "iso8583_response_message": {},
                              "merchant_advice_code": {},
                              "merchant_advice_code_message": {},
                              "reason_code": {},
                              "reason_description": {}
                            }
                          },
                          "connection_data": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "740212af-62ee-4796-98eb-5461c103ad07"
                              },
                              "name": {}
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2025-11-03T16:22:16.496981Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2025-11-03T16:22:18.426433Z"
                          },
                          "split_marketplace": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "merchant_advice_code": {},
                          "merchant_advice_code_message": {}
                        }
                      }
                    },
                    "workflow": {
                      "type": "string",
                      "example": "DIRECT"
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "fraud_screening": {},
                    "payment_link_id": {
                      "type": "string",
                      "example": ""
                    },
                    "subscription_code": {},
                    "routing_rules": {
                      "type": "object",
                      "properties": {
                        "smart_routing": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "monitors": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "condition": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1950011,
                              "default": 0
                            },
                            "name": {
                              "type": "string",
                              "example": ""
                            },
                            "description": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        }
                      }
                    },
                    "simplified_mode": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                },
                "examples": {
                  "Success - Create voucher payment": {
                    "summary": "Success - Create voucher payment",
                    "value": {
                      "id": "3c2a4cbd-b685-4c47-ac20-25c1b076ebc8",
                      "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                      "description": "dlocal",
                      "country": "BR",
                      "status": "SUCCEEDED",
                      "sub_status": "APPROVED",
                      "merchant_order_id": "12271562679",
                      "created_at": "2025-11-03T16:21:00.005730Z",
                      "updated_at": "2025-11-03T16:21:01.472190Z",
                      "amount": {
                        "captured": 0,
                        "currency": "BRL",
                        "currency_conversion": null,
                        "refunded": 0,
                        "value": 26.9
                      },
                      "checkout": {
                        "session": "",
                        "sdk_action_required": false
                      },
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "CARD",
                        "vault_on_success": false,
                        "token": "",
                        "parent_payment_method_type": null,
                        "payment_method_detail": {
                          "card": {
                            "verify": false,
                            "capture": true,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": "",
                            "installment_amount": null,
                            "installments_total_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "107562",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "card_data": {
                              "holder_name": "MARIANA SORRENTINO",
                              "iin": "50675556",
                              "lfd": "2011",
                              "number_length": 16,
                              "security_code_length": 3,
                              "brand": "ALELO",
                              "issuer_name": "ALELO",
                              "issuer_code": null,
                              "country_code": "BR",
                              "category": "Refeição",
                              "type": "VOUCHER",
                              "three_d_secure": {
                                "version": null,
                                "electronic_commerce_indicator": null,
                                "cryptogram": null,
                                "transaction_id": null,
                                "directory_server_transaction_id": null,
                                "pares_status": null,
                                "acs_id": null
                              },
                              "fingerprint": "29a1339e-6421-43d9-8d48-7f91c4a6bab1",
                              "expiration_month": 9,
                              "expiration_year": 33
                            },
                            "stored_credentials": {
                              "reason": null,
                              "usage": null,
                              "subscription_agreement_id": null,
                              "network_transaction_id": null
                            }
                          }
                        }
                      },
                      "customer_payer": {
                        "id": null,
                        "merchant_customer_id": null,
                        "first_name": null,
                        "last_name": null,
                        "gender": null,
                        "date_of_birth": null,
                        "email": null,
                        "nationality": null,
                        "ip_address": null,
                        "device_fingerprint": null,
                        "device_fingerprints": [],
                        "browser_info": {
                          "user_agent": "",
                          "accept_header": "",
                          "accept_content": null,
                          "accept_browser": null,
                          "color_depth": "",
                          "screen_height": "",
                          "screen_width": "",
                          "javascript_enabled": null,
                          "java_enabled": null,
                          "browser_time_difference": null,
                          "language": "",
                          "platform": null
                        },
                        "document": null,
                        "phone": null,
                        "billing_address": null,
                        "shipping_address": null,
                        "merchant_customer_created_at": null
                      },
                      "additional_data": {
                        "airline": null,
                        "transportations": null,
                        "order": null,
                        "seller_details": {
                          "name": "",
                          "website": "",
                          "email": "",
                          "address": null,
                          "reference": "53568972000143",
                          "country": "",
                          "phone": null,
                          "document": null,
                          "industry": "",
                          "merchant_category_code": "5814"
                        }
                      },
                      "transactions": {
                        "id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                        "type": "PURCHASE",
                        "status": "SUCCEEDED",
                        "category": "CARD",
                        "amount": 26.9,
                        "provider_id": "ALELO",
                        "payment_method": {
                          "type": "CARD",
                          "detail": {
                            "card": {
                              "verify": false,
                              "capture": true,
                              "installments": 1,
                              "authorization_code": "107562",
                              "card_data": {
                                "holder_name": "MARIANA SORRENTINO",
                                "iin": "50675556",
                                "lfd": "2011",
                                "brand": "ALELO",
                                "issuer_name": "ALELO",
                                "country_code": "BR",
                                "category": "Refeição",
                                "type": "VOUCHER",
                                "expiration_month": 9,
                                "expiration_year": 33
                              }
                            }
                          }
                        },
                        "response_code": "SUCCEEDED",
                        "response_message": "Transaction successful",
                        "description": "dlocal",
                        "merchant_reference": "12271562679",
                        "provider_data": {
                          "id": "ALELO",
                          "transaction_id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87__107562__002959929037__53568972000143__251103162100",
                          "status": "00",
                          "status_detail": "CONFIRMADA",
                          "raw_response": {
                            "amount": "26.9",
                            "authorizationCode": "107562",
                            "dateTime": "251103162100",
                            "maskedCard": "506755******2011",
                            "messages": "Transação Confirmada com sucesso.",
                            "nsu": "002959929037",
                            "requestId": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                            "returnCode": "00",
                            "status": "CONFIRMADA"
                          }
                        },
                        "connection_data": {
                          "id": "740212af-62ee-4796-98eb-5461c103ad07"
                        },
                        "created_at": "2025-11-03T16:21:00.144117Z",
                        "updated_at": "2025-11-03T16:21:01.428974Z"
                      },
                      "transactions_history": [
                        {
                          "id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87",
                          "type": "PURCHASE",
                          "status": "SUCCEEDED",
                          "amount": 26.9,
                          "provider_id": "ALELO",
                          "response_code": "SUCCEEDED",
                          "response_message": "Transaction successful",
                          "description": "dlocal",
                          "merchant_reference": "12271562679",
                          "provider_data": {
                            "id": "ALELO",
                            "transaction_id": "f4532b5d-8ad6-419f-bd86-aff030ab8a87__107562__002959929037__53568972000143__251103162100",
                            "status_detail": "CONFIRMADA",
                            "raw_response": {
                              "messages": "Transação Confirmada com sucesso.",
                              "status": "CONFIRMADA"
                            }
                          }
                        }
                      ],
                      "workflow": "DIRECT",
                      "metadata": [],
                      "fraud_screening": null,
                      "payment_link_id": "",
                      "subscription_code": null,
                      "routing_rules": {
                        "smart_routing": false,
                        "monitors": false,
                        "condition": {
                          "id": 1950011,
                          "name": "",
                          "description": ""
                        }
                      },
                      "simplified_mode": false
                    }
                  },
                  "Success - Create voucher (verify)": {
                    "summary": "Success - Create voucher (verify)",
                    "value": {
                      "id": "db0b02e9-163d-41c0-98d0-c2da1e7c640e",
                      "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                      "description": "dlocal",
                      "country": "BR",
                      "status": "SUCCEEDED",
                      "sub_status": "VERIFIED",
                      "merchant_order_id": "12271575526",
                      "created_at": "2025-11-03T16:22:16.393503Z",
                      "updated_at": "2025-11-03T16:22:18.470234Z",
                      "amount": {
                        "captured": 0,
                        "currency": "BRL",
                        "currency_conversion": null,
                        "refunded": 0,
                        "value": 0
                      },
                      "checkout": {
                        "session": "",
                        "sdk_action_required": false
                      },
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "CARD",
                        "vault_on_success": false,
                        "token": "",
                        "parent_payment_method_type": null,
                        "payment_method_detail": {
                          "card": {
                            "verify": true,
                            "capture": false,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": "",
                            "installment_amount": null,
                            "installments_total_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "card_data": {
                              "holder_name": "Heloiza alelo",
                              "iin": "50675825",
                              "lfd": "6014",
                              "number_length": 16,
                              "security_code_length": 3,
                              "brand": "ALELO",
                              "issuer_name": "ALELO",
                              "issuer_code": null,
                              "country_code": "BR",
                              "category": "Refeição",
                              "type": "VOUCHER",
                              "three_d_secure": {
                                "version": null,
                                "electronic_commerce_indicator": null,
                                "cryptogram": null,
                                "transaction_id": null,
                                "directory_server_transaction_id": null,
                                "pares_status": null,
                                "acs_id": null
                              },
                              "fingerprint": "ae1b68a4-3fa7-4feb-9b20-d6f9d5896900",
                              "expiration_month": 1,
                              "expiration_year": 28
                            },
                            "stored_credentials": {
                              "reason": null,
                              "usage": null,
                              "subscription_agreement_id": null,
                              "network_transaction_id": null
                            }
                          }
                        }
                      },
                      "customer_payer": {
                        "id": null,
                        "merchant_customer_id": null,
                        "first_name": null,
                        "last_name": null,
                        "gender": null,
                        "date_of_birth": null,
                        "email": null,
                        "nationality": null,
                        "ip_address": null,
                        "device_fingerprint": null,
                        "device_fingerprints": [],
                        "browser_info": {
                          "user_agent": "",
                          "accept_header": "",
                          "accept_content": null,
                          "accept_browser": null,
                          "color_depth": "",
                          "screen_height": "",
                          "screen_width": "",
                          "javascript_enabled": null,
                          "java_enabled": null,
                          "browser_time_difference": null,
                          "language": "",
                          "platform": null
                        },
                        "document": null,
                        "phone": null,
                        "billing_address": null,
                        "shipping_address": null,
                        "merchant_customer_created_at": null
                      },
                      "additional_data": {
                        "airline": null,
                        "transportations": null,
                        "order": null,
                        "seller_details": {
                          "name": "",
                          "website": "",
                          "email": "",
                          "address": null,
                          "reference": "23570321000127",
                          "country": "",
                          "phone": null,
                          "document": null,
                          "industry": "",
                          "merchant_category_code": "5462"
                        }
                      },
                      "transactions": {
                        "id": "06949d56-23a5-4935-a934-578d529fb5f7",
                        "type": "VERIFY",
                        "status": "SUCCEEDED",
                        "category": "CARD",
                        "amount": 0,
                        "provider_id": "ALELO",
                        "payment_method": {
                          "vaulted_token": "",
                          "type": "CARD",
                          "vault_on_success": false,
                          "token": "",
                          "parent_payment_method_type": null,
                          "detail": {
                            "card": {
                              "verify": true,
                              "capture": false,
                              "installments": 1,
                              "installments_plan_id": null,
                              "first_installment_deferral": 0,
                              "installments_type": "",
                              "installment_amount": null,
                              "installments_total_amount": null,
                              "soft_descriptor": "",
                              "authorization_code": "",
                              "retrieval_reference_number": "",
                              "voucher": null,
                              "card_data": {
                                "holder_name": "Heloiza alelo",
                                "iin": "50675825",
                                "lfd": "6014",
                                "number_length": 16,
                                "security_code_length": 3,
                                "brand": "ALELO",
                                "issuer_name": "ALELO",
                                "issuer_code": null,
                                "country_code": "BR",
                                "category": "Refeição",
                                "type": "VOUCHER",
                                "three_d_secure": {
                                  "version": null,
                                  "electronic_commerce_indicator": null,
                                  "cryptogram": null,
                                  "transaction_id": null,
                                  "directory_server_transaction_id": null,
                                  "pares_status": null,
                                  "acs_id": null
                                },
                                "fingerprint": "ae1b68a4-3fa7-4feb-9b20-d6f9d5896900",
                                "expiration_month": 1,
                                "expiration_year": 28
                              },
                              "stored_credentials": {
                                "reason": null,
                                "usage": null,
                                "subscription_agreement_id": null,
                                "network_transaction_id": null
                              }
                            }
                          }
                        },
                        "response_code": "SUCCEEDED",
                        "response_message": "Transaction successful",
                        "reason": null,
                        "description": "dlocal",
                        "merchant_reference": "12271575526",
                        "provider_data": {
                          "id": "ALELO",
                          "transaction_id": "",
                          "account_id": "",
                          "status": "",
                          "sub_status": "",
                          "status_detail": "",
                          "response_message": null,
                          "response_code": null,
                          "raw_response": {
                            "value": "eyJkYXRlVGltZSI6IjI1MTEwMzE2MjIxNyIsImFtb3VudCI6IjEiLCJhdXRob3JpemF0aW9uQ29kZSI6IjExMTc0NiIsInJlcXVlc3RJZCI6IjA2OTQ5ZDU2LTIzYTUtNDkzNS1hOTM0LTU3OGQ1MjlmYjVmNyIsIm1lc3NhZ2VzIjoiVHJhbnNhw6fDo28gRXN0b3JuYWRhIGNvbSBzdWNlc3NvLiIsImNhcmROdW1iZXIiOiI1MDY3NTgqKioqKio2MDE0Iiwic3RhdHVzIjoiRVNUT1JOQURBIn0="
                          },
                          "third_party_transaction_id": "",
                          "third_party_account_id": "",
                          "iso8583_response_code": null,
                          "iso8583_response_message": null,
                          "merchant_advice_code": null,
                          "merchant_advice_code_message": null,
                          "reason_code": null,
                          "reason_description": null
                        },
                        "connection_data": {
                          "id": "740212af-62ee-4796-98eb-5461c103ad07",
                          "name": null
                        },
                        "created_at": "2025-11-03T16:22:16.496981Z",
                        "updated_at": "2025-11-03T16:22:18.426433Z",
                        "split_marketplace": [],
                        "merchant_advice_code": null,
                        "merchant_advice_code_message": null
                      },
                      "transactions_history": [
                        {
                          "id": "06949d56-23a5-4935-a934-578d529fb5f7",
                          "type": "VERIFY",
                          "status": "SUCCEEDED",
                          "category": "CARD",
                          "amount": 0,
                          "provider_id": "ALELO",
                          "payment_method": {
                            "vaulted_token": "",
                            "type": "CARD",
                            "vault_on_success": false,
                            "token": "",
                            "parent_payment_method_type": null,
                            "detail": {
                              "card": {
                                "verify": true,
                                "capture": false,
                                "installments": 1,
                                "installments_plan_id": null,
                                "first_installment_deferral": 0,
                                "installments_type": "",
                                "installment_amount": null,
                                "installments_total_amount": null,
                                "soft_descriptor": "",
                                "authorization_code": "",
                                "retrieval_reference_number": "",
                                "voucher": null,
                                "card_data": {
                                  "holder_name": "Heloiza alelo",
                                  "iin": "50675825",
                                  "lfd": "6014",
                                  "number_length": 16,
                                  "security_code_length": 3,
                                  "brand": "ALELO",
                                  "issuer_name": "ALELO",
                                  "issuer_code": null,
                                  "country_code": "BR",
                                  "category": "Refeição",
                                  "type": "VOUCHER",
                                  "three_d_secure": {
                                    "version": null,
                                    "electronic_commerce_indicator": null,
                                    "cryptogram": null,
                                    "transaction_id": null,
                                    "directory_server_transaction_id": null,
                                    "pares_status": null,
                                    "acs_id": null
                                  },
                                  "fingerprint": "ae1b68a4-3fa7-4feb-9b20-d6f9d5896900",
                                  "expiration_month": 1,
                                  "expiration_year": 28
                                },
                                "stored_credentials": {
                                  "reason": null,
                                  "usage": null,
                                  "subscription_agreement_id": null,
                                  "network_transaction_id": null
                                }
                              }
                            }
                          },
                          "response_code": "SUCCEEDED",
                          "response_message": "Transaction successful",
                          "reason": null,
                          "description": "dlocal",
                          "merchant_reference": "12271575526",
                          "provider_data": {
                            "id": "ALELO",
                            "transaction_id": "",
                            "account_id": "",
                            "status": "",
                            "sub_status": "",
                            "status_detail": "",
                            "response_message": null,
                            "response_code": null,
                            "raw_response": {
                              "value": "eyJkYXRlVGltZSI6IjI1MTEwMzE2MjIxNyIsImFtb3VudCI6IjEiLCJhdXRob3JpemF0aW9uQ29kZSI6IjExMTc0NiIsInJlcXVlc3RJZCI6IjA2OTQ5ZDU2LTIzYTUtNDkzNS1hOTM0LTU3OGQ1MjlmYjVmNyIsIm1lc3NhZ2VzIjoiVHJhbnNhw6fDo28gRXN0b3JuYWRhIGNvbSBzdWNlc3NvLiIsImNhcmROdW1iZXIiOiI1MDY3NTgqKioqKio2MDE0Iiwic3RhdHVzIjoiRVNUT1JOQURBIn0="
                            },
                            "third_party_transaction_id": "",
                            "third_party_account_id": "",
                            "iso8583_response_code": null,
                            "iso8583_response_message": null,
                            "merchant_advice_code": null,
                            "merchant_advice_code_message": null,
                            "reason_code": null,
                            "reason_description": null
                          },
                          "connection_data": {
                            "id": "740212af-62ee-4796-98eb-5461c103ad07",
                            "name": null
                          },
                          "created_at": "2025-11-03T16:22:16.496981Z",
                          "updated_at": "2025-11-03T16:22:18.426433Z",
                          "split_marketplace": [],
                          "merchant_advice_code": null,
                          "merchant_advice_code_message": null
                        }
                      ],
                      "workflow": "DIRECT",
                      "metadata": [],
                      "fraud_screening": null,
                      "payment_link_id": "",
                      "subscription_code": null,
                      "routing_rules": {
                        "smart_routing": false,
                        "monitors": false,
                        "condition": {
                          "id": 1950011,
                          "name": "",
                          "description": ""
                        }
                      },
                      "simplified_mode": false
                    }
                  }
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "400 string example": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "400 string example"
                  ]
                },
                "examples": {
                  "Bad Request example": {
                    "summary": "Bad Request example",
                    "value": "{invalid request}"
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "x-readme": {
          "code-samples": [
            {
              "code": "{\n  \"account_id\": \"48d47836-0c4b-45af-b6b8-098fd17a8fa3\",\n  \"description\": \"dlocal\",\n  \"country\": \"BR\",\n  \"merchant_order_id\": \"12271562679\",\n  \"amount\": {\n    \"value\": 26.90,\n    \"currency\": \"BRL\"\n  },\n  \"workflow\": \"DIRECT\",\n  \"payment_method\": {\n    \"type\": \"CARD\",\n    \"detail\": {\n      \"card\": {\n        \"capture\": true,\n        \"verify\": false,\n        \"card_data\": {\n          \"number\": \"5067555612342011\",\n          \"expiration_month\": 9,\n          \"expiration_year\": 33,\n          \"security_code\": \"123\",\n          \"holder_name\": \"MARIANA SORRENTINO\"\n        }\n      }\n    }\n  },\n  \"additional_data\": {\n    \"seller_details\": {\n      \"reference\": \"53568972000143\",\n      \"merchant_category_code\": \"5814\"\n    }\n  }\n}",
              "language": "json",
              "name": "Create voucher payment"
            },
            {
              "code": "{\n  \"account_id\": \"48d47836-0c4b-45af-b6b8-098fd17a8fa3\",\n  \"description\": \"dlocal\",\n  \"country\": \"BR\",\n  \"merchant_order_id\": \"12271575526\",\n  \"amount\": {\n    \"value\": 0,\n    \"currency\": \"BRL\"\n  },\n  \"workflow\": \"DIRECT\",\n  \"payment_method\": {\n    \"type\": \"CARD\",\n    \"detail\": {\n      \"card\": {\n        \"capture\": false,\n        \"verify\": true,\n        \"card_data\": {\n          \"number\": \"5067582560146014\",\n          \"expiration_month\": 1,\n          \"expiration_year\": 28,\n          \"security_code\": \"456\",\n          \"holder_name\": \"Heloiza alelo\"\n        }\n      }\n    }\n  },\n  \"additional_data\": {\n    \"seller_details\": {\n      \"reference\": \"23570321000127\",\n      \"merchant_category_code\": \"5462\"\n    }\n  }\n}",
              "language": "json",
              "name": "Create voucher (verify)"
            }
          ],
          "samples-languages": [
            "json"
          ]
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "description",
                  "country",
                  "merchant_order_id",
                  "amount",
                  "payment_method"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account. You find this information on [the Yuno dashboard](https://dashboard.y.uno/) (UUID, 36 chars).",
                    "example": "48d47836-0c4b-45af-b6b8-098fd17a8fa3"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the payment (MAX 255; MIN 3).",
                    "example": "dlocal"
                  },
                  "additional_data": {
                    "type": "object",
                    "description": "Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.",
                    "properties": {
                      "seller_details": {
                        "type": "object",
                        "description": "Specifies the seller's details object.",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "The seller's identification code (MAX 255; MIN 3).",
                            "example": "53568972000143"
                          },
                          "merchant_category_code": {
                            "type": "string",
                            "description": "MCC - The merchant category code (MAX 235; MIN 1).",
                            "example": "5814"
                          }
                        }
                      }
                    }
                  },
                  "country": {
                    "type": "string",
                    "description": "Country where the transaction must be processed (MAX 2; MIN 2; [ISO 3166-1](ref:country-reference)).",
                    "example": "BR",
                    "enum": [
                      "AR",
                      "BO",
                      "BR",
                      "CL",
                      "CO",
                      "CR",
                      "EC",
                      "SV",
                      "GT",
                      "HN",
                      "MX",
                      "NI",
                      "PA",
                      "PY",
                      "PE",
                      "US",
                      "UY"
                    ]
                  },
                  "merchant_order_id": {
                    "type": "string",
                    "description": "The unique identifier of the customer's order (MAX 255; MIN 3).",
                    "example": "12271562679"
                  },
                  "amount": {
                    "type": "object",
                    "description": "Specifies the payment amount object, with the value and currency.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](country-reference)).",
                        "example": "BRL",
                        "enum": [
                          "ARS",
                          "BOB",
                          "BRL",
                          "CLP",
                          "COP",
                          "CRC",
                          "USD",
                          "SVC",
                          "GTQ",
                          "HNL",
                          "MXN",
                          "NIO",
                          "PAB",
                          "PYG",
                          "PEN",
                          "UYU"
                        ]
                      },
                      "value": {
                        "type": "number",
                        "description": "The payment amount (multiple of 0.0001).",
                        "format": "float",
                        "example": 26.90
                      }
                    }
                  },
                  "workflow": {
                    "type": "string",
                    "description": "The payment workflow. Indicates whether the integration will use Yuno´s SDK or will be a back to back connection. [Guides](doc:choose-the-right-integration-for-you) <ul> <li>`SDK_CHECKOUT`: [Recommended] - Use Yuno's SDK. </li> <li>`DIRECT`: Back to back integration with provider info for custom payment experience. </li> <li>`REDIRECT`: Back to back integration with provider redirection. </li> </ul>",
                    "default": "SDK_CHECKOUT",
                    "example": "DIRECT",
                    "enum": [
                      "SDK_CHECKOUT",
                      "CHECKOUT",
                      "REDIRECT",
                      "DIRECT",
                      "SDK_SEAMLESS"
                    ]
                  },
                  "payment_method": {
                    "type": "object",
                    "description": "The payment method object.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Type of the payment method. Only required for `DIRECT` or `REDIRECT` workflow. Required when integrating wallets, even when using the SDK.",
                        "example": "CARD",
                        "enum": [
                          "ACUOTAZ",
                          "ADDI",
                          "APPLE_PAY",
                          "BANCOLOMBIA_TOKEN_BOX",
                          "BANCOLOMBIA_TRANSFER",
                          "CARD",
                          "CASH",
                          "CODI",
                          "DAVIPLATA",
                          "EFECTY",
                          "GOOGLE_PAY",
                          "MERCADO_PAGO_CHECKOUT_PRO",
                          "MERCADO_PAGO_WALLET",
                          "NEQUI",
                          "NU_PAY",
                          "NU_PAY_ENROLLMENT",
                          "OXXO",
                          "PAYPAL",
                          "PAYVALIDA",
                          "PIX",
                          "PSE",
                          "SAFETYPAY",
                          "SPEI",
                          "TARJETA_CLAVE",
                          "WEBPAY",
                          "WIBOND"
                        ]
                      },
                      "detail": {
                        "type": "object",
                        "description": "Specifies the payment method detail object.",
                        "properties": {
                          "card": {
                            "type": "object",
                            "description": "Specifies the card object.",
                            "properties": {
                              "capture": {
                                "type": "boolean",
                                "description": "Determines whether the card payment is captured immediately (`TRUE` = purchase) or only authorized (`FALSE` = requires capture or cancel).",
                                "example": true
                              },
                              "card_data": {
                                "type": "object",
                                "description": "Specifies the card_data object.",
                                "required": [
                                  "number",
                                  "holder_name"
                                ],
                                "properties": {
                                  "number": {
                                    "type": "string",
                                    "description": "Card's number without any separators. (MAX 19; MIN 8) - only available for PCI certified merchants.",
                                    "example": "5067555612342011"
                                  },
                                  "expiration_month": {
                                    "type": "integer",
                                    "description": "Card's expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants.",
                                    "format": "int32",
                                    "example": 9
                                  },
                                  "expiration_year": {
                                    "type": "integer",
                                    "description": "Card's expiration year - YYYY (MAX 4; MIN 2) - only available for PCI certified merchants.",
                                    "format": "int32",
                                    "example": 33
                                  },
                                  "security_code": {
                                    "type": "string",
                                    "description": "Card's security code (MAX 4; MIN 3) - only available for PCI certified merchants.",
                                    "example": "123"
                                  },
                                  "holder_name": {
                                    "type": "string",
                                    "description": "Cardholder's full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants.",
                                    "example": "MARIANA SORRENTINO"
                                  }
                                }
                              },
                              "verify": {
                                "type": "boolean",
                                "description": "Using  amount = 0 and verify = true, you can verify the user's card without authorizing a real amount. If the field is not sent, we will take it as false.",
                                "default": false,
                                "example": false
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Create voucher (verify)": {
                  "summary": "Create voucher (verify)",
                  "value": {
                    "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa2",
                    "description": "dlocal",
                    "country": "BR",
                    "merchant_order_id": "12271562679",
                    "amount": {
                      "value": 26.9,
                      "currency": "BRL"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "capture": true,
                          "card_data": {
                            "number": "****************",
                            "expiration_month": 9,
                            "expiration_year": 33,
                            "security_code": "***",
                            "holder_name": "MARIANA SORRENTINO"
                          },
                          "verify": false
                        }
                      }
                    },
                    "additional_data": {
                      "seller_details": {
                        "reference": "****************",
                        "merchant_category_code": "5814"
                      }
                    }
                  }
                },
                "Create voucher payment": {
                  "summary": "Create voucher payment",
                  "value": {
                    "account_id": "48d47836-0c4b-45af-b6b8-098fd17a8fa3",
                    "description": "dlocal",
                    "country": "BR",
                    "merchant_order_id": "12271562679",
                    "amount": {
                      "value": 26.9,
                      "currency": "BRL"
                    },
                    "workflow": "DIRECT",
                    "payment_method": {
                      "type": "CARD",
                      "detail": {
                        "card": {
                          "capture": true,
                          "card_data": {
                            "number": "5067555612342011",
                            "expiration_month": 9,
                            "expiration_year": 33,
                            "security_code": "123",
                            "holder_name": "MARIANA SORRENTINO"
                          },
                          "verify": false
                        }
                      }
                    },
                    "additional_data": {
                      "seller_details": {
                        "reference": "53568972000143",
                        "merchant_category_code": "5814"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "public-api-key": [],
            "private-secret-key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}