{"openapi":"3.1.0","info":{"title":"webhooks-with-idempotency","version":"1.0.2"},"servers":[{"url":"https://api-sandbox.y.uno/v1"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"public-api-key","x-default":"<Your public-api-key>"},"sec1":{"type":"apiKey","in":"header","name":"private-secret-key","x-default":"<Your private-secret-key>"},"sec2":{"type":"apiKey","in":"header","name":"X-Idempotency-Key","x-default":"<Your X-Idempotency-Key>"}}},"security":[{"sec0":[],"sec1":[],"sec2":[]}],"paths":{"/webhooks":{"post":{"summary":"Create a Webhook","description":"","operationId":"create-a-webhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","url","account_id"],"properties":{"name":{"type":"string","description":"The webhook name (MAX 255; MIN 1)."},"description":{"type":"string","description":"The webhook description (MAX 255; MIN 0)."},"type":{"type":"string","description":"The type of webhook. Could be one, a list of many or “ALL”.  If null, then ALL (to subscribe to all events, send only an ALL string) (MAX 64; MIN 5).","enum":["enrollment","payment","report","customer","all",null]},"type_action":{"type":"string","description":"Subtype of webhook. To subscribe to all events.actions, send only an ALL string. If null, then ALL. (MAX 64; MIN 5).","enum":["enrollment.enroll","enrollment.unenroll","enrollment.expiration","payment.purchase","payment.authorize","payment.capture","payment.refund","payment.cancel","payment.verify","payment.chargeback","payment.fraud_screening_stand_alone","report.create","report.update","customer.create","customer.update","ALL",null]},"url":{"type":"string","description":"The webhook endpoint URL (MAX 255; MIN 3)."},"account_id":{"type":"string","description":"The unique identifier of the account (MAX 64; MIN 36)."},"retries":{"type":"integer","description":"The number of times the webhook was sent (MAX 7; MIN 1).","format":"int32"},"headers":{"type":"object","description":"Headers that we will send in the webhook.","properties":{"x-api-key":{"type":"string","description":"Merchants public API Key to receive webhooks."},"x-secret":{"type":"string","description":"Merchant’s Secret Key to receive webhooks."}}}}},"examples":{"Request Example":{"value":{"name":"webhook_1","description":"This is my first Payment webhook","type":"payment","type_action":"payment.create","url":"http://merchant-host.com/callback","account_id":"525278","retries":3,"headers":{"x-api-key":"gAAABidUg3BOa6BN","x-secret":"gAAABidUg3vX7bV"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"5104911d-5df9-229e-8468-bd41abea0\",\n    \"name\": \"webhook_1\",\n    \"description\": \"This is my first Payment webhook\",\n    \"status\": \"DISABLE\",\n    \"type\": \"payment\",\n    \"type_event\": \"payment.purchase\",\n    \"url\": \"http://merchant-host.com/callback\",\n    \"account_id\": \"525278\",\n    \"retries\": 3,\n    \"version\": 2,\n    \"headers\": {\n        \"key_name\": \"Authorization\",\n        \"key_value\": \"Basic bG9sOnNlY3VyZQ==\"\n    },\n    \"created_at\": \"2022-05-09T20:46:54.786342Z\",\n    \"updated_at\": \"2022-05-09T20:46:54.786342Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea0"},"name":{"type":"string","example":"webhook_1"},"description":{"type":"string","example":"This is my first Payment webhook"},"status":{"type":"string","example":"DISABLE"},"type":{"type":"string","example":"payment"},"type_event":{"type":"string","example":"payment.purchase"},"url":{"type":"string","example":"http://merchant-host.com/callback"},"account_id":{"type":"string","example":"525278"},"retries":{"type":"integer","example":3,"default":0},"version":{"type":"integer","example":2,"default":0},"headers":{"type":"object","properties":{"key_name":{"type":"string","example":"Authorization"},"key_value":{"type":"string","example":"Basic bG9sOnNlY3VyZQ=="}}},"created_at":{"type":"string","example":"2022-05-09T20:46:54.786342Z"},"updated_at":{"type":"string","example":"2022-05-09T20:46:54.786342Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/webhooks/{id}":{"patch":{"summary":"Update a Webhook","description":"","operationId":"update-a-webhook","parameters":[{"name":"id","in":"path","description":"The unique identifier (UUID) of the webhook (MAX 64; MIN 36).","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The webhook name (MAX 255; MIN 1)."},"description":{"type":"string","description":"The webhook description (MAX 255; MIN 0)."},"status":{"type":"string","description":"The webhook endpoint status.","enum":["ENABLED","DISABLED"]},"type":{"type":"string","description":"The type of webhook. Could be one, a list of many or “ALL”. If null, then ALL (to subscribe to all events, send only an ALL string) (MAX 64; MIN 5).","enum":["enrollment","payment","report","customer","all",null]},"type_action":{"type":"string","description":"The subtype of webhook. To subscribe to all events.actions, send only an ALL string. If null, then ALL (MAX 64; MIN 5).","enum":["enrollment.enroll","enrollment.unenroll","enrollment.expiration","payment.purchase","payment.authorize","payment.capture","payment.refund","payment.cancel","payment.verify","payment.chargeback","payment.fraud_screening_stand_alone","report.create","report.update","customer.create","customer.update","ALL",null]},"url":{"type":"string","description":"The webhook endpoint URL (MAX 255; MIN 36)."},"account_id":{"type":"string","description":"The unique identifier of the account (MAX 64; MIN 36)."},"retries":{"type":"integer","description":"The number of times the webhook was sent (MAX 7; MIN 1).","format":"int32"},"headers":{"type":"object","description":"Specifies the headers that we will send in the webhook.","properties":{"x-api-key":{"type":"string","description":"Merchants public API Key to receive webhooks."},"x-secret":{"type":"string","description":"Merchant’s Secret Key to receive webhooks."}}}}},"examples":{"Request Example":{"value":{"name":"webhook_1","description":"This is my first Payment webhook","status":"Disabled","type":"payment","type_action":"payment.update","url":"http://merchant-host.com/callback","account_id":"525278","retries":3,"headers":{"x-api-key":"gAAABidUg3BOa6BN","x-secret":"gAAABidUg3vX7bV"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"5104911d-5df9-229e-8468-bd41abea0\",\n    \"name\": \"webhook_1\",\n    \"description\": \"This is my first Payment webhook\",\n    \"status\": \"DISABLE\",\n    \"type\": \"payment\",\n    \"type_event\": \"payment.purchase\",\n    \"url\": \"http://merchant-host.com/callback\",\n    \"account_id\": \"525278\",\n    \"retries\": 3,\n    \"version\": 2,\n    \"headers\": {\n        \"key_name\": \"Authorization\",\n        \"key_value\": \"Basic bG9sOnNlY3VyZQ==\"\n    },\n    \"created_at\": \"2022-05-09T20:46:54.786342Z\",\n    \"updated_at\": \"2022-05-09T20:46:54.786342Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"5104911d-5df9-229e-8468-bd41abea0"},"name":{"type":"string","example":"webhook_1"},"description":{"type":"string","example":"This is my first Payment webhook"},"status":{"type":"string","example":"DISABLE"},"type":{"type":"string","example":"payment"},"type_event":{"type":"string","example":"payment.purchase"},"url":{"type":"string","example":"http://merchant-host.com/callback"},"account_id":{"type":"string","example":"525278"},"retries":{"type":"integer","example":3,"default":0},"version":{"type":"integer","example":2,"default":0},"headers":{"type":"object","properties":{"key_name":{"type":"string","example":"Authorization"},"key_value":{"type":"string","example":"Basic bG9sOnNlY3VyZQ=="}}},"created_at":{"type":"string","example":"2022-05-09T20:46:54.786342Z"},"updated_at":{"type":"string","example":"2022-05-09T20:46:54.786342Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"key":"charset","value":"utf-8"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}