{
  "openapi": "3.1.0",
  "info": {
    "title": "webhooks-without-idempotency",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1/webhooks"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your X-Idempotency-Key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/webhooks/{id}": {
      "get": {
        "summary": "Retrieve Webhook by ID",
        "description": "",
        "operationId": "retrieve-webhook-by-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier (UUID) of the webhook (MAX 64; MIN 36).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"5104911d-5df9-229e-8468-bd41abea0\",\n    \"name\": \"webhook_1\",\n    \"description\": \"This is my first Payment webhook\",\n    \"status\": \"DISABLE\",\n    \"type\": \"payment\",\n    \"type_event\": \"payment.purchase\",\n    \"url\": \"http://merchant-host.com/callback\",\n    \"account_id\": \"525278\",\n    \"retries\": 3,\n    \"version\": 2,\n    \"headers\": {\n        \"key_name\": \"Authorization\",\n        \"key_value\": \"Basic bG9sOnNlY3VyZQ==\"\n    },\n    \"created_at\": \"2022-05-09T20:46:54.786342Z\",\n    \"updated_at\": \"2022-05-09T20:46:54.786342Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "5104911d-5df9-229e-8468-bd41abea0"
                    },
                    "name": {
                      "type": "string",
                      "example": "webhook_1"
                    },
                    "description": {
                      "type": "string",
                      "example": "This is my first Payment webhook"
                    },
                    "status": {
                      "type": "string",
                      "example": "DISABLE"
                    },
                    "type": {
                      "type": "string",
                      "example": "payment"
                    },
                    "type_event": {
                      "type": "string",
                      "example": "payment.purchase"
                    },
                    "url": {
                      "type": "string",
                      "example": "http://merchant-host.com/callback"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "525278"
                    },
                    "retries": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "version": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "headers": {
                      "type": "object",
                      "properties": {
                        "key_name": {
                          "type": "string",
                          "example": "Authorization"
                        },
                        "key_value": {
                          "type": "string",
                          "example": "Basic bG9sOnNlY3VyZQ=="
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-05-09T20:46:54.786342Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2022-05-09T20:46:54.786342Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks": {
      "get": {
        "summary": "Retrieve Webhook by Name",
        "description": "",
        "operationId": "retrieve-webhook-by-name",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The webhook name (MAX 255; MIN 1).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"5104911d-5df9-229e-8468-bd41abea0\",\n    \"name\": \"webhook_1\",\n    \"description\": \"This is my first Payment webhook\",\n    \"status\": \"DISABLE\",\n    \"type\": \"payment\",\n    \"type_event\": \"payment.purchase\",\n    \"url\": \"http://merchant-host.com/callback\",\n    \"account_id\": \"525278\",\n    \"retries\": 3,\n    \"version\": 2,\n    \"headers\": {\n        \"key_name\": \"Authorization\",\n        \"key_value\": \"Basic bG9sOnNlY3VyZQ==\"\n    },\n    \"created_at\": \"2022-05-09T20:46:54.786342Z\",\n    \"updated_at\": \"2022-05-09T20:46:54.786342Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "5104911d-5df9-229e-8468-bd41abea0"
                    },
                    "name": {
                      "type": "string",
                      "example": "webhook_1"
                    },
                    "description": {
                      "type": "string",
                      "example": "This is my first Payment webhook"
                    },
                    "status": {
                      "type": "string",
                      "example": "DISABLE"
                    },
                    "type": {
                      "type": "string",
                      "example": "payment"
                    },
                    "type_event": {
                      "type": "string",
                      "example": "payment.purchase"
                    },
                    "url": {
                      "type": "string",
                      "example": "http://merchant-host.com/callback"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "525278"
                    },
                    "retries": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "version": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "headers": {
                      "type": "object",
                      "properties": {
                        "key_name": {
                          "type": "string",
                          "example": "Authorization"
                        },
                        "key_value": {
                          "type": "string",
                          "example": "Basic bG9sOnNlY3VyZQ=="
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-05-09T20:46:54.786342Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2022-05-09T20:46:54.786342Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}