{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/{subscription_id}/cancel": {
      "post": {
        "summary": "Cancel Subscription",
        "description": "",
        "operationId": "cancel-subscription",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "description": "The unique identifier of a subscription.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "examples": {
                "IMMEDIATE (empty body)": {
                  "value": {}
                },
                "SCHEDULE AFTER 3 CYCLES": {
                  "value": {
                    "schedule": {
                      "after_cycles": 3
                    }
                  }
                },
                "SCHEDULE AT A DATE": {
                  "value": {
                    "schedule": {
                      "at": "2026-11-01T00:00:00Z"
                    }
                  }
                },
                "SCHEDULE AND SKIP RETRIES IF PAST_DUE": {
                  "value": {
                    "schedule": {
                      "after_cycles": 1,
                      "past_due_behavior": "SKIP_RETRIES"
                    }
                  }
                },
                "UNDO A PENDING SCHEDULE": {
                  "value": {
                    "schedule": null
                  }
                },
                "CANCEL WITH A PRORATED REFUND": {
                  "value": {
                    "refund": "PRORATED"
                  }
                },
                "CANCEL WITH A CUSTOM REFUND AMOUNT": {
                  "value": {
                    "refund": "CUSTOM",
                    "refund_amount": {
                      "value": 5.0,
                      "currency": "USD"
                    }
                  }
                },
                "CANCEL WITH CUSTOM REFUND (RULE RESOLVES IT)": {
                  "value": {
                    "refund": "CUSTOM"
                  }
                }
              },
              "schema": {
                "type": "object",
                "properties": {
                  "refund": {
                    "type": "string",
                    "description": "NONE (default), PRORATED, FULL, or CUSTOM. Computes a refund quote for the current billing cycle on an immediate cancel. Cannot be combined with schedule.",
                    "example": "PRORATED"
                  },
                  "refund_amount": {
                    "type": "object",
                    "description": "Required, and only allowed, when refund is CUSTOM. Must not exceed the current cycle's charged amount.",
                    "properties": {
                      "value": {
                        "type": "number",
                        "example": 5.0
                      },
                      "currency": {
                        "type": "string",
                        "description": "Must match the subscription's own currency.",
                        "example": "USD"
                      }
                    }
                  },
                  "schedule": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "after_cycles": {
                        "type": "integer",
                        "description": "Cancel after this many more billing cycles. 1-60, capped at the cycles remaining. Exactly one of after_cycles/at is required.",
                        "example": 3
                      },
                      "at": {
                        "type": "string",
                        "description": "Cancel at this ISO-8601 date-time (UTC offset required). Must be in the future and before availability.finish_at. Exactly one of after_cycles/at is required.",
                        "example": "2026-11-01T00:00:00Z"
                      },
                      "past_due_behavior": {
                        "type": "string",
                        "description": "EXHAUST_RETRIES (default) waits for the in-flight cycle's retries before firing; SKIP_RETRIES fires immediately even if the subscription is PAST_DUE.",
                        "example": "EXHAUST_RETRIES"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "CANCEL SUBSCRIPTION": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "CANCELED",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "token": "9104911d-5df9-429e-8488-ad41abea1a4b",
                        "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                        "card": {
                          "verify": false,
                          "card_data": {
                            "number": "4507990000000010",
                            "expiration_month": 10,
                            "expiration_year": 2025,
                            "security_code": 123,
                            "holder_name": "JOHN DOE"
                          }
                        }
                      },
                      "availability": {
                        "start_at": "2024-01-16T00:00:00.786342Z",
                        "finish_at": "2024-05-26T20:00:00.786342Z"
                      },
                      "metadata": {
                        "key": "sub_ext_id",
                        "value": "AA001"
                      },
                      "payments": [
                        "5104911d-5df9-229e-8468-bd41abea1a4s"
                      ],
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  },
                  "CANCELLATION SCHEDULED": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "ACTIVE",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "retries": {
                        "retry_on_decline": true,
                        "amount": 4,
                        "strategy": "SMART"
                      },
                      "cancel_scheduled": {
                        "mode": "AFTER_CYCLES",
                        "after_cycles": 3,
                        "at": "2024-03-16T20:00:00.786342Z",
                        "requested_at": "2023-12-16T21:00:54.786342Z",
                        "past_due_behavior": "EXHAUST_RETRIES"
                      },
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  },
                  "CANCELED FROM PAST_DUE (RETRIES STOPPED, UNPAID CYCLE)": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "CANCELED",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "retries": {
                        "retry_on_decline": true,
                        "amount": 4,
                        "strategy": "SMART",
                        "stopped": true,
                        "attempts_made": 2,
                        "outcome": "ABANDONED"
                      },
                      "unpaid_cycle": {
                        "cycle_number": 2,
                        "amount": {
                          "currency": "USD",
                          "value": 12100
                        },
                        "attempts": 2,
                        "last_failure_code": "DECLINED_BY_BANK"
                      },
                      "cancel_scheduled": null,
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  },
                  "CANCELED WITH A PRORATED REFUND QUOTE": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "CANCELED",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 4,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "refund": {
                        "mode": "PRORATED",
                        "amount": {
                          "value": 20.0,
                          "currency": "USD"
                        },
                        "unused_days": 20,
                        "period_days": 30,
                        "basis": {
                          "billing_cycle": 4,
                          "charged_amount": {
                            "value": 30.0,
                            "currency": "USD"
                          },
                          "payment_id": "9104911d-5df9-429e-8488-ad41abea1a5e",
                          "charged_at": "2023-11-16T20:00:00.786342Z"
                        },
                        "execution": "MERCHANT",
                        "quoted_at": "2023-12-16T21:00:54.786342Z"
                      },
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  },
                  "CANCELED WITH A CUSTOM REFUND - THE REQUEST AMOUNT WINS": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "SUB-108B merchant precedence subject G",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "country": "CO",
                      "description": null,
                      "merchant_reference": "pa-sub108bg-1789488892790-438550",
                      "status": "CANCELED",
                      "amount": {
                        "currency": "COP",
                        "value": 45000
                      },
                      "frequency": {
                        "type": "MINUTES",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": null,
                        "current": 4,
                        "paid": 3,
                        "next_at": "2026-09-15T16:17:57.79Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                        "card": {
                          "installments": null,
                          "network_transaction_id": "615803391389209",
                          "usage": "USED"
                        }
                      },
                      "availability": {
                        "start_at": "2026-09-15T16:14:57.79Z",
                        "finish_at": null
                      },
                      "retries": {
                        "retry_on_decline": false,
                        "amount": 6,
                        "strategy": "SMART",
                        "schedule": null,
                        "stop_on_hard_decline": null,
                        "cancel_on_exhausted_retries": null
                      },
                      "metadata": null,
                      "additional_data": null,
                      "trial_period": {
                        "billing_cycles": 1,
                        "amount": {
                          "value": 0,
                          "currency": ""
                        }
                      },
                      "initial_payment_validation": false,
                      "reason": null,
                      "subscription_agreement_id": null,
                      "soft_descriptor": null,
                      "renewal_notification_days": null,
                      "cancellation_time": "2026-09-15T16:17:20.597473Z",
                      "cancellation_source": "MERCHANT",
                      "ending_time": null,
                      "created_at": "2026-09-15T16:14:53.58767Z",
                      "updated_at": "2026-09-15T16:17:20.597473Z",
                      "pending_plan_change": null,
                      "current_period_start": "2026-09-15T16:16:57.79Z",
                      "current_period_end": "2026-09-15T16:17:57.79Z",
                      "refund_rule": {
                        "type": "FIXED",
                        "amount": {
                          "currency": "COP",
                          "value": 10000
                        }
                      },
                      "refund": {
                        "mode": "CUSTOM",
                        "amount": {
                          "currency": "COP",
                          "value": 5000
                        },
                        "unused_days": 0,
                        "period_days": 0,
                        "basis": {
                          "billing_cycle": 3,
                          "charged_amount": {
                            "currency": "COP",
                            "value": 45000
                          },
                          "payment_id": "857de7e6-47eb-49be-99ee-7e1239c4e154",
                          "charged_at": "2026-09-15T16:16:57.804759Z"
                        },
                        "execution": "MERCHANT",
                        "quoted_at": "2026-09-15T16:17:20.59332Z"
                      }
                    }
                  },
                  "CANCELED WITH A CUSTOM REFUND - THE CONFIGURED RULE WINS": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "SUB-108B merchant precedence subject H",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "country": "CO",
                      "description": null,
                      "merchant_reference": "pa-sub108bh-1789488893775-983485",
                      "status": "CANCELED",
                      "amount": {
                        "currency": "COP",
                        "value": 45000
                      },
                      "frequency": {
                        "type": "MINUTES",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": null,
                        "current": 4,
                        "paid": 3,
                        "next_at": "2026-09-15T16:17:58.775Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                        "card": {
                          "installments": null,
                          "network_transaction_id": "615803391389209",
                          "usage": "USED"
                        }
                      },
                      "availability": {
                        "start_at": "2026-09-15T16:14:58.775Z",
                        "finish_at": null
                      },
                      "retries": {
                        "retry_on_decline": false,
                        "amount": 6,
                        "strategy": "SMART",
                        "schedule": null,
                        "stop_on_hard_decline": null,
                        "cancel_on_exhausted_retries": null
                      },
                      "metadata": null,
                      "additional_data": null,
                      "trial_period": {
                        "billing_cycles": 1,
                        "amount": {
                          "value": 0,
                          "currency": ""
                        }
                      },
                      "initial_payment_validation": false,
                      "reason": null,
                      "subscription_agreement_id": null,
                      "soft_descriptor": null,
                      "renewal_notification_days": null,
                      "cancellation_time": "2026-09-15T16:17:21.838701Z",
                      "cancellation_source": "MERCHANT",
                      "ending_time": null,
                      "created_at": "2026-09-15T16:14:54.30455Z",
                      "updated_at": "2026-09-15T16:17:21.838701Z",
                      "pending_plan_change": null,
                      "current_period_start": "2026-09-15T16:16:58.775Z",
                      "current_period_end": "2026-09-15T16:17:58.775Z",
                      "refund_rule": {
                        "type": "FIXED",
                        "amount": {
                          "currency": "COP",
                          "value": 10000
                        }
                      },
                      "refund": {
                        "mode": "CUSTOM",
                        "amount": {
                          "currency": "COP",
                          "value": 10000
                        },
                        "unused_days": 0,
                        "period_days": 0,
                        "basis": {
                          "billing_cycle": 3,
                          "charged_amount": {
                            "currency": "COP",
                            "value": 45000
                          },
                          "payment_id": "a35cb164-e68f-45f0-954e-1fe34e4203eb",
                          "charged_at": "2026-09-15T16:16:58.790108Z"
                        },
                        "execution": "MERCHANT",
                        "quoted_at": "2026-09-15T16:17:21.837768Z"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "7304911d-5df9-429e-8488-ad41abea1a4c"
                    },
                    "name": {
                      "type": "string",
                      "example": "sub_001"
                    },
                    "description": {
                      "type": "string",
                      "example": "streaming service",
                      "nullable": true
                    },
                    "account_id": {
                      "type": "string",
                      "example": "2404911d-5df9-429e-8488-ad41abea1a4b"
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "001_marzo_23"
                    },
                    "status": {
                      "type": "string",
                      "example": "CANCELED"
                    },
                    "subscription_plan_id": {
                      "type": "string",
                      "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "number",
                          "example": 12100,
                          "default": 0
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "MONTH"
                        },
                        "value": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "monthly_billing_day": {
                          "type": "integer",
                          "nullable": true,
                          "description": "The day of the month billing is anchored to on a MONTH-frequency subscription — set by RESTART (on Update, a plan change, resume or reactivate) or by sending Update Subscription's own frequency.monthly_billing_day. Present only once stamped; absent, not null, before that and on every other frequency type.",
                          "example": 15
                        }
                      }
                    },
                    "billing_cycles": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10,
                          "default": 0,
                          "nullable": true
                        },
                        "current": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "next_at": {
                          "type": "string",
                          "example": "2023-02-16T20:00:00.786342Z"
                        },
                        "scheduling_date": {
                          "type": "string",
                          "description": "When the debit instruction is handed to the Pix rail — `next_at` minus four days. Only present on `PIX_AUTOMATIC` subscriptions that Yuno executes, and only where the four-day scheduling lead is enabled for the organization; absent, not `null`, otherwise. Read-only. See [Pix Automático](/docs/payment-features/subscriptions/pix-automatico#the-scheduling-date).",
                          "example": "2026-11-27T00:00:00Z"
                        },
                        "paid": {
                          "type": "integer",
                          "description": "How many cycles have been paid so far. Distinct from `current`, which is the cycle being billed."
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                        }
                      }
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "token": {
                          "type": "string",
                          "example": "9104911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "vaulted_token": {
                          "type": "string",
                          "example": "6104911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "card": {
                          "type": "object",
                          "properties": {
                            "verify": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "card_data": {
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "string",
                                  "example": "4507990000000010"
                                },
                                "expiration_month": {
                                  "type": "integer",
                                  "example": 10,
                                  "default": 0
                                },
                                "expiration_year": {
                                  "type": "integer",
                                  "example": 2025,
                                  "default": 0
                                },
                                "security_code": {
                                  "type": "integer",
                                  "example": 123,
                                  "default": 0
                                },
                                "holder_name": {
                                  "type": "string",
                                  "example": "JOHN DOE"
                                }
                              }
                            },
                            "installments": {
                              "type": "integer",
                              "nullable": true
                            },
                            "network_transaction_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "usage": {
                              "type": "string",
                              "example": "FIRST"
                            }
                          },
                          "nullable": true
                        }
                      },
                      "description": "The payment method the subscription charges. A single object, not a list."
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2024-01-16T00:00:00.786342Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2024-05-26T20:00:00.786342Z",
                          "nullable": true
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "example": "sub_ext_id"
                        },
                        "value": {
                          "type": "string",
                          "example": "AA001"
                        }
                      },
                      "nullable": true
                    },
                    "payments": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "5104911d-5df9-229e-8468-bd41abea1a4s"
                      }
                    },
                    "retries": {
                      "type": "object",
                      "properties": {
                        "retry_on_decline": {
                          "type": "boolean"
                        },
                        "amount": {
                          "type": "integer"
                        },
                        "strategy": {
                          "type": "string"
                        },
                        "stopped": {
                          "type": "boolean",
                          "description": "Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "attempts_made": {
                          "type": "integer",
                          "description": "Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "outcome": {
                          "type": "string",
                          "description": "RECOVERED, EXHAUSTED or ABANDONED. Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "next_retry_at": {
                          "type": "string",
                          "description": "Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "schedule": {
                          "type": "array",
                          "nullable": true,
                          "description": "The per-attempt schedule, only set when `strategy` is `CUSTOM_SCHEDULE`; `null` otherwise.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "stop_on_hard_decline": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, a hard decline stops the retries for the current billing cycle."
                        },
                        "cancel_on_exhausted_retries": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, the subscription is canceled once a cycle's retries end without a successful payment, with `cancellation_source` set to `RETRIES_EXHAUSTED`."
                        },
                        "profile": {
                          "type": "string",
                          "description": "The fixed retry ladder the subscription follows instead of the configurable schedule. Always `PIX_AUTOMATIC`. This field and the three below are only present on `PIX_AUTOMATIC` subscriptions that Yuno executes; they are absent, not `null`, on every other payment method. See [Pix Automático](/docs/payment-features/subscriptions/pix-automatico#the-retry-ladder).",
                          "example": "PIX_AUTOMATIC"
                        },
                        "max_attempts": {
                          "type": "integer",
                          "description": "How many retries the Pix ladder runs. Always 3, matching the `amount` reported for these subscriptions.",
                          "example": 3
                        },
                        "min_gap_hours": {
                          "type": "integer",
                          "description": "Always 24 — the gap between the ladder's debit dates (`D`, `D+1`, `D+2`, `D+3`), not between dispatch attempts.",
                          "example": 24
                        },
                        "until": {
                          "type": "string",
                          "description": "When the ladder stops — `billing_cycles.next_at` plus 7 days. Moves with `next_at` at every renewal."
                        }
                      }
                    },
                    "unpaid_cycle": {
                      "type": "object",
                      "description": "Present only when the current billing cycle is PAST_DUE and has not settled.",
                      "properties": {
                        "cycle_number": {
                          "type": "integer"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string"
                            },
                            "value": {
                              "type": "number"
                            }
                          }
                        },
                        "attempts": {
                          "type": "integer"
                        },
                        "last_failure_code": {
                          "type": "string"
                        }
                      }
                    },
                    "cancel_scheduled": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "null when no cancellation is pending.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "example": "AFTER_CYCLES"
                        },
                        "after_cycles": {
                          "type": "integer",
                          "example": 3
                        },
                        "at": {
                          "type": "string"
                        },
                        "requested_at": {
                          "type": "string"
                        },
                        "past_due_behavior": {
                          "type": "string",
                          "example": "EXHAUST_RETRIES"
                        }
                      }
                    },
                    "refund": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "null when refund was NONE or omitted. Present on the cancel response and on every later read once computed.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "example": "PRORATED"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "value": {
                              "type": "number",
                              "example": 20.0
                            }
                          }
                        },
                        "unused_days": {
                          "type": "integer",
                          "example": 20
                        },
                        "period_days": {
                          "type": "integer",
                          "example": 30
                        },
                        "basis": {
                          "type": "object",
                          "properties": {
                            "billing_cycle": {
                              "type": "integer",
                              "example": 4
                            },
                            "charged_amount": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "example": "USD"
                                },
                                "value": {
                                  "type": "number",
                                  "example": 30.0
                                }
                              }
                            },
                            "payment_id": {
                              "type": "string",
                              "description": "null for a $0-phase quote with no captured payment."
                            },
                            "charged_at": {
                              "type": "string",
                              "description": "null for a $0-phase quote with no captured payment."
                            }
                          }
                        },
                        "execution": {
                          "type": "string",
                          "example": "MERCHANT"
                        },
                        "quoted_at": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-12-16T21:00:54.786342Z"
                    },
                    "country": {
                      "type": "string",
                      "description": "The subscription's country (ISO 3166-1 alpha-2).",
                      "example": "US"
                    },
                    "soft_descriptor": {
                      "type": "string",
                      "example": "ACME SUBSCRIPTION",
                      "nullable": true
                    },
                    "current_period_start": {
                      "type": "string",
                      "nullable": true,
                      "description": "Start of the billing period the subscription is currently in, one cadence before `current_period_end`. Inside a trial or any other plan phase it follows that phase's cadence. A terminal subscription (`CANCELED` or `COMPLETED`) keeps its final window rather than going null. Null only for a subscription with no recurring cadence. Always returned together with current_period_end.",
                      "example": "2023-01-16T20:00:00.912480Z"
                    },
                    "current_period_end": {
                      "type": "string",
                      "nullable": true,
                      "description": "End of the billing period the subscription is currently in. Equal to billing_cycles.next_at. Always returned together with current_period_start.",
                      "example": "2023-02-16T20:00:00.786342Z"
                    },
                    "billing_date": {
                      "type": "object",
                      "nullable": true,
                      "description": "Only present on subscriptions billed on a fixed date instead of a frequency; mutually exclusive with `frequency`.",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "DAY"
                        },
                        "day": {
                          "type": "integer",
                          "example": 2
                        }
                      }
                    },
                    "trial_period": {
                      "type": "object",
                      "properties": {
                        "billing_cycles": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "example": 0,
                              "default": 0
                            },
                            "currency": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        }
                      }
                    },
                    "additional_data": {
                      "type": "object",
                      "nullable": true,
                      "description": "The optional order enrichment sent at creation, echoed back. See [The Subscription Object](/reference/subscriptions/the-subscription-object) for its full shape."
                    },
                    "initial_payment_validation": {
                      "type": "boolean",
                      "description": "Whether the subscription waited for its first payment to succeed before activating. `false` by default.",
                      "example": false
                    },
                    "reason": {
                      "type": "string",
                      "nullable": true,
                      "description": "Free-form reason for the subscription's current status, when one was recorded; `null` otherwise.",
                      "example": "merchant request"
                    },
                    "renewal_notification_days": {
                      "type": "integer",
                      "nullable": true,
                      "description": "How many days before the next billing date the `subscription.close_to_renewal` webhook is sent. `null` means no renewal notification is sent.",
                      "example": 3
                    },
                    "subscription_agreement_id": {
                      "type": "string",
                      "example": "sa_6af2dfcd-44c0-4f16-a331-8bed3ed9c9fa",
                      "nullable": true
                    },
                    "cancellation_time": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the subscription was canceled. Only set once it reaches `CANCELED`; `null` otherwise.",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "cancellation_source": {
                      "type": "string",
                      "nullable": true,
                      "description": "What triggered the cancellation: `MERCHANT`, `SYSTEM`, `PLAN_CHANGE` or `RETRIES_EXHAUSTED`. Only set once the subscription reaches `CANCELED`; `null` otherwise. Treat as open-ended — handle unrecognized values gracefully.",
                      "example": "MERCHANT"
                    },
                    "ending_time": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the subscription completed or expired. Only set once it reaches `COMPLETED`; `null` otherwise.",
                      "example": "2024-12-16T20:46:54.786342Z"
                    },
                    "plan_id": {
                      "type": "string",
                      "description": "Only present when the subscription is linked to a plan.",
                      "example": "00000000-0000-4000-8000-000000000001"
                    },
                    "plan_assigned_at": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions. The moment the plan was attached — at creation from a plan, migration onto a plan, or a plan change.",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "previous_subscription_id": {
                      "type": "string",
                      "description": "Only present when this subscription was created by a plan change (switching an existing subscription to a different plan).",
                      "nullable": true
                    },
                    "phases": {
                      "type": "array",
                      "description": "The linked plan's phase definitions, as the plan declares them — including the terminal `REGULAR` phase. Only present on plan-linked subscriptions whose plan has phases. This is the plan's own ladder, not this subscriber's snapshot: for what was pinned for this subscription at creation, use `billing_phases`.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "`TRIAL` or `REGULAR`."
                          },
                          "duration": {
                            "type": "object",
                            "nullable": true,
                            "description": "How long the phase lasts. `null` on the terminal `REGULAR` phase, which runs until the subscription ends.",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "nullable": true,
                            "description": "How often the phase bills. `null` on the terminal `REGULAR` phase, which bills at the plan's own frequency.",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "amount": {
                            "type": "object",
                            "nullable": true,
                            "description": "The phase price. `null` on the terminal `REGULAR` phase, whose price resolves from the plan at every billing.",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "total_payments": {
                            "type": "integer",
                            "nullable": true
                          },
                          "country_prices": {
                            "type": "array",
                            "description": "Per-country overrides of the phase price, empty when the phase has none.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "string"
                                },
                                "amount": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "current_phase": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions.",
                      "example": "REGULAR"
                    },
                    "current_phase_end": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the phase named by `current_phase` hands over to the next one — for a subscription in its trial, when it switches to the regular price. End of the last billing period the phase covers, so on the final period of a trial it equals `current_period_end`. Null for a subscription with no plan and for one that already left the phase ladder.",
                      "example": "2023-03-16T20:00:00.786342Z"
                    },
                    "billing_phases": {
                      "type": "array",
                      "description": "Only present on plan-linked subscriptions whose plan has phases. Contains the leading TRIAL phases only, snapshotted at creation — the terminal REGULAR phase is never included, since its price isn't pinned and instead resolves from the plan at every billing. `current_phase: \"REGULAR\"` is how you know the ladder is exhausted.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "integer"
                          },
                          "type": {
                            "type": "string",
                            "description": "Always TRIAL — the terminal REGULAR phase is never in this array."
                          },
                          "name": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "start_cycle": {
                            "type": "integer"
                          },
                          "end_cycle": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "pending_plan_change": {
                      "type": "object",
                      "nullable": true,
                      "description": "The plan change scheduled for the next billing cycle, or null when none is pending. Schedule one with the `plan_change` block on Update Subscription.",
                      "properties": {
                        "plan_id": {
                          "type": "string",
                          "description": "The identifier of the target plan.",
                          "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                        },
                        "plan_name": {
                          "type": "string",
                          "description": "The name of the target plan.",
                          "example": "Pro"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "UPGRADE",
                            "DOWNGRADE"
                          ],
                          "description": "Whether the target plan is an upgrade or a downgrade. Informational only.",
                          "example": "UPGRADE"
                        },
                        "effective": {
                          "type": "string",
                          "enum": [
                            "NEXT_BILLING_CYCLE"
                          ],
                          "description": "When the change applies.",
                          "example": "NEXT_BILLING_CYCLE"
                        },
                        "phases_behavior": {
                          "type": "string",
                          "enum": [
                            "START_FROM_REGULAR",
                            "HONOR_PHASES"
                          ],
                          "description": "What happens when the target plan has phases.",
                          "example": "START_FROM_REGULAR"
                        },
                        "applies_at": {
                          "type": "string",
                          "description": "The billing event the change will take effect on — the subscription's next billing date.",
                          "example": "2023-02-16T20:00:00.786342Z"
                        },
                        "requested_at": {
                          "type": "string",
                          "description": "When the change was scheduled.",
                          "example": "2023-01-20T10:12:31.786342Z"
                        }
                      }
                    },
                    "refund_rule": {
                      "type": "object",
                      "description": "The stored refund rule used to resolve a CUSTOM cancel refund when the cancel request sends no refund_amount of its own. Present only when one is configured; omitted, not null, otherwise. Available to organizations enabled for it; contact Yuno.",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "PERCENT",
                            "FIXED"
                          ],
                          "description": "PERCENT resolves the refund as a percentage of the charged amount; FIXED resolves it to a fixed amount.",
                          "example": "FIXED"
                        },
                        "percent": {
                          "type": "number",
                          "description": "Required, and only allowed, when type is PERCENT (0-100).",
                          "example": 50
                        },
                        "amount": {
                          "type": "object",
                          "description": "Required, and only allowed, when type is FIXED.",
                          "properties": {
                            "value": {
                              "type": "number",
                              "example": 10000
                            },
                            "currency": {
                              "type": "string",
                              "description": "Must match the subscription's own currency.",
                              "example": "COP"
                            }
                          }
                        }
                      }
                    },
                    "pause_until": {
                      "type": "string",
                      "description": "When the subscription is scheduled to resume automatically. Present only on a subscription currently paused with a duration (pause_cycles or pause_until sent at pause); absent, not null, on every other read.",
                      "example": "2026-10-15T15:54:22.780166Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "INVALID_STATE": {
                    "value": {
                      "code": "INVALID_STATE",
                      "messages": [
                        "The subscription state does not support the action requested."
                      ]
                    }
                  },
                  "UNKNOWN KEY": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "unknown field: reason"
                      ]
                    }
                  },
                  "SCHEDULE MUST CARRY EXACTLY ONE OF at OR after_cycles": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "schedule must carry exactly one of at or after_cycles"
                      ]
                    }
                  },
                  "at NOT IN THE FUTURE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "schedule.at must be in the future"
                      ]
                    }
                  },
                  "ORGANIZATION NOT ENABLED": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "Scheduled cancellation is not enabled for this organization."
                      ]
                    }
                  },
                  "REFUND NOT COMBINABLE WITH SCHEDULE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "refund cannot be combined with schedule (v1)"
                      ]
                    }
                  },
                  "REFUND QUOTING NOT ENABLED FOR THIS ORGANIZATION": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "Refund quote is not enabled for this organization."
                      ]
                    }
                  },
                  "REFUND_AMOUNT EXCEEDS THE CHARGED AMOUNT": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "refund_amount must not exceed the charged amount"
                      ]
                    }
                  },
                  "REFUND_AMOUNT CURRENCY MISMATCH": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "refund_amount.currency must match the subscription's currency (USD)"
                      ]
                    }
                  },
                  "PRORATED NOT AVAILABLE ON A SUB-DAILY CADENCE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "proration is not available for sub-daily cadences"
                      ]
                    }
                  },
                  "REFUND NOT AVAILABLE": {
                    "value": {
                      "code": "REFUND_NOT_AVAILABLE",
                      "messages": [
                        "No charged payment exists for the current cycle (subscription is PAST_DUE). Only refund: NONE is valid."
                      ],
                      "current_status": "PAST_DUE"
                    }
                  },
                  "SUBSCRIPTION NOT FOUND": {
                    "value": {
                      "code": "SUBSCRIPTION_NOT_FOUND",
                      "messages": [
                        "Subscription not found."
                      ]
                    },
                    "summary": "No subscription resolves for the subscription_id on this account. Returned as 400, not 404."
                  },
                  "REFUND CUSTOM REQUIRES A SOURCE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "refund: CUSTOM requires refund_amount or a configured refund_rule."
                      ]
                    },
                    "summary": "Neither refund_amount on the request nor a stored refund_rule resolves the CUSTOM refund."
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
