{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/{subscription_id}/cancel": {
      "post": {
        "summary": "Cancel Subscription",
        "description": "",
        "operationId": "cancel-subscription",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "description": "The unique identifier of a subscription.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "examples": {
                "IMMEDIATE (empty body)": {
                  "value": {}
                },
                "SCHEDULE AFTER 3 CYCLES": {
                  "value": {
                    "schedule": {
                      "after_cycles": 3
                    }
                  }
                },
                "SCHEDULE AT A DATE": {
                  "value": {
                    "schedule": {
                      "at": "2026-11-01T00:00:00Z"
                    }
                  }
                },
                "SCHEDULE AND SKIP RETRIES IF PAST_DUE": {
                  "value": {
                    "schedule": {
                      "after_cycles": 1,
                      "past_due_behavior": "SKIP_RETRIES"
                    }
                  }
                },
                "UNDO A PENDING SCHEDULE": {
                  "value": {
                    "schedule": null
                  }
                },
                "CANCEL WITH A PRORATED REFUND": {
                  "value": {
                    "refund": "PRORATED"
                  }
                },
                "CANCEL WITH A CUSTOM REFUND AMOUNT": {
                  "value": {
                    "refund": "CUSTOM",
                    "refund_amount": {
                      "value": 5.0,
                      "currency": "USD"
                    }
                  }
                }
              },
              "schema": {
                "type": "object",
                "properties": {
                  "refund": {
                    "type": "string",
                    "description": "NONE (default), PRORATED, FULL, or CUSTOM. Computes a refund quote for the current billing cycle on an immediate cancel. Cannot be combined with schedule.",
                    "example": "PRORATED"
                  },
                  "refund_amount": {
                    "type": "object",
                    "description": "Required, and only allowed, when refund is CUSTOM. Must not exceed the current cycle's charged amount.",
                    "properties": {
                      "value": {
                        "type": "number",
                        "example": 5.0
                      },
                      "currency": {
                        "type": "string",
                        "description": "Must match the subscription's own currency.",
                        "example": "USD"
                      }
                    }
                  },
                  "schedule": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "after_cycles": {
                        "type": "integer",
                        "description": "Cancel after this many more billing cycles. 1-60, capped at the cycles remaining. Exactly one of after_cycles/at is required.",
                        "example": 3
                      },
                      "at": {
                        "type": "string",
                        "description": "Cancel at this ISO-8601 date-time (UTC offset required). Must be in the future and before availability.finish_at. Exactly one of after_cycles/at is required.",
                        "example": "2026-11-01T00:00:00Z"
                      },
                      "past_due_behavior": {
                        "type": "string",
                        "description": "EXHAUST_RETRIES (default) waits for the in-flight cycle's retries before firing; SKIP_RETRIES fires immediately even if the subscription is PAST_DUE.",
                        "example": "EXHAUST_RETRIES"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "CANCEL SUBSCRIPTION": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "CANCELED",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": [
                        {
                          "type": "CARD",
                          "token": "9104911d-5df9-429e-8488-ad41abea1a4b",
                          "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                          "card": {
                            "verify": false,
                            "card_data": {
                              "number": "4507990000000010",
                              "expiration_month": 10,
                              "expiration_year": 2025,
                              "security_code": 123,
                              "holder_name": "JOHN DOE"
                            }
                          }
                        }
                      ],
                      "availability": {
                        "start_at": "2024-01-16T00:00:00.786342Z",
                        "finish_at": "2024-05-26T20:00:00.786342Z"
                      },
                      "metadata": {
                        "key": "sub_ext_id",
                        "value": "AA001"
                      },
                      "payments": [
                        "5104911d-5df9-229e-8468-bd41abea1a4s"
                      ],
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  },
                  "CANCELLATION SCHEDULED": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "ACTIVE",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "retries": {
                        "retry_on_decline": true,
                        "amount": 4,
                        "strategy": "SMART"
                      },
                      "cancel_scheduled": {
                        "mode": "AFTER_CYCLES",
                        "after_cycles": 3,
                        "at": "<example>",
                        "requested_at": "<example>",
                        "past_due_behavior": "EXHAUST_RETRIES"
                      },
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  },
                  "CANCELED FROM PAST_DUE (RETRIES STOPPED, UNPAID CYCLE)": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "CANCELED",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "retries": {
                        "retry_on_decline": true,
                        "amount": 4,
                        "strategy": "SMART",
                        "stopped": true,
                        "attempts_made": 2,
                        "outcome": "ABANDONED"
                      },
                      "unpaid_cycle": {
                        "cycle_number": 2,
                        "amount": {
                          "currency": "USD",
                          "value": 12100
                        },
                        "attempts": 2,
                        "last_failure_code": "<example>"
                      },
                      "cancel_scheduled": null,
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  },
                  "CANCELED WITH A PRORATED REFUND QUOTE": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "CANCELED",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 4,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "refund": {
                        "mode": "PRORATED",
                        "amount": {
                          "value": 20.0,
                          "currency": "USD"
                        },
                        "unused_days": 20,
                        "period_days": 30,
                        "basis": {
                          "billing_cycle": 4,
                          "charged_amount": {
                            "value": 30.0,
                            "currency": "USD"
                          },
                          "payment_id": "<example>",
                          "charged_at": "<example>"
                        },
                        "execution": "MERCHANT",
                        "quoted_at": "<example>"
                      },
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "7304911d-5df9-429e-8488-ad41abea1a4c"
                    },
                    "name": {
                      "type": "string",
                      "example": "sub_001"
                    },
                    "description": {
                      "type": "string",
                      "example": "streaming service",
                      "nullable": true
                    },
                    "account_id": {
                      "type": "string",
                      "example": "2404911d-5df9-429e-8488-ad41abea1a4b"
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "001_marzo_23"
                    },
                    "status": {
                      "type": "string",
                      "example": "CANCELED"
                    },
                    "subscription_plan_id": {
                      "type": "string",
                      "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "number",
                          "example": 12100,
                          "default": 0
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "MONTH"
                        },
                        "value": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    },
                    "billing_cycles": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10,
                          "default": 0,
                          "nullable": true
                        },
                        "current": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "next_at": {
                          "type": "string",
                          "example": "2023-02-16T20:00:00.786342Z"
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                        }
                      }
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "token": {
                          "type": "string",
                          "example": "9104911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "vaulted_token": {
                          "type": "string",
                          "example": "6104911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "card": {
                          "type": "object",
                          "properties": {
                            "verify": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "card_data": {
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "string",
                                  "example": "4507990000000010"
                                },
                                "expiration_month": {
                                  "type": "integer",
                                  "example": 10,
                                  "default": 0
                                },
                                "expiration_year": {
                                  "type": "integer",
                                  "example": 2025,
                                  "default": 0
                                },
                                "security_code": {
                                  "type": "integer",
                                  "example": 123,
                                  "default": 0
                                },
                                "holder_name": {
                                  "type": "string",
                                  "example": "JOHN DOE"
                                }
                              }
                            }
                          },
                          "nullable": true
                        }
                      },
                      "description": "The payment method the subscription charges. A single object, not a list."
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2024-01-16T00:00:00.786342Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2024-05-26T20:00:00.786342Z",
                          "nullable": true
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "example": "sub_ext_id"
                        },
                        "value": {
                          "type": "string",
                          "example": "AA001"
                        }
                      },
                      "nullable": true
                    },
                    "payments": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "5104911d-5df9-229e-8468-bd41abea1a4s"
                      }
                    },
                    "retries": {
                      "type": "object",
                      "properties": {
                        "retry_on_decline": {
                          "type": "boolean"
                        },
                        "amount": {
                          "type": "integer"
                        },
                        "strategy": {
                          "type": "string"
                        },
                        "stopped": {
                          "type": "boolean",
                          "description": "Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "attempts_made": {
                          "type": "integer",
                          "description": "Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "outcome": {
                          "type": "string",
                          "description": "RECOVERED, EXHAUSTED or ABANDONED. Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "next_retry_at": {
                          "type": "string",
                          "description": "Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        }
                      }
                    },
                    "unpaid_cycle": {
                      "type": "object",
                      "description": "Present only when the current billing cycle is PAST_DUE and has not settled.",
                      "properties": {
                        "cycle_number": {
                          "type": "integer"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string"
                            },
                            "value": {
                              "type": "number"
                            }
                          }
                        },
                        "attempts": {
                          "type": "integer"
                        },
                        "last_failure_code": {
                          "type": "string"
                        }
                      }
                    },
                    "cancel_scheduled": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "null when no cancellation is pending.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "example": "AFTER_CYCLES"
                        },
                        "after_cycles": {
                          "type": "integer",
                          "example": 3
                        },
                        "at": {
                          "type": "string"
                        },
                        "requested_at": {
                          "type": "string"
                        },
                        "past_due_behavior": {
                          "type": "string",
                          "example": "EXHAUST_RETRIES"
                        }
                      }
                    },
                    "refund": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "null when refund was NONE or omitted. Present on the cancel response and on every later read once computed.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "example": "PRORATED"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "value": {
                              "type": "number",
                              "example": 20.0
                            }
                          }
                        },
                        "unused_days": {
                          "type": "integer",
                          "example": 20
                        },
                        "period_days": {
                          "type": "integer",
                          "example": 30
                        },
                        "basis": {
                          "type": "object",
                          "properties": {
                            "billing_cycle": {
                              "type": "integer",
                              "example": 4
                            },
                            "charged_amount": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "example": "USD"
                                },
                                "value": {
                                  "type": "number",
                                  "example": 30.0
                                }
                              }
                            },
                            "payment_id": {
                              "type": "string",
                              "description": "null for a $0-phase quote with no captured payment."
                            },
                            "charged_at": {
                              "type": "string",
                              "description": "null for a $0-phase quote with no captured payment."
                            }
                          }
                        },
                        "execution": {
                          "type": "string",
                          "example": "MERCHANT"
                        },
                        "quoted_at": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-12-16T21:00:54.786342Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "INVALID_STATE": {
                    "value": {
                      "code": "INVALID_STATE",
                      "messages": [
                        "The subscription state does not support the action requested."
                      ]
                    }
                  },
                  "UNKNOWN KEY": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "<example>"
                      ]
                    }
                  },
                  "SCHEDULE MUST CARRY EXACTLY ONE OF at OR after_cycles": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "schedule must carry exactly one of at or after_cycles"
                      ]
                    }
                  },
                  "at NOT IN THE FUTURE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "schedule.at must be in the future"
                      ]
                    }
                  },
                  "ORGANIZATION NOT ENABLED": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "Scheduled cancellation is not enabled for this organization"
                      ]
                    }
                  },
                  "REFUND NOT COMBINABLE WITH SCHEDULE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "refund cannot be combined with schedule (v1)"
                      ]
                    }
                  },
                  "REFUND QUOTING NOT ENABLED FOR THIS ORGANIZATION": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "Refund quote is not enabled for this organization"
                      ]
                    }
                  },
                  "REFUND_AMOUNT EXCEEDS THE CHARGED AMOUNT": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "refund_amount must not exceed the charged amount"
                      ]
                    }
                  },
                  "REFUND_AMOUNT CURRENCY MISMATCH": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "refund_amount.currency must match the subscription's currency (USD)"
                      ]
                    }
                  },
                  "PRORATED NOT AVAILABLE ON A SUB-DAILY CADENCE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "proration is not available for sub-daily cadences"
                      ]
                    }
                  },
                  "REFUND NOT AVAILABLE": {
                    "value": {
                      "code": "REFUND_NOT_AVAILABLE",
                      "messages": [
                        "No charged payment exists for the current cycle (subscription is PAST_DUE). Only refund: NONE is valid."
                      ],
                      "current_status": "PAST_DUE"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
