{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/{subscription_id}/plan": {
      "post": {
        "summary": "Change Subscription Plan",
        "description": "Moves a subscription onto a subscription plan.\n\nIf the subscription is not on a plan yet, it is attached in place and keeps its `id`. If it is already on a plan, it is canceled and replaced by a **new** subscription on the target plan; the response is the replacement, and its `previous_subscription_id` points at the subscription it replaced.\n\nIn both cases the change takes effect at the subscription's **next renewal** — no charge is made now and nothing is prorated or refunded.",
        "operationId": "changeSubscriptionPlan",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "description": "The unique identifier of a subscription.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan_id"
                ],
                "properties": {
                  "plan_id": {
                    "type": "string",
                    "description": "The unique identifier of the plan to move the subscription onto.",
                    "examples": [
                      "1904911d-5df9-429e-8488-ad41abea1a4d"
                    ]
                  },
                  "skip_trial": {
                    "type": "boolean",
                    "default": false,
                    "description": "Plan-to-plan changes only. When `true`, the replacement subscription does not adopt the target plan's trial or intro phases: it bills that plan's regular price from its first charge and its status stays `ACTIVE` instead of becoming `TRIALING`. Use it to stop subscribers from earning a fresh trial by switching plans. Sending it on a subscription that is not on a plan returns `400`.",
                    "examples": [
                      true
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "CHANGE SUBSCRIPTION PLAN": {
                    "value": {
                      "id": "8f11a2b0-6c1d-4a77-9f3e-2b5c8d0e91aa",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "ACTIVE",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": [
                        {
                          "type": "CARD",
                          "token": "9104911d-5df9-429e-8488-ad41abea1a4b",
                          "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                          "card": {
                            "verify": false,
                            "card_data": {
                              "number": "4507990000000010",
                              "expiration_month": 10,
                              "expiration_year": 2025,
                              "security_code": 123,
                              "holder_name": "JOHN DOE"
                            }
                          }
                        }
                      ],
                      "availability": {
                        "start_at": "2024-01-16T00:00:00.786342Z",
                        "finish_at": "2024-05-26T20:00:00.786342Z"
                      },
                      "metadata": {
                        "key": "sub_ext_id",
                        "value": "AA001"
                      },
                      "payments": [
                        "5104911d-5df9-229e-8468-bd41abea1a4s"
                      ],
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z",
                      "previous_subscription_id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "plan_assigned_at": "2023-02-16T20:00:00.786342Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n Refer to the HTTP Response Codes section for more details: 'https://docs.y.uno/reference/response-codes'\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
