{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/{subscription_id}/plan": {
      "post": {
        "summary": "Change Subscription Plan",
        "description": "Moves a subscription onto a subscription plan.\n\nIf the subscription is not on a plan yet, it is attached in place and keeps its `id`. If it is already on a plan, it is canceled and replaced by a **new** subscription on the target plan; the response is the replacement, and its `previous_subscription_id` points at the subscription it replaced.\n\nIn both cases the change takes effect at the subscription's **next renewal** — no charge is made now and nothing is prorated or refunded.",
        "operationId": "change-subscription-plan",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "description": "The unique identifier of a subscription.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "X-Account-Code",
            "schema": {
              "type": "string"
            },
            "description": "Optional. The `account_id` found in your [Yuno Dashboard](https://dashboard.y.uno/developers) (UUID). This route is scoped by `{subscription_id}` in the path, not by this header — omitting it does not return a 400; the subscription is resolved directly by id.",
            "required": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan_id"
                ],
                "properties": {
                  "plan_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The unique identifier of the plan to move the subscription onto.",
                    "examples": [
                      "1904911d-5df9-429e-8488-ad41abea1a4d"
                    ]
                  },
                  "skip_trial": {
                    "type": "boolean",
                    "default": false,
                    "description": "Plan-to-plan changes only. When `true`, the replacement subscription does not adopt the target plan's trial or intro phases: it bills that plan's regular price from its first charge and its status stays `ACTIVE` instead of becoming `TRIALING`. Use it to stop subscribers from earning a fresh trial by switching plans. Sending `true` on a subscription that is not on a plan returns `400`; `false` and an omitted flag are equivalent and always accepted.",
                    "examples": [
                      true
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Default (adopts the target plan's trial)": {
                    "value": {
                      "id": "8f11a2b0-6c1d-4a77-9f3e-2b5c8d0e91aa",
                      "name": "sub_001",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "country": "US",
                      "description": "streaming service",
                      "merchant_reference": "001_marzo_23",
                      "status": "TRIALING",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 8,
                        "current": 1,
                        "next_at": "2024-01-16T20:46:54.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                        "card": {
                          "installments": null,
                          "network_transaction_id": null,
                          "usage": "FIRST"
                        }
                      },
                      "availability": {
                        "start_at": "2024-01-16T20:46:54.786342Z",
                        "finish_at": null
                      },
                      "retries": {
                        "retry_on_decline": false,
                        "amount": 6,
                        "strategy": "DEFAULT",
                        "schedule": null,
                        "stop_on_hard_decline": null,
                        "cancel_on_exhausted_retries": null
                      },
                      "metadata": [
                        {
                          "key": "sub_ext_id",
                          "value": "AA001"
                        }
                      ],
                      "additional_data": null,
                      "trial_period": null,
                      "initial_payment_validation": false,
                      "reason": null,
                      "subscription_agreement_id": null,
                      "soft_descriptor": null,
                      "renewal_notification_days": null,
                      "cancellation_time": null,
                      "cancellation_source": null,
                      "ending_time": null,
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T20:46:54.786342Z",
                      "plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "plan_assigned_at": "2023-12-16T20:46:54.786342Z",
                      "previous_subscription_id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "phases": [
                        {
                          "order": 1,
                          "name": "Intro",
                          "type": "TRIAL",
                          "duration": {
                            "type": "MONTH",
                            "value": 2
                          },
                          "frequency": {
                            "type": "MONTH",
                            "value": 1
                          },
                          "amount": {
                            "value": 5000,
                            "currency": "USD"
                          },
                          "total_payments": 2,
                          "country_prices": []
                        },
                        {
                          "order": 2,
                          "name": "Regular",
                          "type": "REGULAR",
                          "duration": null,
                          "frequency": null,
                          "amount": null,
                          "total_payments": null,
                          "country_prices": []
                        }
                      ],
                      "current_phase": "TRIAL",
                      "billing_phases": [
                        {
                          "order": 1,
                          "type": "TRIAL",
                          "name": "Intro",
                          "amount": {
                            "value": 5000,
                            "currency": "USD"
                          },
                          "frequency": {
                            "type": "MONTH",
                            "value": 1
                          },
                          "start_cycle": 1,
                          "end_cycle": 2
                        }
                      ],
                      "pending_plan_change": null,
                      "current_period_start": "2026-09-05T00:00:00Z",
                      "current_period_end": "2026-10-05T00:00:00Z",
                      "current_phase_end": "2026-10-05T00:00:00Z"
                    }
                  },
                  "skip_trial: true": {
                    "value": {
                      "id": "9c2d4e6f-1a3b-4c5d-8e7f-0a1b2c3d4e5f",
                      "name": "sub_001",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "country": "US",
                      "description": "streaming service",
                      "merchant_reference": "001_marzo_23",
                      "status": "ACTIVE",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 8,
                        "current": 1,
                        "paid": 0,
                        "next_at": "2024-01-16T20:46:54.786342Z"
                      },
                      "current_period_start": "2023-12-16T20:46:54.786342Z",
                      "current_period_end": "2024-01-16T20:46:54.786342Z",
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                        "card": {
                          "installments": null,
                          "network_transaction_id": null,
                          "usage": "FIRST"
                        }
                      },
                      "availability": {
                        "start_at": "2024-01-16T20:46:54.786342Z",
                        "finish_at": null
                      },
                      "retries": {
                        "retry_on_decline": false,
                        "amount": 6,
                        "strategy": "DEFAULT",
                        "schedule": null,
                        "stop_on_hard_decline": null,
                        "cancel_on_exhausted_retries": null
                      },
                      "metadata": [
                        {
                          "key": "sub_ext_id",
                          "value": "AA001"
                        }
                      ],
                      "additional_data": null,
                      "trial_period": {
                        "billing_cycles": 2,
                        "amount": {
                          "value": 5000,
                          "currency": "USD"
                        }
                      },
                      "initial_payment_validation": false,
                      "reason": null,
                      "subscription_agreement_id": null,
                      "soft_descriptor": null,
                      "renewal_notification_days": null,
                      "cancellation_time": null,
                      "cancellation_source": null,
                      "ending_time": null,
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T20:46:54.786342Z",
                      "plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "plan_assigned_at": "2023-12-16T20:46:54.786342Z",
                      "previous_subscription_id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "pending_plan_change": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "NOT_AUTHENTICATED",
                      "messages": [
                        "Not authenticated"
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHENTICATED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_STATE",
                      "messages": [
                        "The subscription status <STATUS> does not support plan changes."
                      ]
                    }
                  },
                  "PIX AUTOMATICO CADENCE NOT SUPPORTED": {
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "Pix Automático only supports weekly, monthly, quarterly, half-yearly or yearly frequencies with value 1."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "PLAN_NOT_FOUND",
                      "messages": [
                        "Plan not found."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
