{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions": {
      "post": {
        "summary": "Create Subscription",
        "description": "",
        "operationId": "create-subscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "account_id",
                  "country",
                  "payment_method"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The subscription plan name (MAX 255; MIN 3)."
                  },
                  "description": {
                    "type": "string",
                    "description": "The subscription plan description (MAX 255; MIN 3)."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account that will have the subscription plan available to use (UUID, 36 chars)."
                  },
                  "merchant_reference": {
                    "type": "string",
                    "description": "Identification of the subscription plan (MAX 255; MIN 3)."
                  },
                  "soft_descriptor": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Statement descriptor shown on the cardholder's bank statement. When set, it is persisted on the subscription and propagated to every rebill payment generated by the subscription engine. Length and formatting limits vary by provider (for example, Unlimit truncates to 22 characters and Airwallex to 30). Worldpay does not read this field; it builds the statement narrative from `payment_description` instead."
                  },
                  "country": {
                    "type": "string",
                    "description": "The subscription's country (MAX 2; MIN 2; [ISO 3166-1](/reference/country-reference))."
                  },
                  "amount": {
                    "type": "object",
                    "description": "Specifies the `amount` object, with the value of each subscription payment and the used currency. Mutually exclusive with `plan_id` — send exactly one of the two.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](/reference/country-reference))."
                      },
                      "value": {
                        "type": "number",
                        "description": "The value of each payment of the subscription (multiple of 0.0001).",
                        "format": "float"
                      }
                    }
                  },
                  "plan_id": {
                    "type": "string",
                    "description": "The unique identifier of a [plan](/reference/plans/the-plan-object) to subscribe this customer to. Mutually exclusive with `amount` — send exactly one of the two. Omit `frequency`, `trial_period` and `billing_date` when set: all three are inherited from the plan, and the request is rejected with `400 INVALID_PARAMETERS` (\"The fields 'frequency', 'trial_period' and 'billing_date' cannot be sent when 'plan_id' is set\") if you send any of them."
                  },
                  "additional_data": {
                    "type": "object",
                    "description": "Specifies the additional_data object. This object is not mandatory. However, if you send this information, the payment experience will be enhanced for your user.",
                    "properties": {
                      "order": {
                        "type": "object",
                        "description": "Specifies the order object.",
                        "properties": {
                          "items": {
                            "type": "array",
                            "description": "Specifies the item's object.",
                            "items": {
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The unique identifier of the item (MAX 255; MIN 3)."
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name of the item (MAX 255; MIN 3)."
                                },
                                "quantity": {
                                  "type": "integer",
                                  "description": "The quantity of the item.",
                                  "format": "int32"
                                },
                                "unit_amount": {
                                  "type": "number",
                                  "description": "The unit amount of the item (multiple of 0.0001)."
                                },
                                "category": {
                                  "type": "string",
                                  "description": "The category of the item. Check the Item category reference.",
                                  "enum": [
                                    "art",
                                    "baby",
                                    "coupons",
                                    "beauty_&_personal_care",
                                    "donations",
                                    "computing",
                                    "books",
                                    "grocery_&_gourmet_food",
                                    "cameras",
                                    "video_games",
                                    "television",
                                    "car_electronics",
                                    "electronics",
                                    "automotive",
                                    "toys_&_games",
                                    "musical_instruments",
                                    "handmade",
                                    "garden_&_outdoor",
                                    "entertainment",
                                    "industrial_&_scientific",
                                    "fashion",
                                    "games",
                                    "pet_supplies",
                                    "home",
                                    "musical",
                                    "phones",
                                    "services",
                                    "learnings",
                                    "tickets",
                                    "travels",
                                    "virtual_goods",
                                    "others"
                                  ]
                                },
                                "brand": {
                                  "type": "string",
                                  "description": "The brand of the item (MAX 255; MIN 3)."
                                },
                                "sku_code": {
                                  "type": "string",
                                  "description": "The stock keeping unit (SKU) of the item (MAX 255; MIN 3)."
                                },
                                "manufacture_part_number": {
                                  "type": "string",
                                  "description": "The manufacture part number of the item."
                                }
                              },
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  },
                  "frequency": {
                    "type": "object",
                    "description": "Specifies the `frequency` object. Defines the billing frequency for the subscription. Including type and value.",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of interval the subscription will have in time. If not set, defaults to MONTH. Accepted on this endpoint: `DAY`, `WEEK`, `MONTH`, `QUARTER`, `HALF_YEAR` and `MINUTES` (the last for fast test cycles). **`YEAR` is rejected** — it returns `400 BAD_REQUEST` (\"YEAR is invalid for frequency.type field\") for every `payment_method.type`; use `MONTH` with `value` `12` for a yearly cadence. When `payment_method.type` is `PIX_AUTOMATIC` the Pix rail additionally requires `value` `1` — any other value is rejected with `400 INVALID_PARAMETERS` (\"Pix Automático only supports weekly, monthly, quarterly, half-yearly or yearly frequencies with value 1.\"). See [Pix Automático](/docs/payment-features/subscriptions/pix-automatico#accepted-billing-cadences).",
                        "enum": [
                          "DAY",
                          "WEEK",
                          "MONTH",
                          "QUARTER",
                          "HALF_YEAR",
                          "MINUTES"
                        ]
                      },
                      "value": {
                        "type": "integer",
                        "description": "The value between each interval. Min 1. Defaults to 1 if not set.",
                        "format": "int32"
                      }
                    }
                  },
                  "billing_cycles": {
                    "type": "object",
                    "description": "Specifies the `billing_cycles` object. Defines the number of charges associated to the subscription.",
                    "properties": {
                      "total": {
                        "type": "integer",
                        "description": "The total number of billing cycles for the subscription (MIN 1).",
                        "format": "int32"
                      }
                    }
                  },
                  "customer_payer": {
                    "type": "object",
                    "description": "Specifies the `customer_payer` object to identify the customer.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the customer (UUID, 36 chars)."
                      }
                    }
                  },
                  "payment_method": {
                    "type": "object",
                    "description": "Specifies the `payment_method` object. Supported types are `CARD`, `PAYPAL_ENROLLMENT` and `PIX_AUTOMATIC`, all using previously enrolled payment methods (`vaulted_token`)",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Payment method type. `PIX_AUTOMATIC` bills a Brazilian Pix Automático mandate, is matched case-insensitively, and restricts the billing cadence — see [Pix Automático](/docs/payment-features/subscriptions/pix-automatico).",
                        "enum": [
                          "CARD",
                          "PAYPAL_ENROLLMENT",
                          "PIX_AUTOMATIC"
                        ]
                      },
                      "vaulted_token": {
                        "type": "string",
                        "description": "The vaulted token (UUID, 36 chars)."
                      },
                      "card": {
                        "type": "object",
                        "properties": {
                          "installments": {
                            "type": "integer",
                            "description": "The number of installments (MAX 50; MIN 1)."
                          },
                          "network_transaction_id": {
                            "type": "string",
                            "description": "The ID provided by Visa/Mastercard in the response of the initial payment (MAX 256; MIN 1)."
                          },
                          "usage": {
                            "type": "string",
                            "description": "Indicates whether this stored credential is being used for the first time (FIRST) or has been used before (USED). Required if a CIT payment was created before the subscription — without it, rebills are treated as CITs and may be declined.",
                            "enum": [
                              "FIRST",
                              "USED"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "trial_period": {
                    "type": "object",
                    "description": "Specifies the trial period object",
                    "properties": {
                      "billing_cycles": {
                        "type": "integer",
                        "description": "The amount of cycles the trial period will have in time. If not set, defaults to 1 (MIN 1).",
                        "format": "int32"
                      },
                      "amount": {
                        "type": "object",
                        "description": "Amount to be discounted for the trial period",
                        "required": [
                          "currency",
                          "value"
                        ],
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](/reference/country-reference))."
                          },
                          "value": {
                            "type": "number",
                            "description": "The value of each payment of the subscription (multiple of 0.0001).",
                            "format": "float"
                          }
                        }
                      }
                    }
                  },
                  "availability": {
                    "type": "object",
                    "description": "Specifies the `availability` object. Defines a date interval based on starting and ending dates when the subscription is available to use.",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "The start date that the subscription plan will be available to use. If not set, the subscription is available from the moment it is created.",
                        "format": "date-time"
                      },
                      "finish_at": {
                        "type": "string",
                        "description": "The end date until the subscription plan will be available to use. If not defined, the subscription does not have an expiration date.",
                        "format": "date-time"
                      }
                    }
                  },
                  "metadata": {
                    "type": "array",
                    "description": "Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Keys can be unset by posting an empty value to metadata. You can add up to 50 metadata objects.",
                    "items": {
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The metadata key (MAX 48)."
                        },
                        "value": {
                          "type": "string",
                          "description": "The metadata key value (MAX 512)."
                        }
                      },
                      "type": "object"
                    }
                  },
                  "retries": {
                    "type": "object",
                    "description": "Specified the 'retries' object. If we need to retry declined transactions in Yuno and the amount if necessary",
                    "properties": {
                      "retry_on_decline": {
                        "type": "boolean",
                        "description": "If we should retry a payment or not after a first decline. False by default."
                      },
                      "amount": {
                        "type": "integer",
                        "description": "The number of retries the subscription will attempt. Defaults to 6 when not set. **The maximum is 6 and it is enforced, not clamped** — sending a higher value is rejected with `400 INVALID_PARAMETERS` (\"Max retries attempts exceeded.\").",
                        "format": "int32"
                      },
                      "strategy": {
                        "type": "string",
                        "description": "The retry strategy. Allowed values: DEFAULT (the fixed retry schedule), SMART (machine-learning-based retry timing, applied from the second retry onward) or CUSTOM_SCHEDULE (uses the per-attempt schedule array you provide).",
                        "enum": [
                          "DEFAULT",
                          "SMART",
                          "CUSTOM_SCHEDULE"
                        ]
                      },
                      "schedule": {
                        "type": "array",
                        "description": "Object that define the schedule strategy for each retry event, the amounts of objects should match the amount of retries defined. Up to 7 attempts; attempt numbers must run sequentially from 1, and each delay_seconds must be between 1 and 604800 (7 days). The schedule can be replaced later via Update Subscription.",
                        "items": {
                          "properties": {
                            "attempt": {
                              "type": "number",
                              "description": "Number of the retry attempt"
                            },
                            "delay_seconds": {
                              "type": "number",
                              "description": "Specifies the amount of seconds between each retry."
                            }
                          },
                          "type": "object"
                        }
                      },
                      "stop_on_hard_decline": {
                        "type": "boolean",
                        "description": "When true, the retry schedule stops for the current billing cycle after a hard decline. On its own, the subscription remains ACTIVE and billing advances to the next cycle; no subscription is canceled or paused and no subscription webhook is emitted. If cancel_on_exhausted_retries is also true, the subscription is canceled instead."
                      },
                      "cancel_on_exhausted_retries": {
                        "type": "boolean",
                        "description": "When true, the subscription is canceled once retries for a billing cycle end without a successful payment, instead of remaining ACTIVE and advancing to the next cycle. The subscription status becomes CANCELED, cancellation_source is set to RETRIES_EXHAUSTED, future billing stops, and a single SUBSCRIPTION.CANCEL webhook is emitted. Applies both when the retry schedule runs out and when stop_on_hard_decline ends the cycle early. Defaults to false, which preserves the existing behavior. Create-only: it cannot be changed later — Update Subscription rejects a different value with 400. The cancellation itself is final, so Retry Subscription is rejected afterwards."
                      }
                    }
                  },
                  "initial_payment_validation": {
                    "type": "boolean",
                    "description": "Flag to identify if the subscription should wait for the first payment in order to continue. False by default."
                  },
                  "billing_date": {
                    "type": "object",
                    "description": "Specifies the `billing_date` object. Defines the type of date use for the subscription logic. Mutually exclusive with the frequency object.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of billing_date the subscription will have in time. PREPAID, POSTDATE, DAY. If not set, the creation date for the plan will be set  by default."
                      },
                      "day": {
                        "type": "integer",
                        "description": "[Conditional] The day of the month to charge the subscription if type is DAY. Default is 1. Range 1 - 31."
                      }
                    }
                  },
                  "subscription_agreement_id": {
                    "type": "string",
                    "description": "Links this subscription to the initial payment created with the same agreement ID. Used for tracking, reconciliation, and chargeback handling. Must exactly match the `subscription_agreement_id` sent in `payment_method.detail.card.stored_credentials.subscription_agreement_id` on the originating payment (MAX 255)."
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Free-form reason for the subscription's status, echoed back on the created subscription (MAX 255)."
                  }
                }
              },
              "examples": {
                "Subscription": {
                  "value": {
                    "name": "Test Subscription",
                    "description": "Subscription Test",
                    "merchant_reference": "subscription-ref-merchant-AA01",
                    "soft_descriptor": "ACME SUBSCRIPTION",
                    "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                    "country": "CL",
                    "amount": {
                      "currency": "CLP",
                      "value": 15000
                    },
                    "frequency": {
                      "type": "MONTH",
                      "value": 1
                    },
                    "billing_cycles": {
                      "total": 12
                    },
                    "customer_payer": {
                      "id": "a1d3b664-e32a-4508-9da1-9ede3e62a60c"
                    },
                    "payment_method": {
                      "type": "CARD",
                      "vaulted_token": "d4aa3586-def2-4705-b7cd-fe064bb764e6",
                      "card": {
                        "installments": 3
                      }
                    },
                    "availability": {
                      "start_at": "2024-11-01T00:00:00Z"
                    },
                    "trial_period": {
                      "billing_cycles": 1,
                      "amount": {
                        "currency": "CLP",
                        "value": 0
                      }
                    },
                    "metadata": [
                      {
                        "key": "plan",
                        "value": "gold"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "NOT_AUTHENTICATED",
                      "messages": [
                        "Not authenticated"
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHENTICATED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "CREATE SUBSCRIPTION": {
                    "value": {
                      "id": "0c7fed3e-ee0d-4d34-9547-778be4ec0798",
                      "name": "Test Subscription",
                      "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                      "country": "US",
                      "description": "Subscription Test",
                      "merchant_reference": "subscription-ref-merchant-AA01",
                      "soft_descriptor": "ACME SUBSCRIPTION",
                      "status": "ACTIVE",
                      "amount": {
                        "currency": "USD",
                        "value": 15000
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 12,
                        "current": 1,
                        "next_at": "2024-09-30T12:04:23.265393Z"
                      },
                      "customer_payer": {
                        "id": "a1d3b664-e32a-4508-9da1-9ede3e62a60c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "vaulted_token": "d4aa3586-def2-4705-b7cd-fe064bb764e6",
                        "card": {
                          "installments": 3,
                          "network_transaction_id": null,
                          "usage": "FIRST"
                        }
                      },
                      "availability": {
                        "start_at": "2024-09-30T12:04:23.265393Z",
                        "finish_at": null
                      },
                      "trial_period": {
                        "billing_cycles": 1,
                        "amount": {
                          "value": 0,
                          "currency": ""
                        }
                      },
                      "metadata": null,
                      "created_at": "2024-09-30T12:04:23.265372Z",
                      "updated_at": "2024-09-30T12:04:23.265372Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "0c7fed3e-ee0d-4d34-9547-778be4ec0798"
                    },
                    "name": {
                      "type": "string",
                      "example": "Test Subscription"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "493e9374-510a-4201-9e09-de669d75f256"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "description": {
                      "type": "string",
                      "example": "Subscription Test"
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "subscription-ref-merchant-AA01"
                    },
                    "soft_descriptor": {
                      "type": "string",
                      "example": "ACME SUBSCRIPTION"
                    },
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "integer",
                          "example": 15000,
                          "default": 0
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "MONTH"
                        },
                        "value": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    },
                    "billing_cycles": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 12,
                          "default": 0
                        },
                        "current": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "paid": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "next_at": {
                          "type": "string",
                          "example": "2024-09-30T12:04:23.265393Z"
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "a1d3b664-e32a-4508-9da1-9ede3e62a60c"
                        }
                      }
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "vaulted_token": {
                          "type": "string",
                          "example": "d4aa3586-def2-4705-b7cd-fe064bb764e6"
                        },
                        "card": {
                          "type": "object",
                          "nullable": true,
                          "description": "Present only when payment_method.type is CARD.",
                          "properties": {
                            "installments": {
                              "type": "integer",
                              "nullable": true,
                              "example": 3
                            },
                            "network_transaction_id": {
                              "type": "string",
                              "nullable": true,
                              "example": "177447700566392"
                            },
                            "usage": {
                              "type": "string",
                              "nullable": true,
                              "description": "FIRST or USED. Echoed back verbatim when sent on the request; when omitted, the engine infers it from the vaulted_token's own use history (a token used for the first time here comes back FIRST) rather than staying null.",
                              "example": "USED"
                            }
                          }
                        }
                      }
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2024-09-30T12:04:23.265393Z"
                        },
                        "finish_at": {}
                      }
                    },
                    "trial_period": {
                      "type": "object",
                      "properties": {
                        "billing_cycles": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "currency": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        }
                      }
                    },
                    "retries": {
                      "type": "object",
                      "nullable": true,
                      "description": "The retry policy applied when a recurring charge is declined. See [Retries](/docs/payment-features/subscriptions/retries).",
                      "properties": {
                        "retry_on_decline": {
                          "type": "boolean",
                          "description": "Whether declined charges are retried at all.",
                          "example": true
                        },
                        "amount": {
                          "type": "integer",
                          "description": "How many retries a billing cycle gets. Capped by your environment's retry schedule length (6 in production).",
                          "example": 4
                        },
                        "strategy": {
                          "type": "string",
                          "description": "How the timing of each retry is decided: `DEFAULT`, `SMART` or `CUSTOM_SCHEDULE`. Treat as open-ended — handle unrecognized values gracefully.",
                          "example": "DEFAULT"
                        },
                        "schedule": {
                          "type": "array",
                          "nullable": true,
                          "description": "The per-attempt schedule, only set when `strategy` is `CUSTOM_SCHEDULE`; `null` otherwise.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "stop_on_hard_decline": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, a hard decline stops the retries for the current billing cycle."
                        },
                        "cancel_on_exhausted_retries": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, the subscription is canceled once a cycle's retries end without a successful payment, with `cancellation_source` set to `RETRIES_EXHAUSTED`."
                        },
                        "profile": {
                          "type": "string",
                          "description": "The fixed retry ladder the subscription follows instead of the configurable schedule. Always `PIX_AUTOMATIC`. This field and the three below are only present on `PIX_AUTOMATIC` subscriptions that Yuno executes; they are absent, not `null`, on every other payment method. See [Pix Automático](/docs/payment-features/subscriptions/pix-automatico#the-retry-ladder).",
                          "example": "PIX_AUTOMATIC"
                        },
                        "max_attempts": {
                          "type": "integer",
                          "description": "How many retries the Pix ladder runs. Always 3, matching the `amount` reported for these subscriptions.",
                          "example": 3
                        },
                        "min_gap_hours": {
                          "type": "integer",
                          "description": "Always 24 — the gap between the ladder's debit dates (`D`, `D+1`, `D+2`, `D+3`), not between dispatch attempts.",
                          "example": 24
                        },
                        "until": {
                          "type": "string",
                          "description": "When the ladder stops — `billing_cycles.next_at` plus 7 days. Moves with `next_at` at every renewal."
                        }
                      }
                    },
                    "additional_data": {
                      "type": "object",
                      "nullable": true,
                      "description": "The optional order enrichment sent at creation, echoed back. See [The Subscription Object](/reference/subscriptions/the-subscription-object) for its full shape."
                    },
                    "initial_payment_validation": {
                      "type": "boolean",
                      "description": "Whether the subscription waited for its first payment to succeed before activating. `false` by default.",
                      "example": false
                    },
                    "metadata": {},
                    "reason": {
                      "type": "string",
                      "nullable": true,
                      "description": "Free-form reason for the subscription's current status, when one was recorded; `null` otherwise.",
                      "example": "merchant request"
                    },
                    "renewal_notification_days": {
                      "type": "integer",
                      "nullable": true,
                      "description": "How many days before the next billing date the `subscription.close_to_renewal` webhook is sent. `null` means no renewal notification is sent.",
                      "example": 3
                    },
                    "plan_id": {
                      "type": "string",
                      "description": "Only present when the subscription is linked to a plan."
                    },
                    "plan_assigned_at": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions. The moment the plan was attached — at creation from a plan, migration onto a plan, or a plan change."
                    },
                    "previous_subscription_id": {
                      "type": "string",
                      "description": "Only present when this subscription was created by a plan change (switching an existing subscription to a different plan)."
                    },
                    "phases": {
                      "type": "array",
                      "description": "Only present on plan-linked subscriptions whose plan has a phase ladder. The plan's full phase list (TRIAL and terminal REGULAR entries), snapshotted at creation.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "TRIAL",
                              "REGULAR"
                            ]
                          },
                          "duration": {
                            "type": "object",
                            "nullable": true,
                            "description": "Omitted on the terminal REGULAR phase.",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "amount": {
                            "type": "object",
                            "nullable": true,
                            "description": "Omitted on the terminal REGULAR phase; its price comes from the plan's base_amount/country_prices instead.",
                            "properties": {
                              "value": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              }
                            }
                          },
                          "total_payments": {
                            "type": "integer",
                            "nullable": true
                          },
                          "country_prices": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    },
                    "current_phase": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions whose plan has a phase ladder."
                    },
                    "current_phase_end": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions whose plan has a phase ladder. When the current phase ends."
                    },
                    "billing_phases": {
                      "type": "array",
                      "description": "Only present on plan-linked subscriptions whose plan has phases. Contains the leading TRIAL phases only, snapshotted at creation — the terminal REGULAR phase is never included, since its price isn't pinned and instead resolves from the plan at every billing.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "integer"
                          },
                          "type": {
                            "type": "string",
                            "description": "Always TRIAL — the terminal REGULAR phase is never in this array."
                          },
                          "name": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "start_cycle": {
                            "type": "integer"
                          },
                          "end_cycle": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "pending_plan_change": {
                      "type": "object",
                      "nullable": true,
                      "description": "The plan change scheduled for the next billing cycle, or null when none is pending. Schedule one with the `plan_change` block on Update Subscription.",
                      "properties": {
                        "plan_id": {
                          "type": "string",
                          "description": "The identifier of the target plan.",
                          "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                        },
                        "plan_name": {
                          "type": "string",
                          "description": "The name of the target plan.",
                          "example": "Pro"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "UPGRADE",
                            "DOWNGRADE"
                          ],
                          "description": "Whether the target plan is an upgrade or a downgrade. Informational only.",
                          "example": "UPGRADE"
                        },
                        "effective": {
                          "type": "string",
                          "enum": [
                            "NEXT_BILLING_CYCLE"
                          ],
                          "description": "When the change applies.",
                          "example": "NEXT_BILLING_CYCLE"
                        },
                        "phases_behavior": {
                          "type": "string",
                          "enum": [
                            "START_FROM_REGULAR",
                            "HONOR_PHASES"
                          ],
                          "description": "What happens when the target plan has phases.",
                          "example": "START_FROM_REGULAR"
                        },
                        "applies_at": {
                          "type": "string",
                          "description": "The billing event the change will take effect on — the subscription's next billing date.",
                          "example": "2023-02-16T20:00:00.786342Z"
                        },
                        "requested_at": {
                          "type": "string",
                          "description": "When the change was scheduled.",
                          "example": "2023-01-20T10:12:31.786342Z"
                        }
                      }
                    },
                    "subscription_agreement_id": {
                      "type": "string",
                      "example": "sa_6af2dfcd-44c0-4f16-a331-8bed3ed9c9fa",
                      "nullable": true
                    },
                    "cancellation_time": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the subscription was canceled. Only set once it reaches `CANCELED`; `null` otherwise.",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "cancellation_source": {
                      "type": "string",
                      "nullable": true,
                      "description": "What triggered the cancellation: `MERCHANT`, `SYSTEM`, `PLAN_CHANGE` or `RETRIES_EXHAUSTED`. Only set once the subscription reaches `CANCELED`; `null` otherwise. Treat as open-ended — handle unrecognized values gracefully.",
                      "example": "MERCHANT"
                    },
                    "ending_time": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the subscription completed or expired. Only set once it reaches `COMPLETED`; `null` otherwise.",
                      "example": "2024-12-16T20:46:54.786342Z"
                    },
                    "current_period_start": {
                      "type": "string",
                      "nullable": true,
                      "description": "Start of the billing period the subscription is currently in, one cadence before `current_period_end`. Inside a trial or any other plan phase it follows that phase's cadence. A terminal subscription (`CANCELED` or `COMPLETED`) keeps its final window rather than going null. Null only for a subscription with no recurring cadence. Always returned together with current_period_end.",
                      "example": "2023-01-16T20:00:00.912480Z"
                    },
                    "current_period_end": {
                      "type": "string",
                      "nullable": true,
                      "description": "End of the billing period the subscription is currently in. Equal to billing_cycles.next_at. Always returned together with current_period_start.",
                      "example": "2023-02-16T20:00:00.786342Z"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2024-09-30T12:04:23.265372Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2024-09-30T12:04:23.265372Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The field 'name' is required.",
                        "The field 'account_id' is required."
                      ]
                    },
                    "summary": "Result"
                  },
                  "PIX AUTOMATICO CADENCE NOT SUPPORTED": {
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "Pix Automático only supports weekly, monthly, quarterly, half-yearly or yearly frequencies with value 1."
                      ]
                    }
                  },
                  "INLINE YEAR WITHOUT A PLAN": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "YEAR is invalid for frequency.type field"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_PARAMETERS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "parameters": [
          {
            "in": "header",
            "name": "x-idempotency-key",
            "schema": {
              "type": "string",
              "default": "{$randomUUID}"
            },
            "description": "A unique identifier for the request. Must be different each time (UUID). See [authentication](/reference/authentication#idempotency)."
          }
        ]
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
