{
  "openapi": "3.1.0",
  "info": { "title": "subscription", "version": "1.0.0" },
  "servers": [{ "url": "https://api-sandbox.y.uno/v1" }],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "public-api-key", "x-default": "<Your public-api-key>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "private-secret-key", "x-default": "<Your private-secret-key>" }
    }
  },
  "security": [{ "sec0": [], "sec1": [] }],
  "paths": {
    "/subscriptions": {
      "get": {
        "summary": "List Subscriptions",
        "description": "Lists the account's subscriptions with combinable filters and page-based pagination. All statuses are returned unless the `status` filter is set. Results are sorted by `created_at` descending. Each item is a summary — a subset of [the subscription object](/reference/subscriptions/the-subscription-object); fetch the full detail with [Retrieve Subscription](/reference/subscriptions/retrieve-subscription).",
        "operationId": "list-subscriptions",
        "parameters": [
          {
            "name": "X-account-code",
            "in": "header",
            "description": "The unique identifier (UUID) of the account whose subscriptions are listed. Required.",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, starting at 1. Defaults to 1. Values below 1 are rejected with `400 BAD_REQUEST`.",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Items per page. 1-100, defaults to 20. Values outside the range are rejected with `400 BAD_REQUEST`.",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Filter by customer identifier (UUID).",
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by subscription status. Accepts a comma-separated multi-value, e.g. `ACTIVE,PAUSED`. Valid values: `CREATED`, `ACTIVE`, `TRIALING`, `PAUSED`, `COMPLETED`, `CANCELED`, `ERROR`.",
            "schema": { "type": "string" }
          },
          {
            "name": "plan_id",
            "in": "query",
            "description": "Filter by plan identifier (UUID). An unknown plan returns an empty list.",
            "schema": { "type": "string" }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "description": "Filter by creation date from (ISO-8601 with offset, inclusive), e.g. `2026-07-01T00:00:00Z`.",
            "schema": { "type": "string" }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "description": "Filter by creation date to (ISO-8601 with offset, inclusive).",
            "schema": { "type": "string" }
          },
          {
            "name": "payment_method_type",
            "in": "query",
            "description": "Filter by payment method type, e.g. `CARD`. Exact match.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "items": [
                        {
                          "id": "00000000-0000-4000-8000-000000000020",
                          "name": "Gold plan subscription",
                          "status": "ACTIVE",
                          "merchant_reference": "my-subscription-001",
                          "account_id": "00000000-0000-4000-8000-000000000001",
                          "customer_payer": { "id": "00000000-0000-4000-8000-000000000002" },
                          "amount": { "currency": "USD", "value": 9.99 },
                          "frequency": { "type": "MONTH", "value": 1 },
                          "billing_cycles": { "total": 12, "current": 3, "next_at": "2026-08-28T20:41:42.454996Z" },
                          "payment_method": { "type": "CARD" },
                          "plan_id": "00000000-0000-4000-8000-000000000003",
                          "created_at": "2026-07-28T20:41:42.454996Z"
                        }
                      ],
                      "pagination": { "page": 1, "size": 20, "total": 59, "total_pages": 3 }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Size over the maximum": {
                    "value": { "code": "BAD_REQUEST", "messages": ["The size must be at most 100."] }
                  },
                  "Invalid status value": {
                    "value": { "code": "BAD_REQUEST", "messages": ["Invalid status: SOMETHING."] }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
