{
  "openapi": "3.1.0",
  "info": { "title": "subscription", "version": "1.0.2" },
  "servers": [{ "url": "https://api-sandbox.y.uno/v1" }, { "url": "https://api.eu.y.uno/v1" }],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "public-api-key", "x-default": "<Your public-api-key>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "private-secret-key", "x-default": "<Your private-secret-key>" }
    }
  },
  "security": [{ "sec0": [], "sec1": [] }],
  "paths": {
    "/subscriptions": {
      "get": {
        "summary": "List Subscriptions",
        "description": "Lists the account's subscriptions with combinable filters and page-based pagination. All statuses are returned unless the `status` filter is set. Results are sorted by `created_at` descending, with a deterministic tiebreak so paging stays stable across requests. Each item is a summary — a subset of [the subscription object](/reference/subscriptions/the-subscription-object); fetch the full detail with [Retrieve Subscription](/reference/subscriptions/retrieve-subscription).",
        "operationId": "list-subscriptions",
        "parameters": [
          {
            "name": "x-account-code",
            "in": "header",
            "description": "The unique identifier (UUID) of the account whose subscriptions are listed. Required.",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, starting at 1. Defaults to 1. Values below 1 are rejected with `400 BAD_REQUEST`. Non-numeric values are ignored and the default is used — the response echoes the `page` actually applied, so read it back from `pagination` rather than assuming your input was honored.",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Items per page. 1-100, defaults to 20. Values outside the range are rejected with `400 BAD_REQUEST`. Non-numeric values are ignored and the default is used — the response echoes the `size` actually applied, so read it back from `pagination` rather than assuming your input was honored.",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Filter by customer identifier. Must be a UUID, else `400 BAD_REQUEST` (\"Invalid customer_id.\").",
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by subscription status. Accepts a comma-separated multi-value, e.g. `ACTIVE,PAUSED`. Values are matched against the subscription status set — see [the subscription object](/reference/subscriptions/the-subscription-object) — and an unknown value is rejected with `400 BAD_REQUEST` (\"Invalid status: SOMETHING.\"). New statuses may be added over time, so treat `status` as an open set when parsing list items. Comma-separated is the only supported multi-value form: repeating the parameter (`?status=ACTIVE&status=PAUSED`) applies the first value only and silently ignores the rest. The same applies to every filter on this endpoint.",
            "schema": { "type": "string" }
          },
          {
            "name": "plan_id",
            "in": "query",
            "description": "Filter by plan identifier. An unknown plan returns an empty list. Must be a UUID, else `400 BAD_REQUEST` (\"Invalid plan_id.\").",
            "schema": { "type": "string" }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "description": "Filter by creation date from (inclusive), e.g. `2026-07-01T00:00:00Z`. Must be ISO-8601 with an offset — a bare date or an offset-less timestamp is rejected with `400 BAD_REQUEST` (\"Invalid created_at_from.\").",
            "schema": { "type": "string" }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "description": "Filter by creation date to (inclusive). Must be ISO-8601 with an offset — a bare date or an offset-less timestamp is rejected with `400 BAD_REQUEST` (\"Invalid created_at_to.\").",
            "schema": { "type": "string" }
          },
          {
            "name": "payment_method_type",
            "in": "query",
            "description": "Filter by payment method type, e.g. `CARD`. Exact match.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "items": [
                        {
                          "id": "00000000-0000-4000-8000-000000000020",
                          "name": "Gold plan subscription",
                          "status": "ACTIVE",
                          "merchant_reference": "my-subscription-001",
                          "account_id": "00000000-0000-4000-8000-000000000001",
                          "customer_payer": { "id": "00000000-0000-4000-8000-000000000002" },
                          "amount": { "currency": "USD", "value": 9.99 },
                          "frequency": { "type": "MONTH", "value": 1, "monthly_billing_day": 28 },
                          "billing_cycles": { "total": 12, "current": 2, "next_at": "2026-08-28T20:41:42.454996Z" },
                          "payment_method": { "type": "CARD" },
                          "plan_id": "00000000-0000-4000-8000-000000000003",
                          "created_at": "2026-07-28T20:41:42.454996Z"
                        }
                      ],
                      "pagination": { "page": 1, "size": 20, "total": 59, "total_pages": 3 }
                    }
                  },
                  "Item with optional fields unset": {
                    "value": {
                      "items": [
                        {
                          "id": "00000000-0000-4000-8000-000000000021",
                          "name": "Open-ended subscription",
                          "status": "ACTIVE",
                          "merchant_reference": "my-subscription-002",
                          "account_id": "00000000-0000-4000-8000-000000000001",
                          "customer_payer": { "id": "00000000-0000-4000-8000-000000000002" },
                          "amount": { "currency": "USD", "value": 19.9 },
                          "frequency": null,
                          "billing_cycles": { "total": null, "current": 1, "next_at": "2026-08-28T20:41:42.454996Z" },
                          "payment_method": { "type": "CARD" },
                          "plan_id": null,
                          "created_at": "2026-07-28T20:41:42.454996Z"
                        }
                      ],
                      "pagination": { "page": 1, "size": 20, "total": 59, "total_pages": 3 }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "status": { "type": "string" },
                          "merchant_reference": { "type": "string" },
                          "account_id": { "type": "string" },
                          "customer_payer": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string" }
                            }
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": { "type": "string" },
                              "value": { "type": "number" }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "type": { "type": "string" },
                              "value": { "type": "integer" },
                              "monthly_billing_day": { "type": "integer", "minimum": 1, "maximum": 31 }
                            }
                          },
                          "billing_cycles": {
                            "type": "object",
                            "properties": {
                              "total": { "type": "integer", "nullable": true },
                              "current": { "type": "integer" },
                              "next_at": { "type": "string", "nullable": true }
                            }
                          },
                          "payment_method": {
                            "type": "object",
                            "properties": {
                              "type": { "type": "string" }
                            }
                          },
                          "plan_id": { "type": "string", "nullable": true },
                          "created_at": { "type": "string" }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "size": { "type": "integer" },
                        "total": { "type": "integer" },
                        "total_pages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Size over the maximum": {
                    "value": { "code": "BAD_REQUEST", "messages": ["The size must be at most 100."] }
                  },
                  "Invalid status value": {
                    "value": { "code": "BAD_REQUEST", "messages": ["Invalid status: SOMETHING."] }
                  },
                  "Missing account header": {
                    "value": { "code": "INVALID_PARAMETERS", "messages": ["x-account-code header is required."] }
                  },
                  "Account not accessible with these keys": {
                    "value": { "code": "INVALID_ACCOUNT_ID", "messages": ["Account id is invalid"] }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
