{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/{subscription_id}/reactivate": {
      "post": {
        "summary": "Reactivate Subscription",
        "description": "",
        "operationId": "reactivate-subscription",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "description": "The unique identifier of a subscription.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "REACTIVATE SUBSCRIPTION": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "ACTIVE",
                      "subscription_plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": [
                        {
                          "type": "CARD",
                          "token": "9104911d-5df9-429e-8488-ad41abea1a4b",
                          "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b"
                        }
                      ],
                      "availability": {
                        "start_at": "2024-01-16T00:00:00.786342Z",
                        "finish_at": "2024-05-26T20:00:00.786342Z"
                      },
                      "metadata": {
                        "key": "sub_ext_id",
                        "value": "AA001"
                      },
                      "payments": [
                        "5104911d-5df9-229e-8468-bd41abea1a4s"
                      ],
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "7304911d-5df9-429e-8488-ad41abea1a4c"
                    },
                    "name": {
                      "type": "string",
                      "example": "sub_001"
                    },
                    "description": {
                      "type": "string",
                      "example": "streaming service"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "2404911d-5df9-429e-8488-ad41abea1a4b"
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "001_marzo_23"
                    },
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "subscription_plan_id": {
                      "type": "string",
                      "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "integer",
                          "example": 12100,
                          "default": 0
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "MONTH"
                        },
                        "value": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    },
                    "billing_cycles": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10,
                          "default": 0
                        },
                        "current": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "next_at": {
                          "type": "string",
                          "example": "2023-02-16T20:00:00.786342Z"
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                        }
                      }
                    },
                    "payment_method": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "CARD"
                          },
                          "token": {
                            "type": "string",
                            "example": "9104911d-5df9-429e-8488-ad41abea1a4b"
                          },
                          "vaulted_token": {
                            "type": "string",
                            "example": "6104911d-5df9-429e-8488-ad41abea1a4b"
                          },
                          "card": {
                            "type": "object",
                            "properties": {
                              "verify": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              }
                            }
                          }
                        }
                      }
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2024-01-16T00:00:00.786342Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2024-05-26T20:00:00.786342Z"
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "example": "sub_ext_id"
                        },
                        "value": {
                          "type": "string",
                          "example": "AA001"
                        }
                      }
                    },
                    "payments": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "5104911d-5df9-229e-8468-bd41abea1a4s"
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-12-16T21:00:54.786342Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_DATE",
                      "messages": [
                        "The subscription can not be resumed due to a conflict with the availability dates. Please update availability dates and try again if you want to keep using the subscription."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "billing_cycle_behavior": {
                    "type": "string",
                    "enum": [
                      "KEEP",
                      "RESTART"
                    ],
                    "default": "KEEP",
                    "description": "What the reactivated subscription does with its billing anchor. KEEP, which is also what omitting the field does, holds the original anchor: untouched while it is still ahead, and rolled to its next occurrence once it has passed. A subscriber who comes back inside a period they already paid for is billed on the date they paid through, never at the moment of reactivation. RESTART starts the cycle from the reactivation date instead, one full period out."
                  },
                  "billing_cycles": {
                    "type": "object",
                    "description": "Only for a subscription that used up its billing cycles, where reactivating creates a successor instead of returning the original to life. It sizes that successor. Sending it for a subscription that still has cycles left returns 400.",
                    "properties": {
                      "total": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 1,
                        "example": 24,
                        "description": "How many billing cycles the successor gets. Omit the field to copy the limit the finished subscription had, send a number to set a different one, or send null to leave the successor unlimited so it bills until it is canceled."
                      }
                    }
                  }
                }
              },
              "examples": {
                "KEEP THE ORIGINAL BILLING DATE": {
                  "value": {
                    "billing_cycle_behavior": "KEEP"
                  }
                },
                "SIZE THE SUCCESSOR OF A FINISHED SUBSCRIPTION": {
                  "value": {
                    "billing_cycles": {
                      "total": 24
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
