{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/{subscription_id}/resume": {
      "post": {
        "summary": "Resume Subscription",
        "description": "",
        "operationId": "resume-subscription",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "description": "The unique identifier of a subscription.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "RESUME SUBSCRIPTION": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "status": "ACTIVE",
                      "plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                        "card": {}
                      },
                      "availability": {
                        "start_at": "2024-01-16T00:00:00.786342Z",
                        "finish_at": "2024-05-26T20:00:00.786342Z"
                      },
                      "metadata": {
                        "key": "sub_ext_id",
                        "value": "AA001"
                      },
                      "payments": [
                        "5104911d-5df9-229e-8468-bd41abea1a4s"
                      ],
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "7304911d-5df9-429e-8488-ad41abea1a4c"
                    },
                    "name": {
                      "type": "string",
                      "example": "sub_001"
                    },
                    "description": {
                      "type": "string",
                      "example": "streaming service",
                      "nullable": true
                    },
                    "account_id": {
                      "type": "string",
                      "example": "2404911d-5df9-429e-8488-ad41abea1a4b"
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "001_marzo_23"
                    },
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "subscription_plan_id": {
                      "type": "string",
                      "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "number",
                          "example": 12100,
                          "default": 0
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "MONTH"
                        },
                        "value": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "monthly_billing_day": {
                          "type": "integer",
                          "nullable": true,
                          "description": "The day of the month billing is anchored to on a MONTH-frequency subscription — set by RESTART (on Update, a plan change, resume or reactivate) or by sending Update Subscription's own frequency.monthly_billing_day. Present only once stamped; absent, not null, before that and on every other frequency type.",
                          "example": 15
                        }
                      }
                    },
                    "billing_cycles": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10,
                          "default": 0,
                          "nullable": true
                        },
                        "current": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "next_at": {
                          "type": "string",
                          "example": "2023-02-16T20:00:00.786342Z"
                        },
                        "scheduling_date": {
                          "type": "string",
                          "description": "When the debit instruction is handed to the Pix rail — `next_at` minus four days. Only present on `PIX_AUTOMATIC` subscriptions that Yuno executes, and only where the four-day scheduling lead is enabled for the organization; absent, not `null`, otherwise. Read-only. See [Pix Automático](/docs/payment-features/subscriptions/pix-automatico#the-scheduling-date).",
                          "example": "2026-11-27T00:00:00Z"
                        },
                        "paid": {
                          "type": "integer",
                          "description": "How many cycles have been paid so far. Distinct from `current`, which is the cycle being billed."
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                        }
                      }
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "token": {
                          "type": "string",
                          "example": "9104911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "vaulted_token": {
                          "type": "string",
                          "example": "6104911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "card": {
                          "type": "object",
                          "properties": {
                            "verify": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "card_data": {
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "string",
                                  "example": "4507990000000010"
                                },
                                "expiration_month": {
                                  "type": "integer",
                                  "example": 10,
                                  "default": 0
                                },
                                "expiration_year": {
                                  "type": "integer",
                                  "example": 2025,
                                  "default": 0
                                },
                                "security_code": {
                                  "type": "integer",
                                  "example": 123,
                                  "default": 0
                                },
                                "holder_name": {
                                  "type": "string",
                                  "example": "JOHN DOE"
                                }
                              }
                            },
                            "installments": {
                              "type": "integer",
                              "nullable": true
                            },
                            "network_transaction_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "usage": {
                              "type": "string",
                              "example": "FIRST"
                            }
                          },
                          "nullable": true
                        }
                      },
                      "description": "The payment method the subscription charges. A single object, not a list."
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2024-01-16T00:00:00.786342Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2024-05-26T20:00:00.786342Z",
                          "nullable": true
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "example": "sub_ext_id"
                        },
                        "value": {
                          "type": "string",
                          "example": "AA001"
                        }
                      },
                      "nullable": true
                    },
                    "payments": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "5104911d-5df9-229e-8468-bd41abea1a4s"
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-12-16T21:00:54.786342Z"
                    },
                    "country": {
                      "type": "string",
                      "description": "The subscription's country (ISO 3166-1 alpha-2).",
                      "example": "US"
                    },
                    "soft_descriptor": {
                      "type": "string",
                      "example": "ACME SUBSCRIPTION",
                      "nullable": true
                    },
                    "current_period_start": {
                      "type": "string",
                      "nullable": true,
                      "description": "Start of the billing period the subscription is currently in, one cadence before `current_period_end`. Inside a trial or any other plan phase it follows that phase's cadence. A terminal subscription (`CANCELED` or `COMPLETED`) keeps its final window rather than going null. Null only for a subscription with no recurring cadence. Always returned together with current_period_end.",
                      "example": "2023-01-16T20:00:00.912480Z"
                    },
                    "current_period_end": {
                      "type": "string",
                      "nullable": true,
                      "description": "End of the billing period the subscription is currently in. Equal to billing_cycles.next_at. Always returned together with current_period_start.",
                      "example": "2023-02-16T20:00:00.786342Z"
                    },
                    "billing_date": {
                      "type": "object",
                      "nullable": true,
                      "description": "Only present on subscriptions billed on a fixed date instead of a frequency; mutually exclusive with `frequency`.",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "DAY"
                        },
                        "day": {
                          "type": "integer",
                          "example": 2
                        }
                      }
                    },
                    "retries": {
                      "type": "object",
                      "nullable": true,
                      "description": "The retry policy applied when a recurring charge is declined. See [Retries](/docs/payment-features/subscriptions/retries).",
                      "properties": {
                        "retry_on_decline": {
                          "type": "boolean",
                          "description": "Whether declined charges are retried at all.",
                          "example": true
                        },
                        "amount": {
                          "type": "integer",
                          "description": "How many retries a billing cycle gets. Capped by your environment's retry schedule length (6 in production).",
                          "example": 4
                        },
                        "strategy": {
                          "type": "string",
                          "description": "How the timing of each retry is decided: `DEFAULT`, `SMART` or `CUSTOM_SCHEDULE`. Treat as open-ended — handle unrecognized values gracefully.",
                          "example": "DEFAULT"
                        },
                        "schedule": {
                          "type": "array",
                          "nullable": true,
                          "description": "The per-attempt schedule, only set when `strategy` is `CUSTOM_SCHEDULE`; `null` otherwise.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "stop_on_hard_decline": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, a hard decline stops the retries for the current billing cycle."
                        },
                        "cancel_on_exhausted_retries": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, the subscription is canceled once a cycle's retries end without a successful payment, with `cancellation_source` set to `RETRIES_EXHAUSTED`."
                        },
                        "profile": {
                          "type": "string",
                          "description": "The fixed retry ladder the subscription follows instead of the configurable schedule. Always `PIX_AUTOMATIC`. This field and the three below are only present on `PIX_AUTOMATIC` subscriptions that Yuno executes; they are absent, not `null`, on every other payment method. See [Pix Automático](/docs/payment-features/subscriptions/pix-automatico#the-retry-ladder).",
                          "example": "PIX_AUTOMATIC"
                        },
                        "max_attempts": {
                          "type": "integer",
                          "description": "How many retries the Pix ladder runs. Always 3, matching the `amount` reported for these subscriptions.",
                          "example": 3
                        },
                        "min_gap_hours": {
                          "type": "integer",
                          "description": "Always 24 — the gap between the ladder's debit dates (`D`, `D+1`, `D+2`, `D+3`), not between dispatch attempts.",
                          "example": 24
                        },
                        "until": {
                          "type": "string",
                          "description": "When the ladder stops — `billing_cycles.next_at` plus 7 days. Moves with `next_at` at every renewal."
                        },
                        "stopped": {
                          "type": "boolean",
                          "description": "Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "attempts_made": {
                          "type": "integer",
                          "description": "Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "outcome": {
                          "type": "string",
                          "description": "RECOVERED, EXHAUSTED or ABANDONED. Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        },
                        "next_retry_at": {
                          "type": "string",
                          "description": "Present only when the subscription is PAST_DUE or has cancel_scheduled pending."
                        }
                      }
                    },
                    "trial_period": {
                      "type": "object",
                      "properties": {
                        "billing_cycles": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "example": 0,
                              "default": 0
                            },
                            "currency": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        }
                      }
                    },
                    "additional_data": {
                      "type": "object",
                      "nullable": true,
                      "description": "The optional order enrichment sent at creation, echoed back. See [The Subscription Object](/reference/subscriptions/the-subscription-object) for its full shape."
                    },
                    "initial_payment_validation": {
                      "type": "boolean",
                      "description": "Whether the subscription waited for its first payment to succeed before activating. `false` by default.",
                      "example": false
                    },
                    "reason": {
                      "type": "string",
                      "nullable": true,
                      "description": "Free-form reason for the subscription's current status, when one was recorded; `null` otherwise.",
                      "example": "merchant request"
                    },
                    "renewal_notification_days": {
                      "type": "integer",
                      "nullable": true,
                      "description": "How many days before the next billing date the `subscription.close_to_renewal` webhook is sent. `null` means no renewal notification is sent.",
                      "example": 3
                    },
                    "subscription_agreement_id": {
                      "type": "string",
                      "example": "sa_6af2dfcd-44c0-4f16-a331-8bed3ed9c9fa",
                      "nullable": true
                    },
                    "cancellation_time": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the subscription was canceled. Only set once it reaches `CANCELED`; `null` otherwise.",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "cancellation_source": {
                      "type": "string",
                      "nullable": true,
                      "description": "What triggered the cancellation: `MERCHANT`, `SYSTEM`, `PLAN_CHANGE` or `RETRIES_EXHAUSTED`. Only set once the subscription reaches `CANCELED`; `null` otherwise. Treat as open-ended — handle unrecognized values gracefully.",
                      "example": "MERCHANT"
                    },
                    "ending_time": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the subscription completed or expired. Only set once it reaches `COMPLETED`; `null` otherwise.",
                      "example": "2024-12-16T20:46:54.786342Z"
                    },
                    "plan_id": {
                      "type": "string",
                      "description": "Only present when the subscription is linked to a plan.",
                      "example": "00000000-0000-4000-8000-000000000001"
                    },
                    "plan_assigned_at": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions. The moment the plan was attached — at creation from a plan, migration onto a plan, or a plan change.",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "previous_subscription_id": {
                      "type": "string",
                      "description": "Only present when this subscription was created by a plan change (switching an existing subscription to a different plan).",
                      "nullable": true
                    },
                    "phases": {
                      "type": "array",
                      "description": "The linked plan's phase definitions, as the plan declares them — including the terminal `REGULAR` phase. Only present on plan-linked subscriptions whose plan has phases. This is the plan's own ladder, not this subscriber's snapshot: for what was pinned for this subscription at creation, use `billing_phases`.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "`TRIAL` or `REGULAR`."
                          },
                          "duration": {
                            "type": "object",
                            "nullable": true,
                            "description": "How long the phase lasts. `null` on the terminal `REGULAR` phase, which runs until the subscription ends.",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "nullable": true,
                            "description": "How often the phase bills. `null` on the terminal `REGULAR` phase, which bills at the plan's own frequency.",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "amount": {
                            "type": "object",
                            "nullable": true,
                            "description": "The phase price. `null` on the terminal `REGULAR` phase, whose price resolves from the plan at every billing.",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "total_payments": {
                            "type": "integer",
                            "nullable": true
                          },
                          "country_prices": {
                            "type": "array",
                            "description": "Per-country overrides of the phase price, empty when the phase has none.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "string"
                                },
                                "amount": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "current_phase": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions.",
                      "example": "REGULAR"
                    },
                    "current_phase_end": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the phase named by `current_phase` hands over to the next one — for a subscription in its trial, when it switches to the regular price. End of the last billing period the phase covers, so on the final period of a trial it equals `current_period_end`. Null for a subscription with no plan and for one that already left the phase ladder.",
                      "example": "2023-03-16T20:00:00.786342Z"
                    },
                    "billing_phases": {
                      "type": "array",
                      "description": "Only present on plan-linked subscriptions whose plan has phases. Contains the leading TRIAL phases only, snapshotted at creation — the terminal REGULAR phase is never included, since its price isn't pinned and instead resolves from the plan at every billing. `current_phase: \"REGULAR\"` is how you know the ladder is exhausted.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "integer"
                          },
                          "type": {
                            "type": "string",
                            "description": "Always TRIAL — the terminal REGULAR phase is never in this array."
                          },
                          "name": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "start_cycle": {
                            "type": "integer"
                          },
                          "end_cycle": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "pending_plan_change": {
                      "type": "object",
                      "nullable": true,
                      "description": "The plan change scheduled for the next billing cycle, or null when none is pending. Schedule one with the `plan_change` block on Update Subscription.",
                      "properties": {
                        "plan_id": {
                          "type": "string",
                          "description": "The identifier of the target plan.",
                          "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                        },
                        "plan_name": {
                          "type": "string",
                          "description": "The name of the target plan.",
                          "example": "Pro"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "UPGRADE",
                            "DOWNGRADE"
                          ],
                          "description": "Whether the target plan is an upgrade or a downgrade. Informational only.",
                          "example": "UPGRADE"
                        },
                        "effective": {
                          "type": "string",
                          "enum": [
                            "NEXT_BILLING_CYCLE"
                          ],
                          "description": "When the change applies.",
                          "example": "NEXT_BILLING_CYCLE"
                        },
                        "phases_behavior": {
                          "type": "string",
                          "enum": [
                            "START_FROM_REGULAR",
                            "HONOR_PHASES"
                          ],
                          "description": "What happens when the target plan has phases.",
                          "example": "START_FROM_REGULAR"
                        },
                        "applies_at": {
                          "type": "string",
                          "description": "The billing event the change will take effect on — the subscription's next billing date.",
                          "example": "2023-02-16T20:00:00.786342Z"
                        },
                        "requested_at": {
                          "type": "string",
                          "description": "When the change was scheduled.",
                          "example": "2023-01-20T10:12:31.786342Z"
                        }
                      }
                    },
                    "refund_rule": {
                      "type": "object",
                      "description": "The stored refund rule used to resolve a CUSTOM cancel refund when the cancel request sends no refund_amount of its own. Present only when one is configured; omitted, not null, otherwise. Available to organizations enabled for it; contact Yuno.",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "PERCENT",
                            "FIXED"
                          ],
                          "description": "PERCENT resolves the refund as a percentage of the charged amount; FIXED resolves it to a fixed amount.",
                          "example": "FIXED"
                        },
                        "percent": {
                          "type": "number",
                          "description": "Required, and only allowed, when type is PERCENT (0-100).",
                          "example": 50
                        },
                        "amount": {
                          "type": "object",
                          "description": "Required, and only allowed, when type is FIXED.",
                          "properties": {
                            "value": {
                              "type": "number",
                              "example": 10000
                            },
                            "currency": {
                              "type": "string",
                              "description": "Must match the subscription's own currency.",
                              "example": "COP"
                            }
                          }
                        }
                      }
                    },
                    "pause_until": {
                      "type": "string",
                      "description": "When the subscription is scheduled to resume automatically. Present only on a subscription currently paused with a duration (pause_cycles or pause_until sent at pause); absent, not null, on every other read.",
                      "example": "2026-10-15T15:54:22.780166Z"
                    },
                    "cancel_scheduled": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "null when no cancellation is pending.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "example": "AFTER_CYCLES"
                        },
                        "after_cycles": {
                          "type": "integer",
                          "example": 3
                        },
                        "at": {
                          "type": "string"
                        },
                        "requested_at": {
                          "type": "string"
                        },
                        "past_due_behavior": {
                          "type": "string",
                          "example": "EXHAUST_RETRIES"
                        }
                      }
                    },
                    "refund": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "null when refund was NONE or omitted. Present on the cancel response and on every later read once computed.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "example": "PRORATED"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "value": {
                              "type": "number",
                              "example": 20.0
                            }
                          }
                        },
                        "unused_days": {
                          "type": "integer",
                          "example": 20
                        },
                        "period_days": {
                          "type": "integer",
                          "example": 30
                        },
                        "basis": {
                          "type": "object",
                          "properties": {
                            "billing_cycle": {
                              "type": "integer",
                              "example": 4
                            },
                            "charged_amount": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "example": "USD"
                                },
                                "value": {
                                  "type": "number",
                                  "example": 30.0
                                }
                              }
                            },
                            "payment_id": {
                              "type": "string",
                              "description": "null for a $0-phase quote with no captured payment."
                            },
                            "charged_at": {
                              "type": "string",
                              "description": "null for a $0-phase quote with no captured payment."
                            }
                          }
                        },
                        "execution": {
                          "type": "string",
                          "example": "MERCHANT"
                        },
                        "quoted_at": {
                          "type": "string"
                        }
                      }
                    },
                    "unpaid_cycle": {
                      "type": "object",
                      "description": "Present only when the current billing cycle is PAST_DUE and has not settled.",
                      "properties": {
                        "cycle_number": {
                          "type": "integer"
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string"
                            },
                            "value": {
                              "type": "number"
                            }
                          }
                        },
                        "attempts": {
                          "type": "integer"
                        },
                        "last_failure_code": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_DATE",
                      "messages": [
                        "The subscription can not be resumed due to a conflict with the availability dates. Please update availability dates and try again if you want to keep using the subscription."
                      ]
                    }
                  },
                  "SUBSCRIPTION NOT FOUND": {
                    "value": {
                      "code": "SUBSCRIPTION_NOT_FOUND",
                      "messages": [
                        "Subscription not found."
                      ]
                    },
                    "summary": "No subscription resolves for the subscription_id on this account. Returned as 400, not 404."
                  },
                  "INVALID BILLING CYCLE BEHAVIOR": {
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The field 'billing_cycle_behavior' has an invalid value."
                      ]
                    },
                    "summary": "billing_cycle_behavior accepts only KEEP or RESTART."
                  },
                  "BILLING CYCLE BEHAVIOR NOT ENABLED": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "billing_cycle_behavior is not enabled for this organization."
                      ]
                    },
                    "summary": "Sourced from checks/ResumeSubscriptionRequest-v1.45.0.kt — the stg allow-list is `.*`, so this could not be captured live."
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "billing_cycle_behavior": {
                    "type": "string",
                    "enum": [
                      "KEEP",
                      "RESTART"
                    ],
                    "description": "KEEP (default when omitted): the original anchor is walked forward by whole periods it missed during the pause. RESTART: re-anchors the next charge to now, plus the subscription's frequency (monthly-billing-day rule as on Update). On a pause that stored its own billing_cycle_behavior (set at the pause call), omitting this field applies the behaviour stored on the pause; an explicit value here always wins. Write-only: never echoed in any response.",
                    "example": "KEEP"
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Free-form reason for the resume, written to the subscription's reason field from this call's own body (null when the body omits it, even if the pause had recorded one). At most 255 characters; blank is treated as absent.",
                    "example": "customer is back"
                  }
                }
              },
              "examples": {
                "KEEP": {
                  "value": {
                    "billing_cycle_behavior": "KEEP"
                  }
                },
                "RESTART": {
                  "value": {
                    "billing_cycle_behavior": "RESTART"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
