{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/{subscription_id}": {
      "get": {
        "summary": "Retrieve Subscription",
        "description": "",
        "operationId": "retrieve-subscription",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "description": "The unique identifier of the subscription.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "country": "US",
                      "merchant_reference": "001_marzo_23",
                      "soft_descriptor": "ACME SUBSCRIPTION",
                      "status": "ACTIVE",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "current_period_start": "2023-01-16T20:00:00.912480Z",
                      "current_period_end": "2023-02-16T20:00:00.786342Z",
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                        "card": {
                          "installments": null,
                          "network_transaction_id": null,
                          "usage": "FIRST"
                        }
                      },
                      "availability": {
                        "start_at": "2024-01-16T00:00:00.786342Z",
                        "finish_at": "2024-05-26T20:00:00.786342Z"
                      },
                      "retries": {
                        "retry_on_decline": true,
                        "amount": 4,
                        "strategy": "DEFAULT",
                        "schedule": null,
                        "stop_on_hard_decline": null,
                        "cancel_on_exhausted_retries": null
                      },
                      "trial_period": {
                        "billing_cycles": 1,
                        "amount": {
                          "value": 0,
                          "currency": ""
                        }
                      },
                      "initial_payment_validation": false,
                      "metadata": [
                        {
                          "key": "sub_ext_id",
                          "value": "AA001"
                        }
                      ],
                      "additional_data": null,
                      "reason": null,
                      "renewal_notification_days": 3,
                      "payments": [
                        "5104911d-5df9-229e-8468-bd41abea1a4s"
                      ],
                      "subscription_agreement_id": null,
                      "cancellation_time": null,
                      "cancellation_source": null,
                      "ending_time": null,
                      "plan_id": "00000000-0000-4000-8000-000000000001",
                      "plan_assigned_at": "2023-12-16T20:46:54.786342Z",
                      "previous_subscription_id": null,
                      "phases": [
                        {
                          "order": 1,
                          "name": "Intro",
                          "type": "TRIAL",
                          "duration": {
                            "type": "MONTH",
                            "value": 3
                          },
                          "frequency": {
                            "type": "MONTH",
                            "value": 1
                          },
                          "amount": {
                            "currency": "USD",
                            "value": 9.99
                          },
                          "total_payments": 3,
                          "country_prices": []
                        },
                        {
                          "order": 2,
                          "name": "Regular",
                          "type": "REGULAR",
                          "duration": null,
                          "frequency": null,
                          "amount": null,
                          "total_payments": null,
                          "country_prices": []
                        }
                      ],
                      "current_phase": "REGULAR",
                      "billing_phases": [
                        {
                          "order": 1,
                          "type": "TRIAL",
                          "name": "Intro",
                          "amount": {
                            "currency": "USD",
                            "value": 9.99
                          },
                          "frequency": {
                            "type": "MONTH",
                            "value": 1
                          },
                          "start_cycle": 0,
                          "end_cycle": 2
                        }
                      ],
                      "pending_plan_change": null,
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "7304911d-5df9-429e-8488-ad41abea1a4c"
                    },
                    "name": {
                      "type": "string",
                      "example": "sub_001"
                    },
                    "description": {
                      "type": "string",
                      "example": "streaming service",
                      "nullable": true
                    },
                    "account_id": {
                      "type": "string",
                      "example": "2404911d-5df9-429e-8488-ad41abea1a4b"
                    },
                    "country": {
                      "type": "string",
                      "description": "The subscription's country (ISO 3166-1 alpha-2).",
                      "example": "US"
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "001_marzo_23"
                    },
                    "soft_descriptor": {
                      "type": "string",
                      "example": "ACME SUBSCRIPTION",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "integer",
                          "example": 12100,
                          "default": 0
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "MONTH"
                        },
                        "value": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    },
                    "billing_cycles": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10,
                          "nullable": true,
                          "description": "Total billing cycles the subscription runs for. `null` for an open-ended subscription with no cycle limit."
                        },
                        "current": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "paid": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "next_at": {
                          "type": "string",
                          "example": "2023-02-16T20:00:00.786342Z"
                        },
                        "scheduling_date": {
                          "type": "string",
                          "description": "When the debit instruction is handed to the Pix rail — `next_at` minus four days. Only present on `PIX_AUTOMATIC` subscriptions that Yuno executes, and only where the four-day scheduling lead is enabled for the organization; absent, not `null`, otherwise. Read-only. See [Pix Automático](/docs/payment-features/subscriptions/pix-automatico#the-scheduling-date).",
                          "example": "2026-11-27T00:00:00Z"
                        }
                      }
                    },
                    "current_period_start": {
                      "type": "string",
                      "nullable": true,
                      "description": "Start of the billing period the subscription is currently in, one cadence before `current_period_end`. Inside a trial or any other plan phase it follows that phase's cadence. A terminal subscription (`CANCELED` or `COMPLETED`) keeps its final window rather than going null. Null only for a subscription with no recurring cadence. Always returned together with current_period_end.",
                      "example": "2023-01-16T20:00:00.912480Z"
                    },
                    "current_period_end": {
                      "type": "string",
                      "nullable": true,
                      "description": "End of the billing period the subscription is currently in. Equal to billing_cycles.next_at. Always returned together with current_period_start.",
                      "example": "2023-02-16T20:00:00.786342Z"
                    },
                    "billing_date": {
                      "type": "object",
                      "nullable": true,
                      "description": "Only present on subscriptions billed on a fixed date instead of a frequency; mutually exclusive with `frequency`.",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "DAY"
                        },
                        "day": {
                          "type": "integer",
                          "example": 2
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                        }
                      }
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "vaulted_token": {
                          "type": "string",
                          "example": "6104911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "card": {
                          "type": "object",
                          "properties": {
                            "installments": {
                              "type": "integer",
                              "nullable": true
                            },
                            "network_transaction_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "usage": {
                              "type": "string",
                              "example": "FIRST"
                            }
                          }
                        }
                      }
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2024-01-16T00:00:00.786342Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2024-05-26T20:00:00.786342Z"
                        }
                      }
                    },
                    "retries": {
                      "type": "object",
                      "nullable": true,
                      "description": "The retry policy applied when a recurring charge is declined. See [Retries](/docs/payment-features/subscriptions/retries).",
                      "properties": {
                        "retry_on_decline": {
                          "type": "boolean",
                          "description": "Whether declined charges are retried at all.",
                          "example": true
                        },
                        "amount": {
                          "type": "integer",
                          "description": "How many retries a billing cycle gets. Capped by your environment's retry schedule length (6 in production).",
                          "example": 4
                        },
                        "strategy": {
                          "type": "string",
                          "description": "How the timing of each retry is decided: `DEFAULT`, `SMART` or `CUSTOM_SCHEDULE`. Treat as open-ended — handle unrecognized values gracefully.",
                          "example": "DEFAULT"
                        },
                        "schedule": {
                          "type": "array",
                          "nullable": true,
                          "description": "The per-attempt schedule, only set when `strategy` is `CUSTOM_SCHEDULE`; `null` otherwise.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "stop_on_hard_decline": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, a hard decline stops the retries for the current billing cycle."
                        },
                        "cancel_on_exhausted_retries": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, the subscription is canceled once a cycle's retries end without a successful payment, with `cancellation_source` set to `RETRIES_EXHAUSTED`."
                        },
                        "profile": {
                          "type": "string",
                          "description": "The fixed retry ladder the subscription follows instead of the configurable schedule. Always `PIX_AUTOMATIC`. This field and the three below are only present on `PIX_AUTOMATIC` subscriptions that Yuno executes; they are absent, not `null`, on every other payment method. See [Pix Automático](/docs/payment-features/subscriptions/pix-automatico#the-retry-ladder).",
                          "example": "PIX_AUTOMATIC"
                        },
                        "max_attempts": {
                          "type": "integer",
                          "description": "How many retries the Pix ladder runs. Always 3, matching the `amount` reported for these subscriptions.",
                          "example": 3
                        },
                        "min_gap_hours": {
                          "type": "integer",
                          "description": "Always 24 — the gap between the ladder's debit dates (`D`, `D+1`, `D+2`, `D+3`), not between dispatch attempts.",
                          "example": 24
                        },
                        "until": {
                          "type": "string",
                          "description": "When the ladder stops — `billing_cycles.next_at` plus 7 days. Moves with `next_at` at every renewal."
                        }
                      }
                    },
                    "trial_period": {
                      "type": "object",
                      "properties": {
                        "billing_cycles": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "currency": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "sub_ext_id"
                          },
                          "value": {
                            "type": "string",
                            "example": "AA001"
                          }
                        }
                      },
                      "nullable": true
                    },
                    "additional_data": {
                      "type": "object",
                      "nullable": true,
                      "description": "The optional order enrichment sent at creation, echoed back. See [The Subscription Object](/reference/subscriptions/the-subscription-object) for its full shape."
                    },
                    "initial_payment_validation": {
                      "type": "boolean",
                      "description": "Whether the subscription waited for its first payment to succeed before activating. `false` by default.",
                      "example": false
                    },
                    "reason": {
                      "type": "string",
                      "nullable": true,
                      "description": "Free-form reason for the subscription's current status, when one was recorded; `null` otherwise.",
                      "example": "merchant request"
                    },
                    "renewal_notification_days": {
                      "type": "integer",
                      "nullable": true,
                      "description": "How many days before the next billing date the `subscription.close_to_renewal` webhook is sent. `null` means no renewal notification is sent.",
                      "example": 3
                    },
                    "payments": {
                      "type": "array",
                      "description": "The subscription's captured payment ids. Omitted — not an empty array — until the subscription's first payment has been made.",
                      "items": {
                        "type": "string",
                        "example": "5104911d-5df9-229e-8468-bd41abea1a4s"
                      }
                    },
                    "subscription_agreement_id": {
                      "type": "string",
                      "example": "sa_6af2dfcd-44c0-4f16-a331-8bed3ed9c9fa",
                      "nullable": true
                    },
                    "cancellation_time": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the subscription was canceled. Only set once it reaches `CANCELED`; `null` otherwise.",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "cancellation_source": {
                      "type": "string",
                      "nullable": true,
                      "description": "What triggered the cancellation: `MERCHANT`, `SYSTEM`, `PLAN_CHANGE` or `RETRIES_EXHAUSTED`. Only set once the subscription reaches `CANCELED`; `null` otherwise. Treat as open-ended — handle unrecognized values gracefully.",
                      "example": "MERCHANT"
                    },
                    "ending_time": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the subscription completed or expired. Only set once it reaches `COMPLETED`; `null` otherwise.",
                      "example": "2024-12-16T20:46:54.786342Z"
                    },
                    "plan_id": {
                      "type": "string",
                      "description": "Only present when the subscription is linked to a plan.",
                      "example": "00000000-0000-4000-8000-000000000001"
                    },
                    "plan_assigned_at": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions. The moment the plan was attached — at creation from a plan, migration onto a plan, or a plan change.",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "previous_subscription_id": {
                      "type": "string",
                      "description": "Only present when this subscription was created by a plan change (switching an existing subscription to a different plan)."
                    },
                    "phases": {
                      "type": "array",
                      "description": "The linked plan's phase definitions, as the plan declares them — including the terminal `REGULAR` phase. Only present on plan-linked subscriptions whose plan has phases. This is the plan's own ladder, not this subscriber's snapshot: for what was pinned for this subscription at creation, use `billing_phases`.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "`TRIAL` or `REGULAR`."
                          },
                          "duration": {
                            "type": "object",
                            "nullable": true,
                            "description": "How long the phase lasts. `null` on the terminal `REGULAR` phase, which runs until the subscription ends.",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "nullable": true,
                            "description": "How often the phase bills. `null` on the terminal `REGULAR` phase, which bills at the plan's own frequency.",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "amount": {
                            "type": "object",
                            "nullable": true,
                            "description": "The phase price. `null` on the terminal `REGULAR` phase, whose price resolves from the plan at every billing.",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "total_payments": {
                            "type": "integer",
                            "nullable": true
                          },
                          "country_prices": {
                            "type": "array",
                            "description": "Per-country overrides of the phase price, empty when the phase has none.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "string"
                                },
                                "amount": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "current_phase": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions.",
                      "example": "REGULAR"
                    },
                    "current_phase_end": {
                      "type": "string",
                      "nullable": true,
                      "description": "When the phase named by `current_phase` hands over to the next one — for a subscription in its trial, when it switches to the regular price. End of the last billing period the phase covers, so on the final period of a trial it equals `current_period_end`. Null for a subscription with no plan and for one that already left the phase ladder.",
                      "example": "2023-03-16T20:00:00.786342Z"
                    },
                    "billing_phases": {
                      "type": "array",
                      "description": "Only present on plan-linked subscriptions whose plan has phases. Contains the leading TRIAL phases only, snapshotted at creation — the terminal REGULAR phase is never included, since its price isn't pinned and instead resolves from the plan at every billing. `current_phase: \"REGULAR\"` is how you know the ladder is exhausted.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "integer"
                          },
                          "type": {
                            "type": "string",
                            "description": "Always TRIAL — the terminal REGULAR phase is never in this array."
                          },
                          "name": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "start_cycle": {
                            "type": "integer"
                          },
                          "end_cycle": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "pending_plan_change": {
                      "type": "object",
                      "nullable": true,
                      "description": "The plan change scheduled for the next billing cycle, or null when none is pending. Schedule one with the `plan_change` block on Update Subscription.",
                      "properties": {
                        "plan_id": {
                          "type": "string",
                          "description": "The identifier of the target plan.",
                          "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                        },
                        "plan_name": {
                          "type": "string",
                          "description": "The name of the target plan.",
                          "example": "Pro"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "UPGRADE",
                            "DOWNGRADE"
                          ],
                          "description": "Whether the target plan is an upgrade or a downgrade. Informational only.",
                          "example": "UPGRADE"
                        },
                        "effective": {
                          "type": "string",
                          "enum": [
                            "NEXT_BILLING_CYCLE"
                          ],
                          "description": "When the change applies.",
                          "example": "NEXT_BILLING_CYCLE"
                        },
                        "phases_behavior": {
                          "type": "string",
                          "enum": [
                            "START_FROM_REGULAR",
                            "HONOR_PHASES"
                          ],
                          "description": "What happens when the target plan has phases.",
                          "example": "START_FROM_REGULAR"
                        },
                        "applies_at": {
                          "type": "string",
                          "description": "The billing event the change will take effect on — the subscription's next billing date.",
                          "example": "2023-02-16T20:00:00.786342Z"
                        },
                        "requested_at": {
                          "type": "string",
                          "description": "When the change was scheduled.",
                          "example": "2023-01-20T10:12:31.786342Z"
                        }
                      }
                    },
                    "cancel_scheduled": {
                      "type": "object",
                      "nullable": true,
                      "description": "The cancellation scheduled for this subscription. Present only while a cancellation is pending — the key is omitted from the response when none is scheduled, or after one is undone. Schedule one with the `schedule` block on Cancel Subscription; undo it with `\"schedule\": null`.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": [
                            "AFTER_CYCLES",
                            "AT_DATE"
                          ],
                          "description": "Matches whichever of `after_cycles`/`at` was sent when the schedule was created."
                        },
                        "after_cycles": {
                          "type": "integer",
                          "nullable": true,
                          "description": "The number of billing cycles that were requested, when `mode` is `AFTER_CYCLES`. `null` when `mode` is `AT_DATE`."
                        },
                        "at": {
                          "type": "string",
                          "description": "The resolved date and time the cancellation will fire."
                        },
                        "requested_at": {
                          "type": "string",
                          "description": "When the cancellation was scheduled."
                        },
                        "past_due_behavior": {
                          "type": "string",
                          "enum": [
                            "EXHAUST_RETRIES",
                            "SKIP_RETRIES"
                          ],
                          "description": "What the schedule does if the subscription is `PAST_DUE` when it would otherwise fire. Default `EXHAUST_RETRIES`."
                        }
                      }
                    },
                    "unpaid_cycle": {
                      "type": "object",
                      "description": "The current billing cycle, when it is PAST_DUE and has not settled. Omitted — not null — for every other state.",
                      "properties": {
                        "cycle_number": {
                          "type": "integer",
                          "description": "The billing cycle that is unpaid, matching `billing_cycles.current` at the time it was computed."
                        },
                        "amount": {
                          "type": "object",
                          "description": "The amount due for the unpaid cycle. Same shape as the subscription-level `amount`.",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "value": {
                              "type": "integer",
                              "example": 12100,
                              "default": 0
                            }
                          }
                        },
                        "attempts": {
                          "type": "integer",
                          "description": "Total charge attempts made for this cycle so far, including the original attempt."
                        },
                        "last_failure_code": {
                          "type": "string",
                          "nullable": true,
                          "description": "The decline/failure code from the most recent attempt. `null` if unavailable."
                        }
                      }
                    },
                    "refund": {
                      "type": "object",
                      "nullable": true,
                      "description": "The refund quote from the last immediate cancellation, or null/omitted when none was ever computed. Requested with the `refund` mode on Cancel Subscription. Once computed, it persists and keeps appearing on every later read of the subscription.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": [
                            "PRORATED",
                            "FULL",
                            "CUSTOM"
                          ],
                          "description": "Echoes what was requested."
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "USD"
                            },
                            "value": {
                              "type": "integer",
                              "example": 12100,
                              "default": 0
                            }
                          },
                          "description": "The computed (or CUSTOM-echoed) refund amount. Same shape as the subscription-level `amount`."
                        },
                        "unused_days": {
                          "type": "integer",
                          "description": "Days of the billing cycle treated as unused. For FULL, equals `period_days` — the whole cycle counts as unused."
                        },
                        "period_days": {
                          "type": "integer",
                          "description": "The billing cycle's total length in days."
                        },
                        "basis": {
                          "type": "object",
                          "description": "What the refund was computed against.",
                          "properties": {
                            "billing_cycle": {
                              "type": "integer",
                              "description": "The billing cycle the refund was computed against."
                            },
                            "charged_amount": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "example": "USD"
                                },
                                "value": {
                                  "type": "integer",
                                  "example": 12100,
                                  "default": 0
                                }
                              },
                              "description": "The amount actually charged for that cycle — the refund's ceiling."
                            },
                            "payment_id": {
                              "type": "string",
                              "nullable": true,
                              "description": "The captured payment's own id. null for a $0-phase quote with no payment to reference."
                            },
                            "charged_at": {
                              "type": "string",
                              "nullable": true,
                              "description": "When that payment was captured. null for a $0-phase quote with no payment to reference."
                            }
                          }
                        },
                        "execution": {
                          "type": "string",
                          "description": "Always \"MERCHANT\" — Yuno computes the quote, you execute the refund."
                        },
                        "quoted_at": {
                          "type": "string",
                          "description": "When this quote was computed."
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-12-16T21:00:54.786342Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "NOT_AUTHENTICATED",
                      "messages": [
                        "Not authenticated"
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHENTICATED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "SUBSCRIPTION_NOT_FOUND",
                      "messages": [
                        "Subscription not found."
                      ]
                    },
                    "summary": "Result"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
