{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/{subscription_id}": {
      "get": {
        "summary": "Retrieve Subscription",
        "description": "",
        "operationId": "retrieve-subscription",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "description": "The unique identifier of the subscription.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "7304911d-5df9-429e-8488-ad41abea1a4c",
                      "name": "sub_001",
                      "description": "streaming service",
                      "account_id": "2404911d-5df9-429e-8488-ad41abea1a4b",
                      "merchant_reference": "001_marzo_23",
                      "soft_descriptor": "ACME SUBSCRIPTION",
                      "status": "ACTIVE",
                      "amount": {
                        "currency": "USD",
                        "value": 12100
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 10,
                        "current": 2,
                        "next_at": "2023-02-16T20:00:00.786342Z"
                      },
                      "customer_payer": {
                        "id": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "vaulted_token": "6104911d-5df9-429e-8488-ad41abea1a4b",
                        "card": {
                          "installments": null,
                          "network_transaction_id": null,
                          "usage": "FIRST"
                        }
                      },
                      "availability": {
                        "start_at": "2024-01-16T00:00:00.786342Z",
                        "finish_at": "2024-05-26T20:00:00.786342Z"
                      },
                      "trial_period": {
                        "billing_cycles": 1,
                        "amount": {
                          "value": 0,
                          "currency": ""
                        }
                      },
                      "metadata": [
                        {
                          "key": "sub_ext_id",
                          "value": "AA001"
                        }
                      ],
                      "payments": [
                        "5104911d-5df9-229e-8468-bd41abea1a4s"
                      ],
                      "subscription_agreement_id": null,
                      "plan_id": "00000000-0000-4000-8000-000000000001",
                      "plan_assigned_at": "2023-12-16T20:46:54.786342Z",
                      "current_phase": "REGULAR",
                      "billing_phases": [
                        {
                          "order": 1,
                          "type": "TRIAL",
                          "name": "Intro",
                          "amount": { "currency": "USD", "value": 9.99 },
                          "frequency": { "type": "MONTH", "value": 1 },
                          "start_cycle": 0,
                          "end_cycle": 2
                        }
                      ],
                      "pending_plan_change": null,
                      "created_at": "2023-12-16T20:46:54.786342Z",
                      "updated_at": "2023-12-16T21:00:54.786342Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "7304911d-5df9-429e-8488-ad41abea1a4c"
                    },
                    "name": {
                      "type": "string",
                      "example": "sub_001"
                    },
                    "description": {
                      "type": "string",
                      "example": "streaming service"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "2404911d-5df9-429e-8488-ad41abea1a4b"
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "001_marzo_23"
                    },
                    "soft_descriptor": {
                      "type": "string",
                      "example": "ACME SUBSCRIPTION"
                    },
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "integer",
                          "example": 12100,
                          "default": 0
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "MONTH"
                        },
                        "value": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    },
                    "billing_cycles": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 10,
                          "default": 0
                        },
                        "current": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "next_at": {
                          "type": "string",
                          "example": "2023-02-16T20:00:00.786342Z"
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "3t04911d-5df9-429e-8488-ad41abea1a2c"
                        }
                      }
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "vaulted_token": {
                          "type": "string",
                          "example": "6104911d-5df9-429e-8488-ad41abea1a4b"
                        },
                        "card": {
                          "type": "object",
                          "properties": {
                            "installments": {
                              "type": "integer",
                              "nullable": true
                            },
                            "network_transaction_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "usage": {
                              "type": "string",
                              "example": "FIRST"
                            }
                          }
                        }
                      }
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2024-01-16T00:00:00.786342Z"
                        },
                        "finish_at": {
                          "type": "string",
                          "example": "2024-05-26T20:00:00.786342Z"
                        }
                      }
                    },
                    "trial_period": {
                      "type": "object",
                      "properties": {
                        "billing_cycles": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "currency": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "sub_ext_id"
                          },
                          "value": {
                            "type": "string",
                            "example": "AA001"
                          }
                        }
                      }
                    },
                    "payments": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "5104911d-5df9-229e-8468-bd41abea1a4s"
                      }
                    },
                    "subscription_agreement_id": {
                      "type": "string",
                      "example": "sa_6af2dfcd-44c0-4f16-a331-8bed3ed9c9fa"
                    },
                    "plan_id": {
                      "type": "string",
                      "description": "Only present when the subscription is linked to a plan.",
                      "example": "00000000-0000-4000-8000-000000000001"
                    },
                    "plan_assigned_at": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions. The moment the plan was attached — at creation from a plan, migration onto a plan, or a plan change.",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "previous_subscription_id": {
                      "type": "string",
                      "description": "Only present when this subscription was created by a plan change (switching an existing subscription to a different plan)."
                    },
                    "current_phase": {
                      "type": "string",
                      "description": "Only present on plan-linked subscriptions.",
                      "example": "REGULAR"
                    },
                    "billing_phases": {
                      "type": "array",
                      "description": "Only present on plan-linked subscriptions whose plan has phases. Contains the leading TRIAL phases only, snapshotted at creation — the terminal REGULAR phase is never included, since its price isn't pinned and instead resolves from the plan at every billing. `current_phase: \"REGULAR\"` is how you know the ladder is exhausted.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": { "type": "integer" },
                          "type": { "type": "string", "description": "Always TRIAL — the terminal REGULAR phase is never in this array." },
                          "name": { "type": "string" },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": { "type": "string" },
                              "value": { "type": "number" }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "properties": {
                              "type": { "type": "string" },
                              "value": { "type": "integer" }
                            }
                          },
                          "start_cycle": { "type": "integer" },
                          "end_cycle": { "type": "integer" }
                        }
                      }
                    },
                    "pending_plan_change": {
                      "type": "object",
                      "nullable": true,
                      "description": "The plan change scheduled for the next billing cycle, or null when none is pending. Schedule one with the `plan_change` block on Update Subscription.",
                      "properties": {
                        "plan_id": {
                          "type": "string",
                          "description": "The identifier of the target plan.",
                          "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                        },
                        "plan_name": {
                          "type": "string",
                          "description": "The name of the target plan.",
                          "example": "Pro"
                        },
                        "direction": {
                          "type": "string",
                          "enum": ["UPGRADE", "DOWNGRADE"],
                          "description": "Whether the target plan is an upgrade or a downgrade. Informational only.",
                          "example": "UPGRADE"
                        },
                        "effective": {
                          "type": "string",
                          "enum": ["NEXT_BILLING_CYCLE"],
                          "description": "When the change applies.",
                          "example": "NEXT_BILLING_CYCLE"
                        },
                        "phases_behavior": {
                          "type": "string",
                          "enum": ["START_FROM_REGULAR", "HONOR_PHASES"],
                          "description": "What happens when the target plan has phases.",
                          "example": "START_FROM_REGULAR"
                        },
                        "applies_at": {
                          "type": "string",
                          "description": "The billing event the change will take effect on — the subscription's next billing date.",
                          "example": "2023-02-16T20:00:00.786342Z"
                        },
                        "requested_at": {
                          "type": "string",
                          "description": "When the change was scheduled.",
                          "example": "2023-01-20T10:12:31.786342Z"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-12-16T20:46:54.786342Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-12-16T21:00:54.786342Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n Refer to the HTTP Response Codes section for more details: 'https://docs.y.uno/reference/response-codes'\n}",
                    "summary": "Result"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}