{
  "openapi": "3.1.0",
  "info": {
    "title": "subscription",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/{subscription_id}": {
      "patch": {
        "summary": "Update Subscription",
        "description": "",
        "operationId": "update-subscription",
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "description": "The unique identifier of the subscription.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The subscription plan name (MAX 255; MIN 3)."
                  },
                  "description": {
                    "type": "string",
                    "description": "The subscription plan description (MAX 255; MIN 3)."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account that will have the subscription plan available to use (MAX 64 ; MIN 36)."
                  },
                  "merchant_reference": {
                    "type": "string",
                    "description": "Identification of the subscription plan (MAX 255; MIN 3)."
                  },
                  "soft_descriptor": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Statement descriptor shown on the cardholder's bank statement. Updating it changes the descriptor applied to subsequent rebills generated by the subscription engine. Length and formatting limits vary by provider (for example, Unlimit truncates to 22 characters and Airwallex to 30). Worldpay does not read this field; it builds the statement narrative from `payment_description` instead."
                  },
                  "country": {
                    "type": "string",
                    "description": "The subscription's country."
                  },
                  "amount": {
                    "type": "object",
                    "description": "Specifies the `amount` object, with the value of each subscription payment and the used currency.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "The currency used to make the payment (MAX 3; MIN 3; [ISO 4217](/reference/country-reference))."
                      },
                      "value": {
                        "type": "number",
                        "description": "The value of each payment of the subscription (multiple of 0.0001).",
                        "format": "float"
                      }
                    }
                  },
                  "frequency": {
                    "type": "object",
                    "description": "Specifies the `frequency` object. Defines the billing frequency for the subscription. Including type and value.",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of interval the subscription will have in time (DAY, WEEK, MONTH). If not set, always MONTH by default.",
                        "enum": [
                          "DAY",
                          "WEEK",
                          "MONTH"
                        ]
                      },
                      "value": {
                        "type": "integer",
                        "description": "The value between each interval the subscription will have in time. The system will use the default value of 1 if not set.",
                        "format": "int32"
                      },
                      "monthly_billing_day": {
                        "type": "integer",
                        "description": "The day of the month when billing is processed. (MAX 31; MIN 1). Only valid for MONTH frequency. If the subscription has not started yet (availability.start_at is in the future), the first billing still occurs at availability.start_at and the billing day applies from the second cycle onward; the resulting first billing period may be shorter than a full cycle and is charged in full."
                      }
                    }
                  },
                  "billing_cycles": {
                    "type": "object",
                    "description": "Specifies the `billing_cycles` object. Defines the number of charges associated to the subscription.",
                    "properties": {
                      "total": {
                        "type": "integer",
                        "description": "The total number of billing cycles for the subscription. On update, must be greater than or equal to the current `billing_cycles.current`; a lower value is rejected with 400.",
                        "format": "int32"
                      }
                    }
                  },
                  "customer_payer": {
                    "type": "object",
                    "description": "Specifies the `customer_payer` object to identify the customer.",
                    "required": [
                      "id"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the customer (MAX 255; MIN 3)."
                      }
                    }
                  },
                  "payment_method": {
                    "type": "object",
                    "description": "Specifies the `payment_method` object. Supported types are `CARD` and `PAYPAL_ENROLLMENT`. You can use the `token`, the `vaulted_token`, or the card information through the card object.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Payment method type.",
                        "enum": [
                          "CARD"
                        ]
                      },
                      "vaulted_token": {
                        "type": "string",
                        "description": "The vaulted token (MAX: 64; MIN: 36)."
                      },
                      "card": {
                        "type": "object",
                        "description": "Specifies the card object.",
                        "properties": {
                          "verify": {
                            "type": "boolean",
                            "description": "Using  `amount` = 0 and `verify` = true, you can verify the user´s card without authorizing a real amount."
                          },
                          "card_data": {
                            "type": "object",
                            "description": "Specifies the card data object.",
                            "properties": {
                              "number": {
                                "type": "string",
                                "description": "Card’s number without any separators.  (MAX 19; MIN 8) - only available for PCI certified merchants."
                              },
                              "expiration_month": {
                                "type": "integer",
                                "description": "Card’s expiration month - MM (MAX 2; MIN 2) - only available for PCI certified merchants",
                                "format": "int32"
                              },
                              "expiration_year": {
                                "type": "integer",
                                "description": "Card’s expiration year in the YYYY format (MAX 4; MIN 4) - only available for PCI certified merchants",
                                "format": "int32"
                              },
                              "security_code": {
                                "type": "integer",
                                "description": "Card’s security code (MAX 4; MIN 3) - only available for PCI certified merchants.",
                                "format": "int32"
                              },
                              "holder_name": {
                                "type": "string",
                                "description": "Cardholder’s full name as it appears on the card (MAX 26; MIN 3) - only available for PCI certified merchants"
                              }
                            }
                          },
                          "usage": {
                            "type": "string",
                            "description": "Indicates whether this stored credential is being used for the first time (FIRST) or has been used before (USED). Required if a CIT payment was created before the subscription — without it, rebills are treated as CITs and may be declined.",
                            "enum": [
                              "FIRST",
                              "USED"
                            ]
                          }
                        }
                      },
                      "": {
                        "type": "string"
                      }
                    }
                  },
                  "availability": {
                    "type": "object",
                    "description": "Specifies the `availability` object. Defines a date interval based on starting and ending dates when the subscription is available to use. If this object is omitted from the request, the availability dates are left unchanged. When it is included, omitting `finish_at` (or sending it as `null`) removes any previously set end date; omitting `start_at` leaves the current start date unchanged.",
                    "properties": {
                      "start_at": {
                        "type": "string",
                        "description": "The start date that the subscription plan will be available to use. If not set, the subscription is available from the moment it is created. On update, omitting this field leaves the current start date unchanged, and the start date can only be moved earlier: sending a later date returns a 400 error.",
                        "format": "date-time"
                      },
                      "finish_at": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "The end date until the subscription will be available to use. When the `availability` object is included in the request, omit this field or send `null` to clear a previously set end date: the subscription becomes open-ended and keeps renewing until it is canceled. Send a date-time to set or update the end date. Note that `availability.finish_at` and `billing_cycles.total` are independent end conditions: whichever is reached first completes the subscription.",
                        "format": "date-time"
                      }
                    }
                  },
                  "retries": {
                    "type": "object",
                    "description": "The retries configuration to apply going forward. Accepts the same object as Create Subscription — including strategy and schedule — except cancel_on_exhausted_retries, which is create-only. Changes apply the next time retries are scheduled: a billing cycle already running its retries finishes on the configuration it started with, and the update takes effect from the next cycle.",
                    "properties": {
                      "retry_on_decline": {
                        "type": "boolean",
                        "description": "If we should retry a payment or not after a first decline. False by default."
                      },
                      "amount": {
                        "type": "integer",
                        "description": "The number of retries the subscription will attempt, for the DEFAULT and SMART strategies. The maximum equals your environment's configured retry schedule length — 6 in production; a higher value is rejected with 400 (Max retries attempts exceeded). With CUSTOM_SCHEDULE the amount is derived from the length of the schedule array instead.",
                        "format": "int32"
                      },
                      "strategy": {
                        "type": "string",
                        "description": "The retry strategy. Allowed values: DEFAULT (the fixed retry schedule), SMART (machine-learning-based retry timing, applied from the second retry onward) or CUSTOM_SCHEDULE (uses the per-attempt schedule array you provide). Sending a schedule without a strategy implies CUSTOM_SCHEDULE.",
                        "enum": [
                          "DEFAULT",
                          "SMART",
                          "CUSTOM_SCHEDULE"
                        ]
                      },
                      "schedule": {
                        "type": "array",
                        "description": "Per-attempt retry schedule; replaces the stored schedule as a whole. Up to 7 attempts, attempt numbers must run sequentially from 1, and each delay_seconds must be between 1 and 604800 (7 days). Sending it implies strategy CUSTOM_SCHEDULE and sets the retry amount to the schedule length.",
                        "items": {
                          "properties": {
                            "attempt": {
                              "type": "number",
                              "description": "Number of the retry attempt"
                            },
                            "delay_seconds": {
                              "type": "number",
                              "description": "Specifies the amount of seconds between each retry."
                            }
                          },
                          "type": "object"
                        }
                      },
                      "stop_on_hard_decline": {
                        "type": "boolean",
                        "description": "When true, the retry schedule stops for the current billing cycle after a hard decline. On its own, the subscription remains ACTIVE and billing advances to the next cycle; no subscription is canceled or paused and no subscription webhook is emitted. If cancel_on_exhausted_retries is also true, the subscription is canceled instead."
                      },
                      "cancel_on_exhausted_retries": {
                        "type": "boolean",
                        "description": "Create-only: this flag cannot be changed after the subscription is created — sending a value different from the one stored on the subscription returns 400 (The field 'retries.cancel_on_exhausted_retries' can only be set when the subscription is created); echoing the current value is accepted. When true, the subscription is canceled once retries for a billing cycle end without a successful payment, instead of remaining ACTIVE and advancing to the next cycle. cancellation_source is set to RETRIES_EXHAUSTED and a single SUBSCRIPTION.CANCEL webhook is emitted. Defaults to false. The cancellation itself is final, so Retry Subscription is rejected afterwards."
                      }
                    }
                  },
                  "plan_change": {
                    "type": "object",
                    "nullable": true,
                    "description": "Moves the subscription to another plan. `effective: NEXT_BILLING_CYCLE` (the default) schedules the change for the next renewal — no proration, no mid-cycle charge. `effective: IMMEDIATE` applies the change in place, in this call: the subscription keeps its `id`, the new plan's price bills from the next charge, and `billing_cycle_behavior` decides what happens to the billing anchor. The subscription must be ACTIVE or TRIALING and already on a plan; the target plan must be ACTIVE. For scheduled changes only one can be pending at a time — send `\"plan_change\": null` to undo it before it applies (an IMMEDIATE change while another is pending returns 409). `amount`, `frequency`, `billing_date` and `country` are managed by the plan and cannot be sent for a plan-linked subscription — combining any of them with `plan_change` returns 400.",
                    "required": [
                      "plan_id"
                    ],
                    "properties": {
                      "plan_id": {
                        "type": "string",
                        "description": "The identifier of the target plan. Required. The target plan must be ACTIVE and priced in the subscription's currency."
                      },
                      "effective": {
                        "type": "string",
                        "enum": [
                          "NEXT_BILLING_CYCLE",
                          "IMMEDIATE"
                        ],
                        "description": "When the change applies. NEXT_BILLING_CYCLE (default): the current cycle bills the current plan's price, the next one bills the new plan's. IMMEDIATE: the subscription moves to the target plan in this call - unlike a scheduled change, this also works in the final billing cycle."
                      },
                      "phases_behavior": {
                        "type": "string",
                        "enum": [
                          "START_FROM_REGULAR",
                          "HONOR_PHASES"
                        ],
                        "description": "What happens when the target plan has phases. START_FROM_REGULAR (default) enters the regular phase directly — no re-lived trials. HONOR_PHASES enters through the target plan's phase schedule."
                      },
                      "billing_cycle_behavior": {
                        "type": "string",
                        "enum": [
                          "KEEP",
                          "RESTART"
                        ],
                        "description": "What happens to the billing anchor when the plan changes in place with `effective: IMMEDIATE`. KEEP (default — omitting the field behaves identically): the next charge date is untouched. RESTART: the next charge re-anchors to the moment of the change plus the new plan's frequency — the anchor alone resets; billing cycle counters, the retry configuration and the subscription status survive. RESTART requires `effective: IMMEDIATE` and returns 400 with a scheduled change; KEEP alongside a scheduled change is accepted and simply schedules the change as usual. Write-only: this field is never echoed in any response."
                      }
                    }
                  },
                  "billing_cycle_behavior": {
                    "type": "string",
                    "enum": [
                      "KEEP",
                      "RESTART"
                    ],
                    "description": "For subscriptions that are not linked to a plan: re-anchors billing in the same way as `plan_change.billing_cycle_behavior`, typically combined with a `frequency` change in the same call (e.g. monthly to yearly, restarting the cycle from today). KEEP (default): the next charge date is untouched. RESTART: re-anchors the next charge to now plus the (possibly updated) frequency; the anchor alone resets — cycle counters, the retry configuration and the subscription status survive. On a subscription that has not started yet (CREATED — accepted here, unlike `plan_change`), the anchor clamps to its start date. Rules: cannot be combined with `plan_change` (400 — use the nested field); on a plan-linked subscription this field returns 400 (managed through `plan_change`); a PAUSED subscription returns 409 INVALID_SUBSCRIPTION_STATUS. Write-only: never echoed in any response."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to metadata.",
                    "properties": {
                      "key": {
                        "type": "string",
                        "description": "Object title that represents the key-value pair inside the metadata (MAX 48 ; MIN 1)."
                      },
                      "value": {
                        "type": "string",
                        "description": "Object value for the key defined  (MAX 512 ; MIN 1)."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "UPDATE SUBSCRIPTION": {
                    "value": {
                      "id": "0c7fed3e-ee0d-4d34-9547-778be4ec0798",
                      "name": "Test Subscription",
                      "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                      "country": "US",
                      "description": "Subscription Test",
                      "merchant_reference": "subscription-ref-merchant-AA01",
                      "soft_descriptor": "ACME SUBSCRIPTION",
                      "status": "ACTIVE",
                      "amount": {
                        "currency": "USD",
                        "value": 15000
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "billing_cycles": {
                        "total": 12,
                        "current": 1,
                        "next_at": "2024-09-30T12:04:23.265393Z"
                      },
                      "customer_payer": {
                        "id": "a1d3b664-e32a-4508-9da1-9ede3e62a60c"
                      },
                      "payment_method": {
                        "type": "CARD",
                        "vaulted_token": "d4aa3586-def2-4705-b7cd-fe064bb764e6"
                      },
                      "availability": {
                        "start_at": "2024-09-30T12:04:23.265393Z",
                        "finish_at": null
                      },
                      "metadata": null,
                      "pending_plan_change": {
                        "plan_id": "1904911d-5df9-429e-8488-ad41abea1a4d",
                        "plan_name": "Pro",
                        "direction": "UPGRADE",
                        "effective": "NEXT_BILLING_CYCLE",
                        "phases_behavior": "START_FROM_REGULAR",
                        "applies_at": "2024-10-30T12:04:23.265372Z",
                        "requested_at": "2024-09-30T12:04:23.265372Z"
                      },
                      "created_at": "2024-09-30T12:04:23.265372Z",
                      "updated_at": "2024-09-30T12:04:23.265372Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "0c7fed3e-ee0d-4d34-9547-778be4ec0798"
                    },
                    "name": {
                      "type": "string",
                      "example": "Test Subscription"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "493e9374-510a-4201-9e09-de669d75f256"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "description": {
                      "type": "string",
                      "example": "Subscription Test",
                      "nullable": true
                    },
                    "merchant_reference": {
                      "type": "string",
                      "example": "subscription-ref-merchant-AA01"
                    },
                    "soft_descriptor": {
                      "type": "string",
                      "example": "ACME SUBSCRIPTION",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "value": {
                          "type": "number",
                          "example": 15000,
                          "default": 0
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "MONTH"
                        },
                        "value": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    },
                    "billing_cycles": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 12,
                          "default": 0,
                          "nullable": true
                        },
                        "current": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "next_at": {
                          "type": "string",
                          "example": "2024-09-30T12:04:23.265393Z"
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "a1d3b664-e32a-4508-9da1-9ede3e62a60c"
                        }
                      }
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "vaulted_token": {
                          "type": "string",
                          "example": "d4aa3586-def2-4705-b7cd-fe064bb764e6"
                        }
                      }
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "start_at": {
                          "type": "string",
                          "example": "2024-09-30T12:04:23.265393Z"
                        },
                        "finish_at": {}
                      }
                    },
                    "metadata": {},
                    "pending_plan_change": {
                      "type": "object",
                      "nullable": true,
                      "description": "The plan change scheduled for the next billing cycle, or null when none is pending.",
                      "properties": {
                        "plan_id": {
                          "type": "string",
                          "description": "The identifier of the target plan.",
                          "example": "1904911d-5df9-429e-8488-ad41abea1a4d"
                        },
                        "plan_name": {
                          "type": "string",
                          "description": "The name of the target plan.",
                          "example": "Pro"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "UPGRADE",
                            "DOWNGRADE"
                          ],
                          "description": "Whether the target plan is an upgrade or a downgrade. Informational only.",
                          "example": "UPGRADE"
                        },
                        "effective": {
                          "type": "string",
                          "enum": [
                            "NEXT_BILLING_CYCLE"
                          ],
                          "description": "When the change applies.",
                          "example": "NEXT_BILLING_CYCLE"
                        },
                        "phases_behavior": {
                          "type": "string",
                          "enum": [
                            "START_FROM_REGULAR",
                            "HONOR_PHASES"
                          ],
                          "description": "What happens when the target plan has phases.",
                          "example": "START_FROM_REGULAR"
                        },
                        "applies_at": {
                          "type": "string",
                          "description": "The billing event the change will take effect on — the subscription's next billing date.",
                          "example": "2024-10-30T12:04:23.265372Z"
                        },
                        "requested_at": {
                          "type": "string",
                          "description": "When the change was scheduled.",
                          "example": "2024-09-30T12:04:23.265372Z"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2024-09-30T12:04:23.265372Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2024-09-30T12:04:23.265372Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request."
                      ]
                    }
                  },
                  "PIX AUTOMATICO CADENCE NOT SUPPORTED": {
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "Pix Automático only supports weekly, monthly, quarterly, half-yearly or yearly frequencies with value 1."
                      ]
                    }
                  },
                  "PLAN CHANGE BEHAVIOR INVALID VALUE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "RESET is invalid for plan_change.billing_cycle_behavior field"
                      ]
                    },
                    "summary": "plan_change.billing_cycle_behavior accepts only KEEP or RESTART."
                  },
                  "BEHAVIOR COMBINED WITH PLAN CHANGE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "The billing_cycle_behavior field cannot be combined with plan_change; use plan_change.billing_cycle_behavior."
                      ]
                    },
                    "summary": "When you send plan_change, put the behaviour inside it rather than at the top level."
                  },
                  "RESTART REQUIRES IMMEDIATE": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "The plan_change.billing_cycle_behavior value RESTART requires effective IMMEDIATE."
                      ]
                    },
                    "summary": "RESTART re-anchors the billing date, so it is only valid on an immediate plan change."
                  },
                  "PLAN CHANGE ALREADY SCHEDULED": {
                    "value": {
                      "code": "PLAN_CHANGE_ALREADY_SCHEDULED",
                      "messages": [
                        "A plan change is already scheduled for this subscription. Undo it first with plan_change: null."
                      ]
                    },
                    "summary": "Only one plan change may be pending at a time."
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
