{
  "openapi": "3.1.0",
  "info": {
    "title": "APM Installments",
    "version": "1.0.0",
    "description": "Retrieve available installment plans for specific Alternative Payment Methods (APMs), such as NuPay."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "publicApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "privateSecretKey": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      },
      "accountCode": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Account-Code"
      }
    }
  },
  "security": [
    {
      "publicApiKey": [],
      "privateSecretKey": [],
      "accountCode": []
    }
  ],
  "paths": {
    "/apm-installments": {
      "post": {
        "summary": "Retrieve APM Installments",
        "description": "Retrieve available installment plans for specific Alternative Payment Methods (APMs). This is useful for integrations like NuPay, where you may want to present installment options to the customer before finalizing the payment.",
        "operationId": "retrieve-apm-installments",
        "tags": [
          "Installments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "country",
                  "amount",
                  "payment_method"
                ],
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 country code (e.g., BR).",
                    "example": "BR"
                  },
                  "amount": {
                    "type": "object",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code.",
                        "example": "BRL"
                      },
                      "value": {
                        "type": "string",
                        "description": "Amount in minor units.",
                        "example": "25000"
                      }
                    }
                  },
                  "customer": {
                    "type": "object",
                    "description": "Customer data. Can include id or email and document details.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Yuno customer ID.",
                        "example": "c9d0e1f2-3a4b-5c6d-7e8f-9a0b1c2d3e4f"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "customer@example.com"
                      },
                      "document": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "CPF",
                              "CNPJ"
                            ],
                            "example": "CPF"
                          },
                          "number": {
                            "type": "string",
                            "example": "00000000000"
                          }
                        }
                      }
                    }
                  },
                  "payment_method": {
                    "type": "string",
                    "description": "The specific NuPay method.",
                    "enum": [
                      "NU_PAY",
                      "NU_PAY_ENROLLMENT"
                    ],
                    "example": "NU_PAY_ENROLLMENT"
                  },
                  "vaulted_token": {
                    "type": "string",
                    "description": "Required for enrollment flow.",
                    "example": "vaulted_token_uuid"
                  }
                }
              },
              "examples": {
                "EnrollmentFlow": {
                  "summary": "Enrollment Flow",
                  "value": {
                    "country": "BR",
                    "amount": {
                      "currency": "BRL",
                      "value": "25000"
                    },
                    "customer": {
                      "id": "c9d0e1f2-3a4b-5c6d-7e8f-9a0b1c2d3e4f"
                    },
                    "payment_method": "NU_PAY_ENROLLMENT",
                    "vaulted_token": "vaulted_token_uuid"
                  }
                },
                "TwoFAMode": {
                  "summary": "2FA Mode",
                  "value": {
                    "country": "BR",
                    "payment_method": "NU_PAY",
                    "amount": {
                      "currency": "BRL",
                      "value": "25000"
                    },
                    "customer": {
                      "email": "customer@example.com",
                      "document": {
                        "type": "CPF",
                        "number": "00000000000"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of available installment plans.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "installment": {
                        "type": "integer"
                      },
                      "amount": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          }
                        }
                      },
                      "rate": {
                        "type": "number"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "installment": 1,
                    "amount": {
                      "currency": "BRL",
                      "value": 25000
                    },
                    "rate": 1
                  },
                  {
                    "installment": 3,
                    "amount": {
                      "currency": "BRL",
                      "value": 25000
                    },
                    "rate": 1.05
                  }
                ]
              }
            }
          }
        }
      }
    }
  }
}
