{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Banking Connectivity"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "paths": {
    "/banking/accounts/{account_id}/transfers/{transfer_id}": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "Pending": {
                    "summary": "Pending",
                    "value": {
                      "id": "xfer_bb0e8400-e29b-41d4-a716-446655440000",
                      "source_account_id": "acct_aa0e8400-e29b-41d4-a716-446655440000",
                      "destination_account_id": null,
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "merchant_transfer_id": "merchant_txn_12345",
                      "provider": {
                        "account_id": "col_bank_account_789",
                        "transfer_id": "col_transfer_xyz123"
                      },
                      "status": "PENDING",
                      "direction": "OUTGOING",
                      "destination_account": {
                        "account_number_last_4": "3210",
                        "routing_number": "987654321",
                        "iban": null,
                        "bsb": null,
                        "swift": null,
                        "sort_code": null,
                        "account_name": "Jane Smith",
                        "bank_name": "Chase Bank"
                      },
                      "amount": {
                        "value": 1000,
                        "currency": "USD"
                      },
                      "payment_rail": "ACH_STANDARD",
                      "description": "Payment to vendor",
                      "created_at": "2026-02-01T10:15:00Z",
                      "updated_at": "2026-02-01T10:15:00Z"
                    }
                  },
                  "Completed": {
                    "summary": "Completed",
                    "value": {
                      "id": "xfer_bb0e8400-e29b-41d4-a716-446655440000",
                      "source_account_id": "acct_aa0e8400-e29b-41d4-a716-446655440000",
                      "destination_account_id": null,
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "merchant_transfer_id": "merchant_txn_12345",
                      "provider": {
                        "account_id": "col_bank_account_789",
                        "transfer_id": "col_transfer_xyz123"
                      },
                      "status": "COMPLETED",
                      "direction": "OUTGOING",
                      "destination_account": {
                        "account_number_last_4": "3210",
                        "routing_number": "987654321",
                        "iban": null,
                        "bsb": null,
                        "swift": null,
                        "sort_code": null,
                        "account_name": "Jane Smith",
                        "bank_name": "Chase Bank"
                      },
                      "amount": {
                        "value": 1000,
                        "currency": "USD"
                      },
                      "payment_rail": "ACH_STANDARD",
                      "description": "Payment to vendor",
                      "created_at": "2026-02-01T10:15:00Z",
                      "updated_at": "2026-02-02T14:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHENTICATED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Missing required authentication headers"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 401,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "code": "NOT_AUTHENTICATED",
                      "messages": [
                        "Missing required authentication headers"
                      ],
                      "http_code": 401
                    }
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "ACCOUNT_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Account not found"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 404,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Not Found": {
                    "summary": "Not Found",
                    "value": {
                      "code": "ACCOUNT_NOT_FOUND",
                      "messages": [
                        "Account not found"
                      ],
                      "http_code": 404
                    }
                  }
                }
              }
            },
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The unique identifier of the account. Found on the [Yuno dashboard](https://dashboard.y.uno/) (UUID, 36 chars)."
          },
          {
            "in": "path",
            "name": "transfer_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The `id` of the transfer obtained from [Initiate Entity Transfer](/reference/initiate-entity-transfer) (UUID, 36 chars)."
          }
        ],
        "operationId": "get_v1-banking-connectivity-accounts-account-id-transfers-transfer-id",
        "summary": "Get Entity Transfer Status (Banking Connectivity)",
        "tags": [
          "Entity Transfers (Banking Connectivity)"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}