{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Banking Connectivity"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno"
    }
  ],
  "paths": {
    "/v1/banking/transfers": {
      "post": {
        "description": "",
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "xfer_bb0e8400-e29b-41d4-a716-446655440000"
                    },
                    "source_account_id": {
                      "type": "string",
                      "example": "acct_aa0e8400-e29b-41d4-a716-446655440000"
                    },
                    "destination_account_id": {},
                    "account_id": {
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "merchant_transfer_id": {
                      "type": "string",
                      "example": "merchant_txn_12345"
                    },
                    "provider": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "string",
                          "example": "col_bank_account_789"
                        },
                        "transfer_id": {
                          "type": "string",
                          "example": "col_transfer_xyz123"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "direction": {
                      "type": "string",
                      "example": "OUTGOING"
                    },
                    "destination_account": {
                      "type": "object",
                      "properties": {
                        "account_number_last_4": {
                          "type": "string",
                          "example": "3210"
                        },
                        "routing_number": {
                          "type": "string",
                          "example": "987654321"
                        },
                        "iban": {},
                        "bsb": {},
                        "swift": {},
                        "sort_code": {},
                        "account_name": {
                          "type": "string",
                          "example": "Jane Smith"
                        },
                        "bank_name": {
                          "type": "string",
                          "example": "Chase Bank"
                        }
                      }
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "integer",
                          "example": 1000,
                          "default": 0
                        },
                        "currency": {
                          "type": "string",
                          "example": "USD"
                        }
                      }
                    },
                    "payment_rail": {
                      "type": "string",
                      "example": "ACH_STANDARD"
                    },
                    "description": {
                      "type": "string",
                      "example": "Payment to vendor"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2026-02-01T10:15:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-02-01T10:15:00Z"
                    }
                  }
                },
                "examples": {
                  "Accepted (Outgoing)": {
                    "summary": "Accepted (Outgoing)",
                    "value": {
                      "id": "xfer_bb0e8400-e29b-41d4-a716-446655440000",
                      "source_account_id": "acct_aa0e8400-e29b-41d4-a716-446655440000",
                      "destination_account_id": null,
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "merchant_transfer_id": "merchant_txn_12345",
                      "provider": {
                        "account_id": "col_bank_account_789",
                        "transfer_id": "col_transfer_xyz123"
                      },
                      "status": "PENDING",
                      "direction": "OUTGOING",
                      "destination_account": {
                        "account_number_last_4": "3210",
                        "routing_number": "987654321",
                        "iban": null,
                        "bsb": null,
                        "swift": null,
                        "sort_code": null,
                        "account_name": "Jane Smith",
                        "bank_name": "Chase Bank"
                      },
                      "amount": {
                        "value": 1000,
                        "currency": "USD"
                      },
                      "payment_rail": "ACH_STANDARD",
                      "description": "Payment to vendor",
                      "created_at": "2026-02-01T10:15:00Z",
                      "updated_at": "2026-02-01T10:15:00Z"
                    }
                  }
                }
              }
            },
            "description": "Accepted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "source_account_id is required"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 400,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "messages": [
                        "source_account_id is required",
                        "destination_account or destination_account_id must be provided"
                      ],
                      "http_code": 400
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "ACCOUNT_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Account not found"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 404,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Not Found": {
                    "summary": "Not Found",
                    "value": {
                      "code": "ACCOUNT_NOT_FOUND",
                      "messages": [
                        "Account not found"
                      ],
                      "http_code": 404
                    }
                  }
                }
              }
            },
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "x-idempotency-key",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier used in HTTP headers to ensure that a request is processed only once, even if it is retried due to network issues or timeouts. See [authentication](https://docs.y.uno/reference/authentication#idempotency) for details (UUID).",
            "required": true
          }
        ],
        "operationId": "post_v1-banking-connectivity-transfers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "source_account_id",
                  "direction",
                  "amount",
                  "payment_rail",
                  "destination_account"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the merchant's Yuno account (UUID, 36 characters).",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "source_account_id": {
                    "type": "string",
                    "description": "The `id` of the source Banking Connectivity account obtained from [Create Account](https://docs.y.uno/reference/create-account-banking).",
                    "example": "acct_aa0e8400-e29b-41d4-a716-446655440000"
                  },
                  "destination_account_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The `id` of the destination Banking Connectivity account for internal (book) transfers. Set to `null` for external transfers.",
                    "example": null
                  },
                  "direction": {
                    "type": "string",
                    "description": "The transfer direction.",
                    "enum": [
                      "OUTGOING"
                    ],
                    "example": "OUTGOING"
                  },
                  "amount": {
                    "type": "object",
                    "description": "The transfer amount. Currency must match the source account currency.",
                    "required": [
                      "value",
                      "currency"
                    ],
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "The transfer amount (up to 4 decimal places, max 9,999,999,999).",
                        "example": 1000
                      },
                      "currency": {
                        "type": "string",
                        "description": "The currency ([ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)). Must match the source account currency.",
                        "example": "USD"
                      }
                    }
                  },
                  "payment_rail": {
                    "type": "string",
                    "description": "The payment rail to use for the transfer. Available rails depend on the provider region.",
                    "enum": [
                      "ACH_STANDARD",
                      "ACH_SAME_DAY",
                      "WIRE",
                      "RTP",
                      "FPS",
                      "CHAPS",
                      "BACS",
                      "NPP",
                      "PAYTO",
                      "BPAY"
                    ],
                    "example": "ACH_STANDARD"
                  },
                  "description": {
                    "type": "string",
                    "description": "A description for the transfer.",
                    "example": "Payment to vendor"
                  },
                  "merchant_transfer_id": {
                    "type": "string",
                    "description": "The merchant's own reference ID for reconciliation.",
                    "example": "merchant_txn_12345"
                  },
                  "destination_account": {
                    "type": "object",
                    "description": "The external destination account details. Required fields depend on the region: US requires `account_number` and `routing_number`; UK requires `iban` or `account_number` with `sort_code`; Australia requires `account_number` with `bsb`.",
                    "properties": {
                      "account_number": {
                        "type": "string",
                        "description": "The destination bank account number.",
                        "example": "9876543210"
                      },
                      "routing_number": {
                        "type": "string",
                        "nullable": true,
                        "description": "The US routing number. Required for US destinations.",
                        "example": "987654321"
                      },
                      "iban": {
                        "type": "string",
                        "nullable": true,
                        "description": "The IBAN. Required for UK and SEPA destinations.",
                        "example": null
                      },
                      "bsb": {
                        "type": "string",
                        "nullable": true,
                        "description": "The Australian BSB number. Required for Australian destinations.",
                        "example": null
                      },
                      "swift": {
                        "type": "string",
                        "nullable": true,
                        "description": "The SWIFT/BIC code. Required for international and SEPA transfers.",
                        "example": null
                      },
                      "sort_code": {
                        "type": "string",
                        "nullable": true,
                        "description": "The UK sort code. Required for UK destinations.",
                        "example": null
                      },
                      "account_name": {
                        "type": "string",
                        "description": "The destination account holder name.",
                        "example": "Jane Smith"
                      },
                      "bank_name": {
                        "type": "string",
                        "description": "The destination bank name.",
                        "example": "Chase Bank"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Outgoing Transfer": {
                  "summary": "Outgoing Transfer",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "source_account_id": "acct_aa0e8400-e29b-41d4-a716-446655440000",
                    "destination_account_id": null,
                    "direction": "OUTGOING",
                    "amount": {
                      "value": 1000,
                      "currency": "USD"
                    },
                    "payment_rail": "ACH_STANDARD",
                    "description": "Payment to vendor",
                    "merchant_transfer_id": "merchant_txn_12345",
                    "destination_account": {
                      "account_number": "9876543210",
                      "routing_number": "987654321",
                      "iban": null,
                      "bsb": null,
                      "swift": null,
                      "sort_code": null,
                      "account_name": "Jane Smith",
                      "bank_name": "Chase Bank"
                    }
                  }
                },
                "Book Transfer (Internal)": {
                  "summary": "Book Transfer (Internal)",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "source_account_id": "acct_aa0e8400-e29b-41d4-a716-446655440000",
                    "destination_account_id": "acct_bb0e8400-e29b-41d4-a716-446655440000",
                    "direction": "OUTGOING",
                    "amount": {
                      "value": 500,
                      "currency": "USD"
                    },
                    "payment_rail": "ACH_STANDARD",
                    "description": "Internal transfer between accounts",
                    "merchant_transfer_id": "merchant_book_67890",
                    "destination_account": {
                      "account_number": "1122334455",
                      "routing_number": "123456789",
                      "iban": null,
                      "bsb": null,
                      "swift": null,
                      "sort_code": null,
                      "account_name": "Jane Smith - Savings",
                      "bank_name": "Column"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Initiate Entity Transfer (Banking Connectivity)",
        "tags": [
          "Entity Transfers (Banking Connectivity)"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}