{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Banking Connectivity"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "paths": {
    "/banking/entities/{entity_id}/onboardings/{onboarding_id}": {
      "patch": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "id": "onb_990e8400-e29b-41d4-a716-446655440000",
                      "entity_id": "ent_660e8400-e29b-41d4-a716-446655440000",
                      "status": "PENDING",
                      "provider_status": "verification_pending",
                      "requirements": [],
                      "updated_at": "2026-02-01T10:05:00Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "onb_990e8400-e29b-41d4-a716-446655440000"
                    },
                    "entity_id": {
                      "type": "string",
                      "example": "ent_660e8400-e29b-41d4-a716-446655440000"
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "provider_status": {
                      "type": "string",
                      "example": "verification_pending"
                    },
                    "requirements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-02-01T10:05:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Onboarding has reached a terminal status and cannot be updated"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 400,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "messages": [
                        "Onboarding has reached a terminal status and cannot be updated"
                      ],
                      "http_code": 400
                    }
                  }
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "ONBOARDING_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Onboarding not found"
                      }
                    },
                    "http_code": {
                      "type": "integer",
                      "example": 404,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Not Found": {
                    "summary": "Not Found",
                    "value": {
                      "code": "ONBOARDING_NOT_FOUND",
                      "messages": [
                        "Onboarding not found"
                      ],
                      "http_code": 404
                    }
                  }
                }
              }
            },
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "entity_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The `id` of the entity obtained from [Create Entity](https://temp-yuno-docs.readme.io/reference/create-entity)."
          },
          {
            "in": "path",
            "name": "onboarding_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The `id` of the onboarding obtained from [Create Entity Onboarding](https://temp-yuno-docs.readme.io/reference/create-entity-onboarding)."
          }
        ],
        "operationId": "patch_v1-banking-connectivity-entities-entity-id-onboardings-onboarding-id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the merchant's Yuno account (UUID, 36 characters).",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "compliance_declaration": {
                    "type": "object",
                    "description": "Updated legal agreements.",
                    "properties": {
                      "terms_of_service": {
                        "type": "object",
                        "properties": {
                          "accepted": {
                            "type": "boolean",
                            "example": true
                          },
                          "version": {
                            "type": "string",
                            "example": "1.2.0"
                          },
                          "accepted_at": {
                            "type": "string",
                            "example": "2026-02-01T10:05:00Z"
                          },
                          "accepted_ip": {
                            "type": "string",
                            "example": "192.168.1.1"
                          }
                        }
                      },
                      "privacy_policy": {
                        "type": "object",
                        "properties": {
                          "accepted": {
                            "type": "boolean",
                            "example": true
                          },
                          "version": {
                            "type": "string",
                            "example": "2.1.0"
                          },
                          "accepted_at": {
                            "type": "string",
                            "example": "2026-02-01T10:05:00Z"
                          },
                          "accepted_ip": {
                            "type": "string",
                            "example": "192.168.1.1"
                          }
                        }
                      }
                    }
                  },
                  "risk_assessment": {
                    "type": "object",
                    "description": "Updated risk assessment results.",
                    "properties": {
                      "assessed_at": {
                        "type": "string",
                        "example": "2026-02-01T10:05:00Z"
                      },
                      "pep_status": {
                        "type": "object",
                        "properties": {
                          "is_pep": {
                            "type": "boolean",
                            "example": false
                          },
                          "pep_level": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "position": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "country": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          }
                        }
                      },
                      "rca_status": {
                        "type": "object",
                        "properties": {
                          "risk_level": {
                            "type": "string",
                            "enum": [
                              "LOW",
                              "MEDIUM",
                              "HIGH"
                            ],
                            "example": "LOW"
                          },
                          "classified_at": {
                            "type": "string",
                            "example": "2026-02-01T10:05:00Z"
                          },
                          "assessed_by": {
                            "type": "string",
                            "example": "Merchant Compliance Team"
                          }
                        }
                      },
                      "sanctions_screening": {
                        "type": "object",
                        "properties": {
                          "appears_on_sanctions_list": {
                            "type": "boolean",
                            "example": false
                          },
                          "sanctions_list_name": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "screened_at": {
                            "type": "string",
                            "example": "2026-02-01T09:00:00Z"
                          }
                        }
                      }
                    }
                  },
                  "source_of_funds": {
                    "type": "object",
                    "description": "Updated source of funds information.",
                    "properties": {
                      "primary_source": {
                        "type": "string",
                        "enum": [
                          "EMPLOYMENT_SALARY",
                          "BUSINESS_INCOME",
                          "INVESTMENTS",
                          "RENTAL_INCOME",
                          "PENSION",
                          "GOVERNMENT_BENEFITS",
                          "INHERITANCE",
                          "FAMILY_SUPPORT",
                          "SAVINGS",
                          "LOTTERY_GAMBLING",
                          "SALE_OF_ASSETS",
                          "CRYPTOCURRENCY",
                          "FREELANCE_CONSULTING",
                          "OTHER"
                        ],
                        "example": "EMPLOYMENT_SALARY"
                      },
                      "secondary_sources": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "INVESTMENTS"
                        ]
                      },
                      "description": {
                        "type": "string",
                        "example": "Primary income from full-time employment, supplemented by investment portfolio"
                      },
                      "estimated_annual_income": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "example": 175000
                          },
                          "currency": {
                            "type": "string",
                            "example": "USD"
                          }
                        }
                      }
                    }
                  },
                  "documentation": {
                    "type": "array",
                    "description": "Additional or updated KYC/KYB documents. Uses the same structure as [Create Entity Onboarding](https://temp-yuno-docs.readme.io/reference/create-entity-onboarding).",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "IDENTITY_DOCUMENT",
                            "PROOF_OF_ADDRESS",
                            "BANK_STATEMENT",
                            "BUSINESS_DOCUMENT",
                            "TAX_INFORMATION",
                            "FINANCIAL_DOCUMENT",
                            "BIOMETRIC_VERIFICATION",
                            "EMPLOYMENT_INFORMATION"
                          ],
                          "example": "BANK_STATEMENT"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Update Onboarding": {
                  "summary": "Update Onboarding",
                  "value": {
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "compliance_declaration": {
                      "terms_of_service": {
                        "accepted": true,
                        "version": "1.2.0",
                        "accepted_at": "2026-02-01T10:05:00Z",
                        "accepted_ip": "192.168.1.1"
                      },
                      "privacy_policy": {
                        "accepted": true,
                        "version": "2.1.0",
                        "accepted_at": "2026-02-01T10:05:00Z",
                        "accepted_ip": "192.168.1.1"
                      }
                    },
                    "risk_assessment": {
                      "assessed_at": "2026-02-01T10:05:00Z",
                      "pep_status": {
                        "is_pep": false,
                        "pep_level": null,
                        "position": null,
                        "country": null
                      },
                      "rca_status": {
                        "risk_level": "LOW",
                        "classified_at": "2026-02-01T10:05:00Z",
                        "assessed_by": "Merchant Compliance Team"
                      },
                      "sanctions_screening": {
                        "appears_on_sanctions_list": false,
                        "sanctions_list_name": null,
                        "screened_at": "2026-02-01T09:00:00Z"
                      }
                    },
                    "source_of_funds": {
                      "primary_source": "EMPLOYMENT_SALARY",
                      "secondary_sources": [
                        "INVESTMENTS"
                      ],
                      "description": "Primary income from full-time employment, supplemented by investment portfolio",
                      "estimated_annual_income": {
                        "amount": 175000,
                        "currency": "USD"
                      }
                    },
                    "documentation": [
                      {
                        "type": "BANK_STATEMENT",
                        "bank_statement": {
                          "bank_name": "Chase Bank",
                          "account_number_last_4": "1234",
                          "statement_period_start": "2025-12-01",
                          "statement_period_end": "2025-12-31",
                          "file": {
                            "file_name": "bank_statement_dec_2025.pdf",
                            "content_type": "application/pdf",
                            "content": "base64_encoded_content"
                          }
                        }
                      },
                      {
                        "type": "IDENTITY_DOCUMENT",
                        "identity_document": {
                          "subtype": "PASSPORT",
                          "document_number": "X12345678",
                          "issuing_country": "US",
                          "issued_at": "2020-01-15",
                          "expires_at": "2030-01-15",
                          "front_image": {
                            "file_name": "passport_front.jpg",
                            "content_type": "image/jpeg",
                            "content": "base64_encoded_content"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "summary": "Update Entity Onboarding (Banking Connectivity)",
        "tags": [
          "Entity Onboarding (Banking Connectivity)"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}