{
  "openapi": "3.1.0",
  "info": {
    "title": "Sellers (Franchise) API",
    "description": "The Sellers API allows franchise merchants to register per-provider seller identities so the correct `merchant_id` is automatically resolved at payment time.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://api.y.uno/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/sellers": {
      "post": {
        "summary": "Create Seller",
        "operationId": "create-seller",
        "tags": [
          "Sellers"
        ],
        "description": "Creates a new franchise seller mapping.",
        "parameters": [
          {
            "name": "public-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PRIVATE-SECRET-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerCreate"
              },
              "examples": {
                "CardProvider": {
                  "summary": "Seller with card provider",
                  "value": {
                    "account_id": "8a1c0e7f-4f2d-4bc7-9e1a-2c4d6f8a1b22",
                    "merchant_seller_id": "FRANCHISE_STORE_001",
                    "name": "Franchise Store New York",
                    "email": "store001@franchise.com",
                    "phone": {
                      "code": "+1",
                      "number": "2125550100"
                    },
                    "document": {
                      "type": "EIN",
                      "number": "12-3456789"
                    },
                    "address": {
                      "line_1": "350 Fifth Avenue",
                      "line_2": "Suite 101",
                      "city": "New York",
                      "state": "NY",
                      "country": "US",
                      "zip_code": "10118"
                    },
                    "country": "US",
                    "merchant_category_code": "5812",
                    "payment_methods": [
                      {
                        "provider_id": "STRIPE",
                        "payment_method_type": "CARD",
                        "merchant_id": "acct_1A2B3C4D5E"
                      }
                    ]
                  }
                },
                "MultipleProviders": {
                  "summary": "Seller with multiple providers (card + wallet)",
                  "value": {
                    "account_id": "8a1c0e7f-4f2d-4bc7-9e1a-2c4d6f8a1b22",
                    "merchant_seller_id": "FRANCHISE_STORE_001",
                    "name": "Franchise Store Los Angeles",
                    "country": "US",
                    "merchant_category_code": "5812",
                    "payment_methods": [
                      {
                        "provider_id": "STRIPE",
                        "payment_method_type": "CARD",
                        "merchant_id": "acct_1A2B3C4D5E"
                      },
                      {
                        "provider_id": "APPLE_PAY",
                        "payment_method_type": "APPLE_PAY",
                        "wallet_details": {
                          "payment_processing_key": "<base64-encoded .pem content>",
                          "payment_processing_certificate": "<base64-encoded .pem content>",
                          "merchant_identity_key": "<base64-encoded .pem content>",
                          "merchant_identity_certificate": "<base64-encoded .pem content>",
                          "merchant_identity_password": "password123"
                        }
                      }
                    ]
                  }
                },
                "MinimalSeller": {
                  "summary": "Minimal seller (no payment methods yet)",
                  "value": {
                    "account_id": "8a1c0e7f-4f2d-4bc7-9e1a-2c4d6f8a1b22",
                    "merchant_seller_id": "FRANCHISE_STORE_002",
                    "name": "Franchise Store Chicago"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Seller"
                },
                "examples": {
                  "CardProvider": {
                    "summary": "Seller created with card provider",
                    "value": {
                      "seller_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "merchant_seller_id": "FRANCHISE_STORE_001",
                      "name": "Franchise Store New York",
                      "email": "store001@franchise.com",
                      "phone": {
                        "code": "+1",
                        "number": "2125550100"
                      },
                      "document": {
                        "type": "EIN",
                        "number": "12-3456789"
                      },
                      "address": {
                        "line_1": "350 Fifth Avenue",
                        "line_2": "Suite 101",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "zip_code": "10118"
                      },
                      "country": "US",
                      "website": null,
                      "industry": null,
                      "merchant_category_code": "5812",
                      "payment_methods": [
                        {
                          "provider_id": "STRIPE",
                          "payment_method_type": "CARD",
                          "merchant_id": "acct_1A2B3C4D5E",
                          "wallet_details": null
                        }
                      ],
                      "created_at": "2026-05-07T10:00:00Z",
                      "updated_at": "2026-05-07T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/sellers/{merchant_seller_id}": {
      "parameters": [
        {
          "name": "merchant_seller_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "public-api-key",
          "in": "header",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "PRIVATE-SECRET-KEY",
          "in": "header",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get Seller",
        "operationId": "get-seller",
        "tags": [
          "Sellers"
        ],
        "description": "Retrieves a franchise seller mapping by the merchant's own identifier.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Seller"
                },
                "examples": {
                  "CardProvider": {
                    "summary": "Seller with card provider",
                    "value": {
                      "seller_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "merchant_seller_id": "FRANCHISE_STORE_001",
                      "name": "Franchise Store New York",
                      "email": "store001@franchise.com",
                      "phone": {
                        "code": "+1",
                        "number": "2125550100"
                      },
                      "document": {
                        "type": "EIN",
                        "number": "12-3456789"
                      },
                      "address": {
                        "line_1": "350 Fifth Avenue",
                        "line_2": "Suite 101",
                        "city": "New York",
                        "state": "NY",
                        "country": "US",
                        "zip_code": "10118"
                      },
                      "country": "US",
                      "website": null,
                      "industry": null,
                      "merchant_category_code": "5812",
                      "payment_methods": [
                        {
                          "provider_id": "STRIPE",
                          "payment_method_type": "CARD",
                          "merchant_id": "acct_1A2B3C4D5E",
                          "wallet_details": null
                        }
                      ],
                      "created_at": "2026-05-07T10:00:00Z",
                      "updated_at": "2026-05-07T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Update Seller",
        "operationId": "update-seller",
        "tags": [
          "Sellers"
        ],
        "description": "Fully replaces the seller details and payment method configurations. `merchant_seller_id` is taken from the URL path; `account_id` must be provided in the request body.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Seller"
                },
                "examples": {
                  "MultipleProviders": {
                    "summary": "Updated seller with multiple providers",
                    "value": {
                      "seller_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "merchant_seller_id": "FRANCHISE_STORE_001",
                      "name": "Franchise Store Los Angeles",
                      "email": null,
                      "phone": {
                        "code": null,
                        "number": null
                      },
                      "document": {
                        "type": null,
                        "number": null
                      },
                      "address": {
                        "line_1": null,
                        "line_2": null,
                        "city": null,
                        "state": null,
                        "country": null,
                        "zip_code": null
                      },
                      "country": "US",
                      "website": null,
                      "industry": null,
                      "merchant_category_code": "5812",
                      "payment_methods": [
                        {
                          "provider_id": "STRIPE",
                          "payment_method_type": "CARD",
                          "merchant_id": "acct_1A2B3C4D5E",
                          "wallet_details": null
                        },
                        {
                          "provider_id": "APPLE_PAY",
                          "payment_method_type": "APPLE_PAY",
                          "merchant_id": null,
                          "wallet_details": {
                            "payment_processing_key": "<base64-encoded .pem content>",
                            "payment_processing_certificate": "<base64-encoded .pem content>",
                            "merchant_identity_key": "<base64-encoded .pem content>",
                            "merchant_identity_certificate": "<base64-encoded .pem content>",
                            "merchant_identity_password": "password123"
                          }
                        }
                      ],
                      "created_at": "2026-05-07T10:00:00Z",
                      "updated_at": "2026-05-07T14:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete Seller",
        "operationId": "delete-seller",
        "tags": [
          "Sellers"
        ],
        "description": "Soft-deletes a franchise seller mapping.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Seller": {
        "type": "object",
        "properties": {
          "seller_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_seller_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "website": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "merchant_category_code": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "payment_methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodConfig"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SellerCreate": {
        "type": "object",
        "required": [
          "account_id",
          "merchant_seller_id"
        ],
        "properties": {
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_seller_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "ISO 3166-1 alpha-2 country code."
          },
          "website": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "merchant_category_code": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "payment_methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodConfig"
            }
          }
        }
      },
      "SellerUpdate": {
        "type": "object",
        "required": [
          "account_id"
        ],
        "properties": {
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "description": "ISO 3166-1 alpha-2 country code."
          },
          "industry": {
            "type": "string"
          },
          "merchant_category_code": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4
          },
          "payment_methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodConfig"
            }
          }
        }
      },
      "Phone": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Country dialing code (e.g. +1, +57)."
          },
          "number": {
            "type": "string"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "number": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "line_1": {
            "type": "string"
          },
          "line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          }
        }
      },
      "PaymentMethodConfig": {
        "type": "object",
        "description": "Each (provider_id, payment_method_type) pair must be unique within the array.",
        "required": [
          "provider_id",
          "payment_method_type"
        ],
        "properties": {
          "provider_id": {
            "type": "string"
          },
          "payment_method_type": {
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "wallet_details": {
            "$ref": "#/components/schemas/WalletDetails"
          }
        }
      },
      "WalletDetails": {
        "type": "object",
        "properties": {
          "payment_processing_key": {
            "type": "string"
          },
          "payment_processing_certificate": {
            "type": "string"
          },
          "merchant_identity_key": {
            "type": "string"
          },
          "merchant_identity_certificate": {
            "type": "string"
          },
          "merchant_identity_password": {
            "type": "string"
          }
        }
      },
      "CardDetail": {
        "type": "object",
        "properties": {
          "card": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "object",
                "required": [
                  "id",
                  "merchant_id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "merchant_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ApplePayDetail": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "object",
                "required": [
                  "id",
                  "merchant_id",
                  "payment_processing_key",
                  "payment_processing_certificate",
                  "merchant_identity_key",
                  "merchant_identity_certificate",
                  "merchant_identity_password"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "merchant_id": {
                    "type": "string"
                  },
                  "payment_processing_key": {
                    "type": "string"
                  },
                  "payment_processing_certificate": {
                    "type": "string"
                  },
                  "merchant_identity_key": {
                    "type": "string"
                  },
                  "merchant_identity_certificate": {
                    "type": "string"
                  },
                  "merchant_identity_password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
