{
  "openapi": "3.1.0",
  "info": {
    "title": "Transfer Flow API",
    "version": "1.0.0",
    "description": "API for managing standalone forward and reverse transfers within the Marketplace."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "public_api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY"
      },
      "private_secret_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY"
      }
    },
    "schemas": {
      "Amount": {
        "type": "object",
        "required": [
          "value",
          "currency"
        ],
        "properties": {
          "value": {
            "type": "number",
            "example": 150
          },
          "currency": {
            "type": "string",
            "example": "USD"
          }
        }
      },
      "Metadata": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        }
      },
      "ProviderData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "adyen"
          },
          "recipient_id": {
            "type": "string",
            "example": "SE322KT223222B5CM82WL9TB"
          },
          "transfer_id": {
            "type": "string",
            "example": "TRF_8535296827453920"
          },
          "response_code": {
            "type": "string",
            "example": "000"
          },
          "response_message": {
            "type": "string",
            "example": "Transfer completed"
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "TRF_7kB2mQ9xPnL4vR"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "example": "SUCCEEDED"
          },
          "reason": {
            "type": "string",
            "example": "ORDER_CANCELLED"
          },
          "description": {
            "type": "string",
            "example": "Weekly marketplace earnings"
          },
          "merchant_reference": {
            "type": "string",
            "example": "TRANSFER-2026-02-15-001"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "provider_data": {
            "$ref": "#/components/schemas/ProviderData"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-16T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-16T10:30:15Z"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-16T10:30:15Z"
          },
          "provider": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "9eee65d1-6c3a-4076-9ef9-fa4bff73d597"
                },
                "type": {
                  "type": "string",
                  "example": "SPLIT_TRANSFER"
                },
                "status": {
                  "type": "string",
                  "example": "ERROR"
                },
                "provider_transfer_id": {
                  "type": "string",
                  "example": "tr_1T9PTLIiMnPsFcbbFKyh1Nds"
                },
                "provider_response_message": {
                  "type": "string",
                  "example": "..."
                },
                "provider_raw_response": {
                  "type": "string",
                  "example": "{.... }"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2026-03-10T13:39:19.342902Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2026-03-10T13:39:19.342914Z"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "public_api_key": [],
      "private_secret_key": []
    }
  ],
  "paths": {
    "/split-marketplace/transfers/{transfer_id}": {
      "get": {
        "summary": "Get Standalone Transfer",
        "operationId": "get-standalone-transfer",
        "tags": [
          "Transfers"
        ],
        "description": "Retrieve the current status, provider information, and metadata for a specific transfer using its unique ID.",
        "parameters": [
          {
            "name": "transfer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the transfer (e.g., TRF_7kB2mQ9xPnL4vR)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "id": "94036ceb-5cca-4384-b144-e2a5a908af77",
                      "recipient_id": "e56c3329-f3d9-48e5-a677-284b147abf95",
                      "amount": {
                        "currency": "USD",
                        "value": 100
                      },
                      "status": "SUCCEEDED",
                      "description": "test transfer",
                      "merchant_reference": "c19e858a-ffd6-4635-8a31-4f60c5becf4d",
                      "metadata": [],
                      "provider": null,
                      "transactions": [
                        {
                          "code": "7ac2c5f3-7c79-4e99-b45e-aa5952620188",
                          "type": "SPLIT_TRANSFER",
                          "status": "SUCCEEDED",
                          "provider_transfer_id": "tr_1T9eKVIiMnPsFcbbRTb8ObsZ",
                          "provider_response_message": null,
                          "provider_raw_response": "{\n  \"id\": \"tr_1T9eKVIiMnPsFcbbRTb8ObsZ\",\n  \"object\": \"transfer\",\n  \"amount\": 10000,\n  \"amount_reversed\": 0,\n  \"balance_transaction\": \"txn_1T9eKVIiMnPsFcbbOPnvz3xM\",\n  \"created\": 1773203107,\n  \"currency\": \"usd\",\n  \"description\": \"test transfer\",\n  \"destination\": \"acct_1T9PSQIZEg1WWTvj\",\n  \"destination_payment\": \"py_1T9eKVIZEg1WWTvjbVjmnzFK\",\n  \"livemode\": false,\n  \"metadata\": {},\n  \"reversals\": {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/transfers/tr_1T9eKVIiMnPsFcbbRTb8ObsZ/reversals\"\n  },\n  \"reversed\": false,\n  \"source_transaction\": null,\n  \"source_type\": \"card\",\n  \"transfer_group\": null\n}",
                          "created_at": "2026-03-11T04:25:06.229027Z",
                          "updated_at": "2026-03-11T04:25:07.917364Z"
                        }
                      ],
                      "created_at": "2026-03-11T04:25:06.208761Z",
                      "updated_at": "2026-03-11T04:25:07.928000342Z",
                      "completed_at": "2026-03-11T04:25:07.927971142Z"
                    }
                  },
                  "Error": {
                    "value": {
                      "id": "9778f631-504d-448f-b2c1-f7b903781df7",
                      "recipient_id": "82b12c8c-7d3d-4a21-a3c6-165cc04ca741",
                      "amount": {
                        "currency": "USD",
                        "value": 50000
                      },
                      "status": "ERROR",
                      "description": "test transfer",
                      "merchant_reference": "cb18df20-21ae-4fed-8da9-fb81cfd56797",
                      "metadata": [],
                      "provider": null,
                      "transactions": [
                        {
                          "code": "9eee65d1-6c3a-4076-9ef9-fa4bff73d597",
                          "type": "SPLIT_TRANSFER",
                          "status": "ERROR",
                          "provider_transfer_id": "tr_1T9PTLIiMnPsFcbbFKyh1Nds",
                          "provider_response_message": "{\n  \"id\": \"tr_1T9PTLIiMnPsFcbbFKyh1Nds\",\n  \"object\": \"transfer\",\n  \"amount\": 10000,\n  \"amount_reversed\": 0,\n  \"balance_transaction\": \"txn_1T9PTMIiMnPsFcbbxRKvaZ3G\",\n  \"created\": 1773145996,\n  \"currency\": \"usd\",\n  \"description\": \"test transfer\"\n}",
                          "provider_raw_response": "{.... }",
                          "created_at": "2026-03-10T13:39:19.342902Z",
                          "updated_at": "2026-03-10T13:39:19.342914Z"
                        }
                      ],
                      "created_at": "2026-03-10T13:39:19.241990247Z",
                      "updated_at": "2026-03-10T13:39:19.242012664Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "TRANSFER_NOT_FOUND": {
                    "summary": "Transfer not found",
                    "value": {
                      "code": "TRANSFER_NOT_FOUND",
                      "messages": [
                        "The specified transfer was not found."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}