{
  "openapi": "3.1.0",
  "info": {
    "title": "Transfer Flow API",
    "version": "1.0.0",
    "description": "API for managing standalone forward and reverse transfers within the Marketplace."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "public_api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY"
      },
      "private_secret_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY"
      }
    },
    "schemas": {
      "Amount": {
        "type": "object",
        "required": [
          "value",
          "currency"
        ],
        "properties": {
          "value": {
            "type": "number",
            "example": 150
          },
          "currency": {
            "type": "string",
            "example": "USD"
          }
        }
      },
      "Metadata": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        }
      },
      "ProviderData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "adyen"
          },
          "recipient_id": {
            "type": "string",
            "example": "SE322KT223222B5CM82WL9TB"
          },
          "transfer_id": {
            "type": "string",
            "example": "TRF_8535296827453920"
          },
          "response_code": {
            "type": "string",
            "example": "000"
          },
          "response_message": {
            "type": "string",
            "example": "Transfer completed"
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "TRF_7kB2mQ9xPnL4vR"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "example": "SUCCEEDED"
          },
          "reason": {
            "type": "string",
            "example": "ORDER_CANCELLED"
          },
          "description": {
            "type": "string",
            "example": "Weekly marketplace earnings"
          },
          "merchant_reference": {
            "type": "string",
            "example": "TRANSFER-2026-02-15-001"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "provider_data": {
            "$ref": "#/components/schemas/ProviderData"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-16T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-16T10:30:15Z"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-16T10:30:15Z"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "9eee65d1-6c3a-4076-9ef9-fa4bff73d597"
                },
                "type": {
                  "type": "string",
                  "example": "SPLIT_TRANSFER"
                },
                "status": {
                  "type": "string",
                  "example": "ERROR"
                },
                "provider_transfer_id": {
                  "type": "string",
                  "example": "tr_1T9PTLIiMnPsFcbbFKyh1Nds"
                },
                "provider_response_message": {
                  "type": "string",
                  "example": "..."
                },
                "provider_raw_response": {
                  "type": "string",
                  "example": "{.... }"
                },
                "parent_transaction_code": {
                  "type": "string",
                  "description": "Code of the original transaction that a SPLIT_TRANSFER_REVERSE transaction reverses. Absent on the original transaction.",
                  "example": "cb5fd244-90fd-49b0-a160-a9d9f764eb9e"
                },
                "reason": {
                  "type": "string",
                  "description": "Reason given in the reverse request. Present on SPLIT_TRANSFER_REVERSE transactions.",
                  "example": "ORDER_CANCELLED"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2026-03-10T13:39:19.342902Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2026-03-10T13:39:19.342914Z"
                }
              }
            }
          }
        }
      },
      "ReverseTransfer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "recipient_id": {
            "$ref": "#/components/schemas/Transfer/properties/recipient_id"
          },
          "amount": {
            "$ref": "#/components/schemas/Transfer/properties/amount"
          },
          "status": {
            "type": "string",
            "example": "REVERSED_PARTIAL"
          },
          "reason": {
            "$ref": "#/components/schemas/Transfer/properties/reason"
          },
          "description": {
            "$ref": "#/components/schemas/Transfer/properties/description"
          },
          "merchant_reference": {
            "$ref": "#/components/schemas/Transfer/properties/merchant_reference"
          },
          "provider_data": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "recipient_id": {
                "type": "string"
              },
              "transaction_id": {
                "type": "string"
              },
              "response_code": {
                "type": "string"
              },
              "response_message": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "$ref": "#/components/schemas/Transfer/properties/created_at"
          },
          "updated_at": {
            "$ref": "#/components/schemas/Transfer/properties/updated_at"
          },
          "transactions": {
            "$ref": "#/components/schemas/Transfer/properties/transactions"
          }
        },
        "description": "The parent transfer after a reversal. Direction is available through GET, not this response."
      }
    }
  },
  "security": [
    {
      "public_api_key": [],
      "private_secret_key": []
    }
  ],
  "paths": {
    "/split-marketplace/transfers/{transfer_id}/reverse": {
      "post": {
        "summary": "Reverse Standalone Transfer",
        "operationId": "reverse-standalone-transfer",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "transfer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the transfer flow to reverse."
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique key for request idempotency."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account."
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "reason": {
                    "type": "string",
                    "description": "The reason for the reversal."
                  },
                  "description": {
                    "type": "string",
                    "description": "A human-readable description for the reversal."
                  },
                  "merchant_reference": {
                    "type": "string",
                    "description": "Merchant's unique identifier for tracking this reversal."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reversal processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseTransfer"
                },
                "examples": {
                  "PartialReversal": {
                    "summary": "Parent after a partial reversal",
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "recipient_id": "d246d578-266c-47c3-92b6-1748d780711b",
                      "amount": {
                        "currency": "USD",
                        "value": 1
                      },
                      "status": "REVERSED_PARTIAL",
                      "reason": "ORDER_CANCELLED",
                      "description": "Partial reversal",
                      "merchant_reference": "REVERSAL-001",
                      "provider_data": {
                        "id": "STRIPE",
                        "recipient_id": "acct_example",
                        "transaction_id": "trr_example",
                        "response_code": "",
                        "response_message": ""
                      },
                      "transactions": [
                        {
                          "code": "cb5fd244-90fd-49b0-a160-a9d9f764eb9e",
                          "type": "SPLIT_TRANSFER",
                          "status": "SUCCEEDED",
                          "provider_transfer_id": "tr_example",
                          "created_at": "2026-09-15T10:00:00Z",
                          "updated_at": "2026-09-15T10:00:00Z"
                        },
                        {
                          "code": "0e5b4d60-4811-4a48-90c1-398d28dbce8c",
                          "type": "SPLIT_TRANSFER_REVERSE",
                          "status": "SUCCEEDED",
                          "parent_transaction_code": "cb5fd244-90fd-49b0-a160-a9d9f764eb9e",
                          "provider_transfer_id": "trr_example",
                          "reason": "ORDER_CANCELLED",
                          "created_at": "2026-09-15T10:05:00Z",
                          "updated_at": "2026-09-15T10:05:00Z"
                        }
                      ],
                      "created_at": "2026-09-15T10:00:00Z",
                      "updated_at": "2026-09-15T10:05:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "TRANSFER_NOT_REVERSIBLE": {
                    "summary": "Transfer not reversible",
                    "value": {
                      "code": "TRANSFER_NOT_REVERSIBLE",
                      "messages": [
                        "The transfer is not in a reversible state."
                      ]
                    }
                  },
                  "TRANSFER_ALREADY_REVERSED": {
                    "summary": "Transfer already reversed",
                    "value": {
                      "code": "TRANSFER_ALREADY_REVERSED",
                      "messages": [
                        "The transfer has already been reversed."
                      ]
                    }
                  },
                  "REVERSAL_AMOUNT_EXCEEDS": {
                    "summary": "Reversal amount exceeds original",
                    "value": {
                      "code": "REVERSAL_AMOUNT_EXCEEDS",
                      "messages": [
                        "The reversal amount exceeds the original transfer amount."
                      ]
                    }
                  },
                  "INVALID_CURRENCY": {
                    "summary": "Invalid currency",
                    "value": {
                      "code": "INVALID_CURRENCY",
                      "messages": [
                        "The specified currency is invalid or does not match the original transfer."
                      ]
                    }
                  },
                  "DIRECTION_NOT_REVERSIBLE": {
                    "summary": "Recipient-to-platform transfers cannot be reversed",
                    "description": "Match on code. The message text can differ between releases.",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "Invalid transfer parameters"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "TRANSFER_NOT_FOUND": {
                    "summary": "Transfer not found",
                    "value": {
                      "code": "TRANSFER_NOT_FOUND",
                      "messages": [
                        "The specified transfer was not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "PROVIDER_INTERNAL_ERROR": {
                    "summary": "Provider internal error",
                    "value": {
                      "code": "PROVIDER_INTERNAL_ERROR",
                      "messages": [
                        "The payment provider encountered an internal error."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Fully or partially reverse a PLATFORM_TO_RECIPIENT transfer. A RECIPIENT_TO_PLATFORM parent returns 400 INVALID_PARAMETERS. To return a separately collected fee, create a new PLATFORM_TO_RECIPIENT transfer. The reversal HTTP response does not include direction; read the parent transfer to retrieve it."
      }
    }
  }
}
