{
  "openapi": "3.1.0",
  "info": {
    "title": "Transfer Flow API",
    "version": "1.0.0",
    "description": "API for managing standalone forward and reverse transfers within the Marketplace."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://api.y.uno/v1",
      "description": "Production (US)"
    },
    {
      "url": "https://api.eu.y.uno/v1",
      "description": "Production (EMEA)"
    }
  ],
  "components": {
    "securitySchemes": {
      "public_api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY"
      },
      "private_secret_key": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY"
      }
    },
    "schemas": {
      "Amount": {
        "type": "object",
        "required": [
          "value",
          "currency"
        ],
        "properties": {
          "value": {
            "type": "number",
            "example": 150.0
          },
          "currency": {
            "type": "string",
            "example": "USD"
          }
        }
      },
      "Metadata": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        }
      },
      "ProviderData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "adyen"
          },
          "recipient_id": {
            "type": "string",
            "example": "SE322KT223222B5CM82WL9TB"
          },
          "transfer_id": {
            "type": "string",
            "example": "TRF_8535296827453920"
          },
          "response_code": {
            "type": "string",
            "example": "000"
          },
          "response_message": {
            "type": "string",
            "example": "Transfer completed"
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "TRF_7kB2mQ9xPnL4vR"
          },
          "direction": {
            "type": "string",
            "enum": [
              "PLATFORM_TO_RECIPIENT",
              "RECIPIENT_TO_PLATFORM"
            ],
            "description": "The immutable direction saved when the transfer was created. Existing transfers return PLATFORM_TO_RECIPIENT. It cannot be changed after creation.",
            "example": "PLATFORM_TO_RECIPIENT"
          },
          "recipient_id": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "example": "SUCCEEDED"
          },
          "reason": {
            "type": "string",
            "example": "ORDER_CANCELLED"
          },
          "description": {
            "type": "string",
            "example": "Weekly marketplace earnings"
          },
          "merchant_reference": {
            "type": "string",
            "example": "TRANSFER-2026-02-15-001"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "provider_data": {
            "$ref": "#/components/schemas/ProviderData"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-16T10:30:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-16T10:30:15Z"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-16T10:30:15Z"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "9eee65d1-6c3a-4076-9ef9-fa4bff73d597"
                },
                "type": {
                  "type": "string",
                  "example": "SPLIT_TRANSFER"
                },
                "status": {
                  "type": "string",
                  "example": "ERROR"
                },
                "provider_transfer_id": {
                  "type": "string",
                  "example": "tr_1T9PTLIiMnPsFcbbFKyh1Nds"
                },
                "provider_response_message": {
                  "type": "string",
                  "example": "..."
                },
                "provider_raw_response": {
                  "type": "string",
                  "example": "{.... }"
                },
                "parent_transaction_code": {
                  "type": "string",
                  "description": "Code of the original transaction that a SPLIT_TRANSFER_REVERSE transaction reverses. Absent on the original transaction.",
                  "example": "cb5fd244-90fd-49b0-a160-a9d9f764eb9e"
                },
                "reason": {
                  "type": "string",
                  "description": "Reason given in the reverse request. Present on SPLIT_TRANSFER_REVERSE transactions.",
                  "example": "ORDER_CANCELLED"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2026-03-10T13:39:19.342902Z"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2026-03-10T13:39:19.342914Z"
                }
              }
            }
          }
        }
      },
      "ReverseTransfer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "recipient_id": {
            "$ref": "#/components/schemas/Transfer/properties/recipient_id"
          },
          "amount": {
            "$ref": "#/components/schemas/Transfer/properties/amount"
          },
          "status": {
            "type": "string",
            "example": "REVERSED_PARTIAL"
          },
          "reason": {
            "$ref": "#/components/schemas/Transfer/properties/reason"
          },
          "description": {
            "$ref": "#/components/schemas/Transfer/properties/description"
          },
          "merchant_reference": {
            "$ref": "#/components/schemas/Transfer/properties/merchant_reference"
          },
          "provider_data": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "recipient_id": {
                "type": "string"
              },
              "transaction_id": {
                "type": "string"
              },
              "response_code": {
                "type": "string"
              },
              "response_message": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "$ref": "#/components/schemas/Transfer/properties/created_at"
          },
          "updated_at": {
            "$ref": "#/components/schemas/Transfer/properties/updated_at"
          },
          "transactions": {
            "$ref": "#/components/schemas/Transfer/properties/transactions"
          }
        },
        "description": "The parent transfer after a reversal. Direction is available through GET, not this response."
      }
    }
  },
  "security": [
    {
      "public_api_key": [],
      "private_secret_key": []
    }
  ],
  "paths": {
    "/split-marketplace/transfers": {
      "post": {
        "summary": "Create Standalone Transfer",
        "operationId": "create-standalone-transfer",
        "tags": [
          "Transfers"
        ],
        "description": "Create a standalone transfer. Direction is immutable; omitted or null direction defaults to PLATFORM_TO_RECIPIENT. RECIPIENT_TO_PLATFORM is not generally available. Use it only after Yuno confirms account enablement and provider support. RECIPIENT_TO_PLATFORM with a provider other than STRIPE returns INVALID_PARAMETERS before the enablement check. Reusing the same account and idempotency key with a different normalized direction returns INVALID_PARAMETERS when the requested direction is enabled; otherwise the availability guard returns DIRECTION_NOT_ENABLED first.",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique key for request idempotency."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "recipient_id",
                  "provider_id",
                  "amount"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account."
                  },
                  "recipient_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The target recipient identifier."
                  },
                  "provider_id": {
                    "type": "string",
                    "description": "The payment provider code to use (e.g., adyen, stripe)."
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "description": {
                    "type": "string",
                    "description": "A human-readable description for the transfer (3-255 chars). This is sent to the provider."
                  },
                  "merchant_reference": {
                    "type": "string",
                    "description": "Merchant's unique identifier for idempotency and tracking."
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/Metadata"
                  },
                  "direction": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "PLATFORM_TO_RECIPIENT",
                      "RECIPIENT_TO_PLATFORM",
                      null
                    ],
                    "default": "PLATFORM_TO_RECIPIENT",
                    "description": "Direction of the transfer. Omitted or null defaults to PLATFORM_TO_RECIPIENT. RECIPIENT_TO_PLATFORM is supported only for eligible STRIPE accounts. RECIPIENT_TO_PLATFORM is not generally available. Use it only after Yuno confirms account enablement and provider support."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "id": "94036ceb-5cca-4384-b144-e2a5a908af77",
                      "recipient_id": "e56c3329-f3d9-48e5-a677-284b147abf95",
                      "amount": {
                        "currency": "USD",
                        "value": 100
                      },
                      "status": "SUCCEEDED",
                      "description": "test transfer",
                      "merchant_reference": "c19e858a-ffd6-4635-8a31-4f60c5becf4d",
                      "metadata": [],
                      "provider": null,
                      "transactions": [
                        {
                          "code": "7ac2c5f3-7c79-4e99-b45e-aa5952620188",
                          "type": "SPLIT_TRANSFER",
                          "status": "SUCCEEDED",
                          "provider_transfer_id": "tr_1T9eKVIiMnPsFcbbRTb8ObsZ",
                          "provider_response_message": null,
                          "provider_raw_response": "{\n  \"id\": \"tr_1T9eKVIiMnPsFcbbRTb8ObsZ\",\n  \"object\": \"transfer\",\n  \"amount\": 10000,\n  \"amount_reversed\": 0,\n  \"balance_transaction\": \"txn_1T9eKVIiMnPsFcbbOPnvz3xM\",\n  \"created\": 1773203107,\n  \"currency\": \"usd\",\n  \"description\": \"test transfer\",\n  \"destination\": \"acct_1T9PSQIZEg1WWTvj\",\n  \"destination_payment\": \"py_1T9eKVIZEg1WWTvjbVjmnzFK\",\n  \"livemode\": false,\n  \"metadata\": {},\n  \"reversals\": {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/transfers/tr_1T9eKVIiMnPsFcbbRTb8ObsZ/reversals\"\n  },\n  \"reversed\": false,\n  \"source_transaction\": null,\n  \"source_type\": \"card\",\n  \"transfer_group\": null\n}",
                          "created_at": "2026-03-11T04:25:06.229027Z",
                          "updated_at": "2026-03-11T04:25:07.917364Z"
                        }
                      ],
                      "created_at": "2026-03-11T04:25:06.208761Z",
                      "updated_at": "2026-03-11T04:25:07.928000342Z",
                      "completed_at": "2026-03-11T04:25:07.927971142Z",
                      "direction": "PLATFORM_TO_RECIPIENT"
                    }
                  },
                  "Error": {
                    "value": {
                      "id": "9778f631-504d-448f-b2c1-f7b903781df7",
                      "recipient_id": "82b12c8c-7d3d-4a21-a3c6-165cc04ca741",
                      "amount": {
                        "currency": "USD",
                        "value": 50000
                      },
                      "status": "ERROR",
                      "description": "test transfer",
                      "merchant_reference": "cb18df20-21ae-4fed-8da9-fb81cfd56797",
                      "metadata": [],
                      "provider": null,
                      "transactions": [
                        {
                          "code": "9eee65d1-6c3a-4076-9ef9-fa4bff73d597",
                          "type": "SPLIT_TRANSFER",
                          "status": "ERROR",
                          "provider_transfer_id": "tr_1T9PTLIiMnPsFcbbFKyh1Nds",
                          "provider_response_message": "{\n  \"id\": \"tr_1T9PTLIiMnPsFcbbFKyh1Nds\",\n  \"object\": \"transfer\",\n  \"amount\": 10000,\n  \"amount_reversed\": 0,\n  \"balance_transaction\": \"txn_1T9PTMIiMnPsFcbbxRKvaZ3G\",\n  \"created\": 1773145996,\n  \"currency\": \"usd\",\n  \"description\": \"test transfer\"\n}",
                          "provider_raw_response": "{.... }",
                          "created_at": "2026-03-10T13:39:19.342902Z",
                          "updated_at": "2026-03-10T13:39:19.342914Z"
                        }
                      ],
                      "created_at": "2026-03-10T13:39:19.241990247Z",
                      "updated_at": "2026-03-10T13:39:19.242012664Z",
                      "direction": "PLATFORM_TO_RECIPIENT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "PROVIDER_NOT_FOUND": {
                    "summary": "Provider not found",
                    "value": {
                      "code": "PROVIDER_NOT_FOUND",
                      "messages": [
                        "The specified provider was not found."
                      ]
                    }
                  },
                  "ONBOARDING_NOT_VALID": {
                    "summary": "Onboarding not valid",
                    "value": {
                      "code": "ONBOARDING_NOT_VALID",
                      "messages": [
                        "The recipient onboarding is not valid for this operation."
                      ]
                    }
                  },
                  "CURRENCY_NOT_SUPPORTED": {
                    "summary": "Currency not supported",
                    "value": {
                      "code": "CURRENCY_NOT_SUPPORTED",
                      "messages": [
                        "The specified currency is not supported."
                      ]
                    }
                  },
                  "INVALID_AMOUNT": {
                    "summary": "Invalid amount",
                    "value": {
                      "code": "INVALID_AMOUNT",
                      "messages": [
                        "The transfer amount is invalid."
                      ]
                    }
                  },
                  "INSUFFICIENT_BALANCE": {
                    "summary": "Insufficient balance",
                    "value": {
                      "code": "INSUFFICIENT_BALANCE",
                      "messages": [
                        "Insufficient balance to complete the transfer."
                      ]
                    }
                  },
                  "INVALID_DIRECTION_VALUE": {
                    "summary": "Invalid direction value",
                    "description": "An empty, unknown or incorrectly cased string returns INVALID_PARAMETERS. Null uses the default direction.",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The field 'direction' has an invalid value."
                      ]
                    }
                  },
                  "INVALID_DIRECTION_TYPE": {
                    "summary": "Direction is not a string",
                    "description": "A JSON object, array, number or boolean in direction is rejected while decoding the body, before any other validation.",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The field 'direction' must be a string."
                      ]
                    }
                  },
                  "DIRECTION_UNSUPPORTED_PROVIDER": {
                    "summary": "Recipient-to-platform with a provider other than STRIPE",
                    "description": "Rejected before the account enablement check. Match on code; the message text can differ between releases.",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "Invalid transfer parameters"
                      ]
                    }
                  },
                  "DIRECTION_NOT_ENABLED": {
                    "summary": "Direction not enabled for this account",
                    "value": {
                      "code": "DIRECTION_NOT_ENABLED",
                      "messages": [
                        "Transfer direction is not enabled for this account"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "RECIPIENT_NOT_FOUND": {
                    "summary": "Recipient not found",
                    "value": {
                      "code": "RECIPIENT_NOT_FOUND",
                      "messages": [
                        "The specified recipient was not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "PROVIDER_INTERNAL_ERROR": {
                    "summary": "Provider internal error",
                    "value": {
                      "code": "PROVIDER_INTERNAL_ERROR",
                      "messages": [
                        "The payment provider encountered an internal error."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/split-marketplace/transfers/{transfer_id}": {
      "get": {
        "summary": "Get Standalone Transfer",
        "operationId": "get-standalone-transfer",
        "tags": [
          "Transfers"
        ],
        "description": "Retrieve the saved transfer, including its immutable direction. Existing transfers return PLATFORM_TO_RECIPIENT. Reversals do not change the parent direction.",
        "parameters": [
          {
            "name": "transfer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the transfer (e.g., TRF_7kB2mQ9xPnL4vR)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                },
                "examples": {
                  "Success": {
                    "value": {
                      "id": "94036ceb-5cca-4384-b144-e2a5a908af77",
                      "recipient_id": "e56c3329-f3d9-48e5-a677-284b147abf95",
                      "amount": {
                        "currency": "USD",
                        "value": 100
                      },
                      "status": "SUCCEEDED",
                      "description": "test transfer",
                      "merchant_reference": "c19e858a-ffd6-4635-8a31-4f60c5becf4d",
                      "metadata": [],
                      "provider": null,
                      "transactions": [
                        {
                          "code": "7ac2c5f3-7c79-4e99-b45e-aa5952620188",
                          "type": "SPLIT_TRANSFER",
                          "status": "SUCCEEDED",
                          "provider_transfer_id": "tr_1T9eKVIiMnPsFcbbRTb8ObsZ",
                          "provider_response_message": null,
                          "provider_raw_response": "{\n  \"id\": \"tr_1T9eKVIiMnPsFcbbRTb8ObsZ\",\n  \"object\": \"transfer\",\n  \"amount\": 10000,\n  \"amount_reversed\": 0,\n  \"balance_transaction\": \"txn_1T9eKVIiMnPsFcbbOPnvz3xM\",\n  \"created\": 1773203107,\n  \"currency\": \"usd\",\n  \"description\": \"test transfer\",\n  \"destination\": \"acct_1T9PSQIZEg1WWTvj\",\n  \"destination_payment\": \"py_1T9eKVIZEg1WWTvjbVjmnzFK\",\n  \"livemode\": false,\n  \"metadata\": {},\n  \"reversals\": {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/transfers/tr_1T9eKVIiMnPsFcbbRTb8ObsZ/reversals\"\n  },\n  \"reversed\": false,\n  \"source_transaction\": null,\n  \"source_type\": \"card\",\n  \"transfer_group\": null\n}",
                          "created_at": "2026-03-11T04:25:06.229027Z",
                          "updated_at": "2026-03-11T04:25:07.917364Z"
                        }
                      ],
                      "created_at": "2026-03-11T04:25:06.208761Z",
                      "updated_at": "2026-03-11T04:25:07.928000342Z",
                      "completed_at": "2026-03-11T04:25:07.927971142Z",
                      "direction": "PLATFORM_TO_RECIPIENT"
                    }
                  },
                  "Error": {
                    "value": {
                      "id": "9778f631-504d-448f-b2c1-f7b903781df7",
                      "recipient_id": "82b12c8c-7d3d-4a21-a3c6-165cc04ca741",
                      "amount": {
                        "currency": "USD",
                        "value": 50000
                      },
                      "status": "ERROR",
                      "description": "test transfer",
                      "merchant_reference": "cb18df20-21ae-4fed-8da9-fb81cfd56797",
                      "metadata": [],
                      "provider": null,
                      "transactions": [
                        {
                          "code": "9eee65d1-6c3a-4076-9ef9-fa4bff73d597",
                          "type": "SPLIT_TRANSFER",
                          "status": "ERROR",
                          "provider_transfer_id": "tr_1T9PTLIiMnPsFcbbFKyh1Nds",
                          "provider_response_message": "{\n  \"id\": \"tr_1T9PTLIiMnPsFcbbFKyh1Nds\",\n  \"object\": \"transfer\",\n  \"amount\": 10000,\n  \"amount_reversed\": 0,\n  \"balance_transaction\": \"txn_1T9PTMIiMnPsFcbbxRKvaZ3G\",\n  \"created\": 1773145996,\n  \"currency\": \"usd\",\n  \"description\": \"test transfer\"\n}",
                          "provider_raw_response": "{.... }",
                          "created_at": "2026-03-10T13:39:19.342902Z",
                          "updated_at": "2026-03-10T13:39:19.342914Z"
                        }
                      ],
                      "created_at": "2026-03-10T13:39:19.241990247Z",
                      "updated_at": "2026-03-10T13:39:19.242012664Z",
                      "direction": "PLATFORM_TO_RECIPIENT"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "TRANSFER_NOT_FOUND": {
                    "summary": "Transfer not found",
                    "value": {
                      "code": "TRANSFER_NOT_FOUND",
                      "messages": [
                        "The specified transfer was not found."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/split-marketplace/transfers/{transfer_id}/reverse": {
      "post": {
        "summary": "Reverse Standalone Transfer",
        "operationId": "reverse-standalone-transfer",
        "tags": [
          "Transfers"
        ],
        "description": "Fully or partially reverse a PLATFORM_TO_RECIPIENT transfer. A RECIPIENT_TO_PLATFORM parent returns 400 INVALID_PARAMETERS. To return a separately collected fee, create a new PLATFORM_TO_RECIPIENT transfer. The reversal HTTP response does not include direction; read the parent transfer to retrieve it.",
        "parameters": [
          {
            "name": "transfer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of the transfer flow to reverse."
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique key for request idempotency."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account."
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "reason": {
                    "type": "string",
                    "description": "The reason for the reversal."
                  },
                  "description": {
                    "type": "string",
                    "description": "A human-readable description for the reversal."
                  },
                  "merchant_reference": {
                    "type": "string",
                    "description": "Merchant's unique identifier for tracking this reversal."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reversal processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseTransfer"
                },
                "examples": {
                  "PartialReversal": {
                    "summary": "Parent after a partial reversal",
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "recipient_id": "d246d578-266c-47c3-92b6-1748d780711b",
                      "amount": {
                        "currency": "USD",
                        "value": 1
                      },
                      "status": "REVERSED_PARTIAL",
                      "reason": "ORDER_CANCELLED",
                      "description": "Partial reversal",
                      "merchant_reference": "REVERSAL-001",
                      "provider_data": {
                        "id": "STRIPE",
                        "recipient_id": "acct_example",
                        "transaction_id": "trr_example",
                        "response_code": "",
                        "response_message": ""
                      },
                      "transactions": [
                        {
                          "code": "cb5fd244-90fd-49b0-a160-a9d9f764eb9e",
                          "type": "SPLIT_TRANSFER",
                          "status": "SUCCEEDED",
                          "provider_transfer_id": "tr_example",
                          "created_at": "2026-09-15T10:00:00Z",
                          "updated_at": "2026-09-15T10:00:00Z"
                        },
                        {
                          "code": "0e5b4d60-4811-4a48-90c1-398d28dbce8c",
                          "type": "SPLIT_TRANSFER_REVERSE",
                          "status": "SUCCEEDED",
                          "parent_transaction_code": "cb5fd244-90fd-49b0-a160-a9d9f764eb9e",
                          "provider_transfer_id": "trr_example",
                          "reason": "ORDER_CANCELLED",
                          "created_at": "2026-09-15T10:05:00Z",
                          "updated_at": "2026-09-15T10:05:00Z"
                        }
                      ],
                      "created_at": "2026-09-15T10:00:00Z",
                      "updated_at": "2026-09-15T10:05:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "TRANSFER_NOT_REVERSIBLE": {
                    "summary": "Transfer not reversible",
                    "value": {
                      "code": "TRANSFER_NOT_REVERSIBLE",
                      "messages": [
                        "The transfer is not in a reversible state."
                      ]
                    }
                  },
                  "TRANSFER_ALREADY_REVERSED": {
                    "summary": "Transfer already reversed",
                    "value": {
                      "code": "TRANSFER_ALREADY_REVERSED",
                      "messages": [
                        "The transfer has already been reversed."
                      ]
                    }
                  },
                  "REVERSAL_AMOUNT_EXCEEDS": {
                    "summary": "Reversal amount exceeds original",
                    "value": {
                      "code": "REVERSAL_AMOUNT_EXCEEDS",
                      "messages": [
                        "The reversal amount exceeds the original transfer amount."
                      ]
                    }
                  },
                  "INVALID_CURRENCY": {
                    "summary": "Invalid currency",
                    "value": {
                      "code": "INVALID_CURRENCY",
                      "messages": [
                        "The specified currency is invalid or does not match the original transfer."
                      ]
                    }
                  },
                  "DIRECTION_NOT_REVERSIBLE": {
                    "summary": "Recipient-to-platform transfers cannot be reversed",
                    "description": "Match on code. The message text can differ between releases.",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "Invalid transfer parameters"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "TRANSFER_NOT_FOUND": {
                    "summary": "Transfer not found",
                    "value": {
                      "code": "TRANSFER_NOT_FOUND",
                      "messages": [
                        "The specified transfer was not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "PROVIDER_INTERNAL_ERROR": {
                    "summary": "Provider internal error",
                    "value": {
                      "code": "PROVIDER_INTERNAL_ERROR",
                      "messages": [
                        "The payment provider encountered an internal error."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
