{
  "openapi": "3.1.0",
  "info": {
    "title": "payment-api-create-payment-back-to-back",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/customers/{customer_id}": {
      "delete": {
        "description": "",
        "operationId": "delete-customer",
        "responses": {
          "202": {
            "description": "Accepted (body is empty)"
          },
          "400": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "examples": {
                  "Customer Not Found": {
                    "value": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "messages": [
                        "Customer not found."
                      ]
                    },
                    "summary": "Customer Not Found"
                  },
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "Not found"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "x-account-code",
            "schema": {
              "type": "string"
            },
            "description": "The account_id found in the Yuno Dashboard (UUID | MAX 36; MIN 36).",
            "required": true
          },
          {
            "in": "path",
            "name": "customer_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ]
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}