{
  "openapi": "3.1.0",
  "info": { "title": "Organization Authentication API", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/authenticate": {
      "post": {
        "summary": "Authenticate Whitelabel User",
        "operationId": "authenticate-whitelabel-user",
        "description": "Authenticates a whitelabel user and returns a JWT embed token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [ "user_id" ],
                "properties": {
                  "user_id": { "type": "string", "format": "uuid", "description": "UUID of the whitelabel user." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": { "type": "string", "description": "JWT token for the whitelabel user." },
                    "token_type": { "type": "string", "example": "Bearer" },
                    "expires_in": { "type": "integer", "example": 86400 }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "INVALID_PARAMETERS" },
                    "message": { "type": "string", "example": "Missing or invalid user_id." }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "LOGIN_FAILED" },
                    "message": { "type": "string", "example": "Unable to authenticate the specified user." }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
