{
  "openapi": "3.1.0",
  "info": {
    "title": "Account Groups API - Create",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "PUBLIC-API-KEY",
        "x-default": "<Your PUBLIC-API-KEY>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-SECRET-KEY",
        "x-default": "<Your PRIVATE-SECRET-KEY>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/organizations/account-groups": {
      "post": {
        "summary": "Create Account Group",
        "operationId": "create-account-group",
        "description": "Creates a new group (sub-organization).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "merchant_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Account group name (min=1, max=255)."
                  },
                  "merchant_id": {
                    "type": "string",
                    "description": "Unique identifier used by the merchant in their systems (min=1, max=255)."
                  },
                  "account_codes": {
                    "type": "array",
                    "items": { "type": "string", "format": "uuid" },
                    "description": "Optional. `id`s of existing accounts to attach to the new group in the same transaction. An account belongs to one group at a time, so an account that is already in another group is moved to the new one. If any code does not match an active account of the organization the whole request fails and no group is created. Defaults to an empty list."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The unique identifier of the account group."
                    },
                    "name": {
                      "type": "string"
                    },
                    "merchant_id": {
                      "type": "string"
                    },
                    "parent_code": {
                      "type": ["string", "null"],
                      "format": "uuid",
                      "description": "The `id` of the group this group is nested under. Always `null` on creation: a new group is created as a root and nested afterwards with Update Account Group."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
