{
  "openapi": "3.1.0",
  "info": {
    "title": "Account Groups API - Delete",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/account-groups/{account_group_id}": {
      "delete": {
        "summary": "Delete Account Group",
        "operationId": "delete-account-group",
        "description": "Deletes an account group. A group can only be deleted once it is empty: remove, move or delete its accounts first (see Remove Account from Group) and move or delete its sub-groups. Accounts are never reassigned automatically.",
        "parameters": [
          {
            "name": "account_group_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Account group UUID."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content — the group was deleted."
          },
          "400": {
            "description": "Bad Request. The `code` field tells the reason:\n\n- `GROUP_HAS_ACCOUNTS` — the group still has accounts. Remove them from the group first.\n- `GROUP_HAS_SUBGROUPS` — the group still has sub-groups. Move them to another parent (or detach them with Update Account Group) or delete them first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "description": "Machine-readable error code." },
                    "messages": { "type": "array", "items": { "type": "string" }, "description": "Human-readable details." }
                  }
                },
                "example": { "code": "GROUP_HAS_SUBGROUPS", "messages": ["Cannot delete account group that still has sub-groups"] }
              }
            }
          },
          "404": {
            "description": "Not Found — no account group with that `account_group_id` in this organization."
          }
        }
      }
    }
  }
}
