{
  "openapi": "3.1.0",
  "info": {
    "title": "Users API - Find by Email",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/users": {
      "get": {
        "summary": "Find Users by Email",
        "operationId": "find-user-by-email",
        "description": "Returns users, optionally filtered by email, account_id, or account_group_id — all filters are optional and can be combined. An email address may belong to users in multiple organizations; only matches within the calling organization are returned. When no user matches the given filters the response contains an empty `data` array — it is not an error.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "email" },
            "description": "Filter by email address. Must be an exact, case-insensitive match."
          },
          { "name": "account_group_id", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by account group." },
          { "name": "account_id", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by account." },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 }, "description": "Page number." },
          { "name": "page_size", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 }, "description": "Page size." }
        ],
        "responses": {
          "200": {
            "description": "OK — zero or more users matching the email address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of users whose email matches the requested address within the calling organization. Empty when no match is found.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Yuno-generated unique identifier of the user."
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address of the user."
                          },
                          "first_name": {
                            "type": "string",
                            "description": "User's first name."
                          },
                          "last_name": {
                            "type": "string",
                            "description": "User's last name."
                          },
                          "account_permissions": {
                            "type": "array",
                            "description": "List of account-level permissions assigned to this user.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "account_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "description": "Account the permission applies to."
                                },
                                "role_id": {
                                  "type": "string",
                                  "description": "Role assigned to the user on this account."
                                }
                              }
                            }
                          },
                          "account_group_permissions": {
                            "type": "array",
                            "description": "List of account-group-level permissions assigned to this user.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "account_group_id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "description": "Account group the permission applies to."
                                },
                                "role_id": {
                                  "type": "string",
                                  "description": "Role assigned to the user on this account group."
                                }
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp of when the user was created."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "ISO 8601 timestamp of the last update."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "page_size": { "type": "integer" },
                        "total_items": { "type": "integer" },
                        "total_pages": { "type": "integer" },
                        "has_next": { "type": "boolean" },
                        "has_previous": { "type": "boolean" }
                      }
                    }
                  }
                },
                "examples": {
                  "match_found": {
                    "summary": "User found",
                    "value": {
                      "data": [
                        {
                          "id": "f1e2d3c4-b5a6-7890-fedc-ba0987654321",
                          "email": "jane.doe@acme.com",
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "account_permissions": [
                            {
                              "account_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                              "role_id": "ADMIN"
                            }
                          ],
                          "account_group_permissions": [],
                          "created_at": "2024-01-10T09:00:00Z",
                          "updated_at": "2024-05-20T14:15:00Z"
                        }
                      ],
                      "pagination": {
                        "page": 1,
                        "page_size": 20,
                        "total_items": 1,
                        "total_pages": 1,
                        "has_next": false,
                        "has_previous": false
                      }
                    }
                  },
                  "no_match": {
                    "summary": "No user matched — empty result",
                    "value": {
                      "data": [],
                      "pagination": {
                        "page": 1,
                        "page_size": 20,
                        "total_items": 0,
                        "total_pages": 0,
                        "has_next": false,
                        "has_previous": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — `email`, if provided, is not a valid email address."
          },
          "401": {
            "description": "Unauthorized — invalid or missing API credentials."
          }
        }
      }
    }
  }
}
