{
  "openapi": "3.1.0",
  "info": {
    "title": "Users API - List",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/users": {
      "get": {
        "summary": "List Users",
        "operationId": "list-users",
        "description": "Lists users. Optionally filter by account_group_id or account_id.",
        "parameters": [
          { "name": "account_group_id", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by account group." },
          { "name": "account_id", "in": "query", "schema": { "type": "string", "format": "uuid" }, "description": "Filter by account." },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 }, "description": "Page number." },
          { "name": "page_size", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 }, "description": "Page size." }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "format": "uuid" },
                          "email": { "type": "string" },
                          "first_name": { "type": "string" },
                          "last_name": { "type": "string" },
                          "account_permissions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "account_id": { "type": "string", "format": "uuid" },
                                "role_id": { "type": "string" }
                              }
                            }
                          },
                          "account_group_permissions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "account_group_id": { "type": "string", "format": "uuid" },
                                "role_id": { "type": "string" }
                              }
                            }
                          },
                          "created_at": { "type": "string", "format": "date-time" },
                          "updated_at": { "type": "string", "format": "date-time" }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "page_size": { "type": "integer" },
                        "total_items": { "type": "integer" },
                        "total_pages": { "type": "integer" },
                        "has_next": { "type": "boolean" },
                        "has_previous": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
