{
  "openapi": "3.1.0",
  "info": {
    "title": "Permissions Catalog API - List",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/permissions-catalog": {
      "get": {
        "summary": "List Permissions Catalog",
        "operationId": "list-permissions-catalog",
        "description": "Slim permissions catalog including sections and permissions.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": { "type": "string", "example": "Payments" },
                      "organization_only": { "type": "boolean" },
                      "permissions_catalog": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string", "example": "view_payment_transactions" },
                            "title": { "type": "string", "example": "View payment transactions" },
                            "description": { "type": "string" },
                            "action_type": { "type": "string", "enum": ["VIEW", "EDIT"] }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
