{
  "openapi": "3.1.0",
  "info": {
    "title": "Account Groups API - List",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://api.y.uno/v1",
      "description": "Production (US)"
    },
    {
      "url": "https://api.eu.y.uno/v1",
      "description": "Production (EMEA)"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/account-groups": {
      "get": {
        "summary": "List Account Groups",
        "operationId": "list-account-groups",
        "description": "Lists all account groups for the authenticated organization.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "format": "uuid" },
                          "name": { "type": "string" },
                          "merchant_id": { "type": "string" },
                          "parent_code": { "type": ["string", "null"], "format": "uuid", "description": "The `id` of the group this group is nested under. `null` for a root (top-level) group." },
                          "created_at": { "type": "string", "format": "date-time" },
                          "updated_at": { "type": "string", "format": "date-time" }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "page_size": { "type": "integer" },
                        "total_items": { "type": "integer" },
                        "total_pages": { "type": "integer" },
                        "has_next": { "type": "boolean" },
                        "has_previous": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
