{
  "openapi": "3.1.0",
  "info": { "title": "User Account Permissions API - Replace", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/users/{user_id}/account-permissions": {
      "put": {
        "summary": "Replace User Account Permissions",
        "operationId": "replace-user-account-permissions",
        "description": "Replaces all account permission assignments for a user. This is a full replacement.",
        "parameters": [
          { "name": "user_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "User UUID." }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [ "account_permissions" ],
                "properties": {
                  "account_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [ "account_id", "role_id" ],
                      "properties": {
                        "account_id": { "type": "string", "format": "uuid" },
                        "role_id": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
