{
  "openapi": "3.1.0",
  "info": { "title": "User Account Group Permissions API - Retrieve", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/users/{user_id}/account-group-permissions": {
      "get": {
        "summary": "Retrieve User Account Group Permissions",
        "operationId": "retrieve-user-account-group-permissions",
        "description": "Returns all account group permission assignments for a user.",
        "parameters": [
          { "name": "user_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "User UUID." }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_group_id": { "type": "string", "format": "uuid" },
                          "account_group_name": { "type": "string" },
                          "role_id": { "type": "string" },
                          "role_name": { "type": "string" },
                          "accounts_count": { "type": "integer" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
