{
  "openapi": "3.1.0",
  "info": { "title": "User Account Group Permissions API - Update", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/users/{user_id}/account-group-permissions": {
      "patch": {
        "summary": "Update User Account Group Permissions",
        "operationId": "update-user-account-group-permissions",
        "description": "Partially updates account group permissions. Adds or updates without removing existing ones.",
        "parameters": [
          { "name": "user_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "User UUID." }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [ "account_group_permissions" ],
                "properties": {
                  "account_group_permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [ "account_group_id", "role_id" ],
                      "properties": {
                        "account_group_id": { "type": "string", "format": "uuid" },
                        "role_id": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    }
  }
}
