{
  "openapi": "3.1.0",
  "info": {
    "title": "Users API - Update",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/organizations/users/{user_id}": {
      "patch": {
        "summary": "Update User",
        "operationId": "update-user",
        "description": "Updates a user.",
        "parameters": [
          { "name": "user_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "User UUID." }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": { "type": "string", "description": "First name." },
                  "last_name": { "type": "string", "description": "Last name." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "email": { "type": "string" },
                    "first_name": { "type": "string" },
                    "last_name": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
