{
  "openapi": "3.1.0",
  "info": { "title": "plans", "version": "1.0.0" },
  "servers": [{ "url": "https://api-sandbox.y.uno/v1" }],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "public-api-key", "x-default": "<Your public-api-key>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "private-secret-key", "x-default": "<Your private-secret-key>" }
    }
  },
  "security": [{ "sec0": [], "sec1": [] }],
  "paths": {
    "/plans/{plan_id}/status": {
      "post": {
        "summary": "Cancel Plan",
        "description": "The only supported status transition. Canceling a plan blocks new subscriptions AND synchronously cascade-cancels every subscription currently linked to it.",
        "operationId": "cancel-plan",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "description": "The unique identifier of the plan.",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": { "type": "string", "enum": ["CANCELED"] }
                }
              },
              "examples": { "Result": { "value": { "status": "CANCELED" } } }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "00000000-0000-4000-8000-000000000001",
                      "status": "CANCELED",
                      "affected_subscriptions": 3
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string" },
                    "affected_subscriptions": {
                      "type": "integer",
                      "description": "The number of subscriptions that were cascade-canceled along with the plan."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400. Reserved for a plan status outside ACTIVE/CANCELED — not currently reachable, since those are the plan's only two statuses today. Re-canceling an already-CANCELED plan does NOT hit this: it re-runs the cascade and returns 200.",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_STATE",
                      "messages": ["The subscription state does not support the action requested."]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "INVALID_STATE" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": { "headers": [{ "value": "utf-8", "key": "charset" }], "explorer-enabled": true, "proxy-enabled": true },
  "x-readme-fauxas": true
}
