{
  "openapi": "3.1.0",
  "info": {
    "title": "plans",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/plans": {
      "post": {
        "summary": "Create Plan",
        "description": "Creates a reusable pricing plan. Plans are immutable once created — a price change means creating a new plan; existing subscriptions on the old plan are unaffected.",
        "operationId": "create-plan",
        "parameters": [
          {
            "name": "X-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Idempotency key. Accepted and forwarded but replay protection is not currently enforced for plan creation."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "name",
                  "base_amount",
                  "frequency"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The account_id found in your Yuno Dashboard (UUID). Required. Unlike other Plans endpoints, this is sent in the request body, not the X-Account-Code header."
                  },
                  "name": {
                    "type": "string",
                    "description": "The plan name (MAX 255; MIN 3)."
                  },
                  "description": {
                    "type": "string",
                    "description": "The plan description (MAX 255; MIN 3 when present)."
                  },
                  "merchant_reference": {
                    "type": "string",
                    "description": "Your own identifier for the plan (MAX 218; MIN 3 when present)."
                  },
                  "base_amount": {
                    "type": "object",
                    "description": "The default price used for any country without an explicit entry in `country_prices`.",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                      },
                      "value": {
                        "type": "number",
                        "description": "Multiple of 0.0001.",
                        "format": "float"
                      }
                    }
                  },
                  "frequency": {
                    "type": "object",
                    "description": "The billing frequency for the plan. Subscriptions created from this plan inherit it.",
                    "required": [
                      "type",
                      "value"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "DAY",
                          "WEEK",
                          "MONTH",
                          "QUARTER",
                          "HALF_YEAR",
                          "MINUTES",
                          "YEAR"
                        ]
                      },
                      "value": {
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  },
                  "country_prices": {
                    "type": "array",
                    "description": "Optional explicit per-country prices. A country not listed falls back to `base_amount`.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "country": {
                          "type": "string",
                          "description": "[ISO 3166-1](/reference/country-reference)."
                        },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string"
                            },
                            "value": {
                              "type": "number",
                              "format": "float"
                            }
                          }
                        }
                      }
                    }
                  },
                  "allowed_payment_methods": {
                    "type": "array",
                    "description": "Payment method types accepted for subscriptions on this plan.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "metadata": {
                    "type": "array",
                    "description": "Key-value pairs attached to the plan. Independent of any `metadata` set on a subscription created from it.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "MAX 48."
                        },
                        "value": {
                          "type": "string",
                          "description": "MAX 512."
                        }
                      }
                    }
                  },
                  "phases": {
                    "type": "array",
                    "description": "Optional leading ladder (for example, a trial) before the plan's regular price. Omit for a flat plan. The last entry must be the terminal REGULAR phase with no `duration`.",
                    "items": {
                      "type": "object",
                      "required": [
                        "order",
                        "type",
                        "name"
                      ],
                      "properties": {
                        "order": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "name": {
                          "type": "string",
                          "description": "Required, non-empty — each phase must have a name."
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "TRIAL",
                            "REGULAR"
                          ]
                        },
                        "duration": {
                          "type": "object",
                          "description": "Required on every non-terminal phase, omitted on the terminal REGULAR phase.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "DAY",
                                "WEEK",
                                "MONTH",
                                "QUARTER",
                                "HALF_YEAR",
                                "MINUTES",
                                "YEAR"
                              ]
                            },
                            "value": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        },
                        "frequency": {
                          "type": "object",
                          "description": "Optional. If omitted, the phase bills as a single lump-sum charge covering the whole `duration`. If set, the phase bills every `frequency` interval instead, and the server computes `total_payments = duration / frequency` (both in the same unit) — e.g. a 3-month duration with a 1-month frequency produces 3 charges. Not applicable to the terminal phase.",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "DAY",
                                "WEEK",
                                "MONTH",
                                "QUARTER",
                                "HALF_YEAR",
                                "MINUTES",
                                "YEAR"
                              ]
                            },
                            "value": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        },
                        "amount": {
                          "type": "object",
                          "description": "Flat price for the phase. 0 is allowed (a free trial). On a **non-terminal** phase, this or `country_prices` is required (one of the two). On the **terminal** REGULAR phase, omit this entirely — sending it is rejected with `400 BAD_REQUEST` (\"The terminal phase price comes from the plan base_amount/country_prices - remove the phase amount.\"); the terminal price always comes from the plan's own `base_amount`/`country_prices`. On a non-terminal phase, if the plan's `country_prices` lists a country in a currency the phase's flat `amount` does not cover, the phase must also supply a matching phase-level `country_prices` entry for that country, or creation is rejected with `400 BAD_REQUEST` (\"The phase amount is in USD but the plan prices 'BR' in BRL - add a phase country price for 'BR' or align the currencies.\").",
                          "properties": {
                            "currency": {
                              "type": "string"
                            },
                            "value": {
                              "type": "number",
                              "format": "float"
                            }
                          }
                        },
                        "country_prices": {
                          "type": "array",
                          "description": "Per-country prices for this phase. On a non-terminal phase, this or `amount` is required. Not applicable to the terminal phase — its pricing always comes from the plan's own `country_prices`.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "object",
                                "properties": {
                                  "currency": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "number",
                                    "format": "float"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Plan": {
                  "value": {
                    "account_id": "00000000-0000-4000-8000-000000000002",
                    "name": "Streaming Pro",
                    "description": "Access to Pro features, billed monthly",
                    "merchant_reference": "streaming-pro-monthly",
                    "base_amount": {
                      "currency": "USD",
                      "value": 20.0
                    },
                    "frequency": {
                      "type": "MONTH",
                      "value": 1
                    },
                    "country_prices": [
                      {
                        "country": "US",
                        "amount": {
                          "currency": "USD",
                          "value": 20.0
                        }
                      },
                      {
                        "country": "BR",
                        "amount": {
                          "currency": "BRL",
                          "value": 99.9
                        }
                      }
                    ],
                    "allowed_payment_methods": [
                      "CARD",
                      "PIX"
                    ],
                    "metadata": [
                      {
                        "key": "campaign",
                        "value": "app_store"
                      }
                    ],
                    "phases": [
                      {
                        "order": 1,
                        "name": "Intro",
                        "type": "TRIAL",
                        "duration": {
                          "type": "MONTH",
                          "value": 3
                        },
                        "frequency": {
                          "type": "MONTH",
                          "value": 1
                        },
                        "amount": {
                          "currency": "USD",
                          "value": 9.99
                        },
                        "country_prices": [
                          {
                            "country": "BR",
                            "amount": {
                              "currency": "BRL",
                              "value": 49.9
                            }
                          }
                        ]
                      },
                      {
                        "order": 2,
                        "name": "Regular",
                        "type": "REGULAR"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "NOT_AUTHENTICATED",
                      "messages": [
                        "Not authenticated"
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHENTICATED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "00000000-0000-4000-8000-000000000001",
                      "account_id": "00000000-0000-4000-8000-000000000002",
                      "account_ids": [
                        "00000000-0000-4000-8000-000000000002"
                      ],
                      "name": "Streaming Pro",
                      "description": "Access to Pro features, billed monthly",
                      "merchant_reference": "streaming-pro-monthly",
                      "status": "ACTIVE",
                      "base_amount": {
                        "currency": "USD",
                        "value": 20.0
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "country_prices": [
                        {
                          "country": "US",
                          "amount": {
                            "currency": "USD",
                            "value": 20.0
                          }
                        },
                        {
                          "country": "BR",
                          "amount": {
                            "currency": "BRL",
                            "value": 99.9
                          }
                        }
                      ],
                      "allowed_payment_methods": [
                        "CARD",
                        "PIX"
                      ],
                      "metadata": [
                        {
                          "key": "campaign",
                          "value": "app_store"
                        }
                      ],
                      "retries": {
                        "retry_on_decline": true,
                        "amount": 4,
                        "strategy": "DEFAULT",
                        "schedule": null,
                        "stop_on_hard_decline": null,
                        "cancel_on_exhausted_retries": null
                      },
                      "retry_split": null,
                      "meters": [],
                      "phases": [
                        {
                          "order": 1,
                          "name": "Intro",
                          "type": "TRIAL",
                          "duration": {
                            "type": "MONTH",
                            "value": 3
                          },
                          "frequency": {
                            "type": "MONTH",
                            "value": 1
                          },
                          "amount": {
                            "currency": "USD",
                            "value": 9.99
                          },
                          "country_prices": [
                            {
                              "country": "BR",
                              "amount": {
                                "currency": "BRL",
                                "value": 49.9
                              }
                            }
                          ],
                          "total_payments": 3
                        },
                        {
                          "order": 2,
                          "name": "Regular",
                          "type": "REGULAR",
                          "duration": null,
                          "frequency": null,
                          "amount": null,
                          "total_payments": null,
                          "country_prices": []
                        }
                      ],
                      "created_at": "2024-01-15T10:30:00.000000Z",
                      "updated_at": "2024-01-15T10:30:00.000000Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "account_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Same value as account_id, returned as a single-element array."
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "merchant_reference": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "base_amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "value": {
                          "type": "number"
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "integer"
                        }
                      }
                    },
                    "country_prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "allowed_payment_methods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "retries": {
                      "type": "object",
                      "nullable": true,
                      "description": "The default retry policy applied to subscriptions created from this plan (subscriptions may override it). `null` when not set. Same shape as the subscription's `retries` field — see [The Subscription Object](/reference/subscriptions/the-subscription-object) and [Retries](/docs/payment-features/subscriptions/retries).",
                      "properties": {
                        "retry_on_decline": {
                          "type": "boolean",
                          "description": "Whether declined charges are retried at all.",
                          "example": true
                        },
                        "amount": {
                          "type": "integer",
                          "description": "How many retries a billing cycle gets. Capped by your environment's retry schedule length (6 in production).",
                          "example": 4
                        },
                        "strategy": {
                          "type": "string",
                          "description": "How the timing of each retry is decided: `DEFAULT`, `SMART` or `CUSTOM_SCHEDULE`. Treat as open-ended — handle unrecognized values gracefully.",
                          "example": "DEFAULT"
                        },
                        "schedule": {
                          "type": "array",
                          "nullable": true,
                          "description": "The per-attempt schedule, only set when `strategy` is `CUSTOM_SCHEDULE`; `null` otherwise.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "stop_on_hard_decline": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, a hard decline stops the retries for the current billing cycle."
                        },
                        "cancel_on_exhausted_retries": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, a subscription created from this plan is canceled once a cycle's retries end without a successful payment, with `cancellation_source` set to `RETRIES_EXHAUSTED`."
                        }
                      }
                    },
                    "retry_split": {
                      "type": "object",
                      "nullable": true,
                      "description": "Smart retry split configuration applied to subscriptions created from this plan. `null` when not set.",
                      "properties": {
                        "smart_pct": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Percentage (0-100) of retries routed through Yuno's smart retry logic."
                        }
                      }
                    },
                    "meters": {
                      "type": "array",
                      "description": "Usage-based meters priced on this plan. Empty array when the plan has no metered pricing. See the meters reference for the full object shape.",
                      "items": {
                        "type": "object"
                      }
                    },
                    "phases": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The field 'base_amount' is required.",
                        "The field 'frequency' is required."
                      ]
                    },
                    "summary": "Result"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
