{
  "openapi": "3.1.0",
  "info": { "title": "plans", "version": "1.0.0" },
  "servers": [{ "url": "https://api-sandbox.y.uno/v1" }],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "public-api-key", "x-default": "<Your public-api-key>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "private-secret-key", "x-default": "<Your private-secret-key>" }
    }
  },
  "security": [{ "sec0": [], "sec1": [] }],
  "paths": {
    "/plans": {
      "get": {
        "summary": "List Plans",
        "description": "Returns a paginated, grid-ready list of plans for the authenticated account. 1-indexed pagination.",
        "operationId": "list-plans",
        "parameters": [
          { "name": "page", "in": "query", "description": "1-indexed page number. Must be >= 1, else `400 BAD_REQUEST` (\"The page must be greater than or equal to 1\").", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
          { "name": "size", "in": "query", "description": "Page size. Must be between 1 and 100 inclusive, else `400 BAD_REQUEST` (\"The size must be greater than or equal to 1\" if too low, \"The size must be at most 100\" if too high).", "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 } }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "items": [
                        {
                          "id": "00000000-0000-4000-8000-000000000001",
                          "account_id": "00000000-0000-4000-8000-000000000002",
                          "name": "Streaming Pro",
                          "merchant_reference": "streaming-pro-monthly",
                          "status": "ACTIVE",
                          "base_amount": { "currency": "USD", "value": 20.0 },
                          "frequency": { "type": "MONTH", "value": 1 },
                          "subscribers_count": 3,
                          "countries": ["BR", "US"],
                          "created_at": "2024-01-15T10:30:00.000000Z"
                        }
                      ],
                      "pagination": { "page": 1, "size": 20, "total": 1, "total_pages": 1 }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "account_id": { "type": "string" },
                          "name": { "type": "string" },
                          "merchant_reference": { "type": "string" },
                          "status": { "type": "string" },
                          "base_amount": {
                            "type": "object",
                            "properties": {
                              "currency": { "type": "string" },
                              "value": { "type": "number" }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "properties": {
                              "type": { "type": "string" },
                              "value": { "type": "integer" }
                            }
                          },
                          "subscribers_count": { "type": "integer" },
                          "countries": { "type": "array", "items": { "type": "string" } },
                          "created_at": { "type": "string" }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "size": { "type": "integer" },
                        "total": { "type": "integer" },
                        "total_pages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": ["The page must be greater than or equal to 1"]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "BAD_REQUEST" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": { "headers": [{ "value": "utf-8", "key": "charset" }], "explorer-enabled": true, "proxy-enabled": true },
  "x-readme-fauxas": true
}
