{
  "openapi": "3.1.0",
  "info": {
    "title": "plans",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/plans": {
      "get": {
        "summary": "List Plans",
        "description": "Returns a paginated, grid-ready list of plans for the authenticated account. 1-indexed pagination.",
        "operationId": "list-plans",
        "parameters": [
          {
            "in": "header",
            "name": "X-Account-Code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `account_id` found in your [Yuno Dashboard](https://dashboard.y.uno/developers) (UUID). Required — omitting it returns `400 BAD_REQUEST` (\"Invalid x-account-code header.\")."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of plans to return. Defaults to 20."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of plans to skip. Defaults to 0."
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": [
                        {
                          "id": "00000000-0000-4000-8000-000000000001",
                          "account_id": "00000000-0000-4000-8000-000000000002",
                          "name": "Streaming Pro",
                          "merchant_reference": "streaming-pro-monthly",
                          "status": "ACTIVE",
                          "base_amount": {
                            "currency": "USD",
                            "value": 20.0
                          },
                          "frequency": {
                            "type": "MONTH",
                            "value": 1
                          },
                          "subscribers_count": 3,
                          "countries": [
                            "BR",
                            "US"
                          ],
                          "created_at": "2024-01-15T10:30:00.000000Z"
                        }
                      ],
                      "pagination": {
                        "total": 1,
                        "limit": 20,
                        "offset": 0,
                        "has_more": false
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "account_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "merchant_reference": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "base_amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "frequency": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "integer"
                              }
                            }
                          },
                          "subscribers_count": {
                            "type": "integer"
                          },
                          "countries": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "created_at": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of plans on the account."
                        },
                        "limit": {
                          "type": "integer",
                          "description": "The limit applied to this page."
                        },
                        "offset": {
                          "type": "integer",
                          "description": "The offset applied to this page."
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Whether more plans follow this page."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "messages": [
                        "The page must be greater than or equal to 1"
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "BAD_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
