{
  "openapi": "3.1.0",
  "info": {
    "title": "plans",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/plans/{plan_id}": {
      "get": {
        "summary": "Retrieve Plan",
        "description": "",
        "operationId": "retrieve-plan",
        "parameters": [
          {
            "in": "header",
            "name": "X-Account-Code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `account_id` found in your [Yuno Dashboard](https://dashboard.y.uno/developers) (UUID). Required — the plan is always scoped to a single account. Omitting it returns `400 BAD_REQUEST` (\"Invalid x-account-code header.\")."
          },
          {
            "name": "plan_id",
            "in": "path",
            "description": "The unique identifier of the plan.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "00000000-0000-4000-8000-000000000001",
                      "account_id": "00000000-0000-4000-8000-000000000002",
                      "account_ids": [
                        "00000000-0000-4000-8000-000000000002"
                      ],
                      "name": "Streaming Pro",
                      "description": "Access to Pro features, billed monthly",
                      "merchant_reference": "streaming-pro-monthly",
                      "status": "ACTIVE",
                      "base_amount": {
                        "currency": "USD",
                        "value": 20.0
                      },
                      "frequency": {
                        "type": "MONTH",
                        "value": 1
                      },
                      "country_prices": [
                        {
                          "country": "US",
                          "amount": {
                            "currency": "USD",
                            "value": 20.0
                          }
                        },
                        {
                          "country": "BR",
                          "amount": {
                            "currency": "BRL",
                            "value": 99.9
                          }
                        }
                      ],
                      "allowed_payment_methods": [
                        "CARD",
                        "PIX"
                      ],
                      "metadata": [
                        {
                          "key": "campaign",
                          "value": "app_store"
                        }
                      ],
                      "retries": {
                        "retry_on_decline": true,
                        "amount": 4,
                        "strategy": "DEFAULT",
                        "schedule": null,
                        "stop_on_hard_decline": null,
                        "cancel_on_exhausted_retries": null
                      },
                      "retry_split": null,
                      "meters": [],
                      "phases": [
                        {
                          "order": 1,
                          "name": "Intro",
                          "type": "TRIAL",
                          "duration": {
                            "type": "MONTH",
                            "value": 3
                          },
                          "frequency": {
                            "type": "MONTH",
                            "value": 1
                          },
                          "amount": {
                            "currency": "USD",
                            "value": 9.99
                          },
                          "total_payments": 3,
                          "country_prices": []
                        },
                        {
                          "order": 2,
                          "name": "Regular",
                          "type": "REGULAR",
                          "duration": null,
                          "frequency": null,
                          "amount": null,
                          "total_payments": null,
                          "country_prices": []
                        }
                      ],
                      "created_at": "2024-01-15T10:30:00.000000Z",
                      "updated_at": "2024-01-15T10:30:00.000000Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "account_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The plan's own `account_id`, plus any additional accounts the plan is shared with. Never empty: for a plan that belongs to a single account, this is a one-element array equal to `[account_id]`."
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "merchant_reference": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "base_amount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "value": {
                          "type": "number"
                        }
                      }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "integer"
                        }
                      }
                    },
                    "country_prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "allowed_payment_methods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "retries": {
                      "type": "object",
                      "nullable": true,
                      "description": "The default retry policy applied to subscriptions created from this plan (subscriptions may override it). `null` when not set. Same shape as the subscription's `retries` field — see [The Subscription Object](/reference/subscriptions/the-subscription-object) and [Retries](/docs/payment-features/subscriptions/retries).",
                      "properties": {
                        "retry_on_decline": {
                          "type": "boolean",
                          "description": "Whether declined charges are retried at all.",
                          "example": true
                        },
                        "amount": {
                          "type": "integer",
                          "description": "How many retries a billing cycle gets. Capped by your environment's retry schedule length (6 in production).",
                          "example": 4
                        },
                        "strategy": {
                          "type": "string",
                          "description": "How the timing of each retry is decided: `DEFAULT`, `SMART` or `CUSTOM_SCHEDULE`. Treat as open-ended — handle unrecognized values gracefully.",
                          "example": "DEFAULT"
                        },
                        "schedule": {
                          "type": "array",
                          "nullable": true,
                          "description": "The per-attempt schedule, only set when `strategy` is `CUSTOM_SCHEDULE`; `null` otherwise.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "stop_on_hard_decline": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, a hard decline stops the retries for the current billing cycle."
                        },
                        "cancel_on_exhausted_retries": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "When true, a subscription created from this plan is canceled once a cycle's retries end without a successful payment, with `cancellation_source` set to `RETRIES_EXHAUSTED`."
                        }
                      }
                    },
                    "retry_split": {
                      "type": "object",
                      "nullable": true,
                      "description": "Smart retry split configuration applied to subscriptions created from this plan. `null` when not set.",
                      "properties": {
                        "smart_pct": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Percentage (0-100) of retries routed through Yuno's smart retry logic."
                        }
                      }
                    },
                    "meters": {
                      "type": "array",
                      "description": "Usage-based meters priced on this plan. Empty array when the plan has no metered pricing. See the meters reference for the full object shape.",
                      "items": {
                        "type": "object"
                      }
                    },
                    "phases": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "NOT_AUTHENTICATED",
                      "messages": [
                        "Not authenticated"
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_AUTHENTICATED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "PLAN_NOT_FOUND",
                      "messages": [
                        "Plan not found."
                      ]
                    },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "PLAN_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
