{
  "openapi": "3.1.0",
  "info": { "title": "plans", "version": "1.0.0" },
  "servers": [{ "url": "https://api-sandbox.y.uno/v1" }],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "public-api-key", "x-default": "<Your public-api-key>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "private-secret-key", "x-default": "<Your private-secret-key>" }
    }
  },
  "security": [{ "sec0": [], "sec1": [] }],
  "paths": {
    "/plans/{plan_id}": {
      "get": {
        "summary": "Retrieve Plan",
        "description": "",
        "operationId": "retrieve-plan",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "description": "The unique identifier of the plan.",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "00000000-0000-4000-8000-000000000001",
                      "account_id": "00000000-0000-4000-8000-000000000002",
                      "name": "Streaming Pro",
                      "description": "Access to Pro features, billed monthly",
                      "merchant_reference": "streaming-pro-monthly",
                      "status": "ACTIVE",
                      "base_amount": { "currency": "USD", "value": 20.0 },
                      "frequency": { "type": "MONTH", "value": 1 },
                      "country_prices": [
                        { "country": "US", "amount": { "currency": "USD", "value": 20.0 } },
                        { "country": "BR", "amount": { "currency": "BRL", "value": 99.9 } }
                      ],
                      "allowed_payment_methods": ["CARD", "PIX"],
                      "metadata": [{ "key": "campaign", "value": "app_store" }],
                      "phases": [
                        {
                          "order": 1,
                          "name": "Intro",
                          "type": "TRIAL",
                          "duration": { "type": "MONTH", "value": 3 },
                          "frequency": { "type": "MONTH", "value": 1 },
                          "amount": { "currency": "USD", "value": 9.99 },
                          "total_payments": 3,
                          "country_prices": []
                        },
                        {
                          "order": 2,
                          "name": "Regular",
                          "type": "REGULAR",
                          "duration": null,
                          "frequency": null,
                          "amount": null,
                          "total_payments": null,
                          "country_prices": []
                        }
                      ],
                      "created_at": "2024-01-15T10:30:00.000000Z",
                      "updated_at": "2024-01-15T10:30:00.000000Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "account_id": { "type": "string" },
                    "name": { "type": "string" },
                    "description": { "type": "string" },
                    "merchant_reference": { "type": "string" },
                    "status": { "type": "string" },
                    "base_amount": {
                      "type": "object",
                      "properties": { "currency": { "type": "string" }, "value": { "type": "number" } }
                    },
                    "frequency": {
                      "type": "object",
                      "properties": { "type": { "type": "string" }, "value": { "type": "integer" } }
                    },
                    "country_prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": { "type": "string" },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": { "type": "string" },
                              "value": { "type": "number" }
                            }
                          }
                        }
                      }
                    },
                    "allowed_payment_methods": { "type": "array", "items": { "type": "string" } },
                    "metadata": { "type": "array", "items": { "type": "object" } },
                    "phases": { "type": "array", "items": { "type": "object" } },
                    "created_at": { "type": "string" },
                    "updated_at": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": { "code": "PLAN_NOT_FOUND", "messages": ["Plan not found."] },
                    "summary": "Result"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "PLAN_NOT_FOUND" },
                    "messages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": { "headers": [{ "value": "utf-8", "key": "charset" }], "explorer-enabled": true, "proxy-enabled": true },
  "x-readme-fauxas": true
}
