{
  "openapi": "3.1.0",
  "info": {
    "title": "Recipients API",
    "version": "1.0.0",
    "description": "API for managing recipients in split payment scenarios. This feature enables merchants to split payments among multiple recipients, which is particularly beneficial for marketplace models where transactions need to be divided among different sellers or stakeholders."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/transfers/{transfer_id}": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "origin_onboarding": {
                        "id": "660e8400-e29b-41d4-a716-446655440001",
                        "status": "TRANSFERRED",
                        "type": "ONE_STEP_ONBOARDING",
                        "workflow": "DIRECT",
                        "response_message": null,
                        "provider": {
                          "id": "STRIPE",
                          "recipient_id": "acct_1234567890",
                          "connection_id": "880e8400-e29b-41d4-a716-446655440003",
                          "legal_entity": "COMPANY"
                        },
                        "documentation": [],
                        "legal_representatives": [],
                        "requirements": [],
                        "metadata": [],
                        "withdrawal_methods": null,
                        "capabilities": null,
                        "recipient": {
                          "id": "770e8400-e29b-41d4-a716-446655440002",
                          "merchant_recipient_id": "seller-123",
                          "country": "BR",
                          "national_entity": "INDIVIDUAL",
                          "entity_type": "PERSON",
                          "email": "seller@example.com",
                          "first_name": "João",
                          "last_name": "Silva",
                          "created_at": "2026-01-10T12:00:00Z",
                          "updated_at": "2026-01-10T12:00:00Z"
                        },
                        "created_at": "2026-01-15T10:00:00Z",
                        "updated_at": "2026-01-15T16:59:22Z"
                      },
                      "destination_onboarding": {
                        "id": "990e8400-e29b-41d4-a716-446655440004",
                        "status": "SUCCEEDED",
                        "type": "ONE_STEP_ONBOARDING",
                        "workflow": "DIRECT",
                        "response_message": null,
                        "provider": {
                          "id": "STRIPE",
                          "recipient_id": "acct_0987654321",
                          "connection_id": "880e8400-e29b-41d4-a716-446655440003",
                          "legal_entity": "COMPANY"
                        },
                        "documentation": [],
                        "legal_representatives": [],
                        "requirements": [],
                        "metadata": [],
                        "withdrawal_methods": null,
                        "capabilities": null,
                        "recipient": {
                          "id": "aa0e8400-e29b-41d4-a716-446655440005",
                          "merchant_recipient_id": "seller-456",
                          "country": "BR",
                          "national_entity": "INDIVIDUAL",
                          "entity_type": "PERSON",
                          "email": "newseller@example.com",
                          "first_name": "Maria",
                          "last_name": "Santos",
                          "created_at": "2026-01-12T14:00:00Z",
                          "updated_at": "2026-01-12T14:00:00Z"
                        },
                        "created_at": "2026-01-15T16:59:22Z",
                        "updated_at": "2026-01-15T16:59:23Z"
                      },
                      "created_at": "2026-01-15T16:59:22.996009Z",
                      "updated_at": "2026-01-15T16:59:23.734739Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "origin_onboarding": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "660e8400-e29b-41d4-a716-446655440001"
                        },
                        "status": {
                          "type": "string",
                          "example": "TRANSFERRED"
                        },
                        "type": {
                          "type": "string",
                          "example": "ONE_STEP_ONBOARDING"
                        },
                        "workflow": {
                          "type": "string",
                          "example": "DIRECT"
                        },
                        "response_message": {},
                        "provider": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "STRIPE"
                            },
                            "recipient_id": {
                              "type": "string",
                              "example": "acct_1234567890"
                            },
                            "connection_id": {
                              "type": "string",
                              "example": "880e8400-e29b-41d4-a716-446655440003"
                            },
                            "legal_entity": {
                              "type": "string",
                              "example": "COMPANY"
                            }
                          }
                        },
                        "documentation": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "legal_representatives": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "requirements": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "metadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "withdrawal_methods": {},
                        "capabilities": {},
                        "recipient": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "770e8400-e29b-41d4-a716-446655440002"
                            },
                            "merchant_recipient_id": {
                              "type": "string",
                              "example": "seller-123"
                            },
                            "country": {
                              "type": "string",
                              "example": "BR"
                            },
                            "national_entity": {
                              "type": "string",
                              "example": "INDIVIDUAL"
                            },
                            "entity_type": {
                              "type": "string",
                              "example": "PERSON"
                            },
                            "email": {
                              "type": "string",
                              "example": "seller@example.com"
                            },
                            "first_name": {
                              "type": "string",
                              "example": "João"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "Silva"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2026-01-10T12:00:00Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2026-01-10T12:00:00Z"
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2026-01-15T10:00:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2026-01-15T16:59:22Z"
                        }
                      }
                    },
                    "destination_onboarding": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "990e8400-e29b-41d4-a716-446655440004"
                        },
                        "status": {
                          "type": "string",
                          "example": "SUCCEEDED"
                        },
                        "type": {
                          "type": "string",
                          "example": "ONE_STEP_ONBOARDING"
                        },
                        "workflow": {
                          "type": "string",
                          "example": "DIRECT"
                        },
                        "response_message": {},
                        "provider": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "STRIPE"
                            },
                            "recipient_id": {
                              "type": "string",
                              "example": "acct_0987654321"
                            },
                            "connection_id": {
                              "type": "string",
                              "example": "880e8400-e29b-41d4-a716-446655440003"
                            },
                            "legal_entity": {
                              "type": "string",
                              "example": "COMPANY"
                            }
                          }
                        },
                        "documentation": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "legal_representatives": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "requirements": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "metadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          }
                        },
                        "withdrawal_methods": {},
                        "capabilities": {},
                        "recipient": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "aa0e8400-e29b-41d4-a716-446655440005"
                            },
                            "merchant_recipient_id": {
                              "type": "string",
                              "example": "seller-456"
                            },
                            "country": {
                              "type": "string",
                              "example": "BR"
                            },
                            "national_entity": {
                              "type": "string",
                              "example": "INDIVIDUAL"
                            },
                            "entity_type": {
                              "type": "string",
                              "example": "PERSON"
                            },
                            "email": {
                              "type": "string",
                              "example": "newseller@example.com"
                            },
                            "first_name": {
                              "type": "string",
                              "example": "Maria"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "Santos"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2026-01-12T14:00:00Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2026-01-12T14:00:00Z"
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2026-01-15T16:59:22Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2026-01-15T16:59:23Z"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2026-01-15T16:59:22.996009Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-01-15T16:59:23.734739Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "UNAUTHORIZED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid authentication credentials."
                      }
                    }
                  }
                },
                "examples": {
                  "Unauthorized: Invalid authentication": {
                    "summary": "Unauthorized: Invalid authentication",
                    "value": {
                      "code": "UNAUTHORIZED",
                      "messages": [
                        "Invalid authentication credentials."
                      ]
                    }
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "You do not have permission to access this resource."
                      }
                    }
                  }
                },
                "examples": {
                  "Forbidden: Transfer belongs to different organization": {
                    "summary": "Forbidden: Transfer belongs to different organization",
                    "value": {
                      "code": "FORBIDDEN",
                      "messages": [
                        "You do not have permission to access this resource."
                      ]
                    }
                  }
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "TRANSFER_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Transfer not found."
                      }
                    }
                  }
                },
                "examples": {
                  "Not Found: Transfer does not exist": {
                    "summary": "Not Found: Transfer does not exist",
                    "value": {
                      "code": "TRANSFER_NOT_FOUND",
                      "messages": [
                        "Transfer not found."
                      ]
                    }
                  }
                }
              }
            },
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "transfer_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The transfer `id` returned from the [transfer onboarding](/reference/transfer-onboarding) endpoint (UUID)."
          },
          {
            "in": "header",
            "name": "x-account-code",
            "schema": {
              "type": "string"
            },
            "description": "The `account_id` found in your [Yuno Dashboard](https://dashboard.y.uno/developers) (UUID)."
          }
        ],
        "operationId": "get_transfers-transfer-id"
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}