{
  "openapi": "3.1.0",
  "info": {
    "title": "Recipients API",
    "version": "1.0.0",
    "description": "API for managing recipients in split payment scenarios. This feature enables merchants to split payments among multiple recipients, which is particularly beneficial for marketplace models where transactions need to be divided among different sellers or stakeholders."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/recipients/{recipient_id}/transfers": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "OK: Array of transfers (by most recent)": {
                    "summary": "OK: Array of transfers (by most recent)",
                    "value": [
                      {
                        "id": "550e8400-e29b-41d4-a716-446655440000",
                        "origin_onboarding": {
                          "id": "660e8400-e29b-41d4-a716-446655440001",
                          "status": "TRANSFERRED",
                          "type": "ONE_STEP_ONBOARDING",
                          "workflow": "DIRECT",
                          "provider": {
                            "id": "STRIPE",
                            "recipient_id": "acct_1234567890",
                            "connection_id": "880e8400-e29b-41d4-a716-446655440003"
                          },
                          "recipient": {
                            "id": "770e8400-e29b-41d4-a716-446655440002",
                            "merchant_recipient_id": "seller-123",
                            "email": "seller@example.com"
                          },
                          "created_at": "2026-01-15T10:00:00Z",
                          "updated_at": "2026-01-15T16:59:22Z"
                        },
                        "destination_onboarding": {
                          "id": "990e8400-e29b-41d4-a716-446655440004",
                          "status": "SUCCEEDED",
                          "type": "ONE_STEP_ONBOARDING",
                          "provider": {
                            "id": "STRIPE",
                            "recipient_id": "acct_0987654321",
                            "connection_id": "880e8400-e29b-41d4-a716-446655440003"
                          },
                          "recipient": {
                            "id": "aa0e8400-e29b-41d4-a716-446655440005",
                            "merchant_recipient_id": "seller-456",
                            "email": "newseller@example.com"
                          },
                          "created_at": "2026-01-15T16:59:22Z",
                          "updated_at": "2026-01-15T16:59:23Z"
                        },
                        "created_at": "2026-01-15T16:59:22.996009Z",
                        "updated_at": "2026-01-15T16:59:23.734739Z"
                      },
                      {
                        "id": "bb0e8400-e29b-41d4-a716-446655440006",
                        "origin_onboarding": {
                          "id": "cc0e8400-e29b-41d4-a716-446655440007",
                          "status": "TRANSFERRED",
                          "recipient": {
                            "id": "770e8400-e29b-41d4-a716-446655440002",
                            "merchant_recipient_id": "seller-123"
                          }
                        },
                        "destination_onboarding": {
                          "id": "dd0e8400-e29b-41d4-a716-446655440008",
                          "status": "SUCCEEDED",
                          "recipient": {
                            "id": "ee0e8400-e29b-41d4-a716-446655440009",
                            "merchant_recipient_id": "seller-789"
                          }
                        },
                        "created_at": "2026-01-10T08:30:00.000000Z",
                        "updated_at": "2026-01-10T08:30:15.000000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "FORBIDDEN"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "You do not have permission to access this resource."
                      }
                    }
                  }
                },
                "examples": {
                  "Forbidden: Recipient belongs to different organization": {
                    "summary": "Forbidden: Recipient belongs to different organization",
                    "value": {
                      "code": "FORBIDDEN",
                      "messages": [
                        "You do not have permission to access this resource."
                      ]
                    }
                  }
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "RECIPIENT_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Recipient not found."
                      }
                    }
                  }
                },
                "examples": {
                  "Not Found: Recipient does not exist": {
                    "summary": "Not Found: Recipient does not exist",
                    "value": {
                      "code": "RECIPIENT_NOT_FOUND",
                      "messages": [
                        "Recipient not found."
                      ]
                    }
                  }
                }
              }
            },
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "recipient_id",
            "schema": {
              "type": "string",
              "default": "{{recipient_id}}"
            },
            "required": true,
            "description": "The recipient `id` returned from the [create recipient](https://docs.y.uno/reference/create-recipient-1) endpoint (UUID)."
          },
          {
            "in": "header",
            "name": "x-account-code",
            "schema": {
              "type": "string"
            },
            "description": "The `account_id` found in your [Yuno Dashboard](https://dashboard.y.uno/developers) (UUID)."
          }
        ],
        "operationId": "get_recipients-recipient-id-transfers"
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}