{
  "openapi": "3.1.0",
  "info": {
    "title": "Create One-time Payment Token (Session-bound)",
    "version": "1.0.2",
    "description": "Generates a secure, temporary token for a specific checkout session. Use this endpoint for direct integrations."
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/checkout/sessions/{checkout_session}/token": {
      "post": {
        "description": "Creates a one-time token for a payment method associated with a checkout session.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "dab106a6-9067-4418-ae43-6045663531dc"
                    },
                    "vaulted_token": {
                      "type": "string",
                      "nullable": true
                    },
                    "vault_on_success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "type": {
                      "type": "string",
                      "example": "CARD"
                    },
                    "card_data": {
                      "type": "object",
                      "properties": {
                        "holder_name": {
                          "type": "string",
                          "example": "John Doe"
                        },
                        "iin": {
                          "type": "string",
                          "example": "41111111"
                        },
                        "lfd": {
                          "type": "string",
                          "example": "1111"
                        },
                        "number_length": {
                          "type": "integer",
                          "example": 16,
                          "default": 0
                        },
                        "security_code_length": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        },
                        "brand": {
                          "type": "string",
                          "example": "VISA"
                        },
                        "type": {
                          "type": "string",
                          "example": "DEBIT"
                        },
                        "category": {
                          "type": "string",
                          "example": "CLASSIC"
                        },
                        "issuer_name": {
                          "type": "string",
                          "example": "CONOTOXIA SP Z O O"
                        },
                        "issuer_code": {
                          "type": "string",
                          "nullable": true
                        },
                        "fingerprint": {
                          "type": "string",
                          "nullable": true
                        },
                        "country_code": {
                          "type": "string",
                          "example": "PL"
                        }
                      }
                    },
                    "customer": {
                      "type": "object",
                      "nullable": true
                    },
                    "installment": {
                      "type": "object",
                      "nullable": true
                    },
                    "country": {
                      "type": "string",
                      "example": "BR"
                    },
                    "customer_session": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Created - Card Payment": {
                    "summary": "Created - Card Payment",
                    "value": {
                      "token": "dab106a6-9067-4418-ae43-6045663531dc",
                      "vaulted_token": null,
                      "vault_on_success": false,
                      "type": "CARD",
                      "card_data": {
                        "holder_name": "John Doe",
                        "iin": "41111111",
                        "lfd": "1111",
                        "number_length": 16,
                        "security_code_length": 3,
                        "brand": "VISA",
                        "type": "DEBIT",
                        "category": "CLASSIC",
                        "issuer_name": "CONOTOXIA SP Z O O",
                        "issuer_code": null,
                        "fingerprint": null,
                        "country_code": "PL"
                      },
                      "customer": null,
                      "installment": null,
                      "country": "BR",
                      "customer_session": null
                    }
                  }
                }
              }
            },
            "description": "Success"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "checkout_session",
            "schema": {
              "type": "string",
              "default": "{{checkout_session}}"
            },
            "required": true,
            "description": "Checkout session identifier (UUID)."
          }
        ],
        "operationId": "post_checkout-sessions-checkout-session-token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_method": {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "CARD"
                        ],
                        "description": "Payment method type. Currently only CARD is supported for direct OTT creation."
                      },
                      "card": {
                        "type": "object",
                        "required": [
                          "number",
                          "expiration_month",
                          "expiration_year",
                          "security_code",
                          "holder_name"
                        ],
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "Card number (digits only)"
                          },
                          "expiration_month": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 12
                          },
                          "expiration_year": {
                            "type": "integer",
                            "description": "Last two digits of the year (e.g., 29)"
                          },
                          "security_code": {
                            "type": "string",
                            "description": "CVV/CVC code"
                          },
                          "holder_name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "payment_method"
                ]
              },
              "examples": {
                "Card Payment": {
                  "summary": "Card Payment Request",
                  "value": {
                    "payment_method": {
                      "type": "CARD",
                      "card": {
                        "number": "4111111111111111",
                        "expiration_month": 12,
                        "expiration_year": 29,
                        "security_code": "123",
                        "holder_name": "John Doe"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
,
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}