{
  "openapi": "3.1.0",
  "info": {
    "title": "checkout-api",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/checkout/sessions/{checkout_session}/payment-methods": {
      "get": {
        "summary": "Retrieve Payment Methods for Checkout",
        "description": "",
        "operationId": "retrieve-payment-methods-for-checkout",
        "parameters": [
          {
            "name": "checkout_session",
            "in": "path",
            "description": "The unique identifier of the checkout session (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "category",
            "in": "query",
            "description": "Optional category filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"name\": \"VISA ****1111\",\n        \"vaulted_token\": \"de00c1bd-624b-4e7b-ae28-47d86c94b15f\",\n        \"description\": \"VISA ****1111\",\n        \"type\": \"CARD\",\n        \"category\": \"CARD\",\n        \"icon\": \"https://icons.prod.y.uno/visa_logosimbolo.png\",\n        \"last_successfully_used\": false,\n        \"last_successfully_used_at\": \"\",\n        \"checkout\": {\n            \"session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n            \"sdk_required_action\": false,\n            \"conditions\": {\n                \"enabled\": true,\n                \"rules\": null\n            }\n        },\n        \"card_data\": {\n            \"iin\": \"41111111\",\n            \"lfd\": \"1111\",\n            \"expiration_month\": 3,\n            \"expiration_year\": 26,\n            \"number_length\": 16,\n            \"security_code_length\": 3,\n            \"brand\": \"VISA\",\n            \"issuer\": \"JPMORGAN CHASE BANK N A\",\n            \"issuer_code\": null,\n            \"category\": \"CREDIT\",\n            \"type\": \"CREDIT\"\n        },\n        \"preferred\": false\n    },\n    {\n        \"name\": \"Card\",\n        \"vaulted_token\": null,\n        \"description\": \"Card\",\n        \"type\": \"CARD\",\n        \"category\": \"CARD\",\n        \"icon\": \"https://icons.prod.y.uno/card_logosimbolo.png\",\n        \"last_successfully_used\": null,\n        \"last_successfully_used_at\": null,\n        \"checkout\": {\n            \"session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n            \"sdk_required_action\": true,\n            \"conditions\": {\n                \"enabled\": true,\n                \"rules\": null\n            }\n        },\n        \"preferred\": false\n    },\n    {\n        \"name\": \"Bank Transfer\",\n        \"vaulted_token\": null,\n        \"description\": \"Bank Transfer\",\n        \"type\": \"BANK_TRANSFER\",\n        \"category\": \"BANK_TRANSFER\",\n        \"icon\": \"https://icons.prod.y.uno/banktransfer_logosimbolo.png\",\n        \"last_successfully_used\": null,\n        \"last_successfully_used_at\": null,\n        \"checkout\": {\n            \"session\": \"d313047b-4f96-44ef-bbad-caf1d7ba4c2b\",\n            \"sdk_required_action\": true,\n            \"conditions\": {\n                \"enabled\": false,\n                \"rules\": [\n                    {\n                        \"condition\": \"INCLUDE\",\n                        \"condition_group_code\": \"2b273309-2c63-4ef8-b5f8-2953abf7ad4a\",\n                        \"condition_name\": \"Country-US\",\n                        \"type\": \"COUNTRY\",\n                        \"values\": {\n                            \"countries\": [\n                                \"US\"\n                            ],\n                            \"currency\": null,\n                            \"max\": null,\n                            \"metadata\": null,\n                            \"min\": null\n                        }\n                    }\n                ]\n            }\n        },\n        \"preferred\": false\n    }\n]\n"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "VISA ****1111"
                      },
                      "vaulted_token": {
                        "type": "string",
                        "example": "de00c1bd-624b-4e7b-ae28-47d86c94b15f"
                      },
                      "description": {
                        "type": "string",
                        "example": "VISA ****1111"
                      },
                      "type": {
                        "type": "string",
                        "example": "CARD"
                      },
                      "category": {
                        "type": "string",
                        "example": "CARD"
                      },
                      "icon": {
                        "type": "string",
                        "example": "https://icons.prod.y.uno/visa_logosimbolo.png"
                      },
                      "last_successfully_used": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      },
                      "last_successfully_used_at": {
                        "type": "string",
                        "example": ""
                      },
                      "checkout": {
                        "type": "object",
                        "properties": {
                          "session": {
                            "type": "string",
                            "example": "d313047b-4f96-44ef-bbad-caf1d7ba4c2b"
                          },
                          "sdk_required_action": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "conditions": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "rules": {
                                "type": "array",
                                "description": "List of condition rules (INCLUDE/EXCLUDE) applied to the payment method. Each rule has a type (e.g. METADATA, AMOUNT, COUNTRY) and values.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "condition": {
                                      "type": "string",
                                      "description": "INCLUDE or EXCLUDE",
                                      "example": "INCLUDE"
                                    },
                                    "condition_group_code": {
                                      "type": "string",
                                      "description": "UUID of the condition group",
                                      "example": "2b273309-2c63-4ef8-b5f8-2953abf7ad4a"
                                    },
                                    "condition_name": {
                                      "type": "string",
                                      "description": "Human-readable name of the condition",
                                      "example": "Country-US"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Rule type: METADATA, AMOUNT, COUNTRY, etc.",
                                      "example": "COUNTRY"
                                    },
                                    "values": {
                                      "type": "object",
                                      "description": "Values used by the rule. Structure depends on rule type: `currency`, `max`, and `min` are strings (nullable); `countries` is an array of strings (e.g. [\"AF\"]); `metadata` is an array of objects with `key` and `value` (e.g. [{\"key\": \"test\", \"value\": \"test\"}]).",
                                      "properties": {
                                        "countries": {
                                          "type": "array",
                                          "description": "Array of country codes (e.g. [\"AF\"], [\"US\"]). Null when not used by the rule.",
                                          "items": {
                                            "type": "string"
                                          },
                                          "nullable": true,
                                          "example": [
                                            "AF"
                                          ]
                                        },
                                        "currency": {
                                          "type": "string",
                                          "description": "Currency code when rule type is AMOUNT. Null otherwise.",
                                          "nullable": true,
                                          "example": null
                                        },
                                        "max": {
                                          "type": "string",
                                          "description": "Maximum value when applicable. Null otherwise.",
                                          "nullable": true,
                                          "example": null
                                        },
                                        "metadata": {
                                          "type": "array",
                                          "description": "Array of key-value objects (e.g. [{\"key\": \"test\", \"value\": \"test\"}]). Null when not used by the rule.",
                                          "nullable": true,
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "key": {
                                                "type": "string"
                                              },
                                              "value": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        },
                                        "min": {
                                          "type": "string",
                                          "description": "Minimum value when applicable. Null otherwise.",
                                          "nullable": true,
                                          "example": null
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "card_data": {
                        "type": "object",
                        "properties": {
                          "iin": {
                            "type": "string",
                            "example": "41111111"
                          },
                          "lfd": {
                            "type": "string",
                            "example": "1111"
                          },
                          "expiration_month": {
                            "type": "integer",
                            "example": 3,
                            "default": 0
                          },
                          "expiration_year": {
                            "type": "integer",
                            "example": 26,
                            "default": 0
                          },
                          "number_length": {
                            "type": "integer",
                            "example": 16,
                            "default": 0
                          },
                          "security_code_length": {
                            "type": "integer",
                            "example": 3,
                            "default": 0
                          },
                          "brand": {
                            "type": "string",
                            "example": "VISA"
                          },
                          "issuer": {
                            "type": "string",
                            "example": "JPMORGAN CHASE BANK N A"
                          },
                          "issuer_code": {},
                          "category": {
                            "type": "string",
                            "example": "CREDIT"
                          },
                          "type": {
                            "type": "string",
                            "example": "CREDIT"
                          }
                        }
                      },
                      "preferred": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"code\": \"INVALID_REQUEST\",\n  \"messages\": [\n    \"Invalid request\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": "{\n  \"code\": \"INVALID_CREDENTIALS\",\n  \"messages\": [\n    \"Invalid credentials\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": "{\n  \"code\": \"AUTHORIZATION_REQUIRED\",\n  \"messages\": [\n    \"The merchant has no authorization to use this API.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}