{
  "openapi": "3.1.0",
  "info": {
    "title": "checkout-api",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/checkout/sessions/{checkout_session}/payment-methods": {
      "get": {
        "summary": "Retrieve Payment Methods for Checkout",
        "description": "",
        "operationId": "retrieve-payment-methods-for-checkout",
        "parameters": [
          {
            "name": "checkout_session",
            "in": "path",
            "description": "The unique identifier of the checkout session (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "category",
            "in": "query",
            "description": "Optional category filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "name": "VISA ****1111",
                        "vaulted_token": "de00c1bd-624b-4e7b-ae28-47d86c94b15f",
                        "description": "VISA ****1111",
                        "type": "CARD",
                        "category": "CARD",
                        "icon": "https://icons.prod.y.uno/visa_logosimbolo.png",
                        "last_successfully_used": false,
                        "last_successfully_used_at": "",
                        "checkout": {
                          "session": "d313047b-4f96-44ef-bbad-caf1d7ba4c2b",
                          "sdk_required_action": false,
                          "conditions": {
                            "enabled": true,
                            "rules": null
                          }
                        },
                        "card_data": {
                          "iin": "41111111",
                          "lfd": "1111",
                          "expiration_month": 3,
                          "expiration_year": 26,
                          "number_length": 16,
                          "security_code_length": 3,
                          "brand": "VISA",
                          "issuer": "JPMORGAN CHASE BANK N A",
                          "issuer_code": null,
                          "category": "CREDIT",
                          "type": "CREDIT"
                        },
                        "preferred": false
                      },
                      {
                        "name": "Card",
                        "vaulted_token": null,
                        "description": "Card",
                        "type": "CARD",
                        "category": "CARD",
                        "icon": "https://icons.prod.y.uno/card_logosimbolo.png",
                        "last_successfully_used": null,
                        "last_successfully_used_at": null,
                        "checkout": {
                          "session": "d313047b-4f96-44ef-bbad-caf1d7ba4c2b",
                          "sdk_required_action": true,
                          "conditions": {
                            "enabled": true,
                            "rules": null
                          }
                        },
                        "preferred": false
                      },
                      {
                        "name": "Bank Transfer",
                        "vaulted_token": null,
                        "description": "Bank Transfer",
                        "type": "BANK_TRANSFER",
                        "category": "BANK_TRANSFER",
                        "icon": "https://icons.prod.y.uno/banktransfer_logosimbolo.png",
                        "last_successfully_used": null,
                        "last_successfully_used_at": null,
                        "checkout": {
                          "session": "d313047b-4f96-44ef-bbad-caf1d7ba4c2b",
                          "sdk_required_action": true,
                          "conditions": {
                            "enabled": false,
                            "rules": [
                              {
                                "condition": "INCLUDE",
                                "condition_group_code": "2b273309-2c63-4ef8-b5f8-2953abf7ad4a",
                                "condition_name": "Country-US",
                                "type": "COUNTRY",
                                "values": {
                                  "countries": [
                                    "US"
                                  ],
                                  "currency": null,
                                  "max": null,
                                  "metadata": null,
                                  "min": null
                                }
                              }
                            ]
                          }
                        },
                        "preferred": false
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "VISA ****1111"
                      },
                      "vaulted_token": {
                        "type": "string",
                        "example": "de00c1bd-624b-4e7b-ae28-47d86c94b15f"
                      },
                      "description": {
                        "type": "string",
                        "example": "VISA ****1111"
                      },
                      "type": {
                        "type": "string",
                        "example": "CARD"
                      },
                      "category": {
                        "type": "string",
                        "example": "CARD"
                      },
                      "icon": {
                        "type": "string",
                        "example": "https://icons.prod.y.uno/visa_logosimbolo.png"
                      },
                      "last_successfully_used": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      },
                      "last_successfully_used_at": {
                        "type": "string",
                        "example": ""
                      },
                      "checkout": {
                        "type": "object",
                        "properties": {
                          "session": {
                            "type": "string",
                            "example": "d313047b-4f96-44ef-bbad-caf1d7ba4c2b"
                          },
                          "sdk_required_action": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "conditions": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "rules": {
                                "type": "array",
                                "description": "List of condition rules (INCLUDE/EXCLUDE) applied to the payment method. Each rule has a type (e.g. METADATA, AMOUNT, COUNTRY) and values.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "condition": {
                                      "type": "string",
                                      "description": "INCLUDE or EXCLUDE",
                                      "example": "INCLUDE"
                                    },
                                    "condition_group_code": {
                                      "type": "string",
                                      "description": "UUID of the condition group",
                                      "example": "2b273309-2c63-4ef8-b5f8-2953abf7ad4a"
                                    },
                                    "condition_name": {
                                      "type": "string",
                                      "description": "Human-readable name of the condition",
                                      "example": "Country-US"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Rule type: METADATA, AMOUNT, COUNTRY, etc.",
                                      "example": "COUNTRY"
                                    },
                                    "values": {
                                      "type": "object",
                                      "description": "Values used by the rule. Structure depends on rule type: `currency`, `max`, and `min` are strings (nullable); `countries` is an array of strings (e.g. [\"AF\"]); `metadata` is an array of objects with `key` and `value` (e.g. [{\"key\": \"test\", \"value\": \"test\"}]).",
                                      "properties": {
                                        "countries": {
                                          "type": "array",
                                          "description": "Array of country codes (e.g. [\"AF\"], [\"US\"]). Null when not used by the rule.",
                                          "items": {
                                            "type": "string"
                                          },
                                          "nullable": true,
                                          "example": [
                                            "AF"
                                          ]
                                        },
                                        "currency": {
                                          "type": "string",
                                          "description": "Currency code when rule type is AMOUNT. Null otherwise.",
                                          "nullable": true,
                                          "example": null
                                        },
                                        "max": {
                                          "type": "string",
                                          "description": "Maximum value when applicable. Null otherwise.",
                                          "nullable": true,
                                          "example": null
                                        },
                                        "metadata": {
                                          "type": "array",
                                          "description": "Array of key-value objects (e.g. [{\"key\": \"test\", \"value\": \"test\"}]). Null when not used by the rule.",
                                          "nullable": true,
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "key": {
                                                "type": "string"
                                              },
                                              "value": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        },
                                        "min": {
                                          "type": "string",
                                          "description": "Minimum value when applicable. Null otherwise.",
                                          "nullable": true,
                                          "example": null
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "card_data": {
                        "type": "object",
                        "properties": {
                          "iin": {
                            "type": "string",
                            "example": "41111111"
                          },
                          "lfd": {
                            "type": "string",
                            "example": "1111"
                          },
                          "expiration_month": {
                            "type": "integer",
                            "example": 3,
                            "default": 0
                          },
                          "expiration_year": {
                            "type": "integer",
                            "example": 26,
                            "default": 0
                          },
                          "number_length": {
                            "type": "integer",
                            "example": 16,
                            "default": 0
                          },
                          "security_code_length": {
                            "type": "integer",
                            "example": 3,
                            "default": 0
                          },
                          "brand": {
                            "type": "string",
                            "example": "VISA"
                          },
                          "issuer": {
                            "type": "string",
                            "example": "JPMORGAN CHASE BANK N A"
                          },
                          "issuer_code": {},
                          "category": {
                            "type": "string",
                            "example": "CREDIT"
                          },
                          "type": {
                            "type": "string",
                            "example": "CREDIT"
                          }
                        }
                      },
                      "preferred": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "code": "INVALID_CREDENTIALS",
                      "messages": [
                        "Invalid credentials"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": {
                      "code": "AUTHORIZATION_REQUIRED",
                      "messages": [
                        "The merchant has no authorization to use this API."
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}