{
  "openapi": "3.1.0",
  "info": { "title": "Routing API - Create", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" }, { "url": "https://api.eu.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/routing": {
      "post": {
        "summary": "Create a Routing",
        "operationId": "create-routing",
        "description": "Creates a routing for one (account_id, payment_method) pair.",
        "parameters": [
          { "name": "X-Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["account_id", "payment_method", "name", "default_route"],
                "properties": {
                  "account_id": { "type": "string", "format": "uuid", "example": "7825fc5e-e50a-4248-9ae8-5d3786afb0be" },
                  "payment_method": { "type": "string", "example": "CARD" },
                  "name": { "type": "string", "example": "Card routing" },
                  "default_route": {
                    "type": "object",
                    "required": ["steps"],
                    "properties": {
                      "steps": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "A provider attempt, or a Cancel step ({\"index\": 1, \"action\": \"CANCEL\"}) that rejects the payment without sending it to any provider. A Cancel step must be the only step of its route and has no provider_id, connection_id or output.",
                          "required": ["index"],
                          "properties": {
                            "index": { "type": "integer", "example": 1 },
                            "provider_id": { "type": "string", "example": "STRIPE", "description": "Required on provider steps; omit on a Cancel step." },
                            "connection_id": { "type": "string", "format": "uuid", "example": "f1a3c4d5-7b8e-4a2c-9d1e-3f4a5b6c7d8e", "description": "Required on provider steps; omit on a Cancel step." },
                            "action": { "type": "string", "enum": ["CANCEL"], "description": "CANCEL rejects the payment without sending it to any provider. Omit on provider steps." }
                          }
                        }
                      }
                    }
                  },
                  "condition_sets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["sort_number", "conditions", "route"],
                      "properties": {
                        "sort_number": { "type": "integer", "example": 1 },
                        "name": { "type": "string", "example": "Reject foreign-issued cards" },
                        "description": { "type": "string" },
                        "conditions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["condition_type", "conditional", "values"],
                            "properties": {
                              "condition_type": { "type": "string", "example": "CARD_ISSUER_COUNTRY" },
                              "conditional": { "type": "string", "example": "NOT_ONE_OF" },
                              "values": { "type": "array", "items": { "type": "string" }, "example": ["BR"] },
                              "key": { "type": "string", "description": "METADATA only." },
                              "currency": { "type": "string", "description": "AMOUNT only." }
                            }
                          }
                        },
                        "route": {
                          "type": "object",
                          "required": ["steps"],
                          "properties": {
                            "steps": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "description": "A provider attempt, or a Cancel step ({\"index\": 1, \"action\": \"CANCEL\"}) that rejects the payment without sending it to any provider. A Cancel step must be the only step of its route and has no provider_id, connection_id or output.",
                                "required": ["index"],
                                "properties": {
                                  "index": { "type": "integer", "example": 1 },
                                  "provider_id": { "type": "string", "example": "STRIPE", "description": "Required on provider steps; omit on a Cancel step." },
                                  "connection_id": { "type": "string", "format": "uuid", "example": "f1a3c4d5-7b8e-4a2c-9d1e-3f4a5b6c7d8e", "description": "Required on provider steps; omit on a Cancel step." },
                                  "action": { "type": "string", "enum": ["CANCEL"], "description": "CANCEL rejects the payment without sending it to any provider. Omit on provider steps." }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "example": "r_8f2c1d3e-4b5a-6c7d-8e9f-0a1b2c3d4e5f" },
                    "account_id": { "type": "string", "example": "acc-uuid" },
                    "payment_method": { "type": "string", "example": "CARD" },
                    "name": { "type": "string", "example": "Card routing" },
                    "default_route": { 
                      "type": "object",
                      "properties": {
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": { "type": "integer", "example": 1 },
                              "provider_id": { "type": "string", "example": "STRIPE", "description": "Absent on a Cancel step." },
                              "connection_id": { "type": "string", "example": "f1a3c4d5-...", "description": "Absent on a Cancel step." },
                              "action": { "type": "string", "enum": ["CANCEL"], "description": "Present only on a Cancel step, which rejects the payment without sending it to any provider." }
                            }
                          }
                        }
                      }
                    },
                    "condition_sets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sort_number": { "type": "integer", "example": 1 },
                          "name": { "type": "string", "example": "High Value US" },
                          "conditions": { "type": "array", "items": { "type": "object" } },
                          "route": { "type": "object", "description": "Same shape as default_route, including a Cancel step ({\"index\": 1, \"action\": \"CANCEL\"}) as its only step." }
                        }
                      }
                    },
                    "created_at": { "type": "string", "format": "date-time", "example": "2026-05-12T14:30:00Z" },
                    "updated_at": { "type": "string", "format": "date-time", "example": "2026-05-12T14:30:00Z" },
                    "warnings": { "type": "array", "items": { "type": "string" }, "example": ["MONITOR_REDISTRIBUTION_DEFERRED"] }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "INVALID_ROUTE_CONFIGURATION" },
                    "messages": { "type": "array", "items": { "type": "string" }, "example": ["route.steps[].index must be a contiguous sequence starting at 1; got [1, 3]"] }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "example": "ROUTING_ALREADY_EXISTS" },
                    "messages": { "type": "array", "items": { "type": "string" }, "example": ["A routing for payment_method 'CARD' already exists for this account."] }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
