{
  "openapi": "3.1.0",
  "info": { "title": "Routing API - List", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/routing": {
      "get": {
        "summary": "List Routings",
        "operationId": "list-routings",
        "description": "Lists all routings of an account, optionally filtered by payment method. Each item has the same shape as Retrieve a Routing.",
        "parameters": [
          { "name": "account_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" }, "description": "Account to list routings for. Must belong to the organization of your API credentials." },
          { "name": "payment_method", "in": "query", "required": false, "schema": { "type": "string", "example": "CARD" }, "description": "Filter by payment method (e.g., CARD, PIX)." }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string", "example": "r_8f2c1d3e-4b5a-6c7d-8e9f-0a1b2c3d4e5f" },
                      "account_code": { "type": "string", "example": "acc-uuid" },
                      "payment_method": { "type": "string", "example": "CARD" },
                      "name": { "type": "string", "example": "Card routing — Stripe primary, Adyen fallback" },
                      "default_route": {
                        "type": "object",
                        "properties": {
                          "steps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "index": { "type": "integer", "example": 1 },
                                "provider_id": { "type": "string", "example": "STRIPE" },
                                "connection_id": { "type": "string", "example": "f1a3c4d5-..." }
                              }
                            }
                          }
                        }
                      },
                      "condition_sets": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "sort_number": { "type": "integer", "example": 1 },
                            "name": { "type": "string", "example": "High Value US" },
                            "conditions": { "type": "array", "items": { "type": "object" } },
                            "route": { "type": "object" }
                          }
                        }
                      },
                      "created_at": { "type": "string", "format": "date-time", "example": "2026-05-12T14:30:00Z" },
                      "updated_at": { "type": "string", "format": "date-time", "example": "2026-05-12T14:30:00Z" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string", "example": "invalid_request" },
                    "code": { "type": "string", "example": "ROUTING_VALIDATION_FAILED" },
                    "message": { "type": "string", "example": "account_id is required." }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
