{
  "openapi": "3.1.0",
  "info": { "title": "Routing API - Retrieve", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/routing/{routing_id}": {
      "get": {
        "summary": "Retrieve a Routing",
        "operationId": "retrieve-routing",
        "description": "Returns the routing's current live configuration.",
        "parameters": [
          { "name": "routing_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "account_code": { "type": "string" },
                    "payment_method": { "type": "string" },
                    "name": { "type": "string" },
                    "default_route": { "type": "object" },
                    "created_at": { "type": "string", "format": "date-time" },
                    "updated_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
