{
  "openapi": "3.1.0",
  "info": { "title": "Routing API - Update", "version": "1.0.0" },
  "servers": [ { "url": "https://api-sandbox.y.uno/v1" } ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "apiKey", "in": "header", "name": "PUBLIC-API-KEY", "x-default": "<Your PUBLIC-API-KEY>" },
      "sec1": { "type": "apiKey", "in": "header", "name": "PRIVATE-SECRET-KEY", "x-default": "<Your PRIVATE-SECRET-KEY>" }
    }
  },
  "security": [ { "sec0": [], "sec1": [] } ],
  "paths": {
    "/routing/{routing_id}": {
      "patch": {
        "summary": "Update a Routing",
        "operationId": "update-routing",
        "description": "Replaces the routing's full configuration.",
        "parameters": [
          { "name": "routing_id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "X-Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Updated Card routing" },
                  "default_route": { "type": "object" },
                  "condition_sets": { "type": "array", "items": { "type": "object" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "example": "r_8f2c1d3e-4b5a-6c7d-8e9f-0a1b2c3d4e5f" },
                    "account_code": { "type": "string", "example": "acc-uuid" },
                    "payment_method": { "type": "string", "example": "CARD" },
                    "name": { "type": "string", "example": "Updated Card routing" },
                    "default_route": { 
                      "type": "object",
                      "properties": {
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": { "type": "integer", "example": 1 },
                              "provider_id": { "type": "string", "example": "STRIPE" },
                              "connection_id": { "type": "string", "example": "f1a3c4d5-..." }
                            }
                          }
                        }
                      }
                    },
                    "created_at": { "type": "string", "format": "date-time", "example": "2026-05-12T14:30:00Z" },
                    "updated_at": { "type": "string", "format": "date-time", "example": "2026-05-12T14:30:00Z" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
