{
  "openapi": "3.1.0",
  "info": {
    "title": "meters",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/meters": {
      "get": {
        "summary": "List Meters",
        "description": "Usage-based billing must be enabled for your organization before this endpoint accepts requests (otherwise `403 PRODUCT_NOT_ENABLED`). Returns a paginated list of the meters that belong to the authenticated account, including `INACTIVE` (archived) meters. 1-indexed pagination.",
        "operationId": "list-meters",
        "parameters": [
          {
            "in": "header",
            "name": "X-Account-Code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `account_id` found in your [Yuno Dashboard](https://dashboard.y.uno/developers) (UUID). Required — omitting it returns `400 BAD_REQUEST` (\"Invalid x-account-code header.\")."
          },
          {
            "name": "account_id",
            "in": "query",
            "description": "The unique identifier of the account whose meters to list (UUID, 36 chars).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of meters to return. Must be >= 1, else `400 INVALID_PARAMETERS`. Defaults to 20.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of meters to skip. Must be >= 0. Defaults to 0.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": [
                        {
                          "id": "55555555-5555-5555-5555-555555555555",
                          "account_id": "00000000-0000-4000-8000-000000000002",
                          "name": "AI tokens",
                          "description": "LLM tokens consumed by model responses, reported once per response",
                          "event_name": "ai_tokens",
                          "aggregation": "SUM",
                          "unit_label": "token",
                          "plural_unit_label": "tokens",
                          "default_price": {
                            "currency": "USD",
                            "value": 0.002
                          },
                          "metadata": [
                            {
                              "key": "team",
                              "value": "platform"
                            }
                          ],
                          "status": "ACTIVE",
                          "created_at": "2026-08-18T09:00:04.000000Z",
                          "updated_at": "2026-08-18T09:00:04.000000Z"
                        },
                        {
                          "id": "66666666-6666-6666-6666-666666666666",
                          "account_id": "00000000-0000-4000-8000-000000000002",
                          "name": "API Requests",
                          "description": "Calls to the public API, one event per authenticated request",
                          "event_name": "api_request",
                          "aggregation": "COUNT",
                          "unit_label": "request",
                          "plural_unit_label": "requests",
                          "default_price": {
                            "currency": "USD",
                            "value": 0.001
                          },
                          "metadata": [],
                          "status": "ACTIVE",
                          "created_at": "2026-08-18T09:00:04.000000Z",
                          "updated_at": "2026-08-18T09:00:04.000000Z"
                        }
                      ],
                      "pagination": {
                        "total": 2,
                        "limit": 20,
                        "offset": 0,
                        "has_more": false
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the meter."
                          },
                          "account_id": {
                            "type": "string",
                            "description": "The unique identifier of the account that owns the meter."
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "event_name": {
                            "type": "string"
                          },
                          "aggregation": {
                            "type": "string",
                            "enum": [
                              "SUM",
                              "COUNT",
                              "LAST"
                            ]
                          },
                          "unit_label": {
                            "type": "string",
                            "nullable": true
                          },
                          "plural_unit_label": {
                            "type": "string",
                            "nullable": true
                          },
                          "default_price": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "metadata": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "ACTIVE",
                              "INACTIVE"
                            ],
                            "example": "ACTIVE"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Set by Yuno on creation."
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Set by Yuno on every update."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of items."
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "`true` when more items exist beyond `offset + limit`."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The limit must be greater than or equal to 1"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Product not enabled": {
                    "summary": "Product not enabled",
                    "value": {
                      "code": "PRODUCT_NOT_ENABLED",
                      "messages": [
                        "Usage-based billing is not enabled for this organization"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "PRODUCT_NOT_ENABLED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
