{
  "openapi": "3.1.0",
  "info": {
    "title": "meters",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/plans/{plan_id}/meters": {
      "get": {
        "summary": "List Plan Meters",
        "description": "**Early access (preview).** Usage-based billing is available on request and the contract may change before general availability. Returns every metered price attached to a plan. The same list is embedded as `meters[]` on Retrieve Plan.",
        "operationId": "list-plan-meters",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": [
                        {
                          "id": "77777777-7777-7777-7777-777777777777",
                          "plan_id": "00000000-0000-4000-8000-000000000001",
                          "meter_id": "66666666-6666-6666-6666-666666666666",
                          "credits": 100.5,
                          "pricing_strategy": "PER_UNIT",
                          "price_per_credit": {
                            "currency": "USD",
                            "value": 0.05
                          },
                          "country_prices": [
                            {
                              "country": "US",
                              "amount": {
                                "currency": "USD",
                                "value": 0.06
                              }
                            }
                          ],
                          "created_at": "2026-08-18T09:00:04.000000Z",
                          "updated_at": "2026-08-18T09:00:04.000000Z"
                        },
                        {
                          "id": "88888888-8888-8888-8888-888888888888",
                          "plan_id": "00000000-0000-4000-8000-000000000001",
                          "meter_id": "55555555-5555-5555-5555-555555555555",
                          "credits": 10000,
                          "pricing_strategy": "PER_UNIT",
                          "price_per_credit": null,
                          "country_prices": [],
                          "created_at": "2026-08-18T09:00:04.000000Z",
                          "updated_at": "2026-08-18T09:00:04.000000Z"
                        }
                      ],
                      "pagination": {
                        "total": 2,
                        "limit": 20,
                        "offset": 0,
                        "has_more": false
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier of the metered price (the plan-meter relation)."
                          },
                          "plan_id": {
                            "type": "string"
                          },
                          "meter_id": {
                            "type": "string"
                          },
                          "credits": {
                            "type": "number",
                            "description": "Units included in the plan per billing cycle."
                          },
                          "pricing_strategy": {
                            "type": "string",
                            "enum": [
                              "PER_UNIT",
                              "PACKAGE",
                              "TIERED"
                            ]
                          },
                          "price_per_credit": {
                            "type": "object",
                            "nullable": true,
                            "description": "`null` when inherited from the meter's `default_price` (USD plans).",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          },
                          "country_prices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "country": {
                                  "type": "string"
                                },
                                "amount": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of items."
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "`true` when more items exist beyond `offset + limit`."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "PLAN_NOT_FOUND",
                      "messages": [
                        "The plan does not exist or is not linked to this account."
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
