{
  "openapi": "3.1.0",
  "info": {
    "title": "meters",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/meters/events": {
      "post": {
        "summary": "Report Usage Event",
        "description": "Usage-based billing must be enabled for your organization before this endpoint accepts requests (otherwise `403 PRODUCT_NOT_ENABLED`). Reports one usage event against a subscription. The meter is resolved from `event_name`. Validation is synchronous: a malformed or unresolvable event is rejected with `400` and never counted. Replaying the same `event_id` returns the original response — including the original `consumed_value`, even if the retry sent a different one — and never double counts. Only `ACTIVE` and `TRIALING` subscriptions accept usage; any other status is rejected with `400 SUBSCRIPTION_NOT_ACTIVE`. One event per request.",
        "operationId": "report-usage-event",
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier used in HTTP headers to ensure that a request is processed only once, even if it is retried due to network issues or timeouts. Required on every write request of this feature."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_id",
                  "event_name",
                  "subscription_id"
                ],
                "properties": {
                  "event_id": {
                    "type": "string",
                    "description": "Your unique identifier for this event — the idempotency key. Unique per account. Re-sending the same `event_id` returns the same response (including the original `value`) and never counts the usage twice, regardless of retries."
                  },
                  "event_name": {
                    "type": "string",
                    "description": "The `event_name` of the meter this event belongs to. Resolves the meter within your account; an unknown or `INACTIVE` meter is rejected with `400 METER_NOT_FOUND`."
                  },
                  "subscription_id": {
                    "type": "string",
                    "description": "The unique identifier of the subscription the usage is attributed to (MAX 64; MIN 36). Must exist in your account (`400 SUBSCRIPTION_NOT_FOUND`) and be `ACTIVE` or `TRIALING` (`400 SUBSCRIPTION_NOT_ACTIVE`). Usage is metered per subscription and billed on that subscription's renewal."
                  },
                  "consumed_value": {
                    "type": "number",
                    "format": "float",
                    "description": "The numeric value of the event (decimals allowed). Required for `SUM` and `LAST` meters (\"The consumed_value is required for a SUM meter\"). Optional for `COUNT` meters — defaults to 1."
                  },
                  "occurred_at": {
                    "type": "string",
                    "description": "When the usage happened (ISO 8601 with offset). Defaults to the time the event is received. Backdating is accepted up to 35 days in the past; older values are rejected with `400 INVALID_PARAMETERS`. `occurred_at` decides which billing cycle the event lands in."
                  },
                  "metadata": {
                    "type": "array",
                    "description": "Optional key-value pairs stored with the event (MAX 48 entries; value MAX 512).",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "meter_id": {
                    "type": "string",
                    "description": "Optional guard. When sent, it must match the meter resolved from `event_name`, else `400 INVALID_PARAMETERS`."
                  }
                }
              },
              "examples": {
                "Sum meter (tokens)": {
                  "summary": "SUM meter — tokens consumed",
                  "value": {
                    "event_id": "11111111-1111-1111-1111-111111111111",
                    "event_name": "ai_tokens",
                    "subscription_id": "33333333-3333-3333-3333-333333333333",
                    "consumed_value": 1500,
                    "occurred_at": "2026-08-18T09:00:04Z",
                    "metadata": [
                      {
                        "key": "model",
                        "value": "llm-large"
                      }
                    ]
                  }
                },
                "Count meter (API request)": {
                  "summary": "COUNT meter — consumed_value omitted, counts as 1",
                  "value": {
                    "event_id": "req_01J5Y3Q9K8ZC5G6E4Y2W7X8N9M",
                    "event_name": "api_request",
                    "subscription_id": "33333333-3333-3333-3333-333333333333"
                  }
                },
                "Last meter (storage)": {
                  "summary": "LAST meter — current gigabytes held",
                  "value": {
                    "event_id": "storage-2026-08-18T09:00-sub-3333",
                    "event_name": "storage_gb",
                    "subscription_id": "33333333-3333-3333-3333-333333333333",
                    "consumed_value": 128.4,
                    "occurred_at": "2026-08-18T09:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "22222222-2222-2222-2222-222222222222",
                      "event_id": "11111111-1111-1111-1111-111111111111",
                      "event_name": "ai_tokens",
                      "meter_id": "55555555-5555-5555-5555-555555555555",
                      "subscription_id": "33333333-3333-3333-3333-333333333333",
                      "consumed_value": 1500,
                      "received_at": "2026-08-18T09:00:04.000000Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Yuno's identifier for the stored event."
                    },
                    "event_id": {
                      "type": "string"
                    },
                    "event_name": {
                      "type": "string"
                    },
                    "meter_id": {
                      "type": "string"
                    },
                    "subscription_id": {
                      "type": "string"
                    },
                    "consumed_value": {
                      "type": "number"
                    },
                    "received_at": {
                      "type": "string",
                      "description": "When Yuno received the event."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Missing event_id": {
                    "summary": "Missing event_id",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The event_id is required"
                      ]
                    }
                  },
                  "Unknown subscription": {
                    "summary": "Unknown subscription",
                    "value": {
                      "code": "SUBSCRIPTION_NOT_FOUND",
                      "messages": [
                        "The subscription does not exist or is not linked to this account."
                      ]
                    }
                  },
                  "Missing consumed_value on SUM meter": {
                    "summary": "Missing consumed_value on SUM meter",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The consumed_value is required for a SUM meter"
                      ]
                    }
                  },
                  "Subscription not active": {
                    "summary": "Subscription not active",
                    "value": {
                      "code": "SUBSCRIPTION_NOT_ACTIVE",
                      "messages": [
                        "The subscription is not active"
                      ]
                    }
                  },
                  "occurred_at too old": {
                    "summary": "occurred_at too old",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The occurred_at cannot be more than 35 days in the past"
                      ]
                    }
                  },
                  "meter_id mismatch": {
                    "summary": "meter_id mismatch",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The meter_id does not match the meter resolved from event_name"
                      ]
                    }
                  },
                  "Result": {
                    "value": {
                      "code": "METER_NOT_FOUND",
                      "messages": [
                        "No active meter with event_name ai_tokens exists for this account"
                      ]
                    },
                    "summary": "Unknown or inactive meter"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Product not enabled": {
                    "summary": "Product not enabled",
                    "value": {
                      "code": "PRODUCT_NOT_ENABLED",
                      "messages": [
                        "Usage-based billing is not enabled for this organization"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "PRODUCT_NOT_ENABLED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
