{
  "openapi": "3.1.0",
  "info": {
    "title": "meters",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/meters/{meter_id}": {
      "get": {
        "summary": "Retrieve Meter",
        "description": "Usage-based billing must be enabled for your organization before this endpoint accepts requests (otherwise `403 PRODUCT_NOT_ENABLED`). Retrieves a meter by its `id`.",
        "operationId": "retrieve-meter",
        "parameters": [
          {
            "in": "header",
            "name": "X-Account-Code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `account_id` found in your [Yuno Dashboard](https://dashboard.y.uno/developers) (UUID). Required — omitting it returns `400 BAD_REQUEST` (\"Invalid x-account-code header.\")."
          },
          {
            "name": "meter_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the meter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "55555555-5555-5555-5555-555555555555",
                      "account_id": "00000000-0000-4000-8000-000000000002",
                      "name": "AI tokens",
                      "description": "LLM tokens consumed by model responses, reported once per response",
                      "event_name": "ai_tokens",
                      "aggregation": "SUM",
                      "unit_label": "token",
                      "plural_unit_label": "tokens",
                      "default_price": {
                        "currency": "USD",
                        "value": 0.002
                      },
                      "metadata": [
                        {
                          "key": "team",
                          "value": "platform"
                        }
                      ],
                      "status": "ACTIVE",
                      "created_at": "2026-08-18T09:00:04.000000Z",
                      "updated_at": "2026-08-18T09:00:04.000000Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the meter."
                    },
                    "account_id": {
                      "type": "string",
                      "description": "The unique identifier of the account that owns the meter."
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "event_name": {
                      "type": "string"
                    },
                    "aggregation": {
                      "type": "string",
                      "enum": [
                        "SUM",
                        "COUNT",
                        "LAST"
                      ]
                    },
                    "unit_label": {
                      "type": "string",
                      "nullable": true
                    },
                    "plural_unit_label": {
                      "type": "string",
                      "nullable": true
                    },
                    "default_price": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "value": {
                          "type": "number"
                        }
                      }
                    },
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ACTIVE",
                        "INACTIVE"
                      ],
                      "example": "ACTIVE"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Set by Yuno on creation."
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "Set by Yuno on every update."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "code": "METER_NOT_FOUND",
                      "messages": [
                        "The meter does not exist or is not linked to this account."
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Product not enabled": {
                    "summary": "Product not enabled",
                    "value": {
                      "code": "PRODUCT_NOT_ENABLED",
                      "messages": [
                        "Usage-based billing is not enabled for this organization"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "PRODUCT_NOT_ENABLED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
