{
  "openapi": "3.1.0",
  "info": {
    "title": "meters",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    },
    {
      "url": "https://api.eu.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/subscriptions/plans/{plan_id}/meters/{meter_id}": {
      "patch": {
        "summary": "Update Plan Meter",
        "description": "**Early access (preview).** Usage-based billing is available on request and the contract may change before general availability. Updates a metered price already attached to a plan: included `credits`, `pricing_strategy`, `price_per_credit` and `country_prices`. Send at least one field. The change applies to usage rated from the subscription's next billing cycle onward. To stop billing a meter on a plan, archive the meter (Update Meter with `status: INACTIVE`) — there is no detach endpoint in this preview.",
        "operationId": "update-plan-meter",
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meter_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the meter attached to the plan.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Optional. Free-form string (MAX 64). Re-sending the same key with the same body returns the original response."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credits": {
                    "type": "number",
                    "format": "float",
                    "description": "Units included in the plan per billing cycle — the allowance a subscriber can consume before any usage is billed. Must be >= 0. `0` means every unit is billed."
                  },
                  "pricing_strategy": {
                    "type": "string",
                    "enum": [
                      "PER_UNIT",
                      "PACKAGE",
                      "TIERED"
                    ],
                    "description": "How usage beyond `credits` is priced. Only `PER_UNIT` (billable units × `price_per_credit`) is priced in this preview. `PACKAGE` and `TIERED` are accepted but reserved — their configuration fields and rating are not available yet."
                  },
                  "price_per_credit": {
                    "type": "object",
                    "required": [
                      "currency",
                      "value"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "MAX 3; MIN 3. Must equal the plan's `base_amount` currency, else `400 INVALID_PARAMETERS`."
                      },
                      "value": {
                        "type": "number",
                        "format": "float",
                        "description": "Price per unit beyond the included credits (multiple of 0.0001). Optional only when the plan's base currency is `USD` and the meter has a `default_price` — it is then inherited from the meter. Required otherwise."
                      }
                    }
                  },
                  "country_prices": {
                    "type": "array",
                    "description": "Optional explicit per-country price per unit (one entry per country). A country not listed falls back to `price_per_credit`.",
                    "items": {
                      "type": "object",
                      "required": [
                        "country",
                        "amount"
                      ],
                      "properties": {
                        "country": {
                          "type": "string",
                          "description": "MAX 2; MIN 2; [ISO 3166-1](/reference/country-reference)."
                        },
                        "amount": {
                          "type": "object",
                          "required": [
                            "currency",
                            "value"
                          ],
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "MAX 3; MIN 3; [ISO 4217](/reference/country-reference)."
                            },
                            "value": {
                              "type": "number",
                              "format": "float",
                              "description": "Multiple of 0.0001."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Raise the allowance and lower the unit price": {
                  "value": {
                    "credits": 250,
                    "price_per_credit": {
                      "currency": "USD",
                      "value": 0.04
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "77777777-7777-7777-7777-777777777777",
                      "plan_id": "00000000-0000-4000-8000-000000000001",
                      "meter_id": "66666666-6666-6666-6666-666666666666",
                      "credits": 250,
                      "pricing_strategy": "PER_UNIT",
                      "price_per_credit": {
                        "currency": "USD",
                        "value": 0.04
                      },
                      "country_prices": [
                        {
                          "country": "US",
                          "amount": {
                            "currency": "USD",
                            "value": 0.06
                          }
                        }
                      ],
                      "created_at": "2026-08-18T09:00:04.000000Z",
                      "updated_at": "2026-08-18T12:15:00.000000Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the metered price (the plan-meter relation)."
                    },
                    "plan_id": {
                      "type": "string"
                    },
                    "meter_id": {
                      "type": "string"
                    },
                    "credits": {
                      "type": "number",
                      "description": "Units included in the plan per billing cycle."
                    },
                    "pricing_strategy": {
                      "type": "string",
                      "enum": [
                        "PER_UNIT",
                        "PACKAGE",
                        "TIERED"
                      ]
                    },
                    "price_per_credit": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string"
                        },
                        "value": {
                          "type": "number"
                        }
                      }
                    },
                    "country_prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Currency mismatch": {
                    "summary": "Currency mismatch",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The price_per_credit currency must match the plan base currency"
                      ]
                    }
                  },
                  "Missing price on non-USD plan": {
                    "summary": "Missing price on non-USD plan",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "A price_per_credit is required when the plan base currency is not USD"
                      ]
                    }
                  },
                  "Missing price and no default": {
                    "summary": "Missing price and no default",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "A price_per_credit is required when the meter has no default_price"
                      ]
                    }
                  },
                  "Negative credits": {
                    "summary": "Negative credits",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The meter credits must be greater than or equal to 0"
                      ]
                    }
                  },
                  "Invalid strategy": {
                    "summary": "Invalid strategy",
                    "value": {
                      "code": "INVALID_PARAMETERS",
                      "messages": [
                        "The meter pricing_strategy must be one of PER_UNIT, PACKAGE, TIERED"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Meter not attached to the plan": {
                    "summary": "Meter not attached to the plan",
                    "value": {
                      "code": "PLAN_METER_NOT_FOUND",
                      "messages": [
                        "The meter 66666666-6666-6666-6666-666666666666 is not assigned to this plan"
                      ]
                    }
                  },
                  "Unknown plan": {
                    "summary": "Unknown plan",
                    "value": {
                      "code": "PLAN_NOT_FOUND",
                      "messages": [
                        "The plan does not exist or is not linked to this account."
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "value": "utf-8",
        "key": "charset"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
