{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Domains"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno"
    }
  ],
  "paths": {
    "/v1/payment-method-domains/{id}": {
      "post": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "No Content": {
                    "summary": "No Content",
                    "value": "{}"
                  }
                }
              }
            },
            "description": "No Content"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "operationId": "post_v1-payment-method-domains-id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}