{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Domains"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno",
      "description": "Sandbox"
    },
    {
      "url": "https://api.y.uno",
      "description": "Production (US)"
    },
    {
      "url": "https://api.eu.y.uno",
      "description": "Production (EMEA)"
    }
  ],
  "paths": {
    "/v1/payment-methods/{payment_method}/domains/{domain_id}": {
      "get": {
        "description": "Retrieves a single domain registration by its `id`. Use the `id` that Register domain returned for that domain. Domains belong to the connection they were registered on, so a domain that belongs to another organization returns 404.",
        "operationId": "get_v1-payment-methods-payment-method-domains-domain-id",
        "parameters": [
          {
            "in": "path",
            "name": "payment_method",
            "description": "Payment method the domain was registered for.",
            "schema": {
              "type": "string",
              "enum": [
                "APPLE_PAY",
                "GOOGLE_PAY"
              ]
            },
            "required": true
          },
          {
            "in": "path",
            "name": "domain_id",
            "description": "The `id` of the domain registration (UUID), as returned by Register domain.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "id": "8a2f4b1c-6d3e-4f7a-9b21-0c5d8e7f6a43",
                      "account_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "domain": "checkout.example.com",
                      "payment_method_type": "APPLE_PAY",
                      "status": "REGISTERED",
                      "created_at": "2026-01-22T10:30:00Z",
                      "updated_at": "2026-01-22T10:45:00Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the domain registration (UUID).",
                      "example": "8a2f4b1c-6d3e-4f7a-9b21-0c5d8e7f6a43"
                    },
                    "account_id": {
                      "type": "string",
                      "description": "The account the domain was registered under.",
                      "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The registered domain, without scheme or path.",
                      "example": "checkout.example.com"
                    },
                    "payment_method_type": {
                      "type": "string",
                      "description": "Payment method the domain was registered for.",
                      "example": "APPLE_PAY"
                    },
                    "status": {
                      "type": "string",
                      "description": "`CREATED`: the registration request reached the wallet provider and no final result was stored yet. `REGISTERED`: the domain is verified and can show the wallet button. `ERROR`: the provider rejected the registration, for example because the association file was not reachable. `INACTIVE`: the domain was unregistered.",
                      "enum": [
                        "CREATED",
                        "REGISTERED",
                        "ERROR",
                        "INACTIVE"
                      ],
                      "example": "REGISTERED"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2026-01-22T10:30:00Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2026-01-22T10:45:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No domain with that `id` exists for your organization.",
            "content": {
              "application/json": {
                "examples": {
                  "Not found": {
                    "summary": "Not found",
                    "value": {
                      "code": "RESOURCE_NOT_FOUND",
                      "messages": [
                        "Domain with id 8a2f4b1c-6d3e-4f7a-9b21-0c5d8e7f6a43 was not found"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "RESOURCE_NOT_FOUND"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "public-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key"
      },
      "private-secret-key": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key"
      }
    }
  },
  "security": [
    {
      "public-api-key": [],
      "private-secret-key": []
    }
  ]
}
