{
  "openapi": "3.1.0",
  "info": {
    "title": "payment-api-refundcancel-payment",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1/payments"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your public-api-key>",
        "name": "public-api-key"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your private-secret-key>",
        "name": "private-secret-key"
      },
      "sec2": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your X-Idempotency-Key>",
        "name": "X-Idempotency-Key"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": [],
      "sec2": []
    }
  ],
  "paths": {
    "/{payment_id}/transactions/{transaction_id}/dispute": {
      "post": {
        "summary": "Dispute a chargeback",
        "description": "",
        "operationId": "disputes",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The unique identifier of the payment (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "transaction_id",
            "in": "path",
            "description": "The unique identifier of the transaction (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "evidence"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account (UUID, 36 chars)."
                  },
                  "evidence": {
                    "type": "array",
                    "description": "The evidence files object",
                    "items": {
                      "type": "object",
                      "properties": {
                        "file_name": {
                          "type": "string",
                          "description": "The name of the documentation sent (MAX 255; MIN 3)."
                        },
                        "content_type": {
                          "type": "string",
                          "description": "The type of the documentation sent by the merchant",
                          "enum": [
                            "application/pdf"
                          ]
                        },
                        "content_category": {
                          "type": "string",
                          "description": "The category of the documentation sent by the merchant",
                          "enum": [
                            "CANCEL_POLICY",
                            "CUSTOMER_INTERACTION",
                            "OTHERS",
                            "PAYMENT_DETAIL",
                            "PROOF_OF_AUTHENTICITY",
                            "PROOF_OF_DELIVERY",
                            "PROOF_OF_SERVICE",
                            "RECEIPT",
                            "REFUND_POLICY",
                            "SERVICE_AGREEMENT",
                            "TERMS_AND_CONDITIONS"
                          ]
                        },
                        "content": {
                          "type": "string",
                          "description": "The content of the documentation sent by the merchant  encoded in base64. Max size: 1MB."
                        }
                      },
                      "required": [
                        "file_name",
                        "content_type",
                        "content_category",
                        "content"
                      ]
                    }
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "account_id": "<Your Yuno account_id>",
                    "evidence": [
                      {
                        "content_type": "application/pdf",
                        "file_name": "Receipt_AA001",
                        "content_category": "RECEIPT",
                        "content": "0MTGCjMgMCBvYmoKPDwgL0ZpbHRlcJVBERi0xLjMKJcTl8uXrp/Og ..."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "id": "b001d824-3f3f-48fc-98ef-a3114b918c1e",
                      "account_id": "210a524f-7ad3-437a-be7e-9e99bdf4d742",
                      "description": "Test Purchase",
                      "country": "AR",
                      "status": "IN_DISPUTE",
                      "sub_status": "PENDING_REVIEW",
                      "merchant_order_id": "65742358",
                      "created_at": "2025-11-26T20:34:08.330622Z",
                      "updated_at": "2025-11-26T20:34:12.580560Z",
                      "amount": {
                        "captured": 0,
                        "currency": "ARS",
                        "currency_conversion": null,
                        "refunded": 0,
                        "value": 2000
                      },
                      "checkout": null,
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "CARD",
                        "vault_on_success": false,
                        "token": "",
                        "parent_payment_method_type": null,
                        "payment_method_detail": {
                          "card": {
                            "verify": false,
                            "capture": false,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": null,
                            "installment_amount": null,
                            "installments_total_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "393119",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "card_data": {
                              "holder_name": "John Diaz",
                              "iin": "45130761",
                              "lfd": "5348",
                              "number_length": 16,
                              "security_code_length": 3,
                              "brand": "VISA",
                              "issuer_name": "BANCOLOMBIA",
                              "issuer_code": null,
                              "country_code": "CO",
                              "category": "CLASSIC",
                              "type": "CREDIT",
                              "fingerprint": "2213e58a-33d7-4bdc-8cbe-4785f683c410",
                              "expiration_month": 6,
                              "expiration_year": 26
                            },
                            "stored_credentials": {
                              "reason": null,
                              "usage": null,
                              "subscription_agreement_id": null,
                              "network_transaction_id": null
                            }
                          }
                        }
                      },
                      "customer_payer": {
                        "id": "1b9ef2f7-b69e-4dd0-b0a1-3605dfc2ad2f",
                        "merchant_customer_id": "6a1b6e7e0e104f28929015fd6182e9f9",
                        "first_name": "Margarita",
                        "last_name": "Parra",
                        "gender": "NB",
                        "date_of_birth": "1952-02-27",
                        "email": "qpacheco@example.com",
                        "nationality": "AR",
                        "ip_address": "205.52.88.44",
                        "device_fingerprint": "90ede54c-d2d4-4e2e-8189-6b81091231b0",
                        "device_fingerprints": [
                          {
                            "provider_id": "DEFAULT",
                            "id": "90ede54c-d2d4-4e2e-8189-6b81091231b0"
                          },
                          {
                            "provider_id": "CLEAR_SALE",
                            "id": "c1c4907c-3339-4217-a4bd-1e9be74b3819"
                          },
                          {
                            "provider_id": "CYBERSOURCE",
                            "id": "d5c56387-4d06-479b-b55b-eab81e5211bc"
                          },
                          {
                            "provider_id": "OPENPAY",
                            "id": "89451345904503181146447710703990"
                          },
                          {
                            "provider_id": "MERCADO_PAGO",
                            "id": "armor.cofxzlvhsrpuslf5ychwxvszwaicsanbuub2on7rfuzmyfijppqm8vcziky3h3emxkz3b2aopl04ublu0jufbtwk8sm232fin19btcnd3q1jdpku6cp9ybn8exc2vcuoalosq51bpfefzhsqx4tuythte5jaruh4keo2fcm9r9wwy96s8djk0e5nmsi8z6pfi7e94tsoe7h09s227umko9kyf4p0xanqn"
                          }
                        ],
                        "browser_info": {
                          "user_agent": "Chrome",
                          "accept_header": "true",
                          "accept_content": "true",
                          "accept_browser": "true",
                          "color_depth": "red",
                          "screen_height": "500",
                          "screen_width": "100",
                          "javascript_enabled": true,
                          "java_enabled": true,
                          "browser_time_difference": "-3:00",
                          "language": "es",
                          "platform": null
                        },
                        "document": {
                          "document_type": "DNI",
                          "document_number": "82183204"
                        },
                        "phone": {
                          "number": "91112345678",
                          "country_code": "54"
                        },
                        "billing_address": {
                          "address_line_1": "Avenida Putumayo 1780",
                          "address_line_2": "Diagonal 181G 6572",
                          "country": "AR",
                          "state": "Álava",
                          "city": "Suárez",
                          "zip_code": "25207",
                          "neighborhood": "Barrio Núñez"
                        },
                        "shipping_address": {
                          "address_line_1": "Diagonal 61 2487",
                          "address_line_2": "Av. carrera 54 7627",
                          "country": "AR",
                          "state": "Guipúzcoa",
                          "city": "San Benito",
                          "zip_code": "31718",
                          "neighborhood": "Villa La Esperanza"
                        },
                        "merchant_customer_created_at": "2025-11-26T20:34:06.941Z",
                        "geolocation": {
                          "latitude": "80.00",
                          "longitude": "103.00"
                        }
                      },
                      "additional_data": {
                        "airline": {
                          "pnr": "ABC123",
                          "legs": [
                            {
                              "order": null,
                              "route_order": null,
                              "passenger_id": null,
                              "departure_airport": "JFK",
                              "departure_datetime": "2024-07-03T05:00:00",
                              "departure_airport_timezone": "GMT-05",
                              "arrival_airport": "LAX",
                              "arrival_airport_timezone": "+00:00",
                              "arrival_datetime": "2030-07-03T22:59:00",
                              "carrier_code": "AA",
                              "flight_number": "123",
                              "fare_basis_code": "Y",
                              "fare_class_code": "S",
                              "base_fare": 1800,
                              "base_fare_currency": "USD",
                              "stopover_code": "O",
                              "departure_airport_country": "NL",
                              "departure_airport_city": "Amsterdam",
                              "arrival_airport_country": "AR",
                              "arrival_airport_city": "Buenos aires",
                              "expedited_boarding": null,
                              "extra_baggage": null,
                              "purchased_meals": null,
                              "selected_seat": null
                            }
                          ],
                          "passengers": [
                            {
                              "id": null,
                              "first_name": "Antonio",
                              "last_name": "Vargas",
                              "middle_name": "Piedad",
                              "type": "A",
                              "date_of_birth": "1999-12-17",
                              "nationality": "US",
                              "document": {
                                "document_type": "DNI",
                                "document_number": "82183204"
                              },
                              "country": "CO",
                              "loyalty_number": "79250001",
                              "loyalty_tier": "DIAMOND",
                              "email": "anaarias@example.com",
                              "phone": {
                                "number": "91112345678",
                                "country_code": "54"
                              },
                              "address": null,
                              "evidence_document_source": null
                            },
                            {
                              "id": null,
                              "first_name": "Álvaro",
                              "last_name": "Bravo",
                              "middle_name": "Edwin",
                              "type": "C",
                              "date_of_birth": "1973-07-25",
                              "nationality": "CO",
                              "document": {
                                "document_type": "DNI",
                                "document_number": "82183204"
                              },
                              "country": "CO",
                              "loyalty_number": "79250002",
                              "loyalty_tier": "SILVER",
                              "email": "leidysanchez@example.com",
                              "phone": {
                                "number": "91112345678",
                                "country_code": "54"
                              },
                              "address": null,
                              "evidence_document_source": null
                            }
                          ],
                          "type": null,
                          "ticket": {
                            "ticket_number": "BRB0001",
                            "passenger_id": null,
                            "e_ticket": true,
                            "restricted": false,
                            "total_fare_amount": 2000,
                            "total_tax_amount": 180,
                            "total_fee_amount": 20,
                            "issue": {
                              "carrier_prefix_code": "AA",
                              "travel_agent_code": "A12345",
                              "travel_agent_name": "TRAVEL AGENCY",
                              "date": "2023-10-31",
                              "address": "123 Main St",
                              "city": "New York",
                              "country": "US",
                              "zip_code": "10001",
                              "booking_system_code": "1G",
                              "booking_system_name": "Galileo"
                            }
                          },
                          "tickets": [
                            {
                              "ticket_number": "BRB0001",
                              "passenger_id": null,
                              "e_ticket": true,
                              "restricted": false,
                              "total_fare_amount": 2000,
                              "total_tax_amount": 180,
                              "total_fee_amount": 20,
                              "issue": {
                                "carrier_prefix_code": "AA",
                                "travel_agent_code": "A12345",
                                "travel_agent_name": "TRAVEL AGENCY",
                                "date": "2023-10-31",
                                "address": "123 Main St",
                                "city": "New York",
                                "country": "US",
                                "zip_code": "10001",
                                "booking_system_code": "1G",
                                "booking_system_name": "Galileo"
                              }
                            }
                          ]
                        },
                        "transportations": null,
                        "order": {
                          "fee_amount": 1,
                          "shipping_amount": 3,
                          "tip_amount": 2,
                          "items": [
                            {
                              "id": "97029",
                              "name": "SKIRT",
                              "quantity": 3,
                              "unit_amount": 2000,
                              "category": "OTHERS",
                              "brand": "Barrera Group",
                              "sku_code": "SC-01905",
                              "manufacture_part_number": "MPN-70919"
                            },
                            {
                              "id": "61906",
                              "name": "SKIRT",
                              "quantity": 1,
                              "unit_amount": 2000,
                              "category": "OTHERS",
                              "brand": "Suárez-Castellanos",
                              "sku_code": "SC-14444",
                              "manufacture_part_number": "MPN-43825"
                            }
                          ],
                          "taxes": [
                            {
                              "type": "VAT",
                              "tax_base": 100,
                              "value": 10,
                              "percentage": 10
                            }
                          ],
                          "shipping": {
                            "type": "ELECTRONIC",
                            "description": "q4O6W8x8ONwpbgHjlxlz",
                            "carrier": "AR_OCA",
                            "deliver_at": "2025-11-26T20:34:07.500866Z",
                            "recipients": []
                          },
                          "account_funding": {
                            "sender": {
                              "national_entity": null,
                              "first_name": "Reinaldo",
                              "last_name": "Rojas",
                              "legal_name": null,
                              "email": null,
                              "country": null,
                              "date_of_birth": null,
                              "document": null,
                              "phone": null,
                              "address": null
                            },
                            "beneficiary": {
                              "national_entity": null,
                              "first_name": "Leidy",
                              "last_name": "González",
                              "legal_name": null,
                              "email": null,
                              "country": "AR",
                              "date_of_birth": "1983-12-07",
                              "document": null,
                              "phone": {
                                "number": "91112345678",
                                "country_code": "54"
                              },
                              "address": {
                                "address_line_1": "Calle 4ª 3050",
                                "address_line_2": "Carrera 98 6425",
                                "country": "AR",
                                "city": "",
                                "zip_code": "",
                                "neighborhood": "Barrio Colegiales"
                              }
                            }
                          },
                          "tickets": [
                            {
                              "id": "57bfc6e7-c270-4fcc-a578-a76e6eaa4576",
                              "name": "Ticket vitae",
                              "description": "Description 4I%n",
                              "type": "VIRTUAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "3e9d0621-e8ca-4415-9025-95d568cac569",
                                "name": "Event doloremque",
                                "description": "Description ipsam",
                                "type": "CIRCUS",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Diagonal 33 2395",
                                  "address_line_2": "Cl. 112E 6497",
                                  "city": "Paz de Ariporo",
                                  "country": "AR",
                                  "state": "Lleida",
                                  "zip_code": "18124",
                                  "neighborhood": "Conjunto Los Laureles"
                                }
                              }
                            },
                            {
                              "id": "f842ae67-2f7d-4415-9d9e-9a51d2712c13",
                              "name": "Ticket aspernatur",
                              "description": "Description jS3*",
                              "type": "VIRTUAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "af726450-abf5-49d1-b43a-9e65f88d606e",
                                "name": "Event officia",
                                "description": "Description quo",
                                "type": "CIRCUS",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Tr. 194B 459",
                                  "address_line_2": "Cl. 102L Sur 2950",
                                  "city": "Moniquirá",
                                  "country": "AR",
                                  "state": "Segovia",
                                  "zip_code": "31278",
                                  "neighborhood": "Barrio Los Olivos"
                                }
                              }
                            },
                            {
                              "id": "51100a8e-04ec-45c1-8fea-2fa70a7966d3",
                              "name": "Ticket hic",
                              "description": "Description mR;2",
                              "type": "PHYSICAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "2164fb39-7be3-46aa-adc9-310eb33b4f05",
                                "name": "Event hic",
                                "description": "Description beatae",
                                "type": "SPORTS",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Av. Pérez 8882",
                                  "address_line_2": "Carrera 23 5900",
                                  "city": "Vijes",
                                  "country": "AR",
                                  "state": "Zamora",
                                  "zip_code": "24300",
                                  "neighborhood": "Barrio El Paraíso"
                                }
                              }
                            },
                            {
                              "id": "6f465375-0ded-4ac7-848c-39450bff069d",
                              "name": "Ticket totam",
                              "description": "Description t0}E",
                              "type": "VIRTUAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "e564bf42-0385-4ad8-a38a-eb481a434cbf",
                                "name": "Event neque",
                                "description": "Description facilis",
                                "type": "OTHERS",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Avenida carrera 153 3115",
                                  "address_line_2": "Cr. 121G Bis 4048",
                                  "city": "La Ceja",
                                  "country": "AR",
                                  "state": "Castellón",
                                  "zip_code": "39464",
                                  "neighborhood": "Conjunto Belgrano"
                                }
                              }
                            },
                            {
                              "id": "b40b5fb7-3a1b-4315-bf01-4ba9b7ef99aa",
                              "name": "Ticket esse",
                              "description": "Description wI2;",
                              "type": "VIRTUAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "a4f1f47f-8853-4ac2-b574-6b05d4a611fd",
                                "name": "Event eos",
                                "description": "Description natus",
                                "type": "CINEMA",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Cr. 6E Bis 3665",
                                  "address_line_2": "Carrera 9 Este 1918",
                                  "city": "Teorama",
                                  "country": "AR",
                                  "state": "Madrid",
                                  "zip_code": "32993",
                                  "neighborhood": "Villa Las Flores"
                                }
                              }
                            }
                          ],
                          "fulfillment": null,
                          "discounts": [
                            {
                              "id": "10FF",
                              "name": "10% Discount",
                              "unit_amount": 10
                            }
                          ],
                          "sales_channel": "marketplace"
                        },
                        "seller_details": {
                          "name": "Mendoza-Cerón",
                          "website": "http://navarro.info/category/postsregister.html",
                          "email": "iospina@example.net",
                          "address": {
                            "address_line_1": "Av. calle 5ª 3906",
                            "address_line_2": "Dg. 8ª 8965",
                            "country": "AR",
                            "state": "ARGENTINA",
                            "city": "Curití",
                            "zip_code": "15484"
                          },
                          "reference": "39245884",
                          "country": "AR",
                          "phone": {
                            "number": "6844503463",
                            "country_code": "23"
                          },
                          "document": {
                            "document_type": "DNI",
                            "document_number": "82183204"
                          },
                          "industry": "ELECTRONICS",
                          "merchant_category_code": "6628"
                        }
                      },
                      "transactions": {
                        "id": "4a963490-70c2-4669-975a-a6901b4b5abf",
                        "type": "CHARGEBACK",
                        "status": "CREATED",
                        "category": "CARD",
                        "amount": 2000,
                        "provider_id": "BAMBOO",
                        "payment_method": {
                          "vaulted_token": "",
                          "type": "CARD",
                          "vault_on_success": false,
                          "token": "",
                          "parent_payment_method_type": null,
                          "detail": {
                            "card": {
                              "verify": false,
                              "capture": false,
                              "installments": 1,
                              "installments_plan_id": null,
                              "first_installment_deferral": 0,
                              "installments_type": null,
                              "installment_amount": null,
                              "installments_total_amount": null,
                              "soft_descriptor": "",
                              "authorization_code": "393119",
                              "retrieval_reference_number": "",
                              "voucher": null,
                              "card_data": {
                                "holder_name": "Pepito Perez",
                                "iin": "45130761",
                                "lfd": "5348",
                                "number_length": 16,
                                "security_code_length": 3,
                                "brand": "VISA",
                                "issuer_name": "BANCOLOMBIA",
                                "issuer_code": null,
                                "country_code": "CO",
                                "category": "CLASSIC",
                                "type": "CREDIT",
                                "fingerprint": "2213e58a-33d7-4bdc-8cbe-4785f683c410",
                                "expiration_month": 6,
                                "expiration_year": 26
                              },
                              "stored_credentials": {
                                "reason": null,
                                "usage": null,
                                "subscription_agreement_id": null,
                                "network_transaction_id": null
                              }
                            }
                          }
                        },
                        "response_code": "SUCCEEDED",
                        "response_message": "CHARGEBACK_CREATED",
                        "reason": "REQUESTED_BY_CUSTOMER",
                        "description": "webhook transaction",
                        "merchant_reference": "Reference-ac04c8a6-78c7-4588-b915-5498455369ef",
                        "provider_data": {
                          "id": "BAMBOO",
                          "transaction_id": "121030201030210312",
                          "account_id": "",
                          "status": "APPROVED",
                          "sub_status": "",
                          "status_detail": "",
                          "response_message": null,
                          "response_code": null,
                          "raw_response": null,
                          "third_party_transaction_id": null,
                          "third_party_account_id": null,
                          "iso8583_response_code": null,
                          "iso8583_response_message": null,
                          "merchant_advice_code": null,
                          "merchant_advice_code_message": null,
                          "reason_code": null,
                          "reason_description": null
                        },
                        "connection_data": {
                          "id": null,
                          "name": null
                        },
                        "created_at": "2025-11-26T20:34:12.529203Z",
                        "updated_at": "2025-11-26T20:34:12.559289Z",
                        "merchant_advice_code": null,
                        "merchant_advice_code_message": null
                      },
                      "transactions_history": null,
                      "split_marketplace": [],
                      "callback_url": "https://ibarra.info/tags/apphome.jsp",
                      "workflow": "DIRECT",
                      "metadata": [
                        {
                          "key": "explicabo",
                          "value": "nihil"
                        },
                        {
                          "key": "quas",
                          "value": "veritatis"
                        },
                        {
                          "key": "numquam",
                          "value": "placeat"
                        },
                        {
                          "key": "eos",
                          "value": "quo"
                        },
                        {
                          "key": "corrupti",
                          "value": "eveniet"
                        },
                        {
                          "key": "occaecati",
                          "value": "consectetur"
                        }
                      ],
                      "fraud_screening": null,
                      "payment_link_id": "",
                      "subscription_code": null,
                      "routing_rules": {
                        "smart_routing": false,
                        "monitors": false,
                        "condition": {
                          "id": 64972,
                          "name": null,
                          "description": null
                        }
                      },
                      "simplified_mode": false
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "b001d824-3f3f-48fc-98ef-a3114b918c1e"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "210a524f-7ad3-437a-be7e-9e99bdf4d742"
                    },
                    "description": {
                      "type": "string",
                      "example": "Test Purchase"
                    },
                    "country": {
                      "type": "string",
                      "example": "AR"
                    },
                    "status": {
                      "type": "string",
                      "example": "IN_DISPUTE"
                    },
                    "sub_status": {
                      "type": "string",
                      "example": "PENDING_REVIEW"
                    },
                    "merchant_order_id": {
                      "type": "string",
                      "example": "65742358"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2025-11-26T20:34:08.330622Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2025-11-26T20:34:12.580560Z"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "captured": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "currency": {
                          "type": "string",
                          "example": "ARS"
                        },
                        "currency_conversion": {},
                        "refunded": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "value": {
                          "type": "integer",
                          "example": 2000,
                          "default": 0
                        }
                      }
                    },
                    "checkout": {},
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "vaulted_token": {
                          "type": "string",
                          "example": ""
                        },
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "vault_on_success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "token": {
                          "type": "string",
                          "example": ""
                        },
                        "parent_payment_method_type": {},
                        "payment_method_detail": {
                          "type": "object",
                          "properties": {
                            "card": {
                              "type": "object",
                              "properties": {
                                "verify": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "capture": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "installments": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "installments_plan_id": {},
                                "first_installment_deferral": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "installments_type": {},
                                "installment_amount": {},
                                "installments_total_amount": {},
                                "soft_descriptor": {
                                  "type": "string",
                                  "example": ""
                                },
                                "authorization_code": {
                                  "type": "string",
                                  "example": "393119"
                                },
                                "retrieval_reference_number": {
                                  "type": "string",
                                  "example": ""
                                },
                                "voucher": {},
                                "card_data": {
                                  "type": "object",
                                  "properties": {
                                    "holder_name": {
                                      "type": "string",
                                      "example": "John Diaz"
                                    },
                                    "iin": {
                                      "type": "string",
                                      "example": "45130761"
                                    },
                                    "lfd": {
                                      "type": "string",
                                      "example": "5348"
                                    },
                                    "number_length": {
                                      "type": "integer",
                                      "example": 16,
                                      "default": 0
                                    },
                                    "security_code_length": {
                                      "type": "integer",
                                      "example": 3,
                                      "default": 0
                                    },
                                    "brand": {
                                      "type": "string",
                                      "example": "VISA"
                                    },
                                    "issuer_name": {
                                      "type": "string",
                                      "example": "BANCOLOMBIA"
                                    },
                                    "issuer_code": {},
                                    "country_code": {
                                      "type": "string",
                                      "example": "CO"
                                    },
                                    "category": {
                                      "type": "string",
                                      "example": "CLASSIC"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "CREDIT"
                                    },
                                    "fingerprint": {
                                      "type": "string",
                                      "example": "2213e58a-33d7-4bdc-8cbe-4785f683c410"
                                    },
                                    "expiration_month": {
                                      "type": "integer",
                                      "example": 6,
                                      "default": 0
                                    },
                                    "expiration_year": {
                                      "type": "integer",
                                      "example": 26,
                                      "default": 0
                                    }
                                  }
                                },
                                "stored_credentials": {
                                  "type": "object",
                                  "properties": {
                                    "reason": {},
                                    "usage": {},
                                    "subscription_agreement_id": {},
                                    "network_transaction_id": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "1b9ef2f7-b69e-4dd0-b0a1-3605dfc2ad2f"
                        },
                        "merchant_customer_id": {
                          "type": "string",
                          "example": "6a1b6e7e0e104f28929015fd6182e9f9"
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Margarita"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Parra"
                        },
                        "gender": {
                          "type": "string",
                          "example": "NB"
                        },
                        "date_of_birth": {
                          "type": "string",
                          "example": "1952-02-27"
                        },
                        "email": {
                          "type": "string",
                          "example": "qpacheco@example.com"
                        },
                        "nationality": {
                          "type": "string",
                          "example": "AR"
                        },
                        "ip_address": {
                          "type": "string",
                          "example": "205.52.88.44"
                        },
                        "device_fingerprint": {
                          "type": "string",
                          "example": "90ede54c-d2d4-4e2e-8189-6b81091231b0"
                        },
                        "device_fingerprints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "provider_id": {
                                "type": "string",
                                "example": "DEFAULT"
                              },
                              "id": {
                                "type": "string",
                                "example": "90ede54c-d2d4-4e2e-8189-6b81091231b0"
                              }
                            }
                          }
                        },
                        "browser_info": {
                          "type": "object",
                          "properties": {
                            "user_agent": {
                              "type": "string",
                              "example": "Chrome"
                            },
                            "accept_header": {
                              "type": "string",
                              "example": "true"
                            },
                            "accept_content": {
                              "type": "string",
                              "example": "true"
                            },
                            "accept_browser": {
                              "type": "string",
                              "example": "true"
                            },
                            "color_depth": {
                              "type": "string",
                              "example": "red"
                            },
                            "screen_height": {
                              "type": "string",
                              "example": "500"
                            },
                            "screen_width": {
                              "type": "string",
                              "example": "100"
                            },
                            "javascript_enabled": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "java_enabled": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "browser_time_difference": {
                              "type": "string",
                              "example": "-3:00"
                            },
                            "language": {
                              "type": "string",
                              "example": "es"
                            },
                            "platform": {}
                          }
                        },
                        "document": {
                          "type": "object",
                          "properties": {
                            "document_type": {
                              "type": "string",
                              "example": "DNI"
                            },
                            "document_number": {
                              "type": "string",
                              "example": "82183204"
                            }
                          }
                        },
                        "phone": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "string",
                              "example": "91112345678"
                            },
                            "country_code": {
                              "type": "string",
                              "example": "54"
                            }
                          }
                        },
                        "billing_address": {
                          "type": "object",
                          "properties": {
                            "address_line_1": {
                              "type": "string",
                              "example": "Avenida Putumayo 1780"
                            },
                            "address_line_2": {
                              "type": "string",
                              "example": "Diagonal 181G 6572"
                            },
                            "country": {
                              "type": "string",
                              "example": "AR"
                            },
                            "state": {
                              "type": "string",
                              "example": "Álava"
                            },
                            "city": {
                              "type": "string",
                              "example": "Suárez"
                            },
                            "zip_code": {
                              "type": "string",
                              "example": "25207"
                            },
                            "neighborhood": {
                              "type": "string",
                              "example": "Barrio Núñez"
                            }
                          }
                        },
                        "shipping_address": {
                          "type": "object",
                          "properties": {
                            "address_line_1": {
                              "type": "string",
                              "example": "Diagonal 61 2487"
                            },
                            "address_line_2": {
                              "type": "string",
                              "example": "Av. carrera 54 7627"
                            },
                            "country": {
                              "type": "string",
                              "example": "AR"
                            },
                            "state": {
                              "type": "string",
                              "example": "Guipúzcoa"
                            },
                            "city": {
                              "type": "string",
                              "example": "San Benito"
                            },
                            "zip_code": {
                              "type": "string",
                              "example": "31718"
                            },
                            "neighborhood": {
                              "type": "string",
                              "example": "Villa La Esperanza"
                            }
                          }
                        },
                        "merchant_customer_created_at": {
                          "type": "string",
                          "example": "2025-11-26T20:34:06.941Z"
                        },
                        "geolocation": {
                          "type": "object",
                          "properties": {
                            "latitude": {
                              "type": "string",
                              "example": "80.00"
                            },
                            "longitude": {
                              "type": "string",
                              "example": "103.00"
                            }
                          }
                        }
                      }
                    },
                    "additional_data": {
                      "type": "object",
                      "properties": {
                        "airline": {
                          "type": "object",
                          "properties": {
                            "pnr": {
                              "type": "string",
                              "example": "ABC123"
                            },
                            "legs": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "order": {},
                                  "route_order": {},
                                  "passenger_id": {},
                                  "departure_airport": {
                                    "type": "string",
                                    "example": "JFK"
                                  },
                                  "departure_datetime": {
                                    "type": "string",
                                    "example": "2024-07-03T05:00:00"
                                  },
                                  "departure_airport_timezone": {
                                    "type": "string",
                                    "example": "GMT-05"
                                  },
                                  "arrival_airport": {
                                    "type": "string",
                                    "example": "LAX"
                                  },
                                  "arrival_airport_timezone": {
                                    "type": "string",
                                    "example": "+00:00"
                                  },
                                  "arrival_datetime": {
                                    "type": "string",
                                    "example": "2030-07-03T22:59:00"
                                  },
                                  "carrier_code": {
                                    "type": "string",
                                    "example": "AA"
                                  },
                                  "flight_number": {
                                    "type": "string",
                                    "example": "123"
                                  },
                                  "fare_basis_code": {
                                    "type": "string",
                                    "example": "Y"
                                  },
                                  "fare_class_code": {
                                    "type": "string",
                                    "example": "S"
                                  },
                                  "base_fare": {
                                    "type": "integer",
                                    "example": 1800,
                                    "default": 0
                                  },
                                  "base_fare_currency": {
                                    "type": "string",
                                    "example": "USD"
                                  },
                                  "stopover_code": {
                                    "type": "string",
                                    "example": "O"
                                  },
                                  "departure_airport_country": {
                                    "type": "string",
                                    "example": "NL"
                                  },
                                  "departure_airport_city": {
                                    "type": "string",
                                    "example": "Amsterdam"
                                  },
                                  "arrival_airport_country": {
                                    "type": "string",
                                    "example": "AR"
                                  },
                                  "arrival_airport_city": {
                                    "type": "string",
                                    "example": "Buenos aires"
                                  },
                                  "expedited_boarding": {},
                                  "extra_baggage": {},
                                  "purchased_meals": {},
                                  "selected_seat": {}
                                }
                              }
                            },
                            "passengers": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {},
                                  "first_name": {
                                    "type": "string",
                                    "example": "Antonio"
                                  },
                                  "last_name": {
                                    "type": "string",
                                    "example": "Vargas"
                                  },
                                  "middle_name": {
                                    "type": "string",
                                    "example": "Piedad"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "A"
                                  },
                                  "date_of_birth": {
                                    "type": "string",
                                    "example": "1999-12-17"
                                  },
                                  "nationality": {
                                    "type": "string",
                                    "example": "US"
                                  },
                                  "document": {
                                    "type": "object",
                                    "properties": {
                                      "document_type": {
                                        "type": "string",
                                        "example": "DNI"
                                      },
                                      "document_number": {
                                        "type": "string",
                                        "example": "82183204"
                                      }
                                    }
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "CO"
                                  },
                                  "loyalty_number": {
                                    "type": "string",
                                    "example": "79250001"
                                  },
                                  "loyalty_tier": {
                                    "type": "string",
                                    "example": "DIAMOND"
                                  },
                                  "email": {
                                    "type": "string",
                                    "example": "anaarias@example.com"
                                  },
                                  "phone": {
                                    "type": "object",
                                    "properties": {
                                      "number": {
                                        "type": "string",
                                        "example": "91112345678"
                                      },
                                      "country_code": {
                                        "type": "string",
                                        "example": "54"
                                      }
                                    }
                                  },
                                  "address": {},
                                  "evidence_document_source": {}
                                }
                              }
                            },
                            "type": {},
                            "ticket": {
                              "type": "object",
                              "properties": {
                                "ticket_number": {
                                  "type": "string",
                                  "example": "BRB0001"
                                },
                                "passenger_id": {},
                                "e_ticket": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "restricted": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "total_fare_amount": {
                                  "type": "integer",
                                  "example": 2000,
                                  "default": 0
                                },
                                "total_tax_amount": {
                                  "type": "integer",
                                  "example": 180,
                                  "default": 0
                                },
                                "total_fee_amount": {
                                  "type": "integer",
                                  "example": 20,
                                  "default": 0
                                },
                                "issue": {
                                  "type": "object",
                                  "properties": {
                                    "carrier_prefix_code": {
                                      "type": "string",
                                      "example": "AA"
                                    },
                                    "travel_agent_code": {
                                      "type": "string",
                                      "example": "A12345"
                                    },
                                    "travel_agent_name": {
                                      "type": "string",
                                      "example": "TRAVEL AGENCY"
                                    },
                                    "date": {
                                      "type": "string",
                                      "example": "2023-10-31"
                                    },
                                    "address": {
                                      "type": "string",
                                      "example": "123 Main St"
                                    },
                                    "city": {
                                      "type": "string",
                                      "example": "New York"
                                    },
                                    "country": {
                                      "type": "string",
                                      "example": "US"
                                    },
                                    "zip_code": {
                                      "type": "string",
                                      "example": "10001"
                                    },
                                    "booking_system_code": {
                                      "type": "string",
                                      "example": "1G"
                                    },
                                    "booking_system_name": {
                                      "type": "string",
                                      "example": "Galileo"
                                    }
                                  }
                                }
                              }
                            },
                            "tickets": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "ticket_number": {
                                    "type": "string",
                                    "example": "BRB0001"
                                  },
                                  "passenger_id": {},
                                  "e_ticket": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "restricted": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  },
                                  "total_fare_amount": {
                                    "type": "integer",
                                    "example": 2000,
                                    "default": 0
                                  },
                                  "total_tax_amount": {
                                    "type": "integer",
                                    "example": 180,
                                    "default": 0
                                  },
                                  "total_fee_amount": {
                                    "type": "integer",
                                    "example": 20,
                                    "default": 0
                                  },
                                  "issue": {
                                    "type": "object",
                                    "properties": {
                                      "carrier_prefix_code": {
                                        "type": "string",
                                        "example": "AA"
                                      },
                                      "travel_agent_code": {
                                        "type": "string",
                                        "example": "A12345"
                                      },
                                      "travel_agent_name": {
                                        "type": "string",
                                        "example": "TRAVEL AGENCY"
                                      },
                                      "date": {
                                        "type": "string",
                                        "example": "2023-10-31"
                                      },
                                      "address": {
                                        "type": "string",
                                        "example": "123 Main St"
                                      },
                                      "city": {
                                        "type": "string",
                                        "example": "New York"
                                      },
                                      "country": {
                                        "type": "string",
                                        "example": "US"
                                      },
                                      "zip_code": {
                                        "type": "string",
                                        "example": "10001"
                                      },
                                      "booking_system_code": {
                                        "type": "string",
                                        "example": "1G"
                                      },
                                      "booking_system_name": {
                                        "type": "string",
                                        "example": "Galileo"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "transportations": {},
                        "order": {
                          "type": "object",
                          "properties": {
                            "fee_amount": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "shipping_amount": {
                              "type": "integer",
                              "example": 3,
                              "default": 0
                            },
                            "tip_amount": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "97029"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "SKIRT"
                                  },
                                  "quantity": {
                                    "type": "integer",
                                    "example": 3,
                                    "default": 0
                                  },
                                  "unit_amount": {
                                    "type": "integer",
                                    "example": 2000,
                                    "default": 0
                                  },
                                  "category": {
                                    "type": "string",
                                    "example": "OTHERS"
                                  },
                                  "brand": {
                                    "type": "string",
                                    "example": "Barrera Group"
                                  },
                                  "sku_code": {
                                    "type": "string",
                                    "example": "SC-01905"
                                  },
                                  "manufacture_part_number": {
                                    "type": "string",
                                    "example": "MPN-70919"
                                  }
                                }
                              }
                            },
                            "taxes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "VAT"
                                  },
                                  "tax_base": {
                                    "type": "integer",
                                    "example": 100,
                                    "default": 0
                                  },
                                  "value": {
                                    "type": "integer",
                                    "example": 10,
                                    "default": 0
                                  },
                                  "percentage": {
                                    "type": "integer",
                                    "example": 10,
                                    "default": 0
                                  }
                                }
                              }
                            },
                            "shipping": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "ELECTRONIC"
                                },
                                "description": {
                                  "type": "string",
                                  "example": "q4O6W8x8ONwpbgHjlxlz"
                                },
                                "carrier": {
                                  "type": "string",
                                  "example": "AR_OCA"
                                },
                                "deliver_at": {
                                  "type": "string",
                                  "example": "2025-11-26T20:34:07.500866Z"
                                },
                                "recipients": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {}
                                  }
                                }
                              }
                            },
                            "account_funding": {
                              "type": "object",
                              "properties": {
                                "sender": {
                                  "type": "object",
                                  "properties": {
                                    "national_entity": {},
                                    "first_name": {
                                      "type": "string",
                                      "example": "Reinaldo"
                                    },
                                    "last_name": {
                                      "type": "string",
                                      "example": "Rojas"
                                    },
                                    "legal_name": {},
                                    "email": {},
                                    "country": {},
                                    "date_of_birth": {},
                                    "document": {},
                                    "phone": {},
                                    "address": {}
                                  }
                                },
                                "beneficiary": {
                                  "type": "object",
                                  "properties": {
                                    "national_entity": {},
                                    "first_name": {
                                      "type": "string",
                                      "example": "Leidy"
                                    },
                                    "last_name": {
                                      "type": "string",
                                      "example": "González"
                                    },
                                    "legal_name": {},
                                    "email": {},
                                    "country": {
                                      "type": "string",
                                      "example": "AR"
                                    },
                                    "date_of_birth": {
                                      "type": "string",
                                      "example": "1983-12-07"
                                    },
                                    "document": {},
                                    "phone": {
                                      "type": "object",
                                      "properties": {
                                        "number": {
                                          "type": "string",
                                          "example": "91112345678"
                                        },
                                        "country_code": {
                                          "type": "string",
                                          "example": "54"
                                        }
                                      }
                                    },
                                    "address": {
                                      "type": "object",
                                      "properties": {
                                        "address_line_1": {
                                          "type": "string",
                                          "example": "Calle 4ª 3050"
                                        },
                                        "address_line_2": {
                                          "type": "string",
                                          "example": "Carrera 98 6425"
                                        },
                                        "country": {
                                          "type": "string",
                                          "example": "AR"
                                        },
                                        "city": {
                                          "type": "string",
                                          "example": ""
                                        },
                                        "zip_code": {
                                          "type": "string",
                                          "example": ""
                                        },
                                        "neighborhood": {
                                          "type": "string",
                                          "example": "Barrio Colegiales"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "tickets": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "57bfc6e7-c270-4fcc-a578-a76e6eaa4576"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Ticket vitae"
                                  },
                                  "description": {
                                    "type": "string",
                                    "example": "Description 4I%n"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "VIRTUAL"
                                  },
                                  "amount": {
                                    "type": "object",
                                    "properties": {
                                      "value": {
                                        "type": "integer",
                                        "example": 2000,
                                        "default": 0
                                      },
                                      "currency": {
                                        "type": "string",
                                        "example": "ARS"
                                      }
                                    }
                                  },
                                  "event": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "3e9d0621-e8ca-4415-9025-95d568cac569"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "Event doloremque"
                                      },
                                      "description": {
                                        "type": "string",
                                        "example": "Description ipsam"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "CIRCUS"
                                      },
                                      "date": {
                                        "type": "string",
                                        "example": "2025-11-26"
                                      },
                                      "address": {
                                        "type": "object",
                                        "properties": {
                                          "address_line_1": {
                                            "type": "string",
                                            "example": "Diagonal 33 2395"
                                          },
                                          "address_line_2": {
                                            "type": "string",
                                            "example": "Cl. 112E 6497"
                                          },
                                          "city": {
                                            "type": "string",
                                            "example": "Paz de Ariporo"
                                          },
                                          "country": {
                                            "type": "string",
                                            "example": "AR"
                                          },
                                          "state": {
                                            "type": "string",
                                            "example": "Lleida"
                                          },
                                          "zip_code": {
                                            "type": "string",
                                            "example": "18124"
                                          },
                                          "neighborhood": {
                                            "type": "string",
                                            "example": "Conjunto Los Laureles"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "fulfillment": {},
                            "discounts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "10FF"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "10% Discount"
                                  },
                                  "unit_amount": {
                                    "type": "integer",
                                    "example": 10,
                                    "default": 0
                                  }
                                }
                              }
                            },
                            "sales_channel": {
                              "type": "string",
                              "example": "marketplace"
                            }
                          }
                        },
                        "seller_details": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Mendoza-Cerón"
                            },
                            "website": {
                              "type": "string",
                              "example": "http://navarro.info/category/postsregister.html"
                            },
                            "email": {
                              "type": "string",
                              "example": "iospina@example.net"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "address_line_1": {
                                  "type": "string",
                                  "example": "Av. calle 5ª 3906"
                                },
                                "address_line_2": {
                                  "type": "string",
                                  "example": "Dg. 8ª 8965"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "AR"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "ARGENTINA"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "Curití"
                                },
                                "zip_code": {
                                  "type": "string",
                                  "example": "15484"
                                }
                              }
                            },
                            "reference": {
                              "type": "string",
                              "example": "39245884"
                            },
                            "country": {
                              "type": "string",
                              "example": "AR"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "number": {
                                  "type": "string",
                                  "example": "6844503463"
                                },
                                "country_code": {
                                  "type": "string",
                                  "example": "23"
                                }
                              }
                            },
                            "document": {
                              "type": "object",
                              "properties": {
                                "document_type": {
                                  "type": "string",
                                  "example": "DNI"
                                },
                                "document_number": {
                                  "type": "string",
                                  "example": "82183204"
                                }
                              }
                            },
                            "industry": {
                              "type": "string",
                              "example": "ELECTRONICS"
                            },
                            "merchant_category_code": {
                              "type": "string",
                              "example": "6628"
                            }
                          }
                        }
                      }
                    },
                    "transactions": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "4a963490-70c2-4669-975a-a6901b4b5abf"
                        },
                        "type": {
                          "type": "string",
                          "example": "CHARGEBACK"
                        },
                        "status": {
                          "type": "string",
                          "example": "CREATED"
                        },
                        "category": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "amount": {
                          "type": "integer",
                          "example": 2000,
                          "default": 0
                        },
                        "provider_id": {
                          "type": "string",
                          "example": "BAMBOO"
                        },
                        "payment_method": {
                          "type": "object",
                          "properties": {
                            "vaulted_token": {
                              "type": "string",
                              "example": ""
                            },
                            "type": {
                              "type": "string",
                              "example": "CARD"
                            },
                            "vault_on_success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "token": {
                              "type": "string",
                              "example": ""
                            },
                            "parent_payment_method_type": {},
                            "detail": {
                              "type": "object",
                              "properties": {
                                "card": {
                                  "type": "object",
                                  "properties": {
                                    "verify": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "capture": {
                                      "type": "boolean",
                                      "example": false,
                                      "default": true
                                    },
                                    "installments": {
                                      "type": "integer",
                                      "example": 1,
                                      "default": 0
                                    },
                                    "installments_plan_id": {},
                                    "first_installment_deferral": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "installments_type": {},
                                    "installment_amount": {},
                                    "installments_total_amount": {},
                                    "soft_descriptor": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "authorization_code": {
                                      "type": "string",
                                      "example": "393119"
                                    },
                                    "retrieval_reference_number": {
                                      "type": "string",
                                      "example": ""
                                    },
                                    "voucher": {},
                                    "card_data": {
                                      "type": "object",
                                      "properties": {
                                        "holder_name": {
                                          "type": "string",
                                          "example": "Pepito Perez"
                                        },
                                        "iin": {
                                          "type": "string",
                                          "example": "45130761"
                                        },
                                        "lfd": {
                                          "type": "string",
                                          "example": "5348"
                                        },
                                        "number_length": {
                                          "type": "integer",
                                          "example": 16,
                                          "default": 0
                                        },
                                        "security_code_length": {
                                          "type": "integer",
                                          "example": 3,
                                          "default": 0
                                        },
                                        "brand": {
                                          "type": "string",
                                          "example": "VISA"
                                        },
                                        "issuer_name": {
                                          "type": "string",
                                          "example": "BANCOLOMBIA"
                                        },
                                        "issuer_code": {},
                                        "country_code": {
                                          "type": "string",
                                          "example": "CO"
                                        },
                                        "category": {
                                          "type": "string",
                                          "example": "CLASSIC"
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "CREDIT"
                                        },
                                        "fingerprint": {
                                          "type": "string",
                                          "example": "2213e58a-33d7-4bdc-8cbe-4785f683c410"
                                        },
                                        "expiration_month": {
                                          "type": "integer",
                                          "example": 6,
                                          "default": 0
                                        },
                                        "expiration_year": {
                                          "type": "integer",
                                          "example": 26,
                                          "default": 0
                                        }
                                      }
                                    },
                                    "stored_credentials": {
                                      "type": "object",
                                      "properties": {
[...]
