{
  "openapi": "3.1.0",
  "info": {
    "title": "payments",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your public-api-key>",
        "name": "public-api-key"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/payments/{payment_id}": {
      "get": {
        "summary": "Retrieve Payment by ID",
        "description": "This request enables you to retrieve details of a payment based on its `id`, which needs to be provided in the request path.\n\nThe fields returned in `customer_payer`, `additional_data`, `routing_rules`, `fraud_screening` and `transactions[]` depend on the workflow used to create the payment (for example `SDK_CHECKOUT`, `DIRECT` or `REDIRECT`) and on the payment method and provider involved. The example below shows the full shape of the object, but not every field is present on every payment.",
        "operationId": "retrieve-payment-by-id-v2",
        "parameters": [
          {
            "name": "raw_response",
            "in": "query",
            "description": "When true, includes the provider raw response in the output (default false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "transactions_history",
            "in": "query",
            "description": "When true, includes the transactions history in the response (default false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "path",
            "name": "payment_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Full payment object": {
                    "value": {
                      "payment": {
                        "id": "e3f397ed-b7d0-4816-ab75-8457b0a30ec1",
                        "account_id": "493e9374-510a-4201-9e09-de669d75f256",
                        "account_code": "493e9374-510a-4201-9e09-de669d75f256",
                        "description": "Test Bank of America",
                        "country": "US",
                        "status": "READY_TO_PAY",
                        "sub_status": "CREATED",
                        "merchant_order_id": "0000022",
                        "idempotency_key": "0f1e2d3c-4b5a-4968-8b7c-6d5e4f3a2b1c",
                        "payment_link_code": "",
                        "created_at": "2023-07-20T17:24:58.900553Z",
                        "updated_at": "2023-07-20T17:25:13.447662Z",
                        "workflow": "SDK_CHECKOUT",
                        "taxes": null,
                        "callback_url": "https://merchant.example.com/checkout/order/0000022",
                        "amount": {
                          "value": 52000,
                          "currency": "USD",
                          "captured": 0,
                          "refunded": 0,
                          "currency_conversion": null
                        },
                        "checkout": {
                          "session": "954dc216-60ff-4ae4-a299-c603b93bd267",
                          "sdk_action_required": true
                        },
                        "additional_data": {
                          "airline": null,
                          "order": null,
                          "seller_details": null,
                          "transportations": null
                        },
                        "fraud_screening": null,
                        "routing_rules": {
                          "condition": {
                            "id": 316815,
                            "name": "default_routing",
                            "description": ""
                          },
                          "monitors": false,
                          "smart_routing": false
                        },
                        "split_marketplace": [],
                        "metadata": [
                          {
                            "key": "order_reference",
                            "value": "0000022"
                          }
                        ],
                        "customer_payer": {
                          "id": "cfae0941-7234-427a-a739-ef4fce966c79",
                          "merchant_customer_id": "1689873883",
                          "merchant_customer_created_at": "2023-01-04T12:39:47.000Z",
                          "first_name": "John",
                          "last_name": "Doe",
                          "gender": "M",
                          "date_of_birth": "1980-01-01",
                          "email": "johndoe@example.com",
                          "document": {
                            "document_number": "123456789",
                            "document_type": "PASSPORT"
                          },
                          "phone": {
                            "number": "5555555",
                            "country_code": "1"
                          },
                          "nationality": "US",
                          "ip_address": "192.0.2.10",
                          "device_fingerprint": "3f2b1a4c-5d6e-4f70-8a9b-1c2d3e4f5061",
                          "device_fingerprints": [
                            {
                              "id": "3f2b1a4c-5d6e-4f70-8a9b-1c2d3e4f5061",
                              "provider_id": "AIRWALLEX"
                            }
                          ],
                          "geolocation": {
                            "latitude": "37.773972",
                            "longitude": "-122.431297"
                          },
                          "merchant_customer_validations": {
                            "account_is_verified": true,
                            "email_is_verified": true,
                            "phone_is_verified": false
                          },
                          "browser_info": {
                            "accept_header": "text/html",
                            "user_agent": "Mozilla/5.0",
                            "language": "en-US",
                            "screen_height": "1080",
                            "screen_width": "1920",
                            "color_depth": "24",
                            "java_enabled": false,
                            "javascript_enabled": true,
                            "browser_time_difference": "0",
                            "platform": "WEB"
                          },
                          "billing_address": {
                            "address_line_1": "1234 Market St",
                            "address_line_2": "",
                            "city": "San Francisco",
                            "state": "CA",
                            "country": "US",
                            "zip_code": "94103",
                            "neighborhood": null
                          },
                          "shipping_address": {
                            "address_line_1": "1234 Market St",
                            "address_line_2": "",
                            "neighborhood": null
                          }
                        },
                        "transactions": [
                          {
                            "id": "45bfff61-6cb2-45b7-994f-8b71beb28ea4",
                            "type": "CARD",
                            "category": "CARD",
                            "status": "SUCCEEDED",
                            "amount": 52000,
                            "description": "Test Bank of America",
                            "merchant_reference": "0000022",
                            "reason": null,
                            "response_code": "APPROVED",
                            "response_message": "The payment was approved",
                            "merchant_advice_code": null,
                            "merchant_advice_code_message": null,
                            "created_at": "2023-07-20T17:24:58.900553Z",
                            "updated_at": "2023-07-20T17:25:13.447662Z",
                            "provider_id": "ADYEN",
                            "connection_data": {
                              "id": "defd3143-eced-4ab1-a73e-1bbcd66d8fd7",
                              "name": "adyen_main"
                            },
                            "split_marketplace": [],
                            "payment_method": {
                              "type": "CARD",
                              "token": "2cd31999-e44e-4de3-bbe4-179981ff4295",
                              "vaulted_token": "",
                              "vault_on_success": false,
                              "parent_payment_method_type": null,
                              "detail": {
                                "card": {
                                  "capture": true,
                                  "authorization_code": "123456",
                                  "installments": 1,
                                  "installments_type": "",
                                  "installments_plan_id": null,
                                  "installment_amount": null,
                                  "installments_total_amount": null,
                                  "first_installment_deferral": 0,
                                  "retrieval_reference_number": "",
                                  "soft_descriptor": "",
                                  "verify": false,
                                  "voucher": null,
                                  "card_data": {
                                    "brand": "VISA",
                                    "type": "CREDIT",
                                    "category": "TRADITIONAL",
                                    "country_code": "US",
                                    "scheme": "VISA",
                                    "iin": "411111",
                                    "lfd": "1111",
                                    "number_length": 16,
                                    "security_code_length": 3,
                                    "expiration_month": "12",
                                    "expiration_year": "2030",
                                    "holder_name": "JOHN DOE",
                                    "fingerprint": "bbe080f4-3208-4552-97ad-bc2ba61c5688",
                                    "issuer_name": "EXAMPLE BANK",
                                    "issuer_code": null,
                                    "three_d_secure": {
                                      "version": "2.3.1",
                                      "electronic_commerce_indicator": "05",
                                      "transaction_id": "47ffdb1a-07b4-4344-8f84-e4a1b966536b",
                                      "directory_server_transaction_id": "db203a55-6627-46f6-a8d3-48eeb9833ca1",
                                      "acs_id": "e59e4767-5520-4a70-8239-9912a936bc1e",
                                      "pares_status": "Y",
                                      "cryptogram": "<3ds_cryptogram>"
                                    }
                                  },
                                  "stored_credentials": {
                                    "usage": "FIRST",
                                    "reason": "SUBSCRIPTION",
                                    "subscription_agreement_id": "subs_1a2b3c4d5e6f",
                                    "network_transaction_id": null
                                  }
                                }
                              },
                              "otp": {
                                "retries": {}
                              }
                            },
                            "provider_data": {
                              "id": "ADYEN",
                              "account_id": "",
                              "status": "AUTHORISED",
                              "status_detail": "",
                              "sub_status": "",
                              "response_code": "0",
                              "response_message": "Approved",
                              "reason_code": null,
                              "reason_description": null,
                              "merchant_advice_code": null,
                              "merchant_advice_code_message": null,
                              "iso8583_response_code": null,
                              "iso8583_response_message": null,
                              "third_party_account_id": null,
                              "third_party_transaction_id": null,
                              "transaction_id": "47ffdb1a-07b4-4344-8f84-e4a1b966536b",
                              "raw_response": "[REDACTED]"
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment": {
                      "type": "object",
                      "description": "Wrapper object containing all payment details.",
                      "properties": {
                        "id": { "type": "string" },
                        "account_id": { "type": "string" },
                        "account_code": { "type": "string" },
                        "description": { "type": "string" },
                        "country": { "type": "string" },
                        "status": { "type": "string" },
                        "sub_status": { "type": "string" },
                        "merchant_order_id": { "type": "string" },
                        "idempotency_key": { "type": "string" },
                        "payment_link_code": { "type": "string" },
                        "created_at": { "type": "string" },
                        "updated_at": { "type": "string" },
                        "workflow": { "type": "string", "description": "Workflow used to create the payment, e.g. SDK_CHECKOUT, DIRECT, REDIRECT." },
                        "taxes": { "type": ["object", "null"] },
                        "callback_url": { "type": "string" },
                        "amount": {
                          "type": "object",
                          "properties": {
                            "value": { "type": "integer" },
                            "currency": { "type": "string" },
                            "captured": { "type": "integer" },
                            "refunded": { "type": "integer" },
                            "currency_conversion": { "type": ["object", "null"] }
                          }
                        },
                        "checkout": {
                          "type": "object",
                          "description": "Present for SDK_CHECKOUT workflows.",
                          "properties": {
                            "session": { "type": "string" },
                            "sdk_action_required": { "type": "boolean" }
                          }
                        },
                        "additional_data": {
                          "type": "object",
                          "description": "Optional data specific to certain merchant categories (travel, marketplace, etc).",
                          "properties": {
                            "airline": { "type": ["object", "null"] },
                            "order": { "type": ["object", "null"] },
                            "seller_details": { "type": ["object", "null"] },
                            "transportations": { "type": ["array", "null"] }
                          }
                        },
                        "fraud_screening": { "type": ["object", "null"], "description": "Present when a fraud screening provider was used." },
                        "routing_rules": {
                          "type": "object",
                          "description": "Present when Smart Routing or a routing condition applied to the payment.",
                          "properties": {
                            "condition": {
                              "type": "object",
                              "properties": {
                                "id": { "type": "integer" },
                                "name": { "type": "string" },
                                "description": { "type": "string" }
                              }
                            },
                            "monitors": { "type": "boolean" },
                            "smart_routing": { "type": "boolean" }
                          }
                        },
                        "split_marketplace": { "type": "array" },
                        "metadata": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": { "type": "string" },
                              "value": { "type": "string" }
                            }
                          }
                        },
                        "customer_payer": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string" },
                            "merchant_customer_id": { "type": "string" },
                            "merchant_customer_created_at": { "type": "string" },
                            "first_name": { "type": "string" },
                            "last_name": { "type": "string" },
                            "gender": { "type": "string" },
                            "date_of_birth": { "type": ["string", "null"] },
                            "email": { "type": "string" },
                            "document": { "type": ["object", "null"] },
                            "phone": { "type": ["object", "null"] },
                            "nationality": { "type": ["string", "null"] },
                            "ip_address": { "type": "string" },
                            "device_fingerprint": { "type": "string" },
                            "device_fingerprints": {
                              "type": "array",
                              "description": "Present for card payments processed through providers that return a per-provider device fingerprint (e.g. Airwallex, Stripe).",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": { "type": "string" },
                                  "provider_id": { "type": "string" }
                                }
                              }
                            },
                            "geolocation": {
                              "type": ["object", "null"],
                              "properties": {
                                "latitude": { "type": "string" },
                                "longitude": { "type": "string" }
                              }
                            },
                            "merchant_customer_validations": {
                              "type": ["object", "null"],
                              "properties": {
                                "account_is_verified": { "type": "boolean" },
                                "email_is_verified": { "type": "boolean" },
                                "phone_is_verified": { "type": "boolean" }
                              }
                            },
                            "browser_info": {
                              "type": ["object", "null"],
                              "description": "Present for SDK Checkout / redirect flows that collect browser data for 3DS.",
                              "properties": {
                                "accept_header": { "type": "string" },
                                "user_agent": { "type": "string" },
                                "language": { "type": "string" },
                                "screen_height": { "type": "string" },
                                "screen_width": { "type": "string" },
                                "color_depth": { "type": "string" },
                                "java_enabled": { "type": "boolean" },
                                "javascript_enabled": { "type": "boolean" },
                                "browser_time_difference": { "type": "string" },
                                "platform": { "type": "string" }
                              }
                            },
                            "billing_address": {
                              "type": ["object", "null"],
                              "properties": {
                                "address_line_1": { "type": "string" },
                                "address_line_2": { "type": "string" },
                                "city": { "type": "string" },
                                "state": { "type": "string" },
                                "country": { "type": "string" },
                                "zip_code": { "type": "string" },
                                "neighborhood": { "type": ["string", "null"] }
                              }
                            },
                            "shipping_address": {
                              "type": ["object", "null"],
                              "properties": {
                                "address_line_1": { "type": "string" },
                                "address_line_2": { "type": "string" },
                                "neighborhood": { "type": ["string", "null"] }
                              }
                            }
                          }
                        },
                        "transactions": {
                          "type": "array",
                          "description": "Attempts made to process the payment. Contains one entry per provider attempt/retry.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string" },
                              "type": { "type": "string", "description": "e.g. CARD, THREE_D_SECURE, BANK_TRANSFER." },
                              "category": { "type": "string" },
                              "status": { "type": "string" },
                              "amount": { "type": "number" },
                              "description": { "type": "string" },
                              "merchant_reference": { "type": "string" },
                              "reason": { "type": ["string", "null"] },
                              "response_code": { "type": "string" },
                              "response_message": { "type": "string" },
                              "merchant_advice_code": { "type": ["string", "null"] },
                              "merchant_advice_code_message": { "type": ["string", "null"] },
                              "created_at": { "type": "string" },
                              "updated_at": { "type": "string" },
                              "provider_id": { "type": "string" },
                              "connection_data": {
                                "type": "object",
                                "properties": {
                                  "id": { "type": "string" },
                                  "name": { "type": "string" }
                                }
                              },
                              "split_marketplace": { "type": "array" },
                              "payment_method": {
                                "type": "object",
                                "description": "Payment method details at the transaction level. Shape of `detail` depends on `type` (card, bank_transfer, cash, etc)."
                              },
                              "provider_data": {
                                "type": "object",
                                "description": "Raw status/response information returned by the payment provider (and, for 3DS transactions, the 3DS provider)."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_REQUEST"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "code": "INVALID_CREDENTIALS",
                      "messages": [
                        "Invalid Credentials"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "INVALID_CREDENTIALS"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Invalid Credentials"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "value": {
                      "code": "AUTHORIZATION_REQUIRED",
                      "messages": [
                        "The merchant has no authorization to use this API"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "AUTHORIZATION_REQUIRED"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "The merchant has no authorization to use this API"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
