{
  "openapi": "3.1.0",
  "info": {
    "title": "payment-api-refundcancel-payment",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your public-api-key>",
        "name": "public-api-key"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your private-secret-key>",
        "name": "private-secret-key"
      },
      "sec2": {
        "type": "apiKey",
        "in": "header",
        "x-default": "<Your X-Idempotency-Key>",
        "name": "X-Idempotency-Key"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": [],
      "sec2": []
    }
  ],
  "paths": {
    "/payments/{payment_id}/transactions/{transaction_id}/dispute": {
      "patch": {
        "summary": "Copy of Dispute a chargeback",
        "description": "",
        "operationId": "post_{payment_id}transactions{transaction_id}dispute",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The unique identifier of the payment (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "transaction_id",
            "in": "path",
            "description": "The unique identifier of the transaction (UUID, 36 chars).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "evidence"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "The unique identifier of the account (UUID, 36 chars)."
                  },
                  "evidence": {
                    "type": "array",
                    "description": "The evidence files object",
                    "items": {
                      "type": "object",
                      "properties": {
                        "file_name": {
                          "type": "string",
                          "description": "The name of the documentation sent (MAX 255; MIN 3)."
                        },
                        "content_type": {
                          "type": "string",
                          "description": "The type of the documentation sent by the merchant",
                          "enum": [
                            "application/pdf"
                          ]
                        },
                        "content_category": {
                          "type": "string",
                          "description": "The category of the documentation sent by the merchant",
                          "enum": [
                            "CANCEL_POLICY",
                            "CUSTOMER_INTERACTION",
                            "OTHERS",
                            "PAYMENT_DETAIL",
                            "PROOF_OF_AUTHENTICITY",
                            "PROOF_OF_DELIVERY",
                            "PROOF_OF_SERVICE",
                            "RECEIPT",
                            "REFUND_POLICY",
                            "SERVICE_AGREEMENT",
                            "TERMS_AND_CONDITIONS"
                          ]
                        },
                        "content": {
                          "type": "string",
                          "description": "The content of the documentation sent by the merchant  encoded in base64. Max size: 1MB."
                        }
                      },
                      "required": [
                        "file_name",
                        "content_type",
                        "content_category",
                        "content"
                      ]
                    }
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": "\"account_id\": \"cba2c4b1-db19-4a4c-8af2-296e35240427\",\n    \"evidence\": [\n        {\n            \"content_type\": \"application/pdf\",\n            \"file_name\": \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ\",\n            \"content_category\": \"RECEIPT\",\n            \"content\": \"JVBERi0xLjYKJcOkw7zDtsOfCjIgMCBvYmoKPDwvTGVuZ3RoIDMgMCBSL0ZpbHRlci9GbGF0ZURlY29kZT4+CnN0cmVhbQp4nJ1Zy4osNwzdz1f0OtCd8qO6XDAU9GN6kd2FgSxCdrnJLpC7ye/HlmTr+NHVQxjoqYcfsnSkI6mmkzn8+/bPYTpMp8mGw9mY07qYw7Ly/x/f33796fA3j4h/P/56u36+rVOcdg4u/n7+cfj5YQ7GHj7//O19Mtv5fbKT247+ffKbfZ/mLV6dp2UK6W7djnHAJT27pvtb+rnTaL1f0w/dfmxHl97H14/taKqntMgtrWemdLmWV8bQWJoWL60MgHfG0og0xThdmO79ZmQ3M+urW5bJnLc8M2+TpTfL9vvnL28fn2/fhgqz82keK8yEtOhM50paM6u5mCuJfo0DzI0u70kGu7vHvCynlfewsEeS06YtXFrCx52cXMc952ifLf4sdBni2UgWl64vNJVu+LIskMbKDU04JxGjGvJwx1oTDZFp5tH0hxhoyeBImy5ZMNiULx9JX65oPxnSytkeug3vCOu7BACnCFRlLElYHiR4JeEZpktelXaco2ysJBrk49NdW8xrdhC1ReBdsmLmjGYSg89sWZ1kC3rCkGtPcxN9JPFw9OR5C9KUpYPoGfMq5ZXeez61SYNphQjKtEPg6aBSxo+8BuPK9qwsckcnDkZYonNdZM0zTDCXfD5z5aV5ituyURLCzA0tnBWRxwHyxLa7pvHTybWmUa2wp+k+vCSY/qLmY6WRvj7SKM/qCmIf3wJQ1MZH/1AA0O582aiAXYsVcS9OdGuXAZ8iGc+KDD4EONCH6rfYqbwvdg4S4TQgZIzciywcVL2GkheKtybHwKJ48DvQM2BURWY1PhrvBm/me99AR9YhfwYc44E9RAOwQijxL8KPpoIzgluRBAFvLuAdQ6cjy6wauFqM1aE6TQOfSRYX6+jg9jy7hpjsaWk94PXpcaNk/6jjhAebSMppIAuCPoUrH1zvM+iPjZ3qOJ5JoLabuHqKjISHVmkSY2K81qVEOnEt//4SyEAZrWMQEdAkj7bjIwcVxKxi7T1D+JhGdYydT0AynFUfwh5B1Al+HsxjE+7ICC2QZzFAoQK1mhT8E4Z4glOn2dkziBeGmCFXEr8hmoEUBLAm6wranWCMlwFimHFwaF8PeB2MumuQ89zTdjoZmR2x0Ft97PnC7a6i41ZtElqzZudeL7UPnkuek5mh4efn2VnhiSalyokZkBWrnoHY6lFpWzJMD3QF0QG8HrQnB6sgs2sWfx5Ttmxy0yCBNvrIKCoEUsgW8l/JU3wypBL6k3PXvp1xAMkAkJQ6S3jCYKytlVOHmxo7jNOHJyl1DvpeIHF5nQN5s3RUbCeCIvK+HTlfjZwjwfe1A7r+vZLNOL3CCV3OLJi972jIjuJWm5E5iGNYJbURRxLZqJ0SVAW+VdbC46zZ1b4Loedfx7nY7rxYVKxtEUkEd5mWmIFGMR+0/SS4ShCLj7w84XryYrkuvhFnSHm50jCzTgtMtjYXxjKFVs8P0rZcp1pHs/lFxKEY0zdz5Z53tHOcTaKZSoB9BRjbxQEpGyAWIXMCd/kuS1BPjCd1r+vJnC9H41u3VasLI0F6YX2pZDuBfK6IBkX2uGSgIsgJNx4tZjxNGiz+2zK+JsVYEFT774PPrq4LGRgKIOmzGgnB0Vc+8K775qxixuj3NGpU9WRAJ5aCpVsB4pC4MiRT48gjO5f4pKEEWBcS9T4YXjeDbC0WrSrZDJoBs2dm+ZKNFt8HFv+/y+q2agEPKnFz1iwoA2vQwGHP0dmTckyVhUJ+MipAxx2pLkXP3aFBEYkKRequInzpmAWuEULnc8COXzHLPPdp/l7rbJxsg6a+CqkqV/mC3bXAzRlRW7vByQtGZO69DokstZ0bV1GEc8Fyg+qP3Qyyqalh22cRsW6B+C8ZxS19qt9GGFs2ydViqSmh7dHHn3FPpfNE0F4XKc+lXOL7cXuozeIx/xn3fMauhx20poTTNIeBUrlEqENnGxDt80Ry1zYm9DxPgLxD+QA9OqfGqarTvF/Miff2M2Ht0+Gm44IAg2y0qzegrJ0VRNEN0pcCqFpfNmOfdadHyPpCI711bZj9pDIrNWQhJqgh9ayZ+Echqw1przpTZpl6AtPCCJcOg36Bkk4X1sEvIZi3dmtbivDBQMnLtB7EMmi16YblQQPX198wqkI7rWgyOmzdAh5pZa7O2fmn+juPynLtGmc2PY0Bg9xVg9DWHrfH6u8FzDUYCIcfZYZ0IKe6aUgI0hXQIX36Bjxj0bW/nBvttGD0kFcNexVNZ+W0pCuCFEIcBetdCznXcRorF9hSsiuPKHIV31RZedPUwK8suUfEn40gi6V+DHQIITVou2SQ/LfON+pIZZ8k65yrzCi7S1HQt8N/sIOi2gplbmRzdHJlYW0KZW5kb2JqCgozIDAgb2JqCjE3NjAKZW5kb2JqCgo1IDAgb2JqCjw8L0xlbmd0aCA2IDAgUi9GaWx0ZXIvRmxhdGVEZWNvZGU+PgpzdHJlYW0KeJydWcmqKzcQ3fsrvA7YkdSTGkyD3e27yO7BhSxCdhl2gbxNfj9SlaQ6KrXbN+HBfbaGmodTsrna8z+nv8/mbK7G+fNo7XWe7Hma+f/vv59+/uH8F58I/77/eXp8nmYTro3OXKfz52/nHz/s2brz5x+/3KxbLvZmP5b+ZubF3VwfPl+6mxnCivVL2FuXi7vZB/1dl6EcCUtj3t3CVeOIgp3NxKQsbUXSzsSPtGpGe3djIBNODcRpCrtD3LyMcdEtU/my+ESFCZoig3F2rgQjLlZkZIaj6ZdfP386PT9P3/YsMkxd+EsWcdki4Wpg3ZEAvdkisy7K3Udxw5dnWLE2Wi1sRia0e6eFD7w6LF3afAQzGm87Vjcu881IyvhEtzAJluWTccX2C2kf/RDIl1v0MZzrMz/iQSxd/ETUVhLqScTgApOhYyQM879HuzcaeXatN2Nyg41C6muZeJY6cSZxnimcaOvQGUN/7ZQzAmORk7nYpNRwQ4d0Sclif7F+z1plY7l8rwdXyCYbnE8Q63ty9VApCDbcZ5IOeyQSrVjE3mNewiiu+nRHO6YJF7y6patT3PyQS+w+cUgy41fc0g3XQbslxamHNEge6eJml9K3qwzl2T+ONrVW2qAQb228dtnLRLDnG1OJBjZRko4EXXMiX8ZECb5DQpVs40M54UoESzCwk7lOJQVGUV3ZZ6iI9HZkNYsGTr4L86/4xo65ootvRqmmKcSJZpWHQXRDsoGBkxG7HYVz+nvWJYlHScQm0y4Cig/QJcq0RsczB2+HQLIviT1JNVSGLtV3v7oQTxGSWPB5Moa3KrogyTn5qurmxf72fmj/3k/XWfePsS5Ndb5u0j3Ayk8pLJjSbBdwlE92AdfossH6EYfQ20u6UZgxGxJhrAMXO84GOVAylW216+sq5yWcOR11xmNGHYTh/+uDh64a56bVQ9dOqaqr0PtIU/tSCpxYGFq+lD3sJv1+f2G9gAdmYX3/VTnmRqddXPUmXW574BjiP5/goO13y0QptTFIVkjbVGrZr4fuGUzb/F8UZhXPVWGOZ0fQasiLRKDpN33dO1OIR1BcrFQ8PuB9S1i2bUI6E9GwO9mrc/FFQCan9W3+gI0SK6nQG6w2MCIrcOiUzratHxhmiEiSQfv1SfhK64NeTyFEhocIBihldW5CAZCzb2p1F7D+rKYfN/E00UfZw/hAU4mDWScNQ/VcM7iQOTS+9PGqw3ElDUFhqJG5hcYoHnZ4TpmZLHcK4s2E3ZKHJLweVMx8nH0m7Bg58QCUJQj37/G7I+ndugyV3EFAUhA1MpGwTa48tJ0b2+zEguAmibvQ1CvQJ453nkSb44B2b2cnVf35yiNuOtLUbQreA0jgklXNJTWAUDHnnkSRLeajQLOKTxyuBJTpEYFiEBIPcj4V5QE1+z9zUWemNguh/u2itRqCNBCKgNeWxJSenWuFoMRXABfaETSjl+auyq2FnFEjFgbEm6YGZb6q5VBwCzJxCoWJfpvc54sIV13uNgL485x55DDnfYvKARMkgK4nGwCMXRXmdfS18f029ldtwpKyFwEffWTIk2MC4WDhFVJUyu4RgqseRGJQpSo+w+wALhDhWJDKBTstISMYHmaHzOjQLQEBarDeiImPJRAb0PT2E+VlZkM5gdefGr7JcA55hHitMnGpgau8lNHqXbfJKmLHCjZAtAiSf92id+F3plur8gZxJZKHjhpsC9UfEgWAFNQM8AYC2LnLlVQgwJYs0XEn5WZNnx6lvaZuXDptwQLpJZTuMHLYexKNW3wcHiuNUJfXUSH8XNwNGnySgJ9HC0DJxF4CFNbq0Cb98J9G2FXbXXX7Ul+wdVAu6Oegu64pzcPp17qUmi2r+fclYoSQdGTB6nlWd68MdAfIIy5G8IaQeovHCUVv11Dn0C9uapOASsRcRqE8TtS1WupIZyB5k4I5LYu9dQaDuUY1YUNEIKxrBg/uZXoqhglq/4maCPDdTcEqeV6thuyQZOWRgU/ztBYcpRvGfpfyGFE9F7hZmuwXipU1voXG8i7i5CUUWia8o4yl4/NRnqageCIOVWHeVnyBCm2Hggcx3gTP54mtfSpIYyJ4OTPLvww0Qoz4s0ZLcd8TUFc28SQH36p/2BAoe+QaP7e4+fD3BI8ZxcbetzsEKT486Geob+d/Ae828gsKZW5kc3RyZWFtCmVuZG9iagoKNiAwIG9iagoxNjMxCmVuZG9iagoKOCAwIG9iago8PC9MZW5ndGggOSAwIFIvRmlsdGVyL0ZsYXRlRGVjb2RlPj4Kc3RyZWFtCniclVdLi9swEL7nV/hccCrJki2DMThOfOhtIdBD6a2PW6F76d+v5iFpJHvdLQtZ2ZnRvL75ZqKuuvlz+d2oRl2V8U2v9XUcdDOM9P/1++Xzh+YXSYS/15+X2/MyqqA2qCF8Pr81HzfTaNM8f3yZlJ5bPZlttpPyupvbblLDHD62uTWTMrOeVDeH0wJyQcSFb/pJPUAyyAc1N7eOjyCp7/Cs7rOLUhb03YzycL+4j6ygmlOelKy03ePRozop1o5ZcoAuQS/uKNHDXZ7FyRpeQsf6KowZ3RU+Uag2msgxkoxIl0Z9dqrtySv0+Ovz0+XxvLwcFaT3/tpVBXlvHijNnSKnPAtglvuUmxViZTc9ZYSSY/UWHrSmoh4rb5xG+ESHwBFNkWNJj/WiOZTRHi2w0egDK0CeUun5ixZR4yhUyHn2J1an57j4BbpGRR1zprAegFZOWLClx9n8syL9eHV1i4AFCmTfIAI3RQwZPgbjZDlXwOteX5GbRC+nfjrjop86IcdCfRaDXgzgB7hqVHg0D3RipIpgJ1gsZTeZUUPzG0ob1hXEjMEw8Ag3sLCG4xIyeeacHYbreMgzAQJdRoWPCdL7hqK6PfZ80ZcdFnsS6svOhySsnOWccCEnrIpn8izYTggk/Pl5iMeVsEZKqM/PyfOI8/S+oLk1h4DaNQXuX1jBe44LojmWU5Isbzotlht3Q+EdHLTv95iR5DyXETInqMBrU6V/gQyLoAvGSQI+mb9njyCXcqgwJiTp5FJiMP3BEPLMg2bWRQv21fDbqth4uBDuVrbpCvbk2ZIw9a6KWLWbCnTxDpx56KpMgMLNG0UEWn02n2bnG1q2HtaHnRXJWMoxwyZQjBVIEKCWXos5vKbpzHKCOLu4PMh70K7OzgucCACuTDmOZjOIIJUv5NVZDTpvrkPFr0HZMkMafQMzgQ6h/mA3kCQcV/y8o8y5gc7t2+4mOtjKaXaLyOSWWXOkjxr9dPYyPRH+S+Iymf2CWQ3nNXSp6LLUSCK79R62Mffl/hAzzecKr+KSDJj/WOuIBdDfk7VOtjlj5N9V1/2+8/LWJBs97x68C6UJkCZEzWtD3ouXTFCih5fMiboiKlGHXs60Nk9Kl7lRJPSR1nCZJrm5vYEgngFU02IIHC5nsfo+roaJTNP9Z5k347DfuwS7iI1LrIFif/KJgMucMsBa5Iuh2DDpmLd/b8IbK/NJegr0xrwpSHgKS5ZXLCbJvvg5IX46rDXnChCLqbhW3hJ6fMx/pkxZv8h4ol7Yc/bo1872Ri+f1mnwkRfLOmHjF0uY3HEELKsRXaIzXiLniCU07RaBpFCvIGKJQD+sTBZ3E9zm4xJ+sN3T77nikoys2KiGt9pyAcglFSAQhcprEl7W6Zzwl+Yv2dVniwplbmRzdHJlYW0KZW5kb2JqCgo5IDAgb2JqCjEwNDcKZW5kb2JqCgoxMSAwIG9iago8PC9MZW5ndGggMTIgMCBSL0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGgxIDEyNjAwPj4Kc3RyZWFtCnic7Xp5cFzHeWd3vzlxDGYwF4AhiTfzgMExbwbH4CRAajiDgyAgEASvGV4ACICkRIIEQfCSKOoiRQkM5dgrilYixUp0lKPajd9QksPYezAubyqmY6/jq5KKV+WKUmsnW+WqOGstUxEH++t+b3BQpBNv7Z87r2b66+6vu7/7+/oB83Onp0kReYZIJDE5MzGrOqRqQshfEEJLJ8/Myzl35wHAP8V3/tDs4ZnTl0KDhEg7CCmeOXzs/KHq8iPbCXF+kxD/20emJ6ZOfn2mhZDaI9ij7QgGinIxE/pvol91ZGb+XNL1wW70gU9uHzsxOfHjK+nLhNRdQv/gzMS52fOO/0nR/zn68vGJmemCr7/tIqTeRojFOXvi1Hwz+dIiIY1lfH52bnp27sqNOvQ70L+HL8XDP0UALbzPJJPZYrXZCwqLih0lTlep2+P1+cvKKwJr1lbKwZBSVR2uqa2rj6jRWAP5/58Hfr6I5xw5x+4QwkKELDpN0dzfsB8ufsLUxU/03jIORu+yUH6c/Qj9eyvwruM5RU6xPkLE/Mji3dXjfMaY62NbF+8a80/imSbT9Aj5xeKb+l4C/h1j3/x8pZipXE0T6L67gvIfCRqXaZrEs5lspvWLF7Hnz5f2b1mcX3WGgce+Td9kP2OHaSX5nNjvZ/RV9Gdoud7XiCprZGe6NyPLg7eIY9ugZtm+J621BLTazPgheWFnWmPVE39iIzYyOakcDASDGsloJKX03IT9psaTUY2qmjx+KKoxVZ6Stdsjmim852YtLUz1TvZqlt50UJOqM6N700ElGFhIy9rICIYSmYCsdXCoI5ORszr2xJRWiyGjJ2uNfL6RY94eScugZmFC1gpG0uMYkflcAYfaONQ2HhjPZDIBUKsVpCY1MprWyCBHBlYqMKit49C6wYlbTjLJMW6ZycFMZmoio9FIJqNoZCQ9nclENUmVcbKpegK8mFMjac2sJDWLkgTnQB2PaiZVASfyVNZ8MCnzGc5jQKeZ/2r28d5JTaoPYjIlL8gLOCDbaK6GWLalx0cCE6OZtJIJZmQtsT2NuQAXhnF+VDOrmjUVuUmYLlsLukpSgY6U5ITGDh7S6CSo0Mz1Uc2qypzUIvBiIgdlvoOWGM9wlPEeQapNvWktIqneZH1wSVt2dbX2CvRdaAQkpMD3uNy7oExwTQoJkwDXgiYHQGSeSuhTmejRjyh8yHKtCqtIYJm1lYuKVMHQzcICCeYRUIKZ+mBUK1azjPVqUxM9Uc2hAlGWteLUFr4cgJLMaA7eG0XPgV5UK8E2TiESGRKYxLlaSWpcXhiXtRIILao51cEd6axpqidTpRVPK+eimksd3JYe3K4PBoIYd4vxUjVLnKmd6azTmdLoRFIriXArhzUls8X8x4EfjfqgCal6JJ3lwgO3yQXoF8c66oMKluXhgD7Pl8B5+EgGnPSD/n6MrlbVQxSYJcStQFopjWy8SSkVunKrJEtY74605lSScq9WBOMrVGBwSXkcx39YWkpJCUkmF8azpZaI9lIkEIKYPODNHYlqXjVLeeuDnHnrV7MSb8vUrIm35WrWzNsKNWvhbUDNWnm7Rs3aeLtWzdp5W6cqeblrlnFIWJFjGt3PHSSq1a+Y9C1NntQnIysmw0uTc/rkOpVoxZH/C/4qwd860CWDP94GwR9vQ+CPtwr4420V+ONtNfjjbRj88bYG/PG2FvzxVlXlbmGmURXHlo7LKeh2PCVUCddTua3GVC0a0aLwwgY4QL/8EC0qEx0Kj6G/FiPAuW/MqzZbZOnllqY11GfN1NubRvzjXDatEM/DcJpVuVVQHsduOk7vZ8+Esz6QFj5OfB+INNqzUenINlMv57UF8gADD6YfTjLREdVa1Zi/O6q1/WuoMOhJoLdDRcRXLcfkfh4IINqBhYV+pR+RI40cg0CL6NBGqdcDCXcgYvk0F9BMCKLVAi1bQJKaPRWZXogpsty9gD07V6PJMX0/zaQk89iyNs5jSWJb+n0mS3LgfRaWKjJJHl9tCNWKWKH0wbNT97vpOI9xegJiqfEpRZNSE1OYZqmJAOBxHt/uXzMB0hD1lT7oWMEJfTw52VLiFOz3gEMUPZKaEDygDDMMzvyZXbEj56paEIHfET2CLp8FQ1ifl4WMUXPYkIXSDTF1LU1pNjHfp/TzQ7kWu5dEyJnRJa2RHemY3I3czak3BmVOl6EKzVKN3sDKMkFX4oOs3dCWwk1+wwpKUnl1jfNa4n6W8yreiPgR41Ls01yp9EgAmVTuzsSyMeqB3z6yanY0MLJqNvHAtb9uxSZV64j8ugOTqtYZWQBt3MbA1ENRodCYFsOKlGCZ22dYl/yEVqAkdda5gSpwnxg8T9+/B4EJOSa/5Dc06f7/V1bMeeJxrFtBqFphL8GMQWcvAnBHJC+VPvQ6I0HFkIvBzZII+iECr+72qEHg4e6Y1gIv3/yQ8QFsRz1urRXwFlVrRzPIpdgLcct9SLh5aQ2p3KC1QYCPqjcRwgAMA6Ac2KrepGJkBIAY2cZxegGMchwObOc4HNjBcTiwU30fsXAToF2AqIB2q+9TfSwNSB/LcDzKoT0cT0B7OZ6A9nE8Ae3nZ6YAHOBncmCMn8mBcX4mByY4Th+AgxyHA5MchwNTHIcD04KuJKBDgi4OHRZ0ceiIoItDjwm6OPS4oItDRwVdHDom6OLQDGS8fkmBx0VP2wjwhA4+AnCWC130EuidRK41cOZ0kOOcEjjUwJnH4q6lXU+LnlhxRgf5irM6yNHPYR8D4bwOcoQndJAjPAnc7qX9LoieQH9KBzn6RR3k6E9jpYHwjA5yhGd1kCM8B9wNS/s9L3oC/ZIOcvTLOsjRX8BKA+GKDnKEF3WQI7ykvm83sXxFm4xotmlNqho5l0/RUZ5YGeHvKP4Z9zyJWEl9ogZjEiPSNGGUsp2EMbrfBIg+SojVYjYBTXKZLd5I3BV0VQddwQP0d3NfpK25b7M799ribIrwNwkyfqaxZyGRE2sLC+w2s0liNmh8C77PDQLneTLkdbJiXyQYbG131bQGvVaXn07nvr57N+3dvXtXLf1u7a5dtbnmWr7fMAjtYyrxkAODWvlI+kMXZYRuCfDWRLdkxGDCDWrJmMnMCLk2KMGWnqdDgYSfmEyXB8WUma6YySRclDhLHMUFoI54qMdS7InQZp/XpbhawkrIwoG4P97WRi+lH79eH+tpvj7nsVXsZerYY7nX6SNdXft35xZZqK8+zGn04Edj90gZWZ9oL6EmyUnNJgslZmmLlZrpAMiQxogkXRpkIMO8n5jNIEuQ4q4Ou1xOS3FFhCo4VGltb21pa4s3+/zWsKDEG6cXnr0+Otqwuyuy2Rd21ZVXrn2W3swN05uba2v7HpUd9hmzPbw2BH1GcUPfCFkVk3JSmViDE+kYjrmmiwCiv0qGqqqrQ6bisgiYVkLhME7DYT6zxxdvbmsVzLONn3ty6GzPyxcePdOTu9La3dXKv7T0xVeST+998QvJi3u2bd++DR9i6IdmcaabjA9qFSPprzolMAkFJQokKhEnpRLjWsJUohTEkDHJJLQEmp5nUJIPZAppQH90eSKTKGEEKiqyWYibuc26hgyprFDQ04Xr7IW2ioJwX+T6SZ+1bAdTGfstJgW6W3L/wEL76rtJnk7pKugMkcMflFEbHdANJ2CiXDZWi10SZ9tsdL8ZHOgGVEkslsuDBoqdfQYjkyiHxVeuDfh9Xo+rpLjIboVBhWioYIVBGfbUstKuuILRsP+2f+z6aFfz9dGNDdzCync3dG/3F5dn8oZ2ZsfW3C/QLJlbTR03OUPXVeDHR9aSVCJRCD8tgqjZFmImlJnptJWaTGTMkhepMMCr0lCZn5JAhX9t2VqnQ1Droz6bQa036ONm0O615G2jzR+yWOPhMG04eSn3Jut/pGV3rC79yOjFzZvmh9UO81/SOFOfPbv5kc1e3ymPe8OTY2PPJB7v6GpKcho7F/+J/B1oLCR+YY9cx+Q+eqqqqoQ9uoUheoVVulbAnc1VSnOzUtWcb+lfx6qrY2pNTe41AyCGD7IGxB0rCSTKuJ+z/TglH3BccDJ+SpC7WNCr0Jkb32CBb7Chixexdg82+JWIWXWJMMKcySyZpkX802OW2Uz2L+1juGsQAdAb9Ma9ijdIf5WbRiz89Je/pCZ258IbF27p8RX7slewrwP8dyU6rFwvXD+Mmpmun/1cP8/l45KzhBK3q8Tv9BcX8dBJHNSR143HYrG6FYkHCb/i1Z2V1n/havUG5ftffm/bjf8aaxrc1MfuPH6saSDuzH2LluZ+AVr+tLkpHuHyWQ972cN+SAKkPdFSRolUboefFsBspC3c74Q+FrgfsjGwfpUNUeLzOIqsZhKgAeF+sF/P/fZhRCr60u59Ow9E0vGGfZ0nXu4Zvn6s9WhTU+02tuu5k3NPeUqfdpfufef4sXcPBPxPutcQXebsB5CNi6xLBArhYIxukSjXGKyEi9rn8hkqo4rP5+eeQ2GJNa44+8Ht3LdMzMyu/BfaJiELvMjWxA/Fcxry0N83HWymo9h/J/j9EvYvJcHEOhP31+dEGBzXwyB+S0mp4q4yF/sj1OURHLW64i49ELrYlzZdmnz5lRub+7ek2J1c85azvZ8/S/8iN5jpH95OP9D1y2X6t+xHpARSXRFvF1bH27BixNuVQlsdcf924Mb8/I2BgRun518duPe/d41N7NgxPr6LHjrxzr5975448fbeve+cmH322Vl8cS4//Cb7Dmy9lDQlYsWwOrrFQk2Qq4kcEmafj1A2GyG2UlspcK0wXSu4DdYErYo77pZqYqzGwaxWVtKS+7TlrU//5N6/tJidTrPZVWKKv/ce+869OK17F87o8XS1Fr6rx1GuNzfkahYcc+PlJnOAqw5RGwNmYna5TEjvcUgz6N1zg4agl/efMvzhPay1Q+t89bKHSVLew4LVwaX8BJVDUlbIiEPsve/euvPT2Xf2vnFkctumv6HHPvxjdmfk9TNnZnMNS7RJO7G/n4QTireQ8aoDYsABKEIksT3w/MTvcrv8Fm5bkrKOiaAMecR5kG5ra1ck+uK/N8E7r3z3D6X3v3sNWjXdYo2ekX1VuQ/AykcsdK+NjobSWz33/pKfu/jVxRj5R2HLtYlqXjJJyICIxJS3ZJIrhLuTyGUuCuF4Iv5QuKZVRNs2YXUWS8la1elUPBWRshudh75vMV80WTztreyNe1P7TsZ1/mKLn9BF+HAtiSUiAUT7NRa4L0ob+DBEKBx3YTAfZmF81VE9uFbzUGqcB5ML18QkPfHnqwyPz7+O0cWXLp7MxGfaOhqqN9aWr28NPTfbMdXR1DRcF4n1pNofrf+zsZORa77qSDAQDrqLgk19TeNHK8rOeHy1cliVKzq4eBE/uZ6PQh5O1CEh0ppoRhUECyXMgrqImafz6obiTSZhArDUioqKUEUwVBVUZWtxecStZwCrFwoC9UG34S2Kywh+yp6PXv53na1KV+ja+dyvbqST8e5NI5M9be2bYRXTG3bYzTalp2PiOP1KXV1dVe7vv9aq1jbpcvRDjl9gr6JeSyQ2OFBHQk8IIwiKEKNJet4MYzbtF8Ujj890HBRepdAgroKlLqfQYxkts0KP1SvCIa/e2uM8JSCK0JbymL+sv77p0Wj/aGTstdeqZuy2E4UOebifWh9pPjU/m/vnykqylMsj7C7xQlrP6XVJgR2FYyklJsYrKb2Dwilf766Fpi/xxGQUeHqylyxMqD2QCN43D4k/P7hcEQAnk/D7fZSsW+ML+UMuFMMI9F7qtem2aVgH4m1rK/yiRrFYasCpHq5gLf+y99T8ga4hn1myXZ9ba/FtsW5oZk3Jpo6Ogs9d/a3fjoWcG+Sv3LP1hxrODgw4t+7cOTKyTZf9IHhNsRDy9dCHELtEtxgVPCyDscsiFIwbKQAVfH4UfT6VV0UmUYwhD/Eggru4J1OdyPuCeEpU7XGjhofffoQSauwxOpX7U17CU6rTBPnTj1GnlPPcyFOir5BJDIWSBINAkFqSoV6iQnqoN0pLimEG5bSc50ZzKLyqbl9OlFR94nLP+a0d2ytVZcO6+Q3tDZtDocGCF74wdbHbV3LKUfrO6HC572kfbjBkM6j5B9hBITJKNFG/VBNfGjRTUSSLGFtURElRSRFqY6iskBbyy4s7Xy6BCp4qXws2NgZDDQ3HrrO7lfV1slxXX/ljHrkIWVw07gk5FiZIGcgM68gHQg617ABNshwpIuGsZaonEbDRfAwl9HmgzBP+R+Iin1TsjWQtpId6HZJVad3I2mnSEWuNuyedkboSlitw1Ko1xcXueLuP6H9bZp04u4jnYou4v3HRXx5czhrYtUzPGlLc7ePFcbs7Ln3ve68/Zi+Af7ofe/17LJT71prusrb1tP3eR8Jv6sGHi0WRfcPkdMJRjuxXBi+xUGqRDLOqRDgyWyTzYcJt36pXw9DKGMtfEpUHYWCOo+VLoUzCS0lVCM6CKr/QjqoZNZFtqcbPW15LW7vhItaatja31WIUTK00dvz0kbUmZbhnYPyJJ8aitbVD4abIsZfWb+6olRuTLDp2MPfKFrV2R2b3qFkqi9T6XdO+QO57jDXWhNZ2thg2+m3Y6HLstyL2W1bF/murYr9avRz7w6uCP1sZ/EGiCP7fPj3fOVqnHqqJhEuaW1s2yWcOxvc1RWs3VyddTY0NPdV/sD1T4nrSU1HhdfjW+HyRDbGhIY//qMtfVewt87jrNubvWeRj2LBE3AknyLmUr8DFlT+OVPvxdRilwCWLTmEXFaQmUVXhNsPBSpE8mWEdnK1xsHWFDVUr5aIYdBnGIazDsoKx9va3DttsTJIKbNNv/kw+M1xR5SiQXQ1tDjvs5jv+WEVFzE/j9764c6dZOsNMnbWBpXsh6wM9Pu5xJmGbZsTJS0s13NJbA8A+4nOH3DU84Lh5ctJvcitvdx+bma1itDl97Ho6FQefv1s3UMJDjrjMiVvcXT3mD4P3IfFeQ16K+S4YsJ0iV/KYj46kd/Ixf0WQv7YU268O6hLiMZ/HiFXXvvtwEPN9MOS1Aa/sk516APFQz/IVg8tTwT3QuKXyy59hwS304r65M/u6+nw22/XzXqtvS+H6RtqwMd7EVB7xI4H68E+k0v5gYz7g/34+tzmR21TEmDryezojpbj/INeYLMVw1iL+zybglw/S1YMG3yEbxQVsjFqZ4bymMbjq1cG81Qvmw2Dz8qCOueTln0XEhV2u5K5cWSfXVZQ5HeIN0Dq6zi6CqD/ezmsx3aziza3co5d82w9X4aKADy1Od5qKLi5cWT/ZMHXyFIqFNcNNEzOzn3/saGd7G1NH+u7999NPOErP1l8odFY7IuHrl1949fw7b23aVpoeImzx9qLTiPNreMZxguMSYfd59700qL+54g7AixFQXlxU5veUFq0pXlMVssCTVt6XpWX/1mvJzQ0hPQGEK9pKS2XPuvrr4Z3sK/WVIhd8umA1nzabQk2s/95bzaNNJB+jF8RdFTHaTnnYlxhbfmWHXwdx6JU9lRRE6XXMj8DvZgv/9M4vX3tBcjolqaTEdIW/DMSNaXdh1yafb1NXIf3DpZxTJXKO1cg57xp+8An8QK995j40wTLyFYGh9/wLA9N+q+6XPHpzl7zKo3f4IUi83hGY+XrB60cq0qsdnOV1lVbV2O9zY8P+rYqLrjD88McmhgKna9/c/IHuXl9B+Rwu09z0Y23t7G62stsVatA9oJvdzf2n5XKHki4I9g3ItIi/kyiwm6X7XoNW6K9B+bWjHdd7a017nL5xgzFz0DE68D8u0DfKd8qWyqLk3j/WfUmGrMrY9yE7lWxMdLkoMxfgtmHXk4D+XuEw7oGm5ct8PhvIleGqSlVWq8JVrVZxvXJIy9FzhZXzG1d1/qYv8gUrK41ueyrj7XB7VF9molayeHt79h5/fnbgTF8up3Y0NgWb15Q10tc2nD+6vUEynTdZOqaTSuOZY/OXUld3bki0dK+LlgUTdYKHKvDgx535vneUq+/MVdUr78xGZbXqxuxvOr732XONx/c+80TurfrODlXt6Kyn06feTn/jP5x6J/2NP3riSTwXLiy9h+kX73fcpDnRgKqHvzuGpPg9xCzewOilVTFKK6ejyF3sLrCjuENxZV1+/aIo3uV3L3TjwtMt549suvGT3ubEILtz9sgjx5I5dufCD+OdR7g/VS4+TX6KgsnGueQFFKE7ec3BLz6UPAq6bMTm4YVUux+6V6CDv7Y6GsqPOgK2+cLWi+1dL7Tofomwt+7u5emxku5fEavE/8eP/MDxxNP5fzPD7dMpXUXVRolFfzeg+7P436vlDyWrP40sTQ7Qy0RmnyfDKO487CiJ0j8jw9KPyTDbCngt6eSvFFgKc41kD3sF36fIeimK9n+RndIasp7dxHwr+n9H9khfIXvo4OJXWQ2JsTcB3yR+dp5Esf8gVBulTWSzOONx1JmdWLeP1NN/FOPDog86gM+/GFu8zRYwBjrEWDfpwlfGt4rNY++1hF+d6skoeZv8nIboGfoRa2SH8FxiGvtE2igdl96UfmKqMHWYjpjeNv2VWTVfMH/Tst5yyfLnlk+tNmuLddz6Y1u9LWF7zvaf7c32/1hgKWgrSBZoBX9VuL5wvvCPCr9vSK2RRFHNRPBl5IvkPRgooS8Vz3D9YbaEfA0z1GQHfEDcfjlMSSl6OsyAN2vAEnY7Z8AmRP8vG7CZ/Db5pgFbSAXdYcBW1NjHDdgGed00YDuppT8x4AKSZCYDLiQbWZ8BF5FudsmAi9mr7LYBOwgx7yIpcgJUnSdz5DFymByBpcqkGdQ1kVZA/Zg9gfFjZBq9AXKcTJIYoE0YOYZ2dGnVKdGbRjuNvc7gdwqYw1g9j69MtpMJrD5Fkugdw1wzZhvF04VTtuLpB5THz2NHl/A/u5O8NLdLnHkKtJzAjPyQvY8bO0SBeYKcxopJrFtvcNuO307B9Xq0jZg5hLaTxPF0YHZS7CZjh3nMTGA93+sIzjwuZFYLnptwbjvqm38LF48JDibEjnNop3DiDNo5chRjJ3DGw6T/qOCS73MemtNn+MrDgpbDvxazR2iI64zLaQd6E1i7cpTrTSYHsUJ+wPqpVevnjfUxYQHzwFlPGvCcFU8MWMv0x0DRCeA2oD8N3IYlfTQ8ZPXMfacv73AKY6dBC9f3DqEDLss+gT8vLITLbx67cHlOL0n7GFqu8+PCSjmfpwFPCevh3BwRuNshvyG0W8Wpx1ftPLRqBxUj99set4Em4SO/CWVTop0XXnhQ2JZOn77nhPgNweu2C+1uB8ytf5OgdbugYzegHWQzqN6Jlvc3wR9H8TuM/gDpFWu3YkSGz2/FaI9YMSBgfa5PePYwyaAdxAzH4XtPgypdOnOidw6SmROWcErQOCf4mMEol7Du+ZzXacHhby5XGTI6sUonp8SaSWAdEphclxPC2k8Ly9d1MSsonBGyzGvklCG/KUP/M4KXCXyX57mdnhFrjy/50HkjRnAb0WnSfXL+36DVGCKsnpNfR3R50GfwFvnz0XSW0pczGtX/R2k2S6zJROGHv3+NnBgjqQY7qRcjni/bXrE9YzsjHbLssmwxtdmqrHabMXXT8nuWBcuT9LjpgGmEJSxRs5hyJjcV1ieqE3Ji7e3y297bpbeLb9sTSBZ2TJZjkiQ+84hJifRkq+iL29Ja4sV0Vprqydby3i0b4V3Skwlka/jA12zPIIUkXpzcoQ/zT8Lznu1VJNFz0hFL2jJk6rCFrfai+lt08bJmupZlpOd985SF9PSA/f8DiNskHQplbmRzdHJlYW0KZW5kb2JqCgoxMiAwIG9iago3MzMyCmVuZG9iagoKMTMgMCBvYmoKPDwvVHlwZS9Gb250RGVzY3JpcHRvci9Gb250TmFtZS9CQUFBQUErTm90b1NhbnMtQm9sZAovRmxhZ3MgNAovRm9udEJCb3hbLTYzMSAtMzg5IDI3OTkgMTA2OV0vSXRhbGljQW5nbGUgMAovQXNjZW50IDAKL0Rlc2NlbnQgMAovQ2FwSGVpZ2h0IDEwNjkKL1N0ZW1WIDgwCi9Gb250RmlsZTIgMTEgMCBSCj4+CmVuZG9iagoKMTQgMCBvYmoKPDwvTGVuZ3RoIDQyOC9GaWx0ZXIvRmxhdGVEZWNvZGU+PgpzdHJlYW0KeJxdk82umzAQRvc8hZe3iyuwMeZeKUJKkyBl0R817QMQcFKkxiCHLPL29TcfbaUuQMfjmfHBGvLdcX8M45J/jVN/8ou6jGGI/j49Yu/V2V/HkGmjhrFf1pW8+1s3Z3mqPT3vi78dw2XabLL8W9q7L/GpXrbDdPYfsvxLHHwcw1W9/Nid0vr0mOdf/ubDooqsadTgL6nPp27+3N18LlWvxyFtj8vzNZX8S/j+nL0ystZU6afB3+eu97ELV59tiqJRm7ZtMh+G//asY8n50v/sYkrVKbUo7HuT2Ai7A7gkO7Alt+BKuDZgx/geXJMr8JtwuQW/C5sCvBWuLPgjz5X8HePSc894CT6QxadlDvJ1wTh89OqvwfS3OzD9Lc7S9Lfw1PS3cNP0r3CWpr+Fg6Z/LbX0d8L0r8WB/k5q6e9wh5r+rcTpX+MONf0dPA39a+QY+js4G/rX6GPW+38D07/GHRr6uxq83j++xdC/wlmG/gfps/rjuwz9S3Ggfyk59C+lP/0rYfqnbQzSOjEYKcz8n1FV/SPGNKbyY8h8YjLH4P/+O/M0o0qe3+lR1w8KZW5kc3RyZWFtCmVuZG9iagoKMTUgMCBvYmoKPDwvVHlwZS9Gb250L1N1YnR5cGUvVHJ1ZVR5cGUvQmFzZUZvbnQvQkFBQUFBK05vdG9TYW5zLUJvbGQKL0ZpcnN0Q2hhciAwCi9MYXN0Q2hhciA0NgovV2lkdGhzWzAgMzg5IDY1NyAzODcgNjE5IDQ1NCA5ODIgNTkxIDI4NSAyNjAgNTc5IDU2MCA2NjAgNjM3IDgxMyA3NTYKNzk2IDY5MCA1NjUgNzQwIDk0MyAzMzEgNTUxIDY3MiA0MzQgNjMzIDY1NyA1MTQgMzA1IDYxOSA1NjkgNjA0CjQ5NyAzMDUgNTY5IDY1NyA2MzMgNjMzIDMwNSA2NTAgNTkxIDYzMyA1NzIgNTcyIDU3MiA2MjggMjg1IF0KL0ZvbnREZXNjcmlwdG9yIDEzIDAgUgovVG9Vbmljb2RlIDE0IDAgUgo+PgplbmRvYmoKCjE2IDAgb2JqCjw8L0xlbmd0aCAxNyAwIFIvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aDEgMTMwMDg+PgpzdHJlYW0KeJztemtwW9d54DnnPgAQD+INkpDIC1w+ARAiBb4k0RRI8A2KL5ESoAdJkCApWeJDFKVIVmIrelg2VSetlMROnHjTbZ3uesbphRy7djpt1Tad2cjJbnbW8Xhmm7Wa2Ww92042abte744J7nfOvQBJPdzNzv5cYHDPd875zjnf+/vOJVdXzs0iE7qMOBSdWUgtT3c0VSGEfoQQts+cX5XGC29MAHwffqtzy/ML56754whxYwiZF+ZPX5yL/XjyFwhZf4BQsenEbCp95o/7GxCq+Qns0XQCBqzZMI9QQA/98hMLqxeuWf/2MPRD0P/J6aWZ1Kpy/zXofwr9JxdSF5a/aPklRih4AvrSYmphtv/P3rJB/zmExOrlpbOru9G/2ECoXqHzyyuzyys3XqyBPj1vHX4YvvRjAlCkfcLxgqjTGwqMJrOl0GqzO11uT1FxiXfHztIyyeeXyysqq6prAsFQbXhXXX0E/f/Pw5+j8O1DfeQeQqQIoQ0rX5v9j+S9jY+Jf+NjtbeJA6OfkKLcOPkp9Ne34B2DbxzFSStCbL5r45Pt43RGm2slnRufaPO98G1DbfgE+mjj2+peDP6Gtm9uvozNlG2nCej++y2UU5r+fgtN++AbQiEc2Hgap9DP8/vv3jgP/c0zNDzyLv42uU9SuAx9me13H78E/XlcrPYVFJIUNJ7oSkpS/G1kGYkr4sEjCaXBq1Qnp+aktfGEQipS7+iRHs3MyNNen09BSQXF5M47YL+xqY5aBYcUaWquViEhKS0pd4cVvvLInWpsjHXNdCliV8KncBXJ0aMJn+zzriUkZXgYhqJJr6S0UKglmZQyKnYqrVTDkNaTlDo6X0cx7w4nJKBmLSUpBcOJKRiR6FwBhZoo1DTlnUomk16gVimIzShoNKGgOEUGrJg3rpRSqDSeetuKZijG2wKaTibTqaSCg8mkrKDhxGwyWatwIQlO5itSwIsQG04ogtyhiHIHcA6oU7UKH5KBEymdEaY7JDpDefSqNNOnYpjqmlG4gA8mY9KatAYHZOqEChDLSGJq2JsaTSbkpC8pKdGDCZjzUmFo59cqQkjRxYJ3EFFlK0JX7pBBR3JHSiHTcwqeASoUIVCr6EISJdUEvPBoWqI7KNGpJEWZ6mSk6kN3dCYU6+oI+PLaMoS2a69A3QUHgYQY8D0lda3JKapJJmHkpVpQJC8QmaMS9CmnOtUjjI9ZrpTDKuTdZG3rIlOIMXTHWMCBeXhlXzLgq1XMoQwhXUo61VmrWEKAKEmKOdZPlwMgdyQVC+2NQs8CvVqlELaxMpFIIIEZOFcpjE1Ja1OSUghCq1WsofhYIsOnO5PlinlWvlCr2ELxkUT8oDro9cG4g43bQxlkjY0nMlZrTMGpDqUwSK0crKkjY6YPCzwU7AZNcBXDiQwVHnDbsQb6hWMtAZ8My3KwV52nS8B56EgSOOkB+ntgdLuqHqPADEIOGaQVU1DbHYwx05UjhDKIdI0lFKvcIXUpJjA+owwG1yFNwfFv2u0YFaKOjrWpjF0MKs8HvX4QkxN4cwRrFVcog2nrBjnT1hPKcLQtCmV42haHMgJtS0IZkbbeUEZH2x2hjJ62O0MZA21rQnJO7oo4BRKWpbCCj1MHqVUCWybd+ckz6mRwy2RlfnJFnSwNIcUc/L/grwz4KwW6JOCPtj7gj7Z+4I+2MvBH23Lgj7YVwB9tK4E/2lYBf7StBv5oGwpJrcxMa0NwrH1KioFup2JMleB6IWqr4ZBSG1RqwQt3gQP0SI/RopxqkWkM/UwML+W+LqfajEnsopam7ApkBOzqSkD8o1zWbxHP43B2h6RGRnkEdlNxuh4+E5z1kbTQceT+HkujnW1yS2Y3dlFeG0AewMCj6QcnSbXUKo2hsKe1Vmn651DBoGcAvRlUhNwVUljqoYEARNu3ttYj90DkSECOgUAL0aEJY5cTJNwCEcut2ACNhyBawdAyBahDMcSCs2thWZJa12DPPdvRpLC6n8LLHTlsSZmisSQ6kniDSJzkfYNUciXJDhpf9RCqZbZC7gbPjj3oplM0xqkJiMSm0rLCxVJpmCaxlBfgKRrfHlyTAtIg6svdoGMZTuimyUkfY6fAfo84RFYjKQ/BA5QhgMEJD+0KO1KuKhgR8BxWI+jmWWAIe3OykGBUqNRkIbeCmPblpxQ9m++We+ihVIuteRFSZlRJK2gsEZZaIXdT6rVBidKlqUIRK6DXt7VMUJX4KGvXtCVTk39iCyWxnLqmaC3xIMs5FbdB/AhTKXYrtlhi2AuZVGpNhjNh7AS/3b9tdtQ7vG02+si1n7WiPaS0BD/rwI6Qsie4BrRRGwOmHosKCg0rYVgRYyxT+6xUJZ9SCuQOlXVqoDK4Txg8T92/EwIT5Jjckt/QpHv+X1kx5YnGsVYZQtUWe/ElNTq7IAC3BHNS6YbenqBP1uSicZMXQQ+IwKW6PdQg4OGOsNIAXt77mPE+2A47HUojwP0hpRmaOJViF4hb6oaEm5PWQIgatBIH8EDoDoQwAAYBwBQYCt3BbGQYADYyQnG6ABilOBQ4SHEoMEZxKDAeegNiYTtAhwDCDDocegOrYwmA1LEkxcMUOkLxGHSU4jHoGMVj0HF6ZgyACXomBSbpmRSYomdSIEVxugGYpjgUmKE4FEhTHArMMro6AJpjdFFontFFoROMLgqdZHRR6ElGF4VOMboodJrRRaEFkPHevAIXWU9pA3BJBfcDuEyFznpR6J2BXKvhrKggxTnLcLCGswqL9+V3Pcd6bMV5FaQrPqeCFP0C7KMhXFRBivCUClKES4Dbmt/v86zH0L+gghT9aRWk6M/ASg3hsgpShC+qIEW4ArhP5Pe7ynoM/ZoKUvTrKkjRn4WVGsINFaQIz6kgRXg+9IaBJ7mKtiOo6GcVrnz4Qi5F19LEShB9R/E/4Z7HIR0KROkbDI4gbhYRjMk4IgQf5wHCBxDSiQIPaJxNEF3BiM1nq/DZfBP45exLuDH7Lrm33hQhaUTfJKTg8SvY04hqopWwhBc4fpbtBVq/EkeCgI4D4lU0YKMfq2guCfpgM5f2xb/KnsFfzr6L5ezPcCO5N/Th4AbddxwILiZ+5EDDb1opVf1xpXg4EXXA3miSFwhCL8Q5sKKreMAb9SCevx5nUwLeMpOM2qBus5hNBh0w5MAO0ewM4t1ul022Nch+kbYRT6SpCR+emj58IdmZ6DELJceIf2I++3v48BfTE9n/Sor6AjVIowm9Tj4BLqvjSg0QYwQer8VV9rysl2M2+T2blZjdwQjs/3oiAYtA/uGNj/F94kNeVInORS3FmEdFmONFLAqcxl4ZbC6InDALDKFJHeMFiSKeJDlW5UdhwBxFI5MggpsE2HZhVO4v3eF22gqNBmDdi736POtVsijK/srGhqbm5saGSpCDrqqpyaETRZfTHdnd1Iil6YmojZcHY31TT189urcxMACWNfWtofSB5mDsKPEdmsjeHggFDowOH+Y5KdZQbO1weLO/4PiWSG0gPgiyagZe/wz0V4Kaow1G0J/HRDhShBHH9VPzmASagXCOA2UCDzfRAEYuh9Vi0KESXCIArYK/kpLYFNnt9ugqgUqVuGYXiCPUu7i/faW3+kCRtyi645UDA8HOHd72gr1PTc58fq/N1Gewvpuat5sHLYVUb1ag5SC5jYpQNPqEBROew4iAqSMgheO5qwImhD/OTEgEWhhtNzElyOmw26xmk14ERRXpgKgKlQCZ0maTG5ubI66IS7Y53VjvDJgtDUWBntDAAbnh5Zd3tYlCTGfY2duOWwLyyqXO7L36XaofDsLzTfI34DOFoDz6pgAMGMhhkrgWFzDHMWO+Sga8ccW0bXrtwenaz1odddFBzCE8v3U8mUxGHSYTRqZCE3iHTkBGbKSu4QD7cGq24QHfuOIsK3O6S0vbE+RvvDt3eunvh+sf0bdEINehjY+JC2AHGniTw9ymjwo8IeS6ql2gTHUPT24U+nQqJ+Zk1AxDDuTwO8ptorkoiDct1BaxOalB2oir18yXHGtITSc/l+wiResf9QSqjs/hyewfXE5PYA+TK9gcsYOruZAfffUtu4HwQo6kncD4NRqNNMPTYeo9nEiY6XlVd/Y9gAREXtUwRdVGvYCzOU0Id/xhHJCtx+PGCLzP7/HbrIUWkK8Lu/SqTYNkqUVHwIAaIyqnVcCh6odg4tiRvnAx3TZULBIeohFfNFw/3tWR7OnpKbi5tvZC2GeOFL6/ru/11/Udn7CmT52ZnHoyHy8p78OgCzVeUp48AtB2TQ2N6IGYmR+jOPh4PmZSfbjAG/2OSqoPh8upizA/3Bo2XxfEkmRDaubwhSMxiG8fVss1geNq1JydyP4djXhUJ+MbVlIHccCFZHSK6kTg8zrZooQX8mK/SWm9QZioqcVuyvZhnE1Jyx55u6RxzpKrZLfb5dLCvAdCnRpGmkDgeGzmIoh6xCNiIdFr4osG60c7cXuiLlrWQ/xrN5//UliyNTj+mtP3yXX9xyZsM6caJ1qPLeZsrQr4MqNiVBbdkbPnF/KSBksor6jw89SgnWrAYJp3C2qMZfomVTfO9ixFr6/2Lu/PnoqPjgwMjI72Y/P1W+1fSF7/7fZLycmlpcnJ06dz+Qd/ieXEOVWCRlAZsoJbYdLvpT0u10uqCHYWGDhelbAWE9xMrvmQkZtIRgvVXAnRDjKloApRDb3ilkw5VOi3GM2SuaY3mOgt4IsPEj/HjXB87UhT9uekaDoUzckHA60eVIpi0agJLNIMIYL0IwFhIuDZbXoFT5oEqm5yA8WQInZ4i0qLS22FBXpRQB7s0fQJavS5cylAEyjTqK+yEpd3phuzv0OSw5GhQM1w84HV9n2nuvf36bANtxF/60Jf49FJh/2A3db21JHE0529I72d4yqdVogZfhYzTrxl47fFDGpuNPHm4gVVK6QIjrvBMftk4eyBmLIVJxl1etxIiwTUpZzlVXqzJyjQ1JtPwiwcNEdsHHC2GQa+TzjRMxJNXbw0vX+4iDd3/2q0G3ce7u3u/tUv7HU2fx2NBnVy36ef4F1HJ+xzJ89MTp5CaCtPpSiILkcL3RwRBRA+D0rgcoWGX4+hNJvEOqKVGPwkJMCbNOaxKoJ5YCXwdT2uYuZrkYcRk9FiqQyjyvKyoBQsKbJajAZQXCkuNWg2RLmjPlDVyExf5V7LMv5c0UEd0tE4XiqYus9dOh8f+lzXEMF80/KJc+fOxvp7e0b6B4i/uqZn/cOzq/6RwEi3y1RrGLl19fKL/admZk4eTrkWpoD9jQ3N9rKkEvIr1LLgL+8w/6kmE+jXJAt5tzIjpjujXh0mwGE/qBjhq4CyCj8jMro4syuYEVGnw2UhOrmxjTT/2ly/p2ivpdxvJNkC+549dpO9sdkNe0agtrgDsq5B4WjQCxa+Q0cwB2aNaXGhiugF1dnUoFARUoNChRqdGt1aNKisChPNGFSXA7G4PaUE31mdbhkpk47uirW69zQ29FcvHakfryj191c17Sl5IhLprfzK4LDdOmz1BsudkuR0VreEOvud1m6LUy71lJY6HNV7UC5+cIeAVh86/lZpEdksqt08plFLJ+o5lg4glas5ogT0fT2uzerJ1kmIvRjt9HogzNoKtQLbh32GhwvsbYV2ZDd9kt89euTwwmDs8OJIGy25i8frnq4UvLnCO/nMkUPZD6DJ199HwiGVB/r4FGqOQuSLljL99dMK4zrkNRbFYL4QFXptPC2+uYijlHgioD9HhHv33YkVvd0CBZ/Vrl+Z+BEpyv7A3bTbao00unHr+kfq/jUbz6C7YAh6GtWpYSA8TkMALewxgqsRzOid1ECaPaKok5uamt/RWeqK2i07davGxmea9jzXQG1QrfWpDQqaDb6p5cOPIR/SPO1Dt2i82ZIPadS4thlGtHxHT4cyKVejPIwEfG9mRqo135ZZik6OP4iT3IxMPo9vS2SCXC/mkr2WPnWyzQEK1Ly04XWOCJ7h/emLT83sH/bo7Pv/26H29kRvD/nkHf8+mz8MYem3wlIn+SR7f3qenzn5ZPpd9hfnDSvOgt5KUFW0vMQhQGloh3BENO1tiSYVcrGVOogj4gAHAFqo8sQtztLcjCdWC4tEXiyxLEz+7c7EYFG52VhmC7fYdoBS/11Nr694pAbXrb8ycETgugnfEOxhuu3d+Af0A3QRXNwRtaLNQr/cT69qzQ2bXPeWFxdXVhYXlzdVlJZWlEtS/q77j3DXFVjGR+gK9WsysWl5AhJsquVB4epzpY7gFrgrPzuMyMYPN6xaze9Fr0YLrBCOCxn/av3vzUUIKNXYVZbKg95LbuTvAHmUtUei1P5zu0SLKRM8XAUemqP3AfDhIo/TbvKaveV+EXhwbJEHtxmpaEkuDpa61ZtBS0mluVBySIFEL/nX6v3A++k1ndAjCHI9ObX+Unxc9St6EbtK1qEeOBYttGCeK9SB6UOcZFffnYx4nmdVwLU4AZsQjoO9sjKFRaJi7d3C/ENzyajBUVGhvVrAMgQauJdtj6SuCB64kZiYOHqwrMnhsQbcoeAN/F42hN+rKS07cdSo6xIK9u2Xqd+qdxrqtwbNb/99PqdUsXGzNv4u82f6eJr8GEZsqD4aNmMeoqoIYqaingOLvpKPmHo9BA+b3ga4OpvNpgN381X5dDKOYA6CfxWEEx1crbO/GD+KPSPY/W+HOYuZ19vEkZ/9jPx4PYJrP9AHak1l+2wfqHme2TNQZASpUovUlL+tniovL2fpZqs2bY+y9FyLf15ZWloJJp+9sNX2nwD+v0TeQxLaF20B6yU2uD6XYl4A3ni+nxo/j4TZnB8zG835F6inUlbVE7Ftlm7bUx117EYZv/g/9p6PL700dPg751pPhf2Vk5HLX24+P7Wrw/stfDH7Lx325Ktnll496nYOWotfvj5+ta9A957mm+RF8E072hktARsBLVC/vBLX7p8em5tFFZ+M6YWApiMcgYxri5AXT2av8EQ8eAJ/gYdoOUZG5BPN2TPguRlrNO7Dt7X9uQDs76Lxy1FAr9SscMCgXx6CGT1DvTbZHDY3vTb5uNxBEMkiNA9C1cPhb/4dz/EHr/81f/9aUiD8L8lK2ck92SE47Y9I33oT/qOGOWn9y0zmVfD4Q4iZBvpuTQehBviCiEGDznGUu2BrL5zsNrvKn68R+xp9LuzDf5i9gKXsr/Fy9j9jeS/+RmdHdpHZDZVVgL2zc6Ld0V0IYgLh8SxNFeg4fX92RbsSmE1wvbCYnGZngQFuBUZs1OWvVqJMXQ2uXWr5gkt/63LjF06NHnnzaO9cOknuLab3zUche987kP0vHUNdnZoNJcGG2DshqB64IgNwVAB1CNdPbyLMZtdYUNVeZGHkdlpMcKvT3gnhXLW49QoAJQWYEb599tqlS+GxmurxfQu3+oa+sXhmrNw3Qq5/49nrL1tNg4WWI99ZPv3q8cBAYRHQkgTZzoAMTMgbLSowCEyf6itLJs8S9vrOx7RGHbOqOYJnDhFi9ToGwn/eh/8x2LDD6ra17fua6ou7gTc98FaKQqgtus+KBd4AfOjVQlAAexTIPMQFfpPJXEUolUHlHJJCFVXl5Tp2XbQQNdtFdkPpkr8nsNtjVU4CrGYkem/PF2edTdaq+u6jTUVE9Iy2HzvTMt/VuRj9h7ahWHddd5W/E3/9wFcv9gpC3BweOrnXX39mPn56b9fNZ0fHuoaqWqXgWIvKQz3wYCQ/ffBOu7btTlteIWt32i1kbbvTGutOjl88u+vE+IXz2adjI8NdXcMjMTy3+vuJv3x99fcP//l3b9/6na/cunWLnUlt4idwZiHkxceeCeFjy5l5WWw79Sfx26eWbvf23l4+dSu+/qOVixfPLF98agXPLb167Nh3lhZePXb01aUbL79848bXv07vAqB/1Qek6E4jmDd4MdE/YAQu1Qh8jc22KvApnc2DA9ns2BgmY2MNDrLP2dDgXP8rB/XVAmDGB/vpqD3RNynMRXMb0TffavSB5ORzyTh25EPi+U/k0tAQrK2DtdR2vPStvMVMIHDlHV0LppuOXlVRnXP05jay+fpWjehgqS4f0Wer/7gxXtnd0jhYsyuw0JleDY82fxWf7PuTprHh+n1PlEv75Pq5RMv0VONtXs3PdnhsQKwxUi0YRAjjD1bWdrvdxjIJF/E0RziHXKWT33snvfb8zDt/mb71lRlsx+K9e9n/lf3l+++r97Au2NPCcuZuGBCRY2f+HoJeh7M4VofRK6YmpW2vzIu25Dj6N4tCrerK/WVhS46TVelCeI1wW3Lb7+0pPrVaXlJcUVFcUv5DgtdP5zIaVnO383tDP50sbP3vSMex8v8/WJ56JvfvfLRig9tSllFOtEGs/s8d2vxgtP3TQBJogoRQijyJxlkZADU/qUdhfB8145PICv1BmBsi86iZ4kA7DrbSjL8FbQOMzWs/gHExqsYfogj3B7DXp7CXCdXQveganAUxmFAvMaEUhvoSJ1Ah2xf2Is8w3F7yAXoC7hop7ibgvI+qYC5FLsBYK0rCbzf86jkzegIfhLtxCBVAv47YaGGOuijd2Ix6gacAOoS+Dd+7uAl/Hv+AVJNl8ktuL/cd7j7fxK/x/ySsCpeF10QkTou3xLfEv9C16S7rvq37U32b/pb+Ff1r+o8MpYZFwyuGDwr4gmjBswXfNVqN/cZnjd81/shkMbWYOk1HTM9q0mxAtSDvCGicoJfQaxAAEH7evEDvXexy932YwTytzibgp8LUfic0mCALWtZgDjWhpzWYR370PQ0W0G+j9zVYRBKe02Ad6sTParAeBfA9DTaAHv5JgwtQB9mhwUbURnLnmlAr+aYGm8nXQPYqbIHSaBHF0BJQdRGtoJNoHp2AG6YEXlGH6lEjQD0wuwTjp9Es9PrQIppBYYDaYeQ0tKP5VWdZbxbaWdjrPDzTgDkIq1fhJ6GDkN0XYZbizKNzsDoFeLsBp45998FZQ/DtASi3Krem9oFVD+8qPYBxiFFxFqhbgnnpMecsavvUAuYSrF0B7mbRXo3/ZnjuYXLYC20dzMxBuwcsIIJaYHaG7SbBDqswk4L1dK8TcOYik2I1SAF8AjBrfgOOTjJuUmzfFWjTgLfAcE7B2BKc9DitHGC80n0ugkbVGbpynlE0/5mYnUxzVJdUWmPQS8HaraNUnxKahhXSI9ant61f1daHmWWsAs5etAu+n2PfMGBt0h8GipYAdxf0ZwF3V14rux6zeuGB0zd3OAtj54AWqvUxpgkqy26Gv8qshcpvFXah8pzNS/s0tFTzi8x6KZ/nAE4zG6LcnGC4B0F+A9AOsVMXt+08sG2HEIw8aIHUEuqZ7/wmlKVZu8q8c5pZmEqfumeKPf3gjQeZdg8CLKEO1qc9SsdhgMYgWg5Bdhtj/XawvVF4DkK/D3LhQcbTKDxj0A6C1vvYDIXVuW7m8YNQm0ooDjMUh+49C1Sp0llhvQsgmRVmCWcZjSuMjwUYpRJWIwLldZZx+JvLVQIZLW3TyVm2Zgaw5himxPxpkXlWilkUpXOZUbjAZJnTyFlNfmlN/wuMlxT8NuepnZ5naxfzPnRRixTURlSaVJ9c/T/Qahgir5rDv8kqj4c/8bfRvxlNZDD+UlLB6v+OLWeQriNqfPN3X0BLkyi2y4ACbMT5r/Rf0V/Wn+fmxENiP9+kL9cZ9NrUHfEVcU28hBf5CX6YRMVagU1ZO9qNgWhFFCrLu8V3XXftd813DVFIIgaYLIZJFH3oyyY51Jkpx8+NJJToc4kMl+7MVNPe23pEu6gz6c1U0YHv6y9Daok+NzOmDtNP1Pma/mv6K/oL3AkxIQ7wLfpKncEUeBtvXFf4FzIEdb4hpEXU2Qns/29aVF7qCmVuZHN0cmVhbQplbmRvYmoKCjE3IDAgb2JqCjczODYKZW5kb2JqCgoxOCAwIG9iago8PC9UeXBlL0ZvbnREZXNjcmlwdG9yL0ZvbnROYW1lL0NBQUFBQStOb3RvU2Fucy1SZWd1bGFyCi9GbGFncyA0Ci9Gb250QkJveFstNjIxIC0zODkgMjc5OSAxMDY3XS9JdGFsaWNBbmdsZSAwCi9Bc2NlbnQgMAovRGVzY2VudCAwCi9DYXBIZWlnaHQgMTA2NwovU3RlbVYgODAKL0ZvbnRGaWxlMiAxNiAwIFIKPj4KZW5kb2JqCgoxOSAwIG9iago8PC9MZW5ndGggNDQ0L0ZpbHRlci9GbGF0ZURlY29kZT4+CnN0cmVhbQp4nF2TzY6bMBRG9zyFl9PFCPwTmEgRUiYBKYvOjJr2AQg4KdIEkEMWefv6ux/TSl0kOr6+vj421+nusD8M/Zx+hLE9+lmd+6EL/jbeQ+vVyV/6IdFGdX07LyP5b6/NlKRx7fFxm/31MJzHzSZJf8S52xwe6mnbjSf/LUnfQ+dDP1zU06/dMY6P92n69Fc/zCpLylJ1/hzrfG+mt+bqU1n1fOjidD8/nuOSfwk/H5NXRsaaKu3Y+dvUtD40w8Unmywr1aauy8QP3X9zbs0lp3P7uwkxVcfULHOrMrIRziuwFTYZ2DG+A6/IGpyTLbgQLhz4hfE1eM241N8yLjmv5Bfwjjmy157xGlwxbsA146ijM8bhoOmfF2D6V9hX07+Am17892D6FzmY/gbn0vSvpObij3314i816W9wP5r+TtbSP9+CF3+pT/9a4vSv4WPo77CXob9FjqG/w1kM/R32MvR38DeLv+TTf4V7M/R3Up/+VurT38Lf0N9K/uKPezb0d5JD/xW+kaG/xT0Y+hf4Xpb+FXws/eMx0GxLV6Ht8C6+2lm19xBiK8vjkR5G9/aD//u+pnHCKvn9AU7z3mMKZW5kc3RyZWFtCmVuZG9iagoKMjAgMCBvYmoKPDwvVHlwZS9Gb250L1N1YnR5cGUvVHJ1ZVR5cGUvQmFzZUZvbnQvQ0FBQUFBK05vdG9TYW5zLVJlZ3VsYXIKL0ZpcnN0Q2hhciAwCi9MYXN0Q2hhciA0OQovV2lkdGhzWzAgNTU2IDYxOCAyNjAgMjU4IDU2MSA0ODAgMzYxIDI1OCA2MTggNjE1IDYxOCA2MTUgNjA1IDQxMyA1NjQKNjE1IDYxNSA1NjQgNDc5IDkzNSA1MDggMjY4IDU2MSA2MTUgNTEwIDI2OCA1MjQgMjU4IDM0NCA2MTggNjA1CjYzOSAyNjggNzI4IDc2MCA5MDcgNDcwIDYwNSA2MzIgNTcyIDU3MiA1NzIgNzgxIDMzOSA1NTYgNTcyIDUyOQoyNTggMjY5IF0KL0ZvbnREZXNjcmlwdG9yIDE4IDAgUgovVG9Vbmljb2RlIDE5IDAgUgo+PgplbmRvYmoKCjIxIDAgb2JqCjw8L0YxIDE1IDAgUi9GMiAyMCAwIFIKPj4KZW5kb2JqCgoyMiAwIG9iago8PC9Gb250IDIxIDAgUgovUHJvY1NldFsvUERGL1RleHRdCj4+CmVuZG9iagoKMSAwIG9iago8PC9UeXBlL1BhZ2UvUGFyZW50IDEwIDAgUi9SZXNvdXJjZXMgMjIgMCBSL01lZGlhQm94WzAgMCA2MTIgNzkyXS9Db250ZW50cyAyIDAgUj4+CmVuZG9iagoKNCAwIG9iago8PC9UeXBlL1BhZ2UvUGFyZW50IDEwIDAgUi9SZXNvdXJjZXMgMjIgMCBSL01lZGlhQm94WzAgMCA2MTIgNzkyXS9Db250ZW50cyA1IDAgUj4+CmVuZG9iagoKNyAwIG9iago8PC9UeXBlL1BhZ2UvUGFyZW50IDEwIDAgUi9SZXNvdXJjZXMgMjIgMCBSL01lZGlhQm94WzAgMCA2MTIgNzkyXS9Db250ZW50cyA4IDAgUj4+CmVuZG9iagoKMjMgMCBvYmoKPDwvQ291bnQgOC9GaXJzdCAyNCAwIFIvTGFzdCAyNCAwIFIKPj4KZW5kb2JqCgoyNCAwIG9iago8PC9Db3VudCA3L0ZpcnN0IDI1IDAgUi9MYXN0IDMxIDAgUgovVGl0bGU8RkVGRjAwNDkwMDZFMDA2NjAwNkYwMDcyMDA2RDAwNjUwMDNBMDAyMDAwNTQwMDQ1MDA1MjAwNDMwMDQ1MDA1MjAwMjAwMDQ1MDA0RTAwNDMwMDU1MDA0NTAwNEUwMDU0MDA1MjAwNEYwMDIwMDA0RTAwNDEwMDQzMDA0OTAwNEYwMDRFMDA0MTAwNEMwMDIwMDA0NDAwNDUwMDIwMDA0RDAwNTUwMDRBMDA0NTAwNTIwMDQ1MDA1MzAwMjAwMDQxMDA0MzAwNDUwMDQyPgovRGVzdFsxIDAgUi9YWVogOTAgNjk2IDBdL1BhcmVudCAyMyAwIFI+PgplbmRvYmoKCjI1IDAgb2JqCjw8L0NvdW50IDAvVGl0bGU8RkVGRjAwNDkwMDZFMDA3NDAwNzIwMDZGMDA2NDAwNzUwMDYzMDA2MzAwNjkwMEYzMDA2RT4KL0Rlc3RbMSAwIFIvWFlaIDkwIDYzOC40IDBdL1BhcmVudCAyNCAwIFIvTmV4dCAyNiAwIFI+PgplbmRvYmoKCjI2IDAgb2JqCjw8L0NvdW50IDAvVGl0bGU8RkVGRjAwNEUwMDc1MDA2NTAwNzYwMDYxMDA3MzAwMjAwMDZEMDA2MTAwNzMwMDYzMDA3NTAwNkMwMDY5MDA2RTAwNjkwMDY0MDA2MTAwNjQwMDY1MDA3MzAwMjAwMDc5MDAyMDAwNkMwMDYxMDAyMDAwNkMwMDc1MDA2MzAwNjgwMDYxMDAyMDAwNzAwMDZGMDA3MjAwMjAwMDZDMDA2MTAwMjAwMDY5MDA2NzAwNzUwMDYxMDA2QzAwNjQwMDYxMDA2ND4KL0Rlc3RbMSAwIFIvWFlaIDkwIDM3Mi44IDBdL1BhcmVudCAyNCAwIFIvUHJldiAyNSAwIFIvTmV4dCAyNyAwIFI+PgplbmRvYmoKCjI3IDAgb2JqCjw8L0NvdW50IDAvVGl0bGU8RkVGRjAwNEMwMDYxMDAyMDAwNzAwMDYxMDA3MjAwNzQwMDY5MDA2MzAwNjkwMDcwMDA2MTAwNjMwMDY5MDBGMzAwNkUwMDIwMDA2NDAwNjUwMDIwMDA2QzAwNjEwMDczMDAyMDAwNkQwMDc1MDA2QTAwNjUwMDcyMDA2NTAwNzMwMDIwMDA2NTAwNkUwMDIwMDA2NTAwNkMwMDIwMDA3MzAwNjkwMDZFMDA2NDAwNjkwMDYzMDA2MTAwNkMwMDY5MDA3MzAwNkQwMDZGPgovRGVzdFs0IDAgUi9YWVogOTAgNjMzLjYgMF0vUGFyZW50IDI0IDAgUi9QcmV2IDI2IDAgUi9OZXh0IDI4IDAgUj4+CmVuZG9iagoKMjggMCBvYmoKPDwvQ291bnQgMC9UaXRsZTxGRUZGMDA1NjAwNjkwMDZGMDA2QzAwNjUwMDZFMDA2MzAwNjkwMDYxMDAyMDAwNjQwMDY1MDAyMDAwNjcwMEU5MDA2RTAwNjUwMDcyMDA2RjAwMjAwMDY1MDA2RTAwMjAwMDY1MDA2QzAwMjAwMDc0MDA3MjAwNjEwMDYyMDA2MTAwNkEwMDZGMDAyMDAwNzkwMDIwMDA2NTAwNkMwMDIwMDA0MzAwNkYwMDZFMDA3NjAwNjUwMDZFMDA2OTAwNkYwMDIwMDAzMTAwMzkwMDMwMDAyMDAwNjQwMDY1MDAyMDAwNkMwMDYxMDAyMDAwNEYwMDQ5MDA1ND4KL0Rlc3RbNCAwIFIvWFlaIDkwIDM4Ni44IDBdL1BhcmVudCAyNCAwIFIvUHJldiAyNyAwIFIvTmV4dCAyOSAwIFI+PgplbmRvYmoKCjI5IDAgb2JqCjw8L0NvdW50IDAvVGl0bGU8RkVGRjAwNTAwMDcyMDA2RjAwNzQwMDZGMDA2MzAwNkYwMDZDMDA2RjAwMjAwMDY0MDA2NTAwMjAwMDYxMDA3NDAwNjUwMDZFMDA2MzAwNjkwMEYzMDA2RTAwMjAwMDY1MDA2RTAwMjAwMDYzMDA2MTAwNzMwMDZGMDA3MzAwMjAwMDY0MDA2NTAwMjAwMDc2MDA2OTAwNkYwMDZDMDA2NTAwNkUwMDYzMDA2OTAwNjEwMDIwMDA2NDAwNjUwMDIwMDA2NzAwRTkwMDZFMDA2NTAwNzIwMDZGPgovRGVzdFs0IDAgUi9YWVogOTAgMjA2LjQgMF0vUGFyZW50IDI0IDAgUi9QcmV2IDI4IDAgUi9OZXh0IDMwIDAgUj4+CmVuZG9iagoKMzAgMCBvYmoKPDwvQ291bnQgMC9UaXRsZTxGRUZGMDA0RDAwNzUwMDZBMDA2NTAwNzIwMDY1MDA3MzAwMkMwMDIwMDA3NDAwNzIwMDYxMDA2MjAwNjEwMDZBMDA2RjAwMjAwMDc5MDAyMDAwNzMwMDYxMDA2QzAwNzUwMDY0PgovRGVzdFs3IDAgUi9YWVogOTAgNTM4LjQgMF0vUGFyZW50IDI0IDAgUi9QcmV2IDI5IDAgUi9OZXh0IDMxIDAgUj4+CmVuZG9iagoKMzEgMCBvYmoKPDwvQ291bnQgMC9UaXRsZTxGRUZGMDA0MzAwNkYwMDZFMDA2MzAwNkMwMDc1MDA3MzAwNjkwMEYzMDA2RT4KL0Rlc3RbNyAwIFIvWFlaIDkwIDM5NS42IDBdL1BhcmVudCAyNCAwIFIvUHJldiAzMCAwIFI+PgplbmRvYmoKCjEwIDAgb2JqCjw8L1R5cGUvUGFnZXMKL1Jlc291cmNlcyAyMiAwIFIKL01lZGlhQm94WyAwIDAgNjEyIDc5MiBdCi9LaWRzWyAxIDAgUiA0IDAgUiA3IDAgUiBdCi9Db3VudCAzPj4KZW5kb2JqCgozMiAwIG9iago8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMTAgMCBSCi9PcGVuQWN0aW9uWzEgMCBSIC9YWVogbnVsbCBudWxsIDBdCi9PdXRsaW5lcyAyMyAwIFIKL0xhbmcoZW4tVVMpCj4+CmVuZG9iagoKMzMgMCBvYmoKPDwvQXV0aG9yPEZFRkYwMDcwMDA3OTAwNzQwMDY4MDA2RjAwNkUwMDJEMDA2NDAwNkYwMDYzMDA3OD4KL0NyZWF0b3I8RkVGRjAwNTcwMDcyMDA2OTAwNzQwMDY1MDA3Mj4KL1Byb2R1Y2VyPEZFRkYwMDRDMDA2OTAwNjIwMDcyMDA2NTAwNEYwMDY2MDA2NjAwNjkwMDYzMDA2NTAwMjAwMDM3MDAyRTAwMzQ+Ci9DcmVhdGlvbkRhdGUoRDoyMDI1MDMxMDIzMTIzNlonKT4+CmVuZG9iagoKeHJlZgowIDM0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAyMTg2NyAwMDAwMCBuIAowMDAwMDAwMDE5IDAwMDAwIG4gCjAwMDAwMDE4NTAgMDAwMDAgbiAKMDAwMDAyMTk2NiAwMDAwMCBuIAowMDAwMDAxODcxIDAwMDAwIG4gCjAwMDAwMDM1NzMgMDAwMDAgbiAKMDAwMDAyMjA2NSAwMDAwMCBuIAowMDAwMDAzNTk0IDAwMDAwIG4gCjAwMDAwMDQ3MTIgMDAwMDAgbiAKMDAwMDAyNDI5MiAwMDAwMCBuIAowMDAwMDA0NzMzIDAwMDAwIG4gCjAwMDAwMTIxNTIgMDAwMDAgbiAKMDAwMDAxMjE3NCAwMDAwMCBuIAowMDAwMDEyMzY2IDAwMDAwIG4gCjAwMDAwMTI4NjQgMDAwMDAgbiAKMDAwMDAxMzIwNyAwMDAwMCBuIAowMDAwMDIwNjgwIDAwMDAwIG4gCjAwMDAwMjA3MDIgMDAwMDAgbiAKMDAwMDAyMDg5NyAwMDAwMCBuIAowMDAwMDIxNDExIDAwMDAwIG4gCjAwMDAwMjE3NjkgMDAwMDAgbiAKMDAwMDAyMTgxMiAwMDAwMCBuIAowMDAwMDIyMTY0IDAwMDAwIG4gCjAwMDAwMjIyMjAgMDAwMDAgbiAKMDAwMDAyMjUyOCAwMDAwMCBuIAowMDAwMDIyNjcyIDAwMDAwIG4gCjAwMDAwMjI5NzIgMDAwMDAgbiAKMDAwMDAyMzI4MCAwMDAwMCBuIAowMDAwMDIzNjMyIDAwMDAwIG4gCjAwMDAwMjM5NTIgMDAwMDAgbiAKMDAwMDAyNDE1NiAwMDAwMCBuIAowMDAwMDI0NDA0IDAwMDAwIG4gCjAwMDAwMjQ1MTkgMDAwMDAgbiAKdHJhaWxlcgo8PC9TaXplIDM0L1Jvb3QgMzIgMCBSCi9JbmZvIDMzIDAgUgovSUQgWyA8QTMyOUJGMUI2NEM3ODQ2MjA3NEZDOEM2MDkzRDZERjI+CjxBMzI5QkYxQjY0Qzc4NDYyMDc0RkM4QzYwOTNENkRGMj4gXQovRG9jQ2hlY2tzdW0gL0ExMDg2QzhCRUIxRjgzQzU5QTI1NEU5NDVDMjExNEEyCj4+CnN0YXJ0eHJlZgoyNDc0NwolJUVPRgo=\"\n        }\n    ]\n}'"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": {
                      "id": "b001d824-3f3f-48fc-98ef-a3114b918c1e",
                      "account_id": "210a524f-7ad3-437a-be7e-9e99bdf4d742",
                      "description": "Test Purchase",
                      "country": "AR",
                      "status": "IN_DISPUTE",
                      "sub_status": "PENDING_REVIEW",
                      "merchant_order_id": "65742358",
                      "created_at": "2025-11-26T20:34:08.330622Z",
                      "updated_at": "2025-11-26T20:34:12.580560Z",
                      "amount": {
                        "captured": 0,
                        "currency": "ARS",
                        "currency_conversion": null,
                        "refunded": 0,
                        "value": 2000
                      },
                      "checkout": null,
                      "payment_method": {
                        "vaulted_token": "",
                        "type": "CARD",
                        "vault_on_success": false,
                        "token": "",
                        "parent_payment_method_type": null,
                        "payment_method_detail": {
                          "card": {
                            "verify": false,
                            "capture": false,
                            "installments": 1,
                            "installments_plan_id": null,
                            "first_installment_deferral": 0,
                            "installments_type": null,
                            "installment_amount": null,
                            "installments_total_amount": null,
                            "soft_descriptor": "",
                            "authorization_code": "393119",
                            "retrieval_reference_number": "",
                            "voucher": null,
                            "card_data": {
                              "holder_name": "John Diaz",
                              "iin": "45130761",
                              "lfd": "5348",
                              "number_length": 16,
                              "security_code_length": 3,
                              "brand": "VISA",
                              "issuer_name": "BANCOLOMBIA",
                              "issuer_code": null,
                              "country_code": "CO",
                              "category": "CLASSIC",
                              "type": "CREDIT",
                              "fingerprint": "2213e58a-33d7-4bdc-8cbe-4785f683c410",
                              "expiration_month": 6,
                              "expiration_year": 26
                            },
                            "stored_credentials": {
                              "reason": null,
                              "usage": null,
                              "subscription_agreement_id": null,
                              "network_transaction_id": null
                            }
                          }
                        }
                      },
                      "customer_payer": {
                        "id": "1b9ef2f7-b69e-4dd0-b0a1-3605dfc2ad2f",
                        "merchant_customer_id": "6a1b6e7e0e104f28929015fd6182e9f9",
                        "first_name": "Margarita",
                        "last_name": "Parra",
                        "gender": "NB",
                        "date_of_birth": "1952-02-27",
                        "email": "qpacheco@example.com",
                        "nationality": "AR",
                        "ip_address": "205.52.88.44",
                        "device_fingerprint": "90ede54c-d2d4-4e2e-8189-6b81091231b0",
                        "device_fingerprints": [
                          {
                            "provider_id": "DEFAULT",
                            "id": "90ede54c-d2d4-4e2e-8189-6b81091231b0"
                          },
                          {
                            "provider_id": "CLEAR_SALE",
                            "id": "c1c4907c-3339-4217-a4bd-1e9be74b3819"
                          },
                          {
                            "provider_id": "CYBERSOURCE",
                            "id": "d5c56387-4d06-479b-b55b-eab81e5211bc"
                          },
                          {
                            "provider_id": "OPENPAY",
                            "id": "89451345904503181146447710703990"
                          },
                          {
                            "provider_id": "MERCADO_PAGO",
                            "id": "armor.cofxzlvhsrpuslf5ychwxvszwaicsanbuub2on7rfuzmyfijppqm8vcziky3h3emxkz3b2aopl04ublu0jufbtwk8sm232fin19btcnd3q1jdpku6cp9ybn8exc2vcuoalosq51bpfefzhsqx4tuythte5jaruh4keo2fcm9r9wwy96s8djk0e5nmsi8z6pfi7e94tsoe7h09s227umko9kyf4p0xanqn"
                          }
                        ],
                        "browser_info": {
                          "user_agent": "Chrome",
                          "accept_header": "true",
                          "accept_content": "true",
                          "accept_browser": "true",
                          "color_depth": "red",
                          "screen_height": "500",
                          "screen_width": "100",
                          "javascript_enabled": true,
                          "java_enabled": true,
                          "browser_time_difference": "-3:00",
                          "language": "es",
                          "platform": null
                        },
                        "document": {
                          "document_type": "DNI",
                          "document_number": "82183204"
                        },
                        "phone": {
                          "number": "91112345678",
                          "country_code": "54"
                        },
                        "billing_address": {
                          "address_line_1": "Avenida Putumayo 1780",
                          "address_line_2": "Diagonal 181G 6572",
                          "country": "AR",
                          "state": "Álava",
                          "city": "Suárez",
                          "zip_code": "25207",
                          "neighborhood": "Barrio Núñez"
                        },
                        "shipping_address": {
                          "address_line_1": "Diagonal 61 2487",
                          "address_line_2": "Av. carrera 54 7627",
                          "country": "AR",
                          "state": "Guipúzcoa",
                          "city": "San Benito",
                          "zip_code": "31718",
                          "neighborhood": "Villa La Esperanza"
                        },
                        "merchant_customer_created_at": "2025-11-26T20:34:06.941Z",
                        "geolocation": {
                          "latitude": "80.00",
                          "longitude": "103.00"
                        }
                      },
                      "additional_data": {
                        "airline": {
                          "pnr": "ABC123",
                          "legs": [
                            {
                              "order": null,
                              "route_order": null,
                              "passenger_id": null,
                              "departure_airport": "JFK",
                              "departure_datetime": "2024-07-03T05:00:00",
                              "departure_airport_timezone": "GMT-05",
                              "arrival_airport": "LAX",
                              "arrival_airport_timezone": "+00:00",
                              "arrival_datetime": "2030-07-03T22:59:00",
                              "carrier_code": "AA",
                              "flight_number": "123",
                              "fare_basis_code": "Y",
                              "fare_class_code": "S",
                              "base_fare": 1800,
                              "base_fare_currency": "USD",
                              "stopover_code": "O",
                              "departure_airport_country": "NL",
                              "departure_airport_city": "Amsterdam",
                              "arrival_airport_country": "AR",
                              "arrival_airport_city": "Buenos aires",
                              "expedited_boarding": null,
                              "extra_baggage": null,
                              "purchased_meals": null,
                              "selected_seat": null
                            }
                          ],
                          "passengers": [
                            {
                              "id": null,
                              "first_name": "Antonio",
                              "last_name": "Vargas",
                              "middle_name": "Piedad",
                              "type": "A",
                              "date_of_birth": "1999-12-17",
                              "nationality": "US",
                              "document": {
                                "document_type": "DNI",
                                "document_number": "82183204"
                              },
                              "country": "CO",
                              "loyalty_number": "79250001",
                              "loyalty_tier": "DIAMOND",
                              "email": "anaarias@example.com",
                              "phone": {
                                "number": "91112345678",
                                "country_code": "54"
                              },
                              "address": null,
                              "evidence_document_source": null
                            },
                            {
                              "id": null,
                              "first_name": "Álvaro",
                              "last_name": "Bravo",
                              "middle_name": "Edwin",
                              "type": "C",
                              "date_of_birth": "1973-07-25",
                              "nationality": "CO",
                              "document": {
                                "document_type": "DNI",
                                "document_number": "82183204"
                              },
                              "country": "CO",
                              "loyalty_number": "79250002",
                              "loyalty_tier": "SILVER",
                              "email": "leidysanchez@example.com",
                              "phone": {
                                "number": "91112345678",
                                "country_code": "54"
                              },
                              "address": null,
                              "evidence_document_source": null
                            }
                          ],
                          "type": null,
                          "ticket": {
                            "ticket_number": "BRB0001",
                            "passenger_id": null,
                            "e_ticket": true,
                            "restricted": false,
                            "total_fare_amount": 2000,
                            "total_tax_amount": 180,
                            "total_fee_amount": 20,
                            "issue": {
                              "carrier_prefix_code": "AA",
                              "travel_agent_code": "A12345",
                              "travel_agent_name": "TRAVEL AGENCY",
                              "date": "2023-10-31",
                              "address": "123 Main St",
                              "city": "New York",
                              "country": "US",
                              "zip_code": "10001",
                              "booking_system_code": "1G",
                              "booking_system_name": "Galileo"
                            }
                          },
                          "tickets": [
                            {
                              "ticket_number": "BRB0001",
                              "passenger_id": null,
                              "e_ticket": true,
                              "restricted": false,
                              "total_fare_amount": 2000,
                              "total_tax_amount": 180,
                              "total_fee_amount": 20,
                              "issue": {
                                "carrier_prefix_code": "AA",
                                "travel_agent_code": "A12345",
                                "travel_agent_name": "TRAVEL AGENCY",
                                "date": "2023-10-31",
                                "address": "123 Main St",
                                "city": "New York",
                                "country": "US",
                                "zip_code": "10001",
                                "booking_system_code": "1G",
                                "booking_system_name": "Galileo"
                              }
                            }
                          ]
                        },
                        "transportations": null,
                        "order": {
                          "fee_amount": 1,
                          "shipping_amount": 3,
                          "tip_amount": 2,
                          "items": [
                            {
                              "id": "97029",
                              "name": "SKIRT",
                              "quantity": 3,
                              "unit_amount": 2000,
                              "category": "OTHERS",
                              "brand": "Barrera Group",
                              "sku_code": "SC-01905",
                              "manufacture_part_number": "MPN-70919"
                            },
                            {
                              "id": "61906",
                              "name": "SKIRT",
                              "quantity": 1,
                              "unit_amount": 2000,
                              "category": "OTHERS",
                              "brand": "Suárez-Castellanos",
                              "sku_code": "SC-14444",
                              "manufacture_part_number": "MPN-43825"
                            }
                          ],
                          "taxes": [
                            {
                              "type": "VAT",
                              "tax_base": 100,
                              "value": 10,
                              "percentage": 10
                            }
                          ],
                          "shipping": {
                            "type": "ELECTRONIC",
                            "description": "q4O6W8x8ONwpbgHjlxlz",
                            "carrier": "AR_OCA",
                            "deliver_at": "2025-11-26T20:34:07.500866Z",
                            "recipients": []
                          },
                          "account_funding": {
                            "sender": {
                              "national_entity": null,
                              "first_name": "Reinaldo",
                              "last_name": "Rojas",
                              "legal_name": null,
                              "email": null,
                              "country": null,
                              "date_of_birth": null,
                              "document": null,
                              "phone": null,
                              "address": null
                            },
                            "beneficiary": {
                              "national_entity": null,
                              "first_name": "Leidy",
                              "last_name": "González",
                              "legal_name": null,
                              "email": null,
                              "country": "AR",
                              "date_of_birth": "1983-12-07",
                              "document": null,
                              "phone": {
                                "number": "91112345678",
                                "country_code": "54"
                              },
                              "address": {
                                "address_line_1": "Calle 4ª 3050",
                                "address_line_2": "Carrera 98 6425",
                                "country": "AR",
                                "city": "",
                                "zip_code": "",
                                "neighborhood": "Barrio Colegiales"
                              }
                            }
                          },
                          "tickets": [
                            {
                              "id": "57bfc6e7-c270-4fcc-a578-a76e6eaa4576",
                              "name": "Ticket vitae",
                              "description": "Description 4I%n",
                              "type": "VIRTUAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "3e9d0621-e8ca-4415-9025-95d568cac569",
                                "name": "Event doloremque",
                                "description": "Description ipsam",
                                "type": "CIRCUS",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Diagonal 33 2395",
                                  "address_line_2": "Cl. 112E 6497",
                                  "city": "Paz de Ariporo",
                                  "country": "AR",
                                  "state": "Lleida",
                                  "zip_code": "18124",
                                  "neighborhood": "Conjunto Los Laureles"
                                }
                              }
                            },
                            {
                              "id": "f842ae67-2f7d-4415-9d9e-9a51d2712c13",
                              "name": "Ticket aspernatur",
                              "description": "Description jS3*",
                              "type": "VIRTUAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "af726450-abf5-49d1-b43a-9e65f88d606e",
                                "name": "Event officia",
                                "description": "Description quo",
                                "type": "CIRCUS",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Tr. 194B 459",
                                  "address_line_2": "Cl. 102L Sur 2950",
                                  "city": "Moniquirá",
                                  "country": "AR",
                                  "state": "Segovia",
                                  "zip_code": "31278",
                                  "neighborhood": "Barrio Los Olivos"
                                }
                              }
                            },
                            {
                              "id": "51100a8e-04ec-45c1-8fea-2fa70a7966d3",
                              "name": "Ticket hic",
                              "description": "Description mR;2",
                              "type": "PHYSICAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "2164fb39-7be3-46aa-adc9-310eb33b4f05",
                                "name": "Event hic",
                                "description": "Description beatae",
                                "type": "SPORTS",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Av. Pérez 8882",
                                  "address_line_2": "Carrera 23 5900",
                                  "city": "Vijes",
                                  "country": "AR",
                                  "state": "Zamora",
                                  "zip_code": "24300",
                                  "neighborhood": "Barrio El Paraíso"
                                }
                              }
                            },
                            {
                              "id": "6f465375-0ded-4ac7-848c-39450bff069d",
                              "name": "Ticket totam",
                              "description": "Description t0}E",
                              "type": "VIRTUAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "e564bf42-0385-4ad8-a38a-eb481a434cbf",
                                "name": "Event neque",
                                "description": "Description facilis",
                                "type": "OTHERS",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Avenida carrera 153 3115",
                                  "address_line_2": "Cr. 121G Bis 4048",
                                  "city": "La Ceja",
                                  "country": "AR",
                                  "state": "Castellón",
                                  "zip_code": "39464",
                                  "neighborhood": "Conjunto Belgrano"
                                }
                              }
                            },
                            {
                              "id": "b40b5fb7-3a1b-4315-bf01-4ba9b7ef99aa",
                              "name": "Ticket esse",
                              "description": "Description wI2;",
                              "type": "VIRTUAL",
                              "amount": {
                                "value": 2000,
                                "currency": "ARS"
                              },
                              "event": {
                                "id": "a4f1f47f-8853-4ac2-b574-6b05d4a611fd",
                                "name": "Event eos",
                                "description": "Description natus",
                                "type": "CINEMA",
                                "date": "2025-11-26",
                                "address": {
                                  "address_line_1": "Cr. 6E Bis 3665",
                                  "address_line_2": "Carrera 9 Este 1918",
                                  "city": "Teorama",
                                  "country": "AR",
                                  "state": "Madrid",
                                  "zip_code": "32993",
                                  "neighborhood": "Villa Las Flores"
                                }
                              }
                            }
                          ],
                          "fulfillment": null,
                          "discounts": [
                            {
                              "id": "10FF",
                              "name": "10% Discount",
                              "unit_amount": 10
                            }
                          ],
                          "sales_channel": "marketplace"
                        },
                        "seller_details": {
                          "name": "Mendoza-Cerón",
                          "website": "http://navarro.info/category/postsregister.html",
                          "email": "iospina@example.net",
                          "address": {
                            "address_line_1": "Av. calle 5ª 3906",
                            "address_line_2": "Dg. 8ª 8965",
                            "country": "AR",
                            "state": "ARGENTINA",
                            "city": "Curití",
                            "zip_code": "15484"
                          },
                          "reference": "39245884",
                          "country": "AR",
                          "phone": {
                            "number": "6844503463",
                            "country_code": "23"
                          },
                          "document": {
                            "document_type": "DNI",
                            "document_number": "82183204"
                          },
                          "industry": "ELECTRONICS",
                          "merchant_category_code": "6628"
                        }
                      },
                      "transactions": {
                        "id": "4a963490-70c2-4669-975a-a6901b4b5abf",
                        "type": "CHARGEBACK",
                        "status": "CREATED",
                        "category": "CARD",
                        "amount": 2000,
                        "provider_id": "BAMBOO",
                        "payment_method": {
                          "vaulted_token": "",
                          "type": "CARD",
                          "vault_on_success": false,
                          "token": "",
                          "parent_payment_method_type": null,
                          "detail": {
                            "card": {
                              "verify": false,
                              "capture": false,
                              "installments": 1,
                              "installments_plan_id": null,
                              "first_installment_deferral": 0,
                              "installments_type": null,
                              "installment_amount": null,
                              "installments_total_amount": null,
                              "soft_descriptor": "",
                              "authorization_code": "393119",
                              "retrieval_reference_number": "",
                              "voucher": null,
                              "card_data": {
                                "holder_name": "Pepito Perez",
                                "iin": "45130761",
                                "lfd": "5348",
                                "number_length": 16,
                                "security_code_length": 3,
                                "brand": "VISA",
                                "issuer_name": "BANCOLOMBIA",
                                "issuer_code": null,
                                "country_code": "CO",
                                "category": "CLASSIC",
                                "type": "CREDIT",
                                "fingerprint": "2213e58a-33d7-4bdc-8cbe-4785f683c410",
                                "expiration_month": 6,
                                "expiration_year": 26
                              },
                              "stored_credentials": {
                                "reason": null,
                                "usage": null,
                                "subscription_agreement_id": null,
                                "network_transaction_id": null
                              }
                            }
                          }
                        },
                        "response_code": "SUCCEEDED",
                        "response_message": "CHARGEBACK_CREATED",
                        "reason": "REQUESTED_BY_CUSTOMER",
                        "description": "webhook transaction",
                        "merchant_reference": "Reference-ac04c8a6-78c7-4588-b915-5498455369ef",
                        "provider_data": {
                          "id": "BAMBOO",
                          "transaction_id": "121030201030210312",
                          "account_id": "",
                          "status": "APPROVED",
                          "sub_status": "",
                          "status_detail": "",
                          "response_message": null,
                          "response_code": null,
                          "raw_response": null,
                          "third_party_transaction_id": null,
                          "third_party_account_id": null,
                          "iso8583_response_code": null,
                          "iso8583_response_message": null,
                          "merchant_advice_code": null,
                          "merchant_advice_code_message": null,
                          "reason_code": null,
                          "reason_description": null
                        },
                        "connection_data": {
                          "id": null,
                          "name": null
                        },
                        "created_at": "2025-11-26T20:34:12.529203Z",
                        "updated_at": "2025-11-26T20:34:12.559289Z",
                        "merchant_advice_code": null,
                        "merchant_advice_code_message": null
                      },
                      "transactions_history": null,
                      "split_marketplace": [],
                      "callback_url": "https://ibarra.info/tags/apphome.jsp",
                      "workflow": "DIRECT",
                      "metadata": [
                        {
                          "key": "explicabo",
                          "value": "nihil"
                        },
                        {
                          "key": "quas",
                          "value": "veritatis"
                        },
                        {
                          "key": "numquam",
                          "value": "placeat"
                        },
                        {
                          "key": "eos",
                          "value": "quo"
                        },
                        {
                          "key": "corrupti",
                          "value": "eveniet"
                        },
                        {
                          "key": "occaecati",
                          "value": "consectetur"
                        }
                      ],
                      "fraud_screening": null,
                      "payment_link_id": "",
                      "subscription_code": null,
                      "routing_rules": {
                        "smart_routing": false,
                        "monitors": false,
                        "condition": {
                          "id": 64972,
                          "name": null,
                          "description": null
                        }
                      },
                      "simplified_mode": false
                    },
                    "summary": "Success"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "b001d824-3f3f-48fc-98ef-a3114b918c1e"
                    },
                    "account_id": {
                      "type": "string",
                      "example": "210a524f-7ad3-437a-be7e-9e99bdf4d742"
                    },
                    "description": {
                      "type": "string",
                      "example": "Test Purchase"
                    },
                    "country": {
                      "type": "string",
                      "example": "AR"
                    },
                    "status": {
                      "type": "string",
                      "example": "IN_DISPUTE"
                    },
                    "sub_status": {
                      "type": "string",
                      "example": "PENDING_REVIEW"
                    },
                    "merchant_order_id": {
                      "type": "string",
                      "example": "65742358"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2025-11-26T20:34:08.330622Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2025-11-26T20:34:12.580560Z"
                    },
                    "amount": {
                      "type": "object",
                      "properties": {
                        "captured": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "currency": {
                          "type": "string",
                          "example": "ARS"
                        },
                        "currency_conversion": {},
                        "refunded": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "value": {
                          "type": "integer",
                          "example": 2000,
                          "default": 0
                        }
                      }
                    },
                    "checkout": {},
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "vaulted_token": {
                          "type": "string",
                          "example": ""
                        },
                        "type": {
                          "type": "string",
                          "example": "CARD"
                        },
                        "vault_on_success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "token": {
                          "type": "string",
                          "example": ""
                        },
                        "parent_payment_method_type": {},
                        "payment_method_detail": {
                          "type": "object",
                          "properties": {
                            "card": {
                              "type": "object",
                              "properties": {
                                "verify": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "capture": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "installments": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "installments_plan_id": {},
                                "first_installment_deferral": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "installments_type": {},
                                "installment_amount": {},
                                "installments_total_amount": {},
                                "soft_descriptor": {
                                  "type": "string",
                                  "example": ""
                                },
                                "authorization_code": {
                                  "type": "string",
                                  "example": "393119"
                                },
                                "retrieval_reference_number": {
                                  "type": "string",
                                  "example": ""
                                },
                                "voucher": {},
                                "card_data": {
                                  "type": "object",
                                  "properties": {
                                    "holder_name": {
                                      "type": "string",
                                      "example": "John Diaz"
                                    },
                                    "iin": {
                                      "type": "string",
                                      "example": "45130761"
                                    },
                                    "lfd": {
                                      "type": "string",
                                      "example": "5348"
                                    },
                                    "number_length": {
                                      "type": "integer",
                                      "example": 16,
                                      "default": 0
                                    },
                                    "security_code_length": {
                                      "type": "integer",
                                      "example": 3,
                                      "default": 0
                                    },
                                    "brand": {
                                      "type": "string",
                                      "example": "VISA"
                                    },
                                    "issuer_name": {
                                      "type": "string",
                                      "example": "BANCOLOMBIA"
                                    },
                                    "issuer_code": {},
                                    "country_code": {
                                      "type": "string",
                                      "example": "CO"
                                    },
                                    "category": {
                                      "type": "string",
                                      "example": "CLASSIC"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "CREDIT"
                                    },
                                    "fingerprint": {
                                      "type": "string",
                                      "example": "2213e58a-33d7-4bdc-8cbe-4785f683c410"
                                    },
                                    "expiration_month": {
                                      "type": "integer",
                                      "example": 6,
                                      "default": 0
                                    },
                                    "expiration_year": {
                                      "type": "integer",
                                      "example": 26,
                                      "default": 0
                                    }
                                  }
                                },
                                "stored_credentials": {
                                  "type": "object",
                                  "properties": {
                                    "reason": {},
                                    "usage": {},
                                    "subscription_agreement_id": {},
                                    "network_transaction_id": {}
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "customer_payer": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "1b9ef2f7-b69e-4dd0-b0a1-3605dfc2ad2f"
                        },
                        "merchant_customer_id": {
                          "type": "string",
                          "example": "6a1b6e7e0e104f28929015fd6182e9f9"
                        },
                        "first_name": {
                          "type": "string",
                          "example": "Margarita"
                        },
                        "last_name": {
                          "type": "string",
                          "example": "Parra"
                        },
                        "gender": {
                          "type": "string",
                          "example": "NB"
                        },
                        "date_of_birth": {
                          "type": "string",
                          "example": "1952-02-27"
                        },
                        "email": {
                          "type": "string",
                          "example": "qpacheco@example.com"
                        },
                        "nationality": {
                          "type": "string",
                          "example": "AR"
                        },
                        "ip_address": {
                          "type": "string",
                          "example": "205.52.88.44"
                        },
                        "device_fingerprint": {
                          "type": "string",
                          "example": "90ede54c-d2d4-4e2e-8189-6b81091231b0"
                        },
                        "device_fingerprints": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "provider_id": {
                                "type": "string",
                                "example": "DEFAULT"
                              },
                              "id": {
                                "type": "string",
                                "example": "90ede54c-d2d4-4e2e-8189-6b81091231b0"
                              }
                            }
                          }
                        },
                        "browser_info": {
                          "type": "object",
                          "properties": {
                            "user_agent": {
                              "type": "string",
                              "example": "Chrome"
                            },
                            "accept_header": {
                              "type": "string",
                              "example": "true"
                            },
                            "accept_content": {
                              "type": "string",
                              "example": "true"
                            },
                            "accept_browser": {
                              "type": "string",
                              "example": "true"
                            },
                            "color_depth": {
                              "type": "string",
                              "example": "red"
                            },
                            "screen_height": {
                              "type": "string",
                              "example": "500"
                            },
                            "screen_width": {
                              "type": "string",
                              "example": "100"
                            },
                            "javascript_enabled": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "java_enabled": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "browser_time_difference": {
                              "type": "string",
                              "example": "-3:00"
                            },
                            "language": {
                              "type": "string",
                              "example": "es"
                            },
                            "platform": {}
                          }
                        },
                        "document": {
                          "type": "object",
                          "properties": {
                            "document_type": {
                              "type": "string",
                              "example": "DNI"
                            },
                            "document_number": {
                              "type": "string",
                              "example": "82183204"
                            }
                          }
                        },
                        "phone": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "string",
                              "example": "91112345678"
                            },
                            "country_code": {
                              "type": "string",
                              "example": "54"
                            }
                          }
                        },
                        "billing_address": {
                          "type": "object",
                          "properties": {
                            "address_line_1": {
                              "type": "string",
                              "example": "Avenida Putumayo 1780"
                            },
                            "address_line_2": {
                              "type": "string",
                              "example": "Diagonal 181G 6572"
                            },
                            "country": {
                              "type": "string",
                              "example": "AR"
                            },
                            "state": {
                              "type": "string",
                              "example": "Álava"
                            },
                            "city": {
                              "type": "string",
                              "example": "Suárez"
                            },
                            "zip_code": {
                              "type": "string",
                              "example": "25207"
                            },
                            "neighborhood": {
                              "type": "string",
                              "example": "Barrio Núñez"
                            }
                          }
                        },
                        "shipping_address": {
                          "type": "object",
                          "properties": {
                            "address_line_1": {
                              "type": "string",
                              "example": "Diagonal 61 2487"
                            },
                            "address_line_2": {
                              "type": "string",
                              "example": "Av. carrera 54 7627"
                            },
                            "country": {
                              "type": "string",
                              "example": "AR"
                            },
                            "state": {
                              "type": "string",
                              "example": "Guipúzcoa"
                            },
                            "city": {
                              "type": "string",
                              "example": "San Benito"
                            },
                            "zip_code": {
                              "type": "string",
                              "example": "31718"
                            },
                            "neighborhood": {
                              "type": "string",
                              "example": "Villa La Esperanza"
                            }
                          }
                        },
                        "merchant_customer_created_at": {
                          "type": "string",
                          "example": "2025-11-26T20:34:06.941Z"
                        },
                        "geolocation": {
                          "type": "object",
                          "properties": {
                            "latitude": {
                              "type": "string",
                              "example": "80.00"
                            },
                            "longitude": {
                              "type": "string",
                              "example": "103.00"
                            }
                          }
                        }
                      }
                    },
                    "additional_data": {
                      "type": "object",
                      "properties": {
                        "airline": {
                          "type": "object",
                          "properties": {
                            "pnr": {
                              "type": "string",
                              "example": "ABC123"
                            },
                            "legs": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "order": {},
                                  "route_order": {},
                                  "passenger_id": {},
                                  "departure_airport": {
                                    "type": "string",
                                    "example": "JFK"
                                  },
                                  "departure_datetime": {
                                    "type": "string",
                                    "example": "2024-07-03T05:00:00"
                                  },
                                  "departure_airport_timezone": {
                                    "type": "string",
                                    "example": "GMT-05"
                                  },
                                  "arrival_airport": {
                                    "type": "string",
                                    "example": "LAX"
                                  },
                                  "arrival_airport_timezone": {
                                    "type": "string",
                                    "example": "+00:00"
                                  },
                                  "arrival_datetime": {
                                    "type": "string",
                                    "example": "2030-07-03T22:59:00"
                                  },
                                  "carrier_code": {
                                    "type": "string",
                                    "example": "AA"
                                  },
                                  "flight_number": {
                                    "type": "string",
                                    "example": "123"
                                  },
                                  "fare_basis_code": {
                                    "type": "string",
                                    "example": "Y"
                                  },
                                  "fare_class_code": {
                                    "type": "string",
                                    "example": "S"
                                  },
                                  "base_fare": {
                                    "type": "integer",
                                    "example": 1800,
                                    "default": 0
                                  },
                                  "base_fare_currency": {
                                    "type": "string",
                                    "example": "USD"
                                  },
                                  "stopover_code": {
                                    "type": "string",
                                    "example": "O"
                                  },
                                  "departure_airport_country": {
                                    "type": "string",
                                    "example": "NL"
                                  },
                                  "departure_airport_city": {
                                    "type": "string",
                                    "example": "Amsterdam"
                                  },
                                  "arrival_airport_country": {
                                    "type": "string",
                                    "example": "AR"
                                  },
                                  "arrival_airport_city": {
                                    "type": "string",
                                    "example": "Buenos aires"
                                  },
                                  "expedited_boarding": {},
                                  "extra_baggage": {},
                                  "purchased_meals": {},
                                  "selected_seat": {}
                                }
                              }
                            },
                            "passengers": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {},
                                  "first_name": {
                                    "type": "string",
                                    "example": "Antonio"
                                  },
                                  "last_name": {
                                    "type": "string",
                                    "example": "Vargas"
                                  },
                                  "middle_name": {
                                    "type": "string",
                                    "example": "Piedad"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "A"
                                  },
                                  "date_of_birth": {
                                    "type": "string",
                                    "example": "1999-12-17"
                                  },
                                  "nationality": {
                                    "type": "string",
                                    "example": "US"
                                  },
                                  "document": {
                                    "type": "object",
                                    "properties": {
                                      "document_type": {
                                        "type": "string",
                                        "example": "DNI"
                                      },
                                      "document_number": {
                                        "type": "string",
                                        "example": "82183204"
                                      }
                                    }
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "CO"
                                  },
                                  "loyalty_number": {
                                    "type": "string",
                                    "example": "79250001"
                                  },
                                  "loyalty_tier": {
                                    "type": "string",
                                    "example": "DIAMOND"
                                  },
                                  "email": {
                                    "type": "string",
                                    "example": "anaarias@example.com"
                                  },
                                  "phone": {
                                    "type": "object",
                                    "properties": {
                                      "number": {
                                        "type": "string",
                                        "example": "91112345678"
                                      },
                                      "country_code": {
                                        "type": "string",
                                        "example": "54"
                                      }
                                    }
                                  },
                                  "address": {},
                                  "evidence_document_source": {}
                                }
                              }
                            },
                            "type": {},
                            "ticket": {
                              "type": "object",
                              "properties": {
                                "ticket_number": {
                                  "type": "string",
                                  "example": "BRB0001"
                                },
                                "passenger_id": {},
                                "e_ticket": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "restricted": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "total_fare_amount": {
                                  "type": "integer",
                                  "example": 2000,
                                  "default": 0
                                },
                                "total_tax_amount": {
                                  "type": "integer",
                                  "example": 180,
                                  "default": 0
                                },
                                "total_fee_amount": {
                                  "type": "integer",
                                  "example": 20,
                                  "default": 0
                                },
                                "issue": {
                                  "type": "object",
                                  "properties": {
                                    "carrier_prefix_code": {
                                      "type": "string",
                                      "example": "AA"
                                    },
                                    "travel_agent_code": {
                                      "type": "string",
[...]
