{
  "openapi": "3.1.0",
  "info": {
    "title": "payouts",
    "version": "1.0.2"
  },
  "servers": [
    {
      "url": "https://api-sandbox.y.uno/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "public-api-key",
        "x-default": "<Your public-api-key>"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "private-secret-key",
        "x-default": "<Your private-secret-key>"
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/payouts": {
      "get": {
        "summary": "Retrieve Payout by Merchant Reference",
        "description": "",
        "operationId": "retrieve-payout-by-merchant-reference",
        "parameters": [
          {
            "name": "merchant_reference",
            "in": "query",
            "description": "Identification of the payout defined by the merchant.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"id\": \"565c9733-000d-4066-a4bf-b084908dc74c\",\n        \"account_id\": \"f7c5fe77-721b-49c2-84d3-957748df3c2c\",\n        \"status\": \"SUCCEEDED\",\n        \"merchant_reference\": \"MR-Test-12345\",\n        \"purpose\": \"\",\n        \"country\": \"US\",\n        \"description\": \"Test\",\n        \"amount\": {\n            \"currency\": \"USD\",\n            \"value\": 100\n        },\n        \"beneficiary\": {\n            \"merchant_beneficiary_id\": \"test_merchant_deposit_id\",\n            \"national_entity\": \"INDIVIDUAL\",\n            \"first_name\": \"John\",\n            \"last_name\": \"Doe\",\n            \"legal_name\": \"John Doe\",\n            \"email\": \"john.doe@email.com\",\n            \"country\": \"US\",\n            \"date_of_birth\": \"1980-01-01\",\n            \"document\": {\n                \"document_type\": \"SSN\",\n                \"document_number\": \"123-45-6789\"\n            },\n            \"phone\": {\n                \"country_code\": \"1\",\n                \"number\": \"1234567890\"\n            },\n            \"address\": {\n                \"address_line_1\": \"123 Main St\",\n                \"address_line_2\": \"Apt 1\",\n                \"country\": \"US\",\n                \"state\": \"NY\",\n                \"city\": \"New York\",\n                \"zip_code\": \"10001\"\n            }\n        },\n        \"metadata\": [],\n        \"created_at\": \"2024-05-27T15:17:30.952178Z\",\n        \"updated_at\": \"2024-05-27T15:17:32.901454Z\",\n        \"transactions\": [\n            {\n                \"id\": \"bd594d5c-d7b7-48b1-9678-0b5052a69863\",\n                \"status\": \"SUCCEEDED\",\n                \"type\": \"ASTROPAY_PAYOUT\",\n                \"response_code\": \"SUCCEEDED\",\n                \"merchant_reference\": \"MR-Test-12345\",\n                \"purpose\": \"\",\n                \"description\": \"Test\",\n                \"amount\": {\n                    \"currency\": \"USD\",\n                    \"value\": 100\n                },\n                \"withdrawal_method\": {\n                    \"type\": \"ASTROPAY_PAYOUT\",\n                    \"detail\": {\n                        \"bank_transfer\": null,\n                        \"wallet\": {\n                            \"code\": \"h15sg84U6rCl\",\n                            \"email\": null,\n                            \"country\": null,\n                            \"document\": null,\n                            \"phone\": null\n                        }\n                    }\n                },\n                \"provider_data\": {\n                    \"id\": \"ASTROPAY\",\n                    \"transaction_id\": \"32376\",\n                    \"account_id\": \"\",\n                    \"beneficiary_id\": \"test_merchant_deposit_id\",\n                    \"status\": \"APPROVED\",\n                    \"status_detail\": \"APPROVED\",\n                    \"raw_response\": \"\\\"{\\\\n  \\\\\\\"cashout_id\\\\\\\" : 32376,\\\\n  \\\\\\\"merchant_cashout_id\\\\\\\" : \\\\\\\"bd594d5c-d7b7-48b1-9678-0b5052a69863\\\\\\\",\\\\n  \\\\\\\"status\\\\\\\" : \\\\\\\"APPROVED\\\\\\\",\\\\n  \\\\\\\"user_id\\\\\\\" : \\\\\\\"h15sg84U6rCl\\\\\\\"\\\\n}\\\"\"\n                },\n                \"created_at\": \"2024-05-27T15:17:31.265607Z\",\n                \"updated_at\": \"2024-05-27T15:17:32.901448Z\"\n            }\n        ]\n    }\n]\n"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "565c9733-000d-4066-a4bf-b084908dc74c"
                      },
                      "account_id": {
                        "type": "string",
                        "example": "f7c5fe77-721b-49c2-84d3-957748df3c2c"
                      },
                      "status": {
                        "type": "string",
                        "example": "SUCCEEDED"
                      },
                      "merchant_reference": {
                        "type": "string",
                        "example": "MR-Test-12345"
                      },
                      "purpose": {
                        "type": "string",
                        "example": ""
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      },
                      "description": {
                        "type": "string",
                        "example": "Test"
                      },
                      "amount": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "USD"
                          },
                          "value": {
                            "type": "integer",
                            "example": 100,
                            "default": 0
                          }
                        }
                      },
                      "beneficiary": {
                        "type": "object",
                        "properties": {
                          "merchant_beneficiary_id": {
                            "type": "string",
                            "example": "test_merchant_deposit_id"
                          },
                          "national_entity": {
                            "type": "string",
                            "example": "INDIVIDUAL"
                          },
                          "first_name": {
                            "type": "string",
                            "example": "John"
                          },
                          "last_name": {
                            "type": "string",
                            "example": "Doe"
                          },
                          "legal_name": {
                            "type": "string",
                            "example": "John Doe"
                          },
                          "email": {
                            "type": "string",
                            "example": "john.doe@email.com"
                          },
                          "country": {
                            "type": "string",
                            "example": "US"
                          },
                          "date_of_birth": {
                            "type": "string",
                            "example": "1980-01-01"
                          },
                          "document": {
                            "type": "object",
                            "properties": {
                              "document_type": {
                                "type": "string",
                                "example": "SSN"
                              },
                              "document_number": {
                                "type": "string",
                                "example": "123-45-6789"
                              }
                            }
                          },
                          "phone": {
                            "type": "object",
                            "properties": {
                              "country_code": {
                                "type": "string",
                                "example": "1"
                              },
                              "number": {
                                "type": "string",
                                "example": "1234567890"
                              }
                            }
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "address_line_1": {
                                "type": "string",
                                "example": "123 Main St"
                              },
                              "address_line_2": {
                                "type": "string",
                                "example": "Apt 1"
                              },
                              "country": {
                                "type": "string",
                                "example": "US"
                              },
                              "state": {
                                "type": "string",
                                "example": "NY"
                              },
                              "city": {
                                "type": "string",
                                "example": "New York"
                              },
                              "zip_code": {
                                "type": "string",
                                "example": "10001"
                              }
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "array"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2024-05-27T15:17:30.952178Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2024-05-27T15:17:32.901454Z"
                      },
                      "transactions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "bd594d5c-d7b7-48b1-9678-0b5052a69863"
                            },
                            "status": {
                              "type": "string",
                              "example": "SUCCEEDED"
                            },
                            "type": {
                              "type": "string",
                              "example": "ASTROPAY_PAYOUT"
                            },
                            "response_code": {
                              "type": "string",
                              "example": "SUCCEEDED"
                            },
                            "merchant_reference": {
                              "type": "string",
                              "example": "MR-Test-12345"
                            },
                            "purpose": {
                              "type": "string",
                              "example": ""
                            },
                            "description": {
                              "type": "string",
                              "example": "Test"
                            },
                            "amount": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "example": "USD"
                                },
                                "value": {
                                  "type": "integer",
                                  "example": 100,
                                  "default": 0
                                }
                              }
                            },
                            "withdrawal_method": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "ASTROPAY_PAYOUT"
                                },
                                "detail": {
                                  "type": "object",
                                  "properties": {
                                    "bank_transfer": {},
                                    "wallet": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "type": "string",
                                          "example": "h15sg84U6rCl"
                                        },
                                        "email": {},
                                        "country": {},
                                        "document": {},
                                        "phone": {}
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "provider_data": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "ASTROPAY"
                                },
                                "transaction_id": {
                                  "type": "string",
                                  "example": "32376"
                                },
                                "account_id": {
                                  "type": "string",
                                  "example": ""
                                },
                                "beneficiary_id": {
                                  "type": "string",
                                  "example": "test_merchant_deposit_id"
                                },
                                "status": {
                                  "type": "string",
                                  "example": "APPROVED"
                                },
                                "status_detail": {
                                  "type": "string",
                                  "example": "APPROVED"
                                },
                                "raw_response": {
                                  "type": "string",
                                  "example": "\"{\\n  \\\"cashout_id\\\" : 32376,\\n  \\\"merchant_cashout_id\\\" : \\\"bd594d5c-d7b7-48b1-9678-0b5052a69863\\\",\\n  \\\"status\\\" : \\\"APPROVED\\\",\\n  \\\"user_id\\\" : \\\"h15sg84U6rCl\\\"\\n}\""
                                }
                              }
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2024-05-27T15:17:31.265607Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2024-05-27T15:17:32.901448Z"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad Request": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "messages": [
                        "Invalid request"
                      ]
                    },
                    "summary": "Bad Request"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [
      {
        "key": "charset",
        "value": "utf-8"
      }
    ],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}